﻿@model Cobranca.Db.Models.TabelaProduto

@{
    Model.Produto = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Produto);
    Model.Descricao = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Descricao);

}

<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row">
        <div class="col-sm-1">
            <div class="form-group">
                <label for="Produto">Produto</label>
                @Html.TextBoxFor(m => m.Produto, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Produto)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="Produto">Descrição</label>
                @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Descricao)
            </div> <!-- /.form-group -->
        </div>
       
    </div>

    <!-- /.form-group -->
    <div class="row">

        <div class="col-sm-12">

            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }
        </div>

        <div class="col-sm-3">

        </div>
    </div>

</form>
