﻿@model Cobranca.Db.Models.TabelaBanco
@using Cobranca.Rotinas;
@{
    /**/

    //if (Model.Cod == 0) {
    //    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    //}
}
<style>
    /*! ========================================================================
    * Bootstrap Toggle: bootstrap-toggle.css v2.2.0
    * http://www.bootstraptoggle.com
    * ========================================================================
    * Copyright 2014 Min Hur, The New York Times Company
    * Licensed under MIT
    * ======================================================================== */
    .checkbox label .toggle, .checkbox-inline .toggle {
        margin-left: -20px;
        margin-right: 5px
    }

    .toggle {
        position: relative;
        overflow: hidden
    }

        .toggle input[type=checkbox] {
            display: none
        }

    .toggle-group {
        position: absolute;
        width: 200%;
        top: 0;
        bottom: 0;
        left: 0;
        transition: left .35s;
        -webkit-transition: left .35s;
        -moz-user-select: none;
        -webkit-user-select: none
    }

    .toggle.off .toggle-group {
        left: -100%
    }

    .toggle-on {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 50%;
        margin: 0;
        border: 0;
        border-radius: 0
    }

    .toggle-off {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
        margin: 0;
        border: 0;
        border-radius: 0
    }

    .toggle-handle {
        position: relative;
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;
        width: 0;
        border-width: 0 1px
    }

    .toggle.btn {
        min-width: 59px;
        min-height: 34px
    }

    .toggle-on.btn {
        padding-right: 24px
    }

    .toggle-off.btn {
        padding-left: 24px
    }

    .toggle.btn-lg {
        min-width: 79px;
        min-height: 45px
    }

    .toggle-on.btn-lg {
        padding-right: 31px
    }

    .toggle-off.btn-lg {
        padding-left: 31px
    }

    .toggle-handle.btn-lg {
        width: 40px
    }

    .toggle.btn-sm {
        min-width: 50px;
        min-height: 30px
    }

    .toggle-on.btn-sm {
        padding-right: 20px
    }

    .toggle-off.btn-sm {
        padding-left: 20px
    }

    .toggle.btn-xs {
        min-width: 35px;
        min-height: 22px
    }

    .toggle-on.btn-xs {
        padding-right: 12px
    }

    .toggle-off.btn-xs {
        padding-left: 12px
    }
</style>
<script>
   +function (a) { "use strict"; function b(b) { return this.each(function () { var d = a(this), e = d.data("bs.toggle"), f = "object" == typeof b && b; e || d.data("bs.toggle", e = new c(this, f)), "string" == typeof b && e[b] && e[b]() }) } var c = function (b, c) { this.$element = a(b), this.options = a.extend({}, this.defaults(), c), this.render() }; c.VERSION = "2.2.0", c.DEFAULTS = { on: "On", off: "Off", onstyle: "primary", offstyle: "default", size: "normal", style: "", width: null, height: null }, c.prototype.defaults = function () { return { on: this.$element.attr("data-on") || c.DEFAULTS.on, off: this.$element.attr("data-off") || c.DEFAULTS.off, onstyle: this.$element.attr("data-onstyle") || c.DEFAULTS.onstyle, offstyle: this.$element.attr("data-offstyle") || c.DEFAULTS.offstyle, size: this.$element.attr("data-size") || c.DEFAULTS.size, style: this.$element.attr("data-style") || c.DEFAULTS.style, width: this.$element.attr("data-width") || c.DEFAULTS.width, height: this.$element.attr("data-height") || c.DEFAULTS.height } }, c.prototype.render = function () { this._onstyle = "btn-" + this.options.onstyle, this._offstyle = "btn-" + this.options.offstyle; var b = "large" === this.options.size ? "btn-lg" : "small" === this.options.size ? "btn-sm" : "mini" === this.options.size ? "btn-xs" : "", c = a('<label class="btn">').html(this.options.on).addClass(this._onstyle + " " + b), d = a('<label class="btn">').html(this.options.off).addClass(this._offstyle + " " + b + " active"), e = a('<span class="toggle-handle btn btn-default">').addClass(b), f = a('<div class="toggle-group">').append(c, d, e), g = a('<div class="toggle btn" data-toggle="toggle">').addClass(this.$element.prop("checked") ? this._onstyle : this._offstyle + " off").addClass(b).addClass(this.options.style); this.$element.wrap(g), a.extend(this, { $toggle: this.$element.parent(), $toggleOn: c, $toggleOff: d, $toggleGroup: f }), this.$toggle.append(f); var h = this.options.width || Math.max(c.outerWidth(), d.outerWidth()) + e.outerWidth() / 2, i = this.options.height || Math.max(c.outerHeight(), d.outerHeight()); c.addClass("toggle-on"), d.addClass("toggle-off"), this.$toggle.css({ width: h, height: i }), this.options.height && (c.css("line-height", c.height() + "px"), d.css("line-height", d.height() + "px")), this.update(!0), this.trigger(!0) }, c.prototype.toggle = function () { this.$element.prop("checked") ? this.off() : this.on() }, c.prototype.on = function (a) { return this.$element.prop("disabled") ? !1 : (this.$toggle.removeClass(this._offstyle + " off").addClass(this._onstyle), this.$element.prop("checked", !0), void (a || this.trigger())) }, c.prototype.off = function (a) { return this.$element.prop("disabled") ? !1 : (this.$toggle.removeClass(this._onstyle).addClass(this._offstyle + " off"), this.$element.prop("checked", !1), void (a || this.trigger())) }, c.prototype.enable = function () { this.$toggle.removeAttr("disabled"), this.$element.prop("disabled", !1) }, c.prototype.disable = function () { this.$toggle.attr("disabled", "disabled"), this.$element.prop("disabled", !0) }, c.prototype.update = function (a) { this.$element.prop("disabled") ? this.disable() : this.enable(), this.$element.prop("checked") ? this.on(a) : this.off(a) }, c.prototype.trigger = function (b) { this.$element.off("change.bs.toggle"), b || this.$element.change(), this.$element.on("change.bs.toggle", a.proxy(function () { this.update() }, this)) }, c.prototype.destroy = function () { this.$element.off("change.bs.toggle"), this.$toggleGroup.remove(), this.$element.removeData("bs.toggle"), this.$element.unwrap() }; var d = a.fn.bootstrapToggle; a.fn.bootstrapToggle = b, a.fn.bootstrapToggle.Constructor = c, a.fn.toggle.noConflict = function () { return a.fn.bootstrapToggle = d, this }, a(function () { a("input[type=checkbox][data-toggle^=toggle]").bootstrapToggle() }), a(document).on("click.bs.toggle", "div[data-toggle^=toggle]", function (b) { var c = a(this).find("input[type=checkbox]"); c.bootstrapToggle("toggle"), b.preventDefault() }) }(jQuery);
</script>
<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.NomeBanco)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row margin-top-20">
        <div class="col-lg-4 col-md-4 col-xs-6">
            <div class="form-group-sm">
                <label for="NomeBanco">@Idioma.Traduzir("Nome Banco")</label>
                @Html.DropDownList("Numero", new SelectList(ViewBag.dropBanco, "value", "key", Model.Numero), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Numero)
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-6">
            <div class="form-group-sm">
                <label for="CodCliente">@Idioma.Traduzir("Instrumento Pagamento")</label>
                @Html.TextBoxFor(m => m.CodCliente, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodCliente)
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <div class="form-group-sm">
                <label for="NossoNumero">@Idioma.Traduzir("Nosso Número") <i class="glyphicon glyphicon-info-sign icon-tooltip" title="Informação Do Nosso Número" data-toggle="tooltip" data-placement="right" data-html="true"></i></label>
                @if (Model.NossoNumero != null)
                {
                    @Html.TextBoxFor(m => m.NossoNumeroAtual, new { @class = "form-control input-silver", data_mask = "nossonumero", disabled = "disabled" })
                }
                else
                {
                    @Html.TextBoxFor(m => m.NossoNumero, new { @class = "form-control input-silver", data_mask = "nossonumero" })
                }

            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <div class="form-group-sm">
                <label for="Lote">@Idioma.Traduzir("Lote Fiscal") <i class="glyphicon glyphicon-info-sign icon-tooltip" title="Número do Lote" data-toggle="tooltip" data-placement="right" data-html="true"></i></label>
                @if (Model.Lote != null)
                {
                    @Html.TextBoxFor(m => m.LoteAtual, new { @class = "form-control input-silver", data_mask = "lote", disabled = "disabled" })
                }
                else
                {
                    @Html.TextBoxFor(m => m.Lote, new { @class = "form-control input-silver", data_mask = "lote" })
                }

            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group-sm">
                <label for="BancoPadrao">@Idioma.Traduzir("Padrão")</label><br />
                <label class="checkbox-inline">
                    <input id="BancoPadrao" name="BancoPadrao" type="checkbox" @string.Format("{0}", Model.BancoPadrao == true ? "checked" : "") data-toggle="toggle" data-size="small" data-onstyle="success" data-on="@Idioma.Traduzir("Sim")" data-off="@Idioma.Traduzir("Não")">
                </label>
            </div>
        </div>

        

    </div>

    <!-- /.form-group -->
    <div class="row margin-top-18">
        <div class="col-sm-12">
            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="button" onclick="Salvar()"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }
        </div>

        <div class="col-sm-3">

        </div>
    </div>

</form>
