﻿@model Cobranca.Db.Models.TabelaBanco
@using Cobranca.Rotinas;
@{
    //ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
    //if (Model.TabelaEndereco == null)
    //{
    //    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    //}

}

<div class="panel panel-body box-shadon">
    <div class="layout layout-stack-sm layout-main-left">
        <div class="col-md-12">
            <div class="portlet portlet-default">
                <div class="portlet-header">
                    <div class="heading-block">
                        <ul class="breadcrumb">
                            <li class=""><a href="@Url.Action("Index")">@Idioma.Traduzir("Banco")</a></li>
                            <li class="active">@Idioma.Traduzir("Cadastro")</li>
                        </ul>
                    </div>
                </div>

                <div class="portlet-body">

                    @Html.Partial("_form", Model)
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script type="text/javascript">
            $BancoElement = $("#Numero");
            function excluir() {
                if (confirm("Confirma excluir o registro?")) {
                    $.ajax({
                        url: '@Url.Action("Excluir")',
                        data: { id: $("#Cod").val() },
                        type: 'post',
                        dataType: 'json'
                    }).success(function (result) {
                        document.location = '@Url.Action("index")';
                    });
                }
            }
            $(document).ready(function () {
                $BancoElement.change(function () { ConfigBanco(); });
            });

            function ConfigBanco() {
                $("#Numero").val($BancoElement.val());
                $("#NomeBanco").val($BancoElement.find("option:selected").text());
            }
            function cancelar() {
                document.location = '@Url.Action("index")';
            }

        function ValidarBanco(callback) {

        }

        function Salvar() {
            var data = { id: $("#Cod").val(), banco: $("#Numero").val(), padrao: $("#BancoPadrao").is(':checked') };

            $.post("/Banco/ValidarBanco/?" + $.param(data), function (response) {
                if (response.OK) {
                    var $form = jx.formRotinas.obterDadosForm("#form-cadastro");
                    $.post("/Banco/SalvarBanco/?" + $.param($form), function (r) {
                        if (r.OK) {
                            jx.mensagem("Solicitação", 'Operação Realizada com Sucesso!', 'success', 'fa fa-check');
                            setTimeout(function () {
                                document.location = '@Url.Action("index")';
                            }, 1500);
                        }
                    });
                } else {
                    jx.mensagem("Dados Inválidos", response.Mensagem, 'warning', 'fa fa-exclamation ');
                }
            });


        }
    </script>
}
