﻿@model List<Cobranca.Db.Models.TabelaBanco>
@using Cobranca.Rotinas;
@{
    /**/

    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";

}
<div class="panel panel-body box-shadon">
    <div class="layout layout-stack-sm layout-main-left">
        <div class="col-md-12">

            <div class="heading-block">
                <ul class="breadcrumb">
                    <li class=""><a href="@Url.Action("Index")">@Idioma.Traduzir("Banco")</a></li>
                </ul>
            </div>
            @*<ul class="nav nav-tabs nav-junix" role="tablist">
                    <li role="presentation" class="active btn-min-width text-center"><a href="@Url.Action("Index","Banco")">Banco</a></li>
                    <li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("Index","BancoTipoOperacao")">Tipo Operação</a></li>
                </ul>*@
            <div class="row" style="margin-top:10px">
                <div class="col-md-12">
                    <a href="@Url.Action("Cadastro",new{id = 0})" class="btn btn-sm btn-primary pull-left"><i class="fa fa-plus"></i> Adicionar</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="table-list" class="display table-responsive table data-table2 table-condensed table-hover table-striped table-bordered" style="margin-bottom:0;">
                        <thead id="dtheader">
                            <tr id="trheader">
                                <th class="text-center" data-name="" data-data="" style="max-width:5px !important" data-collumn-search="false"></th>
                                <th class="" data-collumn-search="true" style="max-width:50px; text-align:center" data-name="Numero" data-data="Numero" data-title="@Idioma.Traduzir("Numero")"></th>
                                <th class="" data-collumn-search="true" style="max-width:50%; text-align:center" data-name="NomeBanco" data-data="NomeBanco" data-title="@Idioma.Traduzir("Banco")"></th>
                                <th class="" data-collumn-search="true" style="max-width:50px; text-align:center" data-name="CodCliente" data-data="CodCliente" data-title="@Idioma.Traduzir("Cliente")"></th>
                                <th class="" data-collumn-search="true" style="width:100px; text-align:center" data-name="NossoNumero" data-data="NossoNumero" data-title="@Idioma.Traduzir("Nosso Numero")"></th>
                                <th class="" data-collumn-search="true" style="width:100px; text-align:center" data-name="NossoNumeroAtual" data-data="NossoNumeroAtual" data-title="@Idioma.Traduzir("Nosso Numero Atual")"></th>
                                <th class="" data-collumn-search="true" style="width:100px; text-align:center" data-name="Lote" data-data="Lote" data-title="@Idioma.Traduzir("Lote")"></th>
                                <th class="" data-collumn-search="true" style="width:100px; text-align:center" data-name="LoteAtual" data-data="LoteAtual" data-title="@Idioma.Traduzir("Lote Atual")"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts{
    <script type="text/javascript">
        var $data_table = $('#table-list');
        jx.dtableSearch($data_table);
        jx.dtableFooter($data_table);
        $(document).ready(function () {
            obterDados();
        });

        function obterDados() {
            table = $data_table.DataTable({
                "rowId": 'Cod',
                "order": [[2, 'asc']],
                "deferRender": true,
                "serverSide": true,
                "processing": true,
                "ajax": {
                    "url": "@Url.Action("ListDataServer")",
                    "type": "POST"
                },
                "language": {
                    "sEmptyTable": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sInfo": "@Idioma.Traduzir("Mostrando de") _START_ @Idioma.Traduzir("até") _END_ @Idioma.Traduzir("de") _TOTAL_ @Idioma.Traduzir("registros")",
                    "sInfoEmpty": "@Idioma.Traduzir("Mostrando 0 até 0 de 0 registros")",
                    "sInfoFiltered": "(@Idioma.Traduzir("Filtrados de") _MAX_ @Idioma.Traduzir("registros"))",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_",
                    "sLoadingRecords": "@Idioma.Traduzir("Carregando...")",
                    "sProcessing": "<h2><i class='fa fa-spin fa-spinner text-silver'></i> @Idioma.Traduzir("Carregando os dados..")</h2>",
                    "sZeroRecords": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sSearch": "",
                    "oPaginate": {
                        "sNext": "@Idioma.Traduzir("Próximo")",
                        "sPrevious": "@Idioma.Traduzir("Anterior")",
                        "sFirst": "@Idioma.Traduzir("Primeiro")",
                        "sLast": "@Idioma.Traduzir("Último")"
                    },
                    oAria: {
                        "sSortAscending": ": @Idioma.Traduzir("Ordenar colunas de forma ascendente")",
                        "sSortDescending": ": @Idioma.Traduzir("Ordenar colunas de forma descendente")"
                    }
                },
                "columnDefs": [
                    {
                        targets: 0,
                        searchable: false,
                        orderable: false,
                        className: '',
                        render: function (data, type, row, index) {
                            return '<button onclick="Alterar(' + row.Cod + ')" type="button" class="btn btn-xs btn-block btn-primary" style=""><i class="fa fa-pencil"></i></button>'
                        }
                    }],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td:eq(0)', nRow).css('padding', '1');
                    $('td:eq(1),td:eq(2),td:eq(3)', nRow).addClass("text-center");
                },
                "sDom": '<"row"<"col-xs-12 col-md-12 dtable-reponsive"t>>' +
                    '<"row"<"col-xs-12 col-md-6 pull-left"i><"col-xs-12 col-md-6 pull-rigth"p>>',
                'initComplete': function (settings, json) {
                    var tb = table.data();
                    tb.inicializar($data_table);
                    tb.addSearch($data_table);
                    jx.dTablesUnblock($data_table);
                    $("#tb-loading").hide();
                },
                "fnDrawCallback": function (oSettings) {
                    table.data().sum();
                    jx.dTablesUnblock($data_table);
                }

            }).on('order.dt', function () {
                jx.dTablesBlock($data_table);
            });
        }
        function incluir() {
            //$("#incluir-form").modal("show");
            document.location = "@Url.Action("Cadastro",new{id = 0})"
        }

        function editrar(id) {
            if (id) {
                document.location = id;
            }


        }
        function linhaClick () {

        }
        function Alterar(value) {
            document.location = "/Banco/Cadastro/?id=" + value;
        }
    </script>
}
