﻿@{
    ViewBag.Title = "_clientes";
}
<form method="post" action="@Url.Action("SalvarCliente", "Wizard" )" class="form-horizontal">
    @*     @Html.Hidden("CPF", Model.ClienteDocumentoes.Where(x => x.Tipo == 1).FirstOrDefault().Tipo != null ? Model.ClienteDocumentoes.Where(x=>x.Tipo ==1).FirstOrDefault().NumeroDocumento : "")*@
    <div id="form-cliente" class="form-group">
        <div class="row ">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body animated fadeIn">
                            <div class="row margin-top-20 ">
                                <div class="col-sm-2">
                                    <div class="form-group-sm">
                                        <label for="CodCliente">Cod Cliente</label>
                                        @Html.TextBox("Nome", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group-sm">
                                        <label for="Nome">Nome Proponente</label>
                                        @Html.TextBox("Identidade", "", new { @class = "form-control input-silver" })
                                       
                                    </div> <!-- /.form-group -->
                                </div>
                                <!--cep-->
                                <div class="col-sm-2">
                                    <div class="form-group-sm">
                                        <label for="Identidade">Data Nascimento</label>
                                        @Html.TextBox("Identidade", "", new { @class = "form-control input-silver", data_mask = "datetime" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="NumeroBeneficio">Sexo</label>
                                        @Html.DropDownList("Logradouro", new SelectList(Cobranca.Db.Models.EnumeradoresLista.Sexo(), "key", "key", ""), new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="CEP">Estado Civil</label>
                                        @Html.TextBox("Identidade", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group-sm">
                                        <label for="Logradouro">Tipo Documento</label>
                                        @Html.DropDownList("Logradouro", new SelectList(Cobranca.Db.Models.EnumeradoresLista.DocumentoTipo(), "key", "key", ""), new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="Endereco">Nº Documento</label>
                                        @Html.TextBox("n", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group-sm">
                                        <label for="Numero">Orgão Expedidor</label>
                                        @Html.TextBox("n", 0, new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group-sm">
                                        <label for="Complemento">Data Emissão</label>
                                        @Html.TextBox("n", "", new { @class = "form-control input-silver", data_mask = "datetime" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="Bairro">CPF/CNPJ</label>
                                        @Html.TextBox("n", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="Estado">Categoria Profissional</label>
                                        @Html.TextBox("n",  "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group-sm">
                                        <label for="Cidade">Nº Dependentes</label>
                                        @Html.TextBox("n","", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group-sm">
                                        <label for="TelefoneResidencial">Cartório que possui firma:</label>
                                        @Html.TextBox("TelefoneResidencial", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group-sm">
                                        <label for="TelefoneCelular">Nome do pai</label>
                                        @Html.TextBox("TelefoneCelular","", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group-sm">
                                        <label for="TelefoneComercial">Nome da mãe</label>
                                        @Html.TextBox("TelefoneComercial", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="TelefoneFax">Nacionalidade</label>
                                        @Html.TextBox("TelefoneFax", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="Email">Naturalidade</label>
                                        @Html.TextBox("Email", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group-sm">
                                        <label for="ValorSalario">Escolaridade</label>
                                        @Html.TextBox("ValorSalario", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="ValorSalario">Tel. Residência</label>
                                        @Html.TextBox("ValorSalario", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="ValorSalario">Tel. Celular</label>
                                        @Html.TextBox("ValorSalario", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group-sm">
                                        <label for="ValorSalario">E-mail</label>
                                        @Html.TextBox("ValorSalario", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="ValorSalario">CEP</label>
                                        @Html.TextBox("CEP", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group-sm">
                                        <label for="ValorSalario">Endereço</label>
                                        @Html.TextBox("Endereco", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="ValorSalario">Número</label>
                                        @Html.TextBox("Numero", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="ValorSalario">Complemento</label>
                                        @Html.TextBox("Complemento", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="ValorSalario">Bairro</label>
                                        @Html.TextBox("Bairro", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="ValorSalario">UF</label>
                                        @Html.TextBox("Estado", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="ValorSalario">Cidade</label>
                                        @Html.TextBox("Cidade", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
        $("#CEP").change(function () {
            $("#CEP").blur(function () {
                var cep = $("#CEP").val().replace(".", "").replace("-", "")
                if (cep != "") {
                    var validacep = /^[0-9]{8}$/;
                    if (validacep.test(cep)) {
                        $("#Endereco").val("...")
                        $("#Bairro").val("...")
                        $("#Cidade").val("...")
                        $("#Estado").val("...")
                        $.getJSON("//viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {
                            if (!("erro" in dados)) {
                                $("#Endereco").val(dados.logradouro);
                                $("#Bairro").val(dados.bairro);
                                $("#Cidade").val(dados.localidade);
                                $("#Estado").val(dados.uf);
                            }
                            else {
                                alert("CEP não encontrado.");
                                limpaCep();
                            }
                        });
                    }
                    else {
                        alert("Formato de CEP inválido.");
                        limpaCep();
                    }
                }
                else {
                    limpaCep();
                }
            });
        });
        }
    </script>
    }