﻿@model Cobranca.Db.Models.Contrato
@{
    ViewBag.Title = "_clientes";
    var listaTeste = Model.ContratoClientes.Where(x => !x.DataExcluido.HasValue).OrderBy(x => x.DataCadastro);
}
<form method="post" action="@Url.Action("SomaValores", "Wizard" )" class="form-horizontal">
    @*     @Html.Hidden("CPF", Model.ClienteDocumentoes.Where(x => x.Tipo == 1).FirstOrDefault().Tipo != null ? Model.ClienteDocumentoes.Where(x=>x.Tipo ==1).FirstOrDefault().NumeroDocumento : "")*@
    <div id="form-cliente" class="form-group">
        <div class="row ">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body animated fadeIn">
                            <div class="row margin-top-20 ">
                                <div class="col-sm-8">
                                    <div class="form-group-sm">
                                        <label for="Nome">Nome Proponente</label>
                                        @Html.TextBox("Nome", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <!--cep-->
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="Identidade">Data Nascimento</label>
                                        @Html.TextBox("Identidade", "", new { @class = "form-control input-silver", data_mask = "datetime" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="Identidade">Renda Familiar Total</label>
                                        @Html.TextBox("Renda", "", new { @class = "form-control input-silver", data_mask = "money" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="Identidade">Valor FGTS</label>
                                        @Html.TextBox("Identidade", "", new { @class = "form-control input-silver", data_mask = "money" })
                                    </div> <!-- /.form-group -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="Identidade">Taxa Juros Nominal (a.a)</label>
                                        @Html.TextBox("Identidade", "", new { @class = "form-control input-silver", data_mask = "inteiro" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="Identidade">Taxa Juros Nominal (a.m)</label>
                                        @Html.TextBox("Identidade", "", new { @class = "form-control input-silver", data_mask = "inteiro" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="Identidade">Prazo de Financiamento Pós Obras</label>
                                        @Html.TextBox("Identidade", "", new { @class = "form-control input-silver", data_mask = "inteiro" })
                                    </div> <!-- /.form-group -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="Identidade">Valor Maximo Financiado</label>
                                        @Html.TextBox("ValorMaximoFinanciado", "", new { @class = "form-control input-silver", data_mask = "money" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="Identidade">Valor Maximo de Repasse</label>
                                        @Html.TextBox("ValorMaximoRepasse", "", new { @class = "form-control input-silver", data_mask = "money" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="Identidade">Entrada Direta</label>
                                        @Html.TextBox("EntradaDireta", "", new { @class = "form-control input-silver", data_mask = "money" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="Identidade">Total</label>
                                        @Html.TextBox("Total", "", new { @class = "form-control input-silver", data_mask = "money" })
                                    </div> <!-- /.form-group -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="Identidade">Mensal Maxima</label>
                                        @Html.TextBox("Identidade", "", new { @class = "form-control input-silver", data_mask = "money" })
                                    </div> <!-- /.form-group -->
                                </div>
                            </div>
                           </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Identidade").change(function () {
               
                    var Renda = $("#Renda").val()
               
                $.ajax({
                    url: '@Url.Action("SomaValores", "Wizard")',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        Renda: Renda,
                      
                    }
                }).success(function (resultado) {
                    console.log(resultado);
                    if (resultado.OK) {
                        $("#MensalMaxima").val(Valores[0])
                    }
                });
            });
        });
        function cancelar() {
            document.location.reload;
        }

        function SomarValores() {
            var dados = {
                Renda: $("#Renda").val(),
                EntradaDireta: $(id).find('#EntradaDireta').val(),
                ValorMaximoFinanciado: $(id).find('#ValorMaximoFinanciado').val(),
                ValorMaximoRepasse: $(id).find('#ValorMaximoRepasse').val()
            }
            $.ajax({
                url: '@Url.Action("SomaValores", "Wizard")',
                type: 'post',
                dataType: 'json',
                data: {
                    Renda: dados.Renda,
                    EntradaDireta: dados.EntradaDireta,
                    ValorMaximoFinanciado: dados.ValorMaximoFinanciado,
                    ValorMaximoRepasse: dados.ValorMaximoRepasse
                }
            }).success(function (resultado) {
                console.log(resultado);
                if (resultado.OK) {
                    $("#MensalMaxima").val(Valores[0])
                }
            });
        }

    </script>

}

