﻿<form method="post" action="@Url.Action("SalvarCliente", "Wizard" )" class="form-horizontal">
    @*     @Html.Hidden("CPF", Model.ClienteDocumentoes.Where(x => x.Tipo == 1).FirstOrDefault().Tipo != null ? Model.ClienteDocumentoes.Where(x=>x.Tipo ==1).FirstOrDefault().NumeroDocumento : "")*@
    <div id="form-cliente" class="form-group">
        <div class="row ">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body animated fadeIn">
                            <div class="row margin-top-20 ">
                                <div class="col-sm-2">
                                    <div class="form-group-sm">
                                        <label for="CodCliente">Empreendimento</label>
                                        @Html.TextBox("CodCliente", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group-sm">
                                        <label for="CodCliente">Bloco</label>
                                        @Html.TextBox("CodCliente", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group-sm">
                                        <label for="CodCliente">Unidade</label>
                                        @Html.TextBox("CodCliente", "", new { @class = "form-control input-silver", data_mask = "inteiro" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group-sm">
                                        <label for="CodCliente">Valor Unidade</label>
                                        @Html.TextBox("CodCliente", "", new { @class = "form-control input-silver", data_mask = "money" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group-sm">
                                        <label for="CodCliente">Tabela Vendas</label>
                                        @Html.TextBox("CodCliente", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group-sm">
                                        <label for="CodCliente">Corretor</label>
                                        @Html.TextBox("CodCliente", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group-sm">
                                        <label for="CodCliente">Gerente</label>
                                        @Html.TextBox("CodCliente", "", new { @class = "form-control input-silver" })
                                    </div> <!-- /.form-group -->
                                </div>
                     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-12" ">
        <div class="col-md-12">
            <div class="panel panel-default panel-pesquisa-dados">
                <div class="panel-body">
                    <table id="grid-dados" class="table table-bordered table-condensed table-striped" width="100%" style="margin-top:6px;background-color:#fff;">
                        <thead>
                            <tr>
                                <th data-data="CodContrato">
                                    Tabela Vendas
                                </th>
                                <th data-data="NomeEmpreendimento">
                                    CodAnalise
                                </th>
                                <th data-data="NomeBloco">
                                    Periodicidade
                                </th>
                                <th data-data="NumeroUnidade">
                                    Prazo
                                </th>
                                <th data-data="NumeroContrato">
                                    Valor Parcela
                                </th>
                                <th data-data="Cliente">
                                    Data Vencimento Inicio
                                </th>
                                <th data-data="Aging">
                                    Login
                                </th>
                            </tr>

                        </thead>
                        <tbody id="tb-dados" style="display:none">
                            @foreach (var item in listaTeste)
                            {
                                <tr data-id="@item.CodContrato">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</form>
