﻿@model Cobranca.Db.Models.Contrato
@{
    ViewBag.Title = "_proposta";
    var listaTeste = Model.ContratoClientes.Where(x => !x.DataExcluido.HasValue).OrderBy(x => x.DataCadastro);
}


<div class="row">
    <!-- /.form-group -->
    <div class="col-sm-2">
        <div class="form-group-sm">
            <label for="CodEmpreendimento" class=""><i class=""></i> Empreendimento:</label><br />
            @Html.DropDownList("CodEmpreendimento", new SelectList(ViewBag.ListaEmpreendimento, "value", "key", 0), new { @class = "form-control input-silver" })
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group-sm">
            <label for="CodBloco">Bloco</label>
            @Html.DropDownList("CodBloco", new SelectList(new List<System.Collections.DictionaryEntry>(), "value", "key", Model.CodUnidade != null ? Model.TabelaUnidade.TabelaBloco.NomeBloco : ""), new { @class = "form-control input-silver" })
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group-sm">
            <label for="CodUnidade  ">Unidade</label>
            @Html.DropDownList("CodUnidade", new SelectList(new List<System.Collections.DictionaryEntry>(), "key", "value", Model.CodUnidade != null ? Model.TabelaUnidade.NumeroUnidade : ""), new { @class = "form-control input-silver" })
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group-sm">
            <label for="ValorUnidade  ">Valor Unidade</label>
            @Html.TextBox("ValorUnidade", "", new { @class = "form-control input-silver" })
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group-sm">
            <label for="TabelaVendas">Tabela Vendas</label>
            @Html.TextBox("TabelaVendas", "", new { @class = "form-control input-silver" })
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group-sm">
            <br />
            <button type="button" onclick="cancelar()" class="btn btn-default btn-primary">Limpar</button>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default panel-pesquisa-dados">
            <div class="panel-body">
                <table id="grid-dados" class="table table-bordered table-condensed table-striped" width="100%" style="margin-top:6px;background-color:#fff;">
                    <thead>
                        <tr>
                            <th data-data="CodContrato">
                                Tabela Vendas
                            </th>
                            <th data-data="NomeEmpreendimento">
                                CodAnalise
                            </th>
                            <th data-data="NomeBloco">
                                Periodicidade
                            </th>
                            <th data-data="NumeroUnidade">
                                Prazo
                            </th>
                            <th data-data="NumeroContrato">
                                Valor Parcela
                            </th>
                            <th data-data="Cliente">
                                Data Vencimento Inicio
                            </th>
                            <th data-data="Aging">
                                Login
                            </th>
                        </tr>

                    </thead>
                    <tbody id="tb-dados" style="display:none">
                        @foreach (var item in listaTeste)
                        {
                            <tr data-id="@item.CodContrato">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#CodEmpreendimento").change(function () {
                var cod = $("#CodEmpreendimento").val();
                $.ajax({
                    url: '@Url.Action("PesquisarBlocoPorEmpreendimento", "Wizard")',
                    type: 'post',
                    dataType: 'json',
                    data: { CodEmpreendimento: cod }
                }).success(function (resultado) {
                    console.log(resultado);
                    popularDropoDownList($("#CodBloco"), resultado);
                });
            });
        });

        function obterdadosGrid() {
            $('#grid-dados').DataTable({
                "deferRender": true,
                "serverSide": true,
                "responsive": true,
                "processing": true,
                "ajax": {
                    "url": "@Url.Action("paginarDados", "Pesquisa")",
                    "type": "POST"
                },
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    oAria: {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });
        }
        function cancelar() {
            document.location.reload(false);
        }
    </script>


}