﻿@model Cobranca.Db.Models.Proposta
@{
    ViewBag.Title = "Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usuario = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado();
    var fgAdmin = usuario.PerfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin;
    var fgSupervisorVenda = usuario.PerfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.SupervisorVenda;
}
<div class="layout layout-main-right layout-stack-sm">

    <div class="col-lg-2 col-md-2 col-sm-4 layout-sidebar">
        <div class="nav-layout-sidebar-skip">
            <strong>Mobile</strong> / <a href="#settings-content"></a>
        </div>
        <ul id="myTab" class="nav nav-layout-sidebar nav-stacked">
            <li class="">
                <a href="@Url.Action("index","EspelhoVenda")">
                    <i class="fa fa-edit"></i>
                    &nbsp;&nbsp;ESPELHO DE VENDA
                </a>
            </li>
            <li class="active">
                <a href="#operacao-tab" data-toggle="tab" data-ordem="0" id="tabOperacao" class="disabled" aria-expanded="false" onclick="exibir('@Url.Action("Proposta","PesquisaProposta", new { id = Model.Cod })')">
                    <i class="fa fa-edit"></i>
                    &nbsp;&nbsp;PROPOSTA
                </a>
            </li>
            <li class="">
                <a href="#operacao-tab" data-toggle="tab" data-ordem="1" id="tabOperacao" class="disabled" aria-expanded="false" onclick="exibir('@Url.Action("Cliente","PesquisaProposta", new { id = Model.Cod })')">
                    <i class="fa fa-user"></i>
                    &nbsp;&nbsp;INFORMAÇÕES CADASTRAIS
                </a>
            </li>
            <li class="">
                <a href="#operacao-tab" data-toggle="tab" data-ordem="2" id="tabOperacao" class="disabled" aria-expanded="false" onclick="exibir('@Url.Action("ClienteInformacaoProfissional","PesquisaProposta", new { id = Model.Cod })')">
                    <i class="fa fa-user"></i>
                    &nbsp;&nbsp;DADOS PROFISSIONAIS
                </a>
            </li>
            <li class="">
                <a href="#operacao-tab" data-toggle="tab" data-ordem="3" id="tabOperacao" class="disabled" aria-expanded="false" onclick="exibir('@Url.Action("ClienteCompromissoFinanceiro", "PesquisaProposta", new { id = Model.Cod, cdProspect = 0 })')">
                    <i class="fa fa-user"></i>
                    &nbsp;&nbsp;COMPROMISSO FINANCEIRO
                </a>
            </li>
            <li class="">
                <a href="#operacao-tab" data-toggle="tab" data-ordem="4" id="tabOperacao" class="disabled" aria-expanded="false" onclick="exibir('@Url.Action("ClienteInformacaoPatrimonial", "PesquisaProposta", new { id = Model.Cod })')">
                    <i class="fa fa-user"></i>
                    &nbsp;&nbsp;INFORMAÇÕES PATRIMONIAS
                </a>
            </li>
            <li class="">
                <a href="#operacao-tab" data-toggle="tab" data-ordem="5" id="tabOperacao" class="disabled" aria-expanded="false" onclick="exibir('@Url.Action("ClienteInformacaoFinanceira", "PesquisaProposta", new { id = Model.Cod })')">
                    <i class="fa fa-user"></i>
                    &nbsp;&nbsp;INFORMAÇÕES FINANCEIRAS
                </a>
            </li>
            <li class="">
                <a href="#operacao-tab" data-toggle="tab" data-ordem="6" id="tabOperacao" class="disabled" aria-expanded="false" onclick="exibir('@Url.Action("ClienteFGTS", "PesquisaProposta", new { id = Model.Cod })')">
                    <i class="fa fa-user"></i>
                    &nbsp;&nbsp;FGTS
                </a>
            </li>
            <li class="">
                <a href="#operacao-tab" data-toggle="tab" data-ordem="7" id="tabOperacao" class="disabled" aria-expanded="false" onclick="exibir('@Url.Action("ClienteReferencia", "PesquisaProposta", new { id = Model.Cod })')">
                    <i class="fa fa-user"></i>
                    &nbsp;&nbsp;REFERÊNCIAS
                </a>
            </li>
            <li class="">
                <a href="#operacao-tab" data-toggle="tab" data-ordem="8" id="tabOperacao" class="disabled" aria-expanded="false" onclick="exibirAcoes('@Url.Action("Documentos", "PesquisaProposta", new { id = Model.Cod })')">
                    <i class="fa fa-files-o"></i>
                    &nbsp;&nbsp;DOCUMENTOS
                </a>
            </li>
        </ul>
    </div> <!-- /.col -->
    <div id="divConteudo" class="col-lg-8 col-md-8 col-sm-12 layout-main nav-layout-sidebar-pane ">
        @Html.Hidden("Cod", Model.Cod)
        <div class="row" style="padding-bottom:10px;">
            <div class="col-md-12">
                <div class="col-md-12">

                    <button type="button" onclick="tabAnterior()" class="btn btn-sm btn-min-width btn-default pull-left" style="border-color: #ddd"><i class="fa fa-arrow-circle-left"></i> Anterior</button>
                    <button type="button" onclick="tabProximo()" class="btn btn-sm btn-min-width btn-default pull-left" style="border-color: #ddd"><i class="fa fa-arrow-circle-right"></i> Próximo</button>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-bottom:5px;display:none" id="area-acoes">
            <button id="btn-imprimir" type="button" onclick="imprimir()" class="btn btn-sm btn-default pull-left" style="margin-right:5px;"><i class="fa fa-print"></i> IMPRIMIR</button>

            @if (fgSupervisorVenda && Model.Status == (short)Cobranca.Db.Models.Enumeradores.StatusProposta.Solicitada)
            {
                <button id="btn-enviar-analise" type="button" onclick="enviarParaAnalise()" class="btn btn-sm btn-success pull-left" style="margin-right:5px;"><i class="fa fa-arrow-right"></i> SOLICITAR ANALISE </button>
                <button id="btn-reprovar" onclick="reprovarProposta()" type="button" class="btn btn-sm btn-danger pull-left" style="margin-right:5px;"><i class="fa fa-close"></i> REPROVAR</button>
            }
            else
            {
                if (Model.Status == (short)Cobranca.Db.Models.Enumeradores.StatusProposta.PropostaCadastrada)
                {
                    <button id="btn-enviar-proposta" type="button" onclick="enviarProposta()" class="btn btn-sm btn-info pull-left" style="margin-right:5px;"><i class="fa fa-arrow-right"></i> ENVIAR PROPOSTA</button>
                }

            }
        </div>
        
        <h2 id="linha-carregando" class="text-center text-silver" style="">
            Carregando Aguarde<br />
            <img src="~/Content/img/spinner.gif" height="50px" />
        </h2>

        <iframe style="display:none;" src="@Url.Action("Proposta","PesquisaProposta", new { id = Model.Cod })" frameborder="0" width="100%"></iframe>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 " style="padding-left:4px;">
        <div id="divCritica" class="layout-main nav-layout-sidebar-pane" style="display:none;">
            <div class="panel panel-default panel-body padding-5 animated fadeIn" style="border-radius: 1px;">
                <div id="criticas-titulo" class="heading-block no-margin-botton">
                    <h6 style="margin-bottom:0; font-weight: 600;"><i class="fa fa-edit"></i> Críticas</h6>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div id="erros" class="col-md-12" style="padding:0">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal-observacao">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">OBSERVAÇÃO</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group-sm">
                            <label>
                                Observações:
                            </label>
                            <textarea id="Observacao" rows="5" class="form-control input-silver" placeholder=""></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"><i class="fa fa-close"></i> CANCELAR</button>
                <button id="btn-confirmar" type="button" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> CONFIRMAR</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $("iframe").load(function () {
                load();
            });
            $(window).resize(function () {
                ajustarAlturaIframe();
            });
            analisarCriticas();

            setTimeout(function () {
                $('#divCritica').fadeIn();
            }, 1500)
        });

        function exibirAcoes(src) {
            exibir(src);
            $("#area-acoes").show();
        }
        function exibir(src) {
            $("#area-acoes").hide();
            recarregarIframe();
            $("iframe").attr("src", src);


        }
        $(window).load(function (e) {
            //load();
        });
        function ajustarAlturaIframe() {
            $("iframe").height($("iframe").contents().find("body").height() + 40)//ajusta a altura do iframe;
            //$('#divCritica').height($("iframe").contents().find("body").height() + 46)
            //$("iframe").find("body").css("overflow","hidden");
        }
        function load() {
            $("#linha-carregando").show();
            $("iframe").hide();
            $("iframe").contents().find("header, .nav-menu-pesquisa, .mainnav, .wizard, #pesquisa-dados, #divPanelCritica, #divBtnProximo").hide();
            $("iframe").contents().find("body").removeClass("account-bg").css("background", "transparent");
            $("iframe").contents().find(".panel-pesquisa-dados").addClass("iframe-ativo");

            ajustarAlturaIframe();

            setTimeout(function () {
                $("#linha-carregando").hide();
                $("iframe").fadeIn();
            }, 500)

        }
        function recarregarIframe() {
            $("iframe").hide();
            $("#linha-carregando").show();

        }
        function enviarProposta() {
            $("#modal-observacao").modal("show");
            $("#btn-confirmar").off("click").click(function () {
                var CodProposta = $("#Cod").val();
                if (confirm("Confirma enviar esta proposta?")) {
                    $.ajax({
                        url: '@Url.Action("EnivarProposta","Wizard")',
                        data: { CodProposta: CodProposta, Observacao: $("#Observacao").val() },
                        type: 'post'
                    }).success(function (resultado) {
                        if (resultado.OK) {
                            alert("Enviado com sucesso!");
                            //document.location = "@Url.Action("Resultado","PesquisaProposta")";
                            document.location.reload(false);
                        } else {
                            alert(resulta.Mensagem);
                        }
                    });
                }
            });
        }
        function reprovarProposta() {
            var CodProposta = $("#Cod").val();
            if (confirm("Confirma reprovar a proposta?")) {
                $.ajax({
                    url: '@Url.Action("ReprovarProposta","Wizard")',
                    data: { CodProposta: CodProposta },
                    type: 'post'
                }).success(function (resultado) {
                    if (resultado.OK) {
                        alert("Enviado com sucesso!");
                        //document.location = "@Url.Action("Resultado","PesquisaProposta")";
                        document.location.reload(false);
                    } else {
                        alert(resulta.Mensagem);
                    }
                });
            }
        }
        function enviarParaAnalise() {
            $("#modal-observacao").modal("show");
            $("#btn-confirmar").off("click").click(function () {
                var CodProposta = $("#Cod").val();
                if (confirm("Confirma enviar esta proposta?")) {
                    $.ajax({
                        url: '@Url.Action("EnviarParaAnalise", "Wizard")',
                        data: { CodProposta: CodProposta },
                        type: 'post'
                    }).success(function (resultado) {
                        if (resultado.OK) {
                            alert("Enviado com sucesso!");
                            document.location.reload(false);
                        } else {
                            alert(resultado.Mensagem);
                        }
                    });
                }
            });
        }

        function analisarCriticas() {

            var CodProposta = $("#Cod").val();
            $.ajax({
                url: '@Url.Action("AnalisarCritica", "Wizard")',
                data: { CodProposta: CodProposta },
                type: 'post'
            }).success(function (resultado) {
                if (resultado.OK) {
                    var erros = $("#erros");
                    erros.empty();
                    for (var i = 0; i < resultado.listaCriticas.length; i++) {
                        var item = resultado.listaCriticas[i];
                        var el = $(item.element);
                        var spam = $(document.createElement("p"));
                        spam.append(item);
                        spam.addClass("alert alert-danger animated flipInX").css({ "padding": "4px", "border-radius": "1px" });
                        erros.append(spam);
                    }
                } else {
                    alert(resultado.Mensagem);
                }
            });

        }

        function tabAnterior() {
            $("#myTab > li.active").prev().find("a").click();
        }
        function tabProximo() {
            $("#myTab > li.active").next().find("a").click();
        }
    </script>
}


