﻿@model Cobranca.Db.Models.Proposta
@{
    ViewBag.Title = "Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usuario = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado();
    var fgAdmin = usuario.PerfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin;
}
<div class="layout layout-main-right layout-stack-sm">
    <div class="col-lg-2 col-md-2 col-sm-4 layout-sidebar">
        <div class="nav-layout-sidebar-skip">
            <strong>Mobile</strong> / <a href="#settings-content"></a>
        </div>
        <ul id="myTab" class="nav nav-layout-sidebar nav-stacked">
            <li class="">
                <a href="@Url.Action("index","EspelhoVenda")">
                    <i class="fa fa-edit"></i>
                    &nbsp;&nbsp;ESPELHO DE VENDA
                </a>
            </li>
            <li>
                <a href="@Url.Action("proposta","wizard")">
                    <i class="fa fa-edit"></i>
                    &nbsp;&nbsp;SIMULAÇÃO
                </a>
            </li>
            @*<li class="">
                    <a href="#cliente-tab" data-toggle="tab" aria-expanded="false" class="disabled">
                        <i class="fa fa-user"></i>
                        &nbsp;&nbsp;CLIENTE
                    </a>
                </li>*@
            <li class="">
                <a href="#operacao-tab" data-toggle="tab" id="tabOperacao" class="disabled" aria-expanded="false">
                    <i class="fa fa-user"></i>
                    &nbsp;&nbsp;CLIENTE
                </a>
            </li>
        </ul>
    </div> <!-- /.col -->
    <div class="col-lg-10 col-md-10 col-sm-8 layout-main nav-layout-sidebar-pane ">
        <div id="settings-content" class="tab-content stacked-content ">
            <div class="tab-pane fade active in" id="pesquisa-tab">

                <form id="form-simulacao">
                    <div class="panel">
                        <div class="panel-body padding-5" style="">
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="heading-block no-margin-botton">
                                        <P>
                                            <i class="fa fa-building"></i> Dados da unidade
                                        </P>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="CodEmpreendimento" class=""><i class=""></i> Empreendimento:</label><br />
                                        @Html.DropDownList("CodEmpreendimento", new SelectList(ViewBag.ListaEmpreendimento, "value", "key", 0), new { @class = "form-control input-silver select2" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="CodBloco">Bloco</label>
                                        @Html.DropDownList("CodBloco", new SelectList(new List<System.Collections.DictionaryEntry>(), "value", "key", Model.CodUnidade != null ? Model.TabelaUnidade.TabelaBloco.NomeBloco : ""), new { @class = "form-control input-silver select2" })
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group-sm">
                                        <label for="CodUnidade  ">Unidade</label>
                                        @Html.DropDownList("CodUnidade", new SelectList(new List<System.Collections.DictionaryEntry>(), "key", "value", Model.CodUnidade != null ? Model.TabelaUnidade.NumeroUnidade : ""), new { @class = "form-control input-silver" })
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group-sm">
                                        <label for="ValorUnidade">Valor da unidade</label>
                                        @Html.TextBox("ValorUnidade", "", new { @class = "form-control input-silver", disabled = "disabled" })
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group-sm">
                                        <label for="CodTabelaVenda">Tabela de Venda</label>
                                        @Html.DropDownList("CodTabelaVenda", new SelectList(new List<System.Collections.DictionaryEntry>(), "key", "value", Model.CodUnidade != null ? Model.TabelaUnidade.NumeroUnidade : ""), new { @class = "form-control input-silver select2" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body padding-5" style="">
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="heading-block no-margin-botton">
                                        <P>
                                            <i class="fa fa-user"></i> Dados do cliente
                                        </P>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="NomeCliente" class="">Nome do cliente:</label><br />
                                        @Html.TextBox("NomeCliente", "", new { @class = "form-control input-silver" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group-sm">
                                        <label for="CPF" class="">CPF:</label><br />
                                        @Html.TextBox("CPF", "", new { @class = "form-control input-silver", data_mask = "cpf" })
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group-sm">
                                        <label for="NomeCliente" class="">Data nascimento:</label><br />
                                        @Html.TextBox("DataNascimentoCliente", "", new { @class = "form-control input-silver", data_mask = "datetime" })
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group-sm">
                                        <label for="ValorFGTS" class="">Valor FGTS:</label><br />
                                        @Html.TextBox("ValorFGTS", 0, new { @class = "form-control input-silver", data_mask = "money" })
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group-sm">
                                        <label for="ValorReceita" class="">Renda familiar:</label><br />
                                        @Html.TextBox("ValorRendaFamiliar", 0, new { @class = "form-control input-silver", data_mask = "money" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="panel">
                                <div class="panel-body padding-5">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="heading-block no-margin-botton">
                                                <P>
                                                    <i class="fa fa-exchange"></i> Proposta do Cliente
                                                </P>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <table id="tabela-fluxo" style="display:none">
                                                <thead>
                                                    <tr>
                                                        <th style="width:40px">

                                                        </th>
                                                        <td class="text-center" style="width:40px;">
                                                            QTD PARCELA
                                                        </td>
                                                        <td class="text-center" style="width:60px;">
                                                            PARCELA
                                                        </td>
                                                        <td class="text-center" style="width:60px;">
                                                            INICIO
                                                        </td>
                                                        <td class="text-center" style="width:60px;">
                                                            TOTAL
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-id="modelo" style="display:none;">
                                                        <td class="text-center">
                                                            <b data-name="TipoParcela">--</b>
                                                            <input data-name="CodTipoParcela" type="hidden" name="CodTipoParcela" />
                                                        </td>
                                                        <td class="table-bordered">
                                                            <input data-name="QtdMes" name="qtdParcela" type="text" class="table-edit" data-mask="inteiro" />
                                                        </td>
                                                        <td class="table-bordered">
                                                            <input data-name="ValorParcela" name="valorParcela" type="text" class="table-edit text-left" />
                                                        </td>
                                                        <td class="table-bordered">
                                                            <input data-name="dataInicio" name="dataInicio" type="text" class="table-edit text-left" />
                                                        </td>
                                                        <td class="table-bordered">
                                                            <input data-name="valorTotal" name="valorTotal" type="text" class="table-edit text-left" disabled="disabled" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="5" class="">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr data-id="rodape">
                                                        <td class="text-center" rowspan="2">
                                                            <b data-name="TipoParcela">Repasse</b>
                                                        </td>
                                                        <td class="table-bordered text-center" colspan="2">
                                                            FGTS + SUBSÍDIO
                                                        </td>
                                                        <td class="table-bordered" rowspan="2">
                                                            <input data-name="dataInicioRepasse" name="dataInicioRepasse" type="text" class="table-edit text-left" data-mask="datetime" />
                                                        </td>
                                                        <td class="table-bordered">
                                                            <input data-name="valorTotalRepasse" name="valorTotalRepasse" type="text" class="table-edit text-left" disabled="disabled" />
                                                        </td>
                                                    </tr>
                                                    <tr data-id="rodape">
                                                        <td class="table-bordered text-center" colspan="2">
                                                            FINANCIAMENTO
                                                        </td>
                                                        <td class="table-bordered">
                                                            <input id="valorCalculadoFinanciamento" data-name="valorCalculadoFinanciamento" name="valorCalculadoFinanciamento" type="text" class="table-edit text-left" disabled="disabled" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="5" class="">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td colspan="3" class="table-bordered text-right">
                                                            <b style="margin-right:6px;">TOTAL</b>
                                                        </td>
                                                        <td class="table-bordered text-center ">
                                                            <b data-name="valorTotalGerar">0,00</b>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel">
                                <div class="panel-body padding-5">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="heading-block no-margin-botton">
                                                <P>
                                                    <i class="fa fa-dollar"></i> Financiamento
                                                </P>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group-sm">
                                                <label for="ValorMaximoFinanciamento" class="">Valor maximo financiado:</label><br />
                                                @Html.TextBox("ValorMaximoFinanciamento", "", new { @class = "form-control input-silver", disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group-sm">
                                                <label for="ValorMaximoRepasse" class="">Valor maximo de repasse:</label><br />
                                                @Html.TextBox("ValorMaximoRepasse", "", new { @class = "form-control input-silver", disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group-sm">
                                                <label for="ValorEntradaDireta" class="">Entrada direta:</label><br />
                                                @Html.TextBox("ValorEntradaDireta", "", new { @class = "form-control input-silver", data_mask = "money" })
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group-sm">
                                                <label for="ValorFinanciamentoTotal" class="">Total:</label><br />
                                                @Html.TextBox("ValorFinanciamentoTotal", "", new { @class = "form-control input-silver", disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" onclick="salvarProposta()" class="btn btn-sm btn-primary pull-left">Salvar Proposta</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane fade in" id="espelho-tab">
                <div></div>
            </div>
            <div class="tab-pane fade in" id="cliente-tab">
                <div class="heading-block">
                    <h5>
                        CLIENTE
                    </h5>
                </div>
            </div>
            <div class="tab-pane fade" id="operacao-tab">
                <div class="heading-block">
                    <h3>
                        Cliente
                    </h3>
                </div>
                <p>Cadastro das operações do cliente</p>
                <br><br>
                @Html.Partial("_clientes", Model)
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var _dadosUnidade = {};
        $(document).ready(function () {
            preSelecionarUnidade();
            $("#CodUnidade").change(carregarDadosUnidade);
            $("#CodTabelaVenda").change(carregarTabelaVendas);
            $("#ValorFGTS").change(calcularValoresFinanciamento);
            $("#ValorEntradaDireta").change(calcularValoresFinanciamento);

            //$("#CodTabelaVenda").select(carregarTabelaVendas);
            definirUpload();
            $("#CEP").change(function () {
                $("#CEP").blur(function () {
                    var cep = $("#CEP").val().replace(".", "").replace("-", "")
                    if (cep != "") {
                        var validacep = /^[0-9]{8}$/;
                        if (validacep.test(cep)) {
                            $("#Endereco").val("...")
                            $("#Bairro").val("...")
                            $("#Cidade").val("...")
                            $("#Estado").val("...")
                            $.getJSON("//viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {
                                if (!("erro" in dados)) {
                                    $("#Endereco").val(dados.logradouro);
                                    $("#Bairro").val(dados.bairro);
                                    $("#Cidade").val(dados.localidade);
                                    $("#Estado").val(dados.uf);
                                }
                                else {

                                    alert("CEP não encontrado.");
                                    limpaCep();
                                }
                            });
                        }
                        else {

                            alert("Formato de CEP inválido.");
                            limpaCep();
                        }
                    }
                    else {
                        limpaCep();
                    }
                });
            });
        });
        //load termina aqui
        function definirUpload() {
            $(".form-upload").fileupload({
                dataType: 'json',
                url: '@Url.Content("~/Upload/UploadHandler.ashx")',
                maxFileSize: 5368709120, // 5GB
                sequentialUploads: true,
                limitConcurrentUploads: 1,
                maxChunkSize: 204800, // 200KB
                //autoUpload: true,//tr
                dropZone: "documentos",
                formData: {
                    Id: $("#Id").val()
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Ocorreu um erro no upload: " + textStatus);
                    $(".progress-bar").removeClass("progress-bar-warning").addClass("progress-bar-danger");
                    return;
                },
                done: function (e, data) {
                    var file = data.files[0];
                    $("#btn-file").removeAttr("disabled");
                    $("#ArquivoNome").val(file.name);
                    $(".progress-bar").removeClass("progress-bar-warning").addClass("progress-bar-success");
                },
                add: function (e, data) {
                    var id = $(this).attr("id");
                    var tr = $(this).parent().parent().parent();
                    var file = data.files[0];
                    $(".progress-bar").removeClass("progress-bar-danger").removeClass("progress-bar-success").addClass("progress-bar-warning");
                    data.submit();
                },
                start: function () {
                },
                progress: function (e, data) {
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $(".progress").show();
                    $(".progress-bar").css('width', progress + '%');
                    $(".progress-bar").html(progress + '%');
                }
            });
        }

        @if (Model.Cod > 0)
            {
                <Text>
        $("#form-cliente").show();

        </Text>
            }
        $("#CodTipoOperacao").change(function () {
            var CodConvenio = $("#CodTipoOperacao").val();
            $.ajax({
                url: '@Url.Action("ListarProdutoPorConvenio", "Wizard")',
                data: { codConvenio: CodConvenio },
                type: 'post',
                dataType: 'json'
            }).success(function (r) {
                popularDropoDownList($("#CodProduto"), r);
                carregarProdutoItem();
            });
        });
        function salvarCliente() {
            var dados = {
                Cod: $("#Cod").val(),
                Nome: $("#Nome").val(),
                Salario: $("#Salario").val(),
                NumeroBeneficio: $("#NumeroBeneficio").val()
            };
            $.ajax({
                url: '@Url.Action("SalvarClienteWizard", "Cliente")',
                data: dados,
                type: 'post'
            }).success(function (resultado) {
                if (resultado.OK) {
                    salvarEndereco(resultado.Cod);
                    salvarContato(resultado.Cod);
                    salvarDocumento(resultado.Cod);
                    alert("Informações salvas com sucesso!");
                    alterarTab('#tabOperacao');
                } else {
                    alert(resultado.Mensagem);
                }
            });
        }
        function salvarContato(cod) {
            var dados = {
                Cod: cod,
                TelefoneResidencial: $("#TelefoneResidencial").val(),
                TelefoneCelular: $("#TelefoneCelular").val(),
                TelefoneFax: $("#TelefoneFax").val(),
                TelefoneComercial: $("#TelefoneComercial").val(),
                Email: $("#Email").val()
            };
            $.ajax({
                url: '@Url.Action("SalvarContatoWizard","Cliente")',
                data: dados,
                type: 'post'
            }).success(function (resultado) {
                if (resultado.OK) {
                    // alert("Informações salvas com sucesso!");
                    //cancelar();
                } else {
                    alert(resultado.Mensagem);
                }
            });
        }

        function salvarEndereco(cod) {
            var dados = {
                Cod: cod,
                CEP: $("#CEP").val(),
                Logradouro: $("#Logradouro").val(),
                Endereco: $("#Endereco").val(),
                Numero: $("#Numero").val(),
                Complemento: $("#Complemento").val(),
                Bairro: $("#Bairro").val(),
                Cidade: $("#Cidade").val(),
                Estado: $("#Estado").val()
            };
            $.ajax({
                url: '@Url.Action("SalvarEnderecoWizard", "Cliente")',
                data: dados,
                type: 'post'
            }).success(function (resultado) {
                if (resultado.OK) {

                } else {
                    alert(resultado.Mensagem);
                }
            });
        }
        function salvarDocumento(cod) {
            var dados = {
                Cod: cod,
                Identidade: $("#Identidade").val(),
                CPF: $("#CPF").val()
            };
            $.ajax({
                url: '@Url.Action("SalvarDocumentoWizard", "Cliente")',
                data: dados,
                type: 'post'
            }).success(function (resultado) {
                if (resultado.OK) {
                    //alert("Informações salvas com sucesso!");
                    // cancelar();
                } else {
                    alert(resultado.Mensagem);
                }
            });
        }
        function alterarTab(tab) {
            $(tab).click();
        }
        function buscaCliente(cpf) {
            var dados = {
                CPF: cpf
            };
            $.ajax({
                url: '@Url.Action("LocalizarCliente", "Cliente")',
                data: dados,
                type: 'post'
            }).success(function (resultado) {
                if (resultado.OK == true) {
                    alterarTab('#tabCliente');
                    $('#form-cliente').show()
                } else if (resultado.infoClienteNaoEncontrado !== "") {
                    $('#mensagem').show();
                } else {
                    alert(resultado.Mensagem);
                }
            });
        }
        function adicionaOperacao() {
            var dados = {
                CodCliente: $('#Cod').val(),
                CodConvenio: $('#CodTipoOperacao').val(),
                CodProduto: $('#CodProduto').val(),
                NumeroAD: $('#NumeroAD').val(),
                Status: $('#Status').val(),
                CodLoja: $('#CodLoja').val(),
                ValorBase: $('#ValorBase').val(),
                QtdParcela: $('#QuantidadeParcelas').val(),
                ValorBruto: $('#ValorBruto').val(),
                CodBanco: $('#CodBanco').val(),
                Obs: $('#Observacao').val()
            };
            $.ajax({
                url: '@Url.Action("SalvarOperacao", "Cliente")',
                data: dados,
                type: 'post'
            }).success(function (resultado) {
                if (resultado.OK) {
                    var sId = 's234543245';
                    writeCookie('sessionId', sId, 3);
                } else {
                    alert(resultado.Mensagem);
                }
            });
        }
        function salvarDocumentoDigitalizado() {
            var dados;
            $('#arquivo').change(function (event) {
                dados = new FormData();
                dados.append('arquivo', event.target.files[0]);

                // para apenas 1 arquivo
                var name = event.target.files[0].content.name; // para capturar o nome do arquivo com sua extenção
            });
            $.ajax({
                url: '@Url.Action("SalvarDocumentoDigitalizado", "Cliente")',
                data: dados,
                type: 'post'
            }).success(function (resultado) {
                if (resultado.OK) {
                    // alert("Informações salvas com sucesso!");
                    //cancelar();
                } else {
                    alert(resultado.Mensagem);
                }
            });
        }
        function carregarDadosUnidade() {
            var codUnidade = $("#CodUnidade").val();

            $.ajax({
                url: '@Url.Action("ObterDadosUnidade")',
                data: { CodUnidade: codUnidade },
                type: 'POST'
            }).success(function (dados) {
                $("#ValorUnidade").val(dados.ValorFormatada);
                popularDropoDownList($("#CodTabelaVenda"), dados.ListaTabelaVenada);
                $("#CodTabelaVenda").trigger("change");
                $("#CodTabelaVenda").focus();
                $("#ValorMaximoFinanciamento").val(dados.ValorMaximoFinanciamentoFormatado)
                _dadosUnidade = dados;
            }).done(calcularValoresFinanciamento);

        }
        function carregarTabelaVendas() {
            var codTabelaVenda = $("#CodTabelaVenda").val();

            if (codTabelaVenda > 0) {
                $.ajax({
                    url: '@Url.Action("ObterFluxoTabelaVenda")',
                    data: { CodTabelaVenda: codTabelaVenda },
                    type: 'POST'
                }).success(function (dados) {
                    var tb = $("#tabela-fluxo");
                    tb.hide();
                    var tbBody = tb.find("tbody");
                    tbBody.find("tr[data-id!='modelo']").remove();
                    var trModelo = tbBody.find("tr[data-id='modelo']");
                    $(dados).each(function (i, e) {
                        var tr = trModelo.clone(false);
                        tr.attr("data-id", e.Cod)
                        tr.find("[data-name='TipoParcela']").text(e.TipoParcela);
                        tr.find("[data-name='CodTipoParcela']").val(e.CodTipoParcela);
                        tr.find("input[data-name='QtdMes']").val(1).change(function () { calcularSerie(tr); });
                        tr.find("input[data-name='ValorParcela']").val("0,00").mask("#.##0,00", { reverse: true }).change(function () { calcularSerie(tr); });
                        tr.find("input[data-name='dataInicio']").datepicker({ language: 'pt-BR', format: 'dd/mm/yyyy', orientation: 'top', autoclose: true });
                        tr.find("input[data-name='dataInicio']").mask("00/0000");
                        tr.find("input[data-name='valorTotal']").val("0,00").mask("#.##0,00", { reverse: false });
                        tbBody.append(tr);
                        tr.show();
                    });
                    tb.show();
                });
            } else {
                $("#tabela-fluxo").find("tbody").find("tr[data-id!='modelo']").remove();
            }

        }
        function calcularSerie(elSerie) {
            var parcelas = parseInt(elSerie.find("input[data-name='QtdMes']").val());
            var vlParcela = Number(elSerie.find("input[data-name='ValorParcela']").val().replace(".", "").replace(",", ".")).toFixed(2);
            var total = Number(parcelas * vlParcela).toFixed(2);
            elSerie.find("input[data-name='valorTotal']").val(total.toString().replace(".", ","));
            calcularTotal();
        }
        function calcularTotal() {
            var valorTotal = 0.00;
            var campos = $("#tabela-fluxo").find("input[data-name='valorTotal']");
            for (var i = 0; i < campos.length; i++) {
                var item = campos[i];
                var valor = parseFloat($(item).val().replace(".", "").replace(",", "."));
                if (!isNaN(valor)) {
                    valorTotal = valorTotal + valor;
                }
            }
            var vlTotalRepasse = converterParaFloat($("input[name='valorTotalRepasse']").val());
            var vlCalculadoFinanciamento = converterParaFloat($("input[name='valorCalculadoFinanciamento']").val());
            var t = valorTotal + vlTotalRepasse + vlCalculadoFinanciamento;
            var vl = parseFloat(t).toFixed(2);


            if (t > parseFloat(_dadosUnidade.Valor)) {
                var resto = parseFloat(_dadosUnidade.Valor) - t;
                var valorMaximoFinanciamento = parseFloat(_dadosUnidade.ValorMaximoFinanciamento) + resto;
                $("input[name='valorCalculadoFinanciamento']").val(formatarFalorMoeda(valorMaximoFinanciamento));
            }

            $("#tabela-fluxo").find("[data-name='valorTotalGerar']").text(formatarFalorMoeda(vl));
        }
        function calcularValoresFinanciamento() {
            //debugger;
            var vlFGTS = converterParaFloat($("#ValorFGTS").val());
            var valorUnidade = parseFloat(_dadosUnidade.Valor);
            var valorMaximoFinanciamento = parseFloat(_dadosUnidade.ValorMaximoFinanciamento);
            var valorEntradaDireta = converterParaFloat($("#ValorEntradaDireta").val());
            var valorMaximoRepasse = (valorMaximoFinanciamento + vlFGTS);
            var valorTotal = valorMaximoRepasse + valorEntradaDireta;
            $("#ValorMaximoRepasse").val(formatarFalorMoeda(valorMaximoRepasse));
            $("#ValorFinanciamentoTotal").val(formatarFalorMoeda(valorTotal));
            $("input[name='valorTotalRepasse']").val(formatarFalorMoeda(vlFGTS));

            $("input[name='valorCalculadoFinanciamento']").val(formatarFalorMoeda(valorMaximoFinanciamento));
            calcularTotal();
        }
        function formatarFalorMoeda(c) {
            var valor = parseFloat(c).toFixed(2).toString().replace(".", ",");
            var el = $(document.createElement("input"));
            el.val(valor).mask('000.000.000.000.000,00', { reverse: true });
            return el.val();
        }
        function converterParaFloat(valor) {
            if (valor) {
                return parseFloat(valor.replace(".", "").replace(",", "."));
            } else {
                return 0;
            }

        }
        function salvarProposta() {
            var dados = $("#form-simulacao").serialize();
            $.ajax({
                url: '@Url.Action("SalvarProposta")',
                data: dados,
                type: 'post'
            }).success(function (op) {
                if (op.OK) {
                    alert("Proposta salva com sucesso");
                } else {
                    alert(op.Mensagem);
                }
            });

        }
        function preSelecionarUnidade() {
            @if (ViewBag.CodUnidade != null)
            {
                <text>
            
            var codUnidade = @ViewBag.CodUnidade;
            var codBloco = @ViewBag.CodBloco;
            var codEmpreendimento = @ViewBag.CodEmpreendimento;
            $("#CodEmpreendimento").val(codEmpreendimento);
            
            $("#CodBloco").val(codBloco);
            $("#CodEmpreendimento").trigger("change");            
            $("#CodBloco").trigger("change");    
            
            setTimeout(function(){
                $("#CodUnidade").val(codUnidade);    
                
               
            },2000);
            //$("#CodBloco").trigger("change")
            //$("#CodUnidade").val(codUnidade);
            //$("#CodUnidade").trigger("change");
            
            </text>
            }
        }
    </script>
}


