﻿@model Cobranca.Db.Models.TabelaEmpreendimento

@{
    if (Model.Cod == 0)
    {
        Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    }

}

<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.CodEndereco)
    @Html.HiddenFor(m => m.TabelaEndereco.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="CodEmpreendimentoCliente">Código</label>
                @Html.TextBoxFor(m => m.CodEmpreendimentoCliente, new { @class = "form-control input-silver", required = "required", placeholder = "Codigo de referencia" })
                @Html.ValidationMessageFor(m => m.CodEmpreendimentoCliente)
            </div> <!-- /.form-group -->
        </div>

        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="CodConstrutora">Construtora</label>
                @Html.DropDownListFor(m => m.CodConstrutora, new SelectList(ViewBag.ListaConstrutora, "value", "key", Model.CodConstrutora), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodConstrutora)
            </div> <!-- /.form-group -->
        </div>
        <!--  <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="CodConstrutora">Construtora</label>
              @*@Html.DropDownList("CodConstrutora", ViewBag.Teste as SelectList, null, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodConstrutora)*@
            </div> <!-- /.form-group 
        </div>-->
        <div class="col-sm-6">
            <div class="form-group-sm">
                <label for="NomeEmpreendimento">Nome Empreendimento</label>
                @Html.TextBoxFor(m => m.NomeEmpreendimento, new { @class = "form-control input-silver", required = "required", placeholder = "Nome do empreendimento" })
                @Html.ValidationMessageFor(m => m.NomeEmpreendimento)
            </div> <!-- /.form-group -->
        </div>

       

     
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="portlet-title">
                Endereço
            </h4>
        </div>
        <div class="col-sm-2">
            <div class="form-group-sm">
                <label for="Logradouro  ">Logradouro</label>
                @*@Html.TextBox("Logradouro",Model.TabelaEndereco.Logradouro, new { @class = "form-control input-silver" })*@
                @Html.TextBoxFor(m => m.TabelaEndereco.Logradouro, new { @class = "form-control input-silver" })
                @Html.ValidationMessage("Logradouro")
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-4">
            <div class="form-group-sm">
                <label for="Endereco">Endereço</label>
                @Html.TextBoxFor(m => m.TabelaEndereco.Endereco, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.Endereco)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-2">
            <div class="form-group-sm">
                <label for="Numero">Número</label>
                @Html.TextBoxFor(m => m.TabelaEndereco.Numero, new { @class = "form-control input-silver", data_mask = "inteiro" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.Numero)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-2">
            <div class="form-group-sm">
                <label for="CEP">CEP</label>
                @Html.TextBoxFor(m => m.TabelaEndereco.CEP, new { @class = "form-control input-silver", data_mask = "inteiro" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.CEP)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-2">
            <div class="form-group-sm">
                <label for="Complemento">Complemento</label>
                @Html.TextBoxFor(m => m.TabelaEndereco.Complemento, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.Complemento)
            </div> <!-- /.form-group -->
        </div>

        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="Bairro">Bairro</label>
                @Html.TextBoxFor(m => m.TabelaEndereco.Bairro, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.Bairro)
            </div> <!-- /.form-group -->
        </div>

        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="Cidade">Cidade</label>
                @Html.TextBoxFor(m => m.TabelaEndereco.Cidade, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.Cidade)
            </div> <!-- /.form-group -->
        </div>

        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="Estado">Estado</label>
                @Html.TextBoxFor(m => m.TabelaEndereco.Estado, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.Estado)
            </div> <!-- /.form-group -->
        </div>

        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="UF">UF</label>
                @Html.TextBoxFor(m => m.TabelaEndereco.UF, new { @class = "form-control input-silver", MaxLength = "2" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.UF)
            </div> <!-- /.form-group -->
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="portlet-title">
                Responsáveis
            </h4>
        </div>
        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="CodUsuarioDonoDeCarteira">Dono de Carteira</label>
                @Html.DropDownListFor(m => m.CodUsuarioDonoDeCarteira, new SelectList(ViewBag.ListaUsuarioDonoCarteira, "value", "key", Model.CodUsuarioDonoDeCarteira), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodUsuarioDonoDeCarteira)
            </div> <!-- /.form-group -->
        </div>

        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="CodUsuarioDonoDeNegocio">Dono de Negócio</label>
                @Html.DropDownListFor(m => m.CodUsuarioDonoDeNegocio, new SelectList(ViewBag.ListaUsuarioDonoNegocio, "value", "key", Model.CodUsuarioDonoDeNegocio), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodUsuarioDonoDeNegocio)
            </div> <!-- /.form-group -->
        </div>

        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="CodUsuarioResponsavel">Responsável</label>
                @Html.DropDownListFor(m => m.CodUsuarioResponsavel, new SelectList(ViewBag.ListaUsuarioResponsavel, "value", "key", Model.CodUsuarioResponsavel), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodUsuarioResponsavel)
            </div> <!-- /.form-group -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="portlet-title">
                Outras informações
            </h4>
        </div>
        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="CodBancoFinanciador">Banco Financiador</label>
                @Html.DropDownListFor(m => m.CodBancoFinanciador, new SelectList(ViewBag.ListaBanco, "value", "key", Model.CodBancoFinanciador), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodBancoFinanciador)
            </div> <!-- /.form-group -->
        </div>

        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="CodBancoPiloto">Banco Piloto</label>
                @Html.DropDownListFor(m => m.CodBancoPiloto, new SelectList(ViewBag.ListaBanco, "value", "key", Model.CodBancoPiloto), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodBancoPiloto)
            </div> <!-- /.form-group -->
        </div>
    </div>
    <!-- /.form-group -->
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
        <div class="col-sm-12">
            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>

             @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }
            
        </div>

        <div class="col-sm-3">

        </div>
    </div>
</form>
