﻿@model Cobranca.Db.Models.TabelaAnaliseDocumental
@{
//if (Model.Cod == 0) {
//    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
//}

}
<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="CodTipoDocumento">Tipo de Documento</label>
                @Html.DropDownListFor(m => m.CodTipoDocumento, new SelectList(ViewBag.ListaTipoDocumento, "value", "key", Model.CodTipoDocumento), new { @class = "form-control input-silver", required = "required" })
                @Html.ValidationMessageFor(m => m.CodTipoDocumento)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="Obrigatorio">Pergunta</label><br />
                @Html.TextBoxFor(m => m.Pergunta, new { @class = "form-control input-silver", required = "required", placeholder = "Pergunta" })
                @Html.ValidationMessageFor(m => m.Pergunta)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="Obrigatorio">Tipo Resposta</label><br />
                @Html.DropDownListFor(m => m.TipoPergunta, new SelectList(Cobranca.Db.Models.EnumeradoresLista.RespostaTipo(), "value", "key", Model.TipoPergunta), new { @class = "form-control input-silver", required = "required" })
                @Html.ValidationMessageFor(m => m.TipoPergunta)
            </div> <!-- /.form-group -->
        </div>
    </div>
    <!-- /.form-group -->
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</form>
