﻿@model Cobranca.Db.Models.ParametroAtendimento
@using Cobranca.Rotinas;
@{
    List<Cobranca.Db.Models.TabelaProduto> _produtos = new List<Cobranca.Db.Models.TabelaProduto>();
    if (ViewBag.Produtos != null)
    {
        _produtos = (List<Cobranca.Db.Models.TabelaProduto>)ViewBag.Produtos;
    }

    List<int> _produtosCheckds = new List<int>();
    if (ViewBag.Checkds != null)
    {
        _produtosCheckds = (List<int>)ViewBag.Checkds;
    }
}

@Html.Hidden("hfCodProduto")
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row" style="height:350px">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body padding-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="heading-block no-margin-botton">
                                    <P>
                                        <i class="fa fa-exchange"></i> @Idioma.Traduzir("Produtos")
                                    </P>
                                </div>
                            </div>
                            @foreach (var produto in _produtos.OrderBy(x => x.Produto))
                            {
                                <div class="col-md-12">
                                    <button class="@string.Format("btn btn-sm {0} btn-block", _produtosCheckds.Contains(produto.Cod) ? "btn-default-color" : "  btn-default ")" data-flag="@string.Format("{0}", _produtosCheckds.Contains(produto.Cod) ? "true" : "false")" data-tipo="button-produto" onclick="selecionarProduto(this)" style="margin-bottom:5px;" data-value="@produto.Cod" type="button"> @produto.Produto - @produto.Descricao</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>