﻿@model Cobranca.Db.Models.ParametroAtendimento
@using Cobranca.Rotinas;
@{
    List<Cobranca.Db.Models.Rota> _rotas = new List<Cobranca.Db.Models.Rota>();
    if (ViewBag.Rotas != null)
    {
        _rotas = (List<Cobranca.Db.Models.Rota>)ViewBag.Rotas;
    }
    List<int> _checkeds = new List<int>();
    if (ViewBag.Checkds != null)
    {
        _checkeds = (List<int>)ViewBag.Checkds;
    }
}
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-xs btn-danger pull-right" style="min-width:80px;" disabled="disabled"  type="button">&nbsp;@Idioma.Traduzir("E").ToUpper()</button>
    </div>
    <div class="col-md-12 form-inline query-builder" id="builder-render"  style="margin-top:8px;">
        <div id="builder-render_group_0" class="rules-group-container jx-builder-group panel panel-default">
            <div class="rules-group-header panel-heading">
                <div class="panel-heading" style="padding:5px 10px;">
                    <div class="form-group-sm">
                        <label for="pesquisa">Rotas:</label>
                        <input id="pesquisa" type="text" class="form-control" placeholder="Pesquisar" style="margin-left:10px; min-width:250px" />
                    </div>
                </div>
            </div>
            <div id="jstree_rotas" class="effect-panel" style="display:none;overflow-y:scroll; max-height:237px; margin-left:-15px; margin-right:-15px;">
                <ul>
                    <li data-filial="">
                        Rotas
                        @foreach (var rota in _rotas.OrderBy(x => x.Nome))
                        {
                            <ul>
                                <li data-checked="@string.Format("{0}", _checkeds.Contains(rota.Cod) ? "checked" : "")" data-rota="@rota.Cod"> @rota.Nome</li>
                            </ul>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
@section scripts{
    <script type="text/javascript">
        var _tree = undefined;
        var to = undefined;
        function definicarAcoes() {
            $("#acoes-modal").modal();
        }

        $(document).ready(function () {
            _tree = $("#jstree_construtora");
            carregarTreeView();
            validarPerfil();
        });

        function disableJstree() {
            _tree.jstree().deselect_all();
            $('#jstree_construtora >ul > li').each(function () {
                $(this).find("ul > li").each(function () {
                    $("#jstree_construtora").jstree().disable_node(this.id);
                })
                $("#jstree_construtora").jstree().disable_node(this.id);
            });
        }

        function obterItensChecados() {
            var checkedFilial = [];
            var nodes = _tree.jstree("get_checked", null, true);
            for (var i = 0; i < nodes.length; i++) {
                var note = $("#" + nodes[i]);
                var codFilial = note.attr("data-filial");
                if (codFilial) {
                    checkedFilial.push(codFilial);
                }
            }
            $("#FilialVinculadas").val(checkedFilial.join(','));
        }
    </script>
}