﻿@model Cobranca.Db.Models.ParametroAtendimento

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
    List<Cobranca.Db.Models.TabelaProduto> produtos = new List<Cobranca.Db.Models.TabelaProduto>();
    if (ViewBag.Produtos != null)
    {
        produtos = (List<Cobranca.Db.Models.TabelaProduto>)ViewBag.Produtos;
    }
    List<Cobranca.Db.Models.Usuario> objUsuario = new List<Cobranca.Db.Models.Usuario>();
    if (ViewBag.Usuarios != null)
    {
        objUsuario = (List<Cobranca.Db.Models.Usuario>)ViewBag.Usuarios;
    }
    List<Cobranca.Db.Models.ParametroAtendimento> _model = new List<Cobranca.Db.Models.ParametroAtendimento>();
    if (ViewBag.ModelParametro != null)
    {
        _model = (List<Cobranca.Db.Models.ParametroAtendimento>)ViewBag.ModelParametro;
    }
}
<style>
    .form-control.select2-container {
        height: 32px !important;
        overflow-y: auto;
    }

    .select2-search-choice {
        color: #333 !important;
        background-color: #fff !important;
        border-color: #ccc !important;
        border-radius: 0 !important;
        font-size: 12px;
        overflow: hidden;
        border-radius: 1px;
    }

    .checkbox label .toggle, .checkbox-inline .toggle {
        margin-left: -20px;
        margin-right: 5px;
    }

    .toggle {
        position: relative;
        overflow: hidden;
    }

        .toggle input[type=checkbox] {
            display: none;
        }

    .toggle-group {
        position: absolute;
        width: 200%;
        top: 0;
        bottom: 0;
        left: 0;
        transition: left .35s;
        -webkit-transition: left .35s;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

    .toggle.off .toggle-group {
        left: -100%;
    }

    .btn-check {
        color: #fff;
        background-color: #476BAC;
        border-color: #269abc;
    }

        .btn-check:hover {
            color: #fff;
            background-color: #476BAC;
            border-color: #269abc;
        }

    .btn-check-all {
        color: #333;
        background-color: #f3f3f3;
        border-color: #aaa;
    }

        .btn-check-all:hover {
            color: #333;
            background-color: #f3f3f3;
            border-color: #aaa;
        }

    .toggle-on {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 50%;
        margin: 0;
        border: 0;
        border-radius: 0;
    }

    .toggle-off {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
        margin: 0;
        border: 0;
        border-radius: 0;
    }

    .toggle-handle {
        position: relative;
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;
        width: 0;
        border-width: 0 1px;
    }

    .toggle.btn {
        min-width: 49px;
        min-height: 30px;
    }

    .toggle.btn-lg {
        min-width: 79px;
        min-height: 45px;
    }

    .toggle-on.btn-lg {
        padding-right: 31px;
    }

    .toggle-off.btn-lg {
        padding-left: 31px;
    }

    .toggle-handle.btn-lg {
        width: 40px;
    }

    .toggle.btn-sm {
        min-width: 50px;
        min-height: 30px;
    }

    .toggle-on.btn-sm {
        padding-right: 20px;
    }

    .toggle-off.btn-sm {
        padding-left: 20px;
    }

    .toggle.btn-xs {
        min-width: 35px;
        min-height: 22px;
    }

    .toggle-on.btn-xs {
    }

    .toggle-off.btn-xs {
    }
</style>
<script src="~/Scripts/bootstrap-toggle/bootstrap-toggle-custom.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="form-group-sm">
                        <label for="CodEscritorio">Filial</label>
                        @Html.DropDownList("CodRegional", new SelectList(ViewBag.Regionais, "value", "key", 0), new { @class = "form-control input-silver" })
                    </div> <!-- /.form-group -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    @foreach (var objUser in objUsuario)
    {
        foreach (var a in _model.Where(x => x.CodUsuario == objUser.Cod).ToList())
        {
            List<int?> r = a.ParametroAtendimentoRotas.Where(x => !x.DataExcluido.HasValue).Select(x => x.CodRota).ToList();

            @Html.Hidden("cdRota_" + objUser.Cod, string.Join(",", r), new { @data_rota_hidden = "rotaUser-" + objUser.Cod })
        }

    }


    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body padding-5" style="min-height:335px">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="heading-block no-margin-botton">
                                    <P>
                                        <i class="fa fa-exchange"></i> Parametro Atendimento
                                    </P>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <table id="tabela-atendimento" class="table-bordered table-striped" style="display:none;margin-left:auto; margin-right:auto;">
                                    <thead>
                                        <tr>
                                            <th colspan="1" class="text-center"></th>
                                            <th colspan="2" class="text-center"> Rotas</th>
                                            <td colspan="@produtos.Count" class="text-center">Tipo Produto</td>

                                        </tr>
                                        <tr>
                                            <th class="text-center">Usuário</th>
                                            <td class="text-center">Todas</td>
                                            <td class="text-center">Rotas</td>
                                            @foreach (var item in produtos)
                                            {
                                                <td class="text-center">@Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.Produto)</td>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var objUser in objUsuario)
                                        {
                                            <tr>
                                                <td class="table-bordered">
                                                    <label class="btn" data-user="@objUser.Cod" style="width:100%">@objUser.Nome</label>
                                                </td>
                                                <td class="table-bordered">
                                                    <input type="checkbox" data-all-us="@objUser.Cod" name="check-@objUser.Cod" id="check-@objUser.Cod" data-toggle="toggle" data-style="android" data-onstyle="check-all">
                                                </td>
                                                <td class="text-center table-bordered" style="width:200px;">
                                                    @Html.DropDownList("CodRotas_" + objUser.Cod, new SelectList(ViewBag.Rotas, "value", "key", 0), new { @class = "form-control input-silver select2", @multiple = "multiple", @data_rota_us = "rotaUser-" + objUser.Cod })
                                                </td>
                                                @foreach (var item in produtos)
                                                {
                                                    foreach (var a in _model.Where(x => x.CodUsuario == objUser.Cod).ToList())
                                                    {

                                                        List<int?> p = a.ParametroAtendimentoProdutoes.Where(x => !x.DataExcluido.HasValue).Select(x => x.CodProduto).ToList();
                                                        if (p.Contains(item.Cod))
                                                        {
                                                            <td class="table-bordered">
                                                                <input type="checkbox" checked data-us="@objUser.Cod" name="check-@objUser.Cod-@item.Cod" id="check-@objUser.Cod-@item.Cod" data-toggle="toggle" data-style="android" data-onstyle="check">
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td class="table-bordered">
                                                                <input type="checkbox" data-us="@objUser.Cod" name="check-@objUser.Cod-@item.Cod" id="check-@objUser.Cod-@item.Cod" data-toggle="toggle" data-style="android" data-onstyle="check">
                                                            </td>
                                                        }
                                                    }


                                                }
                                                @*<td style="color:#808080;" class="text-left">
                                                        <button type="button" onclick="excluirFluxo(this)" class="btn btn-xs btn-link"><i class="fa fa-close"></i></button>
                                                    </td>*@
                                            </tr>
                                        }


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-sm btn-primary btn-min-width" onclick="SalvarOperacao()"><i class="fa fa-save"></i> Salvar</button>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script type="text/javascript">
        if ($("#CodRegional").val() > 0) {
            $("#tabela-atendimento").show();
        }
        $(document).ready(function () {
            preencherRotas();
            $("#CodRegional").change(function () {

                $("#tabela-atendimento").show();
                var regionalId = $(this).val();
                document.location = "@Url.Action("index")" + "?CodRegional=" + regionalId;
            });
            $(document).on('click.bs.toggle', 'div[data-toggle^=toggle]', function (e) {
                var check = $(this).find('input[type=checkbox]');
                var userId = parseInt($(check[0]).attr('data-all-us'));
                var el = $("#CodRotas_" + userId);
                if (check.prevObject.hasClass('btn-check-all')) {
                    el.select2('destroy').find('option').prop('selected', 'selected').end().select2();
                } else {
                    el.select2('destroy').find('option').prop('selected', false).end().select2();
                }
            });
        });

        function preencherRotas() {
            $("#tabela-atendimento").find("label[data-user]").each(function (i, e) {
                var userId = parseInt($(e).attr('data-user'));
                var selectedValues = $("input[data-rota-hidden=rotaUser-" + userId + "]").val();
                if (selectedValues != undefined) {
                    var arrayValues = selectedValues.split(',');
                    console.log(selectedValues);
                    var input = $("#tabela-atendimento").find("[data-rota-us='rotaUser-" + userId + "']");
                    $(input).select2('val', arrayValues);

                }
            });
        }

        function SalvarOperacao() {
            var operacao = [];
            $("#tabela-atendimento").find("label[data-user]").each(function (i, e) {
                var userId = parseInt($(e).attr('data-user'));
                var rotaIds = [];
                var produtosIds = [];
                $("#tabela-atendimento").find("input[data-us='" + userId + "']:checkbox:checked").each(function (i, e) {
                    produtosIds.push(parseInt($(e).attr('id').split('-')[2]));
                });
                var objRota = $("#tabela-atendimento").find("[data-rota-us='rotaUser-" + userId + "']").val();
                if (objRota != undefined) {
                    for (var i = 0; i < objRota.length; i++) {
                        rotaIds.push(objRota[i]);
                    }

                }

                var obj = { Usuario: userId, Produtos: produtosIds, Rotas: rotaIds };
                operacao.push(obj);
            });
            for (var i = 0; i < operacao.length; i++) {
                $.ajax({
                    url: '@Url.Action("SaveParametro")',
                    data: operacao[i],
                    type: 'post'
                }).success(function (resultado) {
                    console.log(resultado);
                });
            }
            var codRegional = $("#CodRegional").val();
            setTimeout(function () {
                jx.mensagem('Operação Realizada com Sucesso!', '', 'success', 'fa fa-check');
                setTimeout(function () {
                    document.location = "@Url.Action("index")" + "?CodRegional=" + codRegional;
                }, 1500);
            }, 1500);

        }
    </script>
}