﻿@model Cobranca.Web.Models.ParametroAtendimentoVM
@using Cobranca.Rotinas;
@{
}
@Html.HiddenFor(m => m.CodRegional)
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row" style="height:350px">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body padding-5">
                        <div class="portlet-header">
                            <ul class="breadcrumb">
                                <li><a href="@Url.Action("Index",Model.CodRegional)"><i class="fa fa-building-o"></i>&nbsp;@Model.Regional</a></li>
                                <li class="active"><i class="fa fa-users"></i>&nbsp;@Idioma.Traduzir("Usuários")</li>
                            </ul>
                        </div>
                        <div class="row">
                            @foreach (var usuario in Model.ListUsuarios)
                            {
                                <div class="col-md-12">
                                    <button class="btn btn-sm btn-default btn-block" data-flag="false" onclick="usuarioSelect(this)" data-tipo="button-usuario" data-value="@usuario.Key" style="margin-bottom:5px;" type="button">
                                        <i class="fa fa-user"></i> @usuario.Value
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
