﻿@model Cobranca.Web.Models.ParametroAtendimentoVM
@using Cobranca.Rotinas;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
}
<script src="~/Scripts/bootstrap-toggle/bootstrap-toggle-custom.js"></script>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-sm btn-primary btn-min-width" data-flag="false" onclick="SalvarOperacao()"><i class="fa fa-save"></i>&nbsp;@Idioma.Traduzir("Salvar")</button>
        <button class="btn btn-sm btn-default" onclick="VisualizarSQL()" type="button"><i class="fa fa-eye"></i>&nbsp;@Idioma.Traduzir("Preview")</button>
    </div>
</div>
<div class="panel panel-default margin-top-18">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div data-form="filial-user">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="portlet-header">
                                <ul class="breadcrumb">
                                    <li><a href="@Url.Action("Index")">@Idioma.Traduzir("Filial")</a></li>
                                </ul>
                            </div>
                            <div class="row" style="height:350px">
                                <div class="col-md-12">
                                    <div class="panel">
                                        <div class="panel-body padding-5">
                                            <div class="row">
                                                <div style="overflow-y: scroll; max-height: 294px;">
                                                    @foreach (var regional in Model.ListRegionais)
                                                    {
                                                        <div class="col-md-12">
                                                            <button class="btn btn-sm btn-default btn-block" onclick="filialSelect(this);" data-tipo="button-regional" data-value="@regional.Key" style="margin-bottom:5px;" type="button"><i class="fa fa-building-o"></i> @regional.Value</button>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="col-md-12 no-padding" data-form="query-builder"></div>
                <div data-form="rotas"></div>
            </div>
        </div>


    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-form-sql">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">@Idioma.Traduzir("Configuração Query")</h3>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group-sm">
                            <label for="Observacao">@Idioma.Traduzir("QUERY SQL")</label>
                            <textarea class="form-control" cols="20" id="SQL_Text" name="SQL_Text" rows="10"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" onclick="" class="btn btn-sm btn-default" data-dismiss="modal"><i class="fa fa-times"></i> @Idioma.Traduzir("Cancelar")</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
@section scripts{
    <script src="~/Scripts/jq-query-builder/js/jQuery.extendext.min.js"></script>
    <script src="~/Scripts/jq-query-builder/js/doT.min.js"></script>
    <script src="~/Scripts/jq-query-builder/js/query-builder.js"></script>
    <script src="~/Scripts/jq-query-builder/js/sql-parser.js"></script>
    <script src="~/Scripts/jq-query-builder/i18n/query-builder.pt-BR.js"></script>
    <script src="~/Scripts/jq-query-builder/sql-support/plugin.js"></script>
    <script type="text/javascript">
        var _listaRota = [{ 0: "--" }];
        var _listProduto = [{ 0: "--" }];
        var _listGrupoEmpresa = [{ 0: "--" }];
        MyConfig = {
            getRegionais: function () {
                return $("[data-tipo='button-regional'][data-flag='true'").attr("data-value");
            },
            getUsuarios: function () {
                var usuarioIds = [];
                $("[data-tipo='button-usuario']").each(function (i, e) {
                    var isTrueSet = ("true" === $(e).attr("data-flag"));
                    if (isTrueSet) {
                        usuarioIds.push($(e).attr("data-value"));
                    }
                });
                return usuarioIds.join(',');
            },
            getProdutos: function () {
                var produtosIds = [];
                $("[data-tipo='button-produto']").each(function (i, e) {
                    var isTrueSet = ("true" === $(e).attr("data-flag"));
                    if (isTrueSet) {
                        produtosIds.push($(e).attr("data-value"));
                    }
                });
                return produtosIds.join(',');
            },
            getRotas: function () {
                var checkedRotas = [];
                var nodes = _tree.jstree("get_checked", null, true);
                for (var i = 0; i < nodes.length; i++) {
                    var note = $("#" + nodes[i]);
                    var codRota = note.attr("data-rota");
                    if (codRota) {
                        checkedRotas.push(codRota);
                    }
                }
                return checkedRotas.join(',');
            },
            getUrl: function () {
                var today = new Date();
                var ticked = "&t=" + today.getSeconds();
                return "?us=" + this.getUsuarios() + "&r=" + this.getRegionais() + ticked;
            },
            postParam: function () {
                return {
                    Usuario: this.getUsuarios(),
                    Regional: this.getRegionais(),
                    Produto: this.getProdutos(),
                    Rota: this.getRotas()
                }
            }
        }


        function filialSelect(elem) {
            $("[data-tipo='button-regional']").each(function (i, e) {
                $(e).removeAttr('data-flag');
            });
            openUsuario(elem);
        }

        function SalvarOperacao() {
            var dados = tratarForm();
             $.ajax({
                 url: '@Url.Action("SalvarParametrizacao", "ParametroAtendimento")',
                 data: dados,
                 type: 'post'
                }).success(function (resultado) {
                    if (resultado.Success) {
                        jx.mensagem("Configuração", resultado.Message, "success", "fa fa-info-circle");
                    } else {
                        jx.mensagem(resultado.Message, resultado.Data, "warning", "fa fa-exclamation");
                    }
                });
        }

        function SalvarOperacao2() {
            var operacao = [];
            $("#tabela-atendimento").find("label[data-user]").each(function (i, e) {
                var userId = parseInt($(e).attr('data-user'));
                var rotaIds = [];
                var produtosIds = [];
                $("#tabela-atendimento").find("input[data-us='" + userId + "']:checkbox:checked").each(function (i, e) {
                    produtosIds.push(parseInt($(e).attr('id').split('-')[2]));
                });
                var objRota = $("#tabela-atendimento").find("[data-rota-us='rotaUser-" + userId + "']").val();
                if (objRota != undefined) {
                    for (var i = 0; i < objRota.length; i++) {
                        rotaIds.push(objRota[i]);
                    }

                }

                var obj = { Usuario: userId, Produtos: produtosIds, Rotas: rotaIds };
                operacao.push(obj);
            });
            for (var i = 0; i < operacao.length; i++) {
                $.ajax({
                    url: '@Url.Action("SaveParametro")',
                    data: operacao[i],
                    type: 'post'
                }).success(function (resultado) {
                    console.log(resultado);
                });
            }
            var codRegional = $("#CodRegional").val();


        }

        function mudaCorFilial(elem) {
            var value = $(elem).attr("data-value");
            var $elem = $("[data-tipo='button-regional'][data-value='" + value + "']");
            $("[data-tipo='button-regional']").each(function (i, e) {
                if (value == $(e).attr("data-value")) {
                    $(e).attr("class", "btn btn-sm btn-block btn-default-color");
                    $elem.attr("data-flag", "true");
                } else {
                    $(e).attr("class", "btn btn-sm btn-block btn-default-color").attr("class", "btn btn-sm btn-block btn-default");
                    $elem.attr("data-flag", "true");
                }
            });
        }

        function CarregarQryBuildRota() {
             $.get("@Url.Action("GetListaRota", "QueryBuilder")", function (dados) {
                 _listaRota = [];
                for (var i = 0; i < dados.length; i++) {
                    _listaRota.push($.parseJSON(dados[i]));
                }
             }).done(function () {
                CarregarQry();
            });
        }

        function CarregarQryBuildServer() {
             $.get("@Url.Action("GetListByParametroAtendimento", "QueryBuilder")", function (r) {
                _listGrupoEmpresa = [];
                 _listProduto = [];
                 if (r.Success) {
                     for (var i = 0; i < r.objGrupoEmpresa.length; i++) {
                         _listGrupoEmpresa.push($.parseJSON(r.objGrupoEmpresa[i]));
                     }
                     for (var i = 0; i < r.objProduto.length; i++) {
                         _listProduto.push($.parseJSON(r.objProduto[i]));
                     }
                 }
             }).done(function () {
                CarregarQry();
            });
        }


        function VisualizarSQL() {
            var qrySQL = getSQL();
            $("#SQL_Text").val(qrySQL);
            $("#modal-form-sql").modal("show");
        }

        function tratarForm() {
            usuarioIds = [];
            $("[data-tipo='button-usuario']").each(function (i, e) {
                var isTrueSet = ("true" === $(e).attr("data-flag"));
                if (isTrueSet) {
                    usuarioIds.push(parseInt($(e).attr("data-value")));
                }
            });
            var checkedRotas = [];
            var nodes = _tree.jstree("get_checked", null, true);
            for (var i = 0; i < nodes.length; i++) {
                var note = $("#" + nodes[i]);
                var codRota = note.attr("data-rota");
                if (codRota) {
                    checkedRotas.push(parseInt(codRota));
                }
            }
            var qBuilder = $('#builder-render').queryBuilder('getSQL', 'named(@@)');
            var sql = getSQL();
            return {    
                regional: parseInt($("#CodRegional").val()),
                usuarios: usuarioIds,
                query: String(sql),
                queryRota: checkedRotas
            }

        }

        function getSQL() {
            var qBuilder = $('#builder-render').queryBuilder('getSQL', 'named(@@)');
            var sql = qBuilder.sql;
            $.each(qBuilder.params, function (key, value) {
                if (typeof value === 'string') {
                    value = "'" + value.replace(/,/g, "','") + "'";
                }
                var chave = '@@' + key;
                sql = sql.replace(chave, value);
            });
            return sql;
        }

        function CarregarQry(id) {
            $('#builder-render').queryBuilder('destroy');


            $('#builder-render').queryBuilder({
                sort_filters: true,
                filters: [
                    {
                        id: 'CodGrupoEmpresa',
                        label: 'Grupo de Empresa',
                        type: 'integer',
                        input: 'select',
                        values: _listGrupoEmpresa,
                        operators: ['in', 'not_in']
                    },
                    {
                        id: 'Corporativo',
                        label: 'Corporativo',
                        type: 'string',
                        operators: ['in', 'not_in']
                    },
                    {
                        id: 'ClienteVIP',
                        label: 'VIP',
                        type: 'string',
                        input: 'select',
                        values: { 'VIP':'VIP' },
                        operators: ['equal']
                    },
                    {
                        id: 'CodProduto',
                        label: 'Produtos',
                        type: 'integer',
                        input: 'checkbox',
                        values: _listProduto,
                        operators: ['in', 'not_in']
                    }
                    ]
            });
            $.ajax(
                {
                    type: 'GET',
                    url: '/ParametroAtendimento/GetParam/',
                    cache: false,
                    data: { usuario: id, regional: $("#CodRegional").val()},
                    success: function (response) {
                        if (response.OK) {
                            $('#builder-render').queryBuilder('setRulesFromSQL', response.Data);
                        }
                    }
                });
        }


        // ********************** USUARIO *****************************//
        function openUsuario(elem) {
            var today = new Date();
            var ticked = "&t=" + today.getSeconds();
            var f = $(elem).attr("data-value");
            var url = "/ParametroAtendimento/FormUsuario?CodRegional=" + f + ticked;
            $(".form").addClass("animated fadeOut");
            var $elemForm = $("div[data-form='filial-user']");
            $elemForm.empty();

            $elemForm.load(url, function () {
                $(document).on('click.bs.toggle', 'div[data-toggle^=toggle]', function (e) {
                    var check = $(this).find('input[type=checkbox]');
                    var userId = parseInt($(check[0]).attr('data-all-us'));
                    var el = $("#CodRotas_" + userId);
                    if (check.prevObject.hasClass('btn-check-all')) {
                        el.select2('destroy').find('option').prop('selected', 'selected').end().select2();
                    } else {
                        el.select2('destroy').find('option').prop('selected', false).end().select2();
                    }
                });
                //CarregarQryBuildRota();
                //CarregarQryBuildProduto();
                mudaCorFilial(elem);
            });
        }

        function usuarioSelect(elem) {
            mudaCorUsuario(elem);
            var _url = "/QueryBuilder/Index/";
            $(".form").addClass("animated fadeOut");
            $("div[data-form='query-builder']").empty();
            $.ajax(
                {
                    type: 'GET',
                    url: _url,
                    dataType: 'html',
                    cache: false,
                    async: true,
                    success: function (data) {
                        $("div[data-form='query-builder']").html(data);
                        var userId = $(elem).attr("data-value");
                        CarregarQryBuildServer();
                        CarregarQry(userId);
                    }
                });
            //openProduto(elem);
            openRota(elem);
        }

        function mudaCorUsuario(elem) {
            var value = $(elem).attr("data-value");
            var $elem = $("[data-tipo='button-usuario'][data-value='" + value + "']");
            var flag = $elem.attr("data-flag");
            if (flag == 'true') {
                $elem.attr("data-flag", "false");
                $elem.removeAttr("class", "btn btn-sm btn-block btn-default-color");
                $elem.attr("class", "btn btn-sm btn-block btn-default");
            } else {
                $elem.attr("class", "btn btn-sm btn-block btn-default-color");
                $elem.attr("data-flag", "true");
            }
        }
        // ********************** END USUARIO *****************************//

        // ********************** ROTA *****************************//
        var _tree = undefined;
        var to = undefined;
        function openRota(elem) {
            $(elem).attr("data-idButon");
            var regionalId = $("#CodRegional").val();
            var u = $(elem).attr("data-value");
            //mudaCorProduto(cod, ultValue);
            $("#hfCodProduto").val(u);
            var url = "/ParametroAtendimento/FormRota/?usuario=" + u + "&regional=" + $("#CodRegional").val();
            $(".form").addClass("animated fadeOut");
            $("div[data-form='rotas']").empty();
            $("div[data-form='rotas']").load(url, function () {
                carregarTreeView();
            });
        }

        function enableJstree() {
            $('#jstree_construtora >ul > li').each(function () {
                $(this).find("ul > li").each(function () {
                    $("#jstree_rotas").jstree().enable_node(this.id);
                })
                $("#jstree_rotas").jstree().enable_node(this.id);
            });
        }

        function carregarTreeView() {
            _tree = $("#jstree_rotas");
            _tree.hide();
            _tree.jstree({
                "themes": {
                    "theme": "classic",
                    "dots": true,
                    "icons": false
                },
                "checkbox": {
                    "keep_selected_style": false
                },
                "search": {
                    "case_insensitive": true
                    , "show_only_matches": true
                },
                "plugins": ["wholerow", "checkbox", "search"]
            });
            $('#pesquisa').keyup(function () {
                if (to) { clearTimeout(to); }
                to = setTimeout(function () {
                    var v = $('#pesquisa').val();
                    _tree.jstree(false).search(v);
                }, 250);
            });
            _tree.jstree(true).open_all();
            $('li[data-checked="checked"]').each(function () {
                _tree.jstree('check_node', $(this));
            });
            setTimeout(function () {
                //_tree.jstree(true).close_all();
                //_tree.jstree(true).open_all();
                _tree.show();
            }, 500);


        }
        // ********************** END ROTA *****************************//


    </script>
}