﻿@model Cobranca.Db.Models.TabelaCheckList
@{


}
<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="CodTipoDocumento">Check List</label>
                @Html.DropDownListFor(m => m.CodCheckListNome, new SelectList(ViewBag.checkListNome, "value", "key", Model.CodCheckListNome), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodCheckListNome)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="CodBanco">Banco</label>
                @Html.DropDownListFor(m => m.CodBanco, new SelectList(ViewBag.ListaBanco, "value", "key", Model.CodBanco), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodBanco)
            </div> <!-- /.form-group -->
        </div>
        <div id="divDocumento" class="col-sm-3" style="display:none">
            <div class="form-group-sm">
                <label for="CodTipoDocumento">Tipo Documento</label>
                @Html.TextBoxFor(m => m.Documento, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Documento)
            </div> <!-- /.form-group -->
        </div>
        <div id="divTipoDocumento" class="col-sm-3">
            <div class="form-group-sm">
                <label for="Documento">Tipo Documento</label>
                @Html.DropDownListFor(m => m.CodTipoDocumento, new SelectList(ViewBag.ListaTipoDocumento, "value", "key", Model.CodTipoDocumento), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodTipoDocumento)
            </div> <!-- /.form-group -->
        </div>
        <div id="divEstadoCivil" class="col-sm-3">
            <div class="form-group-sm">
                <label for="Documento">Estado Civil</label>
                @Html.DropDownListFor(m => m.EstadoCivil, new SelectList(ViewBag.ListaEstadoCivil, "value", "key", Model.EstadoCivil), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.EstadoCivil)
            </div> <!-- /.form-group -->
        </div>
        <div id="divCategoriaProfissional" class="col-sm-3">
            <div class="form-group-sm">
                <label for="Documento">Categoria Profissional</label>
                @Html.DropDownListFor(m => m.CategoriaProfissional, new SelectList(ViewBag.ListaCategoriaProfissional, "value", "key", Model.CategoriaProfissional), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CategoriaProfissional)
            </div> <!-- /.form-group -->
        </div>
        <div id="divFgts" class="col-md-1">
            <div class="form-group-sm " style="">
                <label>FGTS</label><br />
                @Html.DropDownListFor(m => m.Fgts, new SelectList(ViewBag.SimNao, "value", "key"), new { @class = "form-control input-silver", @style = "margin-bottom:10px !important;" })
            </div>
        </div>
        <div id="divCartaoCredito" class="col-md-1">
            <div class="form-group-sm " style="">
                <label>Cartao Credito</label><br />
                @Html.DropDownListFor(m => m.CartaoCredito, new SelectList(ViewBag.SimNao, "value", "key"), new { @class = "form-control input-silver", @style = "margin-bottom:10px !important;" })
            </div>
        </div>
        <div id="divAplicacaoFinanceira" class="col-md-1">
            <div class="form-group-sm " style="">
                <label>Aplic. Financeira</label><br />
                @Html.DropDownListFor(m => m.AplicacaoFinanceira, new SelectList(ViewBag.SimNao, "value", "key"), new { @class = "form-control input-silver", @style = "margin-bottom:10px !important;" })
            </div>
        </div>
        <div id="divAluguel" class="col-md-1">
            <div class="form-group-sm " style="">
                <label>Aluguel</label><br />
                @Html.DropDownListFor(m => m.Aluguel, new SelectList(ViewBag.SimNao, "value", "key"), new { @class = "form-control input-silver", @style = "margin-bottom:10px !important;" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group-sm " style="">
                <label>Obrigatorio</label><br />
                @Html.DropDownListFor(m => m.Obrigatorio, new SelectList(ViewBag.Obrigatorio, "value", "key"), new { @class = "form-control input-silver", @style = "margin-bottom:10px !important;" })

            </div>
        </div>
    </div>
    <!-- /.form-group -->
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
        <div class="col-sm-12">
            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</form>