﻿@model Cobranca.Db.Models.TabelaCheckList
@{
    //ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";

}
<div class="panel panel-body box-shadon">
    <div class="layout layout-stack-sm layout-main-left">
        <div class="col-md-12">
            <div class="portlet portlet-default">
                <div class="portlet-header">
                    <div class="heading-block">
                        <ul class="breadcrumb">
                            <li class=""><a href="@Url.Action("Index")">Check List - Documento</a></li>
                            <li class="active">Cadastro</li>
                        </ul>
                    </div>
                </div>
                <div class="portlet-body">
                    @Html.Partial("_form", Model)
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function excluir() {
            if (confirm("Confirma excluir o registro?")) {
                $.ajax({
                    url: '@Url.Action("Excluir")',
                    data: { id: $("#Cod").val() },
                    type: 'post',
                    dataType: 'json'
                }).success(function (result) {
                    document.location = '@Url.Action("index")';
                });
            }
        }
        $(document).ready(function () {
            //$("#Fgts").bootstrapSwitch({ onText: 'Sim', offText: 'Não', onColor: 'primary' });
            //$("#CartaoCredito").bootstrapSwitch({ onText: 'Sim', offText: 'Não', onColor: 'primary' });
            //$("#AplicacaoFinanceira").bootstrapSwitch({ onText: 'Sim', offText: 'Não', onColor: 'primary' });
            //$("#Aluguel").bootstrapSwitch({ onText: 'Sim', offText: 'Não', onColor: 'primary' });
            //$("#Obrigatorio").bootstrapSwitch({ onText: 'Sim', offText: 'Não', onColor: 'primary' });
            verificaTipoCheckList();
            $("#CodCheckListNome").change(function () {
                verificaTipoCheckList();
            });
        });
        function cancelar() {
            document.location = '@Url.Action("index")';
        }
        function verificaTipoCheckList() {
            var cod = $("#CodCheckListNome").val();
            $.ajax({
                url: '@Url.Action("ObterTipoCheckList", "CheckListNome")',
                type: 'post',
                dataType: 'json',
                data: { CodTabelaCheckListNome: cod }
            }).success(function (resultado) {
                if (resultado.OK) {
                    if (resultado.InfoTabelaCheckListNome.tipo == 2) {
                        $('#divEstadoCivil, #divFgts, #divCategoriaProfissional, #divCartaoCredito, #divAplicacaoFinanceira, #divAluguel, #divDocumento').hide().val('').removeAttr('checked').removeAttr('selected');
                        $('#divTipoDocumento').fadeIn("slow");
                    }
                    else {
                        $('#divEstadoCivil, #divFgts, #divCategoriaProfissional, #divCartaoCredito, #divAplicacaoFinanceira, #divAluguel, #divTipoDocumento').show();
                        $('#divDocumento').hide();
                    }
                }
            });
            
        }
    </script>
}