﻿@model Cobranca.Web.Models.CheckListConsultaViewModel
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";

    List<Cobranca.Db.Models.TabelaCheckList> _listaCheckList = new List<Cobranca.Db.Models.TabelaCheckList>();
    if (ViewBag.ListaChecklist != null)
    {
        _listaCheckList = (List<Cobranca.Db.Models.TabelaCheckList>)ViewBag.ListaChecklist;
    }
}





<div>
    <ul class="nav nav-tabs nav-junix" role="tablist">
        <li role="presentation" class=""><a href="@Url.Action("Index","CheckListNome")">CheckList</a></li>
        <li role="presentation" class="active"><a href="@Url.Action("lista", "CheckListDocumento")">Documentos</a></li>
        <li role="presentation" class=""><a href="@Url.Action("Index","CheckListEmpreendimento")">CheckList x Empreendimento</a></li>
    </ul>
    <div class="panel panel-body box-shadon">
        <form method="post" id="form-filtro-check" target="_self">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-block no-margin-botton">
                        <h6 style="margin-bottom:0; font-weight: 600;"><i class="fa fa-filter"></i>&nbsp;Filtrar</h6>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-3 col-md-2" style="padding:0 4px 0 15px">
                    <div class="form-group-sm">
                        <label>
                            CheckList
                        </label>
                        @Html.DropDownList("codCheckListNome", new SelectList(ViewBag.ListaTabelaCheckListNome, "value", "key", Model.codCheckListNome), new { @class = "form-control input-silver", @style = "margin-bottom:10px !important;", @data_name = "dropFiltro" })
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-1" style="padding:0 4px 0 4px">
                    <div class="form-group-sm">
                        <label>
                            Banco
                        </label>
                        @Html.DropDownList("CodBanco", new SelectList(ViewBag.ListaBanco, "value", "key", Model.codBanco), new { @class = "form-control input-silver", @style = "margin-bottom:10px !important;", @data_name = "dropFiltro" })
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2" style="padding:0 4px 0 4px">
                    <div class="form-group-sm">
                        <label>
                            Estado Civil
                        </label>
                        @Html.DropDownList("EstadoCivil", new SelectList(ViewBag.ListaEstadoCivil, "value", "key", Model.estadoCivil), new { @class = "form-control input-silver", @style = "margin-bottom:10px !important;", @data_name = "dropFiltro" })
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2" style="padding:0 4px 0 4px">
                    <div class="form-group-sm">
                        <label>
                            Categoria Profissional
                        </label>
                        @Html.DropDownList("CategoriaProfissional", new SelectList(ViewBag.ListaCategoriaProfissional, "value", "key", Model.categoriaProfissional), new { @class = "form-control input-silver", @style = "margin-bottom:10px !important;", @data_name = "dropFiltro" })
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-1" style="padding:0 4px 0 4px">
                    <div class="form-group-sm">
                        <label>
                            FGTS
                        </label>
                        @Html.DropDownList("Fgts", new SelectList(ViewBag.SimNao, "value", "key", Model.fgts), new { @class = "form-control input-silver", @style = "margin-bottom:10px !important;", @data_name = "dropFiltro" })
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-1" style="padding:0 4px 0 4px">
                    <div class="form-group-sm">
                        <label>
                            Cartao Crédito
                        </label>
                        @Html.DropDownList("CartaoCredito", new SelectList(ViewBag.SimNao, "value", "key", Model.cartaoCredito), new { @class = "form-control input-silver", @style = "margin-bottom:10px !important;", @data_name = "dropFiltro" })
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-1" style="padding:0 4px 0 4px">
                    <div class="form-group-sm">
                        <label>
                            Aplic. Financeira
                        </label>
                        @Html.DropDownList("AplicacaoFinanceira", new SelectList(ViewBag.SimNao, "value", "key", Model.aplicacaoFinanceira), new { @class = "form-control input-silver", @style = "margin-bottom:10px !important;", @data_name = "dropFiltro" })
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-1" style="padding:0 4px 0 4px">
                    <div class="form-group-sm">
                        <label>
                            Alugueis
                        </label>
                        @Html.DropDownList("Aluguel", new SelectList(ViewBag.SimNao, "value", "key", Model.aluguel), new { @class = "form-control input-silver", @style = "margin-bottom:10px !important;", @data_name = "dropFiltro" })
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-1" style="padding:0 15px 0 4px">
                    <div class="form-group-sm">
                        <label>
                            Obrigatório
                        </label>
                        @Html.DropDownList("Obrigatorio", new SelectList(ViewBag.SimNao, "value", "key", Model.obrigatorio), new { @class = "form-control input-silver", @style = "margin-bottom:10px !important;", @data_name = "dropFiltro" })
                    </div>
                </div>

            </div>
        </form>
        <div class="row" style="margin-top:15px;">
            <div class="col-md-12">
                <div class="heading-block no-margin-botton">
                    <h6 style="margin-bottom:0; font-weight: 600;"><i class="fa fa-file-text-o"></i>&nbsp;Documentos</h6>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2">
                <div class="form-group-sm">
                    <a href="@Url.Action("Cadastro",new{id = 0})" class="btn btn-sm btn-primary pull-left margin-top-22" style="width:100%;"><i class="fa fa-plus"></i> Adicionar</a>
                </div>
            </div>
            <div class="col-sm-12">
                <table class="table table-bordered data-table table-condensed">
                    <thead>
                        <tr>
                            <th style="width:22px; padding:2px; text-align:center;">
                            <th class="text-center">Check List</th>
                            <th class="text-center">Tipo Documento</th>
                            @*<th class="text-center">Documento</th>*@
                            <th class="text-center">Banco</th>
                            <th class="text-center">Estado Civil</th>
                            <th class="text-center">Categoria Profissional</th>
                            <th class="text-center">Fgts</th>
                            <th class="text-center">Cartao Credito</th>
                            <th class="text-center">Aplicacao Financeira</th>
                            <th class="text-center">Aluguel</th>
                            <th class="text-center">Obrigatorio</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in _listaCheckList.OrderBy(x => x.CodCheckListNome))
                        {
                            <tr>
                                <td style="text-align:center">
                                    @*<a class="btn btn-sm btn-secondary"><i class="fa fa-trash"></i>&nbsp;remover</a>*@
                                    <a class="btn btn-xs btn-primary" href="@Url.Action("cadastro", new { id = item.Cod })"><i class="fa fa-edit"></i></a>
                                </td>
                                <td class="text-center">@item.TabelaCheckListNome.CheckListNome</td>
                                <td class="text-center">@item.TabelaTipoDocumento.TipoDocumento</td>
                                @*<td class="text-center">@item.Documento</td>*@
                                <td class="text-center">@item.TabelaBanco.NomeBanco</td>
                                <td class="text-center">
                                    @Cobranca.Db.Models.EnumeradoresDescricao.EstadoCivil((short)item.EstadoCivil)
                                </td>
                                <td class="text-center">
                                    @Cobranca.Db.Models.EnumeradoresDescricao.CategoriaProfissional((short)item.CategoriaProfissional)
                                </td>
                                <td class="text-center">
                                    @if (item.Fgts == true)
                                    {
                                        <span>Sim</span>

                                    }
                                    else
                                    {
                                        if (item.Fgts == false)
                                        {
                                            <span>Não</span>
                                        }
                                        else
                                        {
                                            <span>--</span>
                                        }

                                    }
                                </td>
                                <td class="text-center">
                                    @if (item.CartaoCredito == true)
                                    {
                                        <span>Sim</span>

                                    }
                                    else
                                    {
                                        if (item.CartaoCredito == false)
                                        {
                                            <span>Não</span>
                                        }
                                        else
                                        {
                                            <span>--</span>
                                        }
                                    }
                                </td>
                                <td class="text-center">
                                    @if (item.AplicacaoFinanceira == true)
                                    {
                                        <span>Sim</span>

                                    }
                                    else
                                    {
                                        if (item.AplicacaoFinanceira == false)
                                        {
                                            <span>Não</span>
                                        }
                                        else
                                        {
                                            <span>--</span>
                                        }
                                    }
                                </td>
                                <td class="text-center">
                                    @if (item.Aluguel == true)
                                    {
                                        <span>Sim</span>

                                    }
                                    else
                                    {
                                        if (item.Aluguel == false)
                                        {
                                            <span>Não</span>
                                        }
                                        else
                                        {
                                            <span>--</span>
                                        }
                                    }
                                </td>
                                <td class="text-center">
                                    @if (item.Obrigatorio == true)
                                    {
                                        <span>Sim</span>

                                    }
                                    else
                                    {
                                        if (item.Obrigatorio == false)
                                        {
                                            <span>Não</span>
                                        }
                                        else
                                        {
                                            <span>--</span>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('select[data-name="dropFiltro"]').change(function () {
                $("#form-filtro-check").submit();
            });
        });

        function incluir() {
            //$("#incluir-form").modal("show");
            document.location = "@Url.Action("Cadastro",new{id = 0})"
        }
        function salvar() {
            var data = $("#form-cliente").serialize();
            $.ajax({
                url: "@Url.Action("Gravar")",
                data: data,
                type: 'post',
                dateTye: 'json'
            }).success(function (result) {
                console.log(result);
                if (result.OK) {
                    document.location.reload(true);
                } else {
                    if (result.Dados) {
                        alert(result.Mensagem);

                        for (var i = 0; i < result.Dados.length; i++) {
                            var erro = result.Dados[i];
                            $("#" + erro.Campo).parent().addClass("has-error");
                            $("[data-valmsg-for='" + erro.Campo + "']").text(erro.Mensagem).show().addClass("text-danger");

                        }
                    }
                }
            });
        }
        function editrar(id) {
            if (id) {
                document.location = id;
            }

        }


    </script>
}
