﻿@model List<Suporte.Db.Models.ChatAtendimento>
@{
    ViewBag.Title = "HistoricoResultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-chat";
}
<div class="portlet portlet-default">
    <div class="portlet-header">
        <h4 class="portlet-title">
            <i class="fa fa-search"></i>
            Histórico de Atendimento > Dados
        </h4>
    </div>
    <div class="portlet-body">
        <div class="row menu-pesquisa" style="margin-bottom:12px;">
            <div class="col-sm-2 ">
                <button onclick="document.location = '@Url.Action("HistoricoPesquisa")'" id="btn-dados" class="btn btn-lg btn-default btn-block">
                    <span class="text-bold"><i class="fa fa-search fa-2x"></i></span>
                    <br />
                    <small>Pesquisa</small>
                </button>
            </div>
            <div class="col-sm-2 ">
                <button onclick="document.location.reload(true);" id="btn-dados" class="btn btn-lg btn-default btn-block btn-primary">
                    <span class="text-bold"><i class="fa fa-list fa-2x"></i></span>
                    <br />
                    <small>Dados</small>
                </button>
            </div>
            <div class="col-sm-2 ">
                <button id="btn-dados" class="btn btn-lg btn-default btn-block  btn-view">
                    <span class="text-bold"><i class="fa fa-file-text-o fa-2x"></i></span>
                    <br />
                    <small>Atendimento</small>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="loading text-center text-silver">
                            <br />
                            <br />
                            <br />
                            <h1><i class="fa fa-spin fa-refresh active"></i></h1>
                            <h1>CARREGANDO</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 area-tabela" style="display:none">
                        <table class="table data-table table-striped table-hover table-bordered">
                            <thead>
                                <tr>

                                    <th>
                                        #
                                    </th>
                                    <th class="visible-xs">
                                        Dados
                                    </th>
                                    <th class="hidden-xs">
                                        Nome
                                    </th>
                                    <th class="hidden-xs">
                                        Empresa
                                    </th>
                                    <th class="hidden-xs">
                                        Email
                                    </th>
                                    <th class="hidden-xs">
                                        Operador
                                    </th>
                                    <th class="hidden-xs">
                                        Avaliação
                                    </th>
                                    <th class="hidden-xs">
                                        Data
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center">
                                            <div class="checkbox" style="padding-left:10px!important;">
                                                <input type="checkbox" id="@item.Id">
                                                <label for="@item.Id" class="data-editable">
                                                    @item.Id.ToString("00000")
                                                </label>
                                            </div>
                                        </td>
                                        <td class="visible-xs">
                                            <b>@item.Nome</b> <br />
                                            <small>Nome: @item.Nome</small><br />
                                            <small>Email: @item.Email</small><br />
                                            <small>Operador: @item.Usuario.Nome </small><br />
                                            <small>Avaliação: @String.Format("{0}", item.ResultadoId.HasValue ? item.ChatAtendimentoResultado.Nome : "Não avaliado") </small><br />
                                            <small>Data: @String.Format("{0:dd/MM/yy HH:mm}", item.DataAtendimento)</small>
                                        </td>
                                        <td class="hidden-xs">
                                            @item.Nome
                                        </td>
                                        <td class="hidden-xs">
                                            @if (item.ClienteId.HasValue)
                                            {
                                                <b> @item.Cliente.Nome</b>
                                            }

                                        </td>
                                        <td class="hidden-xs">
                                            @item.Email
                                        </td>
                                        <td class="hidden-xs">
                                            @item.Usuario.Nome
                                        </td>
                                        <td class="hidden-xs">
                                            @String.Format("{0}", item.ResultadoId.HasValue ? item.ChatAtendimentoResultado.Nome : "Não avaliado")
                                        </td>
                                        <td class="hidden-xs">
                                            @String.Format("{0:dd/MM/yy HH:mm}", item.DataAtendimento)
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        var _id = 0;
        $(document).ready(function () {
            $("button.btn-view").attr("disabled", "disabled");
            $("button.btn-view").click(visualizarRegistro);
            setTimeout(function () {
                $(".loading").hide();
                setTimeout(function () {
                    $(".area-tabela").fadeIn();
                }, 300);
            }, 1000);
        });

        function linhaClick(el) {
            var selecionado = el.attr("checked") == "checked";
            if (selecionado) {
                _id = el.attr("id");
                $("button.btn-view").removeAttr("disabled");
            } else {
                $("button.btn-view").attr("disabled", "disabled");
            }
        }
        function visualizarRegistro() {
            if (_id > 0) {
                document.location = "@Url.Action("HistoricoDetalhe")" + "/" + _id;
            }

        }
    </script>
}
