﻿@model Suporte.Web.Models.ChatPesquisaViewModel
@{
    ViewBag.Title = "HistoricoPesquisa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-chat";
}


<div class="layout layout-stack-sm layout-main-left">
    <div class="col-sm-12 layout-main">
        <div class="portlet portlet-default">
            <div class="portlet-header">
                <h4 class="portlet-title">
                    <i class="fa fa-search"></i>
                    Histórico de Atendimento > Pesquisa
                </h4>
            </div>
            <div class="portlet-body">
                <form id="form-pesquisa" class="form" method="POST" action="@Url.Action("HistoricoResultado")">
                    <div class="row">
                        <div class="col-lg-7 col-md-12">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="Nome" class=""><i class="fa fa-calendar"></i> De:</label>
                                        @Html.TextBoxFor(m => m.DataDe, new { @class = "form-control input-silver", data_mask = "datetime" })
                                        @Html.ValidationMessageFor(m => m.DataDe)
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="Nome" class=""><i class="fa fa-calendar"></i> Até</label>
                                        @Html.TextBoxFor(m => m.DataAte, new { @class = "form-control input-silver ", data_mask = "datetime" })
                                        @Html.ValidationMessageFor(m => m.DataAte)
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="Nome" class=""><i class="fa fa-user"></i> Nome:</label>
                                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control input-silver " })
                                        @Html.ValidationMessageFor(m => m.Nome)
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="Nome" class=""><i class="fa fa-envelope"></i> Email:</label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-silver " })
                                        @Html.ValidationMessageFor(m => m.Email)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="Nome" class=""><i class="fa fa-building"></i> Empresa</label>
                                        @Html.DropDownListFor(m => m.ClienteId, Model.SelectListClientes, new { @class = "form-control input-silver select2" })
                                        @Html.ValidationMessageFor(m => m.ClienteId)
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="Nome" class=""><i class="fa fa-folder"></i> Sistema</label>
                                        @Html.DropDownListFor(m => m.SistemaId, Model.SelectListSistema, new { @class = "form-control input-silver select2" })
                                        @Html.ValidationMessageFor(m => m.SistemaId)
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="UsuarioId" class=""><i class="fa fa-user"></i> Operador</label>
                                        @Html.DropDownListFor(m => m.UsuarioId, Model.SelectListUsuarios, new { @class = "form-control input-silver select2" })
                                        @Html.ValidationMessageFor(m => m.UsuarioId)
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="AtendimentoTipoId" class=""><i class="fa fa-tag"></i> Tipo Atendimento</label>
                                        @Html.DropDownListFor(m => m.AtendimentoTipoId, Model.SelectListTipoAtendimento, new { @class = "form-control input-silver select2" })
                                        @Html.ValidationMessageFor(m => m.AtendimentoTipoId)
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="ResultadoId" class=""><i class="fa fa-check"></i> Avaliação do atendimento:</label>
                                        @Html.DropDownListFor(m => m.ResultadoId, Model.SelectListTipoResultado, new { @class = "form-control input-silver select2" })
                                        @Html.ValidationMessageFor(m => m.ResultadoId)
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                
                               <div class="col-md-12">
                                   <button style="margin-top:22px;" type="button" onclick="$('#form-pesquisa').submit();" class="btn btn-default btn-primary btn-md pull-left"><i class="fa fa-search"></i>&nbsp;CONSULTAR</button>
                               </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">

                                </div>
                                <div class="col-md-9"></div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>





