﻿@model Cobranca.Db.Models.ChatAtendimento
@{
    ViewBag.Title = "HistoricoDetalhe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.HiddenFor(m => m.Id)
<div class="layout layout-stack-sm layout-main-left">
    <div class="col-sm-12 layout-main">
        <div class="portlet portlet-default">
            <div class="portlet-header">
                <h4 class="portlet-title">
                    <i class="fa fa-comments"></i>
                    Atendimento > Detalhe
                </h4>
            </div>
            <div class="portlet-body">
                <div class="row menu-pesquisa" style="margin-bottom:12px;">
                    <div class="col-sm-2 col-xs-4">
                        <button onclick="document.location = '@Url.Action("HistoricoPesquisa")'" id="btn-dados" class="btn btn-lg btn-default btn-block">
                            <span class="text-bold"><i class="fa fa-search fa-2x"></i></span>
                            <br />
                            <small>Pesquisa</small>
                        </button>
                    </div>
                    <div class="col-sm-2  col-xs-4 ">
                        <button onclick=" window.history.back();" id="btn-dados" class="btn btn-lg btn-default btn-block ">
                            <span class="text-bold"><i class="fa fa-list fa-2x"></i></span>
                            <br />
                            <small>Dados</small>
                        </button>
                    </div>
                    <div class=" col-sm-2 col-xs-4">
                        <button id="btn-dados" class="btn btn-lg btn-default btn-block  btn-view btn-primary">
                            <span class="text-bold"><i class="fa fa-file-text-o fa-2x"></i></span>
                            <br />
                            <small>Atendimento</small>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row text-silver">
                                    <div class="col-sm-3">
                                        <label>Data: </label>
                                        <br />
                                        @Model.DataAtendimento
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Encerrado: </label>
                                        <br />
                                        @Model.DataEncerrado
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Operador: </label>
                                        <br />
                                        @Model.Usuario.Nome
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Nome: </label>
                                        <br />
                                        @Model.Nome
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Avaliação: </label>
                                        <br />
                                        @String.Format("{0}", Model.ResultadoId.HasValue ? Model.ChatAtendimentoResultado.Nome : "Não Avaliado")
                                    </div>
                                    <div class="col-sm-9">
                                        <label>Observação da avaliação: </label>
                                        <br />
                                        @String.Format("{0}", !string.IsNullOrEmpty(Model.Descricao) ? Model.Descricao : "--")
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body scrol-slim-chat account-bg" data-height="400px" style="height:500px;padding-left:30px;padding-right:30px;">
                                <div class="row loading animated flipInX" style="display:none">
                                    <div class="col-sm-12 text-center text-primary">
                                        <h1><i class="fa fa-spin fa-refresh fa-refresh fa-4x"></i></h1>
                                        <h3>Carregando..</h3>
                                    </div>
                                </div>
                                <div class="row msg-area" style="display:none">
                                    <div class="col-md-12 msg-modelo chat-msg" style="display:none;">
                                        <div class="col-xs-12 chat-msg-box" style="">
                                            <div class="row">
                                                <small class="col-sm-12 text-justify msg-texto"></small>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <small class="pull-left text-silver" style="font-size:10px;"><i class="fa fa-user"></i> <label class="msg-pessoa"></label></small>
                                                </div>
                                                <div class="col-sm-6">
                                                    <small class="pull-right text-silver" style="font-size:10px;"><i class="fa fa-clock-o"></i> <label class="msg-hora"></label></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 msg-modelo-arquvio chat-msg" style="display:none;" display:none">
                                        <div class="col-xs-12 chat-msg-box" style="">

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <a href="#"><i class="fa fa-file"></i> <label class="text-justify msg-texto">nome do documentos</label></a>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="progress progress-xs">
                                                        <div class="progress-bar"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row msg-arquivo-uploading" style="">
                                                <div class="col-sm-6">
                                                    <i class="fa fa-spin fa-spinner"></i>&nbsp;carregando...
                                                </div>
                                                <div class="col-sm-6">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

@section scripts{
    <script type="text/javascript">
        var _ultimaMSGId = 0;
        var _scroll = 460;
        
        $(document).ready(function () {
            $('.scrol-slim-chat').slimScroll({
                height: "460px",
                start: 'bottom'
            });
            carregarMensagens();
        });
        function showLoading() {
            $(".loading").show();
            $(".msg-area").hide();
        }
        function hideLoading() {
            $(".loading").hide();
            $(".msg-area").show();
        }
        function desativarPanelChat(desativar) {
        }
        function carregarMensagens() {
            showLoading();
            $.ajax({
                url: '@Url.Action("CarregarMensagem")',
                data: { id: $("#Id").val(), ultimaMsgId: _ultimaMSGId },
                type: 'post',
                dataType: 'json'
            }).success(function (dados) {

                for (var i = 0; i < dados.length; i++) {
                    var msg = dados[i];
                    _ultimaMSGId = msg.Id;
                    excreverMensagem(msg.Mensagem, msg.Usuario, msg.Id, msg.Hora, msg.pathArquivo, msg.ArquivoNome);
                }
            }).complete(function () {
                hideLoading();
            });
        }
        function excreverMensagem(mensagem, usuario, id, hora, pathArquivo, NomeArquivo) {
            var elMsg = $(".msg-modelo").clone(true);
            elMsg.attr("data-msg-id", id);
            elMsg.find(".msg-pessoa").text(usuario);

            if (NomeArquivo) {
                var a = $(document.createElement("a"));
                a.attr("href", pathArquivo);
                a.attr("download", "download");
                a.text("Arquivo: " + mensagem);
                elMsg.find(".msg-texto").append(a);
            } else {
                elMsg.find(".msg-texto").text(mensagem);
            }

            elMsg.find(".msg-hora").text(hora);
            $(".msg-area").append(elMsg);
            elMsg.removeClass("msg-modelo");
            elMsg.show();
            $(".msg-area").focus();
            _scroll = _scroll + 20;
            $(".scrol-slim-chat").scrollTop(_scroll);
        }
    </script>
}