﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-chat";

    List<Cobranca.Db.Models.Usuario> _listaOperadores = new List<Cobranca.Db.Models.Usuario>();
    if (ViewBag.ListaOperadores != null)
    {
        _listaOperadores = ViewBag.ListaOperadores;
    }
    List<Cobranca.Db.Models.ChatAtendimento> _listaAtendimento = new List<Cobranca.Db.Models.ChatAtendimento>();
    if (ViewBag.ListaAtendimentos != null)
    {
        _listaAtendimento = ViewBag.ListaAtendimentos;
    }
}



<div class="row">
    <div class="col-sm-2">
        <div class="panel panel-danger">
            <div class="panel-heading" style="padding:6px;">
                <b style="font-size:14px;"><i class="fa fa-warning"></i> Fila de espera</b>
            </div>
            <div class="panel-body"  style="padding:0px;">
                <table class="table table-responsive table-condensed table-hover ">
                    @foreach (var item in _listaAtendimento.Where(x => !x.DataAtendimento.HasValue))
                    {
                        <tr data-id="@item.Cod" style="cursor:pointer;" onclick="carregarAtendimento(@item.Cod)">
                            <td>
                                <i class="fa fa-user"></i> @item.Nome
                            </td>
                            <td>
                                @string.Format("{0:hh}:{0:mm}h", DateTime.Now - item.DataCadastro)
                            </td>

                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="padding:6px;">
                <b style="font-size:14px;"><i class="fa fa-comments"></i> Atendimentos</b>
            </div>
            <div class="panel-body area-btns-atendimento">
                <div class="row">
                    <div class="col-xs-12" id="btn-atendimentos">
                        @foreach (var item in _listaAtendimento.Where(x => x.DataAtendimento.HasValue && x.CodUsuario == Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod && !x.DataEncerrado.HasValue))
                        {
                            <button data-id="@item.Cod" class="btn btn-xs btn-block btn-default pull-left" style="margin-right:4px;" type="button" onclick="carregarAtendimento(@item.Cod)">
                                <i class="fa fa-user fa-2x"></i>
                                <br />
                                <small>@item.Nome</small>

                                @if (item.CodUsuario.HasValue)
                                {
                                    <br />
                                        <small>Corretor: @item.Usuario.Nome</small>
                                }

                                <b style="display:none" class="badge badge-danger animated bounceIn"><i class="fa fa-comment"></i> <span class="msg-nao-lida">0</span> </b>
                            </button>

                        }
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="col-sm-10">
        
        <div class="row">
            <div class="col-md-3">
                <div id="chat-panel" class="panel panel-default">
                    <div class="panel-heading" style="padding:6px;">
                        <b style="font-size:14px;"><i class="fa fa-comments"></i> Atendimento</b>
                    </div>
                    <div class="panel-body scrol-slim-chat" data-height="400px" style="height:500px;">
                        <div class="row loading animated flipInX" style="display:none">
                            <div class="col-sm-12 text-center text-primary">
                                <h1><i class="fa fa-spin fa-refresh fa-refresh fa-4x"></i></h1>
                                <h3>Carregando..</h3>
                            </div>
                        </div>
                        <div class="row msg-area" style="display:none">
                            <div class="col-md-12 msg-modelo chat-msg" style="display:none;">
                                <div class="col-xs-12 chat-msg-box" style="">
                                    <div class="row">
                                        <small class="col-sm-12 text-justify msg-texto"></small>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <small class="pull-left text-silver" style="font-size:10px;"><i class="fa fa-user"></i> <label class="msg-pessoa"></label></small>
                                            <small class="pull-right text-silver" style="font-size:10px;"><i class="fa fa-clock-o"></i> <label class="msg-hora"></label></small>
                                        </div>

                                        <div class="col-sm-12">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 msg-modelo-arquvio chat-msg" style="display:none;" display:none">
                                <div class="col-xs-12 chat-msg-box" style="">

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a href="#"><i class="fa fa-file"></i> <label class="text-justify msg-texto">nome do documentos</label></a>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="progress progress-xs">
                                                <div class="progress-bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row msg-arquivo-uploading" style="">
                                        <div class="col-sm-6">
                                            <i class="fa fa-spin fa-spinner"></i>&nbsp;carregando...
                                        </div>
                                        <div class="col-sm-6">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-xs-12">
                                <input type="text" id="Mensagem" class="form-control input-sm" />
                            </div>
                            <div class="col-xs-12 hide">
                                <button id="btn-enviar-msg" class="btn btn-sm btn-primary btn-atendimento-acao" type="button" onclick="enviarMensgem()"><i class="fa fa-send"></i> Enviar</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <button id="" class="btn btn-atendimento-acao btn-sm btn-default" type="button" onclick="mensagensProntas()"><i class="fa fa-search"></i> Mensagens</button>
                                @*<button id="" class="btn btn-atendimento-acao btn-sm btn-default" type="button"><i class="fa fa-arrow-right"></i> Transferir</button>*@
                                @*<button id="" class="btn btn-atendimento-acao btn-sm btn-default btn-block" type="button"><i class="fa fa-plus"></i> Chamado</button>*@
                                <span id="btn-file" style="float: left; margin-bottom: -4px; margin-right: 4px;" class="btn btn-default fileinput-button btn-sm btn-atendimento-acao">
                                    <i class="fa fa-upload"></i>&nbsp;Anexar
                                    <input class="form-upload" type="file" name="arquivo" id="arquivo" />
                                </span>
                                <button id="btn-finalizar-atendimento" class="btn btn-sm btn-default btn-atendimento-acao" type="button" onclick="finalizarAtendimento()"><i class="fa fa-check"></i> Finalizar</button>
                                <button id="btn-transferir-atendimento" class="btn btn-sm btn-default btn-atendimento-acao" type="button" onclick="transferirAtendimento()"><i class="fa fa-arrow-right"></i> Transferir</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div id="iframe-consulta" class="col-md-12">
                        <div class="panel panel-small">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group-sm">
                                            <label>CPF/CNPJ</label>
                                            <input type="text" class="form-control input-silver" data-mask="inteiro" required="required" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group-sm">
                                            <label>Nº do Contrato</label>
                                            <input type="text" class="form-control input-silver" required="required" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <button onclick="filtrarIframe()" type="button" class="btn btn-sm btn-primary margin-top-18">Filtrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 id="linha-carregando"  class="text-center text-silver" style="display:none">
                        Carregando Aguarde<br />
                        <img src="~/Content/img/spinner.gif" height="50px" />
                    </h2>
                    
                    <div class="col-md-12">
                        <iframe id="iframe-atendimento" style="display:none" src="@Url.Action("Atendimento", "Pesquisa")" frameborder="0" width="100%"></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tpl-modal" class="modal animated zoomInLeft " style="display:none">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <h3 class="modal-title">Chamado</h3>

            </div>
            <div class="modal-body ">
                <div class="modal-tpl-body">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;CANCELAR</button>
                @*<button onclick="" type="button" class="btn btn-secondary btn-save"><i class="fa fa-save"></i>&nbsp;SALVAR</button>*@
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="tpl-modal-transf" class="modal animated zoomInLeft " style="display:none">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <h3 class="modal-title">Transferir o atendimento</h3>

            </div>
            <div class="modal-body ">
                <div class="modal-tpl-body">
                    <table class="table data-table">
                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Atendimentos
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Sair</button>
                @*<button onclick="" type="button" class="btn btn-secondary btn-save"><i class="fa fa-save"></i>&nbsp;SALVAR</button>*@
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts{
    <script type="text/javascript">
        var _scroll = 460;
        var _atendimento = {};
        var _intervalo;
        var _intervaloTabelaOperadores;
        var _ultimaMSGId = 0;
        $(document).ready(function () {
            $("#Mensagem").keypress(function (event) {
                if (event.which == 13) {
                    event.preventDefault();
                    enviarMensgem();
                }
            });
            $('.scrol-slim').slimScroll({
                height: "250px"
            });

            definirScroll();
            definirUpload();
            desativarPanelChat(true);
            //$("iframe").load(function () {
            //    load();
            //});
            $(window).resize(function () {
                ajustarAlturaIframe();
            });
        });
        function ajustarAlturaIframe() {
            $("iframe").height($("iframe").contents().find("body").height() + 40)//ajusta a altura do iframe;
            
        }
        function load() {
            $("#linha-carregando").show();
            $("iframe").hide();
            $("iframe").contents().find("header, .mainnav, #myTab, #tab-espelho-div, #area-tabs").hide();
            $("iframe").contents().find("#espelho-div, #div-proposta-form").addClass("col-md-12").removeClass("col-lg-10 col-md-10 col-sm-8");
            $("iframe").contents().find("body").removeClass("account-bg").css("background", "transparent");
            $("iframe").contents().find(".panel-pesquisa-dados").addClass("iframe-ativo");
            $("iframe").contents().find("#area-script").hide();
            
            ajustarAlturaIframe();
            setTimeout(function () {
                $("#linha-carregando").hide();
                $("iframe").fadeIn();
                ajustarAlturaIframe();
            }, 500)
        }
        function desativarPanelChat(desativar) {
            $(".btn-atendimento-acao").attr("disabled", desativar);
            $("#Mensagem").attr("disabled", desativar);
        }
        function definirScroll() {
            //$('.scrol-slim-chat').slimScroll({ destroy: true });

            $('.scrol-slim-chat').slimScroll({
                height: "460px",
                start: 'bottom'
            });
        }
        function enviarMensgem() {
            if (!_atendimento)
                return;

            if (!_atendimento.Id) {
                return;
            }

            var mensagem = $("#Mensagem").val();
            $("#Mensagem").val("");
            $("#btn-enviar-msg").button("loading");
            $.ajax({
                url: '@Url.Action("EnivarMensagem")',
                data: { id: _atendimento.Id, texto: mensagem },
                type: 'post',
                dataType: 'json'
            }).success(function (resultado) {
                if (resultado) {
                    _ultimaMSGId = resultado.Id;
                    excreverMensagem(resultado.Mensagem, resultado.Usuario, resultado.Id, resultado.Hora);
                }
            }).complete(function () {
                $("#btn-enviar-msg").button("reset");
            });

        }
        function excreverMensagem(mensagem, usuario, id, hora, pathArquivo, NomeArquivo) {
            var elMsg = $(".msg-modelo").clone(true);
            elMsg.attr("data-msg-id", id);
            elMsg.find(".msg-pessoa").text(usuario);

            if (NomeArquivo) {
                var a = $(document.createElement("a"));
                a.attr("href", pathArquivo);
                a.attr("download", "download");
                a.text("Arquivo: " + mensagem);
                elMsg.find(".msg-texto").append(a);
            } else {
                elMsg.find(".msg-texto").text(mensagem);
            }

            elMsg.find(".msg-hora").text(hora);
            $(".msg-area").append(elMsg);
            elMsg.removeClass("msg-modelo");
            elMsg.show();
            $(".msg-area").focus();
            _scroll = _scroll + 20;
            $(".scrol-slim-chat").scrollTop(_scroll);
        }
        function carregarAtendimento(id) {
            pararMonitorarMensagem();
            limparChat();
            showLoading();
            $(".tabela-atendimentos").find("tr[data-id='" + id + "']").hide();
            $.ajax({
                url: '@Url.Action("AbrirAtendimento")',
                data: { id: id },
                type: 'post',
                dataType: 'json'
            }).success(function (resultado) {
                if (resultado) {
                    limparChat();
                    var area = $(".area-btns-atendimento");
                    if (area.find("button[data-id='" + id + "']").length == 0) {
                        resultado.Id = id;
                        addBotaoAtendimento(resultado);
                    }
                    _atendimento = resultado;
                }
            }).complete(function () {
                iniciarChat(_atendimento);
                setarBotaoAtivo(id);
            });
        }
        function addBotaoAtendimento(atendimento) {
            console.log(atendimento);
            var area = $(".area-btns-atendimento");
            area.find("#btn-atendimentos").append(
                                '<button data-id="' + atendimento.Id + '" class="btn btn-default btn-block btn btn-xs btn-default pull-left" type="button" onclick="carregarAtendimento(' + atendimento.Id + ')">'
                                 + '<i class="fa fa-user fa-2x"></i>'
                                  + '<br />'
                                   + '<small>' + atendimento.Nome + '</small>'
                                   + '<br />'
                                   + '<small>Corretor: ' + atendimento.Operador + '</small>'
                                   + '<b style="display:none" class="badge badge-danger animated bounceIn"><i class="fa fa-comment"></i> <span class="msg-nao-lida">0</span> </b>'
                                   + '</button>'
                                   );
        }

        function iniciarChat(dados) {

            monitorarMensagem();
        }
        function monitorarMensagem() {
            _intervalo = setInterval(function () {
                atualizarMensagem();
            }, 2000);
        }
        function pararMonitorarMensagem() {

            clearInterval(_intervalo);
        }
        function atualizarMensagem() {
            pararMonitorarMensagem();
            $.ajax({
                url: '@Url.Action("CarregarMensagem")',
                data: { id: _atendimento.Id, ultimaMsgId: _ultimaMSGId },
                type: 'post',
                dataType: 'json'
            }).success(function (dados) {
                for (var i = 0; i < dados.mensagens.length; i++) {
                    var msg = dados.mensagens[i];
                    _ultimaMSGId = msg.Id;
                    excreverMensagem(msg.Mensagem, msg.Usuario, msg.Id, msg.Data, msg.pathArquivo, msg.ArquivoNome);
                }
                for (var i = 0; i < dados.mensagensNaoLidas.length; i++) {
                    var atendimento = dados.mensagensNaoLidas[i];
                    notificarNovaMensagemNaoLida(atendimento);
                }
            }).complete(function () {
                monitorarMensagem();
                hideLoading();
            }).error(function () {

            });

        }
        function limparChat() {
            _ultimaMSGId = 0;
            $(".msg-area").find("[data-msg-id]").remove();

        }
        function showLoading() {
            desativarPanelChat(true);
            $(".loading").show();
            $(".msg-area").hide();
        }
        function hideLoading() {
            desativarPanelChat(false);
            $(".loading").hide();
            $(".msg-area").show();
        }
        function definirUpload() {
            $(".form-upload").fileupload({
                dataType: 'json',
                url: '@Url.Content("~/Upload/UploadHandler.ashx")',
                ///maxFileSize: 5368709120, // 5GB
                //sequentialUploads: true,
                //limitConcurrentUploads: 1,
                //maxChunkSize: 204800, // 200KB
                //autoUpload: true,//tr
                dropZone: $("body"),
                formData: {
                    Id: $("#Id").val()
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Ocorreu um erro no upload: " + textStatus);
                    return;
                },
                done: function (e, data) {
                    for (var i = 0; i < data.files.length; i++) {
                        var file = data.files[i];
                        console.log("conpletou: " + file.name);
                        enviarMensgemArquvio(file.name);
                    }
                },
                add: function (e, data) {
                    for (var i = 0; i < data.files.length; i++) {
                        var file = data.files[i];
                        //enviarMensgemArquvio(file.name);
                        excreverMensagemTipoArquivo(file.name, "", file.name, "");
                    }
                    data.submit();
                },
                start: function () {
                },
                progress: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    for (var i = 0; i < data.files.length; i++) {
                        var file = data.files[i];
                        var el = $(".msg-uploading[data-msg-id='" + file.name + "']");
                        el.find(".progress").show();
                        el.find(".progress-bar").width(progress + '%');
                        if (progress >= 100) {
                            setTimeout(function () {
                                el.find(".progress").fadeOut("slow");
                                el.find(".msg-arquivo-uploading").fadeOut("slow");
                            }, 1000);
                        }
                    }
                },
                progressall: function (e, data) {

                }
            });
        }
        function excreverMensagemTipoArquivo(nomeArquvio, usuario, id, hora) {
            var elMsg = $(".msg-modelo-arquvio").clone(true);
            elMsg.removeClass("msg-modelo-arquvio");
            elMsg.addClass("msg-uploading");
            elMsg.attr("data-msg-id", id);
            elMsg.find(".msg-pessoa").text(usuario);
            elMsg.find(".msg-texto").text(nomeArquvio);
            elMsg.find(".msg-hora").text(hora);
            $(".msg-area").append(elMsg);
            elMsg.removeClass("msg-modelo");
            elMsg.show();
            $(".msg-area").focus();
            _scroll = _scroll + 20;
            $(".scrol-slim-chat").scrollTop(_scroll);
        }
        function enviarMensgemArquvio(arquivo) {
            if (!_atendimento)
                return;

            if (!_atendimento.Id) {
                return;
            }
            $.ajax({
                url: '@Url.Action("EnivarMensagem")',
                data: { id: _atendimento.Id, texto: arquivo, tp: 2 },
                type: 'post',
                dataType: 'json'
            }).success(function (resultado) {
                if (resultado) {
                    var el = $(".msg-uploading[data-msg-id='" + arquivo + "']");
                    el.addClass("animated fadeOut").fadeOut("slow");

                }
            }).complete(function () {
                $("#btn-enviar-msg").button("reset");
            });

        }
        function mensagensProntas() {
            $.ajax({
                url: '@Url.Action("ListaMensagens", "ChatMensagensPronta")',
                type: 'get',
                dataTyepe: 'html'
            }).success(function (data) {
                var modal = $("#tpl-modal");
                modal.find('.modal-body').text("Frases Prontas");
                modal.find('.modal-body').empty()
                modal.find('.modal-body').empty().append($(data));
                modal.modal({
                    backdrop: 'static',
                    keyboard: false,
                    close: function () {
                        $('.modal-body').empty();
                    }
                }).modal("show");
                modal.find("button.selecionar").click(function () {
                    var texto = $(this).attr("data-frase");
                    $("#Mensagem").val(texto);
                    enviarMensgem();
                    modal.modal("hide");
                    $('.modal-body').empty();
                });
            });
        }
        function finalizarAtendimento() {
            if (confirm("Confirma finalizar o atendimento?")) {
                $.ajax({
                    url: '@Url.Action("Finalizar")',
                    data: { id: _atendimento.Id },
                    type: 'post',
                    dataType: 'json'
                }); success(function (resultado) {
                    pararMonitorarMensagem();
                    document.location.reload(true);
                })
            }
        }
        function setarBotaoAtivo(id) {
            var btn = $("button[data-id='" + id + "']");
            $(".area-btns-atendimento").find("button[data-id]").removeClass("btn-primary").addClass("btn-default");
            btn.removeClass("btn-default").addClass("btn-primary");
            btn.find(".msg-nao-lida").parent().hide();
        }
        function notificarNovaMensagemNaoLida(atendimento) {
            if (atendimento) {
                $(".area-btns-atendimento").find("button[data-id='" + atendimento.AtendimentoId + "']").find(".msg-nao-lida").text(atendimento.Total).parent().show();
            }
        }
        function atualizarTabelaOperadores() {
            //tr-operador
            //tb-operadores-online
            //operador-total-atendimento
            @*$.ajax({
                url: '@Url.Action("")',
                type: 'post',
                dataType: 'get'
            }).success(function () {
            }).complete(function () {

            });*@
        }
        function transferirAtendimento() {
            $.ajax({
                url: '@Url.Action("ObterListaOperadoresOnLine")',
                type: 'post',
                dataType: 'json'
            }).success(function (resultado) {
                //console.log(resultado);
                var conteudo = $("#tpl-modal-transf").find(".table").find("tbody");
                conteudo.empty();
                for (var i = 0; i < resultado.length; i++) {
                    var item = resultado[i];
                    conteudo.append("<tr><td>" + "<button type='button' class='btn btn-sm' onclick='trasnferir(" + item.Id + ")' >Transferir</button>" + "</td><td>" + item.Nome + "</td><td>" + item.TotalAtendimento + "</td></tr>");
                }

            }).complete(function () {
                $("#tpl-modal-transf").modal();
            });
        }
        function trasnferir(id) {
            if (confirm("Confirmar transferir o chamado ?")) {
                pararMonitorarMensagem();
                $("#tpl-modal-transf").modal("hide");
                $.ajax({
                    url: '@Url.Action("TrasnferirAtendimento")',
                    type: 'post',
                    dataType: 'json',
                    data: { AtendimentoId: _atendimento.Id, OperadorId: id }
                }).success(function (resultado) {
                    if (resultado.OK) {
                        document.location.reload(true);
                    }
                });
            }
        }
        function filtrarIframe() {
            $("#iframe-atendimento").show();
            $("#iframe-consulta").hide();
            load();
        }
    </script>
}