﻿@model Cobranca.Db.Models.TabelaParametroSintese
@using Cobranca.Rotinas;
@{
    int codFase = 0;
    if (ViewBag.CodFase != null)
    {
        codFase = (int)ViewBag.CodFase;
    }
}


@Html.Hidden("Cod", Model.Cod)
<div class="margin-top-20">
    <div class="panel-body">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                @if (Model.Cod > 0)
                {
                    <div class="col-lg-12" style="margin-top:10px; margin-bottom:10px;    margin-left: 15px;">
                        <button type="button" class="btn btn-sm btn-default btn-danger" onclick="excluirDePara(@Model.Cod)"><i class="fa fa-trash-o"></i> @Idioma.Traduzir("Excluir")</button>
                    </div>
                }
                <div class="panel panel-sm panel-default">
                    <div class="panel-body">
                        <div class="col-md-6 col-lg-6 col-xs-12">
                            <div class="heading-block">
                                <span> Fluxo <strong>De:</strong></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xs-12">
                            <div class="heading-block">
                                <span> Fluxo <strong>Para:</strong></span>
                            </div>
                        </div>
                        <div class="col-just-left">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group-sm" style="">
                                        <label for="CodFase">@Idioma.Traduzir("Fluxo"):</label>
                                        @Html.DropDownList("CodTipoCobrancaDe", new SelectList(ViewBag.ListaTipoCobranca, "key", "value", Model.CodSinteseDe > 0 ? Model.TabelaSinteseDe.TabelaFase.CodTipoCobranca : 0), new { @class = "form-control", onchange = "carregarFaseDe()" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group-sm" style="">
                                        <label for="CodFase">@Idioma.Traduzir("Status"):</label>
                                        @Html.DropDownList("CodFaseDe", new SelectList(ViewBag.ListaFaseDe, "value", "key", Model.CodSinteseDe > 0 ? Model.TabelaSinteseDe.CodFase : 0), new { @class = "form-control", onchange = "carregarSinteseDe()" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group-sm" style="">
                                        <label for="CodSintese">@Idioma.Traduzir("Resumo"):</label>
                                        @Html.DropDownList("CodSinteseDe", new SelectList(ViewBag.ListaSinteseDe, "value", "key", Model.CodSinteseDe), new { @class = "form-control", data_validate = "required" })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group-sm" style="">
                                        <label for="Observacao">@Idioma.Traduzir("Observação"):</label>
                                        @Html.TextArea("ObservacaoDe", Model.Observacao, new { @class = "form-control input-silver", style = "height:120px!important;", rows = "10", disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-just-center hidden-xs" style="text-align:center; vertical-align:middle; ">
                            <i class="fa fa-exchange" style="margin-top: 92px;"></i>
                        </div>
                        <div class="col-just-right">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group-sm" style="">
                                        <label for="CodFase">@Idioma.Traduzir("Fluxo"):</label>
                                        @Html.DropDownList("CodTipoCobrancaPara", new SelectList(ViewBag.ListaTipoCobranca, "key", "value", Model.CodSintesePara > 0 ? Model.TabelaSintesePara.TabelaFase.CodTipoCobranca : 0), new { @class = "form-control", onchange = "carregarFasePara()" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group-sm" style="">
                                        <label for="CodFase">@Idioma.Traduzir("Status"):</label>
                                        @Html.DropDownList("CodFasePara", new SelectList(ViewBag.ListaFasePara, "value", "key", Model.CodSintesePara > 0 ? Model.TabelaSintesePara.CodFase : 0), new { @class = "form-control", onchange = "carregarSintesePara()", style = "margin-bottom: 5px;" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group-sm" style="">
                                        <label for="CodSintese">@Idioma.Traduzir("Resumo"):</label>
                                        @Html.DropDownList("CodSintesePara", new SelectList(ViewBag.ListaSintesePara, "value", "key", Model.CodSintesePara), new { @class = "form-control", style = "margin-bottom: 5px;" })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group-sm" style="">
                                        <label for="Observacao">@Idioma.Traduzir("Observação"):</label>
                                        @Html.TextArea("Observacao", "", new { @class = "form-control", style = "height:120px!important;margin-bottom: 5px;", rows = "10" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

