﻿@model Cobranca.Db.Models.TabelaParametroSintese
@using Cobranca.Rotinas;
@{
    int codFase = 0;
    if (ViewBag.CodFase != null)
    {
        codFase = (int)ViewBag.CodFase;
    }
}
@Html.HiddenFor(m => m.Cod)

<div class="row">
   
    <div class="col-md-4">
        <div class="form-group-sm" style="">
            <label for="CodFase">@Idioma.Traduzir("Fluxo"):</label>
            @Html.DropDownList("CodTipoCobranca", new SelectList(ViewBag.ListaTipoCobranca, "key", "value", ViewBag.CodTipoCobranca), new { @class = "form-control input-silver", onchange = "carregarFases()" })
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group-sm" style="">
            <label for="CodFase">@Idioma.Traduzir("Status"):</label>
            @Html.DropDownList("CodFase", new SelectList(ViewBag.ListaFase, "value", "key", codFase), new { @class = "form-control input-silver", onchange = "carregarSintese(this)" })
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group-sm" style="">
            <label for="CodSintese">@Idioma.Traduzir("Resumo"):</label>
            @Html.DropDownList("CodSintesePara", new SelectList(ViewBag.ListaSintese, "value", "key", Model.CodSintesePara), new { @class = "form-control input-silver" })
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group-sm" style="">
            <label for="Observacao">@Idioma.Traduzir("Observação"):</label>
            @Html.TextArea("Observacao", Model.Observacao, new { @class = "form-control input-silver" })
        </div>
    </div>
</div>
