﻿@model List<Cobranca.Db.Models.TabelaParametroSintese>
@using Cobranca.Rotinas;
@{
    ViewBag.Title = "ParametroSintese";
}
<style>
    .card-division {
        border-bottom: 1px dashed rgba(0,0,0,.2);
        color: #232323;
        margin: 0 0 10px;
    }

    .no-padding-bootstrap {
        padding-right: 0;
        padding-left: 0;
    }

    .label-dados {
        float: left;
    }

        .label-dados span {
            padding-left: 15px;
        }

        .label-dados strong {
            width: 100%;
            padding-left: 15px;
        }

    .panel-header {
        border-radius: 0;
        box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.75)
    }

        .panel-header.border-blue {
            border-top: 2px solid #5879B4;
        }

        .panel-header.border-green {
            border-top: 2px solid #79b458;
        }

        .panel-header.border-red {
            border-top: 2px solid #b46558;
        }

    .no-panel-radius {
        border-radius: 0 !important;
    }

    .col-padding-5 {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    .heading-block-custom:after {
        padding-right: 15px !important;
    }

    .heading-block-custom:before {
        width: calc(100% - 15px) !important;
    }

    .table {
        margin-bottom: 0;
    }
</style>
<form id="form-parametro-sintese-depara" class="form animated fadeIn card-aulixiar-form" method="POST" action="@Url.Action("SalvarDePara", "ParametroSintese")">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-sm panel-header border-blue">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-5">
                        <div class="form-group-sm" style="">
                            <label for="Etapa">@Idioma.Traduzir("Selecione"):</label>
                            @Html.DropDownList("TipoDePara", new SelectList(ViewBag.ListaDePara, "key", "value", null), new { @class = "form-control input-silver", onchange = "carregarDePara()" })
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="formDePara"></div>
</form>
