﻿@model List<Cobranca.Db.Models.TabelaParametroSintese>
@using Cobranca.Rotinas;
@{
    ViewBag.Title = "ParametroSintese";
}

<form id="formParametroSintese">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="form-group-sm" style="">
                <label for="Etapa">@Idioma.Traduzir("Etapa"):</label>
                @Html.DropDownList("Etapa", new SelectList(ViewBag.ListaEtapaBoleto, "value", "key", 0), new { @class = "form-control input-silver", onchange = "carregarEtapa()" })
            </div>
        </div>
    </div>
    <div id="formEtapa"></div>
</form>
