﻿@model Cobranca.Db.Models.ChatAtendimento
@{
    ViewBag.Title = "Atendimento";
    Layout = "~/Views/Shared/_LayoutChat.cshtml";
}

<div class="row" style="margin-top:14px;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
        <div class="panel panel-default">
            @Html.Hidden("Id", Model.Cod)
            <div class="panel-body">
                <h3>Olá @Model.Nome</h3>
                <h1 class="text-primary"><i class="fa fa-spin fa-refresh fa-3x"></i></h1>
                <h3 class="text-primary status-descricao animated flipInX">Conectando aguarde.</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
@section scripts{
    <script type="text/javascript">
        var _timer;
        $(document).ready(function () {
            carregarFila();
        });
        function carregarFila() {
            _timer = setInterval(getPosicao, 5000);
        }
        function getPosicao() {
            stopTimer();
            $.ajax({
                url: '@Url.Action("PosicaoFilaEsperaAtendimento")',
                data: { id: $("#Id").val() },
                dataType: 'json', type: 'post'
            }).success(function (dados) {
                if (dados) {
                    if (dados.posicao > 0 && !dados.atendimento) {
                        alterarStatus("Aguarde, você é o " + dados.posicao + " na fila de atendimento.")
                        carregarFila();
                    } else {
                        if (dados.posicao == 0 && !dados.atendimento) {
                            alterarStatus("Aguarde você é o proximo a ser atendido!");
                            carregarFila();
                        } else {
                            if (dados.atendimento) {
                                alterarStatus("Abrindo o chat..");
                                setTimeout(function () {
                                    abrirChat();
                                }, 1000);
                            }
                        }
                    }

                }
            }).complete(function () {

            });
        }
        function alterarStatus(texto) {
            if ($(".status-descricao").text() != texto) {
                $(".status-descricao").removeClass("flipInX");
                $(".status-descricao").addClass("flipOutX");
                $(".status-descricao").hide();
                $(".status-descricao").text(texto);
                $(".status-descricao").removeClass("flipOutX");
                $(".status-descricao").addClass("flipInX");
                $(".status-descricao").show();
            }
        }
        function abrirChat() {
            document.location = '@Url.Action("Chat", new { id = Model.Cod })';
        }
        function stopTimer() {
            clearInterval(_timer);
        }
    </script>
}
