﻿@model Cobranca.Db.Models.ChatAtendimento
@{

    Layout = "~/Views/Shared/_LayoutChat.cshtml";
}

<div class="row" style="margin-top:0px;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="padding:0px;">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <b>Atendimento Online - Encerrado</b>
            </div>
            <div class="panel-body">
                <div class="row animated fadeIn">
                    <div class="col-sm-12 text-center">
                        <h3 class="">@Model.Nome, o atendimento foi encerrado, obrigado!</h3>
                    </div>
                </div>
                <form method="post">
                    @Html.Hidden("Id",Model.Cod)

                   
                </form>
                <div class="row">
                
                    <div class="col-xs-12 text-center">
                        <button id="btn-resposta" onclick="fechar()" class="btn  btn-default" type="button"><i class="fa fa-sign-out"></i> Sair</button>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                      
                    </div>
                </div>
            </div>
          
        </div>
    </div>
   
</div>
@section scripts{
    <script type="text/javascript">
        
        function fechar() {
            window.close();
        }
        
    </script>
}



