﻿@model Cobranca.Db.Models.ChatAtendimento
@{

    Layout = "~/Views/Shared/_LayoutChat.cshtml";
}

<div class="row" style="margin-top:0px;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="padding:0px;">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <b>Avaliação do nosso atendimento</b>
            </div>
            <div class="panel-body">
                <div class="row animated fadeIn">
                    <div class="col-sm-12 text-center">
                        <h3 class="text-danger">@Model.Nome, que você achou da qualidade deste atendimento?</h3>
                    </div>
                </div>
                <form method="post">
                    @Html.Hidden("Id",Model.Cod)

                    @foreach (var item in (SelectList)ViewBag.ListaResultados)
                    {
                        if (item.Text != string.Empty)
                        {
                            <div class="well well-sm">
                                <div class="form-group" style="margin-bottom:0px;">
                                    <label>
                                        @Html.RadioButton("ChatAtendimentoResultado", item.Value, new { @class = "" })
                                        @item.Text
                                    </label>
                                </div>
                            </div>
                        }
                        
                    }
                    <div class="well well-sm">
                        <div class="form-group" style="margin-bottom:0px;">
                            @Html.TextAreaFor(m => m.Descricao, new { @class = "form-control", placeholder = "Observações" })
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-xs-6">
                    </div>
                    <div class="col-xs-6">
                        <button id="btn-resposta" onclick="enviarRespota()" class="btn  btn-primary btn-block" type="button">Enviar Resposta</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-link" id="btn-email" onclick="enviarNoEmail()">
                            <i class="fa fa-mail-forward"></i> Enviar esta conversa para o meu email
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        
        function enviarNoEmail() {
            $("#btn-email").button("loading");
            setTimeout(function () {
                $("#btn-email").button("reset");
                alert("Enviado com sucesso")
            }, 3000);
        }

        function enviarRespota() {

            var respostaID = $("input[type='radio']:checked").val();
            if (respostaID > 0) {
                $("#btn-resposta").button("loading");

                $.ajax({
                    url: '@Url.Action("RegistrarOpniao")',
                    data: { id: $("#Id").val(), RespostaId: respostaID, Descricao: $("#Descricao").val() },
                    type: 'post'
                }).success(function (dados) {
                    $("#btn-resposta").button("reset");
                    document.location = "@Url.Action("AtendimentoEncerrado", new { id = Model.Cod })";
                });
            } else {
                alert("Selecione uma opção.")
            }
        }
        
    </script>
}



