﻿@model Cobranca.Db.Models.ChatAtendimento
@{
    ViewBag.Title = "Atendimento";
    Layout = "~/Views/Shared/_LayoutChat.cshtml";
}

<div class="row" style="margin-top:0px">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="padding:0px;">
        <div class="panel panel-default" style="border-radius:0px;">
            <div class="panel-heading  text-center" style="">
                <b><i class="fa fa-comment-o"></i> Atendimento Online / <i class="fa fa-user"></i> @String.Format("{0}", Model.Usuario.Nome) / <i class="fa fa-clock-o"></i> @String.Format("{0:HH:mm:ss}h", Model.DataAtendimento.Value)</b>
                <div class="row" style="display:none">
                    <div class="col-xs-4">
                        <small>Codigo:</small>
                        <br />
                        <small>@String.Format("{0}", Model.Cod)</small>
                    </div>
                    <div class="col-xs-4">
                        <small>Operador:</small>
                        <br />
                        <small>
                            @String.Format("{0}", Model.Usuario.Nome)
                        </small>
                    </div>
                    <div>
                        <small>Data:</small>
                        <br />
                        <small>
                            @String.Format("{0:HH:mm:ss}h", Model.DataAtendimento.Value)
                        </small>
                    </div>
                </div>
                @Html.Hidden("Id",Model.Cod)
                @Html.HiddenFor(m => m.Nome)
            </div>
            <div class="panel-body scrol-slim-chat account-bg" style="overflow-y:scroll;overflow-x:hidden">
                <div class="row loading">
                    <div class="col-md-12 text-center text-silver">
                        <i class="fa fa-spin fa-refresh fa-4x"></i>
                        <h1 class="">Carregando..</h1>
                    </div>
                </div>
                <div class="row msg-area" style="display:none">
                    <div class="col-xs-12 msg-modelo chat-msg" style="display:none;">
                        <div class="col-xs-12 chat-msg-box" style="">
                            <div class="row">
                                <div class="col-xs-12">
                                    <small class="text-justify msg-texto"></small>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <small class="pull-left text-silver" style="font-size:10px;"><i class="fa fa-user"></i> <label class="msg-pessoa"></label></small>
                                </div>
                                <div class="col-sm-6">
                                    <small class="pull-right text-silver" style="font-size:10px;"><i class="fa fa-clock-o"></i> <label class="msg-hora"></label></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 msg-modelo-arquvio chat-msg" style="display:none;" display:none">
                        <div class="col-xs-12 chat-msg-box" style="">

                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="#"><i class="fa fa-file"></i> <label class="text-justify msg-texto">nome do documentos</label></a>
                                </div>
                                <div class="col-sm-12">
                                    <div class="progress progress-xs">
                                        <div class="progress-bar"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row msg-arquivo-uploading" style="">
                                <div class="col-sm-6">
                                    <i class="fa fa-spin fa-spinner"></i>&nbsp;carregando...
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="" style="margin-bottom:10px;">
                    <input type="text" id="Mensagem" class="form-control" />
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <button onclick="finalizarChado()" class="btn btn-sm btn-default btn-block"><i class="fa fa-check"></i> Finalizar</button>
                    </div>
                    <div class="col-xs-4">
                        <span id="btn-file" style="float: left; margin-bottom: -4px; margin-right: 0px;" class="btn btn-default btn-block fileinput-button btn-sm">
                            <i class="fa fa-upload"></i>&nbsp;Anexar
                            <input class="form-upload" type="file" name="arquivo" id="arquivo" />
                        </span>
                    </div>
                    <div class="col-xs-4">
                        <button id="btn-enviar-msg" class="btn btn-sm btn-primary btn-block" type="button" onclick="enviarMensgem()"><i class="fa fa-send"></i> Enviar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
@section scripts{
    <script type="text/javascript">
        var _timer;
        var _ultimaMSGId = 0;
        var _scroll = 460;
        var _atendimento = {};
        $(document).ready(function () {

            $("#Mensagem").keypress(function (event) {
                if (event.which == 13) {
                    event.preventDefault();
                    enviarMensgem();
                }
            });
            setarAlturaChat();
            $(window).resize(function () {
                setarAlturaChat();
            });
            monitorarMensagem();
            definirUpload();
        });
        function setarAlturaChat() {
            var heigth = $(window).height();
            //alert(heigth);
            console.log((heigth - 158) + "px")
            $(".scrol-slim-chat").height((heigth - 158) + "px");
            //$('.scrol-slim-chat').slimScroll({
            //    height: (heigth - 158) + "px",
            //    start: 'bottom'
            //});
        }
        function stopTimer() {
            clearInterval(_timer);
        }
        function enviarMensgem() {
            var mensagem = $("#Mensagem").val();
            $("#Mensagem").val("");
            $("#btn-enviar-msg").button("loading");
            $.ajax({
                url: '@Url.Action("EnivarMensagem")',
                data: { id: $("#Id").val(), texto: mensagem },
                type: 'post',
                dataType: 'json'
            }).success(function (resultado) {
                if (resultado) {
                    _ultimaMSGId = resultado.Id;
                    excreverMensagem(resultado.Mensagem, $("#Nome").val(), resultado.Id, resultado.Hora);
                }
            }).complete(function () {
                $("#btn-enviar-msg").button("reset");
            });

        }
        function excreverMensagem(mensagem, usuario, id, hora, pathArquivo, NomeArquivo) {
            var elMsg = $(".msg-modelo").clone(true);
            elMsg.attr("data-msg-id", id);
            elMsg.find(".msg-pessoa").text(usuario);

            if (NomeArquivo) {
                var a = $(document.createElement("a"));
                a.attr("href", pathArquivo);
                a.attr("download", "download");
                a.text("Arquivo: " + mensagem);
                elMsg.find(".msg-texto").append(a);
            } else {
                elMsg.find(".msg-texto").text(mensagem);
            }

            
            elMsg.find(".msg-hora").text(hora);
            $(".msg-area").append(elMsg);
            elMsg.removeClass("msg-modelo");
            elMsg.show();
            $(".msg-area").focus();
            _scroll = _scroll + 20;
            $(".scrol-slim-chat").scrollTop(_scroll);
        }
        function monitorarMensagem() {
            _timer = setInterval(function () {
                atualizarMensagem();
            }, 2000);
        }
        function atualizarMensagem() {
            stopTimer();
            $.ajax({
                url: '@Url.Action("CarregarMensagem")',
                data: { id: $("#Id").val(), ultimaMsgId: _ultimaMSGId },
                type: 'post',
                dataType: 'json'
            }).success(function (dados) {
                for (var i = 0; i < dados.length; i++) {
                    var msg = dados[i];
                    _ultimaMSGId = msg.Id;
                    excreverMensagem(msg.Mensagem, msg.Usuario, msg.Id, msg.Hora, msg.pathArquivo, msg.ArquivoNome);
                    $(".loading").hide();
                    $(".msg-area").show();
                }
            }).complete(function () {
                monitorarMensagem();
            });

        }
        function finalizarChado() {
            var id = $("#Id").val();
            $.ajax({
                url: '@Url.Action("FinalizarAtendimento")',
                dataType: 'json',
                type: 'post',
                data: { id: id }
            }).success(function (resultado) {
                if (resultado) {
                    document.location = '@Url.Action("AvaliacaoAtendimento", new { id = Model.Cod })';
                }
            });
        }
        function definirUpload() {
            $(".form-upload").fileupload({
                dataType: 'json',
                url: '@Url.Content("~/Upload/UploadHandler.ashx")',
                maxFileSize: 5368709120, // 5GB
                sequentialUploads: true,
                limitConcurrentUploads: 1,
                maxChunkSize: 204800, // 200KB
                //autoUpload: true,//tr
                dropZone: $("body"),
                formData: {
                    Id: $("#Id").val()
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Ocorreu um erro no upload: " + textStatus);
                    return;
                },
                done: function (e, data) {
                    for (var i = 0; i < data.files.length; i++) {
                        var file = data.files[i];                        
                        enviarMensgemArquvio(file.name);
                    }
                },
                add: function (e, data) {
                    for (var i = 0; i < data.files.length; i++) {
                        var file = data.files[i];
                        //enviarMensgemArquvio(file.name);
                        excreverMensagemTipoArquivo(file.name, "", file.name, "");
                    }
                    data.submit();
                },
                start: function () {
                },
                progress: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    for (var i = 0; i < data.files.length; i++) {
                        var file = data.files[i];
                        var el = $(".msg-uploading[data-msg-id='" + file.name + "']");
                        el.find(".progress").show();
                        el.find(".progress-bar").width(progress + '%');
                        if (progress >= 100) {
                            setTimeout(function () {
                                el.find(".progress").fadeOut("slow");
                                el.find(".msg-arquivo-uploading").fadeOut("slow");
                            }, 1000);
                        }
                    }
                },
                progressall: function (e, data) {

                }
            });
        }
        function excreverMensagemTipoArquivo(nomeArquvio, usuario, id, hora) {
            var elMsg = $(".msg-modelo-arquvio").clone(true);
            elMsg.removeClass("msg-modelo-arquvio");
            elMsg.addClass("msg-uploading");
            elMsg.attr("data-msg-id", id);
            elMsg.find(".msg-pessoa").text(usuario);
            elMsg.find(".msg-texto").text(nomeArquvio);
            elMsg.find(".msg-hora").text(hora);
            $(".msg-area").append(elMsg);
            elMsg.removeClass("msg-modelo");
            elMsg.show();
            $(".msg-area").focus();
            _scroll = _scroll + 20;
            $(".scrol-slim-chat").scrollTop(_scroll);
        }
        function enviarMensgemArquvio(arquivo) {
            
            $.ajax({
                url: '@Url.Action("EnivarMensagem")',
                data: { id: $("#Id").val(), texto: arquivo, tp: 2 },
                type: 'post',
                dataType: 'json'
            }).success(function (resultado) {
                if (resultado) {
                    var el = $(".msg-uploading[data-msg-id='" + arquivo + "']");
                    el.addClass("animated fadeOut").fadeOut("slow");

                }
            }).complete(function () {
                $("#btn-enviar-msg").button("reset");
            });

        }
    </script>
}
