﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutChat.cshtml";
    bool chatOnline = ViewBag.OperadoresOnline == true;
}
<div class="row " style="margin-top:14px;">
    <div class="col-sm-4 hidden-xs"></div>
    <div class="col-sm-4 col-xs-12 text-center">
        <div class="panel panel-default">
            <div class="panel-body no-padding">
                @if (chatOnline)
                {

                    if (ViewBag.ImgOnline != null)
                    {
                        <img onclick="iniciarAtendimento()" id="FotoChatOn" src="@Url.Content("~/Content/img/corretor-online.png")" class="" alt="Suporte Online" style="cursor:pointer" height="100px" width="90%" />
                    }
                    else
                    {

                        @*<h3 class="text-success"><i class="fa fa-life-saver fa-3x"></i></h3>*@
                        <img onclick="iniciarAtendimento()" id="FotoChatOn" src="@Url.Content("~/Content/img/corretor-online.png")" class="" alt="Suporte Online" style="cursor:pointer" height="100px"  />
                        <h3 class="text-success">Atendimento Online</h3>
                        <button id="btn-iniciar-atendimento" class="btn btn-success btn-block" type="button">Iniciar o atentimento online</button>
                    }
                }
                else
                {


                    if (ViewBag.ImgOff != null)
                    {
                        <img id="FotoChatOn" src="@Url.Content(ViewBag.ImgOff)" class="" height="100px" width="200px" />
                    }
                    else
                    {
                        <h3 class="text-danger"><i class="fa fa-life-saver fa-3x"></i></h3>
                        <h3 class="text-dange">Atendimento Offline</h3>
                        <button id="btn-iniciar-off" class="btn btn-primary btn-block" type="button" disabled="disabled">Iniciar o atentimento online</button>
                    }
                }


            </div>
        </div>
    </div>
    <div class="col-sm-4 hidden-xs"></div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                document.location.reload(false);
            }, 20000);
            $("#btn-iniciar-atendimento").click(function () {
                iniciarAtendimento();
            });
        });
        function iniciarAtendimento() {
            window.open("@Url.Action("NovoAtendimento", new { key = ViewBag.Codigo })", "_blank", "toolbar=no, scrollbars=no, resizable=no, top=120, left=500, width=400, height=600");
        }
    </script>
}