﻿@model Cobranca.Db.Models.ChatAtendimento
@{

    Layout = "~/Views/Shared/_LayoutChat.cshtml";
}

<div class="row" style="margin-top:14px;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post">
                    @Html.HiddenFor(m => m.Descricao)                    
                    <div class="form-group">
                        <label>Nome:</label>
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control input-silver", required = "required" })
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-silver", required = "required" })
                    </div>
                    <div class="form-group">
                        <label>Telefone:</label>
                        @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control input-silver", required = "required" })
                    </div>
                    <div class="form-group">
                        <label>Tipo:</label>
                        @Html.DropDownListFor(m => m.Email, (SelectList)ViewBag.ListaTiposSuporte, new { @class = "form-control input-silver", required = "required" })
                    </div>
                    <button id="btn-iniciar-atendimento" class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
                </form>
                
            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
@section scripts{
    <script type="text/javascript">
        @String.Format("{0}", Model.Cod > 0 ? "inciarChat();" : "")
        function inciarChat() {
            document.location = '@Url.Action("Atendimento", new { id = Model.Cod })';
        }
    </script>
}



