﻿@model Cobranca.Db.Models.Historico

@{
//if (Model.Cod == 0) {
//    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
//}

}

<form id="form-cadastro-historico" action="@Url.Action("Cadastro","Historico")" class="form" method="POST">
    <div class="col-md-12">
        <div class="form-group-sm">
            <div id="botoes" style="display:none;">
                <button class="btn btn-primary btn-sm btn-min-width pull-left" type="button" onclick="salvaHistorico()">Salvar</button>
                <button class="btn btn-sm btn-min-width pull-left" type="button" onclick="cancelar()">Cancelar</button>
            </div>
        </div>
    </div>
    @Html.Hidden("CodUsuario", Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod)
    @Html.Hidden("CodCliente", Model.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row col-md-12">
        @*<div class="col-md-4 hide">
                <div class="form-group-sm">
                    <label>
                        Contratos
                    </label>
                    @Html.DropDownList("CodContrato", new SelectList(ViewBag.Contratos, "value", "key", Cobranca.Db.Rotinas.DbRotinas.ConverterParaInt(ViewBag.Contratos)), new { @class = "form-control input-silver", required="required" })
                </div>
            </div>*@
    </div>
    <div class="row col-md-12">
        <div class="col-md-2">
            <div class="form-group-sm">
                <label>Data:</label>
                <b class="form-control input-silver">@DateTime.Now</b>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group-sm">
                <label>
                    Fase
                </label>
                @Html.DropDownList("CodFase", new SelectList(ViewBag.ListaFases, "value", "key", Cobranca.Db.Rotinas.DbRotinas.ConverterParaInt(ViewBag.CodFase)), new { @class = "form-control input-silver", required = "required" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group-sm">
                <label>
                    Sintese
                </label>
                @Html.DropDownList("CodSintese", new SelectList(ViewBag.ListaSintese, "value", "key", Cobranca.Db.Rotinas.DbRotinas.ConverterParaInt(ViewBag.CodSintese)), new { @class = "form-control input-silver", required = "required" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group-sm">
                <label>
                    Motivo atraso
                </label>
                @Html.DropDownList("CodMotivoAtraso", new SelectList(ViewBag.ListaMotivoAtraso, "value", "key", 0), new { @class = "form-control input-silver" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group-sm">
                <label>
                    Resolução
                </label>
                @Html.DropDownList("CodResolucao", new SelectList(ViewBag.ListaResolucao, "value", "key", 0), new { @class = "form-control input-silver" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group-sm">
                <label>
                    Data Agendamento
                </label>
                @Html.TextBox("DataAgenda", Model.DataCadastro, new { @class = "input-silver form-control", data_mask = "datetime" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group-sm">
                <label>
                    Observações
                </label>
                @Html.TextArea("Observacao", "", new { @class = "form-control input-silver", style = "height:80px;" })
            </div>
        </div>
        <div class="col-md-12">
        </div>
    </div>
    <div class="row" id="form-comandos">

        <div class="col-sm-12">
            @if (Model.Cod > 0)
            {
            <button class="btn btn-sm btn-default pull-left" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }
            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</form>
