﻿@model List<Cobranca.Db.Models.Pesquisa.HistoricoDados>
@using Cobranca.Rotinas;
@{
}
<style>
    .dtable-reponsive{
        height:400px;
    }
</style>
<form id="form-list-historico" action="@Url.Action("Cadastro","Historico")" class="form" method="POST">
    <div class="row">
        <div class="col-md-12">
            <div style="max-height:400px">
                <table id="tbHistorico" class="table table-bordered table-order-column table-responsive table-striped table-condensed table-row-border table-compact" style="margin-top:6px;background-color:#fff;">
                    <thead id="dtheader">
                        <tr id="trheader">
                            <th class="text-center filter-date" data-type="datahora" data-name="Data" data-collumn-search="true" data-data="DataDesc" style="min-width:90px;" data-title="@Idioma.Traduzir("Data")"></th>
                            <th class="text-center" data-name="Fase" data-collumn-search="true" data-data="Fase" style="min-width:150px;" data-title="@Idioma.Traduzir("Fase")"></th>
                            <th class="text-center" data-name="Sintese" data-collumn-search="true" data-data="Sintese" style="min-width:220px;" data-title="@Idioma.Traduzir("Sintese")"></th>
                            <th class="text-center" data-name="Motivo" data-collumn-search="true" data-data="Motivo" style="min-width:80px;" data-title="@Idioma.Traduzir("Motivo")"></th>
                            <th class="text-center" data-name="Usuario" data-collumn-search="true" data-data="Usuario" style="min-width:80px;" data-title="@Idioma.Traduzir("Usuário")"></th>
                            <th class="text-center" data-name="Observacao" data-collumn-search="true" data-data="Observacao" style="min-width:330px;" data-title="@Idioma.Traduzir("Observação")"></th>
                            <th class="text-center filter-date" data-type="datahora" data-name="DataAgenda" data-collumn-search="true" data-data="DataAgendaDesc" style="min-width:60px;" data-title="@Idioma.Traduzir("Dt.Agenda")"></th>
                        </tr>
                    </thead>
                    <tr id="tb-loading">
                        <td colspan="7" class="text-center animated fadeIn">
                            <h2><i class="fa fa-spin fa-spinner text-silver"></i> @Idioma.Traduzir("Carregando os dados")</h2>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

</form>
