﻿@model Cobranca.Web.Models.HistoricoViewModel
@using Cobranca.Rotinas;
@{
    //if (Model.Cod == 0) {
    //    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    //}
    List<Cobranca.Db.Models.TabelaMotivoAtraso> _listaMotivo = new List<Cobranca.Db.Models.TabelaMotivoAtraso>();
    if (ViewBag.ListaMotivoAtraso != null)
    {
        _listaMotivo = (List<Cobranca.Db.Models.TabelaMotivoAtraso>)ViewBag.ListaMotivoAtraso;
    }
    List<Cobranca.Db.Models.TabelaSintese> _listaSinese = new List<Cobranca.Db.Models.TabelaSintese>();
    if (ViewBag.ListaSintese != null)
    {
        _listaSinese = (List<Cobranca.Db.Models.TabelaSintese>)ViewBag.ListaSintese;
    }
    List<Cobranca.Db.Models.TabelaFase> listaFase = new List<Cobranca.Db.Models.TabelaFase>();
    if (ViewBag.ListaFases != null)
    {
        listaFase = ViewBag.ListaFases;
    }
}

<form id="form-cadastro-historico" action="@Url.Action("Cadastro","Historico")" class="form" method="POST">
    @Html.Hidden("CodUsuario", Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod)
    @Html.Hidden("ParcelaIds", Model.ParcelaIds)
    @Html.Hidden("CodCliente", Model.CodCliente)
    @Html.Hidden("CodContrato", Model.CodContrato)
    @Html.Hidden("CodParcela", Model.CodParcela)
    @Html.Hidden("CodSintese")
    @Html.Hidden("CodMotivoAtraso")
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row col-md-12">
        @*<div class="col-md-4 hide">
                <div class="form-group-sm">
                    <label>
                        Contratos
                    </label>
                    @Html.DropDownList("CodContrato", new SelectList(ViewBag.Contratos, "value", "key", Cobranca.Db.Rotinas.DbRotinas.ConverterParaInt(ViewBag.Contratos)), new { @class = "form-control input-silver", required="required" })
                </div>
            </div>*@
    </div>
    <div class="row">
        <div class="col-md-6 effect-panel" id="divfaseSintese" style="">
            <div class="" id="fases" role="dialog" style="padding-top:10px;">
                <div class="" role="document">
                    <div class="" role="tablist">
                        <div class="panel-group" id="accordionFase" role="tablist" aria-multiselectable="true" style=" margin-bottom 0;">
                            @foreach (var item in listaFase.Where(x => x.Fase != null).OrderBy(x=> x.CodTipoCobranca).ThenBy(x=> x.Ordem))
                            {
                                
                                <div class="panel panel-small panel-default">
                                    <div class="panel-heading panel-accordion-heading" data-toggle="collapse" data-parent="#accordionFase" data-target="#collapse_@item.Cod">
                                        @if (Cobranca.Web.Rotinas.WebRotinas.ObterVersaoEmpresa() == Cobranca.Db.Models.Enumeradores.VersaoEmpresa.Junix)
                                        {
                                            <h6 class="accordion-toggle" style="margin-bottom:2px; margin-top:2px;">@String.Format("{0} - {1}", Idioma.Traduzir(Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.TabelaTipoCobranca.TipoCobranca)).ToUpper(), Idioma.Traduzir(item.Fase).ToUpper())</h6>
                                        }
                                        else
                                        {
                                            <h6 class="accordion-toggle" style="margin-bottom:2px; margin-top:2px;">@String.Format("{0} ({1})", Idioma.Traduzir(item.Fase), string.Join("/", _listaSinese.Where(x => x.CodFase == (int)item.Cod).Select(x => x.CodigoSinteseCliente).ToList()))</h6>
                                        }
                                    </div>
                                    <div id="collapse_@item.Cod" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_@item.Cod">
                                        <div class="panel-body">
                                            <div class="btn-group-xs btn-group-vertical" style="width:100%;">
                                                @foreach (var stx in _listaSinese)
                                                {
                                                    if (stx.CodFase == (int)item.Cod)
                                                    {
                                                        string elId = string.Format("sintese{0}", stx.Cod);
                                                        if (stx.CodigoSinteseCliente == "EX" || stx.CodigoSinteseCliente == "C4" || stx.CodigoSinteseCliente == "PC" || stx.CodigoSinteseCliente == "PE")
                                                        {
                                                            <a href="" disabled="disabled" onclick="selecionarSintese()" role="tab" style="margin-bottom:5px;" id="sintese-@stx.Cod" data-id="@stx.Cod" data-toggle="tab" class="btn btn-block btn-sm btn-success"> @stx.CodigoSinteseCliente -  @Idioma.Traduzir(stx.Sintese)</a>
                                                        }
                                                        else
                                                        {
                                                            <a href="" onclick="selecionarSintese(this)" role="tab" style="margin-bottom:5px;" id="sintese-@stx.Cod" data-id="@stx.Cod" data-toggle="tab" class="btn btn-block btn-sm btn-success"> @stx.CodigoSinteseCliente -  @Idioma.Traduzir(stx.Sintese)</a>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 animated fadeIn" id="observacao" style="border-left:1px solid #ddd;">
            <div class="row" style="padding-left: 6px;padding-right: 6px;">
                <div class="col-md-12">
                    <label><b>Motivo de Atraso:</b></label>
                    <div class="btn-group-xs btn-group-vertical" style="width:100%;">
                        @foreach (var motivo in _listaMotivo)
                        {
                            string elId = string.Format("motivo{0}", motivo.Cod);
                            <a href="" role="tab" style="margin-bottom:5px;" id="motivo-@motivo.Cod" data-id="@motivo.Cod" onclick="mudaCorMotivo(this)" data-toggle="tab" name="chkMotivo" class="btn btn-block btn-sm btn-default"> @motivo.MotivoAtraso</a>
                        }
                    </div>
                </div>
            </div>
            <div class="row" style="padding-left: 6px;padding-right: 6px;">
                <div class="col-md-12">
                    <div class="form-group-sm" style="width:80%">
                        <label><b>Data Agendamento</b></label>
                        @Html.TextBox("DataAgenda", "", new { @class = "input-silver form-control", @data_formato = "datetime" })
                    </div>
                </div>

            </div>

            <div class="row" style="padding-left: 6px;padding-right: 6px;">
                <div class="col-md-4 hide">
                    <label><b>Resolução:</b></label>
                    @Html.DropDownList("CodResolucao", new SelectList(ViewBag.ListaResolucao, "value", "key", 0), new { @class = "form-control input-silver" })
                </div>

                <div class="col-md-12">
                    <label><b>Observação:</b></label>
                    @Html.TextArea("Observacao", "", new { @class = "form-control input-silver" })
                </div>
            </div>

            @*@Html.DropDownList("CodMotivoAtraso", new SelectList(ViewBag.ListaMotivoAtraso, "value", "key", 0), new { @class = "form-control input-silver" })*@
        </div>
    </div>

    @*<div class="row">
            <div class="col-xs-12 col-md-4 col-lg-3">
                <div class="form-group-sm">
                    <label>Data:</label>
                    <b class="form-control input-silver">@string.Format("{0:dd/MM/yyyy}", DateTime.Now)</b>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="form-group-sm">
                    <label>
                        Fase
                    </label>
                    @Html.DropDownList("CodFase", new SelectList(ViewBag.ListaFases, "value", "key", Cobranca.Db.Rotinas.DbRotinas.ConverterParaInt(ViewBag.CodFase)), new { @class = "form-control input-silver", required = "required" })
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-5">
                <div class="form-group-sm">
                    <label>
                        Sintese
                    </label>
                    @Html.DropDownList("CodSintese", new SelectList(ViewBag.ListaSintese, "value", "key", Cobranca.Db.Rotinas.DbRotinas.ConverterParaInt(ViewBag.CodSintese)), new { @class = "form-control input-silver", required = "required" })
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="form-group-sm">
                    <label>
                        Motivo atraso
                    </label>
                    @Html.DropDownList("CodMotivoAtraso", new SelectList(ViewBag.ListaMotivoAtraso, "value", "key", 0), new { @class = "form-control input-silver" })
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="form-group-sm">
                    <label>
                        Data Agendamento
                    </label>
                    @Html.TextBox("DataAgenda", "", new { @class = "input-silver form-control", data_mask = "datetime" })
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="form-group-sm">
                    <label>
                        Resolução
                    </label>
                    @Html.DropDownList("CodResolucao", new SelectList(ViewBag.ListaResolucao, "value", "key", 0), new { @class = "form-control input-silver" })
                </div>
            </div>

            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="form-group-sm">
                    <label>
                        Observações
                    </label>
                    @Html.TextArea("Observacao", "", new { @class = "form-control input-silver", style = "height:80px;" })
                </div>
            </div>
        </div>*@
</form>


