﻿@model Cobranca.Db.Models.Historico
@{
    ViewBag.Title = "Parcela";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
    List<Cobranca.Db.Models.TabelaSintese> _listaSinese = new List<Cobranca.Db.Models.TabelaSintese>();
    List<Cobranca.Db.Models.TabelaMotivoAtraso> _listaMotivo = new List<Cobranca.Db.Models.TabelaMotivoAtraso>();
    List<Cobranca.Db.Models.TabelaFase> listaFase = new List<Cobranca.Db.Models.TabelaFase>();
    if (ViewBag.ListaTodosMotivos != null)
    {
        _listaMotivo = (List<Cobranca.Db.Models.TabelaMotivoAtraso>)ViewBag.ListaTodosMotivos;
    }
    if (ViewBag.ListaTodasSintese != null)
    {
        _listaSinese = (List<Cobranca.Db.Models.TabelaSintese>)ViewBag.ListaTodasSintese;
    }
    if (ViewBag.ListaFase != null)
    {
        listaFase = ViewBag.ListaFase;
    }
}

<form method="post" id="form-reserva" target="_self">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick='jx.closeModalIframe()'><span aria-hidden="true">&times;</span></button>
                <h4 id="modal-title-iframe" class="modal-title"><i class="fa fa-file-text-o txt-color-darken"></i> Histórico / Parcela</h4>
            </div>
            <div id="conteudo" class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12" id="historico-junix">
                            <div style="min-height:263px; padding:10px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="well well-sm">
                                            <div class="form-group-sm">
                                                <label for="Nome" style="font-size:12px"><b>Parcela: </b></label>
                                                <label data-label-name='nrContrato' style="font-size:12px"></label>
                                                <label for="Nome" style="font-size:12px; margin-left:20px;"><b>Vr Total: </b></label>
                                                <label data-label-name='vrTotal' style="font-size:12px"></label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><b>Status Atendimento:</b></label>
                                        <div class="" id="fases" role="dialog">
                                            <div class="" role="document">
                                                <div class="" role="tablist">
                                                    <div class="panel-group" id="accordionFase" role="tablist" aria-multiselectable="true" style=" margin-bottom 0;">
                                                        @foreach (var item in listaFase.Where(x => x.Fase != null))
                                                        {
                                                            <div class="panel panel-small panel-default">
                                                                <div class="panel-heading panel-accordion-heading" data-toggle="collapse" data-parent="#accordionFase" data-target="#collapse_@item.Cod">
                                                                    <h6 class="accordion-toggle" style="margin-bottom:2px; margin-top:2px;">@item.Fase</h6>
                                                                </div>
                                                                <div id="collapse_@item.Cod" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_@item.Cod">
                                                                    <div class="panel-body">
                                                                        <div class="btn-group-xs btn-group-vertical" style="width:100%;">
                                                                            @foreach (var stx in _listaSinese)
                                                                            {
                                                                                if (stx.CodFase == (int)item.Cod)
                                                                                {
                                                                                    string elId = string.Format("sintese{0}", stx.Cod);
                                                                                    <a href="" onclick="selecionarSintese(this)" role="tab" style="margin-bottom:5px;" id="sintese-@stx.Cod" data-id="@stx.Cod" data-toggle="tab" class="btn btn-block btn-sm btn-success"> @stx.Sintese</a>
                                                                                }
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 animated fadeIn" id="observacao" style="border-left:1px solid #ddd; margin-left:-4px;">
                                        <div class="row" style="padding-left: 6px;padding-right: 6px;">
                                            <label><b>Motivo de Atraso:</b></label>
                                            <div class="btn-group-xs btn-group-vertical" style="width:100%;">
                                                @foreach (var motivo in _listaMotivo)
                                                {
                                                    string elId = string.Format("motivo{0}", motivo.Cod);
                                                    <a href="" role="tab" style="margin-bottom:5px;" id="motivo-@motivo.Cod" data-id="@motivo.Cod" onclick="mudaCorMotivo(this)" data-toggle="tab" name="chkMotivo" class="btn btn-block btn-sm btn-default"> @motivo.MotivoAtraso</a>
                                                }
                                            </div>
                                        </div>
                                        <div class="row" style="padding-left: 6px; padding-right: 6px;">
                                            <div class='col-sm-12'>
                                                <div class="form-group">
                                                    <div class='input-group date' id='datetimepicker1'>
                                                        @Html.TextBox("DataAgenda", "", new { @class = "form-control input-silver", data_mask = "datetimehours2", @style = "margin-bottom: 0;" })
                                                        @Html.ValidationMessage("DataAgenda")
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="">
                                            <div class="row" style="padding-left: 6px;padding-right: 6px;">
                                                @*<div class="col-md-4 hide">
                                                        <label><b>Resolução:</b></label>
                                                        @Html.DropDownList("CodResolucao", new SelectList(ViewBag.ListaResolucao, "value", "key", 0), new { @class = "form-control input-silver" })
                                                    </div>*@
                                                <div class="">
                                                    <label><b>Observação:</b></label>
                                                    @Html.TextArea("ObservacaoHistorico", "", new { @class = "form-control input-silver" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="" role="tablist" id="sinteses">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-3"><button type="submit" class="btn btn-primary btn-block" data-dismiss="modal"><i class="fa fa-save"></i> Salvar</button></div>
                <div class="col-md-3"><button type="button" class="btn btn-default btn-block" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button></div>
            </div>
        </div>

    </div>



</form>







