/*!
 * SmartAdmin - Responsive WebApp
 *
 * Copyright 2014 bootstraphunter.com
 * Designed and built with all the love in the world by @bootstraphunt.
 */


/* ESTILO FULL CALENDAR CUSTOMIZADO*/

.air {
    position: absolute;
    z-index: 5;
    display: block;
    font-size: 14px !important;
    position: absolute !important;
}

.air-bottom {
    bottom: 0;
}

.air-top {
    top: 0;
}

.air-top-right {
    top: 2px;
    right: 4px;
}

.air-top-left {
    top: 3px;
    left: 4px;
}

.air-bottom-left {
    bottom: 0;
    left: 0;
}

.air-bottom-right {
    bottom: 0;
    right: 0;
}


.fc-view > table { /* so dragged elements can be above the view's main element */
    position: relative;
    z-index: 0 !important;
}

.fc-view {
    z-index: 0 !important;
}

.fc .fc-axis { /* .fc to overcome default cell styles */
    width: 50px !important;
    word-wrap: break-word !important;
}


.fc {
    direction: ltr;
    text-align: left;
}

    .fc table {
        border-collapse: collapse;
        border-spacing: 1px;
    }

    .fc td,
    .fc th {
        padding: 0;
        vertical-align: top;
    }

.fc-header td {
    white-space: nowrap;
}

.fc-header-left {
    width: 25%;
    text-align: left;
}

.fc-header-center {
    text-align: center;
}

.fc-header-right {
    width: 25%;
    text-align: right;
}

.fc .fc-header-space {
    padding-left: 10px;
}

.fc-button {
    border-radius: 0 !important;
    color: #333 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
}

    .fc-button:hover {
        color: #333 !important;
        background-color: #e6e6e6 !important;
        border-color: #adadad !important;
    }

.fc-header .fc-button {
    border-radius: 0 !important;
    margin-bottom: 1em;
    vertical-align: top;
    margin-right: -1px;
}

.fc-header .fc-corner-right {
    margin-right: 1px;
}

.fc-header .ui-corner-right {
    margin-right: 0;
}

.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
    z-index: 2;
}

.fc-header .fc-state-down {
    z-index: 3;
}

.fc-header .fc-state-active,
.fc-header .ui-state-active {
    z-index: 4;
}

.fc-content {
    clear: both;
}

.fc-view {
    width: 100%;
    overflow: hidden;
}


.fc-border-separate thead tr th {
    padding: 4px;
    line-height: 1.428571429;
}

.fc-state-highlight {
    background: #ffc;
}

.fc-cell-overlay {
    background: #9cf;
    opacity: .2;
    filter: alpha(opacity=20);
}

.fc-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.fc-state-default {
    border-width: 1px 0;
}

.fc-button-inner {
    position: relative;
    float: left;
    overflow: hidden;
}

.fc-state-default .fc-button-inner {
    border-width: 0 1px;
}

.fc-button-content {
    position: relative;
    float: left;
    height: 1.9em;
    line-height: 1.9em;
    padding: 0 .6em;
    white-space: nowrap;
}

    .fc-button-content .fc-icon-wrap {
        position: relative;
        float: left;
        top: 50%;
    }

    .fc-button-content .ui-icon {
        position: relative;
        float: left;
        margin-top: -50%;
        *margin-top: 0;
        *top: -50%;
    }

.fc-state-default .fc-button-effect {
    position: absolute;
    top: 50%;
    left: 0;
}

    .fc-state-default .fc-button-effect span {
        position: absolute;
        top: -100px;
        left: 0;
        width: 500px;
        height: 100px;
        border-width: 100px 0 0 1px;
        border-style: solid;
        border-color: #fff;
        background: #444;
        opacity: .09;
        filter: alpha(opacity=9);
    }

.fc-state-default,
.fc-state-default .fc-button-inner {
    border-style: solid;
    border-color: #ccc #bbb #aaa;
    background: #F3F3F3;
    color: #000;
}

.fc-state-hover,
.fc-state-hover .fc-button-inner {
    border-color: #999;
}

.fc-state-down,
.fc-state-down .fc-button-inner {
    border-color: #555;
    background: #777;
}

.fc-state-active,
.fc-state-active .fc-button-inner {
    border-color: #555;
    background: #777;
    color: #fff;
}

.fc-state-disabled,
.fc-state-disabled .fc-button-inner {
    color: #999;
    border-color: #ddd;
}

.fc-state-disabled {
    cursor: default;
}

    .fc-state-disabled .fc-button-effect {
        display: none;
    }

.fc-event {
    border-style: solid;
    cursor: default;
    padding: 4px 6px !important;
    border-radius: 0px !important;
    font-weight: normal;
}

.fc-event-draggable,
a.fc-event {
    cursor: pointer;
}

a.fc-event {
    text-decoration: none;
    border-left: 6px solid rgba(0,0,0,.15);
    padding-left: 2px;
    background-color: #34799b !important;
}

.fc-rtl .fc-event {
    text-align: right;
}

.fc-event-skin {
    color: #FFF;
    border-right: none !important;
    cursor: move;
}

.fc-event-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 0;
    overflow: hidden;
}

.fc .ui-resizable-handle {
    display: block;
    position: absolute;
    z-index: 99999;
    overflow: hidden;
    font-size: 300%;
    line-height: 50%;
}

.fc-event-hori {
    border-width: 1px 0;
    margin-bottom: 1px;
}

    .fc-event-hori .ui-resizable-e {
        top: 0 !important;
        right: -3px !important;
        width: 7px !important;
        height: 100% !important;
        cursor: e-resize;
    }

    .fc-event-hori .ui-resizable-w {
        top: 0 !important;
        left: -3px !important;
        width: 7px !important;
        height: 100% !important;
        cursor: w-resize;
    }

    .fc-event-hori .ui-resizable-handle {
        _padding-bottom: 14px;
    }

.fc-corner-left {
    margin-left: 1px;
}

    .fc-corner-left .fc-button-inner,
    .fc-corner-left .fc-event-inner {
        margin-left: -1px;
    }

.fc-corner-right {
    margin-right: 1px;
}

    .fc-corner-right .fc-button-inner,
    .fc-corner-right .fc-event-inner {
        margin-right: -1px;
    }

.fc-corner-top {
    margin-top: 1px;
}

    .fc-corner-top .fc-event-inner {
        margin-top: -1px;
    }

.fc-corner-bottom {
    margin-bottom: 1px;
}

    .fc-corner-bottom .fc-event-inner {
        margin-bottom: -1px;
    }

.fc-corner-left .fc-event-inner {
    border-left: 6px solid rgba(0,0,0,.15);
    padding-left: 2px;
}

.fc-corner-right .fc-event-inner {
    padding-left: 2px;
}

.fc-corner-top .fc-event-inner {
    border-top-width: 1px;
}

.fc-corner-bottom .fc-event-inner {
    border-bottom-width: 1px;
}

.fc-event-skin .fa:before {
    display: block;
    font-size: 14px;
    position: absolute;
    right: 4px;
    top: 3px;
}

table.fc-border-separate {
    border-collapse: separate;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.fc-border-separate td,
.fc-border-separate th {
    border-width: 1px 0 0 1px;
}

    .fc-border-separate td.fc-last,
    .fc-border-separate th.fc-last {
        border-right-width: 1px;
    }

.fc-border-separate tr.fc-last td,
.fc-border-separate tr.fc-last th {
    border-bottom-width: 1px;
}

.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
    border-top-width: 0;
}

.fc-grid th {
    text-align: center;
}

.fc-grid .fc-day-number {
    float: right;
    padding: 0 2px;
}

.fc-grid .fc-other-month .fc-day-number {
    opacity: .3;
    filter: alpha(opacity=30);
}

.fc-grid .fc-day-content {
    clear: both;
    padding: 2px 2px 1px;
}

.fc-grid .fc-event-time {
    font-weight: 700;
}

.fc-rtl .fc-grid .fc-day-number {
    float: left;
}

.fc-rtl .fc-grid .fc-event-time {
    float: right;
}

.fc-agenda table {
    border-collapse: separate;
}

.fc-agenda-days th {
    text-align: center;
}

.fc-agenda .fc-agenda-axis {
    width: 50px;
    padding: 0 4px;
    vertical-align: middle;
    text-align: right;
    white-space: nowrap;
    font-weight: 400;
}

.fc-agenda .fc-day-content {
    padding: 2px 2px 1px;
}

.fc-agenda-days .fc-agenda-axis {
    border-right-width: 1px;
}

.fc-agenda-days .fc-col0 {
    border-left-width: 0;
}

.fc-agenda-allday th {
    border-width: 0 1px;
}

.fc-agenda-allday .fc-day-content {
    min-height: 34px;
    _height: 34px;
}

.fc-agenda-divider-inner {
    height: 2px;
    overflow: hidden;
}

.fc-widget-header .fc-agenda-divider-inner {
    background: #eee;
}

.fc-agenda-slots th {
    border-width: 1px 1px 0;
}

.fc-agenda-slots td {
    border-width: 1px 0 0;
    background: 0 0;
}

    .fc-agenda-slots td div {
        height: 20px;
    }

.fc-agenda-slots tr.fc-slot0 td,
.fc-agenda-slots tr.fc-slot0 th {
    border-top-width: 0;
}

.fc-agenda-slots tr.fc-minor td,
.fc-agenda-slots tr.fc-minor th {
    border-top-style: dotted;
}

    .fc-agenda-slots tr.fc-minor th.ui-widget-header {
        *border-top-style: solid;
    }

.fc-event-vert {
    border-width: 0 1px;
}

    .fc-event-vert .fc-event-content,
    .fc-event-vert .fc-event-head {
        position: relative;
        z-index: 2;
        width: 100%;
        overflow: hidden;
    }

    .fc-event-vert .fc-event-time {
        white-space: nowrap;
        font-size: 10px;
    }

    .fc-event-vert .fc-event-bg {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: .3;
        filter: alpha(opacity=30);
    }

    .fc-event-vert .ui-resizable-s {
        bottom: 0 !important;
        width: 100% !important;
        height: 8px !important;
        overflow: hidden !important;
        line-height: 8px !important;
        font-size: 11px !important;
        font-family: monospace;
        text-align: center;
        cursor: s-resize;
    }

.fc-agenda .ui-resizable-resizing {
    _overflow: hidden;
}

.fc-center h2 {
    left: 5px !important;
}

.fc-header-title {
    display: inline-block;
    vertical-align: top;
}

.fc-toolbar .fc-center h2 {
    text-shadow: 0 1px 0 #fff;
    margin-top: 12px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
}

.fc-toolbar .fc-header-title h2 {
    text-shadow: 0 1px 0 #fff;
    margin-top: -12px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
}

.fc-toolbar {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin-bottom: 0 !important;
    background: #fafafa;
    min-height: 42px;
}



    .fc-toolbar > * > :first-child { /* extra precedence to override button border margins */
        margin-left: 3px !important;
    }

    .fc-toolbar .fc-left {
        margin-top: 12px;
        margin-right: 5px;
    }

    .fc-toolbar .fc-right {
        margin-top: 12px;
        margin-right: 5px;
    }

.fc table,
html .fc {
    font-size: 12px;
}

.dt-header.calender-spacer {
    height: 46px;
    display: block;
}

.jarviswidget #calendar {
    margin-top: -18px;
    margin-bottom: 10px;
}

tr td.fc-first,
tr.fc-first th.fc-first {
    border-left: none;
}

tr.fc-last td {
    border-bottom: none;
}

.fc-time,
.fc-title {
    font-weight: 700;
    box-sizing: border-box;
}

.fc-left h2 {
    left: 5px !important;
}


#calendar-buttons {
    position: absolute;
    right: 14px;
    top: 5px;
}

.dropzone,
td.fc-other-month {
    background-image: -webkit-gradient(linear,left top,right bottom,color-stop(0.25,rgba(0,0,0,.03)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(0,0,0,.03)),color-stop(0.75,rgba(0,0,0,.03)),color-stop(0.75,transparent),to(transparent));
    background-image: -webkit-linear-gradient(135deg,rgba(0,0,0,.03)25%,transparent 25%,transparent 50%,rgba(0,0,0,.03)50%,rgba(0,0,0,.03)75%,transparent 75%,transparent);
    background-image: -moz-linear-gradient(135deg,rgba(0,0,0,.03)25%,transparent 25%,transparent 50%,rgba(0,0,0,.03)50%,rgba(0,0,0,.03)75%,transparent 75%,transparent);
    background-image: -ms-linear-gradient(135deg,rgba(0,0,0,.03)25%,transparent 25%,transparent 50%,rgba(0,0,0,.03)50%,rgba(0,0,0,.03)75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(135deg,rgba(0,0,0,.03)25%,transparent 25%,transparent 50%,rgba(0,0,0,.03)50%,rgba(0,0,0,.03)75%,transparent 75%,transparent);
    background-image: linear-gradient(135deg,rgba(0,0,0,.03)25%,transparent 25%,transparent 50%,rgba(0,0,0,.03)50%,rgba(0,0,0,.03)75%,transparent 75%,transparent);
    background-color: #FAFCFD;
    background-size: 16px 16px;
}

.fc-corner-right .fc-event-inner {
    padding-right: 15px;
}

.btn-select-tick i {
    display: none;
}

.btn-select-tick .btn:hover i {
    opacity: .3;
    display: block;
}

.btn-select-tick .active i {
    display: block;
    opacity: 1 !important;
}

.fc-border-separate thead tr,
.table thead tr {
    background-color: #eee;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#fafafa));
    background-image: -webkit-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -moz-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -ms-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -o-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    font-size: 12px;
}

    .fc-border-separate thead tr th {
        padding: 4px;
        line-height: 1.428571429;
    }


.txt-color-blue {
    color: #57889c !important;
}

.txt-color-blueLight {
    color: #92a2a8 !important;
}

.txt-color-blueDark {
    color: #4c4f53 !important;
}

.txt-color-green {
    color: #356e35 !important;
}

.txt-color-greenLight {
    color: #71843f !important;
}

.txt-color-greenDark {
    color: #496949 !important;
}

.txt-color-red {
    color: #a90329 !important;
}

.txt-color-yellow {
    color: #b09b5b !important;
}

.txt-color-orange {
    color: #b19a6b !important;
}

.txt-color-orangeDark {
    color: #a57225 !important;
}

.txt-color-pink {
    color: #ac5287 !important;
}

.txt-color-pinkDark {
    color: #a8829f !important;
}

.txt-color-purple {
    color: #6e587a !important;
}

.txt-color-darken {
    color: #404040 !important;
}

.txt-color-lighten {
    color: #d5e7ec !important;
}

.txt-color-white {
    color: #fff !important;
}

.txt-color-grayDark {
    color: #525252 !important;
}

.txt-color-magenta {
    color: #6e3671 !important;
}

.txt-color-teal {
    color: #568a89 !important;
}

.txt-color-redLight {
    color: #a65858 !important;
}

.bg-color-blue {
    background-color: #57889c !important;
}

.bg-color-blueLight {
    background-color: #92a2a8 !important;
}

.bg-color-blueDark {
    background-color: #4c4f53 !important;
}

.bg-color-green {
    background-color: #356e35 !important;
}

.bg-color-greenLight {
    background-color: #71843f !important;
}

.bg-color-greenDark {
    background-color: #496949 !important;
}

.bg-color-red {
    background-color: #a90329 !important;
}

.bg-color-yellow {
    background-color: #b09b5b !important;
}

.bg-color-orange {
    background-color: #c79121 !important;
}

.bg-color-orangeDark {
    background-color: #a57225 !important;
}

.bg-color-pink {
    background-color: #ac5287 !important;
}

.bg-color-pinkDark {
    background-color: #a8829f !important;
}

.bg-color-purple {
    background-color: #6e587a !important;
}

.bg-color-darken {
    background-color: #404040 !important;
}

.bg-color-lighten {
    background-color: #d5e7ec !important;
}

.bg-color-white {
    background-color: #fff !important;
}

.bg-color-grayDark {
    background-color: #525252 !important;
}

.bg-color-magenta {
    background-color: #6e3671 !important;
}

.bg-color-teal {
    background-color: #568a89 !important;
}

.bg-color-redLight {
    background-color: #a65858 !important;
}


/*testes*/

.fuelux .wizard .actions .btn-prev i {
    margin-right: 5px;
}

.fuelux .wizard .actions .btn-next i {
    margin-left: 5px;
}

.widget-body-toolbar {
    display: block;
    margin: 1px 1px 13px;
    border: 1px solid #ccc;
    background: #fafafa;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


#calendar-buttons {
    position: absolute;
    right: 15px;
    top: 90px;
}

.ultra-light {
    font-weight: 300 !important;
}

/*new css*/

.fc-basic-view {
    z-index: 0 !important;
}


/*#calendar {
    max-width: 900px;
    margin: 0 auto;
}*/

/*.evento-destacado {
    background-color: #706e70 !important;
    color: #0f0f0f !important;
}*/

    .evento-destacado:hover {
        background-color: #ced8b4 !important;
    }

a.bg-info {
    background-color: #34799b;
}

    a.bg-info:hover {
        background-color: #85aec3;
    }

a.bg-success {
    background-color: #2a7533;
}

    a.bg-success:hover {
        background-color: #699e70;
    }

a.bg-danger {
    background-color: #892424;
}

a.bg-warning {
    background-color: #f06a3b;
}

    a.bg-warning:hover {
        background-color: #f49675 !important;
    }

   .calendario-titulo {
        background-color: #706e70 !important;
        color: #fff !important;
        height: 34px;
        width: auto;
        line-height: 34px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0;
        padding-left: 5px;
        margin-right: 0;
    }

        .calendario-titulo .widget-toolbar {
            display: inline-block;
            float: right;
            width: auto;
            height: 32px;
            line-height: 32px;
            position: relative;
            border-left: 1px solid rgba(0,0,0,.09);
            cursor: pointer;
            padding: 0 8px;
            text-align: center;
        }