﻿@model List<Cobranca.Db.Models.TabelaParametroAtendimento>
@{

    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
}
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-junix" role="tablist">
            <li role="presentation" class="active"><a href="@Url.Action("Estrategia", "TabelaParametroAtendimento")">ESTRATÉGIA</a></li>
            <li role="presentation" class=""><a href="@Url.Action("UsuarioEstrategia", "TabelaParametroAtendimento")">USUÁRIOS X EQUIPE</a></li>
            <li role="presentation" class=""><a href="@Url.Action("CondicaoEstrategia", "TabelaParametroAtendimento")">CONDIÇÃO</a></li>
        </ul>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default" style="border-top:none;border-top-left-radius:initial;">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row area-expantir animated fadeIn " style="">
                            <div class="col-md-12">
                                <div class="tab-content">
                                    <div class="row tab-pane active" role="tabpanel" id="TAB-ESTRATEGIA">
                                        <form method="post" id="form-estrategia">
                                            @Html.Hidden("CodEstrategia")
                                            <div class="col-md-12" id="botao-adicionar">
                                                <button type="button" onclick="exibirElemento($('#div-estrategia'), this)" class="btn btn-sm btn-primary pull-left btn-min-width">Adicionar</button>
                                            </div>
                                            <div class="col-md-12" id="div-estrategia" style="display:none">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <button type="button" onclick="salvarEstrategia()" class="btn btn-sm btn-primary pull-left btn-min-width">Salvar</button>
                                                        <button type="button" onclick="cancelar()" class="btn btn-sm btn-default pull-left btn-min-width">Cancelar</button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Nome Estratégia</label>
                                                        @Html.TextBox("NomeEstrategia", "", new { @class = "form-control input-silver" })
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered data-table table-condensed ">
                                <thead>
                                    <tr>
                                        <th class="col-sm-1 text-center">#</th>
                                        <th class="text-center">Cod</th>
                                        <th class="text-center">Estrategia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ToList())
                                    {
                                        <tr>
                                            <td style="text-align:center">
                                                <a class="btn btn-xs btn-primary" onclick="alterarEstrategia(@item.Cod, '@item.NomeEstrategia')" href="#"><i class="fa fa-pencil"></i></a>
                                            </td>
                                            <td class="text-left">@item.Cod</td>
                                            <td class="text-left">@item.NomeEstrategia</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#TipoAbrangencia").bootstrapSwitch({ onText: 'Usuario', offText: 'Equipe', onColor: 'primary', size: "PJ" });
            $("#TipoAbrangencia").on('switchChange.bootstrapSwitch', function (event, state) {
                if (state) {
                    $("#div-usuario").show();
                    $("#div-equipe").hide();
                } else {
                    $("#div-equipe").show();
                    $("#div-usuario").hide();
                }
                return;
            });
        });
        function exibirElemento(e, id) {
            $(e).show();
            $(id).hide();
        }
        function salvarEstrategia() {
            var Estrategia = $("#NomeEstrategia").val();
            var CodEstrategia = $("#CodEstrategia").val();
            $.ajax({
                url: '@Url.Action("SalvarEstrategia")',
                data: { estrategia: Estrategia, cod: CodEstrategia },
                type: 'post'
            }).success(function (resultado) {
                alert("Cadastro concluido.");
                cancelar();
            })
        }
        function cancelar() {
            document.location.reload(false);
        }
        function alterarEstrategia(cod, estrategia, equipe) {
            debugger
            $("#CodEstrategia").val(cod);
            $("#NomeEstrategia").val(estrategia);
            $("#div-estrategia").show();
            $("#botao-adicionar").hide();
        }
    </script>
}