﻿@model Cobranca.Db.Models.TabelaParametroAtendimento
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
}
<form id="form-condicao-estrategia" method="post">
    @Html.Hidden("CondicaoQuery")
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-junix" role="tablist">
                <li role="presentation" class=""><a href="@Url.Action("CadastroEstrategia", "TabelaParametroAtendimento")">ESTRATÉGIA</a></li>
                <li role="presentation" class=""><a href="@Url.Action("UsuarioEstrategia", "TabelaParametroAtendimento")">USUÁRIOS X EQUIPE</a></li>
                <li role="presentation" class="active"><a href="@Url.Action("CondicaoEstrategia", "TabelaParametroAtendimento")">CONDIÇÃO</a></li>
            </ul>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default" style="border-top:none;border-top-left-radius:initial;">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row area-expantir animated fadeIn " style="">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <div class="row tab-pane active" role="tabpanel" id="TAB-ABRANGENCIA">
                                            <div class="col-md-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <label>Estratégia</label>
                                                                @Html.DropDownList("CodParametroAtendimento", new SelectList(ViewBag.ListaEstrategia, "value", "key", 0), new { @class = "form-control input-silver" })
                                                            </div>
                                                            <div class="col-md-3">
                                                                <button type="button" class="btn btn-sm btn-primary pull-left btn-min-width" style="margin-top:24px" onclick="consultar()">Condições</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div id="popup-condicao">
    <div class="row">
        <div class="modal fade" tabindex="-1" role="dialog" id="modal-form">
            <div class="modal-dialog  modal-lg">
                <form method="post" id="form-reserva" target="_self">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default ">
                                        <div style="margin-top:10px" class="panel-body">
                                            <div class="tab-pane active" role="tabpanel">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h3 class="modal-title">Condições</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-12" id="builder-import_export"></div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" id="btnCancelar" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                                    <button type="button" onclick="salvarQuery()" id="btn-submit" class="btn btn-primary">Confirmar</button>
                                                </div>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-dialog -->
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jq-query-builder/js/jQuery.extendext.min.js"></script>
    <script src="~/Scripts/jq-query-builder/js/doT.min.js"></script>
    <script src="~/Scripts/jq-query-builder/js/query-builder.min.js"></script>
    <script src="~/Scripts/jq-query-builder/js/sql-parser.js"></script>
    <script src="~/Scripts/jq-query-builder/i18n/query-builder.pt-BR.js"></script>
    <script src="~/Scripts/jq-query-builder/sql-s upport/plugin.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.pt-BR.js"></script>
    <script type="text/javascript">
        var _listaTipoCobranca = [];
        var _listaTipoCobrancaAcao = [];
        function consultar() {
            $("#modal-form").modal("show");
            carregarQueryBuilder();
        }
        $(document).ready(function () {
            carregarTiposCobrancaAcao();
            carregarCluster();

        });
        function cancelar() {
            document.location.reload(false);
        }
        function ConsultaQueryBuilder() {
            var cod = $("#CodParametroAtendimento").val();
            $.ajax({
                url: '@Url.Action("ConsultaQueryBuilder")',
                data: { CodParametroAtendimento: cod },
                type: 'post'
            }).success(function (resultado) {
                $("#builder-import_export").queryBuilder('reset');
                $("#builder-import_export").queryBuilder('setRulesFromSQL', resultado.Query)
            })
        }
        function carregarQueryBuilder() {
            ConsultaQueryBuilder();
            setTimeout(function () {
            }, 2000);
            var sql_import_export = $("#form-condicao-estrategia").find("#CondicaoQuery").val();
            $('#builder-import_export').queryBuilder({
                filters: [{
                    id: 'AcaoCobranca',
                    label: 'Ação',
                    type: 'string',
                    input: 'select',
                    values: _listaTipoCobrancaAcao,
                    operators: ['equal', 'not_equal']
                }, {
                    id: 'CodTipoCobranca',
                    label: 'Cluster',
                    type: 'string',
                    input: 'select',
                    values: _listaTipoCobranca,
                    operators: ['equal', 'not_equal']
                    //operators: ['equal', 'not_equal', 'in', 'not_in', 'is_null', 'is_not_null']
                }, {
                    id: 'DiasAtraso',
                    label: 'Dias de atraso',
                    type: 'integer'
                }, {
                    id: 'SaldoDevedor',
                    label: 'Saldo Devedor',
                    type: 'double',
                    validation: {
                        min: 0
                    }
                }
                    , {
                        id: 'ValorAtraso',
                        label: 'Valor em atraso',
                        type: 'double',
                        validation: {
                            min: 0
                        }
                    }]
            });
            if (sql_import_export != "") {
                $('#builder-import_export').queryBuilder('setRulesFromSQL', sql_import_export);
            }
        }
        function salvarQuery() {
            var query = $("#builder-import_export").queryBuilder('getSQL', false, true);
            var estrategia = $("#CodParametroAtendimento").val();
            $.ajax({
                url: '@Url.Action("SalvarQuery")',
                data: { CodEstrategia: estrategia, Query: query.sql },
                type: 'post'
            }).success(function (resultado) {
                alert("Cadastro concluido.");
                cancelar();
            })
        }
        function carregarCluster() {
            $.get("@Url.Action("CarregarTiposCobranca")", function (dados) {
                _listaTipoCobranca = [];
                for (var i = 0; i < dados.length; i++) {
                    var item = dados[i];
                    _listaTipoCobranca.push(item.Value);
                }
            });
        }
        function carregarTiposCobrancaAcao() {
            $.get("@Url.Action("CarregarTiposCobrancaAcao")", function (dados) {
                _listaTipoCobrancaAcao = [];
                for (var i = 0; i < dados.length; i++) {
                    var item = dados[i];
                    _listaTipoCobrancaAcao.push(item.Value);
                }
            });
        }
    </script>
}