﻿@model List<Cobranca.Db.Models.TabelaParametroAtendimentoUsuario>
@{

    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
}
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-junix" role="tablist">
            <li role="presentation" class=""><a href="@Url.Action("CadastroEstrategia", "TabelaParametroAtendimento")">ESTRATÉGIA</a></li>
            <li role="presentation" class="active"><a href="@Url.Action("UsuarioEstrategia", "TabelaParametroAtendimento")">USUÁRIOS X EQUIPE</a></li>
            <li role="presentation" class=""><a href="@Url.Action("CondicaoEstrategia", "TabelaParametroAtendimento")">CONDIÇÃO</a></li>
        </ul>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default" style="border-top:none;border-top-left-radius:initial;">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row area-expantir animated fadeIn " style="">
                            <div class="col-md-12">
                                <div class="tab-content">
                                    <div class="row tab-pane active" role="tabpanel" id="TAB-ABRANGENCIA">
                                        @Html.Hidden("CodVinculo")
                                        <div class="col-md-12" id="botao-adicionar">
                                            <button type="button" onclick="exibirElemento($('#div-abrangencia'), this)" class="btn btn-sm btn-primary pull-left btn-min-width">Adicionar</button>
                                        </div>
                                        <form method="post" id="form-abrangencia">
                                            <div class="col-md-12" id="div-abrangencia" style="display:none">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <button type="button" onclick="salvarAbrangencia()" class="btn btn-sm btn-primary pull-left btn-min-width">Salvar</button>
                                                        <button type="button" onclick="cancelar()" class="btn btn-sm btn-default pull-left btn-min-width">Cancelar</button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label>Estratégia</label>
                                                        @Html.DropDownList("CodParametroAtendimento", new SelectList(ViewBag.ListaEstrategia, "value", "key", 0), new { @class = "form-control input-silver" })
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>Equipe X Usuário</label><br />
                                                        @Html.CheckBox("TipoAbrangencia")
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div id="div-equipe">
                                                        <div class="col-md-3">
                                                            <label>Equipe</label>
                                                            @Html.DropDownList("CodEquipe", new SelectList(ViewBag.ListaEquipe, "value", "key", 0), new { @class = "form-control input-silver" })
                                                        </div>
                                                    </div>
                                                    <div id="div-usuario" style="display:none">
                                                        <div class="col-md-3">
                                                            <label>Usuário</label>
                                                            @Html.DropDownList("CodUsuario", new SelectList(ViewBag.ListaUsuario, "value", "key", 0), new { @class = "form-control input-silver" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="col-md-12">
                                            <table class="table table-bordered data-table table-condensed ">
                                                <thead>
                                                    <tr>
                                                        @*<th class="col-sm-1 text-center">#</th>*@
                                                        <th class="text-center">Equipe</th>
                                                        <th class="text-center">Nome</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.ToList())
                                                    {
                                                        <tr>
                                                            @*<td style="text-align:center">
                                                                @*<a class="btn btn-xs btn-primary" onclick="alterarUsuario(@item.Cod, @item.CodEquipe, @item.CodUsuario)" href="#"><i class="fa fa-pencil"></i></a>
                                                            </td>*@
                                                            @if (item.CodEquipe != null && item.CodEquipe > 0)
                                                            {
                                                                <td class="text-left">@item.TabelaEquipe.Equipe</td>
                                                                <td class="text-left">--</td>
                                                            }
                                                            else
                                                            {
                                                                <td class="text-left">--</td>
                                                                <td class="text-left">@item.Usuario.Nome</td>
                                                            }
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#TipoAbrangencia").bootstrapSwitch({ onText: 'Usuario', offText: 'Equipe', onColor: 'primary', size: "PJ" });
            $("#TipoAbrangencia").on('switchChange.bootstrapSwitch', function (event, state) {
                if (state) {
                    $("#div-usuario").show();
                    $("#div-equipe").hide();
                } else {
                    $("#div-equipe").show();
                    $("#div-usuario").hide();
                }
                return;
            });
        });
        function exibirElemento(e, id) {
            $(e).show();
            $(id).hide();
        }
        function salvarAbrangencia() {
            var dados = $("#form-abrangencia").serialize();
            $.ajax({
                url: '@Url.Action("SalvarAbrangencia")',
                data: dados,
                type: 'post'
            }).success(function (resultado) {
                alert("Cadastro concluido.");
                cancelar();
            })
        }
        function cancelar() {
            document.location.reload(false);
        }
        function alterarUsuario(cod, equipe, usuario) {
            debugger
            $("#CodVinculo").val(cod);

            $("#NomeEstrategia").val(estrategia);
            $("#div-abrangencia").show();
            $("#botao-adicionar").hide();
        }
    </script>
}
