﻿@model Cobranca.Domain.BoletoContext.Queries.BoletoAvulsoQueryResult
@using Cobranca.Rotinas;
@using Cobranca.Helpers;
@{
}
<style>
    .card-division {
        border-bottom: 1px dashed rgba(0,0,0,.2);
        color: #232323;
        margin: 0 0 10px;
    }

    .card-division {
        border-bottom: 1px dashed rgba(0,0,0,.2);
        color: #232323;
        margin: 0 0 10px;
    }

    .no-padding-bootstrap {
        padding-right: 0;
        padding-left: 0;
    }

    .label-dados {
        float: left;
    }

        .label-dados span {
            padding-left: 15px;
        }

        .label-dados strong {
            width: 100%;
            padding-left: 15px;
        }

    .panel-header {
        border-radius: 0;
        box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.75)
    }

        .panel-header.border-blue {
            border-top: 2px solid #5879B4;
        }

        .panel-header.border-green {
            border-top: 2px solid #79b458;
        }

        .panel-header.border-red {
            border-top: 2px solid #b46558;
        }

    .no-panel-radius {
        border-radius: 0 !important;
    }

    .col-padding-5 {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    .heading-block-custom:after {
        padding-right: 15px !important;
    }

    .heading-block-custom:before {
        width: calc(100% - 15px) !important;
    }

    .table {
        margin-bottom: 0;
    }
</style>
<form id="form-solicitacao-avulso" class="form animated fadeIn card-aulixiar-form" method="POST" action="@Url.Action("SalvarBoletoAvulso", "ContratoParcelaBoleto")">
    @Html.Hidden("DataPadrao", DateTime.Now.AddDays(1).Date)
    <div class="margin-top-20">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-sm panel-header border-blue">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="heading-block" style="margin-bottom: -1px;">
                                        <span>Info. Cliente</span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-condensed">
                                            <tr>
                                                <td><strong>@Idioma.Traduzir("an8"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("Cliente"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("CPF/CNPJ"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("Email"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("Vr.Atraso"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("Qtde.Contrato"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("Dias Atraso"):</strong></td>
                                            </tr>
                                            <tr>
                                                <td><span>@Model.CodClienteDecrypt</span></td>
                                                <td><span>@Model.NomeClienteDecrypt</span></td>
                                                <td><span>@BaseRotinas.formatarCpfCnpj(Model.CPFDecrypt)</span></td>
                                                <td><span>@Model.EmailDecrypt</span></td>
                                                <td><span>@string.Format("{0:C}", Model.ValorAtraso)</span></td>
                                                <td><span>@Model.QtdContrato</span></td>
                                                <td><span>@Model.DiasAtraso</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="tab-cadastro">
                                    <div id="form">
                                        @Html.Hidden("ClienteId", Model.ClienteId)
                                        <div class="row " style="padding-bottom:10px;">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <div class="heading-block" style="margin-bottom: -1px;">
                                                    <span>Boleto Avulso</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-xs-6">
                                                <div class="form-group-sm">
                                                    <label for="NumeroBanco">@Idioma.Traduzir("Banco")</label>
                                                    @Html.DropDownList("CodBancoPortador", new SelectList(Model.ListaBanco, "key", "value", Model.NumeroBanco), new { @class = "form-control input-silver" })
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-xs-6">
                                                <div class="form-group-sm">
                                                    <label for="NumeroDocumento">@Idioma.Traduzir("Nr.Documento")</label>
                                                    @Html.DropDownList("CodContrato", new SelectList(Model.ListaContrato, "key", "value", Model.NumeroDocumento), new { @class = "form-control input-silver" })
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-xs-6">
                                                <div class="form-group-sm">
                                                    <label for="DataVencimento">@Idioma.Traduzir("Dt.Vencimento")</label>
                                                    @Html.TextBox("DataVencimento", Model.DataVencimento, new { @class = "form-control input-silver", data_mask = "datetime", @data_boleto_valida = "date" })
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-xs-6">
                                                <div class="form-group-sm">
                                                    <label for="ValorDocumento">@Idioma.Traduzir("Vr. Documento")</label>
                                                    @Html.TextBox("ValorDocumento", Model.ValorDocumento, new { @class = "form-control input-silver", data_mask = "money" })
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-xs-12">
                                                <div class="">
                                                    <div class="form-group-sm">
                                                        <label for="MensagemImpressa">@Idioma.Traduzir("Mensagem Impressa")</label>
                                                        @Html.TextBoxFor(m => m.MensagemImpressa, new { @class = "form-control input-silver" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group-sm">
                                                    <label>Justificativa:</label>
                                                    @Html.TextAreaFor(m => m.Justificativa, new { @class = "form-control input-silver", style = "height:80px;" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="margin-top-20">


    </div>
</form>


