﻿@model Cobranca.Db.Models.ContratoParcelaBoletoHistorico
@using Cobranca.Rotinas;
@using Cobranca.Db.Rotinas;
@{
    Cobranca.Web.Models.ClienteHeaderViewModel _DadosHeader = new Cobranca.Web.Models.ClienteHeaderViewModel();
    if (ViewBag.ClienteHeader != null)
    {
        _DadosHeader = (Cobranca.Web.Models.ClienteHeaderViewModel)ViewBag.ClienteHeader;
    }
    List<Cobranca.Db.Models.ContratoParcelaBoletoHistorico> _DadosHistorico = new List<Cobranca.Db.Models.ContratoParcelaBoletoHistorico>();
    if (ViewBag.DadosHistorico != null)
    {
        _DadosHistorico = (List<Cobranca.Db.Models.ContratoParcelaBoletoHistorico>)ViewBag.DadosHistorico;
    }
}
<style>
    .card-division {
        border-bottom: 1px dashed rgba(0,0,0,.2);
        color: #232323;
        margin: 0 0 10px;
    }

    .no-padding-bootstrap {
        padding-right: 0;
        padding-left: 0;
    }

    .label-dados {
        float: left;
    }

        .label-dados span {
            padding-left: 15px;
        }

        .label-dados strong {
            width: 100%;
            padding-left: 15px;
        }

    .panel-header {
        border-radius: 0;
        box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.75)
    }

        .panel-header.border-blue {
            border-top: 2px solid #5879B4;
        }

        .panel-header.border-green {
            border-top: 2px solid #79b458;
        }

        .panel-header.border-red {
            border-top: 2px solid #b46558;
        }

    .no-panel-radius {
        border-radius: 0 !important;
    }

    .col-padding-5 {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    .heading-block-custom:after {
        padding-right: 15px !important;
    }

    .heading-block-custom:before {
        width: calc(100% - 15px) !important;
    }

    .table {
        margin-bottom: 0;
    }
</style>
<form id="form-solicitacao" class="form animated fadeIn card-aulixiar-form" method="POST" action="@Url.Action("SalvarHistorico", "ContratoParcelaBoleto")">
    @Html.Hidden("CodBoleto", Model.CodBoleto)
    <div class="margin-top-20">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-sm panel-header border-blue">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="heading-block" style="margin-bottom: -1px;">
                                        <span> Info. Parcela</span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-condensed">
                                            <tr>
                                                <td><strong>@Idioma.Traduzir("an8"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("Cliente"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("CPF/CNPJ"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("Nr.Contrato"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("Nr.Documento"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("Dt.Vencimento"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("Vr.Parcela"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("Vr.Aberto"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("TipoFatura"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("Classificação"):</strong></td>
                                            </tr>
                                            <tr>
                                                <td><span>@_DadosHeader.CodCliente</span> </td>
                                                <td><span>@_DadosHeader.Cliente</span></td>
                                                <td><span>@_DadosHeader.CpfCnpj</span></td>
                                                <td><span>@_DadosHeader.NumeroContrato</span></td>
                                                <td><span>@_DadosHeader.NumeroDocumento</span></td>
                                                <td><span>@string.Format("{0:dd/MM/yyyy}", _DadosHeader.DataVencimento)</span></td>
                                                <td><span>@string.Format("{0:C}", _DadosHeader.ValorParcela)</span></td>
                                                <td><span>@string.Format("{0:C}", _DadosHeader.ValorAberto)</span></td>
                                                <td><span>@_DadosHeader.TipoFatura</span></td>
                                                <td><span>@_DadosHeader.CodigoSinteseCliente</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-sm panel-header border-green">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-left:0; padding-right:0;">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <div class="heading-block heading-block-custom" style="padding-right:20px">
                                            <span>@Idioma.Traduzir("Info. Boleto Previstas")</span>
                                        </div>
                                    </div>
                                    <div class="label-dados col-md-3 col-lg-3 col-xs-6 col-padding-5">
                                        <strong>@Idioma.Traduzir("Juros"):</strong> <br>
                                        <span class="text-blue">@string.Format("{0:N2} %", Model.ContratoParcelaBoleto.JurosAoMesPorcentagemPrevisto)</span>
                                        <span class="text-blue">@string.Format("{0:C}", Model.ContratoParcelaBoleto.ValorJurosPrevisto)</span>
                                    </div>

                                    <div class="label-dados col-md-3 col-lg-3 col-xs-6 col-padding-5">
                                        <strong>@Idioma.Traduzir("Multa"):</strong> <br>
                                        <span class="text-blue">@string.Format("{0:N2}%", Model.ContratoParcelaBoleto.MultaAtrasoPorcentagemPrevisto)</span>
                                        <span class="text-blue">@string.Format("{0:C}", Model.ContratoParcelaBoleto.ValorMultaPrevisto)</span>
                                    </div>
                                    <div class="label-dados col-md-2 col-lg-2 col-xs-6 col-padding-5">
                                        <strong>@Idioma.Traduzir("Vr.Documento"):</strong> <br>
                                        <span class="text-blue">@string.Format("{0:C}", Model.ContratoParcelaBoleto.ValorDocumentoPrevisto)</span>
                                    </div>
                                    <div class="label-dados col-md-2 col-lg-2 col-xs-6 col-padding-5">
                                        <strong>@Idioma.Traduzir("Dt.Solicitacao"):</strong> <br>
                                        <span class="text-blue">@string.Format("{0:dd/MM/yyyy}", Model.ContratoParcelaBoleto.DataCadastro)</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-left:0; padding-right:0;">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <div class="heading-block">
                                            <span>@Idioma.Traduzir("Info. Boleto Solicitadas")</span>
                                        </div>
                                    </div>
                                    <div class="label-dados col-md-3 col-lg-3 col-xs-6 col-padding-5">
                                        <strong>@Idioma.Traduzir("Juros"):</strong> <br>
                                        <span class="text-danger">@string.Format("{0:N2} %", Model.ContratoParcelaBoleto.JurosAoMesPorcentagem)</span>
                                        <span class="text-danger">@string.Format("{0:C}", Model.ContratoParcelaBoleto.ValorJuros)</span>
                                    </div>
                                    <div class="label-dados col-md-3 col-lg-3 col-xs-6 col-padding-5">
                                        <strong>@Idioma.Traduzir("Multa"):</strong> <br>
                                        <span class="text-danger">@string.Format("{0:N2}%", Model.ContratoParcelaBoleto.MultaAtrasoPorcentagem)</span>
                                        <span class="text-danger">@string.Format("{0:C}", Model.ContratoParcelaBoleto.ValorMulta)</span>
                                    </div>
                                    <div class="label-dados col-md-2 col-lg-2 col-xs-6 col-padding-5">
                                        <strong>@Idioma.Traduzir("Vr.Desconto"):</strong> <br>
                                        <span class="text-danger">@string.Format("{0:C}", Model.ContratoParcelaBoleto.ValorDesconto)</span>
                                    </div>
                                    <div class="label-dados col-md-2 col-lg-2 col-xs-6 col-padding-5">
                                        <strong>@Idioma.Traduzir("Vr.Documento"):</strong> <br>
                                        <span class="text-danger">@string.Format("{0:C}", Model.ContratoParcelaBoleto.ValorDocumento)</span>
                                    </div>
                                    <div class="label-dados col-md-2 col-lg-2 col-xs-6 col-padding-5">
                                        <strong>@Idioma.Traduzir("Dt.Vencimento"):</strong> <br>
                                        <span class="text-danger">@string.Format("{0:dd/MM/yyyy}", Model.ContratoParcelaBoleto.DataVencimento)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs nav-junix" role="tablist">
                        <li role="presentation" class="active"><a href="#TAB-JUSTIFICATIVA" role="tab" data-toggle="tab" onclick="tabFormEdit(this)">@Idioma.Traduzir("Aprovação").ToUpper() </a></li>
                        <li role="presentation" class="text-center"><a href="#TAB-HISTORICO" role="tab" data-toggle="tab" onclick="tabFormEdit(this)">@Idioma.Traduzir("Historicos").ToUpper()</a></li>
                    </ul>
                </div>
            </div>*@
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="panel panel-sm panel-default">
                        <div role="tabpanel" class="tab-pane active" id="TAB-JUSTIFICATIVA">
                            <div class="panel-body">
                                <div class="heading-block">
                                    <span>@Idioma.Traduzir("Mensagem Impressa")</span>
                                </div>
                                <div class="form-group-sm">
                                    @Html.TextBox("MensagemImpressa", Model.ContratoParcelaBoleto.MensagemImpressa, new { @class = "form-control input-silver" })
                                </div>
                                <div class="heading-block">
                                    <span>@Idioma.Traduzir("Justificar")</span>
                                </div>
                                <div class="col-just-left" style="padding-left:0;">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group-sm" style="">
                                                <label for="CodFase">@Idioma.Traduzir("Fluxo"):</label>
                                                @Html.DropDownList("CodTipoCobrancaOld", new SelectList(ViewBag.TipoCobrancaDe, "value", "key", Model.CodSintese > 0 ? Model.TabelaSintese.CodFase > 0 ? Model.TabelaSintese.TabelaFase.CodTipoCobranca : 0 : 0), new { @class = "form-control input-silver", disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group-sm" style="">
                                                <label for="CodFase">@Idioma.Traduzir("Status"):</label>
                                                @Html.DropDownList("CodFaseOld", new SelectList(ViewBag.ListaFase, "value", "key", Model.CodSintese > 0 ? Model.TabelaSintese.CodFase : 0), new { @class = "form-control input-silver", disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group-sm" style="">
                                                <label for="CodSintese">@Idioma.Traduzir("Resumo"):</label>
                                                @Html.DropDownList("CodSinteseOld", new SelectList(ViewBag.ListaSintese, "value", "key", Model.CodSintese), new { @class = "form-control input-silver", disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group-sm" style="">
                                                <label for="Observacao">@Idioma.Traduzir("Observação"):</label>
                                                @Html.TextArea("ObservacaoOld", Model.Observacao, new { @class = "form-control input-silver", style = "height:120px!important;", rows = "10", disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-just-center hidden-xs" style="text-align:center; vertical-align:middle; ">
                                    <i class="fa fa-exchange" style="margin-top: 92px;"></i>
                                </div>
                                <div class="col-just-right" style="padding-right:0px;">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group-sm" style="">
                                                <label for="CodFase">@Idioma.Traduzir("Status"):</label>
                                                @Html.DropDownList("CodFase", new SelectList(ViewBag.ListaFase, "value", "key", Model.CodSintese > 0 ? Model.TabelaSintese.CodFase : 0), new { @class = "form-control", onchange = "carregarSintese()", style = "margin-bottom: 5px;" })
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group-sm" style="">
                                                <label for="CodSintese">@Idioma.Traduzir("Resumo"):</label>
                                                @Html.DropDownList("CodSintese", new SelectList(ViewBag.ListaSintese, "value", "key", Model.CodSintese), new { @class = "form-control", style = "margin-bottom: 5px;" })
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group-sm" style="">
                                                <label for="Observacao">@Idioma.Traduzir("Observação"):</label>
                                                @Html.TextArea("Observacao", "", new { @class = "form-control", style = "height:120px!important;margin-bottom: 5px;", rows = "10" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div role="tabpanel" class="tab-pane" id="TAB-HISTORICO" style="display: none;">
                            <div class="margin-top-18">

                                @foreach (var item in _DadosHistorico)
                                {
                                    <div class="panel panel-sm panel-header border-blue">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    <table class="table table-hover table-condensed">
                                                        <tr>
                                                            <td style="width:20px;"><strong>@Idioma.Traduzir("Nome"):</strong></td>
                                                            <td style="width:30px;"><strong>@Idioma.Traduzir("Data"):</strong></td>
                                                            <td style="width:80px;"><strong>@Idioma.Traduzir("Resumo"):</strong></td>
                                                            <td style="width:260px;"><strong>@Idioma.Traduzir("Observação"):</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:20px;"><span>@item.Usuario.Nome</span></td>
                                                            <td style="width:30px;"><span>@item.DataCadastro</span></td>
                                                            <td style="width:80px;"><span>@string.Format("{0} - {1} - {2}", DbRotinas.Descriptografar(item.TabelaSintese.TabelaFase.TabelaTipoCobranca.TipoCobranca), DbRotinas.Descriptografar(item.TabelaSintese.TabelaFase.Fase), DbRotinas.Descriptografar(item.TabelaSintese.Sintese))</span></td>
                                                            <td style="width:260px;"><span>@item.Observacao</span></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
