﻿@model Cobranca.Db.Models.ContratoParcelaBoleto
@using Cobranca.Rotinas;
@{
    Cobranca.Web.Models.ClienteHeaderViewModel _DadosHeader = new Cobranca.Web.Models.ClienteHeaderViewModel();
    if (ViewBag.ClienteHeader != null)
    {
        _DadosHeader = (Cobranca.Web.Models.ClienteHeaderViewModel)ViewBag.ClienteHeader;
    }
}
<style>
    .card-division {
        border-bottom: 1px dashed rgba(0,0,0,.2);
        color: #232323;
        margin: 0 0 10px;
    }

    .no-padding-bootstrap {
        padding-right: 0;
        padding-left: 0;
    }

    .label-dados {
        float: left;
    }

        .label-dados span {
            padding-left: 15px;
        }

        .label-dados strong {
            width: 100%;
            padding-left: 15px;
        }

    .panel-header {
        border-radius: 0;
        box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.75)
    }

        .panel-header.border-blue {
            border-top: 2px solid #5879B4;
        }

        .panel-header.border-green {
            border-top: 2px solid #79b458;
        }

        .panel-header.border-red {
            border-top: 2px solid #b46558;
        }

    .no-panel-radius {
        border-radius: 0 !important;
    }

    .col-padding-5 {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    .heading-block-custom:after {
        padding-right: 15px !important;
    }

    .heading-block-custom:before {
        width: calc(100% - 15px) !important;
    }

    .table {
        margin-bottom: 0;
    }
</style>
<form id="form-history" class="form animated fadeIn card-aulixiar-form" method="get" action="@Url.Action("History", "ContratoParcelaBoleto", new { bId = Model.Cod })">
    @Html.Hidden("Cod", Model.Cod)
    @Html.Hidden("Status", Model.Status)
    @if (Model.Status == null || (Cobranca.Db.Models.Enumeradores.StatusBoleto)Model.Status == Cobranca.Db.Models.Enumeradores.StatusBoleto.SolicitacaoAnalista)
    {
        <div style="background-color:#E8E8E8;  margin: -11px -15px 0 -15px !important; border-bottom: 1px solid" id="top">
            <div class="row" style="margin: 10px !important;">
                <div class="col-md-2" style="margin-top:10px;">
                    <div class="form-group-sm">
                        <button type="button" class="btn btn-danger btn-sm pull-left btn-block" onclick="jx.pergunta('Observação','Ao remover esta solicitação, sua ação será irreversivel e será necessário realizar uma nova solicitação novamente.',  remover,  null)"><i class="fa fa-trash"></i> Remover</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="margin-top-20">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-sm panel-header border-blue">
                        <div class="panel-body">
                            @if (_DadosHeader.TipoSolicitacao == (short)Cobranca.Domain.BoletoContext.Enums.EBoletoSolicitacaoTipo.Avulso)
                            {
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <div class="heading-block" style="margin-bottom: -1px;">
                                            <span> Info. Contrato</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-condensed">
                                                <tr>
                                                    <td><strong>@Idioma.Traduzir("an8"):</strong></td>
                                                    <td><strong>@Idioma.Traduzir("Cliente"):</strong></td>
                                                    <td><strong>@Idioma.Traduzir("CPF/CNPJ"):</strong></td>
                                                    <td><strong>@Idioma.Traduzir("Nr.Contrato"):</strong></td>
                                                    <td><strong>@Idioma.Traduzir("Status"):</strong></td>
                                                    <td><strong>@Idioma.Traduzir("Produto"):</strong></td>
                                                    <td><strong>@Idioma.Traduzir("Vr.Total"):</strong></td>
                                                    <td><strong>@Idioma.Traduzir("Vr.Atraso"):</strong></td>
                                                    <td><strong>@Idioma.Traduzir("Vr.À Vencer"):</strong></td>
                                                    <td><strong>@Idioma.Traduzir("Dias de Atraso"):</strong></td>
                                                </tr>

                                                <tr>
                                                    <td><span>@_DadosHeader.CodCliente</span> </td>
                                                    <td><span>@_DadosHeader.Cliente</span></td>
                                                    <td><span>@_DadosHeader.CpfCnpj</span></td>
                                                    <td><span>@_DadosHeader.NumeroContrato</span></td>
                                                    <td><span>@_DadosHeader.StatusContrato</span></td>
                                                    <td><span>@_DadosHeader.Produto</span></td>
                                                    <td><span>@_DadosHeader.ValorTotalContrato</span></td>
                                                    <td><span>@_DadosHeader.ValorAtrasoContrato</span></td>
                                                    <td><span>@_DadosHeader.ValorAVencerContrato</span></td>
                                                    <td><span>@_DadosHeader.DiaAtrasoContrato</span></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <div class="heading-block" style="margin-bottom: -1px;">
                                            <span> Info. Parcela</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-condensed">
                                                <tr>
                                                    <td><strong>@Idioma.Traduzir("an8"):</strong></td>
                                                    <td><strong>@Idioma.Traduzir("Cliente"):</strong></td>
                                                    <td><strong>@Idioma.Traduzir("CPF/CNPJ"):</strong></td>
                                                    <td><strong>@Idioma.Traduzir("Nr.Contrato"):</strong></td>
                                                    <td><strong>@Idioma.Traduzir("Nr.Documento"):</strong></td>
                                                    <td><strong>@Idioma.Traduzir("Dt.Vencimento"):</strong></td>
                                                    <td><strong>@Idioma.Traduzir("Vr.Parcela"):</strong></td>
                                                    <td><strong>@Idioma.Traduzir("Vr.Aberto"):</strong></td>
                                                    <td><strong>@Idioma.Traduzir("TipoFatura"):</strong></td>
                                                    <td><strong>@Idioma.Traduzir("Classificação"):</strong></td>
                                                </tr>
                                                <tr>
                                                    <td><span>@_DadosHeader.CodCliente</span> </td>
                                                    <td><span>@_DadosHeader.Cliente</span></td>
                                                    <td><span>@_DadosHeader.CpfCnpj</span></td>
                                                    <td><span>@_DadosHeader.NumeroContrato</span></td>
                                                    <td><span>@_DadosHeader.NumeroDocumento</span></td>
                                                    <td><span>@string.Format("{0:dd/MM/yyyy}", _DadosHeader.DataVencimento)</span></td>
                                                    <td><span>@string.Format("{0:C}", _DadosHeader.ValorParcela)</span></td>
                                                    <td><span>@string.Format("{0:C}", _DadosHeader.ValorAberto)</span></td>
                                                    <td><span>@_DadosHeader.TipoFatura</span></td>
                                                    <td><span>@_DadosHeader.CodigoSinteseCliente</span></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-sm panel-header border-green">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-left:0; padding-right:0;">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <div class="heading-block heading-block-custom" style="padding-right:20px">
                                            <span> Info. Boleto Previstas</span>
                                        </div>
                                    </div>
                                    <div class="label-dados col-md-3 col-lg-3 col-xs-6 col-padding-5">
                                        <strong>@Idioma.Traduzir("Juros"):</strong> <br>
                                        <span class="text-blue">@string.Format("{0:N2} %", Model.JurosAoMesPorcentagemPrevisto)</span>
                                        <span class="text-blue">@string.Format("{0:C}", Model.ValorJurosPrevisto)</span>
                                    </div>

                                    <div class="label-dados col-md-3 col-lg-3 col-xs-6 col-padding-5">
                                        <strong>@Idioma.Traduzir("Multa"):</strong> <br>
                                        <span class="text-blue">@string.Format("{0:N2}%", Model.MultaAtrasoPorcentagemPrevisto)</span>
                                        <span class="text-blue">@string.Format("{0:C}", Model.ValorMultaPrevisto)</span>
                                    </div>
                                    <div class="label-dados col-md-2 col-lg-2 col-xs-6 col-padding-5">
                                        <strong>@Idioma.Traduzir("Vr.Documento"):</strong> <br>
                                        <span class="text-blue">@string.Format("{0:C}", Model.ValorDocumentoPrevisto)</span>
                                    </div>
                                    <div class="label-dados col-md-2 col-lg-2 col-xs-6 col-padding-5">
                                        <strong>@Idioma.Traduzir("Dt.Solicitacao"):</strong> <br>
                                        <span class="text-blue">@string.Format("{0:dd/MM/yyyy}", Model.DataCadastro)</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-left:0; padding-right:0;">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <div class="heading-block">
                                            <span> Info. Boleto Solicitadas</span>
                                        </div>
                                    </div>
                                    <div class="label-dados col-md-3 col-lg-3 col-xs-6 col-padding-5">
                                        <strong>@Idioma.Traduzir("Juros"):</strong> <br>
                                        <span class="text-danger">@string.Format("{0:N2} %", Model.JurosAoMesPorcentagem)</span>
                                        <span class="text-danger">@string.Format("{0:C}", Model.ValorJuros)</span>
                                    </div>
                                    <div class="label-dados col-md-3 col-lg-3 col-xs-6 col-padding-5">
                                        <strong>@Idioma.Traduzir("Multa"):</strong> <br>
                                        <span class="text-danger">@string.Format("{0:N2}%", Model.MultaAtrasoPorcentagem)</span>
                                        <span class="text-danger">@string.Format("{0:C}", Model.ValorMulta)</span>
                                    </div>
                                    <div class="label-dados col-md-2 col-lg-2 col-xs-6 col-padding-5">
                                        <strong>@Idioma.Traduzir("Vr.Documento"):</strong> <br>
                                        <span class="text-danger">@string.Format("{0:C}", Model.ValorDocumento)</span>
                                    </div>
                                    <div class="label-dados col-md-2 col-lg-2 col-xs-6 col-padding-5">
                                        <strong>@Idioma.Traduzir("Dt.Vencimento"):</strong> <br>
                                        <span class="text-danger">@string.Format("{0:dd/MM/yyyy}", Model.DataVencimento)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="panel-body table-responsive">
                        <table id="tbHistoryBlt" class="table table-order-column table-hover table-row-border table-striped table-bordered table-compact " style="margin-top:6px;background-color:#fff;">
                            <thead id="dtheader">
                                <tr id="trheader">
                                    <th class="text-center" data-name="bId" data-data="bId" style="max-width:1px !important" data-collumn-search="false" data-title="@Idioma.Traduzir("#")"></></th>
                                    <th class="text-center filter-date" data-name="Data" data-data="Data" style="max-width:40px" data-title="@Idioma.Traduzir("Data")"></th>
                                    <th class="text-center" data-name="Usuario" data-data="Usuario" style="max-width:50px" data-title="@Idioma.Traduzir("Usuario")"></th>
                                    <th class="text-center" data-name="TipoCobranca" data-data="TipoCobranca" style="max-width:45px" data-title="@Idioma.Traduzir("Fluxo")"></th>
                                    <th class="text-center" data-name="Fase" data-data="Fase" style="max-width:45px" data-title="@Idioma.Traduzir("Status")"></th>
                                    <th class="text-center" data-name="Sintese" data-data="Sintese" style="max-width:45px" data-title="@Idioma.Traduzir("Resumo")"></th>
                                    <th class="text-center" data-name="Observacao" data-data="Observacao" style="min-width:250px" data-title="@Idioma.Traduzir("Observação")"></th>

                                </tr>
                                <tr id="tbHistoryBltloading">
                                    <td colspan="7" class="text-center animated fadeIn">
                                        <h2><i class="fa fa-spin fa-spinner text-silver"></i> Carregando os dados</h2>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
