﻿@model List<Cobranca.Db.Models.ContratoParcelaBoleto>
@using Cobranca.Rotinas;
@{
    List<Cobranca.Web.Models.ClienteHeaderViewModel> _DadosHeader = new List<Cobranca.Web.Models.ClienteHeaderViewModel>();
    if (ViewBag.ClienteHeader != null)
    {
        _DadosHeader = (List<Cobranca.Web.Models.ClienteHeaderViewModel>)ViewBag.ClienteHeader;
    }
}
<style>
    .card-division {
        border-bottom: 1px dashed rgba(0,0,0,.2);
        color: #232323;
        margin: 0 0 10px;
    }

    .card-division {
        border-bottom: 1px dashed rgba(0,0,0,.2);
        color: #232323;
        margin: 0 0 10px;
    }

    .no-padding-bootstrap {
        padding-right: 0;
        padding-left: 0;
    }

    .label-dados {
        float: left;
    }

        .label-dados span {
            padding-left: 15px;
        }

        .label-dados strong {
            width: 100%;
            padding-left: 15px;
        }

    .panel-header {
        border-radius: 0;
        box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.75)
    }

        .panel-header.border-blue {
            border-top: 2px solid #5879B4;
        }

        .panel-header.border-green {
            border-top: 2px solid #79b458;
        }

        .panel-header.border-red {
            border-top: 2px solid #b46558;
        }

    .no-panel-radius {
        border-radius: 0 !important;
    }

    .col-padding-5 {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    .heading-block-custom:after {
        padding-right: 15px !important;
    }

    .heading-block-custom:before {
        width: calc(100% - 15px) !important;
    }

    .table {
        margin-bottom: 0;
    }
</style>
<form id="form-solicitacao" class="form animated fadeIn card-aulixiar-form" method="POST" action="@Url.Action("SalvarSolicitacao", "ContratoParcelaBoleto")">
    <div class="margin-top-20">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-sm panel-header border-blue">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="heading-block" style="margin-bottom: -1px;">
                                        <span> Info. Parcela</span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-condensed">
                                            <tr>
                                                <td><strong>@Idioma.Traduzir("an8"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("Nr.Contrato"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("Banco"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("Nr.Documento"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("Dt.Vencimento"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("Vr.Aberto"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("TipoFatura"):</strong></td>
                                                <td><strong>@Idioma.Traduzir("Classificação"):</strong></td>
                                            </tr>
                                            @foreach (var item in _DadosHeader)
                                            {
                                                <tr>
                                                    <td><span>@item.CodCliente</span> </td>
                                                    <td><span>@item.NumeroContrato</span></td>
                                                    <td><span>@item.Banco</span></td>
                                                    <td><span>@item.NumeroDocumento</span></td>
                                                    <td><span>@string.Format("{0:dd/MM/yyyy}", item.DataVencimento)</span></td>
                                                    <td><span>@string.Format("{0:C}", item.ValorAberto)</span></td>
                                                    <td><span>@item.TipoFatura</span></td>
                                                    <td><span>@item.CodigoSinteseCliente</span></td>
                                                </tr>
                                            }

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs nav-junix" role="tablist">
                        <li role="presentation" class="active"><a href="#tab-cadastro" id="tabSolicitacao" role="tab" data-toggle="tab">@Idioma.Traduzir("Solicitação") </a></li>
                        <li role="presentation"><a href="#tab-obs" id="tabObs" role="tab" data-toggle="tab">@Idioma.Traduzir("Justificativa") </a></li>
                        <li role="presentation"><a href="#tab-inf" id="tabInf" role="tab" data-toggle="tab">@Idioma.Traduzir("Inf.Impressa") </a></li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default panel-com-tab">
                        <div class="panel-body">

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="tab-cadastro">
                                    @foreach (var m in Model)
        {
                            <div id="form" class="card-division">
                                @Html.Hidden("Cod", m.Cod)
                                @Html.Hidden("CodParcela", m.CodParcela)

                                <div class="row" style="margin-bottom:15px;">
                                    <div class="col-lg-2 col-xs-6">
                                        <div class="form-group-sm">
                                            <label for="NumeroDocumento">@Idioma.Traduzir("Nr.Documento")</label>
                                            @Html.TextBox("NumeroDocumento", m.NumeroDocumento, new { @class = "form-control input-silver", data_mask = "inteiro", disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-xs-6">
                                        <div class="form-group-sm">
                                            <label for="DataVencimento">@Idioma.Traduzir("Dt.Primerio.Venc")</label>
                                            @Html.TextBox("DataVencimento", m.DataVencimento, new { @class = "form-control input-silver", data_mask = "datetime", disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group-sm">
                                            <label for="ValorDocumento">@Idioma.Traduzir("Vr. Documento")</label>
                                            @Html.TextBox("ValorDocumento", m.ValorDocumento, new { @class = "form-control input-silver", data_mask = "money", disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-xs-4">
                                        <div class="form-group-sm" title="Multa (%) por atraso">
                                            <label for="ValorDocumento">@Idioma.Traduzir("Multa")</label>
                                            @Html.TextBox("MultaAtrasoPorcentagem", m.MultaAtrasoPorcentagem, new { @class = "form-control input-silver", data_validate = "multa" })
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-xs-4">
                                        <div class="form-group-sm" title="Juros (%) ao mês">
                                            <label for="ValorDocumento">@Idioma.Traduzir("Juros")</label>
                                            @Html.TextBox("JurosAoMesPorcentagem", m.JurosAoMesPorcentagem, new { @class = "form-control input-silver", data_validate = "juros" })

                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group-sm">
                                            <label for="DataMoratoria">@Idioma.Traduzir("Dt.Vencimento")</label>
                                            @Html.TextBox("DataMoratoria", (DateTime.Now.AddDays(1)), new { @class = "form-control input-silver", data_mask = "datetime", @data_boleto_valida = "date" })
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group-sm">
                                            <label for="ValorDesconto">@Idioma.Traduzir("Vr.Desconto")</label>
                                            @Html.TextBox("ValorDesconto", m.ValorDesconto != null ? m.ValorDesconto : 0, new { @class = "form-control input-silver", data_mask = "money"})
                                        </div>
                                    </div>
                                </div>
                            </div>
}
                                    <div style="overflow-x: scroll!important;">
                                        <table id="tbBoleto" class="display table data-table2 table-condensed table-hover table-striped table-bordered" style="margin-bottom:0;">
                                            <thead id="dtheader">
                                                <tr id="trheader">
                                                    <th class="" data-collumn-search="true" style="min-width:50px; text-align:center" data-name="NumeroDocumento" data-data="NumeroDocumento" data-title="@Idioma.Traduzir("Nr.Documento")"></th>
                                                    <th class="" data-collumn-search="true" style="text-align:center" data-name="DataMoratoria" data-data="DataMoratoria" data-title="@Idioma.Traduzir("Dt.Vencimento")"></th>
                                                    <th class="" data-collumn-search="true" style="text-align:center" data-name="DiasAtraso" data-data="DiasAtraso" data-title="@Idioma.Traduzir("Dias Atraso")"></th>
                                                    <th class="" data-collumn-search="true" style="text-align:center" data-name="MultaAtrasoValor" data-data="MultaAtrasoValor" data-title="@Idioma.Traduzir("Multa Atraso")"></th>
                                                    <th class="" data-collumn-search="true" style="text-align:center" data-name="JurosAoMeValor" data-data="JurosAoMeValor" data-title="@Idioma.Traduzir("Juros ao mês")"></th>
                                                    <th class="" data-collumn-search="true" style="text-align:center" data-name="ValorDesconto" data-data="ValorDesconto" data-title="@Idioma.Traduzir("Vr.Desconto")"></th>
                                                    <th class="" data-collumn-search="true" style="text-align:center" data-name="ValorAtualizado" data-data="ValorAtualizado" data-title="@Idioma.Traduzir("Vr.Documento")"></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab-obs" style="height:calc(100% - 176);">
                                    <div class="col-md-12">
                                        <div class="form-group-sm">
                                            <label>
                                                Observações
                                            </label>
                                            @Html.TextArea("Observacao", "", new { @class = "form-control input-silver", style = "height:80px;" })
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab-inf">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group-sm">
                                                <label>@Idioma.Traduzir("Informação Impressa") <i class="glyphicon glyphicon-info-sign icon-tooltip" title="Mensagens ao pagador de responsabilidade ao Beneficiário" data-toggle="tooltip" data-placement="right" data-html="true"></i></label>
                                                @Html.TextArea("InfoImpressa", "", new { @class = "form-control input-silver", style = "height:80px;" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="margin-top-20">


    </div>
</form>


