﻿@model List<Cobranca.Db.Models.Pesquisa.ContratoParcelaBoletoTotais>
@using Cobranca.Rotinas;
@{
}
<div class="col-md-12 col-xs-12 col-lg-12" style="margin-top:10px;">
    @foreach (var item in Model)
    {
        if (String.IsNullOrEmpty(item.FaseEncrypt))
        {
            <button data-sintese="@item.CodSintese" class="btn btn-sm btn-solicitacao" onclick="obterDados(@item.CodSintese,0)" type="button"><span class="badge">@item.QtdBoleto</span> Sem Classificação</button>
        }
        else
        {
            <button data-sintese="@item.CodSintese" class="btn btn-sm btn-solicitacao" onclick="obterDados(@item.CodSintese,0)" type="button"><span class="badge">@item.QtdBoleto</span> @Cobranca.Db.Models.EnumeradoresDescricao.TipoFluxo((short)item.TipoFluxo) -  @item.SinteseEncrypt</button>
        }
    }

</div>