﻿@model Cobranca.Db.Models.TabelaBancoPortador
@using Cobranca.Rotinas;
@{
    //ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
    //if (Model.TabelaEndereco == null)
    //{
    //    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    //}

}
<div class="panel panel-body box-shadon">
    <div class="layout layout-stack-sm layout-main-left">
        <div class="col-md-12">
            <div class="portlet portlet-default">
                <div class="portlet-header">
                    <div class="heading-block">
                        <ul class="breadcrumb">
                            <li class=""><a href="@Url.Action("Index")">Configuração Boleto</a></li>
                            <li class="active">Cadastro</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-3">
                        <div class="form-group" style="margin-bottom:0px;">
                            <label for="CodConstrutora">Nome Banco</label>
                            @Html.DropDownList("BancoNumero", new SelectList(ViewBag.ListaCodigoBancos, "value", "key", 0), new { @class = "form-control input-silver" })
                            @Html.ValidationMessageFor(m => m.BancoNumero)
                        </div> <!-- /.form-group -->
                    </div>

                </div>
                <hr />

                <div class="portlet-body">

                </div>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function excluir() {

        }
        $(document).ready(function () {
            $("#BancoNumero").change(function () {
                var nrBanco = $(this).val();
                $.ajax({
                    url: '@Url.Action("ObterParametroBancoPortador")',
                    data: { codigoBanco: nrBanco },
                    type: 'post',
                    dataType: 'json'
                }).success(function (result) {
                    openCadastro(result.Id, nrBanco)
                });
            });
           
        });



        function cancelar() {
            document.location = '@Url.Action("index")';
        }

        function openCadastro(id, nrBanco) {
            var url = "@(Url.Action("FormBanco"))?id=" + id + "&nrBanco=" + nrBanco;
            $(".form").addClass("animated fadeOut");
            $(".portlet-body").empty();
            $(".portlet-body").load(url, function () {
                $('[data-btn="salvarConfiguracao"]').click(function () {
                    var $form = $("#form-cadastro");
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Cadastro")',
                        data: jx.formRotinas.obterDadosForm($form),
                        success: function (response) {
                            jx.mensagem('Operação Realizada!', 'Configurações Salvas.', 'success', 'fa fa-check');
                            setTimeout(function () {
                                location.reload();
                            }, 1500);

                        }
                    });
                });
                $('[data-btn="excluirConfiguracao"]').click(function () {
                    if (confirm("Confirma excluir o registro?")) {
                        $.ajax({
                            url: '@Url.Action("Excluir")',
                            data: { id: $(this).attr("data-id") },
                            type: 'post',
                            dataType: 'json'
                        }).success(function (result) {
                            jx.mensagem('Operação Realizada!', 'Configurações Salvas.', 'success', 'fa fa-check');
                            setTimeout(function () {
                                location.reload();
                            }, 1500);
                        });
                    }
                });
                jx.popularDropdown($("#Carteira"), '@Url.Action("ListarCarteira")', {
                    nrBanco: nrBanco
                }, function (d) {

                });
                if (nrBanco == '1') {
                    jx.limiteCaracter($("#Agencia"), 4);
                    jx.limiteCaracter($("#Conta"), 8);
                    jx.limiteCaracter($("#ContaDigito"), 2);
                    $("#Agencia").numeric();
                    $("#Conta").numeric();
                    $("#ContaDigito").numeric();
                } else if (nrBanco == '341') {
                    jx.limiteCaracter($("#Agencia"), 4);
                    jx.limiteCaracter($("#Conta"), 5);
                    jx.limiteCaracter($("#ContaDigito"), 2);
                    $("#Agencia").numeric();
                    $("#Conta").numeric();
                    $("#ContaDigito").numeric();
                } else if (nrBanco == '33') {
                    jx.limiteCaracter($("#Agencia"), 4);
                    jx.limiteCaracter($("#Conta"), 8);
                    jx.limiteCaracter($("#ContaDigito"), 2);
                    $("#Agencia").numeric();
                    $("#Conta").numeric();
                    $("#ContaDigito").numeric();
                }
              
                $('#btnNovaInstrucao').click(function (i, e) {
                    var b = $(this).attr('data-banco');//e.attr("banco")
                    var countDiv = $(".addFormInstrucao > div").length + 1;
                    $(".addFormInstrucao").append("<div class='append_" + countDiv + "'></div>");
                    $('.append_' + countDiv).load('@Url.Action("AddFormInstrucao", "BancoPortador")?IdPortador=' + b, function () {
                        $("#CodigoInstrucao").change(function () {
                            debugger;
                            var nrInstrucao = $(this).val();
                            $.ajax({
                                url: '@Url.Action("getObservacaoInstrucao")',
                                data: { cdInstrucao: nrInstrucao },
                                type: 'post',
                                dataType: 'json'
                            }).success(function (result) {
                                $("#msgInstrucao").empty();
                                $("#msgInstrucao").append(result.Html);
                            });
                        });
                    });
                });
                
                $('[data-toggle="tooltip"]').tooltip();
            });
        }
    </script>
}
