﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    @Html.Partial("_Scripts")
    <style>
        .pace .pace-progress {
            top: 0px!important;
            
        }
    </style>
    <title>Atendimento Online</title>
</head>
<body class="" style="overflow-y:hidden;">

    <div class="wrapper">
        <div class="content">
            <div class="container side-collapse-container">
                @RenderBody()
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
    @RenderSection("scripts", false)
</body>

</html>
