﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    @Html.Partial("_Scripts")

    @if (false)
    {
        @*<link href="~/Content/App-blue.css" rel="stylesheet" />*@
        <link href="~/Content/App-green.css" rel="stylesheet" />
    }

    <title>SLA</title>
</head>
<body class="@ViewBag.ClassBody">
    @{
        bool _IsAuthenticated = HttpContext.Current.User.Identity.IsAuthenticated;
        var _objEmpresa = _IsAuthenticated ? Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Empresa.Logo : string.Empty;
        long? _objEmpresaId = _IsAuthenticated ? Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().EmpresaId : 0;
    }
    <div class="wrapper">
        <header class="navbar navbar-clean" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-cog"></i>
                    </button>
                    <a href="#" class="navbar-brand navbar-brand-img">
                        @if (_IsAuthenticated)
                        {
                            if (string.IsNullOrEmpty(_objEmpresa))
                            {
                                <label class="margin-top-20">Suporte Web</label>
                            }
                            else
                            {
                                <img alt="" style="height:50px" src="@Url.Content(string.Format("~/Documentos/Empresas/Logos/{0}/{1}", _objEmpresaId, _objEmpresa))" />
                            }
                        }
                        else
                        {
                            <label class="margin-top-20">Suporte Web</label>
                        }
                    </a>
                </div> <!-- /.navbar-header -->

                <nav class="collapse navbar-collapse" role="navigation">
                    @if (_IsAuthenticated)
                    {

                        bool chatON = Cobranca.Web.Rotinas.WebRotinas.CookieLer("chatStatusSession") == "1";
                        var usuario = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado();

                        Cobranca.Db.Repositorio.Repository<Cobranca.Db.Models.Trabalho, Cobranca.Db.Models.DbWebContext> _repTrabalho = new Cobranca.Db.Repositorio.Repository<Cobranca.Db.Models.Trabalho, Cobranca.Db.Models.DbWebContext>(new Cobranca.Db.Models.DbWebContext());
                        Cobranca.Db.Repositorio.Repository<Cobranca.Db.Models.ChatAtendimento, Cobranca.Db.Models.DbWebContext> _repAtendimentos = new Cobranca.Db.Repositorio.Repository<Cobranca.Db.Models.ChatAtendimento, Cobranca.Db.Models.DbWebContext>(new Cobranca.Db.Models.DbWebContext());
                        var listaAtendimentos = _repAtendimentos.FindAll(x => !x.DataAtendimento.HasValue && !x.DataExclusao.HasValue && !x.UsuarioId.HasValue).ToList();
                        var listaTarefas = _repTrabalho.FindAll(x => x.Cliente.EmpresaId == usuario.EmpresaId && !x.DataExclusao.HasValue).ToList();
                        var minhaListaTarefas = listaTarefas.Where(x => x.DataPrazo < DateTime.Now && !x.DataConcluida.HasValue && x.TrabalhoUsuarios.Any(u => u.UsuarioId == usuario.Id)).ToList();
                        var naoIniciadasListaTarefas = listaTarefas.Where(x => !x.DataInicio.HasValue && !x.DataConcluida.HasValue).ToList();

                        <ul class="nav navbar-nav navbar-left">
                            <li class="dropdown navbar-notification">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-bell navbar-notification-icon"></i>
                                    <span class="visible-xs-inline">&nbsp;Notifications</span>
                                    @if (minhaListaTarefas.Count > 0)
                                    {
                                        <b class="badge badge-primary animated bounceIn">@minhaListaTarefas.Count</b>
                                    }

                                </a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-header">&nbsp;Atividade que sou responsável.</div>
                                    <div class="slimScrollDiv" style="">
                                        <div class="notification-list" style="overflow: hidden; width: auto; height: 225px;">

                                            @foreach (var item in minhaListaTarefas)
                                            {
                                                <a href="@Url.Action("tarefas", "trabalho", new { id = item.Id})" class="notification">
                                                    <span class="notification-icon"><i class="fa fa-warning text-primary"></i></span>
                                                    <span class="notification-title">@item.Nome</span>
                                                    <span class="notification-description">@item.Cliente.Nome</span>
                                                    <span class="notification-time">@item.TempoRestante</span>
                                                </a> <!-- / .notification -->
                                            }
                                        </div>
                                        <div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 152.485px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; display: none; background: rgb(51, 51, 51);"></div>
                                    </div> <!-- / .notification-list -->

                                    <a href="@Url.Action("tarefas", "trabalho", new { id = 0})" class="notification-link">Ver todos</a>

                                </div>

                            </li>
                            <li class="dropdown navbar-notification">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-warning navbar-notification-icon"></i>
                                    <span class="visible-xs-inline">&nbsp;Notifications</span>
                                    @if (naoIniciadasListaTarefas.Count > 0)
                                    {
                                        <b class="badge badge-primary animated bounceIn">@naoIniciadasListaTarefas.Count</b>
                                    }

                                </a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-header">&nbsp;Chamados na fila de espera.</div>
                                    <div class="slimScrollDiv" style="">
                                        <div class="notification-list" style="">

                                            @foreach (var item in naoIniciadasListaTarefas)
                                            {
                                                <a href="@Url.Action("tarefas", "trabalho", new { id = item.Id})" class="notification">
                                                    <span class="notification-icon"><i class="fa fa-warning text-primary"></i></span>
                                                    <span class="notification-title">@item.Nome</span>
                                                    <span class="notification-description">@item.Cliente.Nome</span>
                                                    <span class="notification-time">@item.TempoRestante</span>
                                                </a> <!-- / .notification -->
                                            }
                                        </div>
                                        <div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 152.485px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; display: none; background: rgb(51, 51, 51);"></div>
                                    </div> <!-- / .notification-list -->

                                    <a href="@Url.Action("tarefas", "trabalho", new { id = 0})" class="notification-link">Ver todos</a>

                                </div>

                            </li>
                            <li class="dropdown navbar-notification">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-comment navbar-notification-icon"></i>
                                    <span class="visible-xs-inline">&nbsp;Notifications</span>
                                    <b class="badge badge-primary animated bounceIn atendimento-qtd" style="@String.Format("{0}", listaAtendimentos.Count == 0? "display:none": "")">@listaAtendimentos.Count</b>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-header">&nbsp;Chat online.</div>
                                    <div class="slimScrollDiv" style="">
                                        <div class="notification-list atendimento-lista-top" style="">
                                            <a href="" class="notification atendimento-modelo" style="display:none;">
                                                <span class="notification-icon"><i class="fa fa-comment text-primary"></i></span>
                                                <span class="notification-title atendimento-nome"></span>
                                                <span class="notification-description atendimento-empresa"></span>
                                                <span class="notification-time atendimento-tempo"></span>
                                            </a> <!-- / .notification -->
                                            @foreach (var item in listaAtendimentos)
                                            {
                                                <a data-id="@item.Id" href="@Url.Action("Index","Chat")" class="notification atendimento-item" style="">
                                                    <span class="notification-icon"><i class="fa fa-comment text-primary"></i></span>
                                                    <span class="notification-title atendimento-nome">@item.Nome</span>
                                                    <span class="notification-description atendimento-empresa">@String.Format("{0}", item.ClienteId > 0 ? item.Cliente.Nome : "")</span>
                                                    <span class="notification-time atendimento-tempo">Aguardando</span>
                                                </a> <!-- / .notification -->
                                            }
                                        </div>
                                        <div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 225px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
                                    </div>

                                    <a href="@Url.Action("index", "chat", new { id = 0})" class="notification-link">Ver todos os atendimentos</a>

                                </div>

                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>

                            </li>
                            <li class="dropdown navbar-profile">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                    @*<img src="../../global/img/avatars/avatar-4-sm.jpg" class="navbar-profile-avatar" alt="">*@
                                    <i class="fa fa-user"></i>
                                    <span class="visible-xs-inline"> &nbsp;</span>
                                    @Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Nome <i class="fa fa-caret-down"></i>
                                </a>

                                <ul class="dropdown-menu" role="menu">

                                    <li>
                                        <a href="@Url.Action("cadastro", "usuario", new { id = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Id })">
                                            <i class="fa fa-user"></i>
                                            &nbsp;&nbsp;Meu cadastro
                                        </a>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <a href="@Url.Action("Sair","Login",null)">
                                            <i class="fa fa-sign-out"></i>
                                            &nbsp;&nbsp;Sair
                                        </a>
                                    </li>

                                </ul>

                            </li>
                            <li>
                                <a>

                                    <input id="chatStatus" data-on-color="success" data-off-color="danger" data-on-text="Online" data-off-text="Offline" data-label-text="Chat" class="switch" type="checkbox" name="chatStatus" @String.Format("{0}", chatON ? "checked" : "")>
                                </a>
                            </li>
                        </ul>
                        <div class="nav navbar-nav navbar-right" style="margin-top:40px;">

                        </div>

                    }
                    else
                    {

                    }
                </nav>

            </div> <!-- /.container -->

        </header>
        @if (_IsAuthenticated)
        {
            @Html.Partial("_Menu")
        }


        <div class="content">
            <div class="container side-collapse-container">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="footer navbar-fixed-bottom hide">
        <div class="container text-center">
            <p class="">Copyright © 2015.</p>
        </div>
    </footer>

    <script type="text/javascript">
        var _timer;
        var _chatOnline = @String.Format("{0}", Cobranca.Web.Rotinas.WebRotinas.CookieLer("chatStatusSession") == "1"?"true":"false");
        var _chatLigado = false;
        var _atendimentosPendentes = [];
        $(document).ready(function () {
            carregarPagina();
        });


        function carregarPagina() {
            var menuAtivo = '@ViewBag.MenuAtivo';
            if (menuAtivo) {
                $(".mainnav-menu li").removeClass("active");
                $("." + menuAtivo).addClass("active");
            }
            $(".mainnav-menu li").click(function () {
                document.location = $(this).find("a:first").attr("href");
            });
            $('#chatStatus').on('switchChange.bootstrapSwitch', function (event, state) {
                mudarStatusChat(state);
            });
            if(_chatOnline){
                verificarChamados();
            }
            $(".slimScrollDiv").slimScroll({height: "250px"});
        }
        function goBack() {
            document.location = "..";
        }
        function goReload() {
            //document.location.reload(false);
            window.history.go(-1);
        }
        function startTimerChamados() {
            _chatLigado = true;
            _timer = setInterval(verificarChamados, 10000);
        }
        function verificarChamados() {
            stopTimerChamados();
            if (_chatOnline) {
                $.ajax({
                    url: '@Url.Action("VerificarChamados","Chat")',
                    type: 'get',
                    dataType: 'json'
                }).success(function (resultado) {
                    if(resultado){
                        if(resultado.atendimentos.length > 0){
                            $(".atendimento-qtd").empty().text(resultado.atendimentos.length);
                            $(".atendimento-qtd").show();
                            for (var i = 0; i < resultado.atendimentos.length; i++) {
                                notificarAtendimento(resultado.atendimentos[i]);
                            }
                        }else{
                            $(".atendimento-qtd").empty();
                            $(".atendimento-qtd").hide();
                        }
                    }
                }).complete(function () {
                    startTimerChamados();
                });
            }
        }
        function stopTimerChamados() {
            _chatLigado = false;
            clearInterval(_timer);

        }
        function mudarStatusChat(ativo) {
            console.log(ativo);
            $.ajax({
                url: '@Url.Action("AlterarStatusChat","Chat")',
                type: 'post',
                data: { online: ativo },
                dataType: 'json'
            }).success(function (resultado) {
                _chatOnline = ativo;
            }).complete(function () {
                if (!_chatLigado && ativo) {
                    startTimerChamados();
                }
            });
        }
        function notificarAtendimento(item){

            if($(".atendimento-lista-top").find("[data-id='"+ item.Id +"']").length == 0){
                var el = $(".atendimento-modelo").clone(true);
                el.removeClass("atendimento-modelo");
                el.addClass("atendimento-item");
                el.attr("data-id",item.Id);
                el.attr("href","@Url.Action("Index","Chat")");
                el.find(".atendimento-nome").text(item.Nome);
                el.find(".atendimento-tempo").text("Aguardando á " +  item.TempoEmEspera);
                el.find(".atendimento-empresa").text(item.Empresa);
                $(".atendimento-lista-top").append(el);
                el.show();
                notificacaoDesktop("SLA - Novo atendimento!",item.Nome,function(){
                    if (confirm("Deseja ir para a tela de atendimentos?")) {
                        document.location =  "@Url.Action("Index","Chat")";
                    }
                });
            }

            if($(".tabela-atendimentos").length > 0){
                if ($(".tabela-atendimentos").find("tr[data-id='" + item.Id + "']").length == 0) {
                    var tb = $(".tabela-atendimentos");
                    tb.append("<tr data-id='"+ item.Id+"' onclick='carregarAtendimento("+ item.Id +")' stype='cursor:pointer;'>"
                            +"<td>"
                                +"<i class='fa fa-user'></i>" + item.Nome
                            +"</td>"
                            +"<td>"
                                + item.TempoEmEspera
                            +"</td>"
                        +"</tr>");
                }
            }


        }
        function notificacaoBox(texto){
            new PNotify({
                title: 'Regular Notice',
                text: 'Check me out! I\'m a notice.'
            });
        }
        function notificacaoDesktop(titulo,texto,callback){
            setTimeout(function(){
                sarAlerta();
                PNotify.desktop.permission();
                (new PNotify({
                    title: titulo,
                    text: texto,
                    desktop: {
                        desktop: true
                    }
                })).get().click(function(e) {
                    if ($('.ui-pnotify-closer, .ui-pnotify-sticker, .ui-pnotify-closer *, .ui-pnotify-sticker *').is(e.target)) return;
                    callback();
                });
            },3000);
        }
        function sarAlerta(){
            var soundFx = $("<audio id='soundAlert'><source src='@Url.Content("~/Content/sounds/alert.mp3")' type='audio/mpeg'/></audio>");
            soundFx[0].play(); // Plays sound.
        }


    </script>
    @RenderSection("scripts", false)
</body>

</html>
