﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    @Html.Partial("_Scripts")
    @if (true)
    {
        @*<link href="~/Content/App-blue.css" rel="stylesheet" />*@
        @*<link href="~/Content/App-green.css" rel="stylesheet" />*@
    }
    <title>Junix Plataforma</title>

</head>
<body class="@ViewBag.ClassBody account-bg">
    <div style="display:none" id="div-carregando">
        <span id="carregando-msg">
        </span>
    </div>
    <div class="wrapper">
        <div class="content" style="margin-top:15px;">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
         $(document).ready(function () {
          
        });
    </script>
    @RenderSection("scripts", false)
</body>

</html>
