﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    @Html.Partial("_Scripts")
    <script src="~/Scripts/html2canvas/html2canvas.min.js"></script>
    <script src="~/Scripts/jspdf.min.js"></script>
    @{
        var keyChat = "VDnk71Tf53uweiYghtkR7A%253d%253d";
    }
    @if (true)
    {
        @*<link href="~/Content/App-blue.css" rel="stylesheet" />*@
        @*<link href="~/Content/App-green.css" rel="stylesheet" />*@
    }
    <title>Junix Plataforma</title>
</head>
<body class="@ViewBag.ClassBody account-bg">
    @{
        bool _IsAuthenticated = HttpContext.Current.User.Identity.IsAuthenticated;
        string logoCliente = System.Configuration.ConfigurationManager.AppSettings["logoCliente"];
    }
    <div style="display:none" id="div-carregando"></div>
    <div class="wrapper">
        <header class="navbar navbar-clean" role="banner">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>&nbsp;Menu
                    </button>
                    <a href="#" class="">
                        @*<img width="200px" height="100px" alt=""  src="~/Content/tenda-logo.jpg" />*@
                        <img style="width:115px; height:45px; margin-top:13px; margin-right:15px" alt="" src="@logoCliente" />
                    </a>
                </div> <!-- /.navbar-header -->
                <nav class="collapse navbar-collapse" role="navigation">
                    @if (_IsAuthenticated)
                    {
                        var cliente = Cobranca.Web.Rotinas.WebRotinas.ObterClienteLogado();

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown navbar-profile">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                    @*<img src="../../global/img/avatars/avatar-4-sm.jpg" class="navbar-profile-avatar" alt="">*@
                                    <i class="fa fa-user"></i>
                                    <span class="visible-xs-inline"> &nbsp;</span>
                                    <span class="hidden-xs hidden-sm">
                                        @Cobranca.Web.Rotinas.WebRotinas.ObterClienteLogado().Nome
                                    </span> <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Url.Action("Sair","ModuloCliente",null)">
                                            <i class="fa fa-sign-out"></i>
                                            &nbsp;&nbsp;Sair
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>

                            </li>

                        </ul>
                        <div class="nav navbar-nav navbar-right" style="margin-top:40px;">

                        </div>
                    }
                    else
                    {
                    }
                </nav>
            </div> <!-- /.container -->
        </header>

    </div>
    <div class="wrapper">
        <div class="content">
            <div class="container-fluid side-collapse-container">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="content-boleto" style="display:none"></div>

    <script type="text/javascript">
        var  form = $('.form'),  cache_width = form.width(),  a4  =[ 595.28,  841.89];  // for a4 size paper width and height
        var _timer;
        var _chatOnline = @String.Format("{0}", Cobranca.Web.Rotinas.WebRotinas.CookieLer("chatStatusSession") == "1"?"true":"false");
        var _chatLigado = false;
        var _atendimentosPendentes = [];
        $(document).ready(function () {
            carregarPagina();
        });


        function carregarPagina() {
            var menuAtivo = '@ViewBag.MenuAtivo';
            if (menuAtivo) {
                $(".mainnav-menu li").removeClass("active");
                $("." + menuAtivo).addClass("active");
            }
            $(".mainnav-menu li").click(function () {
                document.location = $(this).find("a:first").attr("href");
            });
            $('#chatStatus').on('switchChange.bootstrapSwitch', function (event, state) {
                mudarStatusChat(state);
            });
            if(_chatOnline){
                verificarChamados();
            }
            $(".slimScrollDiv").slimScroll({height: "250px"});
        }
        function goBack() {
            document.location = "..";
        }
        function goReload() {
            //document.location.reload(false);
            window.history.go(-1);
        }
        function startTimerChamados() {
            _chatLigado = true;
            _timer = setInterval(verificarChamados, 10000);
        }
        function verificarChamados() {
            stopTimerChamados();
            if (_chatOnline) {
                $.ajax({
                    url: '@Url.Action("VerificarChamados","Chat")',
                    type: 'get',
                    dataType: 'json'
                }).success(function (resultado) {
                    if(resultado){
                        if(resultado.atendimentos.length > 0){
                            $(".atendimento-qtd").empty().text(resultado.atendimentos.length);
                            $(".atendimento-qtd").show();
                            for (var i = 0; i < resultado.atendimentos.length; i++) {
                                notificarAtendimento(resultado.atendimentos[i]);
                            }
                        }else{
                            $(".atendimento-qtd").empty();
                            $(".atendimento-qtd").hide();
                        }
                    }
                }).complete(function () {
                    startTimerChamados();
                });
            }
        }
        function stopTimerChamados() {
            _chatLigado = false;
            clearInterval(_timer);

        }
        function mudarStatusChat(ativo) {
            console.log(ativo);
            $.ajax({
                url: '@Url.Action("AlterarStatusChat","Chat")',
                type: 'post',
                data: { online: ativo },
                dataType: 'json'
            }).success(function (resultado) {
                _chatOnline = ativo;
            }).complete(function () {
                if (!_chatLigado && ativo) {
                    startTimerChamados();
                }
            });
        }
        function notificarAtendimento(item){

            if($(".atendimento-lista-top").find("[data-id='"+ item.Id +"']").length == 0){
                var el = $(".atendimento-modelo").clone(true);
                el.removeClass("atendimento-modelo");
                el.addClass("atendimento-item");
                el.attr("data-id",item.Id);
                el.attr("href","@Url.Action("Index","Chat")");
                el.find(".atendimento-nome").text(item.Nome);
                el.find(".atendimento-tempo").text("Aguardando á " +  item.TempoEmEspera);
                el.find(".atendimento-empresa").text(item.Empresa);
                $(".atendimento-lista-top").append(el);
                el.show();
                notificacaoDesktop("SLA - Novo atendimento!",item.Nome,function(){
                    if (confirm("Deseja ir para a tela de atendimentos?")) {
                        document.location =  "@Url.Action("Index","Chat")";
                    }
                });
            }

            if($(".tabela-atendimentos").length > 0){
                if ($(".tabela-atendimentos").find("tr[data-id='" + item.Id + "']").length == 0) {
                    var tb = $(".tabela-atendimentos");
                    tb.append("<tr data-id='"+ item.Id+"' onclick='carregarAtendimento("+ item.Id +")' stype='cursor:pointer;'>"
                            +"<td>"
                                +"<i class='fa fa-user'></i>" + item.Nome
                            +"</td>"
                            +"<td>"
                                + item.TempoEmEspera
                            +"</td>"
                        +"</tr>");
                }
            }


        }
        function notificacaoBox(texto){
            new PNotify({
                title: 'Regular Notice',
                text: 'Check me out! I\'m a notice.'
            });
        }
        function notificacaoDesktop(titulo,texto,callback){
            setTimeout(function(){
                sarAlerta();
                PNotify.desktop.permission();
                (new PNotify({
                    title: titulo,
                    text: texto,
                    desktop: {
                        desktop: true
                    }
                })).get().click(function(e) {
                    if ($('.ui-pnotify-closer, .ui-pnotify-sticker, .ui-pnotify-closer *, .ui-pnotify-sticker *').is(e.target)) return;
                    callback();
                });
            },3000);
        }
        function sarAlerta(){
            var soundFx = $("<audio id='soundAlert'><source src='@Url.Content("~/Content/sounds/alert.mp3")' type='audio/mpeg'/></audio>");
            soundFx[0].play(); // Plays sound.
        }

        function openChat(){
            window.open("@Url.Action("NovoAtendimento", "ChatCliente", new { key = keyChat })", "_blank", "toolbar=no, scrollbars=no, resizable=no, top=120, left=500, width=400, height=600");
        }

        function emitirBoleto(url) {
            $('body').scrollTop(0);
           

            var height = $(window).height();
            height = (height - 220);

            $.post(url, function (data) {
                var win=window.open(url, "_blank", "toolbar=no, scrollbars=yes, resizable=no, top=120, left=500, width=auto, height="+height+"");
                with(win.document)
                {
                    open();
                    write(data.Html);
                    close();
                }
                //
                win.window.print();
                //createPDF(data.Html);
            });

        }

        function emitirBoletoAll(url) {
            $('body').scrollTop(0);
           

            var height = $(window).height();
            height = (height - 220);

            $.post(url, function (data) {
                var win=window.open(url, "_blank", "toolbar=no, scrollbars=yes, resizable=no, top=120, left=500, width=auto, height="+height+"");
                with(win.document)
                {
                    open();
                    write(data.Html);
                    close();
                }
                //
                win.window.print();
                //createPDF(data.Html);
            });

        }

        function createPDF(html) {
            var specialElementHandlers = {
                '#editor': function (element,renderer) {
                    return true;
                }
            };

            $('#content-boleto').append($(html));

            var doc = new jsPDF();
            doc.fromHTML($('#content-boleto').html(), 15, 15, {
                'width': 170,'elementHandlers': specialElementHandlers
            });
            doc.save('sample-file.pdf');
            
        }

    </script>
    @RenderSection("scripts", false)
</body>

</html>
