﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="@Url.Action("ObterIconeEmpresa","ParametroPlataforma")" type="favicon/ico">
    @Html.Partial("_Scripts")

    @if (true)
    {
        @*<link href="~/Content/App-blue.css" rel="stylesheet" />*@
        @*<link href="~/Content/App-green.css" rel="stylesheet" />*@
    }

    <title>Junix Plataforma</title>
</head>
<body class="@ViewBag.ClassBody account-bg">
    @{
        bool _IsAuthenticated = HttpContext.Current.User.Identity.IsAuthenticated;
    }
    <div class="wrapper">
        <div class="content">
            <div class="container-fluid side-collapse-container">
                @RenderBody()
            </div>
        </div>
    </div>


    <script type="text/javascript">
        var _timer;
        var _chatOnline = @String.Format("{0}", Cobranca.Web.Rotinas.WebRotinas.CookieLer("chatStatusSession") == "1"?"true":"false");
        var _chatLigado = false;
        var _atendimentosPendentes = [];
        $(document).ready(function () {
            carregarPagina();
        });


        function carregarPagina() {
            var menuAtivo = '@ViewBag.MenuAtivo';
            if (menuAtivo) {
                $(".mainnav-menu li").removeClass("active");
                $("." + menuAtivo).addClass("active");
            }
            $(".mainnav-menu li").click(function () {
                document.location = $(this).find("a:first").attr("href");
            });
            $('#chatStatus').on('switchChange.bootstrapSwitch', function (event, state) {
                mudarStatusChat(state);
            });
            if(_chatOnline){
                verificarChamados();
            }
            $(".slimScrollDiv").slimScroll({height: "250px"});
        }
        function goBack() {
            document.location = "..";
        }
        function goReload() {
            //document.location.reload(false);
            window.history.go(-1);
        }
        function startTimerChamados() {
            _chatLigado = true;
            _timer = setInterval(verificarChamados, 10000);
        }
        function verificarChamados() {
            stopTimerChamados();
            if (_chatOnline) {
                $.ajax({
                    url: '@Url.Action("VerificarChamados","Chat")',
                    type: 'get',
                    dataType: 'json'
                }).success(function (resultado) {
                    if(resultado){
                        if(resultado.atendimentos.length > 0){
                            $(".atendimento-qtd").empty().text(resultado.atendimentos.length);
                            $(".atendimento-qtd").show();
                            for (var i = 0; i < resultado.atendimentos.length; i++) {
                                notificarAtendimento(resultado.atendimentos[i]);
                            }
                        }else{
                            $(".atendimento-qtd").empty();
                            $(".atendimento-qtd").hide();
                        }
                    }
                }).complete(function () {
                    startTimerChamados();
                });
            }
        }
        function stopTimerChamados() {
            _chatLigado = false;
            clearInterval(_timer);

        }
        function mudarStatusChat(ativo) {
            console.log(ativo);
            $.ajax({
                url: '@Url.Action("AlterarStatusChat","Chat")',
                type: 'post',
                data: { online: ativo },
                dataType: 'json'
            }).success(function (resultado) {
                _chatOnline = ativo;
            }).complete(function () {
                if (!_chatLigado && ativo) {
                    startTimerChamados();
                }
            });
        }
        function notificarAtendimento(item){

            if($(".atendimento-lista-top").find("[data-id='"+ item.Id +"']").length == 0){
                var el = $(".atendimento-modelo").clone(true);
                el.removeClass("atendimento-modelo");
                el.addClass("atendimento-item");
                el.attr("data-id",item.Id);
                el.attr("href","@Url.Action("Index","Chat")");
                el.find(".atendimento-nome").text(item.Nome);
                el.find(".atendimento-tempo").text("Aguardando á " +  item.TempoEmEspera);
                el.find(".atendimento-empresa").text(item.Empresa);
                $(".atendimento-lista-top").append(el);
                el.show();
                notificacaoDesktop("SLA - Novo atendimento!",item.Nome,function(){
                    if (confirm("Deseja ir para a tela de atendimentos?")) {
                        document.location =  "@Url.Action("Index","Chat")";
                    }
                });
            }

            if($(".tabela-atendimentos").length > 0){
                if ($(".tabela-atendimentos").find("tr[data-id='" + item.Id + "']").length == 0) {
                    var tb = $(".tabela-atendimentos");
                    tb.append("<tr data-id='"+ item.Id+"' onclick='carregarAtendimento("+ item.Id +")' stype='cursor:pointer;'>"
                            +"<td>"
                                +"<i class='fa fa-user'></i>" + item.Nome
                            +"</td>"
                            +"<td>"
                                + item.TempoEmEspera
                            +"</td>"
                        +"</tr>");
                }
            }


        }
        function notificacaoBox(texto){
            new PNotify({
                title: 'Regular Notice',
                text: 'Check me out! I\'m a notice.'
            });
        }
        function notificacaoDesktop(titulo,texto,callback){
            setTimeout(function(){
                sarAlerta();
                PNotify.desktop.permission();
                (new PNotify({
                    title: titulo,
                    text: texto,
                    desktop: {
                        desktop: true
                    }
                })).get().click(function(e) {
                    if ($('.ui-pnotify-closer, .ui-pnotify-sticker, .ui-pnotify-closer *, .ui-pnotify-sticker *').is(e.target)) return;
                    callback();
                });
            },3000);
        }
        function sarAlerta(){
            var soundFx = $("<audio id='soundAlert'><source src='@Url.Content("~/Content/sounds/alert.mp3")' type='audio/mpeg'/></audio>");
            soundFx[0].play(); // Plays sound.
        }


    </script>
    @RenderSection("scripts", false)
</body>

</html>
