﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <link href='~/Content/font/Roboto/roboto.css' rel='stylesheet' type='text/css'>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="@Url.Action("ObterIconeEmpresa","ParametroPlataforma")" type="favicon/ico">
    @Html.Partial("_Scripts")
    @{
        if (Cobranca.Web.Rotinas.WebRotinas.ObterParametro().LayoutSistema == Cobranca.Db.Models.Enumeradores.LayoutSistema.Blue)
        {
            <link href='~/Content/App-blue.css' rel='stylesheet' />
        }
        else if (Cobranca.Web.Rotinas.WebRotinas.ObterParametro().LayoutSistema == Cobranca.Db.Models.Enumeradores.LayoutSistema.Blue2)
        {
            <link href='~/Content/App-blue-dark.css' rel='stylesheet' />
        }
        else if (Cobranca.Web.Rotinas.WebRotinas.ObterParametro().LayoutSistema == Cobranca.Db.Models.Enumeradores.LayoutSistema.Green)
        {
            <link href='~/Content/App-green.css' rel='stylesheet' />
        }
        else if (Cobranca.Web.Rotinas.WebRotinas.ObterParametro().LayoutSistema == Cobranca.Db.Models.Enumeradores.LayoutSistema.Gray)
        {
            <link href='~/Content/App-gray.css' rel='stylesheet' />
        }
        var _versao = Cobranca.Web.Rotinas.WebRotinas.ObterVersaoEmpresa();
    }
    <title>Junix Plataforma</title>
</head>
<body class="@ViewBag.ClassBody account-bg">
    @using Cobranca.Rotinas;
    @using Cobranca.Db.Models;
    @{
        bool _IsAuthenticated = HttpContext.Current.User.Identity.IsAuthenticated;
        bool chatON = false;
        Cobranca.Db.Models.Enumeradores.PerfilTipo _perfil = (Cobranca.Db.Models.Enumeradores.PerfilTipo)Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo;
        string logoCliente = System.Configuration.ConfigurationManager.AppSettings["logoCliente"];
    }
    <div style="display:none" id="div-carregando">
        <span id="carregando-msg">
        </span>
    </div>
    <div class="wrapper">
        <header class="navbar navbar-clean" role="banner">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>&nbsp;Menu
                    </button>
                    <a href="@Url.Action("index","home",null)" class="">
                        @*<img width="200px" height="100px" alt="" src="~/Content/tenda-logo.jpg" />*@
                        <img style="height:45px; margin-top:13px; margin-right:15px" alt="" src="@logoCliente" />
                    </a>
                </div> <!-- /.navbar-header -->
                <nav class="collapse navbar-collapse" role="navigation">
                    @if (_IsAuthenticated)
                    {
                        var usuario = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado();
                        if (_IsAuthenticated)
                        {

                            @Html.Partial("_Menu")

                        }
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown navbar-profile">
                                <a class="dropdown-toggle" style="padding-right:0">
                                    <i class="fa fa-globe"></i>
                                    &nbsp;&nbsp;@Idioma.Traduzir(EnumeradoresDescricao.IdiomaTipo(Idioma.ObterIdiomaUsuarioAtual()))
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="@Url.Action("alterarIdiomaGet", "home" , new { tipo=(short)Enumeradores.IdiomaTipo.pt_BR})">
                                            <i class="fa fa-globe"></i>
                                            &nbsp;&nbsp;@Idioma.Traduzir(EnumeradoresDescricao.IdiomaTipo(Enumeradores.IdiomaTipo.pt_BR))
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("alterarIdiomaGet", "home" , new { tipo=(short)Enumeradores.IdiomaTipo.es_ES})">
                                            <i class="fa fa-globe"></i>
                                            &nbsp;&nbsp;@Idioma.Traduzir(EnumeradoresDescricao.IdiomaTipo(Enumeradores.IdiomaTipo.es_ES))
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("alterarIdiomaGet", "home" , new { tipo=(short)Enumeradores.IdiomaTipo.en_US})">
                                            <i class="fa fa-globe"></i>
                                            &nbsp;&nbsp;@Idioma.Traduzir(EnumeradoresDescricao.IdiomaTipo(Enumeradores.IdiomaTipo.en_US))
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            @{
                                if (_versao != Cobranca.Db.Models.Enumeradores.VersaoEmpresa.Otis)
                                {
                                    <li class="dropdown navbar-profile">
                                        <a class="dropdown-toggle" href="~/Suporte/Index" style="padding-right:0">
                                            <i class="fa fa-support"></i>
                                            &nbsp;&nbsp;Suporte On-Line do Sistema
                                        </a>
                                    </li>
                                }
                            }
                            <li class="dropdown navbar-profile">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                    @*<img src="../../global/img/avatars/avatar-4-sm.jpg" class="navbar-profile-avatar" alt="">*@
                                    <i class="fa fa-user"></i>
                                    <span class="visible-xs-inline"> &nbsp;</span>
                                    <span class="hidden-xs hidden-sm">
                                        @Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Nome
                                    </span> <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="@Url.Action("cadastro", "usuario" , new { id=Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod })">
                                            <i class="fa fa-user"></i>
                                            &nbsp;&nbsp;Meu cadastro
                                        </a>
                                    </li>

                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Url.Action("Sair","Login",null)">
                                            <i class="fa fa-sign-out"></i>
                                            &nbsp;&nbsp;Sair
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="botao-chat">
                                    @if (_perfil != Cobranca.Db.Models.Enumeradores.PerfilTipo.Corretor)
                                    {

                                        <input type="hidden" id="chatStatus" value="0" />
                                    }
                                    else
                                    {
                                        <input id="chatStatus" style="" data-size="mini" data-on-color="success" data-off-color="danger" data-on-text="Online" data-off-text="Offline" data-label-text="Chat" class="switch" type="checkbox" name="chatStatus" @String.Format("{0}", chatON ? "checked" : "")>
                                    }

                                </a>
                            </li>
                        </ul>
                        <div class="nav navbar-nav navbar-right" style="margin-top:40px;">

                        </div>
                    }
                    else
                    {
                    }
                </nav>
            </div> <!-- /.container -->
        </header>
        <div class="content" style="margin-top:15px;">
            <div class="container-fluid">
                @*<div class="row hide">

                        <div class="col-lg-12 ">
                            <div class="panel panel-default box-shadon ">
                                <div class="panel-body ">

                                </div>
                            </div>
                        </div>
                    </div>*@
                @RenderBody()

                <div class="modal fade" id="jxModalDefault" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-color-line"></div>
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h3 class="modal-title" style="color:#c76161;"></h3>
                            </div>
                            <div class="modal-body">
                                <div class="row corpo-msg">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-name="btn-confirmar" class="btn btn-sm btn-primary" style="min-width:75px;">Confirmar</button>
                                <button type="button" data-name="btn-cancelar" class="btn btn-sm btn-default" data-dismiss="modal" style="min-width:75px;">Cancelar</button>

                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
                <div id="jnxCalendarDefault" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-color-line"></div>
                            <div class="calendario-titulo">
                                <i class="fa fa-calendar"></i>
                                Agenda
                                <div class="widget-toolbar">
                                    <div class="btn-group">
                                        <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown" aria-expanded="false">
                                            Exibir <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu js-status-update pull-right">
                                            <li>
                                                <a href="javascript:void(0);" id="dropdown-menu-mt">Mês</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" id="dropdown-menu-ag">Semana</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" id="dropdown-menu-td">Dia</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id='calendarDefault'></div>
                        </div>
                    </div>

                </div>

                <div class="modal modal-lg animated fadeInDown" id="jxModalIframe">
                    <iframe frameborder="0" width="100%" height="100%" id="iframe-modal" style=""></iframe>

                </div>

            </div>
        </div>
    </div>
    <footer class="footer navbar-fixed-bottom hide">
        <div class="container text-center">
            <p class="">Copyright © 2015.</p>
        </div>
    </footer>
    <div class="filter-switcher closed hide" id="btnFilterSwitcher" style="left: -225px;">
        <div class="header">
            <a disabled="disabled" class="trigger" href="#"><i class="fa fa-filter"></i></a>
            <h2>Filtros</h2>
        </div>
        <div class="clearfix body" id="filter-body-switcher"></div>

    </div>
    <script type="text/javascript">
        var _timer;
        var _chatOnline = @String.Format("{0}", Cobranca.Web.Rotinas.WebRotinas.CookieLer("chatStatusSession") == "1"?"true":"false");
        var _chatLigado = false;
        var _atendimentosPendentes = [];
        $(document).ready(function () {
            carregarPagina();
            $('#chatStatus').on('switchChange.bootstrapSwitch', function (event, state) {
                mudarStatusChat(state);
            });
            if(_chatOnline){
                verificarChamados();
            }
            //$("#filtro_data").datepicker();
        });
        function carregarPagina() {
            var menuAtivo = '@ViewBag.MenuAtivo';
            if (menuAtivo) {
                $(".mainnav-menu li").removeClass("active");
                $("." + menuAtivo).addClass("active");
            }
            $(".mainnav-menu li").click(function () {
                document.location = $(this).find("a:first").attr("href");
            });
            $('#chatStatus').on('switchChange.bootstrapSwitch', function (event, state) {
                mudarStatusChat(state);
            });

            $(".slimScrollDiv").slimScroll({height: "250px"});

            carregarFiltrosPadrao();

            $('#calendarDefault').fullCalendar();
        }
        function goBack() {
            document.location = "..";
        }
        function goReload() {
            //document.location.reload(false);
            window.history.go(-1);
        }
        function notificacaoBox(titulo,texto){
            new PNotify({
                title: titulo,
                text: texto
            });
        }

        function filtrarChamadoPorId(id){

            var form = $(document.createElement("form"));
            form.attr("method","post");
            form.attr("action","@Url.Action("resultado", "pesquisa")");
            var input = $(document.createElement("input"));
            input.attr("id","ChamadoId");
            input.attr("name","ChamadoId");
            input.attr("type","hidden");
            input.val(id);
            form.append(input);
            form.submit();
        }
        function expandirIcone(el) {
            var a = $(el).find("i");
            if(a.hasClass("fa-plus-square-o")){
                a.removeClass("fa-plus-square-o").addClass("fa-minus-square-o");
            }else{
                a.removeClass("fa-minus-square-o").addClass("fa-plus-square-o");
            }
        }
        function carregarFiltrosPadrao(){

        }
        function popularDropoDownList(dropDonw,dados){
            if(dropDonw.length){
                dropDonw.empty();
                $.each(dados, function(index,item) {
                    dropDonw.append($("<option />").val(item.Cod).text(item.Text));
                });
            }
        }

        function stopTimerChamados() {
            _chatLigado = false;
            clearInterval(_timer);

        }
        function mudarStatusChat(ativo) {

            $.ajax({
                url: '@Url.Action("AlterarStatusChat","Chat")',
                type: 'post',
                data: { online: ativo },
                dataType: 'json'
            }).success(function (resultado) {
                _chatOnline = ativo;
            }).complete(function () {
                if (!_chatLigado && ativo) {
                    startTimerChamados();
                }
            });
        }
        function notificarAtendimento(item){

            if($(".atendimento-lista-top").find("[data-id='"+ item.Id +"']").length == 0){
                var el = $(".atendimento-modelo").clone(true);
                el.removeClass("atendimento-modelo");
                el.addClass("atendimento-item");
                el.attr("data-id",item.Id);
                el.attr("href","@Url.Action("Index","Chat")");
                el.find(".atendimento-nome").text(item.Nome);
                el.find(".atendimento-tempo").text("Aguardando á " +  item.TempoEmEspera);
                el.find(".atendimento-empresa").text(item.Empresa);
                $(".atendimento-lista-top").append(el);
                el.show();
                notificacaoDesktop("Junix - Novo atendimento!",item.Nome,function(){
                    if (confirm("Deseja ir para a tela de atendimentos?")) {
                        document.location =  "@Url.Action("Index","Chat")";
                    }
                });
            }

            if($(".tabela-atendimentos").length > 0){
                if ($(".tabela-atendimentos").find("tr[data-id='" + item.Id + "']").length == 0) {
                    var tb = $(".tabela-atendimentos");
                    tb.append("<tr data-id='"+ item.Id+"' onclick='carregarAtendimento("+ item.Id +")' stype='cursor:pointer;'>"
                            +"<td>"
                                +"<i class='fa fa-user'></i>" + item.Nome
                            +"</td>"
                            +"<td>"
                                + item.TempoEmEspera
                            +"</td>"
                        +"</tr>");
                }
            }


        }
        function verificarChamados() {
            stopTimerChamados();
            if (_chatOnline) {
                $.ajax({
                    url: '@Url.Action("VerificarChamados","Chat")',
                    type: 'get',
                    dataType: 'json'
                }).success(function (resultado) {
                    if(resultado){
                        if(resultado.atendimentos.length > 0){
                            $(".atendimento-qtd").empty().text(resultado.atendimentos.length);
                            $(".atendimento-qtd").show();
                            for (var i = 0; i < resultado.atendimentos.length; i++) {
                                notificarAtendimento(resultado.atendimentos[i]);
                            }
                        }else{
                            $(".atendimento-qtd").empty();
                            $(".atendimento-qtd").hide();
                            $(".tabela-atendimentos").find("tr[data-id]").hide();
                        }
                    }
                }).complete(function () {
                    startTimerChamados();
                });
            }
        }
        function startTimerChamados() {
            _chatLigado = true;
            _timer = setInterval(verificarChamados, 10000);
        }
        function notificacaoBox(titulo,texto){
            new PNotify({
                title: titulo,
                text: texto
            });
        }
        function notificacaoDesktop(titulo,texto,callback){
            setTimeout(function(){
                sarAlerta();
                PNotify.desktop.permission();
                (new PNotify({
                    title: titulo,
                    text: texto,
                    desktop: {
                        desktop: true
                    }
                })).get().click(function(e) {
                    if ($('.ui-pnotify-closer, .ui-pnotify-sticker, .ui-pnotify-closer *, .ui-pnotify-sticker *').is(e.target)) return;
                    callback();
                });
            },3000);
        }
        function sarAlerta(){
            var soundFx = $("<audio id='soundAlert'><source src='@Url.Content("~/Content/sounds/alert.mp3")' type='audio/mpeg'/></audio>");
            soundFx[0].play(); // Plays sound.
        }
        function iniciarTesteAtendimento() {
            window.open("@Url.Action("Index", "ChatCliente")", "_blank", "toolbar=no, scrollbars=no, resizable=no, top=120, left=500, width=400, height=600");
        }


    </script>
    @RenderSection("scripts", false)

</body>

</html>
