﻿@{
    var listaStatus = Cobranca.Db.Models.EnumeradoresLista.StatusProposta();
    var listaStatusAnalista = Cobranca.Db.Models.EnumeradoresLista.StatusPropostaAnalista();
    var _perfilTipo = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo;

}


<ul class="nav navbar-nav navbar-left mainnav-menu">
    <li class="dropdown menu-home active">
        <a href="@Url.Action("index","HomeProposta",null)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            <i class="fa fa-home"></i>
            &nbsp;Home
        </a>
    </li>
    <li class="dropdown menu-pesquisa">
        <a href="@Url.Action("Index","PesquisaProposta")" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            <i class="fa fa-search"></i>
            &nbsp;Pesquisa
        </a>
    </li>

    @if (_perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Corretor)
    {
        <li class="dropdown menu-chat">
            <a href="@Url.Action("Index","Chat")" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                <i class="fa fa-comments-o"></i>
                &nbsp;Corretor Online
            </a>
        </li>
        <li class="dropdown menu-espelho">
            <a href="@Url.Action("index", "espelhovenda")" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                <i class="fa fa-dollar"></i>
                &nbsp;Proposta
            </a>
        </li>
    }
    @if (_perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Corretor)
    {
        <li class="dropdown menu-cadastro-prospect">
            <a href="@Url.Action("Index", "CadastroProspect")" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                <i class="fa fa-users"></i>
                &nbsp;Novo Prospect
            </a>
        </li>
    }
    @if (_perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin)
    {
        <li class="dropdown menu-empreendimento">
            <a href="@Url.Action("Index", "PesquisaEmpreendimento")" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                <i class="fa fa-building"></i>
                &nbsp;Empreendimento
            </a>
        </li>

    }




    @if (_perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin)
    {
        <li class="dropdown menu-importacao">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                <i class="fa fa-cloud-upload"></i>
                &nbsp;Importação
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        <i class="fa fa-file-excel-o"></i>
                        &nbsp;Unidade
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown menu-cadastro menu-cliente menu-projeto">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                <i class="fa fa-files-o"></i>
                &nbsp;Cadastros
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="@Url.Action("index", "Usuario")">
                        <i class="fa fa-user dropdown-icon "></i>
                        Usuários
                    </a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="@Url.Action("index", "Construtora")">
                        <i class="fa fa-building dropdown-icon "></i>
                        Construtora
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("index", "Regional")">
                        <i class="fa fa-map-marker dropdown-icon "></i>
                        Regional
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("index", "Empreendimento")">
                        <i class="fa fa-building dropdown-icon "></i>
                        Empreendimento
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("index", "Bloco")">
                        <i class="fa fa-building-o dropdown-icon "></i>
                        Bloco
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("index", "Banco")">
                        <i class="fa fa-bank dropdown-icon "></i>
                        Banco
                    </a>
                </li>
                <li class="divider">

                </li>
                <li>
                    <a href="@Url.Action("index", "TabelaVenda")">
                        <i class="fa fa-table dropdown-icon "></i>
                        Tabela Vendas
                    </a>

                </li>
                <li>
                    <a href="@Url.Action("index", "CheckListNome")">
                        <i class="fa fa-check dropdown-icon "></i>
                        Check List
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("index", "EmpresaVenda")">
                        <i class="fa fa-briefcase dropdown-icon "></i>
                        Empresa de Venda
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("index", "TabelaAnaliseDocumental")">
                        <i class="fa fa-file-pdf-o dropdown-icon "></i>
                        Análise Documental
                    </a>
                </li>
                <li class="dropdown-submenu hide">
                    <a tabindex="-1" href="#">
                        <i class="fa fa-tags dropdown-icon "></i>
                        Parametro de Vendas
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("index", "TabelaVenda")">
                                <i class="fa fa-tag dropdown-icon "></i>
                                Tabela Vendas
                            </a>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">
                                <i class="fa fa-gear dropdown-icon "></i>
                                Configuração
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("Index", "TabelaVendaEmpreendimento")">
                                        <i class="fa fa-sliders"></i>
                                        &nbsp;Empreendimento
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "TabelaVendaFluxo")">
                                        <i class="fa fa-sliders"></i>
                                        &nbsp;Fluxo
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="divider">
                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">
                        <i class="fa fa-tag dropdown-icon "></i>
                        Tipos
                    </a>
                    <ul class="dropdown-menu">

                        <li>
                            <a href="@Url.Action("index", "TipoDocumento")">
                                <i class="fa fa-tag dropdown-icon "></i>
                                Tipo de Documento
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("index", "TipoEmpreendimentoFoto")">
                                <i class="fa fa-tag dropdown-icon "></i>
                                Tipo de Foto
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="@Url.Action("index", "TipoCobranca")">
                        <i class="fa fa-tag dropdown-icon "></i>
                        Fluxo de Processo
                    </a>
                </li>
                <li>
                    <a href="#" onclick="iniciarTesteAtendimento()">
                        <i class="fa fa-comment"></i>
                        &nbsp;Teste atentimento online
                    </a>
                </li>
            </ul>
        </li>


                    <li class="dropdown menu-configuracoes hidden-sm hide">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                            <i class="fa fa-cog"></i>
                            &nbsp;Configurações
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="@Url.Action("cadastro", "Empresa")">
                                    <i class="fa fa-cog dropdown-icon "></i>
                                    Parametro do Sistema
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="dropdown menu-configuracoes" style="display:none">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                            <i class="fa fa-gear"></i>
                            &nbsp;Configurações
                        </a>
                    </li>

    }
    @if (Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Analista)
    {
        foreach (var item in listaStatusAnalista)
        {
            <li class="dropdown menu-configuracoes" style="">
                <a href="@Url.Action("Resultado","PesquisaProposta", new { Status = item.Value })" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                    <i class="fa fa-list-alt"></i>
                    &nbsp;@item.Key
                </a>
            </li>
        }
    }
    @if (Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Corretor)
    {
        foreach (var item in listaStatus)
        {
            <li class="dropdown menu-configuracoes" style="">
                <a href="@Url.Action("Resultado","PesquisaProposta", new { Status = item.Value })" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                    <i class="fa fa-list-alt"></i>
                    &nbsp;@item.Key
                </a>
            </li>
        }
    }
    @if (Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.SupervisorVenda)
    {
        foreach (var item in listaStatus)
        {
            <li class="dropdown menu-configuracoes" style="">
                <a href="@Url.Action("Resultado","PesquisaProposta", new { Status = item.Value })" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                    <i class="fa fa-list-alt"></i>
                    &nbsp;@item.Key
                </a>
            </li>
        }
    }
    <li class="dropdown menu-configuracoes" style="">
        <a href="@Url.Action("sair","login")" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            <i class="fa fa-power-off"></i>
            &nbsp;Sair
        </a>
    </li>
</ul>