﻿@using Cobranca.Rotinas;
@{
    Cobranca.Db.Repositorio.Repository<Cobranca.Db.Models.TabelaParametroAtendimento> atendimento = new Cobranca.Db.Repositorio.Repository<Cobranca.Db.Models.TabelaParametroAtendimento>();
    var listaSintese = Cobranca.Db.Models.EnumeradoresLista.StatusProposta();
    var _codRegional = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().CodRegional;
    var _perfilTipo = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo;

    var _versao = Cobranca.Web.Rotinas.WebRotinas.ObterVersaoEmpresa();



}

<ul class="nav navbar-nav navbar-left mainnav-menu">
    <li class="dropdown menu-home active">
        <a href="@Url.Action("index","home",null)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            <i class="fa fa-home"></i>
            &nbsp; @Idioma.Traduzir("Home")
        </a>
    </li>

    <li class="dropdown menu-pesquisa">
        <a href="@Url.Action("ConsultaPorCliente", "Pesquisa")" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            <i class="fa fa-search"></i>
            &nbsp; @Idioma.Traduzir("Pesquisa")
        </a>
    </li>

    @if (_perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Regional || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.RegionalAdmin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin)
    {
        <li class="dropdown menu-atendimento" style="">
            <a href="@Url.Action("Fila", "Atendimento")" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                <i class="fa fa-phone"></i>
                &nbsp; @Idioma.Traduzir("Fila de Atendimento")
            </a>
        </li>
    }
    <li class="dropdown menu-solicitacao">
        <a href="@Url.Action("Resultado", "ContratoParcelaBoleto")" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            <i class="fa fa-money"></i>
            &nbsp; @Idioma.Traduzir("Solicitações")
        </a>
    </li>
    @if (_perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Atendimento && _versao == Cobranca.Db.Models.Enumeradores.VersaoEmpresa.Junix)
    {
        if (Cobranca.Web.Rotinas.WebRotinas.ObterVersaoEmpresa() == Cobranca.Db.Models.Enumeradores.VersaoEmpresa.Junix)
        {
            @*<li class="dropdown menu-chat">
                    <a href="@Url.Action("Index", "Chat")" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        <i class="fa fa-comments-o"></i>
                        &nbsp;@Idioma.Traduzir("Atendimento Online")
                    </a>
                </li>*@
        }
    }

    @*@if (_perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Escritorio)
        {
            <li class="dropdown menu-acoesCobranca">
                <a href="@Url.Action("CobrancaAcao", "Pesquisa")" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                    <i class="fa fa-dollar"></i>
                    &nbsp; @Idioma.Traduzir("Ações de Cobrança")
                </a>
            </li>
        }*@

    @if (_perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.RegionalAdmin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Analista)
    {
        <li class="dropdown menu-cadastro menu-cliente menu-projeto">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                <i class="fa fa-files-o"></i>
                &nbsp;@Idioma.Traduzir("Cadastros")
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="@Url.Action("Index", "ParametroAtendimento")">
                        <i class="fa fa-tags dropdown-icon "></i>
                        @Idioma.Traduzir("Parametro Atendimento")
                    </a>
                </li>
            </ul>
        </li>
    }

    @if (_perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin)
    {
        <li class="dropdown menu-importacao">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                <i class="fa fa-cog"></i>
                &nbsp; @Idioma.Traduzir("Ações de Cobrança")
            </a>
            <ul class="dropdown-menu" role="menu">

                <li>
                    <a href="@Url.Action("Remessa", "Exportacao")">
                        <i class="fa fa-file-text-o"></i>
                        &nbsp; @Idioma.Traduzir("Arquivo Remessa")
                    </a>

                </li>
                <li>
                    <a href="@Url.Action("Email", "Exportacao")">
                        <i class="fa fa-send"></i>
                        &nbsp; @Idioma.Traduzir("Enviar E-Mails")
                    </a>
                </li>

                <li class="divider"></li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">
                        <i class="fa fa-upload dropdown-icon"></i>@Idioma.Traduzir("Importações")
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("ImportLista", "ImportacaoCliente")">
                                <i class="fa fa-user"></i>
                                &nbsp; @Idioma.Traduzir("Cliente")
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ImportLista", "ImportacaoClienteEndereco")">
                                <i class="fa fa-vcard-o"></i>
                                &nbsp; @Idioma.Traduzir("Endereço")
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ImportLista", "ImportacaoParcela")">
                                <i class="fa fa-dollar"></i>
                                &nbsp; @Idioma.Traduzir("Parcela")
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ImportLista", "ImportacaoCredito")">
                                <i class="fa fa-money"></i>
                                &nbsp; @Idioma.Traduzir("Crédito")
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ImportLista", "ImportacaoBoleto")">
                                <i class="fa fa-barcode"></i>
                                &nbsp; @Idioma.Traduzir("Boleto")
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">
                        <i class="fa fa-download dropdown-icon"></i>@Idioma.Traduzir("Extrações")
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("ClassificacaoParcela", "Exportacao")">
                                <i class="fa fa-cloud-download"></i>
                                &nbsp; @Idioma.Traduzir("ExtrairClassificacao")
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Negativacao", "Exportacao")">
                                <i class="fa fa-cloud-download"></i>
                                &nbsp; @Idioma.Traduzir("Extrair Negativação")
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Personalizada", "Exportacao")">
                                <i class="fa fa-cloud-download"></i>
                                &nbsp; @Idioma.Traduzir("Extração Personalizada")
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    }
    @if (_perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.RegionalAdmin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Escritorio || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Analista || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.SupervisorAnalista)
    {
        <li class="dropdown menu-regua menu-cliente menu-projeto">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                <i class="fa fa-files-o"></i>
                &nbsp; @Idioma.Traduzir("Réguas")
            </a>
            <ul class="dropdown-menu" role="menu">
                @if (_perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.RegionalAdmin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Escritorio || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Analista || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.SupervisorAnalista)
                {
                    <li>
                        <a href="@Url.Action("ReguaFilial", "Regua")">
                            <i class="fa fa-sliders"></i>
                            &nbsp; @Idioma.Traduzir("Régua de Cobrança")
                        </a>
                    </li>
                }

                @if (_perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Escritorio || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Analista || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.SupervisorAnalista)
                {
                    <li>
                        <a href="@Url.Action("ReguaSoberana", "Regua")">
                            <i class="fa fa-sliders"></i>
                            &nbsp; @Idioma.Traduzir("Régua de Cobrança") <b>(@Idioma.Traduzir("Soberana"))</b>
                        </a>
                    </li>
                }
            </ul>
        </li>
    }
    @if (_perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Escritorio || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Analista || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.SupervisorAnalista)
    {
        <li class="dropdown menu-cadastro menu-cliente menu-projeto">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                <i class="fa fa-files-o"></i>
                &nbsp; @Idioma.Traduzir("Cadastros")
            </a>
            <ul class="dropdown-menu" role="menu">

                <li>
                    <a href="@Url.Action("index", "Usuario")">
                        <i class="fa fa-user dropdown-icon "></i>
                        @Idioma.Traduzir("Usuários")
                    </a>
                </li>
                <li class="divider">

                </li>
                <li>
                    <a href="@Url.Action("index", "Construtora")">
                        <i class="fa fa-building dropdown-icon "></i>
                        @Idioma.Traduzir("Empresa")
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("index", "Regional")">
                        <i class="fa fa-map-marker dropdown-icon "></i>
                        @Idioma.Traduzir("Filial")
                    </a>
                </li>
                @*<li>
                        <a href="@Url.Action("index", "TabelaGrupo")">
                            <i class="fa fa-users dropdown-icon "></i>
                            @Idioma.Traduzir("Grupo")
                        </a>
                    </li>*@

                @*<li>
                        <a href="@Url.Action("index", "Empreendimento")">
                            <i class="fa fa-building dropdown-icon "></i>
                            Empreendimento
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("index", "Bloco")">
                            <i class="fa fa-building-o dropdown-icon "></i>
                            Bloco
                        </a>
                    </li>*@
                <li class="divider">

                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">
                        <i class="fa fa-tags dropdown-icon "></i>
                        @Idioma.Traduzir("Tipos")
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("index", "Produto")">
                                <i class="fa fa-tag dropdown-icon"></i>
                                @Idioma.Traduzir("Produto")
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("index", "Rota")">
                                <i class="fa fa-tag dropdown-icon"></i>
                                @Idioma.Traduzir("Rota")
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("index", "Campanha")">
                                <i class="fa fa-tag dropdown-icon "></i>
                                @Idioma.Traduzir("Campanha")
                            </a>
                        </li>
                        @*<li>
                                <a href="@Url.Action("index", "CampanhaAcao")">
                                    <i class="fa fa-tag dropdown-icon "></i>
                                    Ação de  Campanha
                                </a>
                            </li>*@
                        <li>
                            <a href="@Url.Action("index", "ParametroFeriado")">
                                <i class="fa fa-tag dropdown-icon "></i>
                                @Idioma.Traduzir("Feriado")
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("index", "TipoDocumento")">
                                <i class="fa fa-tag dropdown-icon "></i>
                                @Idioma.Traduzir("Tipo de Documento")
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("index", "TipoDespesa")">
                                <i class="fa fa-tag dropdown-icon "></i>
                                @Idioma.Traduzir("Tipo de Despesa")
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("index", "TipoBloqueio")">
                                <i class="fa fa-tag dropdown-icon "></i>
                                @Idioma.Traduzir("Tipo de Bloqueio")
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("index", "TipoCadastro")">
                                <i class="fa fa-tag dropdown-icon "></i>
                                @Idioma.Traduzir("Tipo de Cadastro")
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("index", "TipoCarteira")">
                                <i class="fa fa-tag dropdown-icon "></i>
                                @Idioma.Traduzir("Tipo de Carteira")
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("index", "Natureza")">
                                <i class="fa fa-tag dropdown-icon "></i>
                                @Idioma.Traduzir("Natureza")
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("index", "MotivoAtraso")">
                                <i class="fa fa-tag dropdown-icon "></i>
                                @Idioma.Traduzir("Motivo de Atraso")
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("index", "MotivoResolucao")">
                                <i class="fa fa-tag dropdown-icon "></i>
                                @Idioma.Traduzir("Resolução")
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="divider">

                </li>
                <li>
                    <a href="@Url.Action("index", "Banco")">
                        <i class="fa fa-hospital-o dropdown-icon "></i>
                        @Idioma.Traduzir("Banco")
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "BancoPortador")">
                        <i class="fa fa-gear  dropdown-icon"></i>
                        @Idioma.Traduzir("Configuração Boleto")
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("index", "Escritorio")">
                        <i class="fa fa-hospital-o dropdown-icon "></i>
                        @Idioma.Traduzir("Escritório")
                    </a>
                </li>
                @*<li>
                        <a href="@Url.Action("index", "Empresa")">
                            <i class="fa fa-hospital-o dropdown-icon "></i>
                            Empresa
                        </a>
                    </li>*@
                <li>
                    <a href="@Url.Action("index", "Gestao")">
                        <i class="fa fa-hospital-o dropdown-icon "></i>
                        @Idioma.Traduzir("Gestão")
                    </a>
                </li>

                <li class="divider">

                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">
                        <i class="fa fa-gear dropdown-icon "></i>
                        @Idioma.Traduzir("Ação de Cobrança")
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("index", "AcaoCobranca")">
                                <i class="fa fa-tag dropdown-icon "></i>
                                @Idioma.Traduzir("Tipo de Ação Cobrança")
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("index", "ModeloAcao")">
                                <i class="fa fa-tag dropdown-icon "></i>
                                @Idioma.Traduzir("Modelo de Ação Cobrança (Carta, SMS .. )")
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="@Url.Action("index", "Aging")">
                        <i class="fa fa-hospital-o dropdown-icon "></i>
                        @Idioma.Traduzir("Aging")
                    </a>
                </li>
                @if (Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true)
                {

                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">
                            <i class="fa fa-comments-o dropdown-icon "></i>
                            @Idioma.Traduzir("Atendimento On-line")
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("index", "ChatAtendimentoTipo")">
                                    <i class="fa fa-tag dropdown-icon "></i>
                                    @Idioma.Traduzir("Tipo de Atendimento")
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("index", "ChatAtendimentoResultado")">
                                    <i class="fa fa-tag dropdown-icon "></i>
                                    @Idioma.Traduzir("Resultado")
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("index", "ChatMensagensPronta")">
                                    <i class="fa fa-tag dropdown-icon "></i>
                                    @Idioma.Traduzir("Mensagem Pronta")
                                </a>
                            </li>
                            <li class="dropdown menu-empreendimento">
                                <a href="#" onclick="iniciarTesteAtendimento()">
                                    <i class="fa fa-tag dropdown-icon "></i>
                                    @Idioma.Traduzir("Teste atentimento online")
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                <li class="divider">
                </li>
                <li>
                    <a href="@Url.Action("Index", "ParametroAtendimento")">
                        <i class="fa fa-tags dropdown-icon "></i>
                        @Idioma.Traduzir("Parametro Atendimento")
                    </a>
                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">
                        <i class="fa fa-gear dropdown-icon "></i>
                        @Idioma.Traduzir("Fluxo")
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("index", "TipoCobranca")">
                                <i class="fa fa-tags dropdown-icon "></i>
                                @Idioma.Traduzir("Parcela")
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("FluxoSolicitacao", "TipoCobranca")">
                                <i class="fa fa-tags dropdown-icon "></i>
                                @Idioma.Traduzir("Boleto")
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    }
    @if (_perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Escritorio || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Analista)
    {
        if (_perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin)
        {
            <li class="dropdown menu-configuracoes hidden-sm">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                    <i class="fa fa-cog"></i>
                    &nbsp;@Idioma.Traduzir("Configurações")
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="@Url.Action("cadastro", "ParametroPlataforma")">
                            <i class="fa fa-cog dropdown-icon"></i>
                            &nbsp;@Idioma.Traduzir("Parametro do Sistema")
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("idioma", "ParametroPlataforma")">
                            <i class="fa fa-globe"></i>
                            &nbsp;@Idioma.Traduzir("Idioma")
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("index", "LogServico")">
                            <i class="fa fa-history"></i>
                            &nbsp;@Idioma.Traduzir("Log Serviço")
                        </a>
                    </li>
                </ul>
            </li>
        }
        @*<li class="dropdown menu-configuracoes" style="">
                <a href="@Url.Action("SelecionarEscritorio", "DistribuirCarteira")" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                    <i class="fa fa-users"></i>
                    &nbsp;@Idioma.Traduzir("Distribuir Carteira")
                </a>
            </li>*@

    }
    <li class="dropdown menu-relatorio" style="">
        <a href="@Url.Action("AtendimentoAgendados", "Relatorio")" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            <i class="fa fa-line-chart"></i>
            &nbsp;@Idioma.Traduzir("Relatórios")
        </a>

    </li>

    <li class="dropdown menu-credito" style="">
        <a href="@Url.Action("cliente", "ClienteParcelaCredito")" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            <i class="fa fa-money"></i>
            &nbsp; @Idioma.Traduzir("Crédito")
        </a>
    </li>




    <li class="dropdown menu-configuracoes" style="">
        <a href="@Url.Action("sair","login")" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            <i class="fa fa-power-off"></i>
            &nbsp;@Idioma.Traduzir("Sair")
        </a>
    </li>
</ul>
