﻿<!--Referencias Plugins CSS-->

<link href="@Url.Content("~/Content/select2-bootstrap.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/select2.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap-editable.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/animate.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/mvm.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Scripts/summernote/summernote.css")" rel="stylesheet" />
<link href="~/Content/awesome-bootstrap-checkbox.css" rel="stylesheet" />
<link href="~/Content/build.css" rel="stylesheet" />
@*<link href="@Url.Content("~/Content/bootstrap-datepic ker.min.css")" rel="stylesheet" />*@

<link href="@Url.Content("~/Scripts/datetimepicker/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
<link href="~/Content/daterangepicker.css" rel="stylesheet" />

<link href="~/Content/bootstrap-editable.css" rel="stylesheet" />
<link href="~/Content/pace.css" rel="stylesheet" />
<link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/fixedColumns.bootstrap.min.css" rel="stylesheet" />



<link href="~/Content/bootstrap-switch.min.css" rel="stylesheet" />
<link href="~/Content/pnotify.custom.min.css" rel="stylesheet" />
<link href="~/Scripts/bootstrap-tagsinput.css" rel="stylesheet" />
<link href="~/Scripts/jq-query-builder/css/query-builder.default.css" rel="stylesheet" />
<link href="~/Scripts/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
<link href="~/Scripts/jstree/themes/default/style.min.css" rel="stylesheet" />
<!--Referencias Plugins JS-->
<script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap-editable.min.js")"></script>
<script src="@Url.Content("~/Scripts/jspdf.js")"></script>
@*<script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>*@
<script src="~/Scripts/moment/moment.min.js"></script>
<script src="~/Scripts/moment/moment-ptBR.js"></script>
<script src="~/Scripts/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/daterangepicker.js"></script>
@*<script src="@Url.Content("~/Scripts/bootstrap-datepicker.pt-BR.js")"></script>*@
<script src="@Url.Content("~/Scripts/jquery.mask.min.js")"></script>
<script src="@Url.Content("~/Scripts/select2.min.js")"></script>
<script src="@Url.Content("~/Scripts/select2_locale_pt-BR.js")"></script>
<script src="@Url.Content("~/Scripts/summernote/summernote.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.table2excel.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.numeric.min.js")"></script>
<script src="~/Scripts/bootstrap-select/js/bootstrap-select.min.js"></script>
@if (Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Idioma == Cobranca.Db.Models.Enumeradores.IdiomaTipo.es_ES)
{
    <script src="~/Scripts/bootstrap-select/js/i18n/defaults-es-ES.js"></script>
}
else
{
    <script src="~/Scripts/bootstrap-select/js/i18n/defaults-pt_BR.min.js"></script>
}

<script src="~/Scripts/print.min.js"></script>

@*//FileUpload*@
<script src="~/Scripts/FileUpload/jquery.iframe-transport.js"></script>
<script src="~/Scripts/FileUpload/jquery.fileupload.js"></script>
@*//datatables*@
<script src="~/Scripts/touchpunch/jquery.ui.touch-punch.min.js"></script>
<script src="~/Scripts/bootstrap-editable.min.js"></script>
<script data-pace-options='{ "ajax": false }' src="~/Scripts/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/pace.js"></script>

@*//datatables*@

<script src="~/Scripts/datatable.net/jquery.dataTables.js"></script>
<script src="~/Scripts/datatable.net/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/datatable.net/dataTables.responsive.min.js"></script>
<script src="~/Scripts/datatable.net/responsive.bootstrap.min.js"></script>
<script src="~/Scripts/datatable.net/dataTables.select.min.js"></script>
@*//Datatables buttons*@
<script src="~/Scripts/datatable.net/dataTables.buttons.min.js"></script>
<script src="~/Scripts/datatable.net/buttons.flash.min.js"></script>
<script src="~/Scripts/datatable.net/jszip.min.js"></script>
<script src="~/Scripts/datatable.net/pdfmake.min.js"></script>
<script src="~/Scripts/datatable.net/vfs_fonts.js"></script>
<script src="~/Scripts/datatable.net/buttons.html5.min.js"></script>
<script src="~/Scripts/datatable.net/buttons.print.min.js"></script>
<script src="~/Scripts/datatable.net/dataTables.fixedColumns.min.js"></script>
<script src="~/Scripts/datatable.net/dataTables.scroller.min.js"></script>
<script src="~/Scripts/datatable.net/buttons.colVis.js"></script>

<script src="~/Scripts/bootstrap-switch.min.js"></script>
<script src="~/Scripts/pnotify.custom.min.js"></script>
<script src="~/Scripts/bootstrap-tagsinput.min.js"></script>
<link href="~/Content/datatable.selected.css" rel="stylesheet" />
<link href="~/Content/datatable.scroller.bootstrap.css" rel="stylesheet" />
<!--JQuery Validation-->
<script src="~/Scripts/validation/jquery.validate.min.js"></script>
<script src="~/Scripts/validation/additional-methods.min.js"></script>
<script src="~/Scripts/validation/localization/messages_pt_BR.min.js"></script>


<link href="~/Scripts/fullcalendar/css/fullcalendar-custom.css" rel="stylesheet" />
<link href="~/Scripts/fullcalendar/css/fullcalendar.css" rel="stylesheet" />
<script src="~/Scripts/fullcalendar/js/fullcalendar.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>
@*<script src="~/Scripts/jq-query-builder/js/query-builder.standalone.min.js"></script>*@
<!--Counter UP-->
<script src="~/Scripts/jquery.waypoints.js"></script>
<script src="~/Scripts/jquery.counterup.min.js"></script>
<!--FilterSwitcher-->

<link href="~/Content/filter-switcher.css" rel="stylesheet" />
<script src="~/Scripts/filter-switcher.js"></script>
<!--JS-->
<!--JsTree-->
<script src="~/Scripts/jstree/jstree.min.js"></script>
<!--JS-->

@{ var ticked = "&t=" + DateTime.Now.Day.ToString() + DateTime.Now.Hour.ToString();}
<script src="@Url.Content("~/Scripts/App.js?") + @ticked"></script>
<!--Estilos custom-->
<link href="@Url.Content("~/Content/App.css")" rel="stylesheet" />
<link href="~/Content/AppResponsivo.css" rel="stylesheet" />
@*<link href="~/Content/App-blue.css" rel="stylesheet" />*@
@*<link href="~/Content/App-gray.css" rel="stylesheet" />*@

