﻿@model List<Cobranca.Db.Models.UsuarioRegional>
@using Cobranca.Rotinas;
@{
}

<div class="panel-body">
    <div class="row">
        <div class="col-md-12 text-center">
            @foreach (var item in Model.Select(x => x.TabelaRegional).ToList())
            {
                <button class="btn btn-sm btn-default btnFilaAnimated" onclick="iniciarFila(@item.Cod)" style="min-width:200px;"><span>@Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.Regional)</span></button>
            }
        </div>
    </div>
</div>

