﻿@model Cobranca.Web.Models.MensagemFilialViewModel
@{
}
<form id="form-envio-mensagem" action="@Url.Action("EnvioMensagem","Atendimento")" class="form-inline" method="POST">
    @Html.Hidden("CodUsuario", Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod)
    @Html.Hidden("ParcelaIds", Model.ParcelaIds)
    @Html.Hidden("CodCliente", Model.CodCliente)
    @Html.Hidden("Responsavel", Model.Responsavel)
    @Html.Hidden("EmailDestinatario", Model.EmailDestinatario)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <header class="bs-docs-nav navbar navbar-static-top" style="background-color:#E8E8E8; margin: -16px -15px 7px -15px !important; height:50px !important; border-top: 1px solid" id="top">
        <div class="row" style="margin:8px;">
            <div class="col-md-5">
                <div class="form-group-sm">
                    @Html.TextBox("Assunto", Model.Assunto, new { @class = "form-control", style = "width:100%", @placeholder = "Assunto" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group-sm">
                    <button class="btn btn-success btn-sm btn-block" type="button" onclick="EnviarMensagemPorEmail()"><i class="fa fa-send"></i> Enviar</button>
                </div>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="form-group-sm">
            <label for="conteudo">Conteudo</label>
            @Html.TextAreaFor(m => m.Mensagem, new { @class = "form-control input-silver editor-html", style = "height:320px!important;", rows = "6" })
            @Html.ValidationMessageFor(m => m.Mensagem)
        </div>
    </div>
</form>

