﻿@model List<Cobranca.Db.Models.ContratoParcela>
@using Cobranca.Rotinas;
@{
    List<Cobranca.Db.Models.ClienteParcelaCredito> _listaClienteCredito = new List<Cobranca.Db.Models.ClienteParcelaCredito>();
    if (ViewBag.ListaCreditoCliente != null)
    {
        _listaClienteCredito = (List<Cobranca.Db.Models.ClienteParcelaCredito>)ViewBag.ListaCreditoCliente;
    }
}
<style>
    .jx-equal {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .jx-height-equal {
        width: 100%;
        height: 100%;
    }

    .navbar-jx {
        width: 56px;
        background-color: #edf0f1;
        color: #626b7a;
        border-right: 1px solid #dfe4e6;
    }

    .navbar-container-jx {
        width: calc(100% - 56px);
    }

    .jx-nav-boleto {
        padding-top: 1px;
        overflow: hidden !important;
    }

    .jx-nav-boleto-item {
        width: auto;
        line-height: 20px;
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .jx-nav-boleto-item > a {
            text-align: center;
            padding: 5px 3px !important;
            color: #626b7a;
            position: relative;
            display: block;
            padding: 12px 22px;
            text-decoration: none;
            border-bottom: 1px solid #dfe4e6;
        }

        .jx-nav-boleto-item a:active,
        .jx-nav-boleto-item a:focus,
        .jx-nav-boleto-item a:hover {
            padding-left: 0 !important;
            color: #252A33;
            background-color: #F5F6F7 !important;
            border-left: 3px solid #626b7a;
        }
        .jx-nav-boleto-item.active {
            border-left: 2px solid #626b7a;
        }

        .jx-nav-boleto-item.jx-nav-boleto-item-historico > a {
            color: #fff !important;
            background-color: #5879B4;
        }
            .jx-nav-boleto-item.jx-nav-boleto-item-historico > a:active,
            .jx-nav-boleto-item.jx-nav-boleto-item-historico > a:focus,
            .jx-nav-boleto-item.jx-nav-boleto-item-historico > a:hover {
                color: #eee !important;
                background-color: #5879B4;
            }

        .jx-nav-boleto-item > a > i {
            margin: 0;
            font-size: 18px;
            height: 18px;
            display: block;
            width: auto;
        }
</style>
<div class="widget-panel-sortable">
    <div id="panel-inadimplencia" class="widget-panel" role="tablist">
        <header role="heading" class="handle">
            <div class="jnxwidget-ctrls" role="menu">
                <a href="javascript:void(0);" data-rel="collapse" class="button-icon">
                    <i class="fa fa-minus "></i>
                </a>
                <a href="javascript:void(0);" data-rel="fullscreen" class="button-icon">
                    <i class="fa fa-expand "></i>
                </a>
                <a href="javascript:void(0);" data-rel="close" class="button-icon">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <span class="widget-icon"> <i class="fa fa-file-text-o txt-color-darken"></i> </span>
            <h2>@Idioma.Traduzir("Parcelas")</h2>
            <ul class="nav nav-tabs pull-right in" id="parcelaTab">
                <li class="active"><a data-toggle="tab" href="#tabParc1" onclick="parcelaGrid(2)" data-tipo="2" aria-expanded="false"<span class="hidden-mobile hidden-tablet"> @Idioma.Traduzir("Atraso")</span></a></li>
                <li><a data-toggle="tab" href="#tabParc1" onclick="parcelaGrid(3)" data-tipo="3" aria-expanded="false"<span class="hidden-mobile hidden-tablet"> @Idioma.Traduzir("À Vencer")</span></a></li>
                <li><a data-toggle="tab" href="#tabParc1" onclick="parcelaGrid(4)" data-tipo="4" aria-expanded="false"<span class="hidden-mobile hidden-tablet"> @Idioma.Traduzir("Pago")</span></a></li>
                <li><a data-toggle="tab" href="#tabParc1" onclick="parcelaGrid(1)" data-tipo="1" aria-expanded="true"><span class="hidden-mobile hidden-tablet"> @Idioma.Traduzir("Todas")</span></a></li>
                <li><a data-toggle="tab" href="#tabCredito" aria-expanded="false"><span class="hidden-mobile hidden-tablet"> @Idioma.Traduzir("Créditos")</span></a></li>

            </ul>
        </header>
        <!-- widget div-->
        <div class="widget-content no-padding jx-equal">
            <nav class="navbar-default navbar-jx " role="navigation">
                <div class="sidebar-collapse jx-height-equal">
                    <ul class="nav jx-nav-boleto">
                        <li class="jx-nav-boleto-item">
                            <a onclick="openCarta()"><i class="fa fa-envelope-o"></i><span>@Idioma.Traduzir("Cartas")</span></a>
                        </li>
                        <li class="jx-nav-boleto-item">
                            <a onclick="openBoleto()"><i class="fa fa-print"></i><span>@Idioma.Traduzir("Original")</span></a>
                        </li>
                        <li class="jx-nav-boleto-item">
                            <a onclick="SolicitarAlteracao()"><i class="fa fa-pencil-square"></i><span>@Idioma.Traduzir("Alterar")</span></a>
                        </li>
                        <li class="jx-nav-boleto-item">
                            <a onclick="SolicitarBoleto()"><i class="fa fa-plus-square"></i><span>@Idioma.Traduzir("Novo")</span></a>
                        </li>
                        <li class="jx-nav-boleto-item">
                            <a onclick="SolicitarAvulso()"><i class="fa fa-usd"></i><span>@Idioma.Traduzir("Avulso")</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="widget-body navbar-container-jx" style="">
                <div id="parcelaTabContent" class="tab-content jx-height-equal">
                    <div class="tab-pane fade padding-10 no-padding-bottom active in" id="tabParc1">
                        <div class="panel-body no-padding" style=" padding:5px;">
                            <div style=" margin:10px;">
                                <div class="row" style="margin-bottom:10px;">
                                    @*<div class="col-xs-6 col-md-3 col-lg-2">
                                        <div class="btn-group-sm btn-block">
                                            <button type="button" class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown">
                                                <span class="fa fa-barcode">&nbsp;&nbsp;</span>@Idioma.Traduzir("Boleto")&nbsp;&nbsp;<span style="margin-top:7px" class="caret pull-right"></span>
                                            </button>
                                            <ul class="dropdown-menu ">
                                                <li class=""><a onclick="openBoleto()"><span class="fa fa-print"></span>&nbsp;&nbsp;@Idioma.Traduzir("Boleto Original")</a></li>
                                                <li class="jx-nav-boleto-item"><a onclick="SolicitarAlteracao()" title="<b>Alterar Data de Vencimento.</b>" data-toggle="tooltip" data-placement="right" data-html="true"><span class="fa fa-pencil-square"></span>&nbsp;&nbsp;@Idioma.Traduzir("Alterar Existente")</a></li>
                                                <li class="jx-nav-boleto-item"><a onclick="SolicitarBoleto()" title="<b>Ao solicitar um novo boleto ele passará por um processo de aprovação.</b>" data-toggle="tooltip" data-placement="right" data-html="true"><span class="fa fa-plus-square"></span>&nbsp;&nbsp;@Idioma.Traduzir("Novo Boleto")</a></li>
                                            </ul>
                                        </div>
                                    </div>*@
                                    <div class="col-xs-6 col-md-3 col-lg-2">
                                        <button onclick="openHistorico()" type="button" class="btn btn-sm btn-block pull-left " style="color: #fff !important; background-color:#5879B4"><i class="fa fa-book"></i> @Idioma.Traduzir("Histórico")</button>
                                    </div>
                                </div>
                                <div class="">
                                    <table id="tbParcelas" class="table table-bordered table-order-column table-responsive table-striped table-condensed table-row-border table-compact" style="margin-top:6px;background-color:#fff;">
                                        <thead id="dtheader">
                                            <tr id="trheader">
                                                <th class="check_all" style="width:22px; text-align:center" data-title="#" data-collumn-search="true"></th>
                                                <th class="" style="min-width:80px;text-align:center" data-name="CodCliente" data-data="CodCliente" data-collumn-search="true" data-title="@Idioma.Traduzir("an8")"></th>
                                                <th class="" style="min-width:40px;text-align:center" data-collumn-search="true" data-name="NumeroContrato" data-data="NumeroContrato" data-title="@Idioma.Traduzir("Nr.Contrato")"></th>
                                                <th class="filter-date" style="min-width:40px;text-align:center" data-collumn-search="true" data-type="datahora" data-name="DataEmissao" data-data="DataEmissao" data-title="@Idioma.Traduzir("Dt.Emissao")"></th>
                                                <th class="filter-date" style="min-width:40px;text-align:center" data-collumn-search="true" data-type="datahora" data-name="DataVencimento" data-data="DataVencimento" data-title="@Idioma.Traduzir("Dt.Vencimento")"></th>
                                                <th class="" style="min-width:40px;text-align:center" data-collumn-search="true" data-name="DiasAtraso" data-data="DiasAtraso" data-title="@Idioma.Traduzir("Atraso")"></th>
                                                <th class="" style="min-width:40px;text-align:center" data-name="FluxoPagamento" data-collumn-search="true" data-data="FluxoPagamento" data-title="@Idioma.Traduzir("Nr.Documento")"></th>
                                                <th class="" style="min-width:70px;text-align:center" data-name="TipoFatura" data-collumn-search="true" data-data="TipoFatura" data-title="@Idioma.Traduzir("Tp.Doc")"></th>
                                                <th class="" style="min-width:80px; text-align:center" data-name="NotaFiscal" data-collumn-search="true" data-data="NotaFiscal" data-title="@Idioma.Traduzir("Nr.Fatura(NF)")"></th>
                                                <th class="sum-float" style="min-width:80px;text-align:center" data-name="ValorParcela" data-collumn-search="true" data-type="moeda" data-data="ValorParcelaDesc" data-title="@Idioma.Traduzir("Valor")"></th>
                                                <th class="sum-float" style="min-width:80px;text-align:center" data-name="ValorAberto" data-collumn-search="true" data-type="moeda" data-data="ValorAbertoDesc" data-title="@Idioma.Traduzir("Vr.Aberto")"></th>
                                                <th class="" style="min-width:40px;text-align:center" data-name="NumeroParcela" data-data="NumeroParcela" data-collumn-search="true" data-title="@Idioma.Traduzir("Nr.Parcela")"></th>
                                                <th class="" style="min-width:40px;text-align:center" data-name="RotaArea" data-data="RotaArea" data-collumn-search="true" data-title="@Idioma.Traduzir("Cd.Area")"></th>
                                                <th class="" style="min-width:200px;text-align:center" data-name="ClienteParcela" data-data="ClienteParcela" data-collumn-search="true" data-title="@Idioma.Traduzir("Cliente Parcela")"></th>
                                                <th class="" style="min-width:60px;text-align:center" data-name="CodRegionalCliente" data-data="CodRegionalCliente" data-collumn-search="true" data-title="@Idioma.Traduzir("BU")"></th>
                                                <th class="" style="min-width:150px;text-align:center" data-name="Filial" data-data="Filial" data-collumn-search="true" data-title="@Idioma.Traduzir("Filial")"></th>
                                                <th class="filter-date" style="min-width:40px;text-align:center" data-name="DataFechamento" data-collumn-search="true" data-type="datahora" data-data="DataFechamento" data-title="@Idioma.Traduzir("Dt.Fechamento")"></th>
                                                <th class="filter-date" style="min-width:40px;text-align:center" data-name="DataPagamento" data-collumn-search="true" data-type="datahora" data-data="DataPagamento" data-title="@Idioma.Traduzir("Dt.Pagamento")"></th>
                                                <th class="" style="min-width:120px;text-align:center" data-name="InstrucaoPagamento" data-collumn-search="true" data-data="InstrucaoPagamento" data-title="@Idioma.Traduzir("Instr.Pagto")"></th>
                                                <th class="filter-int" style="min-width:80px;text-align:center" data-name="NossoNumero" data-collumn-search="true" data-data="NossoNumero" data-title="@Idioma.Traduzir("Nosso Número")"></th>
                                                <th class="" style="min-width:40px;text-align:center" data-name="Status" data-data="Status" data-collumn-search="true" data-title="@Idioma.Traduzir("Status")"></th>
                                                <th class="" style="min-width:140px; text-align:center" data-name="Fase" data-data="Fase" data-collumn-search="true" data-title="@Idioma.Traduzir("Fase")"></th>
                                                <th class="" style="min-width:140px; text-align:center" data-name="Sintese" data-data="Sintese" data-collumn-search="true" data-title="@Idioma.Traduzir("Sintese")"></th>
                                                <th class="" style="min-width:40px; text-align:center" data-name="CodigoEmpresaCobranca" data-data="CodigoEmpresaCobranca" data-title="@Idioma.Traduzir("Cobrança")"></th>
                                                <th class="" style="min-width:40px; text-align:center" data-name="Cia" data-data="Cia" data-title="@Idioma.Traduzir("Cia")"></th>
                                                <th class="" style="min-width:40px; text-align:center" data-name="Governo" data-data="Governo" data-title="@Idioma.Traduzir("Governo")"></th>
                                                <th class="" style="min-width:40px; text-align:center" data-name="Corporativo" data-data="Corporativo" data-title="@Idioma.Traduzir("Corporativo")"></th>
                                                <th class="" style="min-width:40px; text-align:center" data-name="ClienteVIP" data-data="ClienteVIP" data-title="@Idioma.Traduzir("VIP")"></th>
                                                <th class="" style="min-width:180px; text-align:center" data-name="HistoricoObs" data-data="HistoricoObs" data-collumn-search="true" data-title="@Idioma.Traduzir("Observação")"></th>
                                                @*<th style="width:22px; text-align:center" data-title="#"></th>*@
                                                <th style="width:14px; text-align:center" data-collumn-search="false" data-title="@Idioma.Traduzir("Hist")"></th>
                                            </tr>
                                            <tr id="tb-parcelas-loading" style="display:none">
                                                <td colspan="30" class="text-center animated fadeIn">
                                                    <h2><i class="fa fa-spin fa-spinner text-silver"></i> @Idioma.Traduzir("Carregando os dados")</h2>
                                                </td>
                                            </tr>
                                        </thead>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane animated fadeIn padding-10 no-padding-bottom" id="tabCredito">
                        <div class="panel-body no-padding" style="min-height:230px; padding:5px;">
                            <div style="height:220px; margin:10px;">
                                <div style="overflow-x: hidden!important; max-height:180px;">
                                    <table class="display table data-table responsive table-condensed table-hover table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th data-title="@Idioma.Traduzir("CLIENTE")"></th>
                                                <th data-title="@Idioma.Traduzir("CPF/CNPJ")"></th>
                                                <th data-title="@Idioma.Traduzir("Nr.DOCUMENTO")"></th>
                                                <th data-title="@Idioma.Traduzir("Dt.PAGAMENTO")"></th>
                                                <th data-title="@Idioma.Traduzir("Vr.PAGAMENTO")"></th>
                                                <th data-title="@Idioma.Traduzir("Vr.SALDO")"></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var item in _listaClienteCredito.ToList())
                                            {
                                                <tr>
                                                    <td class="text-left">@Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.Cliente.Nome)</td>
                                                    <td class="text-left">@Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.Cliente.CPF)</td>
                                                    <td class="text-left">@item.NumeroDocumento</td>
                                                    <td class="text-left">@string.Format("{0:dd/MM/yyyy}", item.DataPagamento)</td>
                                                    <td class="text-left">@String.Format("{0:C}", item.ValorRecebido)</td>
                                                    <td class="text-left">@String.Format("{0:C}", item.SaldoCredito)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
