﻿@model Cobranca.Db.Models.Cliente
@using Cobranca.Rotinas;
<div id="area-script" class="widget-panel-sortable">
    <div id="panelContato" class="widget-panel" role="tablist">
        <header role="heading" class="handle">
            <div class="jnxwidget-ctrls" role="menu">
                <a href="javascript:void(0);" data-rel="collapse" class="button-icon">
                    <i class="fa fa-minus "></i>
                </a>
                <a href="javascript:void(0);" data-rel="fullscreen" class="button-icon">
                    <i class="fa fa-expand "></i>
                </a>
                <a href="javascript:void(0);" data-rel="close" class="button-icon">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <span class="widget-icon"> <i class="fa fa-file-text-o txt-color-darken"></i> </span>
            <h2>@Idioma.Traduzir("Script de Atendimento")</h2>
        </header>
        <!-- widget div-->
        <div class="panel no-padding" style="overflow-x: hidden!important;overflow: scroll; height:135px; padding:5px;" id="panel-contato">
            <div class="panel-body fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group-sm" id="script-atendimento">
                            @Html.Raw(ViewBag.ScriptAtendimento)
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

