﻿@model Cobranca.Db.Models.Cliente
@using Cobranca.Rotinas;
<div role="tabpanel" class="tab-pane" id="TAB-DOCUMENTO">
    <div class="row">
        @Html.Hidden("CodCliente", Model.Cod)
        <div class="col-md-12">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="widget-panel-sortable">
                            <div id="panel-inadimplencia" class="widget-panel" role="tablist">
                                <header role="heading" class="handle">
                                    <div class="jnxwidget-ctrls" role="menu">
                                        <a href="javascript:void(0);" data-rel="collapse" class="button-icon">
                                            <i class="fa fa-minus "></i>
                                        </a>
                                        <a href="javascript:void(0);" data-rel="fullscreen" class="button-icon">
                                            <i class="fa fa-expand "></i>
                                        </a>
                                        <a href="javascript:void(0);" data-rel="close" class="button-icon">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                    <span class="widget-icon"> <i class="fa fa-file-pdf-o txt-color-darken"></i> </span>
                                    <h2>@Idioma.Traduzir("Documentos Digitalizados")</h2>
                                </header>
                                <!-- widget div-->
                                <div class="widget-content no-padding">
                                    <div class="widget-body">
                                        <div id="parcelaTabContent" class="tab-content" style="height:340px;">
                                            <div class="row">
                                                <div class="col-md-4 margin-top-16 margin-left-15">
                                                    <button onclick="openFormDocumento()" type="button" class="btn btn-sm btn-block pull-left " style="color: #fff !important; background-color:#5879B4"><i class="fa fa-plus"></i> @Idioma.Traduzir("Novo")</button>
                                                </div>
                                            </div>
                                            <div class="panel-body" id="form-documentos-digitalizado" style="overflow-x:scroll !important;">
                                                <table id="grid-documento" class="table table-order-column table-hover  table-condensed table-row-border table-striped table-bordered table-compact">
                                                    <thead id="dtheader">
                                                        <tr id="trheader">
                                                            <th class="text-center filter-date" data-type="datahora" data-name="DataDocumento" data-data="DataDocumentoDesc" style="max-width:50px" data-title="@Idioma.Traduzir("Data")"></th>
                                                            <th class="text-center" data-name="TipoDocumento" data-data="TipoDocumento" style="max-width:40px" data-title="@Idioma.Traduzir("Tipo")"></th>
                                                            <th class="text-center" data-name="Observacao" data-data="Observacao" style="min-width:250px" data-title="@Idioma.Traduzir("Observação")"></th>
                                                            <th class="text-center" data-name="Usuario" data-data="Usuario" style="min-width:100px" data-title="@Idioma.Traduzir("Usuário")"></th>
                                                            <th class="text-center" data-name="" data-data="" style="min-width:55px !important" data-collumn-search="false">@Idioma.Traduzir("Ações")</th>
                                                        </tr>
                                                        <tr id="tb-loading">
                                                            <td colspan="12" class="text-center animated fadeIn">
                                                                <h2><i class="fa fa-spin fa-spinner text-silver"></i> Carregando os dados</h2>
                                                            </td>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="widget-panel-sortable">
                            <div id="panel-inadimplencia" class="widget-panel" role="tablist">
                                <header role="heading" class="handle">
                                    <div class="jnxwidget-ctrls" role="menu">
                                        <a href="javascript:void(0);" data-rel="collapse" class="button-icon">
                                            <i class="fa fa-minus "></i>
                                        </a>
                                        <a href="javascript:void(0);" data-rel="fullscreen" class="button-icon">
                                            <i class="fa fa-expand "></i>
                                        </a>
                                        <a href="javascript:void(0);" data-rel="close" class="button-icon">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                    <span class="widget-icon"> <i class="fa fa-file-archive-o txt-color-darken"></i> </span>
                                    <h2>@Idioma.Traduzir("Arquivos")</h2>
                                </header>
                                <!-- widget div-->
                                <div class="widget-content no-padding">
                                    <div class="widget-body">
                                        <form id="form-arquivos" method="post">
                                            <div class="row">
                                            </div>
                                            <div class="panel-body" id="form-documentos-digitalizado">
                                                <iframe frameborder="0" width="100%" id="visualiza-doc" height="300" src="" style="font-weight: bold; min-height: 250px; height: 305px;"></iframe>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-form-documento">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Titulo</h3>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> @Idioma.Traduzir("Cancelar")</button>
                    <button type="button" id="modal-confirm" class="btn btn-primary"><i class="fa fa-save"></i> @Idioma.Traduzir("Confirmar")</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
