﻿@model List<Cobranca.Db.Models.ContratoAcaoCobrancaHistorico>
@using Cobranca.Rotinas;
<div role="tabpanel" class="tab-pane" id="TAB-HISTORICO-ACAOCOBRANCA">
    <div class="row">
        <div class="col-md-12">
            <div style="overflow-x: scroll!important;">
                <table id="acao-cobranca" class="display table data-table2 table-condensed table-hover table-striped table-bordered" style="margin-bottom:0;">
                    <thead id="dtheader">
                        <tr id="trheader">
                            <th class="" style="min-width:60px;text-align:center" data-name="Status" data-data="Status" data-collumn-search="true" data-title="@Idioma.Traduzir("Status")"></th>
                            <th class="filter-date" data-type="datahora" data-collumn-search="true" style="min-width:60px;text-align:center" data-name="DataAgendamento" data-data="DataAgendamentoDesc" data-title="@Idioma.Traduzir("Dt.Agendamento")"></th>
                            <th class="" style="min-width:80px;text-align:center" data-name="CodCliente" data-data="CodCliente" data-collumn-search="true" data-title="@Idioma.Traduzir("an8")"></th>
                            <th class="" data-collumn-search="true" style="min-width:100px; text-align:center" data-name="NumeroContrato" data-data="NumeroContrato" data-title="@Idioma.Traduzir("Nr.Contrato")"></th>
                            <th class="" style="min-width:40px;text-align:center" data-name="FluxoPagamento" data-collumn-search="true" data-data="FluxoPagamento" data-title="@Idioma.Traduzir("Nr.Documento")"></th>
                            <th class="filter-date" data-type="datahora"  style="min-width:40px;text-align:center" data-collumn-search="true" data-name="DataEmissao" data-data="DataEmissaoDesc" data-title="@Idioma.Traduzir("Dt.Emissao")"></th>
                            <th class="filter-date" data-type="datahora"  style="min-width:40px;text-align:center" data-collumn-search="true"data-name="DataVencimento" data-data="DataVencimentoDesc" data-title="@Idioma.Traduzir("Dt.Vencimento")"></th>
                            <th class="" style="min-width:70px;text-align:center" data-name="TipoFatura" data-collumn-search="true" data-data="TipoFatura" data-title="@Idioma.Traduzir("Tipo de Documento")"></th>
                            <th class="" style="min-width:80px; text-align:center" data-name="NotaFiscal" data-collumn-search="true" data-data="NotaFiscal" data-title="@Idioma.Traduzir("Nr.Fatura(NF)")"></th>
                            <th class="sum-float" style="min-width:120px;text-align:center" data-name="ValorParcela" data-type="moeda" data-collumn-search="true" data-data="ValorParcelaDesc" data-title="@Idioma.Traduzir("Valor")"></th>
                            <th class="sum-float" style="min-width:120px;text-align:center" data-name="ValorAberto" data-type="moeda" data-collumn-search="true" data-data="ValorAbertoDesc" data-title="@Idioma.Traduzir("Vr.Aberto")"></th>
                            <th class=" filter-date" data-type="datahora" data-collumn-search="true" style="min-width:50px; text-align:center" data-name="DataAcao" data-data="DataAcaoDesc" data-title="@Idioma.Traduzir("Dt.Ação")"></th>
                            <th class="" data-collumn-search="true" style="min-width:150px; text-align:center" data-name="TipoAcaoCobranca" data-data="TipoAcaoCobranca" data-title="@Idioma.Traduzir("Tipo Ação")"></th>
                            <th class="" data-collumn-search="true" style="min-width:150px; text-align:center" data-name="AcaoCobranca" data-data="AcaoCobranca" data-title="@Idioma.Traduzir("Ação")"></th>
                            <th class="" data-collumn-search="true" style="min-width:100px; text-align:center" data-name="SituacaoTipo" data-data="SituacaoTipo" data-title="@Idioma.Traduzir("Situação")"></th>
                            <th class="" data-collumn-search="true" style="min-width:200px; text-align:center" data-name="AcaoStatus" data-data="AcaoStatus" data-title="@Idioma.Traduzir("Status")"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
