﻿@model Cobranca.Db.Models.Cliente
@using Cobranca.Rotinas;
@{
    Model.CPF = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.CPF);
    Model.Nome = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Nome);
    Model.CodCliente = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.CodCliente);
    Model.Email = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Email);
}

<div class="widget-panel-sortable">
    <div id="panelCliente" class="widget-panel " role="tablist">
        <header role="heading" class="handle">
            <div class="jnxwidget-ctrls" role="menu">
                <a href="javascript:void(0);" data-rel="edit" class="button-icon">
                    <i class="fa fa-edit "></i>
                </a>
                <a href="javascript:void(0);" data-rel="collapse" class="button-icon">
                    <i class="fa fa-minus "></i>
                </a>
                <a href="javascript:void(0);" data-rel="fullscreen" class="button-icon">
                    <i class="fa fa-expand "></i>
                </a>
                <a href="javascript:void(0);" data-rel="close" class="button-icon">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <span class="widget-icon"> <i class="fa fa-user txt-color-darken"></i> </span>
            <h2>@Idioma.Traduzir("Cliente")</h2>
        </header>
        <!-- widget div-->
        <div class="panel no-padding" style="" id="panel-contato">
            <div class="panel-body fadeIn">
                <div style="">
                    <div class="form-group-sm">
                        <button class="btn btn-xs btn-block btn-default hide" onclick="alterarCliente()" style="width:150px;">ALTERAR</button>
                    </div>
                </div>
                <hr class="clear" style="margin-top:0px;margin-bottom:5px;">
                <label style="text-align: center; width:100%"><b>@Idioma.Traduzir("CLIENTE").ToUpper(): </b></label>
                <hr class="clear" style="margin-top:0px;">
                <div class="" style="">
                    <div class="form-group-sm">
                        <label for="Nome" style=""><b>@Idioma.Traduzir("NOME"): </b></label>
                        <label class=""> @Model.Nome</label>
                        <label id="HoraAtual"></label>
                    </div>
                </div>
                <div class="" style="">
                    <div class="form-group-sm">
                        <label for="Nome" style=""><b>@Idioma.Traduzir("CPF/CNPJ").ToUpper(): </b></label>
                        <span class=""> @Cobranca.Db.Rotinas.DbRotinas.formatarCpfCnpj(Model.CPF)</span>
                        <label for="Nome" style=""><b>&nbsp&nbsp @Idioma.Traduzir("AN8.").ToUpper(): </b></label>
                        <span class=""> @Model.CodCliente</span>
                    </div>
                </div>
                @if (!String.IsNullOrEmpty(Model.Corporativo))
                {
                    <div class="" style="">
                        <div class="form-group-sm">
                            <label for="Corporativo" style=""><b>@Idioma.Traduzir("Corporativo"): </b></label>
                            <span class=""> @Model.Corporativo</span>
                        </div>
                    </div>
                }
                <div class="" style="">
                    <div class="form-group-sm">
                        <label for="Nome" style=""><b>@Idioma.Traduzir("E-MAIL"):</b></label>
                        <span class=""> @Model.Email</span>
                    </div>
                </div>
                <hr class="clear" style="margin-bottom:5px;">
                <label style="text-align: center; width:100%"><b>@Idioma.Traduzir("ENDEREÇOS").ToUpper(): </b></label>
                @foreach (var endereco in Model.ClienteEnderecoes.ToList())
                {
                    if (endereco.TabelaEndereco != null)
                    {
                        <hr class="clear" style="margin-top:0px;">
                        <span class="legend_label legend-tipo-pessoa"><b>@Cobranca.Db.Models.EnumeradoresDescricao.ClienteEnderecoTipo(endereco.TipoEndereco).ToUpper().Replace("ENDEREÇO", "")</b> - @Cobranca.Db.Rotinas.DbRotinas.Descriptografar(endereco.Contrato.NumeroContrato)</span>
                        <div class="" style="">
                            <div class="form-group-sm">
                                <label for="Nome" style=""><b> @Idioma.Traduzir("CEP"): </b></label>
                                <span class="">  @Cobranca.Db.Rotinas.DbRotinas.formatarCEP(endereco.TabelaEndereco.CEP)</span>
                            </div>
                        </div>
                        <div class="" style="">
                            <div class="form-group-sm">
                                <label for="Nome" style=""><b>@Idioma.Traduzir("END").ToUpper(): </b></label>
                                <span class=""> @endereco.TabelaEndereco.Endereco</span>
                                <label for="Nome" style=""><b>&nbsp&nbsp @Idioma.Traduzir("NR.").ToUpper(): </b></label>
                                <span class=""> @endereco.TabelaEndereco.Numero</span>
                            </div>
                        </div>
                        <div class="" style="">
                            <div class="form-group-sm">
                                <label for="Nome" style=""><b>@Idioma.Traduzir("COMPLEMENTO").ToUpper(): </b></label>
                                <span>@endereco.TabelaEndereco.Complemento</span>

                            </div>
                        </div>
                        <div class="" style="">
                            <div class="form-group-sm">
                                <label for="Nome" style=""><b>@Idioma.Traduzir("BAIRRO"): </b></label>
                                <span>@endereco.TabelaEndereco.Bairro</span>
                                <label for="Nome" style=""><b>&nbsp&nbsp @Idioma.Traduzir("CIDADE").ToUpper():</b></label>
                                <span>@endereco.TabelaEndereco.Cidade</span>
                                <label for="Nome" style=""><b>&nbsp&nbsp @Idioma.Traduzir("UF").ToUpper(): </b></label>
                                <span>@endereco.TabelaEndereco.UF</span>

                            </div>
                        </div>
                    }
                }
            </div>


        </div>
    </div>
</div>
