﻿@model List<Cobranca.Db.Models.Contrato>
@using Cobranca.Rotinas;
<div class="widget-panel-sortable">
    <div id="panel-contratos" class="widget-panel" role="tablist">
        <header role="heading" class="handle">
            <div class="jnxwidget-ctrls" role="menu">
                <a href="javascript:void(0);" data-rel="collapse" class="button-icon">
                    <i class="fa fa-minus "></i>
                </a>
                <a href="javascript:void(0);" data-rel="fullscreen" class="button-icon">
                    <i class="fa fa-expand "></i>
                </a>
                <a href="javascript:void(0);" data-rel="close" class="button-icon">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <span class="widget-icon"> <i class="fa fa-file-text-o txt-color-darken"></i> </span>
            <h2>@Idioma.Traduzir("Contratos")</h2>
        </header>
        <!-- widget div-->
        <div id="ContratoTabContent" class="widget-content no-padding tab-content">
            <div class="tab-pane fade padding-10 no-padding-bottom active in" id="tabContr1">
                <div class="panel-body no-padding" style="padding:5px;">
                    <div style="margin:10px;">
                        @*<div class="row" style="margin-bottom:10px;">

                            <div class="col-xs-6 col-md-3 col-lg-2">
                                <button onclick="popUpMensagem()" type="button" id="btn-mensagem" disabled="disabled" class="btn btn-sm btn-block btn-default pull-left "><i class="fa fa-comments-o"></i> @Idioma.Traduzir("Mensagem")</button>
                            </div>
                            @*<div class="col-xs-6 col-md-3 col-lg-2">
                                    <button onclick="popUpHistorico()" type="button" id="btn-historico" disabled="disabled" class="btn btn-sm btn-block pull-left" style="color: #fff !important; background-color:#5879B4"><i class="fa fa-phone"></i> @Idioma.Traduzir("Hitórico / Status")</button>
                                </div>
                        </div>*@
                        <div class="">
                            <div class="table-responsive" style="overflow-x:scroll !important;">
                                <table id="contratos" class="table table-bordered table-order-column table-responsive table-striped table-condensed table-row-border table-compact" style="margin-top:6px;background-color:#fff;">
                                    <thead id="dtheader">
                                        <tr id="trheader">
                                            <th class="check_all" style="width:22px; text-align:center" data-title="#" data-collumn-search="true"></th>
                                            <th class="" data-collumn-search="true" style="min-width:50px; text-align:center" data-name="StatusContrato" data-data="StatusContrato" data-title="@Idioma.Traduzir("Status")"></th>
                                            <th class="" data-collumn-search="true" style="min-width:150px; text-align:center" data-name="NomeConstrutora" data-data="NomeConstrutora" data-title="@Idioma.Traduzir("Companhia")"></th>
                                            <th class="" data-collumn-search="true" style="min-width:150px; text-align:center" data-name="Regional" data-data="Regional" data-title="@Idioma.Traduzir("Regional")"></th>
                                            <th class="" data-collumn-search="true" style="min-width:100px; text-align:center" data-name="NumeroContrato" data-data="NumeroContrato" data-title="@Idioma.Traduzir("Nr.Contrato")"></th>
                                            <th class="" data-collumn-search="true" style="min-width:120px; text-align:center" data-name="Produto" data-data="Produto" data-title="@Idioma.Traduzir("Produto")"></th>
                                            <th class="sum-float" data-collumn-search="true" style="min-width:90px; text-align:center" data-name="ValorTotal" data-data="ValorTotalDesc" data-title="@Idioma.Traduzir("Vr.Total")"></th>
                                            <th class="sum-float" data-collumn-search="true" style="min-width:90px; text-align:center" data-name="ValorAtraso" data-data="ValorAtrasoDesc" data-title="@Idioma.Traduzir("Vr.Atraso")"></th>
                                            <th class="sum-float" data-collumn-search="true" style="min-width:90px; text-align:center" data-name="ValorAVencer" data-data="ValorAVencerDesc" data-title="@Idioma.Traduzir("Vr.àVencer")"></th>
                                            <th class="" data-collumn-search="true" style="min-width:70px; text-align:center" data-name="DiasAtraso" data-data="DiasAtraso" data-title="@Idioma.Traduzir("Dia Atraso")"></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
