﻿@model Cobranca.Db.Models.Cliente
@using Cobranca.Rotinas;
@{
    Model.TelefoneResidencial = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.TelefoneResidencial);
    Model.TelefoneComercial = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.TelefoneComercial);
    Model.Celular = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Celular);
}
<div class="widget-panel-sortable">
    <div id="panelContato" class="widget-panel" role="tablist">
        <header role="heading" class="handle">
            <div class="jnxwidget-ctrls" role="menu">
                <a href="javascript:void(0);" data-rel="collapse" class="button-icon">
                    <i class="fa fa-minus "></i>
                </a>
                <a href="javascript:void(0);" data-rel="fullscreen" class="button-icon">
                    <i class="fa fa-expand "></i>
                </a>
                <a href="javascript:void(0);" data-rel="close" class="button-icon">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <span class="widget-icon"> <i class="fa fa-phone txt-color-darken"></i> </span>
            <h2>@Idioma.Traduzir("Contato")</h2>
        </header>
        <!-- widget div-->
        <div class="widget-content panel no-padding" style="overflow-x: hidden!important;overflow: scroll; height:135px; padding:5px;" id="panel-contato">
            <div class="panel-body fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        @foreach (var contato in Model.ClienteContatoes.Where(x => !x.DataExcluido.HasValue))
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group-sm">
                                        <input type="image" src="~/Content/img/PhoneIco.png" style="padding-right:7px" width="25" />
                                        @if (contato.ContatoHOT == true)
                                        {
                                            <input type="image" id="icone_@contato.Cod" style="padding-right:7px" src="~/Content/img/PositiveIcon.png" width="25" onclick="AlteraContatoHot(false, '@contato.Cod', '@Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod', this)" />
                                        }
                                        else
                                        {
                                            <input type="image" id="icone_@contato.Cod" style="padding-right:7px" src="~/Content/img/NegativeIcon.png" width="25" onclick="AlteraContatoHot(true, '@contato.Cod', '@Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod', this)" />
                                        }
                                        <small><b><font style="font-size:x-small">@Idioma.Traduzir(Cobranca.Db.Models.EnumeradoresDescricao.ContatoTipo(contato.Tipo)): </font></b></small>
                                        <label style="font-size:x-small;padding-right:7px">@Cobranca.Db.Rotinas.DbRotinas.Descriptografar(contato.Contato)</label>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>

