﻿@model Cobranca.Db.Models.Cliente
@using Cobranca.Rotinas;
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-atendimento";
    List<Cobranca.Db.Models.ContratoParcela> _listaParcelas = new List<Cobranca.Db.Models.ContratoParcela>();
    List<Cobranca.Db.Models.Contrato> _listaContratos = new List<Cobranca.Db.Models.Contrato>();
    List<Cobranca.Db.Models.ContratoCliente> _listaContratoClientes = new List<Cobranca.Db.Models.ContratoCliente>();
    Cobranca.Db.Models.ContratoHistorico historico = historico = new Cobranca.Db.Models.ContratoHistorico();
    List<Cobranca.Db.Models.TabelaSintese> _listaSinese = new List<Cobranca.Db.Models.TabelaSintese>();
    List<Cobranca.Db.Models.TabelaMotivoAtraso> _listaMotivo = new List<Cobranca.Db.Models.TabelaMotivoAtraso>();
    List<Cobranca.Db.Models.ContratoParcelaAcordo> _listaParcelaAcordo = new List<Cobranca.Db.Models.ContratoParcelaAcordo>();
    List<Cobranca.Db.Models.ContratoAcaoCobrancaHistorico> _listaAcaoCobrancaHistorico = new List<Cobranca.Db.Models.ContratoAcaoCobrancaHistorico>();
    int _idFilial = 0;
    int atendente = 0;
    if (ViewBag.ListaContratos != null)
    {
        _listaContratos = (List<Cobranca.Db.Models.Contrato>)ViewBag.ListaContratos;
    }
    if (ViewBag.ListaParcelaAcordo != null)
    {
        _listaParcelaAcordo = (List<Cobranca.Db.Models.ContratoParcelaAcordo>)ViewBag.ListaParcelaAcordo;
    }
    if (ViewBag.ListaTodosMotivos != null)
    {
        _listaMotivo = (List<Cobranca.Db.Models.TabelaMotivoAtraso>)ViewBag.ListaTodosMotivos;
    }
    if (ViewBag.ListaTodasSintese != null)
    {
        _listaSinese = (List<Cobranca.Db.Models.TabelaSintese>)ViewBag.ListaTodasSintese;
    }
    if (ViewBag.parcelasCliente != null)
    {
        _listaParcelas = (List<Cobranca.Db.Models.ContratoParcela>)ViewBag.parcelasCliente;
        _listaParcelas = _listaParcelas.OrderBy(x => x.DataVencimento).ToList();
    }
    if (ViewBag.acaoCobranca != null)
    {
        _listaAcaoCobrancaHistorico = (List<Cobranca.Db.Models.ContratoAcaoCobrancaHistorico>)ViewBag.acaoCobranca;
    }
    if (ViewBag.FilialId != null)
    {
        _idFilial = (int)ViewBag.FilialId;
    }
    if (ViewBag.Atendente != null)
    {
        atendente = (int)ViewBag.Atendente;
    }
    var cliente = Model.ContratoClientes;
    List<Cobranca.Db.Models.TabelaFase> listaFase = new List<Cobranca.Db.Models.TabelaFase>();
    if (ViewBag.ListaFase != null)
    {
        listaFase = ViewBag.ListaFase;
    }
    var clientePrincipal = ViewBag.ClientePrincipal;
    var fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true;
    List<int> contratoIds = _listaContratos.Select(x => x.Cod).ToList();

}
<style>
    .date-red {
        color: #c7254e !important;
    }

    .td-checkbox {
        padding: 2px !important;
    }

    .selected {
        background-color: #c76161 !important;
        color: #fff;
    }

    table.dataTable.display tbody > tr.selected > .sorting_1, table.dataTable.order-column.hover tbody > tr.selected > .sorting_1 {
        background-color: #c76161 !important;
    }

    table.dataTable.display tbody > tr.selected:hover > .sorting_1, table.dataTable.order-column.hover tbody > tr.selected:hover > .sorting_1 {
        background-color: #c76161 !important;
    }


    .ui-datepicker-div {
        z-index: 999;
    }


    .estilo {
        display: block;
        position: relative;
        text-align: center;
        padding: 5px 12px;
        color: #444;
        background-color: #eee;
        border: 1px solid transparent;
    }

    .input-group-addon {
        background-color: #fff;
        height: 34px;
        border-radius: 0;
        margin-bottom: 5px;
    }

    a.dt-button-excel {
        background: #227446 !important;
        border-color: #113922 !important;
        color: #fff;
        border-radius: 0px !important;
        height: 30px;
        border: 1px solid transparent;
        text-align: center;
    }

    a.dt-button-filter {
        background: #E8E8E8 !important;
        border-color: #cfcfcf !important;
        color: #001116;
        border-radius: 0px !important;
        height: 30px;
        border: 1px solid transparent;
        text-align: center;
    }

    a.buttons-page-length {
        background: #fff !important;
        border-color: #ccc !important;
        color: #333;
        border-radius: 0px !important;
        height: 30px;
        border: 1px solid transparent;
        text-align: center;
    }
</style>

<div class="row">
    @Html.Hidden("contratosIds", contratoIds)
    @Html.Hidden("hfCodFase")
    @Html.Hidden("hfCodSintese")
    @Html.Hidden("CodCliente", Model.Cod)
    @Html.Hidden("CodUsuario", Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod)
    @Html.Hidden("hfCodMotivo")
    @Html.Hidden("filtContrato")
    @Html.Hidden("CodFilial", _idFilial)
    @Html.Hidden("AtendenteFilial", atendente)
    <div class="col-md-12">
        <div class="panel panel-default panel-pesquisa-dados" style="min-height:400px;">
            <div class="row">

                <div class="col-md-12">
                    <ul class="nav nav-pills nav-justified">
                        <li style="padding-right:5px;border: 1px solid white;border-radius:100px;" class="disabled">
                            <a href="#" class="btn btn-default">
                                <span class="fa fa-play"></span>
                                <b class="">Iniciar Atendimento</b>
                            </a>
                        </li>
                        <li style="padding-right:5px;border: 1px solid white;border-radius:100px;">
                            <a onclick="alterarCliente()" href="#" class="btn btn-default">
                                <span class="fa fa-user"></span>
                                <b class="">Alterar Cadastro Cliente</b>
                            </a>
                        </li>
                        <li style="padding-right:5px;border: 1px solid white;border-radius:100px;">
                            <a @*onclick="abrirAgenda()"*@ class="btn btn-default disabled">
                                <span class="fa fa-calendar"></span>
                                <b class="">Agendamento</b>
                            </a>
                        </li>
                        <li style="border: 1px solid white;border-radius:100px;">
                            <a @*onclick="finalizarFila()"*@ href="#" class="btn btn-default disabled">
                                <span class="fa fa-sign-out"></span>
                                <b>Finalizar Atendimento</b>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-tabs nav-junix" role="tablist">
                        <li role="presentation" class="active"><a href="#TAB-ATENDIMENTO" role="tab" data-toggle="tab">ATENDIMENTO</a></li>
                        @if (fgSistemaCobranca)
                        {
                            <li role="presentation" style="display:none"><a href="#TAB-HISTORICO-REPASSE" aria-controls="profile" role="tab" data-toggle="tab">REPASSE HISTÓRICO</a></li>
                            @*<li role="presentation"><a href="#TAB-PARCELA" aria-controls="profile" role="tab" data-toggle="tab">PARCELAS À VENCER</a></li>
                                <li role="presentation"><a href="#TAB-ACORDO" aria-controls="profile" role="tab" data-toggle="tab">ACORDOS</a></li>*@
                            <li role="presentation"><a href="#TAB-HISTORICO-ACAOCOBRANCA" aria-controls="profile" role="tab" data-toggle="tab">AÇÕES COBRANÇA</a></li>
                            <li role="presentation"><a href="#TAB-DOCUMENTO" aria-controls="profile" role="tab" data-toggle="tab">DOCUMENTOS</a></li>
                        }
                    </ul>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default panel-com-tab">
                        <div class="panel-body">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="TAB-ATENDIMENTO">
                                    <div class="row jnx-sortable">
                                        <div class="col-md-4">
                                            @Html.Partial("_partialCliente", Model)
                                        </div>
                                        <div class="col-md-4" id="historico-junix">
                                            @Html.Partial("_partialContato", Model)
                                        </div>
                                        <div class="col-md-4">
                                            @Html.Partial("_partialMsgContrato", Model)
                                        </div>
                                        @*<div class="col-md-6">
                                                @Html.Partial("_partialScript", Model)
                                            </div>*@
                                        <div class="col-md-12">
                                            @Html.Partial("_partialListContrato", _listaContratos)
                                        </div>
                                        <div class="col-md-12">
                                            @Html.Partial("_partialParcelas", _listaParcelas)
                                        </div>
                                        <div class="col-md-3 hide">
                                            <div id="panelCalculo" class="widget-panel widget-panel-sortable" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" role="tablist">
                                                <header role="heading">
                                                    <span class="widget-icon"> <i class="fa fa-calculator txt-color-darken"></i> </span>
                                                    <h2>Cálculo</h2>
                                                </header>
                                                <div class="no-padding">
                                                    <div class="widget-body">
                                                        <div class="panel-body" style="height:230px; padding:5px;">
                                                            <div class="row" style="margin-top:10px;">
                                                                <div class="col-lg-12 com-md-12 col-xs-12">
                                                                    <label for="Valor" class="col-md-4" style="padding-top: 10px;"><b>Quantidade:</b></label>
                                                                    <div class="col-md-8">
                                                                        @Html.TextBox("NrParcela", 0, new { @class = "form-control input-silver", disabled = "disabled" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12 com-md-12 col-xs-12">
                                                                    <label for="Valor" class="col-md-4" style="padding-top: 10px;"><b>Valor Total:</b></label>
                                                                    <div class="col-md-8">
                                                                        @Html.TextBox("ValorTotal", 0, new { @class = "form-control input-silver", disabled = "disabled", data_mask = "money2" })
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @Html.Partial("_partialAcaoCobranca", _listaAcaoCobrancaHistorico)
                                @Html.Partial("_partialDocumento", Model)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popUp">
    <div class="row">
        <div class="modal fade" tabindex="-1" role="dialog" id="modal-form">
            <div class="modal-dialog modal-lg">
                <form method="post" id="form-reserva" target="_self">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="panel panel-default panel-small">
                                        <div style="margin-top:10px" id="div-boleto" class="panel-body">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="">
    <div class="row">
        <div class="modal fade" tabindex="-1" role="dialog" id="popUpCliente">
            <div class="modal-dialog modal-lg">
                <form method="post" id="form-reserva" target="_self">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="panel panel-default panel-small">
                                        <div style="margin-top:10px" class="panel-body">
                                            <h2 id="linha-carregando" class="text-center text-silver" style="">
                                                Carregando Aguarde<br />
                                                <img src="~/Content/img/spinner.gif" height="50px" />
                                            </h2>
                                            <iframe id="iframe-contrato" src="@Url.Action("ClienteGeral", "Pesquisa", new { cdCliente = Model.Cod })" frameborder="0" width="100%"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="modal-form-historico">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">Titulo</h3>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
                        <button type="button" onclick="salvarHistorico()" class="btn btn-primary"><i class="fa fa-save"></i> Confirmar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="modal-form-solicitacao">
            <div class="modal-dialog" style="width:calc(100% - 120px)">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">@Idioma.Traduzir("Titulo")</h3>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> @Idioma.Traduzir("Cancelar")</button>
                        <button type="button" onclick="salvarHistorico()" class="btn btn-primary"><i class="fa fa-save"></i> @Idioma.Traduzir("Confirmar")</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jspdf.js"></script>
    <script src="~/Scripts/html2canvas/html2canvas.min.js"></script>
    <script src="~/Scripts/widgets/jnx.widgets.js"></script>
    <script type="text/javascript">
        var _id = 0;
        var rows_selected = [];
        var form = $('#div-boleto'), cache_width = form.width(), a4 = [595.28, 841.89];  // for a4 size paper width and height


        $(document).ready(function () {
            contratoGrid();
            $('#datetimepicker1').datetimepicker({
                //comment the beforeShow handler if you want to see the ugly overlay

            });

            $('.modal-dialog').draggable({
                handle: ".modal-header"
            });

            $('.ui-datepicker-div').css('zIndex', 999999);

            var specialElementHandlers = {
                '#editor': function (element, renderer) {
                    return true;
                }
            };
            function FiltrarContrato() {
                var rowcollection = _tbContrato.$("input[type='checkbox']:checked", { "page": "all" });
                var cod = 0;
                var dados = [];
                rowcollection.each(function (index, elem) {
                    cod = $(elem).attr("data-id");
                    dados.push(cod);
                });
                $("#filtContrato").val(dados);
                $.ajax({
                    url: '/Atendimento/VerificaRegionalContrato/',
                    type: 'post',
                    data: { id: dados }
                }).success(function (resultado) {
                    _contratoRegional = resultado.OK;
                    if (_contratoRegional) {
                        $('#btn-historico').prop("disabled", false);
                    } else {
                        $('#btn-historico').prop("disabled", true);
                    }

                });
                $('#btn-mensagem').prop("disabled", false);
                consultarMsgContrato(dados);
                parcelaGrid();
            }

            $(".panel-heading").addClass("collapsed");
            $("#CodFase").change(function () {
                var cod = $("#CodFase").val();
                $.ajax({
                    url: '@Url.Action("ListarSintesePorFase", "Sintese")',
                    type: 'post',
                    dataType: 'json',
                    data: { fase: cod }
                }).success(function (resultado) {
                    popularDropoDownList($("#CodSintese"), resultado);
                });
            });

            $("#btnGerar").click();
            $('.jarviswidget-fullscreen-btn').click(function (e) {
                $('#panelCliente').toggleClass('fullscreen');
            });

            //$('#tbParcelas').on('click', 'tbody td, thead th:first-child', function (e) {
            //    _teste = $(this).closest('tr').find("td:last").text();
            //    calcular(_teste)
            //});


            $("#DataAgenda").blur(function () {
                var DataAgenda = moment($('#DataAgenda').val(), 'DD-MM-YYYY, h:mm').format();
                var Today = moment().format();
                if (!moment(DataAgenda).isAfter(Today)) {
                    $(this).addClass("date-red animated shake", "easeOutBounce");
                } else {
                    $(this).removeClass("date-red animated shake");
                }
            });


            //CALCULA DINAMICAMENTE AS PARCELAS
            $('#tbParcelas tbody').on('click', 'input[type="checkbox"]', function (e) {
                var total = 0.0;
                var qtd = 0;

                var rowcollection = _tb.$("input[type='checkbox']:checked", { "page": "all" });
                rowcollection.each(function (index, elem) {
                    var vl = converterParaValor($(elem).attr("data-vr"))
                    total += vl;
                    qtd++;
                });

                $('#ValorTotal').val(formatarValorMoeda(total))
                $('#NrParcela').val(qtd);

            });
            acaoCobrancaGrid();
        });

        function openHistorico() {
            var rowcollection = _tb.$("input[type='checkbox']:checked", { "page": "all" });
            var cod = 0;
            var dados = [];
            rowcollection.each(function (index, elem) {
                cod = $(elem).attr("data-id");
                dados.push(cod);
            });
            var _today = new Date();
            var _ticked = "&t=" + _today.getSeconds();

            if (cod > 0) {
                $.get('/ContratoParcelaBoleto/ValidarEmpresaCobranca/?p=' + dados + _ticked, function (r) {
                    if (r.OK) {
                        historicoParcela(dados);
                    } else {
                        jx.mensagem(r.Titulo, r.Mensagem, 'warning', 'fa fa-exclamation ');
                    }
                });
            } else {
                alert("Selecione uma parcela!")
            }
        }


        function gerar() {
            //_dados = [];
            $("input[type='checkbox']:checked").each(function (i, e) {
                if ($(e).prop("checked")) {
                    var cod = $(e).attr("id")
                    emitirBoleto('@Url.Action("GerarBoleto", "Banco")?CodParcela=' + cod + '')
                    //_dados.push($(e).attr("id"));
                }
            });
        }

        function ocultarForm() {
            document.getElementById("form-cadastro-historico").reset();
            $(".form-exibir").hide();
            $("#botoes").hide();
            $("#btn-adcionar").hide();
        }
        function cancelar() {
            document.location.reload(false);
        }

        function abrirAgenda() {
            $.ajax({
                url: '@Url.Action("ListarCalendarioEventos", "Calendario")',
                type: 'post',
                data: obterFiltros()
            }).success(function (resultado) {
                jx.calendarioOpen(resultado, 'agendaWeek', retornoAgenda);

            });
        }
        function obterFiltros() {
            return {
                UsuarioId: $("#UsuarioId").val()
            }
        }

        function retornoAgenda(start, end, allDay) {
            data = moment(start).format('DD/MM/YYYY hh:mm');
            $("#DataAgenda").val(data);
            $('#jnxCalendarDefault').modal('toggle');
        }
        function AlteraContatoHot(status, cod, CodUsuario, el) {
            $.ajax({
                url: '@Url.Action("AlteraContatoHot", "Cliente")',
                type: 'post',
                dataType: 'json',
                data: { Status: status, Cod: cod, usuario: CodUsuario }
            }).success(function (resultado) {
                if (status == false) {
                    $(el).attr("src", "/Content/img/NegativeIcon.png")
                    $(el).attr("onclick", "AlteraContatoHot(true," + cod + "," + @Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod + ", this)")
                } else {
                    $(el).attr("src", "/Content/img/PositiveIcon.png")
                    $(el).attr("onclick", "AlteraContatoHot(false," + cod + "," + @Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod + ", this)")
                }

            });
        }
        function abrirAgenda() {
            $.ajax({
                url: '@Url.Action("ListarCalendarioEventos", "Calendario")',
                type: 'post',
                data: obterFiltros()
            }).success(function (resultado) {
                jx.calendarioOpen(resultado, 'agendaWeek', retornoAgenda);
            });
        }
        function retornoAgenda(start, end, allDay) {
            data = moment(start).format('DD/MM/YYYY hh:mm');
            $("#DataAgenda").val(data);
            $('#jnxCalendarDefault').modal('toggle');
        }
        function obterFiltros() {
            return {
                UsuarioId: $("#UsuarioId").val()
            }
        }


        function finalizarFila() {
            var cod = $("#CodCliente").val();
            var _today = new Date();
            var _ticked = "&t=" + _today.getSeconds();
            $.get("/Atendimento/VerificarAtendimento/?id=" + cod + '&t=' + _ticked)
                .done(function (response) {
                    if (response.OK) {
                        debugger;
                        document.location = "@Url.Action("FilaAtendimento")" + "/?Filial=" + $("#CodFilial").val() + "&Atendente=" + $("#AtendenteFilial").val();
                    } else {
                        jx.mensagem(response.Titulo, response.Mensagem, 'warning', 'fa fa-exclamation ');
                    }
                })
                .fail(function (erro) {
                    console.log('error:' + erro)
                });
            @*$.ajax({
                url: '@Url.Action("FinalizarAtendimento", "Atendimento")',
                type: 'post',
                data: { id: cod }
            }).success(function (resultado) {
                document.location = "@Url.Action("FilaAtendimento")";
            });*@
        }

        function getSelecionados() {
            var itens = $(".data-table2").DataTable().rows({ selected: true }).data();
            var Ids = [];
            for (var i = 0; i < itens.length; i++) {
                var item = itens[i][3];
                Ids.push(item);
            }
            return Ids;
        }
        function popUP() {
            $("#modal-form").modal("show");
        }
        function visualizarDetalhes(cod) {
            $.ajax({
                url: '@Url.Action("InformacaoContrato", "Pesquisa")',
                type: 'post',
                dataType: 'json',
                data: { CodContrato: cod }
            }).success(function (resultado) {

            })
        }
        function hora() {

            var now = new Date().setHours(00, 00, 00, 00)
            var HoraCompleta = now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();
            //console.log(HoraCompleta)
            $("#HoraAtual").text(HoraCompleta);
            setTimeout('hora()', 500);
        }


        function popUpHistorico() {
            var cod = $("#filtContrato").val();

            historicoContrato(cod);
        }

        function converterParaValor(obj) {
            return parseFloat(obj.replace(',', '.'));
        }
        function formatarValorMoeda(c) {
            var valor = parseFloat(c).toFixed(2).toString().replace(".", ",");
            var el = $(document.createElement("input"));
            el.val(valor).mask('000.000.000.000.000,00', { reverse: true });
            return el.val();
        }



        function linhaClickParcela(e) {

        }
        function linhaClick(e) {

        }

        function consultarMsgContrato(codContrato) {
            $("#mensagem-contrato").empty().append("--");
            jx.submit('@Url.Action("ConsultarMsgContrato", "Atendimento")', { cods: codContrato }, function (d) {
                $("#mensagem-contrato").empty().append(d.Dados);
            });
        }
        function ValidaDataAgenda() {
            var elemDataAgenda = $("#DataAgenda");
            debugger;
            if (elemDataAgenda.val() != "") {
                var DataAgenda = moment(elemDataAgenda.val(), "DD/MM/YYYY").format();
                var Today = moment().format();
                $(this).removeClass("date-red animated shake");
                if (!moment(DataAgenda).isAfter(Today)) {
                    $(this).addClass("date-red animated shake");
                    return false;
                } else {
                    return true;
                }
            }
        }
    </script>

    @{ var ticked = "&t=" + DateTime.Now.ToString("yyyyMMddHHmmss");}
    @*//#REGION GRID CONTRATO*@
    <script src="@Url.Content("~/App/js/Views/Atendimento/listaContrato.js?"+ ticked) "></script>
    @*//#REGION GRID PARCELA*@
    <script src="@Url.Content("~/App/js/Views/Atendimento/listaParcelas.js?"+ ticked) "></script>
    @*//#REGION HISTORICO*@
    <script src="@Url.Content("~/App/js/Views/Atendimento/historico.js?"+ ticked) "></script>
    @*//#REGION MENSAGEM*@
    <script src="@Url.Content("~/App/js/Views/Atendimento/mensagemFilial.js?"+ ticked) "></script>
    @*//#REGION BOLETO*@
    <script src="@Url.Content("~/App/js/Views/Atendimento/boleto.js?"+ ticked) "></script>
    @*//#REGION DOCUMENTO*@
    <script src="@Url.Content("~/App/js/Views/Atendimento/documento.js?"+ ticked) "></script>
    @*//#REGION EDITAR CLIENTE*@
    <script src="@Url.Content("~/App/js/Views/Atendimento/cliente.js?"+ ticked) "></script>
    @*//#REGION GRID ACAO COBRANCA*@
    <script src="@Url.Content("~/App/js/Views/Atendimento/acaoCobranca.js?"+ ticked) "></script>

}
<link href="@Url.Content("~/Content/modal-radio-button.css")" rel="stylesheet" />
