﻿@using Cobranca.Rotinas;
@using Cobranca.Db.Rotinas;
@using Cobranca.Web.Rotinas;
@using Cobranca.Db.Models;
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-fila";
    List<Cobranca.Db.Models.Usuario> _listaUsuario = new List<Cobranca.Db.Models.Usuario>();
    if (ViewBag.UsuarioAtendente != null)
    {
        _listaUsuario = (List<Cobranca.Db.Models.Usuario>)ViewBag.UsuarioAtendente;
    }

}
<style>

</style>
<div class="panel panel-default panel-small">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    @if (WebRotinas.ObterUsuarioLogado().PerfilTipo == Enumeradores.PerfilTipo.Admin || WebRotinas.ObterUsuarioLogado().PerfilTipo == Enumeradores.PerfilTipo.SupervisorAnalista || WebRotinas.ObterUsuarioLogado().PerfilTipo == Enumeradores.PerfilTipo.Analista || WebRotinas.ObterUsuarioLogado().PerfilTipo == Enumeradores.PerfilTipo.RegionalAdmin)
                    {
                        <div class="col-md-12 text-center animated fadeIn">
                            <h3 class="" style="margin-bottom:2px;">@Idioma.Traduzir("FILA DE ATENDIMENTO").ToUpper()</h3>
                            <p class="">@Idioma.Traduzir("Selecione o atendente e filial que deseja verificar o atendimento")</p>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group-sm" style="width:250px; margin: 0 auto;">
                                @Html.TextBox("DropAtendente", null, new { @class = "form-control input-silver" })
                            </div> <!-- /.form-group -->
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12 text-center animated fadeIn">
                            <h3 class="" style="margin-bottom:2px;">@Idioma.Traduzir("FILA DE ATENDIMENTO").ToUpper()</h3>
                            <p class="">@Idioma.Traduzir("Selecione a filial que deseja iniciar o atendimento")</p>
                        </div>
                    }

                </div>
            </div>

        </div>
    </div>
</div>
<div class="col-md-12" style="min-height:130px;">
    @if (Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Regional)
            {
        <div id="panelRegional">
            @Html.Partial("_AtendenteRegional", _listaUsuario.Where(x => x.Cod == Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod).FirstOrDefault().UsuarioRegionals.Where(x=> !x.DataExcluido.HasValue).ToList());
        </div>
    }
    else
    {
        <div id="panelRegional"></div>
    }
</div>
<form id="initFila" style="display:none" method="get" action="@Url.Action("FilaAtendimento")">
    @Html.Hidden("Atendente", 0)
    @Html.Hidden("Filial", 0)
</form>

@section scripts{
    <script type="text/javascript">
        var _id = 0;
        $(document).ready(function () {
            $("#DropAtendente").select2({
                ajax: {
                    url: "@Url.Action("PesquisarAtendenteFila", "Usuario")",
                    dataType: 'json',
                    delay: 250,
                    data: function (term, page) {
                        return { q: term, };
                    },
                    processResults: function (data, params) {
                        return { results: data.items };
                    },
                    cache: true
                },
                initSelection: function (element, callback) {
                    return;
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax({
                            url: "@Url.Action("PesquisarAtendente", "Usuario")",
                            dataType: 'json',
                            data: { q: "A" }
                        }).done(function (data) { console.log(data); callback(data.items[0]); });
                    }
                },
                minimumInputLength: 1,
                placeholder: "Nome do Atendente",
                allowClear: true
            }).on('change', function (e) {
                var painel = document.getElementById("panelRegional");
                painel.innerHTML = '';
                var elDiv = document.createElement("div");
                var divPainel = document.getElementById("panelRegional").appendChild(elDiv);
                $(divPainel).load("/Atendimento/FormAtendenteRegional/?u=" + e.val, function () {
                    $('.ui-sortable-handle').addClass('animated fadeIn');
                    $("#initFila #Atendente").val(e.val);
                });
            });
        });
        function iniciarFila(elFilial) {
            $("#initFila #Filial").val(elFilial);
            $("#initFila").submit();
        }

    </script>
}
