﻿@using Cobranca.Rotinas;
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-small panel-default">
            <div class="panel-body">
                <div class="row area-expantir animated fadeIn text-center" id="div-fila-finalizada">
                    <div class="col-md-12 ">
                        <div class="col-md-12">
                            <h3>@Idioma.Traduzir("Fila Finalizada!") </h3>
                        </div>
                        <div class="col-md-12">
                            <h5><b>@Idioma.Traduzir("Data"):</b> @DateTime.Now </h5>
                        </div>
                        <div class="col-md-12">
                            <h5><b>@Idioma.Traduzir("Login"):</b> @Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Nome</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>