﻿@model Cobranca.Web.Models.BoletoEnvioViewModel
@using Cobranca.Rotinas;

@{

}
<style>
    #modal-form-boleto .modal-body {
        padding: 0px;
    }

    .note-editor.panel {
        border-radius: 0px;
        margin-bottom: 0px !important;
    }

    .header-email {
        background-color: #E8E8E8;
        border-top: 1px solid;
        border-bottom: 1px solid;
        height: auto;
    }

        .header-email > label {
        }

    .bootstrap-tagsinput {
        max-height: 60px !important;
        overflow-y: auto;
    }

        .bootstrap-tagsinput > .label {
            padding: .2em .6em .2em;
        }

        .bootstrap-tagsinput .tag {
            line-height: 22px;
        }

    .card-division {
        border-bottom: 1px dashed rgba(0,0,0,.2);
        color: #232323;
        margin: 0 0 10px;
    }

    .boletoPrint-toolbar {
        padding: 0 0 5px 5px;
        margin: 0;
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
    }

        .boletoPrint-toolbar > .btn-group {
            margin-top: 5px;
            margin-right: 5px;
        }
</style>
<form id="form-envio-boleto" action="@Url.Action("EnvioEmail","Atendimento")" class="form-inline" autocomplete="off" style="margin:-15px;" method="POST">

    @Html.Hidden("CodUsuario", Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod)
    @Html.Hidden("ParcelaIds", Model.ParcelaIds)
    @Html.Hidden("CodCliente", Model.CodCliente)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <header class="bs-docs-nav no-padding no-padding" style="background-color: #E8E8E8;border-top: 1px solid;border-bottom: 1px solid;height: auto;" id="top">
        <div class="row" style="margin:10px;">
            <div class="col-xs-3 col-md-1 no-padding">
                <div class="form-group-sm">
                    <button class="btn btn-default btn-sm pull-left btn-block" style="height:65px" type="button" onclick="EnviarPorEmail()"><i class="fa fa-send"></i> Enviar</button>
                </div>
            </div>
            <div class="col-xs-2 col-md-1 no-padding">
                <div class="col-xs-12 col-md-12 no-padding">
                    <label for="Email" class="label-email" style="margin-top:5px; height:20px; float:right">@Idioma.Traduzir("Email:")</label>
                </div>
                <div class="col-xs-12 col-md-12 no-padding" style="margin-top:5px;">
                    <label for="Assunto" class="label-email" style="margin-top:5px; height:20px; float:right">@Idioma.Traduzir("Assunto:")</label>
                </div>
            </div>
            <div class="col-xs-7 col-md-10">
                <div class="col-md-12 no-padding">
                    <div class="form-group-sm">
                        @Html.TextBox("Email", Model.Email, new { @class = "form-control", style = "width:100%" })
                    </div>
                </div>
                <div class="col-md-12 no-padding" style="margin-top:5px;">
                    <div class="form-group-sm">
                        @Html.TextBox("Assunto", Model.Assunto, new { @class = "form-control", style = "width:100%" })
                    </div>
                </div>

            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-junix" role="tablist">
                <li role="presentation" class="active"><a href="#tab-boleto" role="tab" data-toggle="tab">@Idioma.Traduzir("Mensagem")</a></li>
                <li role="presentation"><a href="#tab-mensagem" role="tab" data-toggle="tab">@Idioma.Traduzir("Boleto's") </a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab-boleto">
                    <div class="col-lg-2 col-md-2 col-xs-6">
                        <div class="form-group-sm">
                            <label for="TipoEmail" class=""><i class=""></i> @Idioma.Traduzir("Modelo"):</label>
                            <select id="TipoEmail" name="TipoEmail" class="form-control selectpicker" data-live-search="true" data-actions-box="true">
                                @foreach (var item in Model.ListaModelosEmail)
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group-sm">
                        @Html.TextAreaFor(m => m.Mensagem, new { @class = "form-control input-silver editor-html", style = "height:80px!important;", rows = "6" })
                        @Html.ValidationMessageFor(m => m.Mensagem)
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab-mensagem">
                    <div class="boletoPrint-toolbar panel-heading" style="padding: 0 0 5px 5px;margin:0;color: #333;background-color: #f5f5f5;border-color: #ddd">
                        <div class="note-style btn-group" style="margin-top:5px;margin-right:5px;">
                            <div class="btn-group" data-name="style">
                                <button class="btn btn-sm btn-default pull-right" onclick="printJS('div-boleto', 'html')" type="button" title="Imprimir"><i class="fa fa-print" style="font-size:18px"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="div-boleto" style="margin-top:5px;overflow-y: scroll; max-height:300px; margin-right:-15px;">
                            @foreach (var p in Model.BoletoHTML)
                            {
                                @Html.Raw(p);
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


