﻿@model Cobranca.Db.Models.TabelaEmpreendimento
@{
    if (Model.Cod == 0)
    {
        Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    }
}

<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.CodEndereco)
    @Html.HiddenFor(m => m.TabelaEndereco.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row">
      
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group-sm">
                <label for="CodCheckListNome">Check List Cliente</label>
                @Html.DropDownListFor(m => m.CodCheckListNome, new SelectList(ViewBag.ListaCheckList, "value", "key", Model.CodCheckListNome), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodCheckListNome)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group-sm">
                <label for="CodCheckListEmpreendimento">Check List Empreendimento</label>
                @Html.DropDownListFor(m => m.CodCheckListEmpreendimento, new SelectList(ViewBag.ListaCheckListEmpreendimento, "value", "key", Model.CodCheckListEmpreendimento), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodCheckListEmpreendimento)
            </div> <!-- /.form-group -->
        </div>
    </div>
    <!-- /.form-group -->
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="button" onclick="vincularCheckList()"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</form>

