﻿@model Cobranca.Db.Models.TabelaModeloAcao
@using Cobranca.Db.Models;
@{
//if (Model.Cod == 0) {
//    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
//}

}

<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row margin-top-20">
        <div class="col-sm-6">
            <div class="form-group-sm">
                <label for="CodConstrutora">Ação Cobrança</label>
                @Html.DropDownListFor(m => m.CodAcaoCobranca, new SelectList(ViewBag.ListaAcaoCobranca, "value", "key", Model.CodAcaoCobranca), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodAcaoCobranca)
            </div> <!-- /.form-group -->
        </div>
        <div id="chaveDefault" class="col-md-12">
            <label class="">Campos</label><br />
            @foreach (var item in EnumeradoresLista.ListaChaveModelo())
            {
                <label onclick="addChave('#ModeloDesc', this)" class="label label-info pull-left label-lg cursor-pointer">@item.Key</label>
            }
        </div>
        <div id="chaveUser" class="col-md-12 hide">
            <label class="">Campos</label><br />
            @foreach (var item in EnumeradoresLista.ListaChaveModeloUsuario())
            {
                <label onclick="addChave('#ModeloDesc', this)" class="label label-info pull-left label-lg cursor-pointer">@item.Key</label>
            }
        </div>
        <div class="col-sm-12">
            <div class="form-group-sm">
                <label for="Modelo">Modelo Ação Cobrança</label>
                @Html.TextAreaFor(m => m.Modelo, new { @class = "form-control input-silver editor-html", style = "height:320px!important;", rows = "6" })
                @Html.ValidationMessageFor(m => m.Modelo)
            </div>
        </div>
    </div>
    <!-- /.form-group -->
    <div class="row">

        <div class="col-sm-12">
            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }
        </div>

        <div class="col-sm-3">

        </div>
    </div>

</form>
