﻿@model Cobranca.Db.Models.TabelaModeloAcao
@{
    //ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
    //if (Model.TabelaEndereco == null)
    //{
    //    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    //}

}

<div class="panel panel-body box-shadon">

    <div class="layout layout-stack-sm layout-main-left">
        <div class="col-md-12">
            <div class="portlet portlet-default">
                <div class="portlet-header">
                    <div class="heading-block">
                        <ul class="breadcrumb">
                            <li class=""><a href="@Url.Action("Index")">Modelo Ação Cobrança</a></li>
                            <li class="active">Cadastro</li>
                        </ul>
                    </div>
                </div>

                <div class="portlet-body">

                    @Html.Partial("_form", Model)
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script type="text/javascript">

        function excluir() {
            if (confirm("Confirma excluir o registro?")) {
                $.ajax({
                    url: '@Url.Action("Excluir")',
                    data: { id: $("#Cod").val() },
                    type: 'post',
                    dataType: 'json'
                }).success(function (result) {
                    document.location = '@Url.Action("index")';
                });
            }
        }
        $(document).ready(function () {
            $("#CodAcaoCobranca").change(function (el) {
                var today = new Date();
                var ticked = "&t=" + today.getSeconds();
                $.get("/getChave/acao=" + $(el).val() + "&t=" + ticked, function (r) {
                    if (r.OK) {
                        $("#chaveDefault").hide("hide");
                        $("#chaveUser").removeClass("hide");
                    }
                })

            })
        });
        function cancelar() {
            document.location = '@Url.Action("index")';
        }

    </script>
}
