﻿@model Cobranca.Db.Models.TabelaBloco

@{
    //if (Model.Cod == 0) {
    //    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    //}
        
}

<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()   
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="CodEmpreend">Empreendimento</label>
                @Html.DropDownListFor(m => m.CodEmpreend, new SelectList(ViewBag.ListaEmpreendimento, "value", "key", Model.CodEmpreend), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodEmpreend)
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="CodBlocoCliente">Codigo</label>
                @Html.TextBoxFor(m => m.CodBlocoCliente, new { @class = "form-control input-silver", required = "required", placeholder = "Codigo bloco" })
                @Html.ValidationMessageFor(m => m.CodBlocoCliente)
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="NomeBloco">Bloco</label>
                @Html.TextBoxFor(m => m.NomeBloco, new { @class = "form-control input-silver" , required = "required", placeholder = "Nome do bloco" })
                @Html.ValidationMessageFor(m => m.NomeBloco)
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="QuantidadeUnidade">Quantidade de Unidades</label>
                @Html.TextBoxFor(m => m.QuantidadeUnidade, new { @class = "form-control input-silver", data_mask = "inteiro" })
                @Html.ValidationMessageFor(m => m.QuantidadeUnidade)
            </div> <!-- /.form-group -->
        </div>
       

    </div>

    <!-- /.form-group -->
    <div class="row">

        <div class="col-sm-12">
            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>

             @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }
            
        </div>

        <div class="col-sm-3">

        </div>
    </div>

</form>
