﻿@model Cobranca.Db.Models.TabelaRegional
@using Cobranca.Rotinas;
@{
    if (Model.Cod == 0)
    {
        Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    }
    Model.Regional = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Regional);
}
<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.CodRegionalCliente)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()


    <div class="row ">
        @*<div class="col-sm-4">
                <div class="form-group-sm">
                    <label for="CodConstrutora">Nome Empresa</label>
                    @Html.DropDownListFor(m => m.CodConstrutora, new SelectList(ViewBag.ListaConstrutora, "value", "key", Model.CodConstrutora), new { @class = "form-control input-silver" })
                    @Html.ValidationMessageFor(m => m.CodConstrutora)
                </div>
            </div>*@
        <div class="col-sm-8">
            <div class="form-group-sm">
                <label for="NomeEmpreendimento">Filial</label>
                @Html.TextBoxFor(m => m.Regional, new { @class = "form-control input-silver", required = "required" })
                @Html.ValidationMessageFor(m => m.Regional)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="heading-block">
                <b><i class="fa fa-location-arrow"></i>&nbsp;Endereço</b>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="CEP">CEP</label>
                @Html.TextBoxFor(m => m.CEP, new { @class = "form-control input-silver", data_mask = "cep" })
                @Html.ValidationMessageFor(m => m.CEP)
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group-sm">
                <label for="Endereco">Endereço</label>
                @Html.TextBoxFor(m => m.Endereco, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Endereco)
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="Endereco">Numero</label>
                @Html.TextBoxFor(m => m.Numero, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Numero)
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="Endereco">Bairro</label>
                @Html.TextBoxFor(m => m.Bairro, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Bairro)
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="Endereco">Cidade</label>
                @Html.TextBoxFor(m => m.Cidade, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Cidade)
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="Endereco">Estado</label>
                @Html.TextBoxFor(m => m.Estado, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Estado)
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="Endereco">Pais</label>
                @Html.TextBoxFor(m => m.Pais, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Pais)
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="Endereco">Complemento</label>
                @Html.TextBoxFor(m => m.Complemento, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Complemento)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="heading-block">
                <b><i class="fa fa-tag"></i>&nbsp;Contato</b>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group-sm">
                <label for="Endereco">Responsavel</label>
                @Html.TextBoxFor(m => m.Responsavel, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Responsavel)
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group-sm">
                <label for="Endereco">Telefone</label>
                @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control input-silver", data_mask = "telefone" })
                @Html.ValidationMessageFor(m => m.Telefone)
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group-sm">
                <label for="Endereco">Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-silver", type = "email" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        

    </div>
</form>
<div class="row">
    <div class="col-md-12">
        <div class="heading-block">
            <b><i class="fa fa-tag"></i>&nbsp;Código Filial</b>
        </div>
    </div>
    <form id="form-cadastro-grupo" action="@Url.Action("SalvarGrupo")" class="form" method="POST">
        @foreach (var grupo in Model.TabelaRegionalGrupoes.Where(x => !x.DataExcluido.HasValue))
        {
            @Html.Partial("_formGrupo", grupo)
        }
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="addForm"></div>
        </div>
    </form>

</div>
<!-- /.form-group -->
