﻿@model Cobranca.Db.Models.TabelaRegionalGrupo
@using Cobranca.Rotinas;
@{
}
@Html.Hidden("Cod", Model.Cod)
@Html.Hidden("CodRegional", Model.CodRegional)
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="col-xs-4 col-md-2 col-lg-2">
            <div class="form-group-sm">
                <label for="CodConstrutora">Nome Empresa</label>
                @Html.DropDownListFor(m => m.CodConstrutora, new SelectList(ViewBag.ListaConstrutora, "value", "key", Model.CodConstrutora), new { @class = "form-control input-silver"})
                @Html.ValidationMessageFor(m => m.CodConstrutora)
            </div>
        </div>
        <div class="col-xs-4 col-md-2 col-lg-2">
            <div class="form-group-sm">
                <label for="Numero">@Idioma.Traduzir("Código")</label>
                @Html.TextBox("CodRegionalCliente", Model.CodRegionalCliente, new { @class = "form-control input-silver"})
            </div>
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4">
            <div class="form-group-sm">
                <label for="Numero">@Idioma.Traduzir("Descrição")</label>
                @Html.TextBox("Descricao", Model.Descricao, new { @class = "form-control input-silver"})
            </div>
        </div>
        @if (Model.Cod > 0)
        {
            <div class="col-sm-2">
                <button class="btn btn-xs btn-danger pull-left margin-top-18" title="@Idioma.Traduzir("Remover")" type="button" onclick="DeleteGrupo(@Model.Cod)"><i class="fa fa-trash"></i></button>
            </div>
        }
    </div>
</div>
