﻿@model Cobranca.Db.Models.TabelaRegional
@using Cobranca.Rotinas;
@{
    //ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
    if (Model.TabelaEndereco == null)
    {
        Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    }

}
<div>
    <ul class="nav nav-tabs nav-junix" role="tablist">
        <li role="presentation" class=""><a href="@Url.Action("Index", "Regional")">FILIAIS</a></li>
        <li role="presentation" class="active"><a href="@Url.Action("Index", "Regional")">@Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Regional)</a></li>
        <li role="presentation" class="@string.Format("{0}", Model.Cod > 0 ? "" : "hide") "><a href="@Url.Action("FilialProdutos", "RegionalProduto", new { CodFilial = Model.Cod })">LISTA PRODUTOS</a></li>
    </ul>
</div>
<div class="panel panel-body box-shadon">
    <div class="layout layout-stack-sm layout-main-left">
        <div class="col-md-12">
            <div class="portlet portlet-default">
                <div class="portlet-header">
                    <div class="heading-block">
                        <ul class="breadcrumb">
                            <li><a href="@Url.Action("Index")">Filial</a></li>
                            <li class="active">Cadastro</li>
                        </ul>
                    </div>
                </div>

                <div class="portlet-body">
                    @Html.Partial("_form", Model)
                </div>
                @if (Model.Cod > 0)
                {

                    <div class="row">
                        <div class="col-md-2" style="margin-top:5px;">
                            <button class="btn btn-xs btn-primary" data-regional="@Model.Cod" onclick="add()" style="margin-bottom:0px; margin-bottom:10px;" type="button"><i class="fa fa-plus"></i> @Idioma.Traduzir("Incluir")</button>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                    </div>
                    <div class="col-sm-12">
                        <button class="btn btn-sm btn-primary pull-left btn-min-width" type="button" onclick="salvar()"><i class="fa fa-save"></i>&nbsp;Salvar</button>
                        <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>

                        @if (Model.Cod > 0)
                        {
                            <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
                        }

                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function excluir() {
            if (confirm("Confirma excluir o registro?")) {
                $.ajax({
                    url: '@Url.Action("Excluir")',
                    data: { id: $("#Cod").val() },
                    type: 'post',
                    dataType: 'json'
                }).success(function (result) {
                    document.location = '@Url.Action("index")';
                });
            }
        }
        $(document).ready(function () {
        });
        function salvar() {
            var $form = $("#form-cadastro");
            $.ajax({
                type: "POST",
                url: '@Url.Action("Cadastro")',
                data: jx.formRotinas.obterDadosForm($form),
                success: function (result) {
                    salvarGrupo();

                }
            });
        }
        function salvarGrupo() {
            var form = $("#form-cadastro-grupo");
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: jx.formRotinas.obterDadosForm($("#form-cadastro-grupo")),
                success: function (response) {
                    jx.mensagem('Operação Realizada!', 'Informações foram salvas com sucesso!', 'success', 'fa fa-check');
                    setTimeout(function () {
                        location.reload();
                    }, 1500);
                }
            });
        }
        function cancelar() {
            document.location = '@Url.Action("index")';
        }

        function add() {
            var b = $('[data-regional]').attr('data-regional');//e.attr("banco")
            var countDiv = $(".addForm > div").length + 1;
            $(".addForm").append("<div class='append_" + countDiv + " row'></div>");
            $('.append_' + countDiv).load('@Url.Action("AddFormGrupo", "Regional")?r=' + b, function () {

            });
        }

        function DeleteGrupo(id) {
            var data = {};
            data.rg = id;
            $.post("/Regional/DeleteGrupo", data, function (retorno) {
                if(retorno.OK){
                    jx.mensagem("OK! ", retorno.Mensagem, 'success', 'fa fa-check');            
                    setTimeout(function () {
                        location.reload();
                    }, 1500);
                }
            }).fail(function (xhr, status, error) {
                jx.carregando(false);
                jx.mensagem('Erro', error, 'danger', 'fa fa-close ');
            });
        }
    </script>
}