﻿@model List<Cobranca.Db.Models.TabelaRegional>
@using Cobranca.Rotinas;
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";

}
<style>
    div.dataTables_length {
        float: right !important;
    }

    div.dataTables_paginate {
        float: left !important;
    }

    div.dataTables_paginate {
        float: left !important;
    }

    div.dataTables_info {
        float: right !important;
    }

    div.dataTables_filter {
        float: right !important;
    }

    div.dt-buttons {
        float: right;
    }

        div.dt-buttons a {
            background: #227446 !important;
            border-color: #113922 !important;
            color: #fff;
            border-radius: 0px !important;
            height: 30px;
            border: 1px solid transparent;
            text-align: center;
        }

    table tbody td {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 10px;
    }
</style>
<div>
    <ul class="nav nav-tabs nav-junix" role="tablist">
        <li role="presentation" class="active"><a href="@Url.Action("Index", "Regional")">FILIAIS</a></li>
    </ul>
</div>
<div class="panel panel-body box-shadon">
    <div class="heading-block">
        <ul class="breadcrumb">
            <li class="active">@Idioma.Traduzir("Filial")</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("Cadastro",new{id = 0})" class="btn btn-sm btn-primary pull-left btn-min-width"><i class="fa fa-plus"></i> Adicionar</a>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-12">
            <table id="DTGrid" class="table table-bordered table-condensed table-striped display nowrap" style="margin-top:6px;background-color:#fff;">
                <thead id="dtheader">
                    <tr id="trheader">
                        <th class="col-id" style="width:20px;" data-title="#"></th>
                        <th class="text-center" data-name="Regional" data-data="Regional" data-title="@Idioma.Traduzir("Filial")"></th>
                        <th class="text-center" data-name="Responsavel" data-data="Responsavel" data-title="@Idioma.Traduzir("Responsável")"></th>
                        <th class="text-center" data-name="Email" data-data="Email" data-title="@Idioma.Traduzir("Email")"></th>
                        <th class="text-center" data-name="Telefone" data-data="Telefone" data-title="@Idioma.Traduzir("Telefone")"></th>
                    </tr>
                    <tr id="tb-loading">
                        <td colspan="5" class="text-center animated fadeIn">
                            <h2><i class="fa fa-spin fa-spinner text-silver"></i> @Idioma.Traduzir("Carregando os dados")</h2>
                        </td>
                    </tr>
                </thead>

            </table>

        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            obterDados();
        });
        function incluir() {
            //$("#incluir-form").modal("show");
            document.location = "@Url.Action("Cadastro",new{id = 0})"
        }
        function salvar() {
            var data = $("#form-cliente").serialize();
            $.ajax({
                url: "@Url.Action("Gravar")",
                data: data,
                type: 'post',
                dateTye: 'json'
            }).success(function (result) {
                console.log(result);
                if (result.OK) {
                    document.location.reload(true);
                } else {
                    if (result.Dados) {
                        alert(result.Mensagem);

                        for (var i = 0; i < result.Dados.length; i++) {
                            var erro = result.Dados[i];
                            $("#" + erro.Campo).parent().addClass("has-error");
                            $("[data-valmsg-for='" + erro.Campo + "']").text(erro.Mensagem).show().addClass("text-danger");

                        }
                    }
                }
            });
        }
        function editrar(cod) {
            if (cod) {
                var url = "@Url.Action("Cadastro")";
                url = url + "?id=" + cod;
                document.location = url;
            }

        }

        function obterDados() {
            var $data_table = $('#DTGrid');
            jx.dtableSearch($data_table);
            jx.dtableFooter($data_table);
            table = $data_table.DataTable({
                "deferRender": true,
                "serverSide": true,
                "columnDefs": [{
                    targets: 0,
                    searchable: false,
                    orderable: false,
                    className: '',
                    render: function (data, type, row) {
                        return ' <a class="btn btn-xs btn-primary" onclick="editrar(' + row.Cod + ')"><i class="fa fa-edit"></i></a>'
                    }
                }],
                "ajax": {
                    "url": "@Url.Action("DataHandler")",
                    "type": "POST"
                },
                "rowId": 'Cod',
                "language": {
                    "sEmptyTable": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sInfo": "@Idioma.Traduzir("Mostrando de") _START_ @Idioma.Traduzir("até") _END_ @Idioma.Traduzir("de") _TOTAL_ @Idioma.Traduzir("registros")",
                    "sInfoEmpty": "@Idioma.Traduzir("Mostrando 0 até 0 de 0 registros")",
                    "sInfoFiltered": "(@Idioma.Traduzir("Filtrados de") _MAX_ @Idioma.Traduzir("registros"))",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_",
                    "sLoadingRecords": "@Idioma.Traduzir("Carregando...")",
                    "sProcessing": "<h2><i class='fa fa-spin fa-spinner text-silver'></i> @Idioma.Traduzir("Carregando os dados..")</h2>",
                    "sZeroRecords": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sSearch": "",
                    "oPaginate": {
                        "sNext": "@Idioma.Traduzir("Próximo")",
                        "sPrevious": "@Idioma.Traduzir("Anterior")",
                        "sFirst": "@Idioma.Traduzir("Primeiro")",
                        "sLast": "@Idioma.Traduzir("Último")"
                    },
                    oAria: {
                        "sSortAscending": ": @Idioma.Traduzir("Ordenar colunas de forma ascendente")",
                        "sSortDescending": ": @Idioma.Traduzir("Ordenar colunas de forma descendente")"
                    }
                },
                "sDom": '<"col-xs-12 col-md-12 col-lg-12 pull-right"l>' +
                '<"col-xs-12 col-md-12"t>' +
                '<"col-xs-12 col-md-6 pull-left"p><"col-xs-12 col-md-6">i'
                , 'initComplete': function (settings, json) {
                    var tb = table.data();
                    tb.inicializar($data_table);
                    tb.selecionado($data_table);
                    tb.addSearch($data_table);
                    tb.sum();
                    $('input[type=text].search-input-text').on('keyup', function (event) {
                        var value = $(this).val();
                        if (value.length > 2 || event.keyCode == 13 || event.keyCode == 9) {
                            table
                                .columns($(this).parent().index())
                                .search(this.value)
                                .draw();
                        }
                    });
                },
                "fnDrawCallback": function (oSettings) {
                    table.data().sum();
                }
            });
        }
    </script>
}
