﻿@model Cobranca.Db.Models.TabelaRegionalGrupo
@using Cobranca.Rotinas;
@{
}
@Html.HiddenFor(m => m.Cod)
@Html.HiddenFor(m => m.DataCadastro)
@Html.HiddenFor(m => m.DataAlteracao)
@Html.HiddenFor(m => m.DataExcluido)
@Html.ValidationBootstrapModal()
@Html.AntiForgeryToken()
@Html.Modal()
<div class="row ">
    <div class="col-xs-6 col-md-3 col-lg-3">
        <div class="form-group-sm">
            <label for="CodConstrutora">@Idioma.Traduzir("Nome Empresa")</label>
            @Html.DropDownListFor(m => m.CodConstrutora, new SelectList(ViewBag.ListaConstrutora, "value", "key", Model.CodConstrutora), new { @class = "form-control input-silver" })
            @Html.ValidationMessageFor(m => m.CodConstrutora)
        </div>
    </div>
    <div class="col-xs-6 col-md-3 col-lg-3">
        <div class="form-group-sm">
            <label for="CodRegional">@Idioma.Traduzir("Regional")</label>
            @Html.DropDownListFor(m => m.CodRegional, new SelectList(ViewBag.ListaRegional, "value", "key", Model.CodRegional), new { @class = "form-control input-silver" })
            @Html.ValidationMessageFor(m => m.CodRegional)
        </div>
    </div>
    <div class="col-xs-6 col-md-3 col-lg-3">
        <div class="form-group-sm">
            <label for="CodRegionalCliente">@Idioma.Traduzir("Código")</label>
            @Html.TextBoxFor(m => m.CodRegionalCliente, new { @class = "form-control input-silver" })
        </div>
    </div>
    <div class="col-xs-6 col-md-3 col-lg-3">
        <div class="form-group-sm">
            <label for="Descricao">@Idioma.Traduzir("Descrição")</label>
            @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control input-silver" })
        </div>
    </div>
</div>
<hr />
