﻿@model Cobranca.Db.Models.TabelaRegionalGrupo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
}
<div class="panel panel-body box-shadon">
    <div class="layout layout-stack-sm layout-main-left">
        <div class="col-md-12">
            <div class="portlet portlet-default">
                <div class="portlet-body">
                    @Html.Partial("_form", Model)
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function excluir() {
            if (confirm("Confirma excluir o registro?")) {
                $.ajax({
                    url: '@Url.Action("Excluir")',
                    data: { id: $("#Cod").val() },
                    type: 'post',
                    dataType: 'json'
                }).success(function (result) {
                    document.location = '@Url.Action("index")';
                });
            }
        }
        $(document).ready(function () {
            $('#btnNovoContato').click(function () {
                $('.portlet-body').load('@Url.Action("AdicionarContatoForm", "Pesquisa", new { idCliente = Model.Cod })');
            });
        });
        function cancelar() {
            document.location = '@Url.Action("index")';
        }
    </script>
}