﻿@model List<Cobranca.Db.Models.TabelaRegionalGrupo>
@using Cobranca.Rotinas;
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";

}
<div class="panel panel-body box-shadon">
    <div class="heading-block">
        <ul class="breadcrumb">
            <li class="active">@Idioma.Traduzir("Filial Agrupamento")</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <header class="bs-docs-nav navbar navbar-static-top" style="background-color:#E8E8E8; height:50px !important; border-top: 1px solid" id="top">
                <div class="row" style="margin:10px;">
                    <div class="col-md-2 pull-left">
                        <button type="button" data-btn="cancelarForm" class="btn btn-sm btn-block btn-default" style="margin-left:-10px"><i class="fa fa-times"></i> Cancelar</button>
                    </div>
                    <div class="col-md-2 pull-left">
                        <button type="button" data-btn="salvarForm" onclick="cadastrar()" class="btn btn-sm btn-block btn-primary" style="margin-left:-10px"><i class="fa fa-save"></i> Salvar</button>
                    </div>
                    <div class="col-md-2" style="border-left: 1px solid #CCC">
                        <button onclick="incluir()" type="button" class="btn  btn-sm btn-block btn-info" data-btn="NovoContato" style="display: inline-block;"><i class="fa fa-plus"></i> Adicionar</button>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <hr />
    <div class="row">
        <form id="form-cadastro-regional-grupo" action="@Url.Action("SalvarForm","RegionalGrupo")" class="form" method="POST">
            @foreach (var obj in Model)
            {
                <div class="col-md-12">
                    <div class="portlet portlet-default">
                        <div class="portlet-body">
                            @Html.Partial("_form", obj)
                        </div>
                    </div>
                </div>
            }
        </form>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function excluir() {
            if (confirm("Confirma excluir o registro?")) {
                $.ajax({
                    url: '@Url.Action("Excluir")',
                    data: { id: $("#Cod").val() },
                    type: 'post',
                    dataType: 'json'
                }).success(function (result) {
                    document.location = '@Url.Action("index")';
                });
            }
        }
        $(document).ready(function () {
            $('[data-btn="cancelarForm"]').click(function () {
                document.location = '@Url.Action("index")';
            });
            $('[data-btn="salvarForm"]').click(function () {
               
            });
        });
        function cadastrar() {
            var form = $("#form-cadastro-regional-grupo");
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: jx.formRotinas.obterDadosForm(form),
                success: function (response) {
                    jx.mensagem('Operação Realizada!', 'Vinculo.', 'success', 'fa fa-check');
                    setTimeout(function () {
                        location.reload();
                    }, 1500);

                }
            });
        }
        function cancelar() {
            document.location = '@Url.Action("index")';
        }
        function incluir() {
            var countDiv = $(".portlet-body > div").length + 1;
            $(".portlet-body").append("<div class='append_" + countDiv + "'></div>");
            $('.append_' + countDiv).load('@Url.Action("Form", new { id = 0 })');
        }

    </script>
}
