﻿@model Cobranca.Db.Models.TabelaEscritorio

@{
    //if (Model.Cod == 0) {
    //    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    //}
    if (!Model.CodEndereco.HasValue)
    {
        Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco() { DataCadastro = DateTime.Now };
    }
}

<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.CodEndereco)
    @Html.HiddenFor(m => m.TabelaEndereco.Cod)
    @Html.HiddenFor(m => m.TabelaEndereco.DataCadastro)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()   
    <div class="row margin-top-20">
     

        <div class="col-sm-6">
            <div class="form-group">
                <label for="CodConstrutora">Nome Banco</label>
                @Html.TextBoxFor(m => m.Escritorio,  new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Escritorio)
            </div> <!-- /.form-group -->
        </div>
        

    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="portlet-title">
                Endereço
            </h4>
        </div>
        <div class="col-sm-2">
            <div class="form-group-sm">
                <label for="Logradouro  ">Logradouro</label>
                @*@Html.TextBox("Logradouro",Model.TabelaEndereco.Logradouro, new { @class = "form-control input-silver" })*@
                @Html.TextBoxFor(m => m.TabelaEndereco.Logradouro, new { @class = "form-control input-silver" })
                @Html.ValidationMessage("Logradouro")
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-4">
            <div class="form-group-sm">
                <label for="Endereco">Endereço</label>
                @Html.TextBoxFor(m => m.TabelaEndereco.Endereco, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.Endereco)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-2">
            <div class="form-group-sm">
                <label for="Numero">Número</label>
                @Html.TextBoxFor(m => m.TabelaEndereco.Numero, new { @class = "form-control input-silver", data_mask = "inteiro" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.Numero)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-2">
            <div class="form-group-sm">
                <label for="CEP">CEP</label>
                @Html.TextBoxFor(m => m.TabelaEndereco.CEP, new { @class = "form-control input-silver", data_mask = "inteiro" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.CEP)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-2">
            <div class="form-group-sm">
                <label for="Complemento">Complemento</label>
                @Html.TextBoxFor(m => m.TabelaEndereco.Complemento, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.Complemento)
            </div> <!-- /.form-group -->
        </div>

        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="Bairro">Bairro</label>
                @Html.TextBoxFor(m => m.TabelaEndereco.Bairro, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.Bairro)
            </div> <!-- /.form-group -->
        </div>

        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="Cidade">Cidade</label>
                @Html.TextBoxFor(m => m.TabelaEndereco.Cidade, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.Cidade)
            </div> <!-- /.form-group -->
        </div>

        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="Estado">Estado</label>
                @Html.TextBoxFor(m => m.TabelaEndereco.Estado, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.Estado)
            </div> <!-- /.form-group -->
        </div>

        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="UF">UF</label>
                @Html.TextBoxFor(m => m.TabelaEndereco.UF, new { @class = "form-control input-silver", MaxLength = "2" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.UF)
            </div> <!-- /.form-group -->
        </div>

    </div>
    <!-- /.form-group -->
    <div class="row">

        <div class="col-sm-12">
          
            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }
        </div>

        <div class="col-sm-3">

        </div>
    </div>

</form>
