﻿@model Cobranca.Db.Models.TabelaRegionalProduto
@{
    Cobranca.Db.Models.TabelaRegional _filial = new Cobranca.Db.Models.TabelaRegional();
    if (ViewBag.Filial != null)
    {
        _filial = (Cobranca.Db.Models.TabelaRegional)ViewBag.Filial;
    }
}

<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row">
      
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group-sm">
                <label for="CodCheckListNome">Filial</label>
                @Html.DropDownListFor(m => m.CodRegional, new SelectList(ViewBag.ListaRegional, "value", "key", Model.CodRegional > 0 ? Model.CodRegional : _filial.Cod), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodRegional)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group-sm">
                <label for="CodCheckListEmpreendimento">Produto</label>
                @Html.DropDownListFor(m => m.CodProduto, new SelectList(ViewBag.ListaProduto, "value", "key", Model.CodProduto), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodProduto)
            </div> <!-- /.form-group -->
        </div>
    </div>
    <!-- /.form-group -->
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="button" onclick="Vincular()"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</form>

