﻿@model Cobranca.Db.Models.TabelaRegionalProduto
@{
    //ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";


    Cobranca.Db.Models.TabelaRegional _filial = new Cobranca.Db.Models.TabelaRegional();
    if (ViewBag.Filial != null)
    {
        _filial = (Cobranca.Db.Models.TabelaRegional)ViewBag.Filial;
    }
    
}
<div>
    <ul class="nav nav-tabs nav-junix" role="tablist">
        <li role="presentation" class=""><a href="@Url.Action("Index", "Regional")">FILIAIS</a></li>
        <li role="presentation" class=""><a href="@Url.Action("Cadastro", "Regional", new { id = _filial.Cod })">@_filial.Regional</a></li>
        <li role="presentation" class=""><a href="@Url.Action("FilialProdutos", "RegionalProduto", new { CodFilial = Model.Cod })">LISTA PRODUTOS</a></li>
        <li role="presentation" class="active"><a href="#">PRODUTO</a></li>
    </ul>
</div>
<div class="panel panel-body box-shadon">
    <div class="layout layout-stack-sm layout-main-left">
        <div class="col-md-12">
            <div class="portlet portlet-default">
                <div class="portlet-header">
                    <div class="heading-block">
                        <ul class="breadcrumb">
                            <li><a href="@Url.Action("Index")">Filial - Produto</a></li>
                            <li class="active">Cadastro</li>
                        </ul>
                    </div>
                </div>
                <div class="portlet-body">
                    @Html.Partial("_form", Model)
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function excluir() {
            if (confirm("Confirma excluir o registro?")) {
                $.ajax({
                    url: '@Url.Action("Excluir")',
                    data: { id: $("#Cod").val() },
                    type: 'post',
                    dataType: 'json'
                }).success(function (result) {
                    document.location = '@Url.Action("FilialProdutos")';
                });
            }
        }
        $(document).ready(function () {
        });
        function cancelar() {
            document.location = '@Url.Action("FilialProdutos")';
        }
        function Vincular() {
            var codRegionalProduto = $("#Cod").val();
            var codRegional = $("#CodRegional").val();
            var codProduto = $("#CodProduto").val();
            $.ajax({
                url: '@Url.Action("VincularRegionalProduto", "RegionalProduto")',
                data: { CodRegionalProduto: codRegionalProduto, CodRegional: codRegional, CodProduto: codProduto },
                type: 'post',
                dataType: 'json'
            }).success(function (result) {
                document.location = '@Url.Action("FilialProdutos")';
            });
        }
    </script>
}