﻿@model Cobranca.Db.Models.TabelaGrupoCliente

@{
    List<Cobranca.Db.Models.TabelaGrupoCliente> _listaGrupoCliente = new List<Cobranca.Db.Models.TabelaGrupoCliente>();
    if (ViewBag.ListaGrupoClientes != null)
    {
        _listaGrupoCliente = ViewBag.ListaGrupoClientes;
    }
}

<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row">
        @*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group-sm">
                <label for="CodGrupo">Grupo</label>
                @Html.DropDownListFor(m => m.CodGrupo, new SelectList(ViewBag.ListaGrupo, "value", "key", Model.CodGrupo), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodGrupo)
            </div> 
        </div>*@
        <div id="divBtnIncluir" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <button class="btn btn-sm btn-primary pull-left btn-min-width margin-top-18" onclick="abrirBusca()" type="button"><i class="fa fa-plus"></i>&nbsp;Incluir</button>
        </div>
        <div id="divCNPJ" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="display:none;">
            <div class="form-group-sm">
                <label for="CNPJ">CNPJ</label>
                <div class="input-group" style="width:100%;">
                    <button type="button" class="btn btn-default" onclick="abrirBusca()" style="width:39px; height: 30px;">
                        <span class="fa fa-search"></span>
                    </button>
                    @Html.TextBoxFor(m => m.CNPJ, new { @class = "form-control input-silver", data_mask = "cnpj", @style = "width: calc(100% - 39px); border-color: #ccc !important; border-right:none;" })
                    @Html.ValidationMessageFor(m => m.CNPJ)
                </div>
                @*<button class="btn btn-sm btn-default pull-left" type="submit"><i class="fa fa-search"></i>&nbsp;</button>*@
            </div>
            
        </div>

    </div>
    <div class="row" >
        <div id="divBtn" class="col-sm-12 " style="display:none">
            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
        </div>
    </div>

    <!-- /.form-group -->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-striped table-condensed " data-ordem="">
                <thead>
                    <tr>
                        <th>
                            Nome
                        </th>
                        <th>
                            CNPJ
                        </th>
                        @*<th style="width:27px; text-align:center;">
                            Editar
                        </th>*@
                        <th style="width:27px; text-align:center;">
                            Excluir
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in _listaGrupoCliente.Where(x => !x.DataExcluido.HasValue))
                    {
                        <tr>
                            <td class="text-left" style="display:none">@item.Cod</td>
                            <td class="text-left" style="display:none">@item.CodGrupo</td>
                            <td class="text-left">@Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.TabelaGrupo.Nome)</td>
                            <td class="text-left">@Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.CNPJ)</td>
                            @*<td class="text-center">
                                <a type="button" onclick="editId(this)" title="editar" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a>
                            </td>*@
                            <td class="text-center">
                                <a type="button" onclick="Excluir(this)" title="exluir" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

</form>
