﻿@model Cobranca.Db.Models.TabelaGrupoCliente
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
    List<Cobranca.Db.Models.Cliente> _listaCliente = new List<Cobranca.Db.Models.Cliente>();
    if (ViewBag.ListaCliente != null)
    {
        _listaCliente = ViewBag.ListaCliente;
    }
}
<style>
    table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
        background-color: #c76161 !important;
        color: #fff;
    }
</style>
<div>
    <ul class="nav nav-tabs nav-junix" role="tablist">

        <li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("Index", "TabelaGrupo")">Grupos</a></li>
        <li role="presentation" class="active btn-min-width text-center"><a href="@Url.Action("Index", "TabelaGrupo")">Grupo x Cliente</a></li>
    </ul>
    <div class="panel panel-body box-shadon">
        <div class="layout layout-stack-sm layout-main-left">
            <div class="portlet portlet-default">
                <div class="portlet-header">
                    <div class="heading-block">
                        <ul class="breadcrumb">
                            <li><a href="@Url.Action("Index")">Grupo</a></li>
                            <li>Cadastro</li>
                        </ul>
                    </div>
                </div>

                <div class="portlet-body">

                    @Html.Partial("_form", Model)
                </div>
            </div>

        </div>
    </div>
</div>
<div id="popup-condicao">
    <div class="row">
        <div class="modal fade" id="buscaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-color-line"></div>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">Buscar Clientes</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row corpo-msg">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group-sm">

                                        <label for="idGrupo">Grupo</label>
                                        @Html.TextBox("idGrupo", 0, new { @class = "form-control input-silver", placeholder = "Nome" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="table-clientes" class="table table-bordered data-table2 table-condensed">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-1 text-center" style="width:22px;">
                                                    <input type="checkbox" id="check_all" name="select_invoice" />
                                                </th>
                                                <th data-data="CodCliente" style="width:40px;display:none">Cod</th>
                                                <th class="text-left">Nome</th>
                                                <th class="text-left">CNPJ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in _listaCliente)
                                            {
                                                <tr>
                                                    <td class="select-checkbox" tabindex="0"></td>
                                                    <td class="text-left" style="width:40px;display:none">@item.Cod</td>
                                                    <td class="text-left">@Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.Nome)</td>
                                                    <td class="text-left"> @Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.CPF)</td>
                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-name="btn-confirmar" class="btn btn-sm btn-primary" style="min-width:75px;">Confirmar</button>
                        <button type="button" data-name="btn-cancelar" class="btn btn-sm btn-default" data-dismiss="modal" style="min-width:75px;">Cancelar</button>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var _id = 0;
        var table;
        var check = true;

        function Excluir(el) {
            var tr = $(el).parent().parent();
            $('#Cod').val(tr.find("td:eq(0)").text());
            jx.modalConfirm('Exclusão', 'Deseja excluir o registro?', excluirOK)
        }

        function excluirOK() {
            var id = $('#Cod').val();
            $.ajax({
                url: '@Url.Action("Excluir")',
                data: { id: id },
                type: 'post',
                dataType: 'json'
            }).success(function (op) {
                jx.modalOK("Operação realizada com sucesso!", op.OK)
                ResetForm();
            });
        }

        $(document).ready(function () {
            var table = $(".data-table2").DataTable({
                columnDefs: [{
                    orderable: false,
                    data: null,
                    className: 'select-checkbox',
                    targets: 0,
                    defaultContent: ""
                }],
                rowId: 'Cod',
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }

            });
            $("#idGrupo").select2({
                ajax: {
                    url: "@Url.Action("PesquisarGrupos")",
                    dataType: 'json',
                    delay: 250,
                    data: function (term, page) {
                        return {
                            q: term, // search term
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: data.items
                        };
                    },
                    cache: true
                },
                initSelection: function (element, callback) {
                    return;
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax({
                            url: "@Url.Action("PesquisarGrupos")",
                            dataType: 'json',
                            data: { q: "A" }
                        }).done(function (data) { callback(data.items[0]); });
                    }
                },
                minimumInputLength: 1,
                placeholder: "--",
                allowClear: true
                //  templateResult: formatRepo, // omitted for brevity, see the source of this page
                // templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
            });
            $("button[data-name='btn-confirmar']").off("click").click(function () {
                salvarVinculo();
            });

            // Handle click on "Select all" control
            $('#check_all').on('click', function () {
                //alert();
                // Check/uncheck all checkboxes in the table
                var rows = table.rows({ 'search': 'applied' }).nodes();
                if (this.checked) {
                    $.each(rows, function (i, e) {
                        $(e).addClass('selected');
                    });
                }
                else {
                    $.each(rows, function (i, e) {
                        $(e).removeClass('selected');
                    });
                }

                //$('#table-clientes tr', rows).addClass('selected');
            });

            $('#table-clientes tbody').on('change', 'input[type="checkbox"]', function () {
                // If checkbox is not checked
                if (!this.checked) {
                    var el = $('#check_all').get(0);
                    // If "Select all" control is checked and has 'indeterminate' property
                    if (el && el.checked && ('indeterminate' in el)) {
                        // Set visual state of "Select all" control
                        // as 'indeterminate'
                        el.indeterminate = true;
                    }
                }
            });
        });
        function incluirNovo() {
            $("#divBtnIncluir").hide();
            $("#divCNPJ").show();
            $("#CNPJ").val("");
            $("#divBtn").show();
        }
        function cancelar() {
            $("#divCNPJ").hide();
            $("#CNPJ").val("");
            $("#divBtn").hide();
            $("#divBtnIncluir").show();
        }
        function editId(el) {
            incluirNovo();
            var tr = $(el).parent().parent();
            $('#Cod').val(tr.find("td:eq(0)").text());
            $('#CodGrupo').val(tr.find("td:eq(1)").text());
            $('#CNPJ').val(tr.find("td:eq(3)").text());
            $("#btn-compromisso-salvar").show();
            $("#btn-compromisso-cancelar").show();
        }
        function abrirBusca() {
            $("#buscaModal").modal("show");

        }

        function salvarVinculo() {
            var modal = $("#buscaModal").modal();
            debugger;
            var grupoId = modal.find("#idGrupo").val();
            var CNPJs = getSelecionados();
            if (grupoId > 0 && CNPJs.length > 0) {

                var dados = {
                    codGrupo: grupoId,
                    cnpjs: CNPJs,
                };

                $.ajax({
                    url: '@Url.Action("SalvarVinculo")',
                    data: dados,
                    type: 'post'
                }).success(function (resultado) {
                    if (resultado.OK) {
                        alert("Operação realizada com sucesso!");
                        modal.hide();
                        document.location.reload(true);
                    } else {
                        alert(resultado.Mensagem);
                    }
                });
            } else {
                if (grupoId > 0) {
                    alert("Selecione ao menos um Cliente!");
                }
                else {
                    alert("Selecione o Grupo!");
                }

            }

        }
        function getSelecionados() {
            var itens = $(".data-table2").DataTable().rows({ selected: true }).data();
            var Ids = [];
            for (var i = 0; i < itens.length; i++) {
                var item = itens[i][3];
                Ids.push(item);
            }
            return Ids;
        }

    </script>
}