﻿@model List<Cobranca.Db.Models.TabelaGrupoCliente>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";

}
<div>
    <ul class="nav nav-tabs nav-junix" role="tablist">
        <li role="presentation" class="active btn-min-width text-center"><a href="@Url.Action("Index", "TabelaGrupo")">Grupos</a></li>
    </ul>
    <div class="panel panel-body box-shadon">
        <div class="heading-block">
            <ul class="breadcrumb">
                <li>Grupo</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("Cadastro",new{id = 0})" class="btn btn-sm btn-primary pull-left btn-min-width"><i class="fa fa-plus"></i> Adicionar</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered data-table table-condensed">
                    <thead>
                        <tr>
                            <th class="col-sm-1 text-center" style="width:22px;">#</th>
                            <th class="text-left">Nome</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.ToList())
                        {
                            <tr>
                                <td style="text-align:center">
                                    <a class="btn btn-xs btn-primary" href="@Url.Action("cadastro", new { id = item.Cod })"><i class="fa fa-edit"></i></a>
                                </td>
                                <td class="text-left">@item.TabelaGrupo.Nome</td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function incluir() {
            //$("#incluir-form").modal("show");
            document.location = "@Url.Action("Cadastro",new{id = 0})"
        }
        function salvar() {
            var data = $("#form-cliente").serialize();
            $.ajax({
                url: "@Url.Action("Gravar")",
                data: data,
                type: 'post',
                dateTye: 'json'
            }).success(function (result) {
                console.log(result);
                if (result.OK) {
                    document.location.reload(true);
                } else {
                    if (result.Dados) {
                        alert(result.Mensagem);

                        for (var i = 0; i < result.Dados.length; i++) {
                            var erro = result.Dados[i];
                            $("#" + erro.Campo).parent().addClass("has-error");
                            $("[data-valmsg-for='" + erro.Campo + "']").text(erro.Mensagem).show().addClass("text-danger");

                        }
                    }
                }
            });
        }
        function editrar(id) {
            if (id) {
                document.location = id;
            }

        }
    </script>
}
