﻿@model Cobranca.Db.Models.TabelaGrupo

@{
    //if (Model.Cod == 0) {
    //    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    //}

}

<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group-sm">
                <label for="NomeBloco">Nome</label>
                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control input-silver", required = "required", placeholder = "Nome do grupo" })
                @Html.ValidationMessageFor(m => m.Nome)
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group-sm">
                <label for="AcaoBloqueada">Ações da reguá bloqueada?</label>
                <br />
                @Html.CheckBox("AcaoBloqueada", Model.AcaoBloqueada == true)
            </div>
        </div>
    </div>

    <!-- /.form-group -->
    <div class="row">

        <div class="col-sm-12">
            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>

            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }

        </div>

        <div class="col-sm-3">

        </div>
    </div>

</form>
