﻿@model Cobranca.Db.Models.TabelaGrupo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
}
<div>
    <ul class="nav nav-tabs nav-junix" role="tablist">

        <li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("Index", "TabelaGrupo")">Grupos</a></li>
        <li role="presentation" class="active btn-min-width text-center"><a href="@Url.Action("Cadastro", "TabelaGrupo")">Cadastro</a></li>
        
    </ul>
    <div class="panel panel-body box-shadon">
        <div class="layout layout-stack-sm layout-main-left">
            <div class="portlet portlet-default">
                <div class="portlet-header">
                    <div class="heading-block">
                        <ul class="breadcrumb">
                            <li><a href="@Url.Action("Index")">Grupo</a></li>
                            <li>Cadastro</li>
                        </ul>
                    </div>
                </div>

                <div class="portlet-body">

                    @Html.Partial("_form", Model)
                </div>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function excluir() {
            if (confirm("Confirma excluir o registro?")) {
                $.ajax({
                    url: '@Url.Action("Excluir")',
                    data: { id: $("#Cod").val() },
                    type: 'post',
                    dataType: 'json'
                }).success(function (result) {
                    document.location = '@Url.Action("index")';
                });
            }
        }
        $(document).ready(function () {
        });
        function cancelar() {
            document.location = '@Url.Action("index")';
        }
    </script>
}