﻿@model Cobranca.Db.Models.TabelaSintese

@{
    //if (Model.Cod == 0) {
    //    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    //}

    Model.Sintese = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Sintese);
}

<form id="form-cadastro" class="form" method="POST" action="@Url.Action("Cadastro","Sintese")">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.HiddenFor(m => m.CodTipoCobranca)
    @Html.HiddenFor(m => m.CodFase)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()   
    <div class="row margin-top-20">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="CodigoSinteseCliente">Código</label>
                @Html.TextBoxFor(m => m.CodigoSinteseCliente, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodigoSinteseCliente)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <label for="Sintese">Nome Síntese</label>
                @Html.TextBoxFor(m => m.Sintese, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Sintese)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="Sintese">Dias</label>
                @Html.TextBoxFor(m => m.Dias, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Dias)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="Ordem">Ordem</label>
                @Html.TextBoxFor(m => m.Ordem, new { @class = "form-control input-silver", data_mask = "inteiro", requerid = "requerid" })
                @Html.ValidationMessageFor(m => m.Ordem)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-md-3">
            <div class="form-group-sm">
                <label for="AcaoBloqueada">Ações da reguá bloqueada?</label>
                <br />
                @Html.CheckBox("AcaoBloqueada", Model.AcaoBloqueada == true)
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group-sm">
                <label for="Justifica">Obrigatório Justificar?</label>
                <br />
                @Html.CheckBox("Justifica", Model.Justifica == true)
            </div>
        </div>
    </div>
    <!-- /.form-group -->
    <div class="row" id="form-comandos">

        <div class="col-sm-12">
            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }

        </div>

        <div class="col-sm-3">

        </div>
    </div>

</form>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#CodTipoCobranca").change(function () {
                var cod = $("#CodTipoCobranca").val();
                $.ajax({
                    url: '@Url.Action("ListarFasePorTipoCobranca", "Fase")',
                    type: 'post',
                    dataType: 'json',
                    data: { CodTipoCobranca: cod }
                }).success(function (resultado) {
                    console.log(resultado);
                    popularDropoDownList($("#CodFase"), resultado);
                });
            });
        });
        function cancelar() {
            document.location.reload(false);
        }
    </script>
}