﻿@model Cobranca.Db.Models.TabelaSintese
@{
    //ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
    //if (Model.TabelaEndereco == null)
    //{
    //    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    //}
 
}


<div class="layout layout-stack-sm layout-main-left">
    <div class="col-md-12">
        <div class="portlet portlet-default">
            <div class="portlet-header">
                <div class="heading-block">
                    <ul class="breadcrumb">
                        <li class=""><a href="@Url.Action("Index")">Fase</a></li>
                        <li class="active">Síntese</li>
                    </ul>
                </div>
            
            </div>

            <div class="portlet-body">
                
                @Html.Partial("_form", Model)
            </div>
        </div>
    </div>
   
</div>

@section scripts{
    <script type="text/javascript">
        function excluir() {
            if (confirm("Confirma excluir o registro?")) {
                $.ajax({
                    url: '@Url.Action("Excluir")',
                    data: { id: $("#Cod").val() },
                    type: 'post',
                    dataType: 'json'
                }).success(function (result) {
                    document.location = '@Url.Action("index")';
                });
            }
        }
        $(document).ready(function () {
            $("#CodTipoCobranca").change(function () {
                var cod = $("#CodTipoCobranca").val();
                $.ajax({
                    url: '@Url.Action("ListarFasePorTipoCobranca", "Fase")',
                    type: 'post',
                    dataType: 'json',
                    data: { CodTipoCobranca: cod }
                }).success(function (resultado) {
                    console.log(resultado);
                    popularDropoDownList($("#CodFase"), resultado);
                });
            });
        });
        function cancelar() {
            document.location = '@Url.Action("index")';
        }
        
    </script>
}