﻿@model Cobranca.Db.Models.TabelaEmpresaVenda
@{
    //ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
    //if (Model.TabelaEndereco == null)
    //{
    //    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    //}
 
}
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-junix" role="tablist">
            <li role="presentation" class=""><a href="@Url.Action("Index","EmpresaVenda")">EMPRESAS</a></li>
            <li role="presentation" class="active"><a href="#">EMPRESA DE VENDA</a></li>
            <li role="presentation" class=""><a href="@Url.Action("Vendedores", "EmpresaVenda", new { CodEmpresaVenda = Model.Cod })">VENDEDORES</a></li>
        </ul>
    </div>
    <div class="col-md-12" style="">
        <div class="panel panel-default" style="border-top:none;border-top-left-radius:initial;">
            <div class="panel-body" style="margin-top:0px;">
                @Html.Partial("_form", Model)
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">
        function excluir() {
            if (confirm("Confirma excluir o registro?")) {
                $.ajax({
                    url: '@Url.Action("Excluir")',
                    data: { id: $("#Cod").val() },
                    type: 'post',
                    dataType: 'json'
                }).success(function (result) {
                    document.location = '@Url.Action("index")';
                });
            }
        }
        $(document).ready(function () {
        });
        function cancelar() {
            document.location = '@Url.Action("index")';
        }
        
    </script>
}