﻿@model Cobranca.Db.Models.TabelaEmpresaVenda
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
    List<Cobranca.Db.Models.TabelaEmpreendimento> _listaEmpreendimento = new List<Cobranca.Db.Models.TabelaEmpreendimento>();
    if (ViewBag.ListaEmpreendimentos != null)
    {
        _listaEmpreendimento = (List<Cobranca.Db.Models.TabelaEmpreendimento>)ViewBag.ListaEmpreendimentos;
    }

}
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-junix" role="tablist">
            <li role="presentation" class=""><a href="@Url.Action("Index","EmpresaVenda")">EMPRESAS</a></li>
            <li role="presentation" class=""><a href="#">EMPRESA DE VENDA</a></li>
            <li role="presentation" class=""><a href="@Url.Action("Vendedores","EmpresaVenda", new { CodEmpresaVenda = Model.Cod })">VENDEDORES</a></li>
            <li role="presentation" class="active"><a href="@Url.Action("Carteira","EmpresaVenda", new { CodEmpresaVenda = Model.Cod })">CARTEIRA</a></li>
        </ul>
    </div>
    <div class="col-md-12" style="">
        <div class="panel panel-default" style="border-top:none;border-top-left-radius:initial;">
            <div class="panel-body" style="margin-top:0px;">
                <div class="row">               
                    <div class="col-md-4">
                        <div class="form-group-sm">
                            <label>Empresa de venda</label>
                            @Html.DropDownList("CodEmpresaVenda", new SelectList(ViewBag.ListaEmpresaVenda, "Cod", "Text", ViewBag.CodEmpresaVenda), new { @class = "form-control input-silver" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-striped table-bordered table-condensed arvore">
                            <tr>
                                <th style="width:30px;" class="text-center">
                                    #
                                </th>
                                <th>
                                    REGIONAL > EMPREENDIMENTO > BLOCO > ANDAR > UNIDADE
                                </th>
                            </tr>
                            @foreach (var regional in _listaEmpreendimento.GroupBy(x => x.TabelaRegional))
                            {
                                <tr class="arvore-regional">
                                    <td class="text-center">
                                        <input data-registroid="@regional.Key.Cod"  onchange="checarRegional(this)" type="checkbox" />
                                    </td>
                                    <td>
                                        @if (regional.Key != null)
                                        {
                                            <label class="nivel-0">
                                                <i onclick="expandirRegional(this)" data-registroid="@regional.Key.Cod" class="fa fa-plus-square-o cursor-pointer"></i>
                                                @regional.Key.Regional
                                            </label>
                                        }
                                        else
                                        {
                                            <b>--</b>
                                        }
                                    </td>
                                </tr>
                                foreach (var empreendimento in regional.Key.TabelaEmpreendimentoes.Where(x => !x.DataExcluido.HasValue))
                                {
                                    <tr data-regionalid="@regional.Key.Cod" class="arvore-empreendimento" style="display:none">
                                        <td class="text-center">
                                            <input data-regionalid="@regional.Key.Cod" data-registroid="@empreendimento.Cod" onchange="checarEmpreendimento(this)" type="checkbox" />
                                        </td>
                                        <td>
                                            <label class="nivel-1">                                                
                                                <i onclick="expandirEmpreendimento(this)" data-registroid="@empreendimento.Cod" class="fa fa-plus-square-o cursor-pointer"></i>
                                                @empreendimento.NomeEmpreendimento
                                            </label>
                                            
                                        </td>
                                    </tr>
                                    foreach (var bloco in empreendimento.TabelaBlocoes.Where(x => !x.DataExcluido.HasValue))
                                    {
                                        <tr data-regionalid="@regional.Key.Cod" data-empreendimentoid="@empreendimento.Cod" class="arvore-blocco" style="display:none">
                                            <td class="text-center">                                                
                                                <input data-regionalid="@regional.Key.Cod" data-empreendimentoid="@empreendimento.Cod" data-registroid="@bloco.Cod" onchange="checarBloco(this)" type="checkbox" />
                                            </td>
                                            <td>
                                                <label class="nivel-2">                                                    
                                                    <i onclick="expandirBloco(this)" data-registroid="@bloco.Cod" class="fa fa-plus-square-o cursor-pointer"></i>
                                                    @bloco.NomeBloco
                                                </label>
                                            </td>
                                        </tr>
                                        foreach (var andar in bloco.TabelaUnidades.Where(x => !x.DataExcluido.HasValue).GroupBy(x => x.Andar).OrderBy(x => x.Key.Value))
                                        {
                                            <tr data-regionalid="@regional.Key.Cod" data-empreendimentoid="@empreendimento.Cod" data-blocoid="@bloco.Cod" class="arvore-andar" style="display:none">
                                                <td class="text-center">
                                                    
                                                    <input data-regionalid="@regional.Key.Cod" data-empreendimentoid="@empreendimento.Cod" data-blocoid="@bloco.Cod" data-andarid="@andar.Key.Value" data-registroid="@andar.Key.Value" onchange="checarAndar(this)" type="checkbox" />
                                                </td>
                                                <td>
                                                    <label class="nivel-3">
                                                        <i onclick="expandirAndar(this)" data-registroid="@andar.Key.Value" class="fa fa-plus-square-o cursor-pointer"></i>
                                                        @String.Format("{0}º Andar", andar.Key.Value)
                                                    </label>
                                                </td>
                                            </tr>
                                            foreach (var unidade in bloco.TabelaUnidades.Where(x => !x.DataExcluido.HasValue && x.Andar == andar.Key.Value))
                                            {
                                                <tr data-regionalid="@regional.Key.Cod" data-empreendimentoid="@empreendimento.Cod" data-blocoid="@bloco.Cod" data-andarid="@andar.Key.Value" class="arvore-unidade" style="display:none">
                                                    <td class="text-center">
                                                        <input name="@String.Format("CodUnidade_{0}",unidade.Cod)" id="@String.Format("CodUnidade_{0}",unidade.Cod)" data-regionalid="@regional.Key.Cod" data-empreendimentoid="@empreendimento.Cod" data-blocoid="@bloco.Cod" data-andarid="@andar.Key.Value" data-registroid="@unidade.Cod"  type="checkbox" />
                                                    </td>
                                                    <td>                                                        
                                                        <label class="nivel-4">                                                      
                                                            <i class="fa fa-home"></i>  
                                                        @String.Format("{0}", unidade.NumeroUnidade)
                                                        </label>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">
        function excluir() {
            if (confirm("Confirma excluir o registro?")) {
                $.ajax({
                    url: '@Url.Action("Excluir")',
                    data: { id: $("#Cod").val() },
                    type: 'post',
                    dataType: 'json'
                }).success(function (result) {
                    document.location = '@Url.Action("index")';
                });
            }
        }
        $(document).ready(function () {
            $("#CodEmpresaVenda").change(function () {
                document.location = "@Url.Action("Carteira","EmpresaVenda")" + "?CodEmpresaVenda=" + $("#CodEmpresaVenda").val();
            });
            $("#form-cadastro").validate({
                rules: {
                    cpf: "required",
                    nome: "required",
                    email: {
                        required: true,
                        email: true
                    }
                }
            });
        });
        function cancelar() {
            document.location = '@Url.Action("index")';
        }
        function adicionarNovoUsuario() {
            $("#form-cadastro").find("#Cod").val(0);
            $("#form-cadastro").find("input").val("");
            $("#btn-redefinir-senha, #btn-excluir").hide();
            $("#modal-vendedor").modal("show");
        }
        function salvar2() {

        }

        function salvar() {
            if (!$("#form-cadastro").valid()) {
                return;
            }
            $("#form-cadastro").find("#CodEmpresaVenda").val($("#CodEmpresaVenda").val());
            var dadosForm = $("#form-cadastro").serialize();

            $.ajax({
                url: '@Url.Action("CadastroUsuario", "EmpresaVenda")',
                data: dadosForm,
                type: 'post'
            }).success(function (op) {
                if (op.OK) {
                    alert("Operação realizada com sucesso!");
                    $("#modal-vendedor").modal("hide");
                    document.location.reload(false);
                } else {
                    alert(op.Mensagem);
                }
            });
        }
        function editar(cod) {
            $("#btn-redefinir-senha, #btn-excluir").show();
            $.ajax({
                url: '@Url.Action("ObterDadosVendedor", "EmpresaVenda")',
                data: { cod: cod },
                type: 'POST'
            }).success(function (dados) {
                var form = $("#form-cadastro");
                $.each(dados.Dados, function (campo, valor) {
                    var el = form.find("#" + campo);
                    el.val(valor);
                    if (el.bootstraSwitch) {
                        el.bootstrapSwitch("toggleState", valor);
                    }
                });
                $("#modal-vendedor").modal("show");
            })
        }
        function excluir() {
            var codUsuario = $("#form-cadastro").find("#Cod").val();
            if (codUsuario > 0) {
                if (confirm("Deseja excluir o registro?")) {
                    $.ajax({
                        url: '@Url.Action("ExcluirUsuario")', data: { cod: codUsuario }, type: 'POST'
                    }).success(function (op) {
                        if (op.OK) {
                            alert("Operação realizada com sucesso!");
                            $("#modal-vendedor").modal("hide");
                            document.location.reload(false);
                        } else {
                            alert(op.Mensagem);
                        }
                    });
                }
            }
        }
        function redefinirSenha() {
            var codUsuario = $("#form-cadastro").find("#Cod").val();
            if (codUsuario > 0) {
                if (confirm("deseja redefinir a senha?")) {
                    $.ajax({
                        url: '@Url.Action("UsuarioRedefinirSenha")', data: { cod: codUsuario }, type: 'POST'
                    }).success(function (op) {
                        if (op.OK) {
                            alert("Operação realizada com sucesso!");
                            $("#modal-vendedor").modal("hide");
                            document.location.reload(false);
                        } else {
                            alert(op.Mensagem);
                        }
                    });
                }
            }
        }
        function expandirRegional(el) {
            var icone = $(el);
            var cod = icone.attr("data-registroid");
            if (icone.hasClass("fa-plus-square-o")) {
                $("tr[data-regionalid='" + cod + "']").not("[data-empreendimentoid]").show();
                icone.removeClass("fa-plus-square-o").addClass("fa-minus-square-o");
            } else {
                $("tr[data-regionalid='" + cod + "']").hide();
                icone.removeClass("fa-minus-square-o").addClass("fa-plus-square-o");
            }
        }
        function expandirEmpreendimento(el) {
            var icone = $(el);
            var cod = icone.attr("data-registroid");
            if (icone.hasClass("fa-plus-square-o")) {
                $("tr[data-empreendimentoid='" + cod + "']").not("[data-blocoid]").show();
                icone.removeClass("fa-plus-square-o").addClass("fa-minus-square-o");
            } else {
                $("tr[data-empreendimentoid='" + cod + "']").hide();
                icone.removeClass("fa-minus-square-o").addClass("fa-plus-square-o");
            }
        }
        function expandirBloco(el) {
            var icone = $(el);
            var cod = icone.attr("data-registroid");
            if (icone.hasClass("fa-plus-square-o")) {
                $("tr[data-blocoid='" + cod + "']").not("[data-andarid]").show();
                icone.removeClass("fa-plus-square-o").addClass("fa-minus-square-o");
            } else {
                $("tr[data-blocoid='" + cod + "']").hide();
                icone.removeClass("fa-minus-square-o").addClass("fa-plus-square-o");
            }
        }
        function expandirAndar(el) {
            var icone = $(el);
            var cod = icone.attr("data-registroid");
            if (icone.hasClass("fa-plus-square-o")) {
                $("tr[data-andarid='" + cod + "']").not("[data-unidadeid]").show();
                icone.removeClass("fa-plus-square-o").addClass("fa-minus-square-o");
            } else {
                $("tr[data-andarid='" + cod + "']").hide();
                icone.removeClass("fa-minus-square-o").addClass("fa-plus-square-o");
            }
        }
        function checarRegional(el) {
            var check = $(el);
            var cod = check.attr("data-registroid");
            var checkEmpreendimetnos = $("input[data-regionalid='" + cod + "']");
            if (check.is(":checked")) {
                checkEmpreendimetnos.prop("checked", true);
            } else {
                checkEmpreendimetnos.prop("checked",false);
            }
        }
        function checarEmpreendimento(el) {
            var check = $(el);
            var cod = check.attr("data-registroid");
            var checkfilhos = $("input[data-empreendimentoid='" + cod + "']");
            if (check.is(":checked")) {
                checkfilhos.prop("checked", true);
            } else {
                checkfilhos.prop("checked", false);
            }
        }
        function checarBloco(el) {
            var check = $(el);
            var cod = check.attr("data-registroid");
            var checkfilhos = $("input[data-blocoid='" + cod + "']");
            if (check.is(":checked")) {
                checkfilhos.prop("checked", true);
            } else {
                checkfilhos.prop("checked", false);
            }
        }
        function checarAndar(el) {
            var check = $(el);
            var cod = check.attr("data-registroid");
            var checkfilhos = $("input[data-andarid='" + cod + "']");
            if (check.is(":checked")) {
                checkfilhos.prop("checked", true);
            } else {
                checkfilhos.prop("checked", false);
            }
        }
        
    </script>
}