﻿@model List<Cobranca.Db.Models.TabelaEmpresaVenda>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-tabelaVenda";
}

<div class="row">

    <div class="col-md-12">
        <ul class="nav nav-tabs nav-junix" role="tablist">
            <li role="presentation" class="active"><a href="@Url.Action("Index","EmpresaVenda")">EMPRESAS</a></li>
            <li role="presentation" class=""><a href="@Url.Action("Cadastro","EmpresaVenda", new { Cod = 0 })">EMPRESA DE VENDA</a></li>
            <li role="presentation" class=""><a href="@Url.Action("Vendedores","EmpresaVenda", new { CodEmpresaVenda = 0 })">VENDEDORES</a></li>
        </ul>
    </div>
    <div class="col-md-12">

        <div class="panel panel-default" style="border-top:none;border-top-left-radius:initial;">
            <div class="panel-body" style="margin-top:0px;">
                <a href="@Url.Action("Cadastro",new{id = 0})" class="btn btn-sm btn-primary pull-left btn-min-width" style="margin-bottom:10px;"><i class="fa fa-plus"></i> Adicionar</a>

                <table class="table table-bordered data-table table-condensed ">
                    <thead>
                        <tr>
                            <th style="width:22px; padding:2px; text-align:center;">#</th>
                            <th class="text-center">Empresa de Vendas</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ToList())
                        {
                            <tr>
                                <td style="text-align:center">
                                    <a class="btn btn-xs btn-primary" href="@Url.Action("cadastro", new { id = item.Cod })"><i class="fa fa-pencil"></i></a>
                                </td>
                                <td class="text-left">@item.EmpresaVendas</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>



    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function incluir() {
            //$("#incluir-form").modal("show");
            document.location = "@Url.Action("Cadastro",new{id = 0})"
        }
        function salvar() {
            var data = $("#form-cliente").serialize();
            $.ajax({
                url: "@Url.Action("Gravar")",
                data: data,
                type: 'post',
                dateTye: 'json'
            }).success(function (result) {
                console.log(result);
                if (result.OK) {
                    document.location.reload(true);
                } else {
                    if (result.Dados) {
                        alert(result.Mensagem);

                        for (var i = 0; i < result.Dados.length; i++) {
                            var erro = result.Dados[i];
                            $("#" + erro.Campo).parent().addClass("has-error");
                            $("[data-valmsg-for='" + erro.Campo + "']").text(erro.Mensagem).show().addClass("text-danger");

                        }
                    }
                }
            });
        }
        function editrar(id) {
            if (id) {
                document.location = id;
            }

        }
    </script>
}
