﻿@model Cobranca.Db.Models.TabelaEmpresaVenda
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
    List<Cobranca.Db.Models.Usuario> _listaVendedores = new List<Cobranca.Db.Models.Usuario>();
    if (ViewBag.ListaVendedores != null)
    {
        _listaVendedores = (List<Cobranca.Db.Models.Usuario>)ViewBag.ListaVendedores;
    }

}
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-junix" role="tablist">
            <li role="presentation" class=""><a href="@Url.Action("Index","EmpresaVenda")">EMPRESAS</a></li>
            <li role="presentation" class=""><a href="#">EMPRESA DE VENDA</a></li>
            <li role="presentation" class="active"><a href="@Url.Action("Vendedores","EmpresaVenda", new { CodEmpresaVenda = Model.Cod })">VENDEDORES</a></li>
            <li role="presentation" class=""><a href="@Url.Action("Carteira","EmpresaVenda", new { CodEmpresaVenda = Model.Cod })">CARTEIRA</a></li>
        </ul>
    </div>
    <div class="col-md-12" style="">
        <div class="panel panel-default" style="border-top:none;border-top-left-radius:initial;">
            <div class="panel-body" style="margin-top:0px;">
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-sm btn-primary btn-min-width margin-top-18 " onclick="adicionarNovoUsuario()" type="button"><i class="fa fa-plus"></i>&nbsp;Adicionar</button>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group-sm">
                            <label>Empresa de venda</label>
                            @Html.DropDownList("CodEmpresaVenda", new SelectList(ViewBag.ListaEmpresaVenda, "Cod", "Text", ViewBag.CodEmpresaVenda), new { @class = "form-control input-silver" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-striped table-bordered data-table table-condensed">
                            <tr>
                                <th width="50px;">

                                </th>
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Empresa
                                </th>
                                <th>
                                    Primeiro acesso
                                </th>
                                <th>
                                    Ultimo acesso
                                </th>
                                <th width="100px;">
                                    Acesso bloqueado
                                </th>
                            </tr>
                            @foreach (var item in _listaVendedores)
                            {
                                <tr>
                                    <td class="text-center">
                                        <button type="button" onclick="editar(@item.Cod)" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
                                    </td>
                                    <td>
                                        @item.Nome
                                    </td>
                                    <td>
                                        @item.Email
                                    </td>
                                    <td>
                                        @item.TabelaEmpresaVenda.EmpresaVendas
                                    </td>
                                    <td>
                                        @item.DataPrimeiroAcesso
                                    </td>
                                    <td>
                                        @item.DataUltimoAcesso
                                    </td>
                                    <td>
                                        @string.Format("{0}", item.DataBloqueado.HasValue ? "Sim" : "Não")
                                    </td>
                                </tr>
                            }


                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-vendedor">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Vendedor</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="form-cadastro" class="form" method="POST" action="#">
                            @Html.Hidden("Cod", 0)
                            @Html.Hidden("CodEmpresaVenda", Model.Cod)
                            @Html.Hidden("DataCadastro")
                            @Html.Hidden("DataPrimeiroAcesso")
                            @Html.Hidden("DataUltimoAcesso")
                            @Html.Hidden("DataAlteracao")
                            @Html.Hidden("DataExcluido")
                            @Html.Hidden("Login")

                            <div class="row">
                                <div class="col-sm-3 hide">
                                    <div class="form-group-sm">
                                        <label for="GerenteId" class="">Tipo</label>
                                        <select id="GerenteId" class="form-control input-silver">
                                            <option value="0">Pessoa Física</option>
                                            <option value="0">Pessoa Juridica</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group-sm">
                                        <label for="Nome" class="">Nome completo</label>
                                        @Html.TextBox("Nome", "", new { @class = "form-control input-silver", data_rule_required = "true" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group-sm">
                                        <label for="Telefone" class="">CPF</label>
                                        @Html.TextBox("CPF", "", new { @class = "form-control input-silver", data_mask = "cpf", data_rule_required = "true" })
                                    </div>
                                </div>

                            </div>
                            <div class="panel panel-warning panel-small">
                                <div class="panel-heading">
                                    CONTATOS
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group-sm">
                                                <label for="Email" class="">Email (utlizado para acessar o sistema)</label>
                                                @Html.TextBox("Email", "", new { @class = "form-control input-silver", required = "required", type = "email", data_rule_email = "true" })
                                            </div> <!-- /.form-group -->
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group-sm">
                                                <label for="Telefone" class="">Telefone Residencial</label>
                                                @Html.TextBox("Telefone", "", new { @class = "form-control input-silver", data_mask = "telresidencial" })
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group-sm">
                                                <label for="Telefone" class="">Telefone Comercial</label>
                                                @Html.TextBox("Telefone", "", new { @class = "form-control input-silver", data_mask = "telresidencial" })
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group-sm">
                                                <label for="Celular" class="">Celular</label>
                                                @Html.TextBox("Celular", "", new { @class = "form-control input-silver", required = "required", data_mask = "telcelular" })
                                            </div> <!-- /.form-group -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default panel-small">
                                <div class="panel-heading">
                                    ENDEREÇO
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group-sm">
                                                <label for="CEP" class="">CEP</label>
                                                @Html.TextBox("CEP", "", new { @class = "form-control input-silver", required = "required", data_mask = "cep" })
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group-sm">
                                                <label for="Endereco" class="">Endereco</label>
                                                @Html.TextBox("Endereco", "", new { @class = "form-control input-silver", })
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group-sm">
                                                <label for="EnderecoNumero" class="">Numero</label>
                                                @Html.TextBox("EnderecoNumero", "", new { @class = "form-control input-silver", data_mask = "inteiro" })
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group-sm">
                                                <label for="EnderecoComplemento" class="">Complemento</label>
                                                @Html.TextBox("EnderecoComplemento", "", new { @class = "form-control input-silver" })
                                            </div> <!-- /.form-group -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group-sm">
                                                <label for="EnderecoBairro" class="">Bairro</label>
                                                @Html.TextBox("EnderecoBairro", "", new { @class = "form-control input-silver" })
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group-sm">
                                                <label for="EnderecoEstado" class="">Estado</label>
                                                @Html.TextBox("EnderecoEstado", "", new { @class = "form-control input-silver" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group-sm">
                                                <label for="EnderecoCidade" class="">Cidade</label>
                                                @Html.TextBox("EnderecoCidade", "", new { @class = "form-control input-silver" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default panel-small">
                                <div class="panel-heading">
                                    PERMISSÕES
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group-sm " style="">
                                                <label>Cadastra Prospect</label><br />
                                                @Html.CheckBox("PermissaoProspect", false, new { @class = "switch" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group-sm " style="">
                                                <label>Cadastra Proposta</label><br />
                                                @Html.CheckBox("PermissaoProposta", false, new { @class = "switch" })
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group-sm " style="">
                                                <label>Bloquear Acesso</label><br />
                                                @Html.CheckBox("AcessoBloqueado", false, new { @class = "switch" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                
                <button id="btn-redefinir-senha" onclick="redefirSenha()" class="btn btn-sm pull-left" type="button"><i class="fa fa-refresh"></i> REDEFINIR A SENHA</button>
                
                <button id="btn-excluir" onclick="excluir()" class="btn btn-default btn-sm text-danger" type="button"><i class="fa fa-trash"></i> EXCLUIR</button>
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"><i class="fa fa-close"></i> CANCELAR</button>
                <button onclick="salvar()" type="button" class="btn btn-sm btn-primary "><i class="fa fa-save"></i> CONFIRMAR</button>
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@section scripts{
    <script type="text/javascript">
        function excluir() {
            if (confirm("Confirma excluir o registro?")) {
                $.ajax({
                    url: '@Url.Action("Excluir")',
                    data: { id: $("#Cod").val() },
                    type: 'post',
                    dataType: 'json'
                }).success(function (result) {
                    document.location = '@Url.Action("index")';
                });
            }
        }
        $(document).ready(function () {
            $("#CodEmpresaVenda").change(function () {
                document.location = "@Url.Action("Vendedores","EmpresaVenda")" + "?CodEmpresaVenda=" + $("#CodEmpresaVenda").val();
            });
            $("#form-cadastro").validate({
                rules: {
                    cpf: "required",
                    nome: "required",
                    email: {
                        required: true,
                        email: true
                    }
                }
            });
        });
        function cancelar() {
            document.location = '@Url.Action("index")';
        }
        function adicionarNovoUsuario() {
            $("#form-cadastro").find("#Cod").val(0);
            $("#form-cadastro").find("input").val("");
            $("#btn-redefinir-senha, #btn-excluir").hide();
            $("#modal-vendedor").modal("show");
        }
        function salvar2() {

        }

        function salvar() {
            if (!$("#form-cadastro").valid()) {
                return;
            }
            $("#form-cadastro").find("#CodEmpresaVenda").val($("#CodEmpresaVenda").val());
            var dadosForm = $("#form-cadastro").serialize();

            $.ajax({
                url: '@Url.Action("CadastroUsuario", "EmpresaVenda")',
                data: dadosForm,
                type: 'post'
            }).success(function (op) {
                if (op.OK) {
                    alert("Operação realizada com sucesso!");
                    $("#modal-vendedor").modal("hide");
                    document.location.reload(false);
                } else {
                    alert(op.Mensagem);
                }
            });
        }
        function editar(cod) {
            $("#btn-redefinir-senha, #btn-excluir").show();
            $.ajax({
                url: '@Url.Action("ObterDadosVendedor", "EmpresaVenda")',
                data: { cod: cod },
                type: 'POST'
            }).success(function (dados) {
                var form = $("#form-cadastro");
                $.each(dados.Dados, function (campo, valor) {
                    var el = form.find("#" + campo);
                    el.val(valor);
                    if (el.bootstraSwitch) {
                        el.bootstrapSwitch("toggleState", valor);
                    }
                });
                $("#modal-vendedor").modal("show");
            })
        }
        function excluir() {
            var codUsuario = $("#form-cadastro").find("#Cod").val();
            if (codUsuario > 0) {
                if (confirm("Deseja excluir o registro?")) {
                    $.ajax({
                        url: '@Url.Action("ExcluirUsuario")', data: { cod: codUsuario }, type: 'POST'
                    }).success(function (op) {
                        if (op.OK) {
                            alert("Operação realizada com sucesso!");
                            $("#modal-vendedor").modal("hide");
                            document.location.reload(false);
                        } else {
                            alert(op.Mensagem);
                        }
                    });
                }
            }
        }
        function redefinirSenha() {
            var codUsuario = $("#form-cadastro").find("#Cod").val();
            if (codUsuario > 0) {
                if (confirm("deseja redefinir a senha?")) {
                    $.ajax({
                        url: '@Url.Action("UsuarioRedefinirSenha")', data: { cod: codUsuario }, type: 'POST'
                    }).success(function (op) {
                        if (op.OK) {
                            alert("Operação realizada com sucesso!");
                            $("#modal-vendedor").modal("hide");
                            document.location.reload(false);
                        } else {
                            alert(op.Mensagem);
                        }
                    });
                }
            }
        }
    </script>
}