﻿@model Exception
    @{
        ViewBag.Title = "ServerError";
        Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    }

    <div class="container">
        <div class="row margin-top-22">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="panel panel-warning panel-small animated animated zoomInUp" style="margin-top:60px;">
                    <div class="panel-body text-center">
                        <label style="font-size:13px;" class="text-center text-danger"<b>Atenção! <br /> Consulta não realizada!</b></label>
                        <div class="text-center">
                            <button class="btn btn-danger btn-sm" data-toggle="collapse" data-target="#demo">Detalhes do Erro</button>
                            <div id="demo" class="collapse animated zoomIn">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <div class="well" style="margin-top:22px;">
                                            <text>ViewBag.Mensagem</text>     
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>




