﻿@model Exception
    @{
        ViewBag.Title = "ServerError";
        Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    }

    <div class="container">
        <div class="row margin-top-22">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="panel panel-warning panel-small animated animated zoomInUp" style="margin-top:60px;">
                    <div class="panel-body text-center">
                        <label style="font-size:13px;" class="text-center text-danger"<b>Atenção! <br /> Consulta não realizada!</b></label>
                        <div class="text-center">
                            <label style="font-size:13px;">Verifique se as informações cadastradas ou selecionadas estão corretas. Tente novamente ou faça seu login no sistema.</label>
                            <hr />                            
                            <a href="@Url.Action("sair","login")" class="btn btn-default btn-sm">Voltar para o login</a>
                            <a href="#" onclick="window.history.go(-1)" class="btn btn-default btn-sm">Tentar Novamente</a>
                            <button class="btn btn-danger btn-sm" data-toggle="collapse" data-target="#demo">Detalhes do Erro</button>
                            <div id="demo" class="collapse animated zoomIn">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <div class="well" style="margin-top:22px;">
                                            <text>@Html.Raw(Model.Message)</text>     
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div> 
                        </div>
                        <div class="text-center hide">
                            <a href="@Url.Action("index","login")" class="btn btn-md btn-default">Tentar Novamente</a>
                            <a href="@Url.Action("index","login")" class="btn btn-md btn-default"><i class="fa fa-arrow-circle-right"></i> Reportar Erro</a>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>




