﻿@model List<Cobranca.Db.Models.Importacao>
@using Cobranca.Db.Rotinas;
@using Cobranca.Db.Models;
@{
    ViewBag.Title = "ImportGeralLista";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var qtd = Model.Where(x => x.Status == 0).Count();
}

<div class="row">

    <div class="col-md-12">
        <span class="h4 pull-left" style="margin-top:8px;margin-right:10px;">
            <i class="fa fa-cloud-upload"></i> Importação de Endereço dos Clientes
        </span>
        <a class="btn btn-default" href="@Url.Action("Import")"><i class="fa fa-plus"></i> Nova importação (TXT)</a>
    </div>


</div>



@foreach (var item in Model.OrderByDescending(x => x.DataCadastro).Take(10))
{
    bool processando = item.Status == (short)Enumeradores.StatusImportacao.Processando;
    <div data-processando="@processando" data-readonly="@processando" class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-small" id="@item.Cod">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="no-margin-botton">
                                @if (processando)
                                {
                                    <text>
                                        <i class="fa fa-spin fa-refresh"></i>&nbsp;
                                    </text>
                                }
                                ID @string.Format("{0:0000}", item.Cod) - Arquivo @item.NomeArquivo
                            </h4>
                        </div>
                        <div class="col-md-8">
                            <span class="text-silver pull-right italic" style="margin-left:10px;">Data: @DbRotinas.FormatarData(item.DataCadastro)</span>
                            <span class="text-silver pull-right italic">Usuário: @item.Usuario.Nome</span>
                        </div>
                    </div>

                </div>
                <div class="panel-body" data-importacao-id="@item.Cod">
                    <div class="row">
                        <div class="col-md-1 text-center">
                            <h4 class="text-silver">Total:<br /><b class="counter" data-total="@item.Cod"> @string.Format("{0}", item.TotalRegistros)</b></h4>
                        </div>
                        <div class="col-md-1 text-center">
                            <h4 class="text-silver">Processado:<br /><b class="counter" data-processado="@item.Cod"> @string.Format("{0}", item.TotalRegistrosProcessado.HasValue ? item.TotalRegistrosProcessado : 0)</b></h4>
                        </div>
                        <div class="col-md-1 text-center">
                            <h4 class="text-danger">Erros:<br /><b class="counter" data-erro="@item.Cod"> @string.Format("{0}", item.TotalRegistrosErro)</b></h4>
                        </div>
                        <div class="col-md-1 text-center">
                            <h4 class="text-success">Importado<br /><b class="counter" data-importado="@item.Cod"> @string.Format("{0}", item.TotalRegistrosOK)</b></h4>
                        </div>
                        <div class="col-md-8">

                            <button onclick="excluir(@item.Cod)" class="btn btn-sm pull-right" type="button"><i class="fa fa-close"></i> REMOVER</button>
                            <a class="btn btn-sm pull-right" target="_self" href="@Url.Action("ExtrairResultadoImportacaoCliente", new { CodImportacao = item.Cod })"><i class="fa fa-download"></i> RESULTADO</a>
                        </div>
                    </div>
                    @if (processando)
                    {
                        <div class="row">

                            <div class="col-md-12">
                                <div class="progress no-margin-botton" style="">
                                    @{
                                        decimal percentutal = 0;
                                        if (Cobranca.Db.Rotinas.DbRotinas.ConverterParaDecimal(item.TotalRegistrosProcessado) > 0)
                                        {
                                            percentutal = DbRotinas.ConverterParaDecimal(item.TotalRegistrosProcessado) * 100 / DbRotinas.ConverterParaDecimal(item.TotalRegistros);
                                        }
                                    }
                                    <div data-progress="@item.Cod" class="progress-bar progress-bar-striped progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="@string.Format("width:{0:n0}%",percentutal);">
                                        @string.Format("{0:n0}%", percentutal)
                                    </div>

                                </div>
                            </div>
                        </div>
                                        }

                    <div class="row">
                        <div class="col-md-12">
                            @if (!string.IsNullOrEmpty(item.Mensagem))
                {
                                <span class="pull-right text-silver" style="font-style:italic;" data-msg="@item.Cod">
                                    @item.Mensagem
                                </span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                                        }
@section scripts{
    <script type="text/javascript">
        function excluir(id) {
            if (confirm("Confirma a exclusão do registro?")) {
                carregando(true);
                $.post('@Url.Action("Excluir")', { id: id }, function (op) {
                    carregando(false);
                    if (op.OK)
                        document.location.reload(false);
                    else
                        alert(op.Mensagem);
                });
            }
        }
        function exibirResultado(id) {
            carregando(true);
            $.post('@Url.Action("Resultado")', { CodImportacao: id, status: 0 }, function (op) {
                carregando(false);
                console.log(op);
            }).error(function () {
                carregando(false);
                alert("Ocorreu um erro");
            });
        }
        function processar(id) {
            $.post('@Url.Action("Processar")', { CodImportacao: id, status: 0 }, function (op) {
                carregando(false);
                console.log(op);
            }).error(function () {
                carregando(false);
                alert("Ocorreu um erro");
            });
        } function reprocessar(cod) {
            $.post('@Url.Action("Reprocessar")', { CodImportacao: cod }, function (op) {
                alert("Reprocessando!");
            }).error(function () {
                alert("Ocorreu um erro");
            });
        }
        $(document).ready(function () {
            if ($("[data-processando='True']").length > 0) {
                setInterval(function () { atualizaTotais(); }, 500);
            }
            jx.getElementAnchor().scrollToMe().addClass("animated flash", 500);
        });

        function atualizaTotais() {
            var ids = [];
            $("[data-importacao-id]").each(function (i, e) {
                ids.push($(e).attr("data-importacao-id"));
            });
            $.post('@Url.Action("ObterTotais")', { ids: ids }, function (op) {
                if (op.OK)
                    for (var i = 0; i < op.Dados.length; i++) {
                        var data = op.Dados[i];
                        //ATUALIZA O TOTAL PROCESSADO
                        if ($('[data-processado="' + data.Cod + '"]').text() != " ") {
                            contar($('[data-processado="' + data.Cod + '"]'), $('[data-processado="' + data.Cod + '"]').text(), data.TotalRegistrosProcessado, 1000, 50);
                        }
                        //ATUALIZA O TOTAL ERRO
                        if ($('[data-erro="' + data.Cod + '"]').text() != " 0") {
                            contar($('[data-erro="' + data.Cod + '"]'), $('[data-erro="' + data.Cod + '"]').text(), data.TotalRegistrosErro, 1000, 50);
                        }
                        //ATUALIZA O TOTAL IMPORTADO
                        contar($('[data-importado="' + data.Cod + '"]'), $('[data-importado="' + data.Cod + '"]').text(), data.TotalRegistrosOK, 1000, 50);
                        //ATUALIZA A MENSAGEM
                        $('[data-msg="' + data.Cod + '"]').text(data.Mensagem);
                        //ATUALIZA PORCENTAGEM
                        var percentutal = parseFloat(parseFloat(data.TotalRegistrosProcessado) * 100 / parseFloat(data.TotalRegistros)).toFixed(0);
                        $('[data-progress="' + data.Cod + '"]').css('width', percentutal + '%').attr('aria-valuenow', percentutal).text(percentutal + '%');
                    }
                else
                    console.log(op.Mensagem);
            })
        }
        function atualizarTela() {
            jx.carregando(true, 'Atualizando..');
            document.location.reload(true);
        }
        function contar(el, from, to, speed, refreshInterval) {
            $(el).countTo({
                from: parseInt(from),
                to: parseInt(to),
                speed: parseInt(speed),
                refreshInterval: parseInt(refreshInterval),
                onComplete: function (value) {
                }
            });

        }
    </script>
}
