﻿@{
    ViewBag.Title = "ImportGeral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Import", "ImportacaoClienteEnderecoController", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">

    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <h4>Importação Endereço Cliente</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span id="btn-file" style="float: left; margin-bottom: -4px; margin-right: 0px;" class="btn btn-sm btn-primary fileinput-button pull-left">
                        <i class="fa fa-paperclip"></i><span class="hidden-xs"> Selecionar o arquivo (TXT)</span>
                        <input class="form-upload" type="file" name="files[]" multiple />
                    </span>
                </div>
                <div class="col-md-6 hide">
                    <a href="@Url.Action("Layout")"><i class="fa fa-download"></i>&nbsp;Download do Layout de importação</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group-sm">
                        <label>
                            Progresso do Upload
                        </label>
                        <div class="progress" style="min-height:24px;">
                            <div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 00%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
                    <input style="width:400px" type="url" placeholder="" required id="caminhoCompleto">
                    <input type="button" value="Processar" onclick="processarImportacao()">

                </div>*@

        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row" id="resultado"></div>
}
<script id="teamplate" type="text/x-custom-template">
    <div class="col-md-3 text-center">
        <b>${Total}</b>
        ${StatusDesc}
    </div>
</script>
<script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
@section scripts{
    <script type="text/javascript">
        var _leituraConcluida = true;
        var _arrArquivos = [];
        var acceptFileTypes = /\/(xlsx|xlsx)$/i;

        $(document).ready(function () {
            definirUpload();

        });
        function definirUpload() {
            $(".form-upload").fileupload({
                dataType: 'json',
                url: '@Url.Content("~/Upload/UploadHandler.ashx")',
                acceptFileTypes: /(\.|\/)(xlsx)$/i,
                maxFileSize: 5368709120, // 5GB
                //sequentialUploads: true,
                //limitConcurrentUploads: 1,
                //maxChunkSize: 600000000,//204800, // 200KB
                //maxChunkSize: 204800, // 10 MB
                //autoUpload: true,//tr
                //dropZone: null,
                //multipart: true,
                //forceIframeTransport: true,
                //uploadedBytes: 204800,
                //formData: {
                //    etapaId: $(this).attr("id")
                //},
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Ocorreu um erro no upload: " + textStatus);
                    console.log(jqXHR, textStatus, errorThrown);
                    $(".progress-bar").removeClass("progress-bar-warning").addClass("progress-bar-danger");
                    return;
                },
                done: function (e, data) {
                    //var file = data.files[0];
                    //_arrArquivos.push(file.name);
                },
                add: function (e, data) {
                    var id = $(this).attr("id");
                    var tr = $(this).parent().parent().parent();
                    var file = data.files[0];
                    _arrArquivos.push(file.name);
                    $(".progress-bar").removeClass("progress-bar-danger").removeClass("progress-bar-success").addClass("progress-bar-warning");
                    data.submit();
                },
                start: function () {
                },
                progress: function (e, data) {
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $(".progress").show();
                    $(".progress-bar").css('width', progress + '%');
                    $(".progress-bar").html(progress + '%');

                    if (progress >= 100) {
                        LerArquivo();
                    }
                }
            });

        }
        function processarImportacao() {
            var caminho = $("#caminhoCompleto").val();
            $.ajax({
                url: '@Url.Action("CarregarArquivoParaBanco")',
                type: 'post',
                dataType: 'json',
                data: { caminho: caminho }
            }).success(function (resultado) {
                if (resultado.OK) {
                    alert("Importado com sucesso!")
                }
            });
        }
        function LerArquivo() {
            _leituraConcluida = false;
            dyn_notice();
            $.post('@Url.Action("LerArquivo")', { file: _arrArquivos }, function (d) {
                if (d.OK) {
                    _leituraConcluida = true;
                    $("#resultado").empty();
                    $.tmpl("#teamplate", d.dados).appendTo("#resultado");
                    setTimeout(function () {
                        document.location = '@Url.Action("ImportLista", "ImportacaoClienteEndereco")';
                    }, 2000);
                } else {
                    alert(d.Mensagem)
                }
            });
        }
        function dyn_notice() {
            var percent = 0;
            var notice = new PNotify({
                text: "Aguarde carregando os dados para o banco de dados",
                type: 'warning',
                icon: 'fa fa-spinner fa-spin',
                hide: false,
                buttons: {
                    closer: false,
                    sticker: false
                },
                opacity: 1,
                shadow: true,
                width: "470px"
            });

            setTimeout(function () {
                notice.update({
                    title: false
                });
                var interval = setInterval(function () {
                    percent += 2;
                    var options = {
                        text: "Aguarde carregando os dados para o banco de dados. Processando.."
                    };

                    if (_leituraConcluida) {
                        window.clearInterval(interval);
                        options.title = "Processo finalizado! Aguarde estamos redirecionando..";
                        options.type = "success";
                        options.hide = true;
                        options.buttons = {
                            closer: true,
                            sticker: true
                        };
                        options.icon = 'fa fa-check';
                        options.opacity = 1;
                        options.shadow = true;
                        options.width = PNotify.prototype.options.width;
                        setTimeout(function () {
                            document.location = '@Url.Action("ImportLista","ImportacaoClienteEndereco")';
                        }, 2000);
                    }
                    notice.update(options);
                }, 120);
            }, 4000);
        }
    </script>
}

