﻿@model Cobranca.Db.Models.TabelaTipoCobranca

@{
    //if (Model.Cod == 0) {
    //    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    //}
    bool fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true;

    Model.TipoCobranca = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.TipoCobranca);
}

<form id="form-cadastro" class="form" method="POST" action="@Url.Action("Cadastro","TipoCobranca")">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row margin-top-20">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="TipoEsforco">Fluxo</label>
                @Html.DropDownListFor(m => m.TipoFluxo, new SelectList(ViewBag.FluxoBoleto, "value", "key", Model.TipoFluxo), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TipoFluxo)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                @if (fgSistemaCobranca)
                {
                    <label for="TipoCobranca">Tipo de Cobrança</label>
                }
                else
                {
                    <label for="TipoCobranca">Etapa</label>
                }

                @Html.TextBoxFor(m => m.TipoCobranca, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TipoCobranca)
            </div> <!-- /.form-group -->
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="TipoEsforco">Esforço</label>
                @Html.DropDownListFor(m => m.TipoEsforco, new SelectList(ViewBag.ListaTipoEsforcoImpacto, "value", "key", Model.TipoEsforco), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TipoEsforco)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="TipoImpacto">Impacto</label>
                @Html.DropDownListFor(m => m.TipoImpacto, new SelectList(ViewBag.ListaTipoEsforcoImpacto, "value", "key", Model.TipoImpacto), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TipoImpacto)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="QtdDias">Quantidade de Dias</label>
                @Html.TextBoxFor(m => m.QtdDias, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.QtdDias)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="Ordem">Ordem</label>
                @Html.TextBoxFor(m => m.Ordem, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Ordem)
            </div> <!-- /.form-group -->
        </div>
    </div>

    <!-- /.form-group -->
    <div id="form-comandos" class="row">

        <div class="col-sm-12">
            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>

            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }

        </div>

        <div class="col-sm-3">

        </div>
    </div>

</form>
