﻿@model List<Cobranca.Db.Models.TabelaTipoCobranca>
@using Cobranca.Rotinas;
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
    bool? fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca;
}
<style type="text/css">
    .fa-folder-open-o, .fa-folder-o {
        color: #808080 !important;
    }

        .fa-folder-open-o:hover, .fa-folder-o:hover {
            color: #000000 !important;
        }
</style>
<div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#" onclick="alterarTipoCobranca(0)" class="btn btn-sm btn-primary pull-left btn-min-width " style="margin-bottom:6px;"> <i class="fa fa-plus"></i> Adicionar</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-condensed table-hover table-condensed" style="font-size:12px;">
                                    <thead>
                                        <tr>
                                            <th style="" class="text-left">
                                                @if (fgSistemaCobranca == true)
                                                {
                                                    <b>@Idioma.Traduzir("TIPO DE COBRANÇA") > @Idioma.Traduzir("FASE") > @Idioma.Traduzir("SINTESE")</b>
                                                }
                                                else
                                                {
                                                    <b>@Idioma.Traduzir("ETAPA") > @Idioma.Traduzir("FASE") > @Idioma.Traduzir("SINTESE")</b>
                                                }
                                            </th>
                                            <th style="width:100px;">#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.OrderBy(x => x.Ordem).ToList())
                                        {
                                            <tr data-tipo="tipoCobranca">
                                                <td class="text-left">
                                                    <b><i onclick="expandir(this)" data-contrair="@string.Format("tipo-cobranca-{0}",item.Cod)" style="cursor:pointer" class="fa fa-folder-o"></i>&nbsp;@Idioma.Traduzir(Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.TipoCobranca))</b>
                                                </td>
                                                <td>
                                                    <a href="#" onclick="excluirTipoCobranca(@item.Cod)">Excluir</a>&nbsp;|&nbsp;<a href="#" onclick="alterarTipoCobranca(@item.Cod)">@Idioma.Traduzir("Alterar")</a>
                                                </td>
                                            </tr>

                                            foreach (var fase in item.TabelaFases.Where(x => !x.DataExcluido.HasValue).OrderBy(x => x.Ordem))
                                            {
                                                <tr data-tipo="fase" data-codfase="@fase.Cod" data-item-contrair="@string.Format("tipo-cobranca-{0}",item.Cod)" style="display:none">
                                                    <td colspan="1">
                                                        <span style="margin-left:30px;">
                                                            <i onclick="expandirIconePlus(this)" data-contrair="@string.Format("fase-{0}",fase.Cod)" style="cursor:pointer" class="fa fa-plus"></i>&nbsp;
                                                            <i class="fa fa-file-text-o"></i>&nbsp;@Idioma.Traduzir(Cobranca.Db.Rotinas.DbRotinas.Descriptografar(fase.Fase))
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <a href="#" onclick="excluirFase(@fase.Cod)">@Idioma.Traduzir("Excluir")</a>&nbsp;|&nbsp;<a href="#" onclick="alterarFase(@fase.Cod)">@Idioma.Traduzir("Alterar")</a>
                                                    </td>
                                                </tr>

                                                foreach (var sintese in fase.TabelaSintese.Where(x => !x.DataExcluido.HasValue).OrderBy(x => x.Ordem))
                                                {
                                                    <tr data-codsintese="@sintese.Cod" data-subitem-contrair="@string.Format("fase-{0}",fase.Cod)" data-nivel-contrair="@string.Format("tipo-cobranca-{0}",item.Cod)" style="display:none">
                                                        <td colspan="1">
                                                            <span class="text-silver" style="margin-left:60px;">
                                                                <i class="fa fa-asterisk"></i>&nbsp;@Idioma.Traduzir(Cobranca.Db.Rotinas.DbRotinas.Descriptografar(sintese.Sintese))
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <a href="#" onclick="excluirSintese(@sintese.Cod)">@Idioma.Traduzir("Excluir")</a>&nbsp;|&nbsp;<a href="#" onclick="alterarSintese(@sintese.Cod)">@Idioma.Traduzir("Alterar")</a>
                                                        </td>
                                                    </tr>
                                                }
                                                <tr data-subitem-contrair="@string.Format("fase-{0}",fase.Cod)" data-nivel-contrair="@string.Format("tipo-cobranca-{0}",item.Cod)" style="display:none">
                                                    <td class="">
                                                        @*<a style="margin-left:60px;opacity:0.5" href="#"><i class="fa fa-pencil"></i> Nova sintese</a>*@
                                                        @*<input class="input-sm" style="width:300px" placeholder="digite a sintese" />*@
                                                        <div class="input-group input-group-sm" style="padding-left:60px;">
                                                            <input data-cod-fase="@fase.Cod" name="nova-sintese" type="text" class="form-control" aria-label="..." placeholder="@Idioma.Traduzir("novo registro")">
                                                            <div class="input-group-btn">
                                                                <button type="button" class="btn btn-default"><span class="fa fa-close"></span></button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class=""></td>
                                                </tr>
                                            }
                                            <tr data-tipo="fase" data-item-contrair="@string.Format("tipo-cobranca-{0}",item.Cod)" style="display:none">
                                                <td class="">
                                                    @*<a style="margin-left:60px;opacity:0.5" href="#"><i class="fa fa-pencil"></i> Nova sintese</a>*@
                                                    @*<input class="input-sm" style="width:300px" placeholder="digite a sintese" />*@
                                                    <div class="input-group input-group-sm" style="padding-left:30px;">
                                                        <input data-cod-tipocobranca="@item.Cod" name="nova-fase" type="text" class="form-control" aria-label="..." placeholder="@Idioma.Traduzir("novo registro")">
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default"><span class="fa fa-close"></span></button>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class=""></td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="modal-form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">@Idioma.Traduzir("Titulo")</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Idioma.Traduzir("Cancelar")</button>
                    <button type="button" id="btn-submit" class="btn btn-primary">@Idioma.Traduzir("Confirmar")</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            loadComandoNovaSintese();
        });
        function incluir() {
            //$("#incluir-form").modal("show");
            document.location = "@Url.Action("Cadastro",new{id = 0})"
        }
        function loadComandoNovaSintese() {
            $("input[name='nova-sintese']").off("keypress").keypress(function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) { //Enter keycode
                    var el = $(e.currentTarget);
                    if (el.val() != "") {
                        var tr = el.parent().parent().parent();
                        var newTr = tr.clone(true);
                        newTr.empty();
                        var td1 = $(document.createElement("td"));
                        td1.append('<span class="text-silver" style="margin-left:60px;"><i class="fa fa-spin fa-spinner"></i>&nbsp;' + el.val() + '</span>');
                        newTr.append(td1);
                        newTr.append('<td>'
                                    + '<a data-comando="excluir" href="#" >@Idioma.Traduzir("Excluir")</a>'
                                    + '&nbsp;|&nbsp;'
                    + '<a data-comando="alterar" href="#">@Idioma.Traduzir("Alterar")</a>'
                + '</td>');
                        tr.before(newTr);
                        var dados = { sintese: el.val(), codFase: el.attr("data-cod-fase"), el: newTr };
                        el.val("");
                        salvarSintese(dados);
                    }
                }
            });
        }

        $("input[name='nova-fase']").off("keypress").keypress(function (e) {
            var code = e.keyCode || e.which;
            if (code == 13) { //Enter keycode
                var el = $(e.currentTarget);
                if (el.val() != "") {
                    var tr = el.parent().parent().parent();
                    var newTr = tr.clone(true);
                    newTr.empty();
                    var td1 = $(document.createElement("td"));
                    td1.append('<span style="margin-left:30px;"><i onclick="expandirIconePlus(this)" data-contrair="' + tr.attr("data-contrair") + '" style="cursor:pointer" class="fa fa-spin fa-spinner"></i> <i class="fa fa-file-text-o"></i>  ' + el.val() + '</span>')
                    newTr.append(td1);
                    newTr.append('<td>'
                                    + '<a data-comando="excluir" href="#" >@Idioma.Traduzir("Excluir")</a>'
                                    + '&nbsp;|&nbsp;'
                    + '<a data-comando="alterar" href="#">@Idioma.Traduzir("Alterar")</a>'
                + '</td>');
                    tr.before(newTr);
                    var dados = { fase: el.val(), codTipoCobranca: el.attr("data-cod-tipocobranca"), el: newTr };
                    el.val("");
                    salvarFase(dados);
                }

            }
        });
        function salvar() {
            var data = $("#form-cliente").serialize();
            $.ajax({
                url: "@Url.Action("Gravar")",
                data: data,
                type: 'post',
                dateTye: 'json'
            }).success(function (result) {
                console.log(result);
                if (result.OK) {
                    document.location.reload(true);
                } else {
                    if (result.Dados) {
                        alert(result.Mensagem);

                        for (var i = 0; i < result.Dados.length; i++) {
                            var erro = result.Dados[i];
                            $("#" + erro.Campo).parent().addClass("has-error");
                            $("[data-valmsg-for='" + erro.Campo + "']").text(erro.Mensagem).show().addClass("text-danger");

                        }
                    }
                }
            });
        }
        function editrar(id) {
            if (id) {
                document.location = id;
            }

        }
        function expandir(el) {
            var icone = $(el);
            //console.log(icone);
            var id = $(el).attr("data-contrair");
            var area = $("[data-item-contrair='" + id + "']");
            var subArea = $("[data-nivel-contrair='" + id + "']");
            if (area.is(":visible")) {
                area.hide();
                if (subArea.is(":visible")) {
                    subArea.hide();
                }
                icone.removeClass("fa-folder-open-o").addClass("fa-folder-o");
            } else {
                area.show();
                icone.removeClass("fa-folder-o").addClass("fa-folder-open-o");
            }
        }
        function expandirIconePlus(el) {
            var icone = $(el);
            //console.log(icone);
            var id = $(el).attr("data-contrair");
            var area = $("[data-subitem-contrair='" + id + "']");

            if (area.is(":visible")) {
                area.hide();
                icone.removeClass("fa-minus").addClass("fa-plus");
            } else {
                area.show();
                icone.removeClass("fa-plus").addClass("fa-minus");
            }
        }
        function salvarSintese(dados) {
            $.ajax({
                url: '@Url.Action("SalvarSintese")',
                data: { CodFase: dados.codFase, Sintese: dados.sintese },
                type: 'post'
            }).success(function (resultado) {
                if (resultado.Ok) {
                    dados.el.find("i:first").removeClass("fa fa-spin fa-spinner").addClass("fa fa-asterisk");
                    dados.el.attr("data-codsintese", resultado.CodSintese);
                    dados.el.find("a[data-comando='excluir']").click(function () {
                        excluirSintese(resultado.CodSintese);
                    });
                    dados.el.find("a[data-comando='alterar']").click(function () {
                        alterarSintese(resultado.CodSintese);
                    });
                } else {
                    dados.el.find("i:first").removeClass("fa fa-spin fa-spinner").addClass("fa fa-close");
                    dados.el.find("span:first").removeClass("text-silver").addClass("text-danger");
                    dados.el.find("span:first").append(resultado.Mensagem);
                }
            });
        }
        function salvarFase(dados) {
            $.ajax({
                url: '@Url.Action("SalvarFase")',
                data: { CodTipoCobranca: dados.codTipoCobranca, fase: dados.fase },
                type: 'post'
            }).success(function (resultado) {
                if (resultado.Ok) {
                    dados.el.find("i:first").removeClass("fa-spin fa-spinner").addClass("fa-plus");
                    criarAreaSintese(dados, resultado)
                } else {
                    dados.el.find("i:first").removeClass("fa fa-spin fa-spinner").addClass("fa fa-close");
                    dados.el.find("span:first").removeClass("text-silver").addClass("text-danger");
                    dados.el.find("span:first").append(resultado.Mensagem);
                }

            });
        }
        function criarAreaSintese(dados, resultado) {
            var codFase = resultado.CodFase, tpCobranca = dados.codTipoCobranca;
            var elemento = '<tr data-subitem-contrair="fase-' + codFase + '" data-nivel-contrair="tipo-cobranca-' + tpCobranca + '" style="display:none">'
                               + '<td class="">'
                                   + '<div class="input-group input-group-sm" style="padding-left:60px;">'
                                      + '<input data-cod-fase="' + codFase + '" name="nova-sintese" type="text" class="form-control" aria-label="..." placeholder="novo registro">'
                                      + '<div class="input-group-btn">'
                                           + '<button type="button" class="btn btn-default"><span class="fa fa-close"></span></button>'
                                       + '</div>'
                                   + '</div>'
                               + '</td>'
                               + '<td class=""></td>'
            + '</tr>';
            dados.el.find("i:first").attr("data-contrair", "fase-" + codFase);
            dados.el.attr("data-codfase", codFase);
            dados.el.find("a[data-comando='excluir']").click(function () {
                excluirFase(codFase);
            });
            dados.el.find("a[data-comando='alterar']").click(function () {
                alterarFase(codFase);
            });
            dados.el.after(elemento);
            loadComandoNovaSintese();
        }
        function excluirFase(codFase) {
            if (confirm("@Idioma.Traduzir("Deseja excluir o registro?")")) {
                $.ajax({
                    url: "@Url.Action("ExcluirFase")",
                    data: { CodFase: codFase },
                    type: 'post'
                }).success(function (resutado) {
                    if (resutado.Ok) {
                        $("tr[data-subitem-contrair='fase-" + codFase + "']").hide();
                        $("tr[data-codfase='" + codFase + "']").hide();

                    } else {
                        alert(resutado.Mensagem);
                    }
                });
            }
        }
        function excluirSintese(codSintese) {
            if (confirm("@Idioma.Traduzir("Deseja excluir o registro?")")) {
                $.ajax({
                    url: "@Url.Action("ExcluirSintese")",
                    data: { CodSintese: codSintese },
                    type: 'post'
                }).success(function (resutado) {
                    if (resutado.Ok) {
                        $("tr[data-codsintese='" + codSintese + "']").hide();
                    } else {
                        alert(resutado.Mensagem);
                    }
                });
            }
        }
        function alterarSintese(codSintese) {
            $("#modal-form .modal-body").empty();
            $("#modal-form .modal-title").empty().text("@Idioma.Traduzir("Sintese")");
            $("#modal-form .modal-body").load("@Url.Action("Cadastro","Sintese")/" + codSintese + " #form-cadastro", function () {
                $("#form-cadastro").find("#form-comandos").hide();
                $("#modal-form").modal("show");
                $("#btn-submit").off("click").click(function () { $("#form-cadastro").submit() });
            });
        };
        function alterarFase(codFase) {
            $("#modal-form .modal-body").empty();
            $("#modal-form .modal-title").empty().text("@Idioma.Traduzir("Fase")");
            $("#modal-form .modal-body").load("@Url.Action("Cadastro","Fase")/" + codFase + " #form-cadastro", function () {
                $("#form-cadastro").find("#form-comandos").hide();
                $("#modal-form").modal("show");
                $("#btn-submit").off("click").click(function () { $("#form-cadastro").submit() });
            });
        };
        function alterarTipoCobranca(cod) {
            $("#modal-form .modal-body").empty();
            $("#modal-form .modal-title").empty().text("@Idioma.Traduzir("Cadastro")");
            $("#modal-form .modal-body").load("@Url.Action("Cadastro","TipoCobranca")/" + cod + " #form-cadastro", function () {
                $("#form-cadastro").find("#form-comandos").hide();
                $("#modal-form").modal("show");
                $("#btn-submit").off("click").click(function () { $("#form-cadastro").submit() });
            });
        }
        function excluirTipoCobranca(CodTipoCobranca) {
            if (confirm("@Idioma.Traduzir("Confirma excluir o registro?")")) {
                $.ajax({
                    url: '@Url.Action("Excluir")',
                    data: { id: CodTipoCobranca },
                    type: 'post',
                    dataType: 'json'
                }).success(function (result) {
                    document.location = '@Url.Action("index")';
                });
            }
        }
    </script>
}
