﻿@model List<Cobranca.Db.Models.TabelaCampanhaCondicao>
@{
    ViewBag.Title = "Filtro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-regua";
}
@Html.ValidationBootstrapModal()
@Html.AntiForgeryToken()
@Html.Modal()
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("Index")"><i class="fa fa-warning"></i> RÉGUA</a></li>
            <li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("Filtro")"><i class="fa fa-check-square-o"></i> FILTRO</a></li>
            <li role="presentation" class="active btn-min-width text-center"><a href="#"><i class="fa fa-close"></i> EXCEÇÃO</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button id="btn-add-condicao" type="button" onclick="exibirForm()" class="btn btn-primary btn-min-width btn-sm pull-left ">Adicionar</button>
    </div>
</div>
<form name="form-condicao" id="form-condicao" class="area-cadastro" method="post" dir="auto" style="display:none">
    @Html.Hidden("Excecao", true)
    <div class="row">
        <div class="col-md-3">
            <div class="form-group-sm">
                <label for="CodTipoCobranca">Campanha</label>
                @Html.DropDownList("CodCampanha", new SelectList(ViewBag.ListaCampanha, "value", "key", 0), new { @class = "form-control input-silver", required = "required" })
                @Html.ValidationMessage("CodCampanha")
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group-sm">
                <label for="Tipo">Tipo</label>
                @Html.DropDownList("Tipo", new SelectList(ViewBag.ListaTipo, "value", "key", 0), new { @class = "form-control input-silver", required = "required" })
                @Html.ValidationMessage("Tipo")
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group-sm">
                <label for="Condicao">Condição</label>
                @Html.DropDownList("Condicao", new SelectList(ViewBag.ListaCondicao, "value", "key", 0), new { @class = "form-control input-silver", required = "required" })
                @Html.ValidationMessage("Condicao")
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group-sm">
                <label for="Valor">Valor</label>
                @Html.TextBox("Valor", "", new { @class = "form-control input-silver", required = "required" })
                <select id="ValorSelect" class="form-control input-silver" style="display:none"></select>
                @Html.ValidationMessage("Valor")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-sm btn-primary btn-min-width">Salvar</button>
            <button onclick="cancelar()" type="button" class="btn btn-sm btn-default btn-min-width">Cancelar</button>
        </div>
    </div>
</form>
<div class="row " style="">
    <div class="col-md-12">
        <table class="data-table table table-bordered table-hover table-condensed table-striped margin-top-20">
            <thead>
                <tr>
                    <th>
                       Campanha
                    </th>
                    <th>
                        Quando
                    </th>
                    <th>
                        For
                    </th>
                    <th>
                        Valor
                    </th>
                    <th width="100px;">
                        Excluir
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.TabelaCampanha != null)
                            {
                                @item.TabelaCampanha.Campanha
                            }
                        </td>
                        <td>
                            @Cobranca.Db.Models.EnumeradoresDescricao.CondicaoTipo(item.Tipo)
                        </td>
                        <td>
                            @Cobranca.Db.Models.EnumeradoresDescricao.Condicao(item.Condicao)
                        </td>
                        <td>
                            @item.Valor
                        </td>
                        <td widtd="100px;" class="text-center">
                            <button onclick="excluir(@item.Cod)" type="button" class="btn btn-xs btn-default"><i class="fa fa-close"></i> excluir</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function exibirForm() {
            $("#btn-add-condicao").hide();
            $(".area-cadastro").show();
            
        }
        $(document).ready(function () {
            $("#Tipo").change(carregarValores);
            $("#ValorSelect").change(function () {
                $("#Valor").val($("#ValorSelect").val());
            });
            carregarValores();
        });
        function cancelar() {
            document.location = "@Url.Action("Filtro")";
        }
        function carregarValores() {
            var tp = $("#Tipo").val();
            $("#ValorSelect").hide();
            $("#Valor").val("");
            $("#Valor").show();
            $("#ValorSelect").val("");
            $("#Valor").unmask();
            console.log(tp);
            switch (tp) {
                case "1"://Valor devedor
                case "7"://valor do contrato
                case "8"://valor da parcela
                    {
                        $("#Valor").mask("#.##0,00", { reverse: true });
                        break;
                    }
                case "2"://Dias de atraso
                    {
                        $("#Valor").mask("#");
                        break;
                    }
                case "3"://tipo de bloqueio
                    {
                        $("#Valor").hide();
                        $("#ValorSelect").show();
                        carregarListaTipoBloqueio();
                        break;
                    }
                case "4"://aging
                    {
                        $("#Valor").hide();
                        $("#ValorSelect").show();
                        carregarListaAging();
                        break;
                    }
                case "5"://FaseSintese
                    {
                        $("#Valor").hide();
                        $("#ValorSelect").show();
                        carregarListaFase();
                        break;
                    }
                case "10"://FaseSintese
                    {
                        $("#Valor").hide();
                        $("#ValorSelect").show();
                        carregarListaEmpreendimento();
                        break;
                    }
                default:
                    break;

            }
        }
        function carregarListaEmpreendimento() {
            var select = $("#ValorSelect");
            $.ajax({
                url: '@Url.Action("ListaEmpreendimento")',
                type: 'post',
                dataType: 'json'
            }).success(function (result) {
                popularDropoDownList(select, result);
            });
        }
        function carregarListaAging() {
            var select = $("#ValorSelect");
            $.ajax({
                url: '@Url.Action("ListaAging")',
                type: 'post',
                dataType: 'json'
            }).success(function (result) {
                popularDropoDownList(select, result);
            });
        }
        function carregarListaFase() {
            var select = $("#ValorSelect");
            $.ajax({
                url: '@Url.Action("ListaFaseSintese")',
                type: 'post',
                dataType: 'json'
            }).success(function (result) {
                popularDropoDownList(select, result);
            });
        }
        function carregarListaTipoBloqueio() {
            var select = $("#ValorSelect");
            $.ajax({
                url: '@Url.Action("ListaTipoBloqueio")',
                type: 'post',
                dataType: 'json'
            }).success(function (result) {
                popularDropoDownList(select, result);
            });
        }
        function excluir(cod) {
            if (confirm("Deseja excluir?")) {
                $.ajax({
                    url: '@Url.Action("ExcluirCondicao")',
                    data: { Cod: cod }, type: 'post', dataType: 'json'

                }).success(function (o) {
                    if (o.OK) {
                        cancelar();
                    } else {
                        alert(o.Mensagem);
                    }
                });
            }
        }
    </script>
}