﻿@model List<Cobranca.Db.Models.TabelaCampanha>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-regua";
    int count = 1;
    List<Cobranca.Db.Models.TabelaAcaoCobranca> _acoes = new List<Cobranca.Db.Models.TabelaAcaoCobranca>();

    if (ViewBag.ListaAcoes != null)
    {
        _acoes = (List<Cobranca.Db.Models.TabelaAcaoCobranca>)ViewBag.ListaAcoes;
    }
}

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active btn-min-width text-center"><a href="#" role="tab" data-toggle="tab"><i class="fa fa-warning"></i> RÉGUA</a></li>
            <li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("Filtro")"><i class="fa fa-check-square-o"></i> FILTRO</a></li>
            <li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("Excecao")"><i class="fa fa-close"></i> EXCEÇÃO</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="button" onclick="salvarRegua()" class="btn btn-primary btn-min-width btn-sm pull-left ">Salvar</button>
    </div>
</div>
<div class="row margin-top-20">
    <div class="col-md-12">
        <ul class="nav nav-pills nav-justified thumbnail" style="z-index:90">
            <li>
                <div class="modelo-acao">
                    @foreach (var item in _acoes)
                    {
                        <b data-acao-id="@item.Cod" class="btn btn-sm btn-block btn-default modelo-acao-item" >
                            @item.AcaoCobranca <i style="display:none" class="pull-right fa fa-close"></i>
                        </b>
                    }


                </div>
            </li>
            <li class="divider"></li>
            @foreach (var item in Model)
            {


                <li data-tipo-cobranca="@item.Cod" class="active" style="margin-right:2px;">
                    <a href="#" style="height:80px;border-color:#fff;">
                        <h4 class="list-group-item-heading">@count</h4>
                        <p class="list-group-item-text">@item.Campanha</p>
                    </a>
                    <div class="text-center">
                        <i class="fa fa-arrow-down"></i>
                    </div>
                  
                    <div data-tipo-id="@item.Cod" class="tipo-cobranca-acao sortable-content">
                        @foreach (var acoes in item.TabelaCampanhaAcaos)
                        {
                            <b data-acao-id="@acoes.CodAcao" class="btn btn-sm btn-block btn-default modelo-acao-item ui-draggable ui-draggable-handle" data-droped="true">
                                @acoes.TabelaAcaoCobranca.AcaoCobranca<i onclick="excluir(this)" style="" class="pull-right fa fa-close"></i>
                            </b>
                        }
                        <div style="display:none" class="drop-aqui">Arraste aqui a ação</div>
                    </div>


                </li>
                if (Model.LastOrDefault() != item)
                {

                }

                count++;
            }

        </ul>
    </div>

</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $(".tipo-cobranca-acao").droppable({
                accept: '.modelo-acao-item',
                hoverClass: 'dropareahover',
                revert: true,
                drop: function (event, ui) {
                    $(this).find(".drop-aqui").hide();
                    var item = $(ui.draggable).clone();
                    var id = $(ui.draggable).attr("data-acao-id");
                    var found = $(this).find("b[data-acao-id='" + id + "']").length > 0;

                    if (!found && !item.attr("data-droped")) {
                        item.attr("data-droped", true);
                        item.find("i").show();
                        item.find("i").click(function () {
                            item.remove();
                        });
                        $(this).prepend(item);
                    };

                    //$("#container .product").addClass("item");
                    //$(".item").removeClass("ui-draggable product");
                    //$(".item").draggable({
                    //    containment: 'parent',
                    //    grid: [150, 150]
                    //});
                },
                over: function (event, ui) {
                    var e = $(this);
                    var b = ui.draggable.attr("data-droped");
                    if (!b) {
                        e.find(".drop-aqui").show()
                    }

                },
                out: function (event, ui) {
                    var e = $(this);
                    e.find(".drop-aqui").hide()
                }
            });
            $(".modelo-acao-item").draggable({
                helper: 'clone',
                start: function (event, ui) { $(this).css("z-index", 9999); }
            });


            $(".sortable-content").each(function (i, e) {
                var el = $(e);
                var id = el.attr("data-tipo-id");
                el.sortable({
                    connectWith: "[data-tipo-id='" + id + "']",
                });
            });

            //$(".sortable-content").sortable({
            //    connectWith: ".sortable-content",
            //});
            //$("ul.dropfalse").sortable({
            //    connectWith: "ul",
            //    dropOnEmpty: false
            //});
        });
        function salvarRegua() {
            var dados = [];
            $("[data-tipo-cobranca]").each(function (i, e) {
                var tipoCobranca = $(e);
                var TipoCobrancaId = tipoCobranca.attr("data-tipo-cobranca");

                var acoes = tipoCobranca.find("[data-acao-id]");
                var arrAcoes = [];

                $(acoes).each(function (i, e) {
                    var acaoId = $(e).attr("data-acao-id");
                    arrAcoes.push(acaoId);
                });

                dados.push({
                    CodCampanha: TipoCobrancaId,
                    Acoes: arrAcoes.join(",")
                });
            });
            //console.log($(dados).serialize());
            //return;
            $.ajax({
                url: '@Url.Action("ReguaSalvar")',
                data: JSON.stringify({ dados: dados }),
                type: 'post',
                dataType: 'json',
                contentType: "application/json",
            }).success(function (o) {
                if (o.OK) {
                    alert("Operação realizada com sucesso");
                    document.location.reload(true);                    
                } else {
                    alert(o.Mensagem);
                }
            });
        }
        function excluir(e) {
            $(e).parent().remove();
        }
    </script>
}