﻿@model Cobranca.Db.Models.Cliente
@using Cobranca.Rotinas;
@{
    ViewBag.Title = "Cliente";

    List<Cobranca.Db.Models.ClienteContato> _listaContatos = new List<Cobranca.Db.Models.ClienteContato>();
    if (ViewBag.ClienteContatos != null)
    {
        _listaContatos = (List<Cobranca.Db.Models.ClienteContato>)ViewBag.ClienteContatos;
    }
    List<Cobranca.Db.Models.ClienteEndereco> _listaClienteEnderecos = new List<Cobranca.Db.Models.ClienteEndereco>();
    if (ViewBag.ClienteTabelaEnderecos != null)
    {
        _listaClienteEnderecos = (List<Cobranca.Db.Models.ClienteEndereco>)ViewBag.ClienteTabelaEnderecos;
    }
}
<style>
    .panel fieldset {
        background-color: rgb(251, 251, 251);
        display: block;
        float: left;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(238, 238, 238);
        border-image: initial;
        border-radius: 1px;
        margin: 0px 4px 4px;
    }

        .panel fieldset legend {
            margin: 0;
            padding: 0;
            text-align: left;
            border: 0 solid #DDD;
            background-color: transparent;
            display: block;
            padding: 0 2px;
            height: 13px;
            margin: 0 -5px -5px;
            -webkit-padding-start: 2px;
            -webkit-padding-end: 2px;
            width: auto;
        }

        .panel fieldset .legend span {
            float: left;
        }


        .panel fieldset > .radio label::before {
            width: 14px;
            height: 14px;
        }

        .panel fieldset > .radio label::after {
            width: 10px;
            height: 10px;
            left: 2px;
            top: 2px;
        }

        .panel fieldset .legend_label {
            color: rgb(119, 119, 119);
            font-size: 10px;
            text-transform: uppercase;
            line-height: 16px;
            text-indent: 5px;
            margin-right: 5px;
        }

    .panel .fieldset .field {
        margin: 2px 2px 0px;
    }

    .panel .field {
        display: block;
        float: left;
        position: relative;
        padding: 2px;
        margin: 2px 2px 5px;
    }



    fieldset > .radio {
        text-align: left;
        margin: 10px !important;
    }

    .panel .radio label {
        cursor: pointer;
        position: relative;
    }

    .panel .field label {
        color: rgb(51, 51, 51);
        display: block;
        float: left;
        font-size: 11px;
        height: 18px;
        position: relative;
        margin: 0px;
    }

    .removeClone {
        background: #FFF url(../../Content/img/clear.png) no-repeat center center;
        cursor: pointer;
        display: block;
        height: 23px;
        position: absolute;
        top: 5px;
        right: 17px;
        width: 23px;
        z-index: 5;
    }
</style>

@Html.Hidden("Cod", Model.Cod)
@Html.HiddenFor(m => m.DataCadastro)
@Html.HiddenFor(m => m.DataAlteracao)
@Html.HiddenFor(m => m.DataExcluido)
@Html.ValidationBootstrapModal()
@Html.AntiForgeryToken()
@Html.Modal()
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-sm btn-primary pull-left btn-min-width " id="btnSalvarContato" style="margin-bottom:0px; margin-bottom:10px; display:none" type="button" onclick="salvarClienteContato()"><i class="fa fa-save"></i> @Idioma.Traduzir("Salvar Contato")</button>

    </div>
</div>
<div class="row">
    <div class="col-md-12 hide" id="rowButtons">
        
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs nav-junix" role="tablist">
                    <li role="presentation" class="active"><a href="#tab-cliente" role="tab" data-toggle="tab">@Idioma.Traduzir("Dados Pessoais")</a></li>
                    <li role="presentation"><a href="#tab-contatos" role="tab" data-toggle="tab">@Idioma.Traduzir("Contatos") </a></li>
                    <li role="presentation"><a href="#tab-endereco" role="tab" data-toggle="tab">@Idioma.Traduzir("Endereços") </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-cliente">
                <form id="form-cadastro-cliente" action="@Url.Action("Cadastro","Cliente")" class="form" method="POST">
                    <div class="panel panel-default panel-com-tab" id="form-dados-cliente">
                        <div class="panel-body fadeIn">
                            <div class="row area-expantir animated fadeIn " style="">

                                <div class="col-md-12">
                                    <fieldset class="col-md-3  col-sm-4 col-xs-6 fieldset " disabled="disabled">

                                        <legend>
                                            <span class="legend">
                                                <span class="legend_label">Ativo</span>
                                                <span class="input_alert">&nbsp;</span>
                                            </span>
                                        </legend>
                                        <div class="radio radio-inline active">
                                            <input type="radio" id="inlineRadioSim" value="option1" name="RadioAtivo" checked>
                                            <label for="inlineRadioSim">@Idioma.Traduzir("Sim")</label>
                                        </div>
                                        <div class="radio radio-inline">
                                            <input type="radio" id="inlineRadioNao" value="option2" name="RadioAtivo">
                                            <label for="inlineRadioNao">@Idioma.Traduzir("Não")</label>
                                        </div>
                                    </fieldset>
                                    <fieldset class="col-md-6   col-sm-4 col-xs-6 fieldset  " disabled="disabled">
                                        <legend>
                                            <span class="legend">
                                                <span class="legend_label">Modelo</span>
                                            </span>
                                        </legend>
                                        <div class="radio radio-inline active">
                                            @if (Model.CPF.Length <= 12)
                                            {
                                            <input type="radio" id="inlineRadioFisica" value="1" name="radioTipoPessoa" checked>
                                            }
                                            else
                                            {
                                            <input type="radio" id="inlineRadioFisica" value="1" name="radioTipoPessoa">
                                            }
                                            <label for="inlineRadioFisica">@Idioma.Traduzir("Pessoa Física")</label>
                                        </div>
                                        <div class="radio radio-inline">
                                            @if (Model.CPF.Length >= 12)
                                            {
                                            <input type="radio" id="inlineRadioJuridica" value="2" name="radioTipoPessoa" checked>
                                            }
                                            else
                                            {
                                            <input type="radio" id="inlineRadioJuridica" value="2" name="radioTipoPessoa">
                                            }
                                            <label for="inlineRadioJuridica">@Idioma.Traduzir("Pessoa Jurídica")</label>
                                        </div>
                                    </fieldset>
                                    @*<fieldset class="col-md-3  col-sm-4 col-xs-12 fieldset ">
                                            <legend><span class="legend"><span class="legend_label">Data de Criação</span><span class="input_alert">&nbsp;</span></span></legend>
                                            <p class="field col-md-12">
                                                <span class="input" rel="data_cadastro" style="">
                                                    <input class="text-center " disabled="disabled" id="data_cadastro" name="data_cadastro" style="font-size:14px; margin: 3px 5px 5px 0px" type="text" value="@String.Format("{0:dd/MM/yyyy}", Model.DataCadastro)">
                                                </span>
                                            </p>

                                        </fieldset>*@
                                </div>
                                <div class="col-md-12 ">
                                    <fieldset class="col-md-8  col-sm-12 col-xs-12 fieldset ">
                                        <legend style="margin-bottom:20px;">
                                            <span class="legend">
                                                <span class="legend_label legend-tipo-pessoa">@Idioma.Traduzir("DADOS DE PESSOA JURÍDICA")</span>
                                            </span>
                                        </legend>
                                        @Html.Hidden("Cod", 0)
                                        @Html.Hidden("CodigoCliente", Model.Cod)
                                        @Html.Hidden("CodContrato", Model.Cod)

                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group-sm">
                                                    <label for="CodCliente">@Idioma.Traduzir("CodCliente")</label>
                                                    @Html.TextBox("CodCliente", Model.CodCliente != null ? Model.CodCliente : "", new { @class = "form-control input-silver", disabled = "disabled", data_edit = "false" })
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="form-group-sm">
                                                    <label id="labelNomeCliente" for="NomeCliente">@Idioma.Traduzir("Nome")</label>
                                                    @Html.TextBox("Nome", Model.Nome != null ? Model.Nome : "", new { @class = "form-control input-silver", disabled = "disabled", data_edit = "false" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group-sm">
                                                    @if (Model.PessoaTipo == (short)Cobranca.Db.Models.Enumeradores.TipoPessoa.Juridica)
            {
                                                    <label id="labelCNPJ" for="labelCNPJ">CNPJ</label>
                                                    <label id="labelCPF" for="labelCNPJ" style="display:none">CPF</label>
                                                    }
                                                    else
                                                    {
                                                    <label id="labelCPF" for="labelCPF">CPF</label>
                                                    <label id="labelCNPJ" for="labelCPF" style="display:none">CNPJ</label>
                                                    }
                                                    @Html.TextBox("CPF", Model.CPF != null ? Cobranca.Db.Rotinas.DbRotinas.formatarCpfCnpj(Model.CPF) : "", new { @class = "form-control input-silver", required = "required", disabled = "disabled", data_edit = "false" })
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group-sm" id="PrimeiroNome">
                                                    <label for="PrimeiroNome">@Idioma.Traduzir("Razão Social")</label>
                                                    @Html.TextBox("PrimeiroNome", Model.PrimeiroNome != null ? Model.CPF : "", new { @class = "form-control input-silver", required = "required", disabled = "disabled", data_edit = "false" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group-sm" id="NomeResponsavel">
                                                    <label for="Responsavel">@Idioma.Traduzir("Responsavel")</label>
                                                    @Html.TextBox("NomeResponsavel", Model.NomeResponsavel, new { @class = "form-control input-silver", required = "required", disabled = "disabled", data_edit = "true" })
                                                </div>
                                            </div>
                                            <div class="col-sm-12" style="margin-bottom:10px;">
                                                <div class="form-group-sm">
                                                    <label for="InformacaoAdicional">@Idioma.Traduzir("Informação Adicional")</label>
                                                    @Html.TextArea("InformacaoAdicional", Model.InformacaoAdicional, new { @class = "form-control input-silver", disabled = "disabled", data_edit = "true" })
                                                </div>
                                            </div>
                                        </div>

                                        <hr class="clear" size="1">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group-sm">
                                                    <label for="CEP">@Idioma.Traduzir("CEP")</label>
                                                    @Html.TextBox("CEP", Model.CEP, new { @class = "form-control input-silver", disabled = "disabled", data_edit = "true", data_mask = "cep" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group-sm">
                                                    <label for="Endereco">@Idioma.Traduzir("Logradouro")</label>
                                                    @Html.TextBox("Endereco", Model.Endereco, new { @class = "form-control input-silver", disabled = "disabled", data_edit = "true" })
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group-sm">
                                                    <label for="Numero">@Idioma.Traduzir("Número")</label>
                                                    @Html.TextBox("EnderecoNumero", Model.EnderecoNumero, new { @class = "form-control input-silver", disabled = "disabled", data_edit = "true" })
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group-sm">
                                                    <label for="EnderecoComplemento">@Idioma.Traduzir("Complemento")</label>
                                                    @Html.TextBox("EnderecoComplemento", Model.EnderecoComplemento, new { @class = "form-control input-silver", disabled = "disabled", data_edit = "true" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group-sm">
                                                    <label for="Bairro">@Idioma.Traduzir("Bairro")</label>
                                                    @Html.TextBox("Bairro", Model.Bairro, new { @class = "form-control input-silver", disabled = "disabled", data_edit = "true" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group-sm">
                                                    <label for="Cidade">@Idioma.Traduzir("Cidade")</label>
                                                    @Html.TextBox("Cidade", Model.Cidade, new { @class = "form-control input-silver", disabled = "disabled", data_edit = "true" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group-sm">
                                                    <label for="UF">@Idioma.Traduzir("UF")</label>
                                                    @Html.TextBox("UF", Model.UF, new { @class = "form-control input-silver", disabled = "disabled", data_edit = "true" })
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                    <fieldset class="col-md-3  col-sm-6 col-xs-12 fieldset ">
                                        <legend style="margin-bottom:20px;">
                                            <span class="legend">
                                                <span class="legend_label ">@Idioma.Traduzir("PRINCIPAIS CONTATOS")</span>
                                            </span>
                                        </legend>
                                        @foreach (var contato in _listaContatos.Where(x => x.ContatoHOT == true))
                                        { <div class="col-md-12">
                                            <div class="form-group-sm" id="NomeResponsavel">
                                                <label for="Responsavel">@Idioma.Traduzir("Contato")</label>
                                                @Html.TextBox("ContatoPrincipal", contato.Contato, new { @class = "form-control input-silver", required = "required", disabled = "disabled" })
                                            </div>
                                        </div>
                                        }
                                    </fieldset>
                                </div>


                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-contatos">
                <div class="panel panel-default panel-com-tab" id="form-contato">
                    <form id="form-cadastro-cliente-contato" action="@Url.Action("SalvarContato","Cliente")" class="form" method="POST">
                        <div class="panel-body fadeIn">
                            <fieldset class="col-md-12 fieldset ">
                                <legend style="margin-bottom:20px">
                                    <span class="legend">
                                        <span class="legend_label">Contatos</span>
                                    </span>
                                </legend>
                                @foreach (var contato in _listaContatos)
                                {
                                @Html.Hidden("Cod", contato.Cod);
                                @Html.Hidden("CodCliente", contato.CodCliente);
                                <div class="row" id="@contato.Cod" data-elem-clone="contato">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="row text-silver">
                                                    <span class="removeClone" onclick="removerContato(@contato.Cod,$(this))" data-contrato="@contato.Cod" title="Remover">&nbsp;</span>
                                                    <div class="col-md-12 label-dados">
                                                        @*<div class="col-xs-6 col-md-3 col-lg-2">
                                                            <div class="form-group-sm">
                                                                <label for="CodCliente">@Idioma.Traduzir("Tipo de Cadastro")</label>
                                                                @Html.DropDownList("CodTipoCadastro", new SelectList(ViewBag.dropTipoCadastro, "key", "value", Cobranca.Db.Rotinas.DbRotinas.ConverterParaInt(contato.CodTipoCadastro)), new { @class = "form-control input-silver", data_elem = contato.Cod })
                                                            </div>
                                                        </div>*@
                                                        <div class="col-xs-6 col-md-3 col-lg-2">
                                                            <div class="form-group-sm">
                                                                <label for="Tipo">@Idioma.Traduzir("Tipo de Contato")</label>
                                                                @Html.DropDownList("Tipo", new SelectList(ViewBag.dropTipoContato, "value", "key", Cobranca.Db.Rotinas.DbRotinas.ConverterParaInt(contato.Tipo)), new { @class = "form-control input-silver", data_elem = contato.Cod })
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-6 col-md-3 col-lg-2">
                                                            <div class="form-group-sm">
                                                                <label for="CodCliente">@Idioma.Traduzir("Contato")</label>
                                                                @Html.TextBox("Contato", contato.Contato, new { @class = "form-control input-silver", data_elem = contato.Cod })
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6 col-md-3 col-lg-4">
                                                            <div class="form-group-sm">
                                                                <label for="Descricao">@Idioma.Traduzir("Detalhes")</label>
                                                                @Html.TextBox("Descricao", contato.Descricao, new { @class = "form-control input-silver", data_elem = contato.Cod })
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6 col-md-3 col-lg-2" style="margin-top:15px">
                                                            <div class="checkbox checkbox-success">
                                                                @if (contato.ContatoHOT == true)
                                                                    {
                                                                <input id="ContatoHOT" type="checkbox" data-elem="@contato.Cod" name="ContatoHOT" checked />
                                                                    }
                                                                    else
                                                                    {
                                                                <input id="ContatoHOT" type="checkbox" data-elem="@contato.Cod" name="ContatoHOT" />
                                                                    }

                                                                <label for="ContatoHOT_@contato.Cod">
                                                                    @Idioma.Traduzir("Principal")
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <hr class="clear" size="1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                                <div class="addFormContato"></div>
                                <button class="btn btn-sm btn-primary pull-left" id="btnNovoContato" style="margin-bottom:0px; margin-bottom:10px;" type="button"><i class="fa fa-plus"></i> @Idioma.Traduzir("Novo")</button>

                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-endereco">
                <div class="panel panel-default panel-com-tab" id="form-contato">
                    <form id="form-cadastro-cliente-endereco" action="@Url.Action("SalvarEndereco","Cliente")" class="form" method="POST">
                        <div class="panel-body fadeIn">
                            @foreach (var clienteEndereco in _listaClienteEnderecos)
                            {
                            @Html.Hidden("Cod", clienteEndereco.TabelaEndereco.Cod)
                            <div class="row" id="@clienteEndereco.TabelaEndereco.Cod">
                                <div class="col-md-12">
                                    <fieldset class="col-md-12 col-xs-12 fieldset ">
                                        <legend style="margin-bottom:20px;">
                                            <span class="legend">
                                                <span class="legend_label legend-tipo-pessoa">@Cobranca.Db.Models.EnumeradoresDescricao.ClienteEnderecoTipo(clienteEndereco.TipoEndereco) - <b>@Cobranca.Db.Rotinas.DbRotinas.Descriptografar(clienteEndereco.Contrato.NumeroContrato)</b></span>
                                            </span>
                                        </legend>
                                        @Html.Hidden("Cod", 0)
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group-sm">
                                                    <label for="CEP">@Idioma.Traduzir("CEP")</label>
                                                    @Html.TextBox("CEP", clienteEndereco.TabelaEndereco.CEP, new { @class = "form-control input-silver", disabled = "disabled", data_edit = "true", data_mask = "cep" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group-sm">
                                                    <label for="Endereco">@Idioma.Traduzir("Logradouro")</label>
                                                    @Html.TextBox("Endereco", clienteEndereco.TabelaEndereco.Endereco, new { @class = "form-control input-silver", disabled = "disabled", data_edit = "true" })
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group-sm">
                                                    <label for="Numero">@Idioma.Traduzir("Número")</label>
                                                    @Html.TextBox("Numero", clienteEndereco.TabelaEndereco.Numero, new { @class = "form-control input-silver", disabled = "disabled", data_edit = "true" })
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group-sm">
                                                    <label for="EnderecoComplemento">@Idioma.Traduzir("Complemento")</label>
                                                    @Html.TextBox("Complemento", clienteEndereco.TabelaEndereco.Complemento, new { @class = "form-control input-silver", disabled = "disabled", data_edit = "true" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group-sm">
                                                    <label for="Bairro">@Idioma.Traduzir("Bairro")</label>
                                                    @Html.TextBox("Bairro", clienteEndereco.TabelaEndereco.Bairro, new { @class = "form-control input-silver", disabled = "disabled", data_edit = "true" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group-sm">
                                                    <label for="Cidade">@Idioma.Traduzir("Cidade")</label>
                                                    @Html.TextBox("Cidade", clienteEndereco.TabelaEndereco.Cidade, new { @class = "form-control input-silver", disabled = "disabled", data_edit = "true" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group-sm">
                                                    <label for="UF">@Idioma.Traduzir("UF")</label>
                                                    @Html.TextBox("UF", clienteEndereco.TabelaEndereco.UF, new { @class = "form-control input-silver", disabled = "disabled", data_edit = "true" })
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>

                            </div>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

