﻿@model Cobranca.Db.Models.ClienteContato
@using Cobranca.Rotinas;
@{
}
<style type="text/css">
    .label-dados > .pull-left {
        margin-right: 16px !important;
        margin-bottom: 10px;
    }

        .label-dados > .pull-left > label {
            line-height: 0px !important;
            display: block;
        }

        .label-dados > .pull-left > b {
            margin-bottom: 10px !important;
        }

    .removeClone {
        background: #FFF url(../../Content/img/clear.png) no-repeat center center;
        cursor: pointer;
        display: block;
        height: 23px;
        position: absolute;
        top: 5px;
        right: 17px;
        width: 23px;
        z-index: 5;
    }
</style>
@Html.Hidden("Cod", Model.Cod)
@Html.Hidden("CodCliente", Model.CodCliente)
@Html.Hidden("CodTipoCadastro", Model.CodTipoCadastro)
<div class="row animated fadeIn" id="@Model.Cod" data-elem-clone="contato">
    
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row text-silver">
                    <span class="removeClone" onclick="removerContato(@Model.Cod,$(this))" title="Remover">&nbsp;</span>
                    <div class="col-md-12 label-dados">
                        @*<div class="col-xs-6 col-md-3 col-lg-2">
                                <div class="form-group-sm">
                                    <label for="CodCliente">@Idioma.Traduzir("Tipo de Cadastro")</label>
                                    @Html.DropDownList("CodTipoCadastro", new SelectList(ViewBag.dropTipoCadastro, "key", "value", Cobranca.Db.Rotinas.DbRotinas.ConverterParaInt(Model.CodTipoCadastro)), new { @class = "form-control input-silver", data_elem = Model.Cod })
                                </div>
                            </div>*@
                        <div class="col-xs-6 col-md-3 col-lg-2">
                            <div class="form-group-sm">
                                <label for="Tipo">@Idioma.Traduzir("Tipo de Contato")</label>
                                @Html.DropDownList("Tipo", new SelectList(ViewBag.dropTipoContato, "value", "key", Cobranca.Db.Rotinas.DbRotinas.ConverterParaInt(Model.Tipo)), new { @class = "form-control input-silver", data_elem = Model.Cod })
                            </div>
                        </div>

                        <div class="col-xs-6 col-md-3 col-lg-2">
                            <div class="form-group-sm">
                                <label for="CodCliente">@Idioma.Traduzir("Contato")</label>
                                @Html.TextBox("Contato", Model.Contato, new { @class = "form-control input-silver", data_elem = Model.Cod })
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3 col-lg-4">
                            <div class="form-group-sm">
                                <label for="Descricao">@Idioma.Traduzir("Detalhes")</label>
                                @Html.TextBox("Descricao", Model.Descricao, new { @class = "form-control input-silver", data_elem = Model.Cod })
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3 col-lg-2" style="margin-top:15px">
                            <div class="checkbox checkbox-success">

                                <input id="ContatoHOT" type="checkbox" data-elem="@Model.Cod" name="ContatoHOT" checked />

                                <label for="ContatoHOT_@Model.Cod">
                                    @Idioma.Traduzir("Principal")
                                </label>
                            </div>
                        </div>
                        <hr class="clear" size="1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>