﻿@model Cobranca.Db.Models.Cliente
@{
    var clientePrincipal = Model.ContratoClientes.OrderBy(x => x.Cod).FirstOrDefault();
    if (clientePrincipal == null)
    {
        clientePrincipal = new Cobranca.Db.Models.ContratoCliente();
    }
    var fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true;
    List<Cobranca.Db.Models.ClienteContato> _listaContatos = new List<Cobranca.Db.Models.ClienteContato>();
    if (ViewBag.ClienteContatos != null)
    {
        _listaContatos = (List<Cobranca.Db.Models.ClienteContato>)ViewBag.ClienteContatos;
    }
    
}
<style type="text/css">
    .label-dados > .pull-left {
        margin-right: 16px !important;
        margin-bottom: 10px;
    }

        .label-dados > .pull-left > label {
            line-height: 0px !important;
            display: block;
        }

        .label-dados > .pull-left > b {
            margin-bottom: 10px !important;
        }
</style>
<div class="row" id="headerdados">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row text-silver">
                    <div class="col-md-12 label-dados">
                        <div class="pull-left">
                            <label>Cliente:</label>
                            <b>@Model.Nome</b>
                        </div>
                        <div class="pull-left">
                            <label>CPF / CNPJ :</label>
                            <b>@Model.CPF</b>
                        </div>
                        @foreach (var contato in _listaContatos.Where(x=> x.ContatoHOT == true))
                        {
                            <div class="pull-left ">
                                <label>@Cobranca.Db.Models.EnumeradoresDescricao.ContatoTipo(contato.Tipo):</label>
                                <b>@contato.Contato</b>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>