﻿@model Cobranca.Db.Models.Pesquisa.FiltroGeralDados
@using Cobranca.Rotinas;
@{
    var _perfilTipo = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo;
}

<form id="form-filter-switcher" action="@Url.Action("FiltroGeralShwitcher","Pesquisa")" class="form-inline" method="POST">
    <div class="body-filter">
        @if ((bool)Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Admin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Escritorio || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.RegionalAdmin)
        {
            <div class="" style="margin-bottom:0 !important;margin-top:0;">
                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#tabs0" data-target="#tabRegional" style="border-bottom: 1px solid #f0f0f0;">
                    <h5 class="accordion-toggle" style="margin-bottom:2px; margin-top:2px;">&nbsp;&nbsp;@Idioma.Traduzir("Filial"):</h5>
                </div>
                <div id="tabRegional" class="panel-collapse collapse" style="border-top: 1px solid #c76161;">
                    <div class="panel-body">
                        <select id="RegionalIds" name="RegionalIds" class="form-control input-silver selectpicker" multiple data-actions-box="true">
                            @foreach (SelectListItem item in ((SelectList)ViewBag.ListaRegional).Items)
                            {
                                if (item.Selected)
                                {
                                    <option value="@item.Value" class="selected">@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }

                            }
                        </select>
                    </div>
                </div>
            </div>
        }
        @if ((bool)Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Admin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Escritorio || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.RegionalAdmin)
        {
            <div class="" style="margin-bottom:0 !important;margin-top:0;">
                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#tabs0" data-target="#tabProduto" style="border-bottom: 1px solid #f0f0f0;">
                    <h5 class="accordion-toggle" style="margin-bottom:2px; margin-top:2px;">&nbsp;&nbsp;@Idioma.Traduzir("Produto"):</h5>
                </div>
                <div id="tabProduto" class="panel-collapse collapse" style="border-top: 1px solid #c76161;">
                    <div class="panel-body">
                        <select id="ProdutosIds" name="ProdutosIds" class="form-control input-silver selectpicker" multiple data-actions-box="true">
                            @foreach (SelectListItem item in ((SelectList)ViewBag.ListaProduto).Items)
                            {
                                if (item.Selected)
                                {
                                    <option value="@item.Value" class="selected">@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }

                            }
                        </select>
                    </div>
                </div>
            </div>
        }
        @if ((bool)Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Admin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Escritorio || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.RegionalAdmin)
        {
            <div class="" style="margin-bottom:0 !important;margin-top:0;">
                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#tabs0" data-target="#tabAging" style="border-bottom: 1px solid #f0f0f0;">
                    <h5 class="accordion-toggle" style="margin-bottom:2px; margin-top:2px;">&nbsp;&nbsp;@Idioma.Traduzir("Aging"):</h5>
                </div>
                <div id="tabAging" class="panel-collapse collapse" style="border-top: 1px solid #c76161;">
                    <div class="panel-body">
                        <select id="agingIds" name="agingIds" class="form-control input-silver selectpicker" multiple data-actions-box="true">
                            @foreach (SelectListItem item in ((SelectList)ViewBag.ListaAging).Items)
                            {
                                if (item.Selected)
                                {
                                    <option value="@item.Value" class="selected">@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }

                            }
                        </select>
                    </div>
                </div>
            </div>
        }
        @if (Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Escritorio || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.RegionalAdmin)
        {
            <div class="" style="margin-bottom:0 !important;margin-top:0;">
                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#tabs0" data-target="#tabAtentendes" style="border-bottom: 1px solid #f0f0f0;">
                    <h5 class="accordion-toggle" style="margin-bottom:2px; margin-top:2px;">&nbsp;&nbsp;@Idioma.Traduzir("Atendentes"):</h5>
                </div>
                <div id="tabAtentendes" class="panel-collapse collapse" style="border-top: 1px solid #c76161;">
                    <div class="panel-body">
                        <div class="form-group-sm">
                            @Html.DropDownList("CodUsuarioAtendimento", new SelectList(ViewBag.ListaUsuarioAtendimento, "Cod", "Nome", Model.CodUsuarioAtendimento), new { @class = "form-control input-silver", style = "width:100%" })
                        </div>
                    </div>
                </div>
            </div>
        }
        @*<div class="" style="margin-bottom:0 !important;margin-top:0;">
            <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#tabs0" data-target="#tabCliente" style="border-bottom: 1px solid #f0f0f0;">
                <h5 class="accordion-toggle" style="margin-bottom:2px; margin-top:2px;">&nbsp;&nbsp;@Idioma.Traduzir("AN8"):</h5>
            </div>
            <div id="tabCliente" class="panel-collapse collapse" style="border-top: 1px solid #c76161;">
                <div class="panel-body">
                    <div class="form-group-sm text-danger">
                        @Html.TextBox("CodigoCliente", Model.CodigoCliente, new { @class = "form-control", style = "width:100%", placeholder = "AN8" })
                    </div>
                </div>
            </div>
        </div>*@
        <div class="" style="margin-bottom:0 !important;margin-top:0;">
            <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#tabs0" data-target="#tabContrato" style="border-bottom: 1px solid #f0f0f0;">
                <h5 class="accordion-toggle" style="margin-bottom:2px; margin-top:2px;">&nbsp;&nbsp;@Idioma.Traduzir("Contrato"):</h5>
            </div>
            <div id="tabContrato" class="panel-collapse collapse" style="border-top: 1px solid #c76161;">
                <div class="panel-body">
                    <div class="form-group-sm text-danger">
                        @Html.TextBox("NumeroContrato", Model.NumeroContrato, new { @class = "form-control", style = "width:100%", placeholder = "Nº do Contrato" })
                    </div>
                </div>
            </div>
        </div>

        <div class="" style="margin-bottom:0 !important;margin-top:0;">
            <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#tabs0" data-target="#tabFatura" style="border-bottom: 1px solid #f0f0f0;">
                <h5 class="accordion-toggle" style="margin-bottom:2px; margin-top:2px;">&nbsp;&nbsp;@Idioma.Traduzir("Nr.Documento"):</h5>
            </div>
            <div id="tabFatura" class="panel-collapse collapse" style="border-top: 1px solid #c76161;">
                <div class="panel-body">
                    <div class="form-group-sm text-danger">
                        @Html.TextBox("NumeroFatura", Model.NumeroFatura, new { @class = "form-control", style = "width:100%", placeholder = "Nº Documento" })
                    </div>
                </div>
            </div>
        </div>
        <div class="" style="margin-bottom:0 !important;margin-top:0;">
            <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#tabs0" data-target="#tabNotaFiscal" style="border-bottom: 1px solid #f0f0f0;">
                <h5 class="accordion-toggle" style="margin-bottom:2px; margin-top:2px;">&nbsp;&nbsp;@Idioma.Traduzir("Nr.Fatura(NF)"):</h5>
            </div>
            <div id="tabNotaFiscal" class="panel-collapse collapse" style="border-top: 1px solid #c76161;">
                <div class="panel-body">
                    <div class="form-group-sm text-danger">
                        @Html.TextBox("NotaFiscal", Model.NotaFiscal, new { @class = "form-control", style = "width:100%", placeholder = Idioma.Traduzir("Nr.Fatura(NF)") })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 margin-top-18">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-sm btn-primary" data-role="apply_filter">Filtrar</button>
            <button type="button" class="btn btn-sm btn-default" data-role="clear_filter" style="margin-left:4px">Limpar</button>
            <button type="button" onclick="$('.trigger').click()" class="btn btn-sm btn-default" style="margin-left:4px">Fechar</button>
        </div>
    </div>
</form>
