﻿@model String
@{
    var fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true;
    var user = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado();
}
@using Cobranca.Rotinas;
<div class="col-md-12">
    <ul class="nav nav-tabs text-silver nav-menu-pesquisa" style="font-size:16px;" role="tablist">
        <li class="@String.Format("{0}",Model == "aba-dados"? "active": "") text-center" style=""><a href="@Url.Action("ResultadoCliente")"><i class="fa fa-list fa-2x"></i><br />@Idioma.Traduzir("Dados")</a></li>
        @if (fgSistemaCobranca)
        {
            <li class="@String.Format("{0}",Model == "aba-contrato"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("ContratoPorCliente")"><i class="fa fa-file-text fa-2x"></i><br />@Idioma.Traduzir("Contrato")</a></li>
        }
        else
        {
            <li class="@String.Format("{0}",Model == "aba-contrato"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("Contrato")"><i class="fa fa-file-text fa-2x"></i><br />Simulação/Proposta</a></li>
        }

        <li class="@String.Format("{0}",Model == "aba-cliente"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("ClienteGeral")"><i class="fa fa-users fa-2x"></i><br />@Idioma.Traduzir("Cliente")</a></li>
        <li class="@string.Format("{0}", Model == "aba-negociacao"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("Negociacao")"><i class="fa fa-fax fa-2x"></i><br />@Idioma.Traduzir("Negociação")</a></li>
        <li class="@String.Format("{0}",Model == "aba-historico"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("HistoricoCliente")"><i class="fa fa-clock-o fa-2x"></i><br />@Idioma.Traduzir("Histórico")</a></li>
        @if (fgSistemaCobranca)
        {
            @*<li class="@String.Format("{0}",Model == "aba-parcela-atrasada"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("ParcelaClienteAtrasada")"><i class="fa fa-exclamation-circle fa-2x"></i><br />@Idioma.Traduzir("Em Atraso")</a></li>
                <li class="@String.Format("{0}",Model == "aba-parcela-vencer"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("ParcelaClienteAvencer")"><i class="fa fa-dollar fa-2x"></i><br />@Idioma.Traduzir("A Vencer")</a></li>
                <li class="@String.Format("{0}",Model == "aba-parcela-pagas"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("ParcelaClientePagas")"><i class="fa fa-check-square-o fa-2x"></i><br />@Idioma.Traduzir("Parcelas Pagas")</a></li>
                <li class="@String.Format("{0}",Model == "aba-parcela"? "active": "") menu-ativar text-center hide" style=""><a href="@Url.Action("Parcela")"><i class="fa fa-money fa-2x"></i><br />@Idioma.Traduzir("Parcelas")</a></li>*@
            <li class="@String.Format("{0}",Model == "aba-parcela-credito"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("ClienteCredito")"><i class="fa fa-euro fa-2x"></i><br />@Idioma.Traduzir("Crédito")</a></li>
            @*<li class="@String.Format("{0}",Model == "aba-simulacao"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("SimulacaoProposta")"><i class="fa fa-pencil-square fa-2x"></i><br />Simulação de Proposta</a></li>
                <li class="@String.Format("{0}",Model == "aba-servicos"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("Servicos")"><i class="fa fa-envelope-o fa-2x"></i><br />Serviços Financeiros</a></li>*@
        }

        <li class="@String.Format("{0}",Model == "aba-documentos"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("DocumentosCliente")"><i class="fa fa-files-o fa-2x"></i><br />@Idioma.Traduzir("Documentos")</a></li>
        @if (fgSistemaCobranca)
        {
            @*<li class="@String.Format("{0}",Model == "aba-despesas"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("DespesasCliente")"><i class="fa fa-bar-chart-o fa-2x"></i><br />@Idioma.Traduzir("Despesas")</a></li>*@
        }
        @*<li class="@String.Format("{0}",Model == "aba-acordo"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("AcordoCliente")"><i class="fa fa-thumbs-up fa-2x"></i><br />Acordo</a></li>*@



    </ul>
</div>
