﻿@model String
@{
    var fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true;
    var user = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado();
}

<div class="col-md-12">
    <ul class="nav nav-tabs text-silver nav-menu-pesquisa" style="font-size:16px;" role="tablist">
        <li class="@String.Format("{0}",Model == "aba-dados"? "active": "") text-center" style=""><a href="@Url.Action("ResultadoParcela", "Pesquisa")"><i class="fa fa-list fa-2x"></i><br />Dados</a></li>
        @if (fgSistemaCobranca)
        {
            <li class="@String.Format("{0}",Model == "aba-contrato"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("ContratoPorCliente", "Pesquisa")"><i class="fa fa-file-text fa-2x"></i><br />Contrato</a></li>
        }
        else
        {
            <li class="@String.Format("{0}",Model == "aba-contrato"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("Contrato", "Pesquisa")"><i class="fa fa-file-text fa-2x"></i><br />Simulação/Proposta</a></li>
        }

        <li class="@String.Format("{0}",Model == "aba-cliente"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("ClienteGeral", "Pesquisa")"><i class="fa fa-users fa-2x"></i><br />Cliente</a></li>
        <li class="@string.Format("{0}", Model == "aba-negociacao"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("Negociacao", "Pesquisa")"><i class="fa fa-fax fa-2x"></i><br />Negociação</a></li>
        <li class="@String.Format("{0}",Model == "aba-historico"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("HistoricoCliente", "Pesquisa")"><i class="fa fa-clock-o fa-2x"></i><br />Histórico</a></li>
        @if (fgSistemaCobranca)
        {
            @*<li class="@String.Format("{0}",Model == "aba-parcela-atrasada"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("ParcelaClienteAtrasada", "Pesquisa")"><i class="fa fa-exclamation-circle fa-2x"></i><br />Em Atraso</a></li>
                <li class="@String.Format("{0}",Model == "aba-parcela-vencer"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("ParcelaClienteAvencer", "Pesquisa")"><i class="fa fa-dollar fa-2x"></i><br />A Vencer</a></li>
                <li class="@String.Format("{0}",Model == "aba-parcela-pagas"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("ParcelaClientePagas", "Pesquisa")"><i class="fa fa-check-square-o fa-2x"></i><br />Parcelas Pagas</a></li>
                <li class="@String.Format("{0}",Model == "aba-parcela"? "active": "") menu-ativar text-center hide" style=""><a href="@Url.Action("Parcela", "Pesquisa")"><i class="fa fa-money fa-2x"></i><br />Parcelas</a></li>*@
            <li class="@String.Format("{0}",Model == "aba-parcela-credito"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("ClienteCredito", "Pesquisa")"><i class="fa fa-euro fa-2x"></i><br />Crédito</a></li>
            @*<li class="@String.Format("{0}",Model == "aba-simulacao"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("SimulacaoProposta", "Pesquisa")"><i class="fa fa-pencil-square fa-2x"></i><br />Simulação de Proposta</a></li>
                <li class="@String.Format("{0}",Model == "aba-servicos"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("Servicos", "Pesquisa")"><i class="fa fa-envelope-o fa-2x"></i><br />Serviços Financeiros</a></li>*@
        }

        <li class="@String.Format("{0}",Model == "aba-documentos"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("DocumentosCliente", "Pesquisa")"><i class="fa fa-files-o fa-2x"></i><br />Documentos</a></li>
        @if (fgSistemaCobranca)
        {
            @*<li class="@String.Format("{0}",Model == "aba-despesas"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("DespesasCliente", "Pesquisa")"><i class="fa fa-bar-chart-o fa-2x"></i><br />Despesas</a></li>*@
        }
        @*<li class="@String.Format("{0}",Model == "aba-acordo"? "active": "") menu-ativar text-center" style=""><a href="@Url.Action("AcordoCliente", "Pesquisa")"><i class="fa fa-thumbs-up fa-2x"></i><br />Acordo</a></li>*@



    </ul>
</div>
