﻿@model Cobranca.Db.Models.Cliente
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-pesquisa";
    List<Cobranca.Db.Models.ContratoParcela> parcelas = new List<Cobranca.Db.Models.ContratoParcela>();
    if (ViewBag.parcelasCliente != null)
    {
        parcelas = (List<Cobranca.Db.Models.ContratoParcela>)ViewBag.parcelasCliente;
        parcelas = parcelas.OrderBy(x => x.DataVencimento).ToList();
    }
    List<Cobranca.Db.Models.Acordo> _listaAcordo = new List<Cobranca.Db.Models.Acordo>();
    if (ViewBag.ListaAcordo != null)
    {
        _listaAcordo = (List<Cobranca.Db.Models.Acordo>)ViewBag.ListaAcordo;
    }
}
<div class="row">
    @Html.Partial("_menuPesquisaPorCliente", "aba-acordo")
    <div class="col-md-12">
        <div class="panel panel-default panel-pesquisa-dados">
            <div class="panel-body">
                @Html.Partial("_dados", Model)
                <div class="row">
                    <div class="col-md-12">
                        <div class="row area-expantir animated fadeIn" style="margin-top:10px;">
                            <div class="col-md-12">
                                <ul class="nav nav-tabs nav-junix" role="tablist">
                                    <li role="presentation" class="active"><a href="#TAB-ACORDO" role="tab" data-toggle="tab">ACORDO</a></li>
                                    <li role="presentation" class=""><a href="#TAB-PARCELA-ACORDO" role="tab" data-toggle="tab">PARCELA ACORDO</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-default panel-com-tab" id="form-dados-cliente">
                            <div class="panel-body fadeIn">
                                <div class="row area-expantir animated fadeIn " style="">
                                    <div class="col-md-12">
                                        <div class="tab-content">
                                            <div class="row tab-pane active" role="tabpanel" id="TAB-ACORDO">
                                                <div class="col-md-3">
                                                    <div class="col-md-12">
                                                        <button class="btn btn-sm btn-min-width btn-primary pull-left" style="margin-bottom:6px;" id="btnGerar" type="button" onclick="gerar()"><i class="fa fa-file"></i> GERAR ACORDO</button>
                                                    </div>
                                                    @*@foreach (var parecela in parcelas.Where(x => x.StatusParcela == (short)Cobranca.Db.Models.Enumeradores.StatusParcela.Contrato))
                                                        {
                                                            <div class="col-md-12 text-left">
                                                                <div class="checkbox checkbox-inline checkbox-danger" style="margin-bottom:4px;font-size:14px;">
                                                                    <input data-tipo="parcela" id="@parecela.Cod" name="@parecela.Cod" type="checkbox">
                                                                    <label for="@parecela.Cod">
                                                                        @parecela.FluxoPagamento / @String.Format("{0:C}", parecela.ValorParcela) - (@Cobranca.Db.Models.EnumeradoresDescricao.StatusParcela(parecela.StatusParcela))
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        }
                                                        @foreach (var parecela in parcelas.Where(x => x.StatusParcela == (short)Cobranca.Db.Models.Enumeradores.StatusParcela.EmNegociacao))
                                                        {
                                                            <div class="col-md-12 text-left">
                                                                <div class="checkbox checkbox-inline checkbox-danger" style="margin-bottom:4px;font-size:14px;">
                                                                    <input data-tipo="parcelaNegociacao" disabled id="id_@parecela.Cod" name="id_@parecela.Cod" type="checkbox">
                                                                    <label for="@parecela.Cod">
                                                                        @parecela.FluxoPagamento / @String.Format("{0:C}", parecela.ValorParcela) - (@Cobranca.Db.Models.EnumeradoresDescricao.StatusParcela(parecela.StatusParcela))
                                                                    </label>
                                                                </div>
                                                            </div
                                                            >
                                                        }*@
                                                    <table class="display table data-table2 table-condensed table-hover table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th width="15px;" class="text-center">#</th>
                                                                <th>Nr.Contrato</th>
                                                                <th width="8px">Dt. Vencimento</th>
                                                                <th>Fluxo pgto</th>
                                                                <th>Valor</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var parecela in parcelas.Where(x => x.StatusParcela == (short)Cobranca.Db.Models.Enumeradores.StatusParcela.Contrato && !x.AcordoContratoParcelas.Any(c=>!c.DataExcluido.HasValue)))
                                                            {
                                                                <tr>
                                                                    <td class="select-checkbox" tabindex="0">
                                                                        <div class="checkbox checkbox-inline checkbox-danger" style="margin-bottom:4px;font-size:14px; margin-right: 0; padding-left: 25px;">
                                                                            <input data-tipo="parcela" id="@parecela.Cod" name="@parecela.Cod" type="checkbox">
                                                                            <label for="@parecela.Cod">
                                                                            </label>
                                                                        </div>

                                                                    </td>
                                                                    <td class="text-center">
                                                                        @parecela.Contrato.NumeroContrato
                                                                    </td>
                                                                    <td class="text-center">
                                                                        @String.Format("{0:dd/MM/yyyy}", parecela.DataVencimento)
                                                                    </td>
                                                                    <td class="text-center">
                                                                        @parecela.FluxoPagamento
                                                                    </td>
                                                                    <td class="text-center">
                                                                        @String.Format("{0:C}", parecela.ValorParcela)
                                                                    </td>
                                                                </tr>
                                                            }
                                                            @*@foreach (var parecela in parcelas.Where(x => x.StatusParcela == (short)Cobranca.Db.Models.Enumeradores.StatusParcela.EmNegociacao))
                                                                {
                                                                    <tr style="display: inline-block">
                                                                        <td class="select-checkbox" tabindex="0">
                                                                            <div class="checkbox checkbox-inline checkbox-danger" style="margin-bottom:4px;font-size:14px;">
                                                                                <input data-tipo="parcela" id="@parecela.Cod" disabled name="@parecela.Cod" type="checkbox">
                                                                                <label for="@parecela.Cod">
                                                                                </label>
                                                                            </div>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            @String.Format("{0:dd/MM/yyyy}", parecela.DataVencimento)
                                                                        </td>
                                                                        <td class="text-center">
                                                                            @parecela.FluxoPagamento
                                                                        </td>
                                                                        <td class="text-center">
                                                                            @String.Format("{0:C}", parecela.ValorParcela)
                                                                        </td>
                                                                    </tr>
                                                                }*@
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>

                                                                <th colspan="4" class="text-right">
                                                                    Valor total
                                                                </th>
                                                                <th>
                                                                    @String.Format("{0:C}", parcelas.Sum(x => x.ValorParcela))
                                                                </th>
                                                            </tr>
                                                        </tfoot>
                                                    </table>

                                                </div>
                                                <div class="col-md-9">
                                                    <form method="post" id="form-acordo-taxa" target="_self">
                                                        @Html.Hidden("Tipo", 0)
                                                        @Html.Hidden("QtdParcela", 0)
                                                        @Html.Hidden("Variaveis")
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="panel panel-default panel-small">
                                                                    <div style="margin-top:10px" class="panel-body">
                                                                        <div class="">
                                                                            <h3 class="modal-title">Negociação</h4>
                                                                        </div>
                                                                        <div>
                                                                            <div class="col-md-12">
                                                                                <div class="row" style="margin-top:14px;margin-bottom:3px">
                                                                                    <div class="col-md-2">
                                                                                        <div class="form-group-sm">
                                                                                            <label for="ContatoTipo">Multa (%)</label>
                                                                                            @Html.TextBox("Multa", 0, new { @class = "form-control input-silver", type = "number", step = "0.1", max = ViewBag.MultaAte, min = ViewBag.MultaDe })
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-2">
                                                                                        <div class="form-group-sm">
                                                                                            <label for="ContatoTipo">Juros (%)</label>
                                                                                            @Html.TextBox("Juros", 0, new { @class = "form-control input-silver", type = "number", step = "0.1", max = ViewBag.JurosAte, min = ViewBag.JurosDe })
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-2">
                                                                                        <div class="form-group-sm">
                                                                                            <label for="ContatoTipo">Honorário (%)</label>
                                                                                            @Html.TextBox("Honorario", 0, new { @class = "form-control input-silver", type = "number", step = "0.1", max = ViewBag.HonorarioPercentualAte, min = ViewBag.HonorarioPercentualDe })
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-2">
                                                                                        <div class="form-group-sm">
                                                                                            <label for="ContatoTipo">Desconto (%)</label>
                                                                                            @Html.TextBox("Desconto", 0, new { @class = "form-control input-silver", type = "number", step = "0.1", max = ViewBag.DescontoAte, min = ViewBag.DescontoDe })
                                                                                        </div>
                                                                                    </div>
                                                                                    @*<div class="col-md-2 hide">
                                                                                        <div class="form-group-sm">
                                                                                            <label for="DataVencimento">Data Vencimento</label>
                                                                                            @Html.TextBox("DataVencimento", null, new { @class = "form-control input-silver", data_mask = "datetime" })
                                                                                        </div>
                                                                                    </div>*@
                                                                                    <div class="col-md-2 hide">
                                                                                        <div class="form-group-sm">
                                                                                            <label for="ContatoTipo">Qtd</label>
                                                                                            @Html.Hidden("Qtd", 1, new { @class = "form-control input-silver", disabled = "disabled" })
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-2">
                                                                                        <div class="form-group-sm">
                                                                                            <button style="margin-top:15px" type="button" id="btnCalcular" class="btn btn-default" onclick="$('#Tipo').val(0); obterdadosGrid();"><i class="fa fa-calculator"></i> Calcular</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-12">
                                                                                        <table id="grid-dados" class="table table-bordered table-condensed table-striped" data-ordem="">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    @*<th data-name="CodContrato" data-data="CodContrato" style="width:30px" data-title="CodContrato">
                                                                                                            CodContrato
                                                                                                        </th>
                                                                                                        <th data-name="FluxoPagamento" data-data="FluxoPagamento" style="width:40px" data-title="FluxoPagamento">
                                                                                                            FluxoPagamento
                                                                                                        </th>*@
                                                                                                    <th data-name="ValorParcela" data-data="ValorParcela" style="width:40px" data-title="ValorParcela">
                                                                                                        ValorParcela
                                                                                                    </th>
                                                                                                    <th data-name="Multa" data-data="Multa" style="width:40px" data-title="Multa">
                                                                                                        Multa
                                                                                                    </th>
                                                                                                    <th data-name="Juros" data-data="Juros" style="width:40px" data-title="Juros">
                                                                                                        Juros
                                                                                                    </th>

                                                                                                    <th data-name="Honorario" data-data="Honorario" style="width:40px" data-title="Honorario">
                                                                                                        Honorario
                                                                                                    </th>
                                                                                                    <th data-name="Desconto" data-data="Desconto" style="width:40px" data-title="Desconto">
                                                                                                        Desconto
                                                                                                    </th>
                                                                                                    <th data-name="ValorParcial" data-data="ValorParcial" style="width:40px" data-title="ValorParcial">
                                                                                                        Valor Parcial
                                                                                                    </th>
                                                                                                    <th data-name="Total" data-data="Total" style="width:40px" data-title="Total">
                                                                                                        Total
                                                                                                    </th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody></tbody>
                                                                                            <tfoot>
                                                                                                <tr></tr>
                                                                                            </tfoot>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                                @*<div class="row">
                                                                                        <div class="col-md-2">
                                                                                            <div class="form-group-sm">
                                                                                                @Html.DropDownList("TipoAcordo", new SelectList(Cobranca.Db.Models.EnumeradoresLista.TipoAcordo(), "value", "key", 0), new { @class = "form-control input-silver" })
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-2">
                                                                                            <div class="form-group-sm">
                                                                                                @Html.TextArea("Obs", "", new { @class = "form-control input-silver" })
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>*@
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" onclick="$('#Tipo').val(1); salvarAcordo()" id="btn-submit" class="btn btn-primary">Salvar</button>
                                                                        </div>
                                                                    </div><!-- /.modal-content -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="tab-pane " role="tabpanel" id="TAB-PARCELA-ACORDO">

                                                <div class="row" id="div-acordo" style="display:none">
                                                    <div class="row" style="margin: 15px 15px 15px 15px">
                                                        <button type="button" onclick="alterarDataVencimento()" class="btn btn-sm btn-primary pull-left btn-min-width btn-salvar">Salvar</button>
                                                        <button type="button"  onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
                                                    </div>
                                                    @Html.Hidden("Cod",0)
                                                    <div class="col-md-3">
                                                        <div class="form-group-sm">
                                                            <label for="ContatoTipo">Data Vencimento:</label>
                                                            @Html.TextBox("DataVencimento", "", new { @class = "form-control input-silver", data_mask="datetime" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <table class="table data-table table-condensed table-hover table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Fluxo Pagamento</th>
                                                            <th>Valor Parcela</th>
                                                            <th>Juros</th>
                                                            <th>Multa</th>
                                                            <th>Honorario</th>
                                                            <th>Desconto</th>
                                                            <th>Valor Parcial</th>
                                                            <th>Total</th>
                                                            <th>Data Vencimento</th>
                                                            <th>Ações</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var parecela in _listaAcordo)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <button type="button" onclick="excluirAcordo(@parecela.Cod)" title="exluir" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
                                                                    <button type="button" onclick="preencheCampos('@parecela.Cod', '@string.Format("{0:dd/MM/yyyy}", parecela.DataVencimento)')" title="exluir" class="btn btn-danger btn-xs "><i class="fa fa-edit"></i></button>
                                                                </td>
                                                                <td>
                                                                    @parecela.FluxoPagamento
                                                                </td>
                                                                <td>
                                                                    @String.Format("{0:C}", parecela.ValorParcela)
                                                                </td>
                                                                <td>
                                                                    @String.Format("{0:C}", parecela.Juros)
                                                                </td>
                                                                <td>
                                                                    @String.Format("{0:C}", parecela.Multa)
                                                                </td>
                                                                <td>
                                                                    @String.Format("{0:C}", parecela.Honorario)
                                                                </td>
                                                                <td>
                                                                    @String.Format("{0:C}", parecela.Desconto)
                                                                </td>
                                                                <td>
                                                                    @String.Format("{0:C}", parecela.ValorAtualizado)
                                                                </td>
                                                                <td>
                                                                    @String.Format("{0:C}", parecela.ValorTotal)
                                                                </td>
                                                                <td>
                                                                    @String.Format("{0:dd/MM/yyyy}", parecela.DataVencimento)
                                                                </td>
                                                                <td>
                                                                    <button type="button" class="btn btn-xs btn-block btn-default" onclick="emitirBoleto('@Url.Action("GerarBoletoAcordo", "Banco", new { CodAcordo =  parecela.Cod })')"><i class="fa fa-file"></i> Emitir Boleto</button>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th colspan="10">
                                                            </th>
                                                            <th class="text-right">
                                                            </th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnGerar").click();
            //validacao();
        });
        function gerar() {
            _dados = [];
            $("input[type='checkbox']:checked").each(function (i, e) {
                if ($(e).prop("checked")) {
                    _dados.push($(e).attr("id"));
                }
            });
            $("#Variaveis").val(_dados);
            obterdadosGrid();
            $("#grid-dados_filter").hide();
            $("#grid-dados_length").hide();
            $("#grid-dados_paginate").hide();
            $("#grid-dados_info").hide();
            $("#Variaveis").val()
            $("#Multa").val(0)
            $("#Juros").val(0)
            $("#Honorario").val(0)
            $("#Desconto").val(0)
            $("#Tipo").val(0)
        }
        function emitirBoleto(url) {
            var height = $(window).height();
            height = (height - 420);

            $.post(url, function (data) {
                var win = window.open(url, "_blank", "width=350, toolbar=no, scrollbars=yes, resizable=no");
                with (win.document) {
                    open();
                    write(data.Html);
                    close();
                }
                var html = $("#div-boleto")
                var div = $(document.createElement("div"));
                div.addClass("form-group-sm")
                html.append(div.html(data.Html));

                debugger

                // We'll make our own renderer to skip this editor
                var specialElementHandlers = {
                    '#editor': function (element, renderer) {
                        return true;
                    }
                };
                var doc = new jsPDF();

                // All units are in the set measurement for the document
                // This can be changed to "pt" (points), "mm" (Default), "cm", "in"
                doc.fromHTML($('#div-boleto').get(0), 15, 15, {
                    'width': 170,
                    'elementHandlers': specialElementHandlers
                });
                createPDF(data.Html)
            });
        }

        function createPDF(html) {
            var h = html = $.parseHTML(html)
            console.log(h);
            doc = new jsPDF({
                unit: 'px',
                format: 'a4'
            });
            var specialElementHandlers = {
                '#ignorePDF': function (element, renderer) {
                    return true;
                }
            };
            doc.fromHTML(h, 15, 15, {
                'width': 170,
                'elementHandlers': specialElementHandlers
            });
            doc.save('Boleto.pdf');
        }
        function obterdadosGrid() {
            _dados = [];
            $("input[type='checkbox']:checked").each(function (i, e) {
                if ($(e).prop("checked")) {
                    _dados.push($(e).attr("id"));
                }
            });
            var variavel = $("#Variaveis").val()
            var tipo = $("#Tipo").val()
            if (tipo == 1 && variavel == '') {
                alert("Favor selecione a parcela!")
            } else {
                var multa = $("#Multa").val()
                var juros = $("#Juros").val()
                var honorario = $("#Honorario").val()
                var desconto = $("#Desconto").val()
                var datavencimento = $("#DataVencimento")
                var qtdParcela = _dados.length;
                var acordo = $("#TipoAcordo").val()
                var obs = $("#Observacao").val()
                $('#grid-dados').DataTable().clear().destroy();
                $('#grid-dados').DataTable({
                    "deferRender": true,
                    "serverSide": true,
                    "responsive": true,
                    "processing": true,
                    "ajax": {
                        "url": "@Url.Action("paginarDadosParcela", "Pesquisa")" + "?Variavel=" + variavel + "&Juros=" + juros + "&Multa=" + multa + "&honorario=" + honorario + "&desconto=" + desconto + "&tipo=" + tipo + "&qtdParcela=" + qtdParcela + "&TipoAcordo=" + acordo + "&Obs=" + obs + "&DataVencimento=" + datavencimento,
                        "type": "POST"
                    },
                    "language": {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "<h2><i class='fa fa-spin fa-spinner text-silver'></i> Carregando os dados..</h2>",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        oAria: {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }
                }).on('processing.dt', function (e, settings, processing) {
                    if (processing) {
                        $("#tb-dados").find("tr").addClass("loading");
                    } else {
                        $("#tb-dados").find("tr").removeClass("loading");
                    }
                });
                $("#grid-dados_filter").hide();
                $("#grid-dados_length").hide();
                $("#grid-dados_paginate").hide();
                $("#grid-dados_info").hide();
                debugger

            }
        }
        function validacao() {
            $("#form-acordo-taxa").validate();
        }
        function popUP() {
            $("#modal-form").modal("show");
        }
        function parcelaAcordo(acordo) {
            debugger
            _dados = [];
            $("input[type='checkbox']:checked").each(function (i, e) {
                if ($(e).prop("checked")) {
                    _dados.push($(e).attr("id"));
                }
            });
            var codacordo = acordo;
            $.ajax({
                url: '@Url.Action("ParcelaAcordo", "Pesquisa")',
                data: { CodAcordo: codacordo, parcelas: _dados },
                type: 'post',
                dataType: 'json'
            }).success(function (op) {
                debugger
                jx.modalOK("Operação realizada com sucesso!", op.OK)
                document.location.reload(false)
            });
        }
        function salvarAcordo() {
            _dados = [];
            $("input[type='checkbox']:checked").each(function (i, e) {
                if ($(e).prop("checked")) {
                    _dados.push($(e).attr("id"));
                }
            });
            var qtd = _dados.length;
            var variaveis = $("#Variaveis").val()
            var multa = $("#Multa").val()
            var juros = $("#Juros").val()
            var honorario = $("#Honorario").val()
            var desconto = $("#Desconto").val()
            var tipo = $("#Tipo").val()
            $.ajax({
                url: '@Url.Action("SalvarAcordo", "Pesquisa")',
                data: { Variavel: variaveis, Multa: multa, Juros: juros, Honorario: honorario, Desconto: desconto, Tipo: tipo, qtdParcela: qtd },
                type: 'post',
                dataType: 'json'
            }).success(function (op) {
                debugger
                parcelaAcordo(op.Acordo)
            });

        }
        function cancelar() {
            document.location.reload(false)
        }
        function excluirAcordo(cod) {
            if (confirm("Confirma esta exclusão?")) {
                $.ajax({
                    url: '@Url.Action("ExcluirParcelaAcordo", "Pesquisa")',
                    data: { Cod: cod },
                    type: 'post',
                    dataType: 'json'
                }).success(function (op) {
                    jx.modalOK("Operação realizada com sucesso!", op.OK)
                    cancelar();
                });
            }
        }
        function alterarDataVencimento() {
            var cod = $("#Cod").val();
            var vencimento = $("#DataVencimento").val();
            $.ajax({
                url: '@Url.Action("AlterarDataVencimento", "Pesquisa")',
                data: { Cod: cod, DataPagamento: vencimento },
                type: 'post',
                dataType: 'json'
            }).success(function (op) {
                jx.modalOK("Operação realizada com sucesso!", op.OK)
                cancelar();
            });
        }
        function preencheCampos(cod, DataVencimento) {
            $("#div-acordo").show();
            $("#Cod").val(cod)
            $("#DataVencimento").val(DataVencimento)
        }
        function exibirForm(id, e) {
            $(id).show();
            $(e).hide();
        }
    </script>
}