﻿@model Cobranca.Db.Models.Cliente
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-pesquisa";
    //var cliente = Model.ContratoClientes;
    Model.CPF = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.CPF);
    Model.Nome = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Nome);
    Model.CodCliente = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.CodCliente);
    Model.Email = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Email);
    Model.TelefoneComercial = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.TelefoneComercial);
    Model.TelefoneResidencial = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.TelefoneResidencial);
    Model.Celular = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Celular);
    Model.CelularComercial = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.CelularComercial);
    Model.CelularPrincipal = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.CelularPrincipal);
}
<div class="row">
    @Html.Partial("_menuPesquisaPorCliente", "aba-cliente")
    @Html.Hidden("CodSAP", 0)
    @Html.Hidden("NomeCliente", Model.Cod)
    <div class="col-md-12">
        <div class="panel panel-default panel-pesquisa-dados">
            <div class="panel-body">
                @Html.Partial("_dados", Model)
                @Html.Partial("_cliente", Model)
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#btnNovoContato').click(function () {
                var countDiv = $(".addFormContato > div").length + 1;
                $(".addFormContato").append("<div class='append_" + countDiv + "'></div>");
                $('.append_' + countDiv).load('@Url.Action("AdicionarContatoForm", "Pesquisa", new { idCliente = Model.Cod })');
            });


            // Javascript to enable link to tab
            var url = document.location.toString();
            if (url.match('#')) {
                $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
                var tb = url.split('#')[1].replace('tab-', '');
                $("#btnAlterar").hide();
                $("#btnSalvarContato").hide();
                if (tb == "contatos") {
                    $("#btnAlterar").hide();
                    $("#btnSalvarContato").show();
                }
            }
            // Change hash for page-reload
            $('.nav-tabs a').on('shown.bs.tab', function (e) {

                $("#btnAlterar").hide();
                $("#btnSalvarContato").hide();
                window.location.hash = e.target.hash;
                var tb = e.target.hash.replace("#tab-", "");
                if (tb == "contatos") {
                    $("#btnAlterar").hide();
                    $("#btnSalvarContato").show();
                }
            })
            $("#Cod").val($("#NomeCliente").val());
            $("input[name=radioTipoPessoa]:radio").change(function () {
                //var pessoa = $("input[name=radioTipoPessoa]:radio:checked").val();
                //if (pessoa == 1) {
                //    $(".legend-tipo-pessoa").text("DADOS DE PESSOA FÍSICA");
                //    $('#estado-civil').show();
                //    $('#labelNomeCliente').text('Nome');
                //    $('#NomeResponsavel').hide();
                //    $('#PrimeiroNome').hide();
                //    $('#labelCPF').show();
                //    $('#cadastro-do').show();
                //    $('#labelCNPJ').hide();
                //} else {
                //    $(".legend-tipo-pessoa").text("DADOS DE PESSOA JURÍDICA");
                //    $('#labelNomeCliente').text('Razão Social');
                //    $('#labelCNPJ').show();
                //    $('#NomeResponsavel').show();
                //    $('#PrimeiroNome').show();
                //    $('#estado-civil').hide();
                //    $('#labelCPF').hide();
                //    $('#cadastro-do').hide();
                //    $('#Tipo').val(1);
                //
                //}
                //EscondeTab();
            })
            $("input#ContatoHot").change(function () {
                var id = $(this).attr('data-elem')
                if ($(this).prop('checked')) {
                    var elSelector = "[data-elem='" + $(this).attr('data-elem') + "']";
                    var Tipo = $("select#Tipo" + elSelector + "").val();
                    var elem = "input:not(" + elSelector + "):checked";
                    console.log(elem);
                    $('"' + elem + '"').each(function (i, e) {
                        debugger;
                        $(e).attr('data-elem').each(function (ix, el) {
                            if ($("select#Tipo" + $(el).attr('data-elem') + "").val() == Tipo) {
                                $(el).prop('checked', false);
                            };
                        })
                    });
                }
            })

            $("#form-comprador").find("#Email").attr("data-mask", "email")
            $("#form-comprador").validate({
                rules: {
                    Contato: {
                        required: true,
                        email: true
                    }
                }
            });
            $("#form-comprador").find("#Email").rules("add", {
                email: true
            });

        });
        function exibirForm(id, e) {
            $(id).show();
            $(e).hide();
        }
        function cancelar() {
            document.location.reload(false);
        }
        //#region CONTATO

        function ResetForm(cadastro) {
            $('#Cod').val("");
            $(':input', cadastro)
              .not(':button, :submit, :reset, :hidden')
              .val('')
              .removeAttr('checked')
              .removeAttr('selected');
        }

        function BuscaCep(enderecoCep, Endereco, Bairro, Cidade, UF) {
            var cep = enderecoCep.replace(".", "").replace("-", "")
            if (cep != "") {
                var validacep = /^[0-9]{8}$/;
                if (validacep.test(cep)) {
                    $("#" + Endereco).val("...")
                    $("#" + Bairro).val("...")
                    $("#" + Cidade).val("...")
                    $("#" + UF).val("...")
                    $.getJSON("//viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {
                        if (!("erro" in dados)) {
                            $("input[data-buscacep='endereco']").val(dados.logradouro);
                            $("#" + Bairro).val(dados.bairro);
                            $("#" + Cidade).val(dados.localidade);
                            $("#" + UF).val(dados.uf);
                        }
                        else {
                            alert("CEP não encontrado.");
                        }
                    });
                }
                else {
                    alert("Formato de CEP inválido.");
                    limpaCep();
                }
            }
            else {
                limpaCep();
            }
        }
        function habilitarEdicao(el, form) {
            $(el).hide();
            $(form).find("input[data-edit='true'],textarea[data-edit='true']").removeAttr("disabled");
            $("#btnAlterarCliente").show();
            $("#btnCancelar").show();
            $("#btnAlterar").hide();
        }
        function salvarCliente(form, tipo) {
            var form = $('#form-cadastro-cliente');
            $.ajax({
                url: '@Url.Action("Salvar", "Cliente")',
                type: 'post',
                dataType: 'json',
                data: form.serialize()
            }).success(function (resultado) {
                SalvaVinculoComprador(resultado.Cod);
            })
        }








        function salvarClienteContato() {
            var form = $("#form-cadastro-cliente-contato");
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: jx.formRotinas.obterDadosForm($("#form-cadastro-cliente-contato")),
                success: function (response) {
                    jx.mensagem('Operação Realizada!', 'Contato Salvo.', 'success', 'fa fa-check');
                    setTimeout(function () {
                        location.reload();
                    }, 1500);
                }
            });
        }

        function removerContato(_id, elemnt) {
            if (_id > 0) {
                jx.modalConfirm("Exclusão", "Deseja remover o contato", function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ExcluirContato", "Cliente")',
                        data: { id: _id },
                        success: function (response) {
                            $('#jxModalDefault').modal('toggle')
                            location.reload();
                        }
                    });
                });
            }
            else {
                var panel = elemnt.parent().closest("div[data-elem-clone='contato']");
                panel.addClass('fadeOut');
                setTimeout(function() {
                    panel.remove();
                }, 700);
            }

        }
    </script>
}
