﻿@model Cobranca.Db.Models.Cliente
    @using Cobranca.Rotinas;
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-pesquisa";

    List<Cobranca.Db.Models.ClienteParcelaCredito> _listaClienteCredito = new List<Cobranca.Db.Models.ClienteParcelaCredito>();
    if (ViewBag.ListaCreditoCliente != null)
    {
        _listaClienteCredito = (List<Cobranca.Db.Models.ClienteParcelaCredito>)ViewBag.ListaCreditoCliente;
    }
    Model.CPF = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.CPF);
    Model.Nome = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Nome);
    Model.CodCliente = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.CodCliente);
    Model.Email = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Email);
}
<div class="row">
    @Html.Partial("_menuPesquisaPorCliente", "aba-parcela-credito")
    <div class="col-md-12">
        <div class="panel panel-default panel-pesquisa-dados">
            <div class="panel-body">
                @Html.Partial("_dados", Model)
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="heading-block">
                                            <h5>@Idioma.Traduzir("Crédito Cliente")</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered data-table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th data-title="@Idioma.Traduzir("CLIENTE")"></th>
                                                    <th data-title="@Idioma.Traduzir("CPF / CNPJ")"></th>
                                                    <th data-title="@Idioma.Traduzir("Nr.DOCUMENTO")"></th>
                                                    <th data-title="@Idioma.Traduzir("Dt.PAGAMENTO")"></th>
                                                    <th data-title="@Idioma.Traduzir("Vr.PAGAMENTO")"></th>
                                                    <th data-title="@Idioma.Traduzir("Vr.SALDO")"></th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @foreach (var item in _listaClienteCredito.ToList())
                                                {
                                                    <tr>
                                                        <td class="text-left">@Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.Cliente.Nome)</td>
                                                        <td class="text-left">@Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.Cliente.CPF)</td>
                                                        <td class="text-left">@item.NumeroDocumento</td>
                                                        <td class="text-left">@string.Format("{0:dd/MM/yyyy}", item.DataPagamento)</td>
                                                        <td class="text-left">@String.Format("{0:C}", item.ValorRecebido)</td>
                                                        <td class="text-left">@String.Format("{0:C}", item.SaldoCredito)</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
       
    </script>
}