﻿@model Cobranca.Web.Models.PesquisaViewModel

@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-pesquisa";
}
<style>
    .bootstrap-tagsinput {
        max-height: 32px !important;
        overflow-y: auto;
    }

        .bootstrap-tagsinput > .label {
            padding: .2em .6em .2em;
        }

        .bootstrap-tagsinput .tag {
            line-height: 22px;
        }

    .form-control.select2-container {
        height: 32px !important;
        overflow-y: auto;
    }

    .select2-search-choice {
        color: #333 !important;
        background-color: #fff !important;
        border-color: #ccc !important;
        border-radius: 0 !important;
        font-size: 12px;
        overflow: hidden;
        border-radius: 1px;
    }
</style>
@using Cobranca.Rotinas;
@using (Html.BeginForm("ResultadoCliente", "Pesquisa", FormMethod.Post))
{
    <div class="row equal">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-body panel-height-equal">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet portlet-default">
                            <div class="portlet-header">
                                <h5 class="portlet-title">
                                    <i class="fa fa-users"></i> @Idioma.Traduzir("Búsqueda por cliente")
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group-sm text-danger">
                            <label for="CodigoCliente">@Idioma.Traduzir("Código do cliente")</label>
                            @Html.TextBoxFor(m => m.CodigoCliente, new { @class = "form-control input-silver", placeholder = "Código do Cliente", data_role = "tagsinput" })
                            @Html.ValidationMessageFor(m => m.CodigoCliente)
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group-sm">
                            <label for="CPF_CNPJ">@Idioma.Traduzir("CNPJ/CPF")</label>
                            @Html.TextBoxFor(m => m.CPF_CNPJ, new { @class = "form-control input-silver", placeholder = "CPF ou CNPJ", data_mask = "inteiro" })
                            @Html.ValidationMessageFor(m => m.CPF_CNPJ)
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group-sm">
                            <label for="ClienteId">@Idioma.Traduzir("Nome do cliente")</label>
                            @Html.TextBoxFor(m => m.ClienteId, new { @class = "form-control input-silver" })
                            @Html.ValidationMessageFor(m => m.ClienteId)
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group-sm">
                            <label for="NomeGrupo">@Idioma.Traduzir("Nome do grupo")</label>
                            @Html.DropDownListFor(m => m.CodGrupo, new SelectList(ViewBag.ListaGrupo, "value", "key", Model.CodGrupo), new { @class = "form-control input-silver select2", placeholder = "Nome do grupo" })
                            @Html.ValidationMessageFor(m => m.CodGrupo)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-height-equal">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet portlet-default">
                                <div class="portlet-header">
                                    <h5 class="portlet-title">
                                        <i class="fa fa-file-text"></i> @Idioma.Traduzir("Pesquisa por contrato")
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group-sm text-danger">
                                <label for="CodigoCliente">@Idioma.Traduzir("Contrato")</label>
                                @Html.TextBoxFor(m => m.NumeroContrato, new { @class = "form-control input-silver", placeholder = "Nº do Contrato", data_role = "tagsinput" })
                                @Html.ValidationMessageFor(m => m.NumeroContrato)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group-sm">
                                <label for="CodEscritorio">@Idioma.Traduzir("Tipo de Contrato")</label>
                                @Html.DropDownListFor(m => m.CodProduto, new SelectList(ViewBag.ListaProduto, "value", "key", Model.CodProduto), new { @class = "form-control input-silver" })
                                @Html.ValidationMessageFor(m => m.CodProduto)
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group-sm text-danger">
                                <label for="NumeroFatura">@Idioma.Traduzir("Nr.Documento")</label>
                                @Html.TextBoxFor(m => m.NumeroFatura, new { @class = "form-control input-silver", placeholder = "Nº Documento", data_role = "tagsinput" })
                                @Html.ValidationMessageFor(m => m.NumeroFatura)
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group-sm text-danger">
                                <label for="NumeroFatura">@Idioma.Traduzir("Nr.Fatura(NF)")</label>
                                @Html.TextBoxFor(m => m.NotaFiscal, new { @class = "form-control input-silver", placeholder = Idioma.Traduzir("Nr.Fatura(NF)"), data_role = "tagsinput" })
                                @Html.ValidationMessageFor(m => m.NotaFiscal)
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group-sm">
                                <label for="CodConstrutora">@Idioma.Traduzir("AGING")</label>
                                @Html.DropDownListFor(m => m.CodAgingCliente, new SelectList(ViewBag.ListaAging, "value", "key", Model.CodAgingCliente), new { @class = "form-control input-silver" })
                                @Html.ValidationMessageFor(m => m.CodAgingCliente)
                            </div> <!-- /.form-group -->
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group-sm text-danger">
                                <label for="CodTipoCobranca">@Idioma.Traduzir("Tipo de Cobrança")</label>
                                @Html.DropDownListFor(m => m.CodTipoCobranca, new SelectList(ViewBag.ListaTipoCobranca, "value", "key", Model.CodTipoCobranca), new { @class = "form-control input-silver" })
                                @Html.ValidationMessageFor(m => m.CodTipoCobranca)
                            </div> <!-- /.form-group -->
                        </div>

                        @*<div class="col-sm-12">
                            <div class="form-group-sm">
                                <label for="CodEscritorio">@Idioma.Traduzir("Escritório")</label>
                                @Html.DropDownListFor(m => m.CodEscritorio, new SelectList(ViewBag.ListaEscritorio, "value", "key", Model.CodEscritorio), new { @class = "form-control input-silver" })
                                @Html.ValidationMessageFor(m => m.CodEscritorio)
                            </div> <!-- /.form-group -->
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group-sm">
                                <label for="CodEscritorio">@Idioma.Traduzir("Empresa")</label>
                                @Html.DropDownListFor(m => m.CodConstrutora, new SelectList(ViewBag.ListaConstrutora, "value", "key", Model.CodConstrutora), new { @class = "form-control input-silver" })
                                @Html.ValidationMessageFor(m => m.CodConstrutora)
                            </div> <!-- /.form-group -->
                        </div>*@
                        <div class="col-sm-12">
                            <div class="form-group-sm">
                                <label for="CodEscritorio">@Idioma.Traduzir("Filial")</label>
                                @Html.DropDownListFor(m => m.CodRegional, new SelectList(ViewBag.ListaRegional, "value", "key", Model.CodRegional), new { @class = "form-control input-silver" })
                                @Html.ValidationMessageFor(m => m.CodRegional)
                            </div> <!-- /.form-group -->
                        </div>

                        @*<div class="col-sm-12">
                            <div class="form-group-sm">
                                <label for="Bloqueado">Bloqueado</label><br />
                                @Html.CheckBoxFor(m => m.Bloqueado)
                                @Html.ValidationMessageFor(m => m.Bloqueado)
                            </div> <!-- /.form-group -->
                        </div>
                    <div class="col-sm-12">
                        <div class="form-group-sm">
                            <label for="Bloqueado">@Idioma.Traduzir("Bloqueio")</label><br />
                            @Html.DropDownListFor(m => m.CodTipoBloqueio, new SelectList(ViewBag.ListaBloqueio, "value", "key", Model.CodTipoBloqueio), new { @class = "form-control input-silver" })
                            @Html.ValidationMessageFor(m => m.CodTipoBloqueio)
                        </div> <!-- /.form-group -->
                    </div>*@
                    </div>
                </div>
            </div>
        </div>     
       
    </div>
    <div class="row margin-top-18">
        <div class="col-md-12">
            <button class="btn btn-sm btn-primary pull-left btn-min-width" style="margin-bottom:0px;" type="submit">@Idioma.Traduzir("Consultar")</button>
        </div>
    </div>
}

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
           
            $("#ClienteId").select2({
                ajax: {
                    url: "@Url.Action("PesquisarClientes", "Cliente")",
                    dataType: 'json',
                    delay: 250,
                    data: function (term, page) {
                        return { q: term, };
                    },
                    processResults: function (data, params) {
                        return { results: data.items };
                    },
                    cache: true
                },
                initSelection: function (element, callback) {
                    return;
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax({
                            url: "@Url.Action("PesquisarClientes", "Cliente")",
                            dataType: 'json',
                            data: { q: "A" }
                        }).done(function (data) { console.log(data); callback(data.items[0]); });
                    }
                },
                minimumInputLength: 2,
                placeholder: "Nome do Cliente",
                allowClear: true
            });
            ////Config
            //$('.typeahead').tagsinput({
            //    allowDuplicates: false,
            //    itemValue: 'id',
            //    itemText: 'label',
            //    typeahead: {
            //        minLength: 3,
            //        source: function (query, process) {
            //            return $.ajax({
            //                url: "/Cliente/ObterCodClienteTags",
            //                type: "POST",
            //                data: { query: query },
            //                dataType: 'json',
            //                success: function (result) {
            //                    var resultList = result.map(function (item) {
            //                        var aItem = { id: item.Value, name: item.Text };
            //                        return JSON.stringify(aItem);
            //                    });
            //                    return process(resultList);
            //                }
            //            });
            //        }
            //    }
            //});
            ////Setar o valor
            //$('.typeahead').tagsinput('add', { id: 'tag id', label: 'tag lable' });

        });
    </script>


}


