﻿@model Cobranca.Db.Models.Contrato
    @using Cobranca.Rotinas;
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-pesquisa";
    var clienteContato = Model.ContratoClientes.Where(x => x.Cliente.ClienteContatoes.Any()).ToList();
    var fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true;
    var cliente = (Cobranca.Db.Models.Cliente)ViewBag.Cliente;
    cliente.CPF = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(cliente.CPF);
    cliente.Nome = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(cliente.Nome);
    cliente.CodCliente = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(cliente.CodCliente);
    cliente.Email = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(cliente.Email);
}

<div class="row">
    @Html.Partial("_menuPesquisaPorCliente", "aba-contrato")
    <div class="col-md-12">
        <div class="panel panel-default panel-pesquisa-dados">
            <div class="panel-body">
                @Html.Partial("_dados", cliente)
                @Html.Hidden("Cod", Model.Cod)
                <div class="row">
                    <div class="col-md-12">

                        <div id="form-dados-empreendimento" class="panel panel-default">
                            <div class="panel-body">
                                <div class="heading-block">
                                    <h5>@Idioma.Traduzir("Informações dos Contratos")</h5>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group-sm">
                                            <label>
                                                @Idioma.Traduzir("Contratos")
                                            </label>
                                            @Html.DropDownList("CodContrato", new SelectList(ViewBag.Contratos, "value", "key", Cobranca.Db.Rotinas.DbRotinas.ConverterParaInt(ViewBag.Contratos)), new { @class = "form-control input-silver" })
                                        </div>
                                    </div>
                                </div>

                                <table class="table data-table table-condensed table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>@Idioma.Traduzir("Cliente")</th>
                                            <th>@Idioma.Traduzir("Contrato")</th>
                                            <th>@Idioma.Traduzir("Produto")</th>
                                            <th>@Idioma.Traduzir("Valor Atraso")</th>
                                            <th>@Idioma.Traduzir("Dias Atraso")</th>
                                            <th>@Idioma.Traduzir("Tipo Cobrança")</th>
                                            <th>@Idioma.Traduzir("Notificação")</th>
                                            @*<th>@Idioma.Traduzir("Ações")</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var contrato in Model.ContratoClientes)
                                        {
                                        <tr>
                                            <td class="text-left">
                                                @Cobranca.Db.Rotinas.DbRotinas.Descriptografar(contrato.Cliente.Nome)
                                            </td>
                                            <td class="text-left">
                                                @contrato.Contrato.NumeroContrato
                                            </td >
                                            <td class="text-left">
                                                @if(contrato.Contrato.CodRegionalProduto.HasValue)
                                                        {
                                                    <b>
                                                       @Cobranca.Db.Rotinas.DbRotinas.Descriptografar(contrato.Contrato.TabelaRegionalProduto.TabelaProduto.Descricao)
                                                    </b>
                                                }

                                            </td >
                                            <td class="text-left">
                                                @contrato.Contrato.ValorAtraso
                                            </td>
                                            <td class="text-left">
                                                @contrato.Contrato.DiasAtraso
                                            </td>
                                            <td class="text-left">
                                                @if(contrato.Contrato.CodTipoCobranca.HasValue)
                                                               {
                                                <b>
                                                    @Cobranca.Db.Rotinas.DbRotinas.Descriptografar(contrato.Contrato.TabelaTipoCobranca.TipoCobranca)
                                                </b>
                                                    }
                                            </td>
                                            <td class="text-left">
                                                <b>
                                                    @contrato.Contrato.NumeroProcessoAcaoRe
                                                </b>
                                            </td>
                                            @*<td class="text-left">
                                                @if(contrato.Contrato.Bloqueado == false || !contrato.Contrato.Bloqueado.HasValue)
                                                            {
                                                <button type = "button" style = "width:22px; height:22px;" onclick = "bloquear(@contrato.Contrato.Cod, true)" title = "Bloquear" class="btn btn-xs btn-default "><i class="fa fa-dot-circle-o"></i></button>
                                                    }
                                                    else
                                                    {
                                                <button type = "button" style="width:22px; height:22px;" onclick="bloquear(@contrato.Contrato.Cod, false)" title="Desbloquear" class="btn btn-xs btn-default btn-danger"><i class="fa fa-dot-circle-o"></i></button>
                                                    }
                                            </td>*@
                                        </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12" id="form-contrato" style="display:none;">
                        <div class="row">
                            <div class="row">
                                <iframe frameborder = "0" width="100%" height="100%" id="iframe-contrato" style="overflow-x: hidden!important;overflow: hidden;"></iframe>
                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@*<div class="modal fade" tabindex="-1" role="dialog" id="modal-contrato">
        <div class="modal-dialog modal-lg">
            <form method="post" id="form-acordo-tipo" target="_self">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default panel-small">
                            <div style="margin-top:10px" class="panel-body">
                                <div id="contrato">
                                    <iframe frameborder="0" width="100%" id="iframe-contrato"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>*@
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(window).resize(function () {
                ajustarAlturaIframe();
            });
            $("iframe").load(function () {
                load();
            });
            $("#CodContrato").change(function () {
                $("#form-contrato").hide();
                var cod = $("#CodContrato").val();
                $("#iframe-contrato").attr("src", "@Url.Action("Contrato", "Pesquisa")?id=" + cod + "&scopeInframe=" + true);
                console.log("@Url.Action("Contrato", "Pesquisa")?id=" + cod + "scopeInframe=" + true);
                $("#form-contrato").show();
            });
        });
        function ajustarAlturaIframe() {
            $("iframe").height(window.innerHeight - 120)//ajusta a altura do iframe;
        }
        function load() {
            ajustarAlturaIframe();
            $("#linha-carregando").show();
            $("iframe").hide();
            $("iframe").contents().find("header, .nav-menu-pesquisa, .mainnav, .wizard, #pesquisa-dados,  #divBtnProximo, #headerdados").hide();
            $("iframe").contents().find("body").removeClass("account-bg").css("background", "transparent");
            $("iframe").contents().find(".panel-pesquisa-dados").addClass("iframe-ativo");
            $("iframe").contents().find("header, .nav-menu-pesquisa, .mainnav, .wizard, #pesquisa-dados,  #divBtnProximo").hide();

            setTimeout(function () {
                $("#linha-carregando").hide();
                $("iframe").fadeIn();
            }, 500)
        }
        function editar(formId) {
            var form = $(formId);
            form.find("[disabled='disabled']").removeAttr("disabled");
            form.find("select").removeAttr("disabled");
            form.find("input").removeAttr("disabled");
            form.find("input[type='checkbox']").bootstrapSwitch("toggleDisabled", true)
            form.find(".btn-editar").hide();
            form.find(".btn-salvar").show();
            form.find(".btn-cancelar").show();
        }
        function salvarNotificacao() {
            var dados = {
                CodContrato: $("#Cod").val(),
                Notificacao: $("#NotificacaoTipo").val()
            };
            $.ajax({
                url: '@Url.Action("AlterarNotificacao","Contrato")',
                data: dados,
                type: 'post'
            }).success(function (resultado) {
                if (resultado.OK) {
                    alert("Informações salvas com sucesso!");
                    cancelar();
                    //$("#form-dados-notificacao").find("select,input").attr("disabled", "disabled");
                    //$("#form-dados-notificacao").find(".btn-salvar").hide();
                    //$("#form-dados-notificacao").find(".btn-cancelar").hide();
                    //$("#form-dados-notificacao").find(".btn-editar").show();
                } else {
                    alert(resultado.Mensagem);
                }
            });
        }
        function salvarAcaoRe() {
            var dados = {
                CodContrato: $("#Cod").val(),
                AcaoRe: $("#AcaoRe").val()
            };
            cancelar();
            return;
            $.ajax({
                url: '@Url.Action("AlterarNotificacao","Contrato")',
                data: dados,
                type: 'post'
            }).success(function (resultado) {
                if (resultado.OK) {
                    alert("Informações salvas com sucesso!");
                    cancelar();
                    //$("#form-dados-notificacao").find("select,input").attr("disabled", "disabled");
                    //$("#form-dados-notificacao").find(".btn-salvar").hide();
                    //$("#form-dados-notificacao").find(".btn-cancelar").hide();
                    //$("#form-dados-notificacao").find(".btn-editar").show();
                } else {
                    alert(resultado.Mensagem);
                }
            });
        }
        function salvarTipoCobranca() {
            var dados = {
                CodContrato: $("#Cod").val(),
                CodTipoCobranca: $("#CodTipoCobranca").val()
            };

            $.ajax({
                url: '@Url.Action("AlterarTipoCobranca","Contrato")',
                data: dados,
                type: 'post'
            }).success(function (resultado) {
                if (resultado.OK) {
                    alert("Informações salvas com sucesso!");
                    cancelar();
                } else {
                    alert(resultado.Mensagem);
                }
            });
        }
        function salvarCondominio() {
            var dados = {
                CodContrato: $("#Cod").val(),
                ValorIPTU: $("#ValorIPTU").val(),
                DataIPTU: $("#DataIPTU").val(),
                ValorCondominio: $("#ValorCondominio").val(),
                DataCondominio: $("#DataCondominio").val()
            };
            $.ajax({
                url: '@Url.Action("AlterarCondominio", "Pesquisa")',
                data: dados,
                type: 'post'
            }).success(function (resultado) {
                if (resultado.OK) {
                    alert("Informações salvas com sucesso!");
                    cancelar();
                } else {
                    alert(resultado.Mensagem);
                }
            });
        }
        function cancelar() {
            document.location.reload(false);
        }
        @*function bloquear(id, status) {
            $.ajax({
                url: '@Url.Action("BloquearContrato", "Pesquisa")',
                data: { Cod: id, Status: status },
                type: 'post'
            }).success(function (resultado) {
                if (resultado.OK) {
                    alert("Contrato bloqueado com sucesso!");
                    cancelar();
                } else {
                    alert(resultado.Mensagem);
                }
            });
        }*@
    </script>
}


