﻿@model Cobranca.Db.Models.Cliente
    @using Cobranca.Rotinas;
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-pesquisa";

    List<Cobranca.Db.Models.ContratoDespesa> despesas = new List<Cobranca.Db.Models.ContratoDespesa>();
    if (ViewBag.despesasCliente != null)
    {
        despesas = (List<Cobranca.Db.Models.ContratoDespesa>)ViewBag.despesasCliente;
    }
    Model.CPF = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.CPF);
    Model.Nome = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Nome);
    Model.CodCliente = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.CodCliente);
    Model.Email = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Email);
}
@Html.ValidationBootstrapModal()
@Html.AntiForgeryToken()
@Html.Modal()
<div class="row">
    @Html.Partial("_menuPesquisaPorCliente", "aba-despesas")
    <div class="col-md-12">
        <div class="panel panel-default panel-pesquisa-dados">
            <div class="panel-body">
                @Html.Partial("_dados", Model)
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="heading-block">
                                            <h5>@Idioma.Traduzir("Despesas")</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button id="btn-adcionar" class="btn btn-sm btn-primary btn-min-width pull-left" type="button" onclick="exibirForm()">@Idioma.Traduzir("Adicionar")</button>
                                    </div>
                                </div>
                                <div class="row form-exibir animated fadeIn" style="display:none;">
                                    <form method="post" id="form-cadastro-historico" target="_self">
                                        @*@Html.Hidden("CodContrato", Model.Cod)*@
                                        @Html.Hidden("CodUsuario", Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod)
                                        <div class="row col-md-12">
                                            <div class="col-md-4">
                                                <div class="form-group-sm">
                                                    <label>
                                                        @Idioma.Traduzir("Contratos")
                                                    </label>
                                                    @Html.DropDownList("CodContrato", new SelectList(ViewBag.Contratos, "value", "key", Cobranca.Db.Rotinas.DbRotinas.ConverterParaInt(ViewBag.Contratos)), new { @class = "form-control input-silver" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group-sm">
                                                <label>@Idioma.Traduzir("Data"):</label>
                                                @Html.TextBox("Data", DateTime.Now, new { @class = "form-control input-silver", data_mask = "datetime" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group-sm">
                                                <label>
                                                    @Idioma.Traduzir("Tipo de despesa")
                                                </label>
                                                @Html.DropDownList("CodTipoDespesa", new SelectList(ViewBag.ListaTipoDespesa, "value", "key", 0), new { @class = "form-control input-silver" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group-sm">
                                                <label>
                                                    @Idioma.Traduzir("Valor")
                                                </label>
                                                @Html.TextBox("Valor", 0, new { @class = "form-control input-silver", data_mask = "money" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group-sm">
                                                <label>
                                                    @Idioma.Traduzir("Antecipação")
                                                </label><br />
                                                @Html.CheckBox("Antecipacao", false, new { @class = "switch" })
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group-sm">
                                                <label>
                                                    @Idioma.Traduzir("Observações")
                                                </label>
                                                @Html.TextArea("Observacao", "", new { @class = "form-control input-silver", style = "height:80px;" })
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-primary btn-sm btn-min-width pull-left" type="submit">@Idioma.Traduzir("Salvar")</button>
                                            <button class="btn btn-sm btn-min-width pull-left" type="button" onclick="cancelar()">@Idioma.Traduzir("Cancelar")</button>
                                        </div>
                                    </form>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-hover table-striped table-condensed data-table" data-ordem="">
                                            <thead>
                                                <tr>
                                                    <th width="120px">
                                                        @Idioma.Traduzir("Data")
                                                    </th>
                                                    <th>
                                                        @Idioma.Traduzir("Tipo")
                                                    </th>
                                                    <th>
                                                        @Idioma.Traduzir("Observações")
                                                    </th>
                                                    <th>
                                                        @Idioma.Traduzir("Antecipação")
                                                    </th>
                                                    <th>
                                                        @Idioma.Traduzir("Valor")
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in despesas.OrderByDescending(x => x.Data))
                                                {
                                                    <tr>
                                                        <td>
                                                            @item.Data
                                                        </td>
                                                        <td>
                                                            @item.TabelaTipoDespesa.TipoDespesa
                                                        </td>
                                                        <td>
                                                            @item.Observacao
                                                        </td>
                                                        <td> @String.Format("{0}", item.Antecipacao == true ? "Sim" : "Não")</td>
                                                        <td>
                                                            @item.Valor
                                                        </td>

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#CodFase").change(function () {
                var cod = $("#CodFase").val();
                $.ajax({
                    url: '@Url.Action("ListarSisntesPorFase","Sintese")',
                    type: 'post',
                    dataType: 'json',
                    data: { fase: cod }
                }).success(function (resultado) {
                    
                    popularDropoDownList($("#CodSintese"), resultado);
                });
            });
        });
        function exibirForm() {
            $(".form-exibir").show();
            $("#btn-adcionar").hide();
        }
        function cancelar() {
            document.location.reload(false);
        }
        function salvar() {
            var dados = {
                CodContrato: $("#CodContrato").val(),
                Data: $("#Data").val(),
                CodTipoDespesa: $("#CodTipoDespesa").val(),
                Valor: $("#Valor").val(),
                Antecipacao: $("#Antecipacao").val(),
                Observacao: $("#Observacao").val()
            };
            $.ajax({
                url: '@Url.Action("DespesasCliente")',
                type: 'post',
                dataType: 'json',
                data: dados
            }).success(function (resultado) {
                alert("Informações salvas com sucesso!");
                cancelar();
            });
        }
    </script>
}