﻿@model Cobranca.Db.Models.Cliente
@using Cobranca.Rotinas;
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-pesquisa";
    Model.CPF = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.CPF);
    Model.Nome = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Nome);
    Model.CodCliente = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.CodCliente);
    Model.Email = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Email);
}
<div class="row">
    @Html.Hidden("CodCliente", Model.Cod)
    @Html.Partial("_menuPesquisaPorCliente", "aba-documentos")
    <div class="col-md-12">
        <div class="panel panel-default panel-pesquisa-dados">
            <div class="panel-body">
                @Html.Partial("_dados", Model)
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default panel-small">
                            <div class="panel-heading">
                                <i class="fa fa-file-pdf-o"></i> Documentos Digitalizados
                            </div>
                            <div class="row">
                                <div class="col-md-4 margin-top-16 margin-left-15">
                                    <button onclick="openFormDocumento()" type="button" class="btn btn-sm btn-block pull-left " style="color: #fff !important; background-color:#5879B4"><i class="fa fa-plus"></i> @Idioma.Traduzir("Novo")</button>
                                </div>
                            </div>
                            <div class="panel-body" id="form-documentos-digitalizado">
                                <table id="grid-documento" class="table table-bordered table-order-column table-responsive table-striped table-condensed table-row-border table-compact" style="margin-top:6px;background-color:#fff;">
                                    <thead id="dtheader">
                                        <tr id="trheader">
                                            <th class="text-center filter-date" data-type="datahora" data-name="DataDocumento" data-data="DataDocumentoDesc" style="max-width:50px" data-title="@Idioma.Traduzir("Data")"></th>
                                            <th class="text-center" data-name="TipoDocumento" data-data="TipoDocumento" style="max-width:40px" data-title="@Idioma.Traduzir("Tipo")"></th>
                                            <th class="text-center" data-name="Observacao" data-data="Observacao" style="min-width:250px" data-title="@Idioma.Traduzir("Observação")"></th>
                                            <th class="text-center" data-name="Usuario" data-data="Usuario" style="min-width:100px" data-title="@Idioma.Traduzir("Usuário")"></th>
                                            <th class="text-center" data-name="" data-data="" style="min-width:55px !important" data-collumn-search="false">@Idioma.Traduzir("Ações")</th>
                                        </tr>
                                        <tr id="tb-loading">
                                            <td colspan="12" class="text-center animated fadeIn">
                                                <h2><i class="fa fa-spin fa-spinner text-silver"></i> Carregando os dados</h2>
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row" style="margin:0">
                            <div class="panel panel-default panel-small">
                                <div class="panel-heading">
                                    <i class="fa fa-file-archive-o"></i>&nbsp;Arquivos
                                    <span class="pull-right" onclick="expandirVisualizar()">
                                        <i class="fa fa-external-link"></i>&nbsp;Expandir
                                    </span>
                                </div>
                                <form id="form-arquivos" method="post">
                                    <div class="row">
                                    </div>
                                    <div class="panel-body" id="form-documentos-digitalizado">
                                        <iframe frameborder="0" width="100%" id="visualiza-doc" height="400" src="" style="font-weight: bold; min-height: 300px; height: 405px;"></iframe>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal-form-documento">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Titulo</h3>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> @Idioma.Traduzir("Cancelar")</button>
                <button type="button" id="modal-confirm" class="btn btn-primary"><i class="fa fa-save"></i> @Idioma.Traduzir("Confirmar")</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
@section scripts{
    <script type="text/javascript">
        var $data_table = $('#grid-documento');
        jx.dtableSearch($data_table);
        jx.dtableFooter($data_table);
        var _today = new Date();
        var _ticked = "&t=" + _today.getSeconds();
        var table = $('#grid-documento').DataTable({
            "language": {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                paging: false,
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",

                "buttons": {
                    "selectAll": "Marcar Todos",
                    "selectNone": "Desmarcar Todos"
                },
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                oAria: {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            },
            "sDom": '<"col-xs-12 col-md-12 col-lg-12">' +
            '<"col-xs-12 col-md-12"t>' +
            '<"col-xs-12 col-md-6 pull-left"i><"col-xs-12 col-md-6 pull-right"p>'
        });
        $(document).ready(function () {
            ajustarAlturaIframe();
            obterDados();
        });

        function selDoc(guid) {
            var url = '@Url.Action("VisualizaDocumento", "Pesquisa")' + '?GUID=' + guid;
            $("#visualiza-doc").attr("src", url);
            $("#modal-form").modal("show");
            $("iframe").load(function () {
                height = $("iframe").contents().find("body").height();
                if (height > 0) {
                    $("iframe").height(height)//ajusta a altura do iframe;
                    $("iframe").contents().find("body").css('text-align', 'center');//centraliza imagem;
                }
                else {
                    $("iframe").height($(window).height() - 200)//ajusta a altura do iframe;
                }
            });
        }
        function ajustarAlturaIframe() {
            $("iframe").height($("iframe").contents().find("body").height() + 40)//ajusta a altura do iframe;
        }
        function exibirForm() {
            $(".form-exibir").show();
            $("#btn-adcionar").hide();
        }
        function cancelar() {
            document.location.reload(false);
        }
        function definirUpload() {
            $(".form-upload").fileupload({
                dataType: 'json',
                url: '@Url.Content("~/Upload/UploadHandler.ashx")',
                maxFileSize: 5368709120, // 5GB
                //sequentialUploads: true,
                limitConcurrentUploads: 1,
                //maxChunkSize: 204800, // 200KB
                //autoUpload: true,//tr
                dropZone: "documentos",
                formData: {
                    Id: $("#modal-form-documento #Id").val()
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Ocorreu um erro no upload: " + textStatus);
                    $(".progress-bar").removeClass("progress-bar-warning").addClass("progress-bar-danger");
                    return;
                },
                done: function (e, data) {
                    debugger;
                    var file = data.files[0];
                    $("#modal-form-documento #btn-file").removeAttr("disabled");
                    $("#modal-form-documento #ArquivoNome").val(file.name);
                    $(".progress-bar").removeClass("progress-bar-warning").addClass("progress-bar-success");
                },
                add: function (e, data) {
                    debugger;
                    var id = $(this).attr("id");
                    var tr = $(this).parent().parent().parent();
                    var file = data.files[0];
                    $(".progress-bar").removeClass("progress-bar-danger").removeClass("progress-bar-success").addClass("progress-bar-warning");
                    data.submit();
                },
                start: function () {
                },
                progress: function (e, data) {
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $(".progress").show();
                    $(".progress-bar").css('width', progress + '%');
                    $(".progress-bar").html(progress + '%');
                }
            });
        }
        function removerDocumento(cod) {
            if (confirm("Deseja excluir?")) {
                $.ajax({
                    url: '@Url.Action("DocumentoRemover")',
                    type: 'post',
                    data: { cod: cod }
                }).success(function (o) {
                    if (o.OK) {
                        cancelar();
                    } else {
                        alert(o.Mensagem);
                    }
                });
            }
        }
          function linhaClick(e) {

        }
        function openFormDocumento() {
            var dados = $("#CodCliente").val();
            $("#modal-form-documento .modal-body").empty();
            $("#modal-form-documento .modal-title").empty().text("Documento");
            $("#modal-form-documento .modal-body").load("@Url.Action("Modal", "Documento")?idCliente=" + dados , function () {
                $("#modal-form-documento").modal("show");
                $('.modal-dialog').draggable({
                    handle: ".modal-header"
                });
                definirUpload();

                $("#modal-confirm").off("click").click(function () {
                    var $form = $("#form-cadastro-documento");
                    $.ajax({
                        url: $form.attr('action'),
                        type: 'post',
                        dataType: 'json',
                        data: $form.serialize()
                    }).success(function (resultado) {
                        if (resultado.OK) {
                            jx.mensagem('Operação Realizada!', 'Documento Salvo.', 'success', 'fa fa-check');
                            $('#modal-form-documento').modal('toggle');
                            setTimeout(function () {
                                location.reload();
                            }, 1500);
                        } else {
                            jx.mensagem('Data de Agendamento!', resultado.Mensagem, 'danger', 'fa fa-exclamation');
                        }
                    });
                });
            });
          };

        function obterDados() {
            var $data_table = $('#grid-documento');
            table.destroy();
            table = $data_table.DataTable({
                "rowId": 'Cod',
                "order": [[1, 'desc']],
                "deferRender": true,
                "serverSide": true,
                "processing": true,
                "ajax": {
                    "url": "@Url.Action("ObterDocDadosPorServer", "Pesquisa")",
                    "data": { cdCliente: 0 },
                    "type": "POST"
                },
                "rowId": 'CodigoCliente',
                "language": {
                    "sEmptyTable": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sInfo": "@Idioma.Traduzir("Mostrando de") _START_ @Idioma.Traduzir("até") _END_ @Idioma.Traduzir("de") _TOTAL_ @Idioma.Traduzir("registros")",
                    "sInfoEmpty": "@Idioma.Traduzir("Mostrando 0 até 0 de 0 registros")",
                    "sInfoFiltered": "(@Idioma.Traduzir("Filtrados de") _MAX_ @Idioma.Traduzir("registros"))",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_",
                    "sLoadingRecords": "@Idioma.Traduzir("Carregando...")",
                    "sProcessing": "<h2><i class='fa fa-spin fa-spinner text-silver'></i> @Idioma.Traduzir("Carregando os dados..")</h2>",
                    "sZeroRecords": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sSearch": "",
                    "oPaginate": {
                        "sNext": "@Idioma.Traduzir("Próximo")",
                        "sPrevious": "@Idioma.Traduzir("Anterior")",
                        "sFirst": "@Idioma.Traduzir("Primeiro")",
                        "sLast": "@Idioma.Traduzir("Último")"
                    },
                    oAria: {
                        "sSortAscending": ": @Idioma.Traduzir("Ordenar colunas de forma ascendente")",
                        "sSortDescending": ": @Idioma.Traduzir("Ordenar colunas de forma descendente")"
                    }
                },
                "columnDefs": [
                    {
                        targets: 1,
                        searchable: false,
                        orderable: false,
                        className: '',
                        render: function (data, type, row, index) {
                            return '<label class="label pull-left label-success" style="margin-left:4px; font-size:100%;">' + row.TipoDocumento + '</label>'
                        }
                    },
                    {
                        targets: 4,
                        searchable: false,
                        orderable: false,
                        className: '',
                        render: function (data, type, row, index) {
                            var $div = $("<div></div>");
                            $divBtnGroup = $(document.createElement("div")).addClass('btn-group-xs').attr('role', 'group');
                            var $btnRemove = $(document.createElement("buttom"))
                                .attr("type", "button")
                                .addClass("btn btn-xs btn-danger")
                                .attr("onclick", "removerDocumento('" + row.ArquivoGuid + "')")
                                .append("<i class='fa fa-trash'></i>");
                            var $btnLook = $(document.createElement("buttom"))
                                .attr("type", "button")
                                .addClass("btn btn-xs btn-default")
                                .attr("onclick", "selDoc('" + row.ArquivoGuid + "')")
                                .append("<i class='fa fa-search-plus'></i>");
                            var $btnDownload = $(document.createElement("buttom"))
                                .attr("type", "button")
                                .addClass("btn btn-xs btn-success")
                                .attr("onclick", "downDoc('" + row.ArquivoGuid + "')")
                                .append("<i class='fa fa-download'></i>");
                            if (row.IsRemove) {
                                $divBtnGroup.append($btnRemove);
                            }
                            $divBtnGroup.append($btnLook).append($btnDownload);
                            $div.append($divBtnGroup);
                            return $div.html();

                        }
                    }],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td:eq(1),td:eq(2),td:eq(3),td:eq(4)', nRow).addClass("text-center");
                },
                "sDom": '<"row"<"col-xs-12 col-md-12">>' +
                    '<"row"<"col-xs-12 col-md-12 dtable-reponsive"t>>' +
                    '<"row"<"col-xs-12 col-md-6 pull-left"i><"col-xs-12 col-md-6 pull-right"p>>',
                'initComplete': function (settings, json) {
                    var tb = table.data();
                    tb.inicializar($data_table);
                    tb.addSearch($data_table);
                    jx.dTablesUnblock($data_table);
                    $("#tb-loading").hide();
                },
                "fnDrawCallback": function (oSettings) {
                    jx.dTablesUnblock($data_table);
                }

            }).on('order.dt', function () {
                jx.dTablesBlock($data_table);
            });
        }

          function downDoc(guid) {
              window.location.href = '/Pesquisa/DownloadSeguro/' + '?cd=' + guid;
          }
    </script>
}