﻿@model Cobranca.Db.Models.Cliente
@using Cobranca.Rotinas;
@using Cobranca.Db.Models.Pesquisa;
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-pesquisa";
    List<Cobranca.Db.Models.Historico> _histCliente = new List<Cobranca.Db.Models.Historico>();
    if (ViewBag.ListaHistoricos != null)
    {
        _histCliente = (List<Cobranca.Db.Models.Historico>)ViewBag.ListaHistoricos;
    }

    List<Cobranca.Db.Models.ContratoAcaoCobrancaHistorico> _histAcaoCobrancaCliente = new List<Cobranca.Db.Models.ContratoAcaoCobrancaHistorico>();
    if (ViewBag.historicosAcaoCobrancaCLiente != null)
    {
        _histAcaoCobrancaCliente = (List<Cobranca.Db.Models.ContratoAcaoCobrancaHistorico>)ViewBag.historicosAcaoCobrancaCLiente;
    }
    var listaRepasse = ViewBag.ListaHistorico;
    var fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true;
    Model.CPF = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.CPF);
    Model.Nome = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Nome);
    Model.CodCliente = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.CodCliente);
    Model.Email = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Email);

    List<HistoricoDados> _HistTimeline = new List<HistoricoDados>();
    if (ViewBag.HitoricosTimeline != null)
    {
        _HistTimeline = (List<HistoricoDados>)ViewBag.HitoricosTimeline;
    }
}
@Html.ValidationBootstrapModal()
@Html.AntiForgeryToken()
@Html.Modal()
<style>
    .ui-datepicker {
        margin-left: 100px;
        z-index: 1000 !important;
        position: relative !important;
        top: -290px !important;
        left: 0 !important;
    }

    /*table tbody td {
        text-overflow: ellipsis;
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
    }*/
</style>
<style>
    .well {
        background: #fbfbfb;
        border: 1px solid #ddd;
        -webkit-box-shadow: 0 1px 1px #ececec;
        position: relative;
        min-height: 20px;
        margin-bottom: 20px;
    }

    .well-sm {
        padding: 9px;
        border-radius: 2px;
    }

    .smart-timeline {
        position: relative;
    }

    .smart-timeline-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .smart-timeline-list:after {
            content: " ";
            background-color: #eee;
            position: absolute;
            display: block;
            width: 2px;
            top: 0;
            left: 95px;
            bottom: 0;
            z-index: 1;
        }

        .smart-timeline-list li {
            position: relative;
            margin: 0;
            padding: 15px 0;
        }

        .smart-timeline-list > li:hover {
            background-color: #f4f4f4;
        }

    .smart-timeline-hover li:hover {
        background-color: #f9f9f9;
    }

    .smart-timeline-icon {
        background: #3276b1;
        color: #fff;
        border-radius: 50%;
        position: absolute;
        width: 32px;
        height: 32px;
        line-height: 28px;
        font-size: 14px;
        text-align: center;
        left: 80px;
        top: 10px;
        z-index: 100;
        padding: 2px;
    }

        .smart-timeline-icon > i {
            font-size: 16px;
        }

        .smart-timeline-icon > img {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            margin-top: -2px;
            margin-left: -2px;
            border: 2px solid #3276b1;
        }

    .smart-timeline-time {
        float: left;
        width: 70px;
        text-align: right;
    }

        .smart-timeline-time > small {
            font-style: italic;
        }

    .smart-timeline-content {
        margin-left: 123px;
    }
</style>
<div class="row">
    @Html.Hidden("hfCodFase")
    @Html.Hidden("hfCodSintese")
    @Html.Hidden("hfCodMotivo")
    @Html.Hidden("FiltroSintese", (int)ViewBag.filtroSintese)
    @Html.Hidden("FiltroSinteseParcela", (int)ViewBag.FiltroSinteseParcela)


    @Html.Partial("_menuPesquisaPorCliente", "aba-historico")
    <div class="col-md-12">
        <div class="panel panel-default panel-pesquisa-dados">
            <div class="panel-body">
                @Html.Partial("_dados", Model)
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row area-expantir animated fadeIn">
                                    <div class="col-md-12">
                                        <ul class="nav nav-tabs nav-junix" role="tablist">
                                            @*<li><a data-toggle="tab" href="#TAB-CLIENTE" onclick="exibirForm()">@Idioma.Traduzir("CONTRATO HISTÓRICO")</a></li>*@
                                            <li class="active"><a data-toggle="tab" href="#TAB-PARCELA" onclick="ocultarForm()">@Idioma.Traduzir("PARCELA HISTÓRICO")</a></li>
                                            @*<li><a data-toggle="tab" href="#TAB-TIMELINE" onclick="ocultarForm()">@Idioma.Traduzir("TIMELINE")</a></li>*@
                                            @if (Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin)
                                            {
                                                <li role="presentation"><a href="#TAB-ACAOCOBRANCA" onclick="ocultarForm()" aria-controls="profile" role="tab" data-toggle="tab">@Idioma.Traduzir("AÇÕES COBRANÇA")</a></li>
                                            }


                                        </ul>
                                    </div>
                                </div>
                                <br />
                                <div class="row" id="form-exibir">
                                    <div class="col-md-4 ">
                                        <div class="form-group-sm">
                                            <label>
                                                @Idioma.Traduzir("Contratos")
                                            </label>
                                            @Html.DropDownList("contratoId", new SelectList(ViewBag.Contratos, "value", "key", Cobranca.Db.Rotinas.DbRotinas.ConverterParaInt(ViewBag.Contratos)), new { @class = "form-control input-silver", required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button onclick="openHistorico()" type="button" class="btn btn-sm btn-block pull-left margin-top-18 btn-primary "><i class="fa fa-history"></i> @Idioma.Traduzir("Novo Histórico")</button>
                                    </div>
                                </div>
                                <div class="tab-content" style="margin-top:20px;">
                                    <div role="tabpanel" class="tab-pane  fade" id="TAB-CLIENTE">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table id="grid-cliente" class="table table-bordered table-condensed table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th data-name="DataCadastro" -data-data="DataCadastroDesc" style="width:40px" data-title="@Idioma.Traduzir("Data")"></th>
                                                            <th data-name="NumeroContratoEncrypted" data-data="NumeroContratoEncrypted" data-title="@Idioma.Traduzir("Nr.Contrato")"></th>
                                                            <th data-name="FaseEncrypted" data-data="FaseEncrypted" data-title="@Idioma.Traduzir("Fase")"></th>
                                                            <th data-name="SinteseEncrypted" data-data="SinteseEncrypted" data-title="@Idioma.Traduzir("Sintese")"></th>
                                                            <th data-name="MotivoAtrasoEncrypted" data-data="MotivoAtrasoEncrypted" data-title="@Idioma.Traduzir("Motivo")"></th>
                                                            <th data-name="ResolucaoEncrypted" data-data="ResolucaoEncrypted" data-title="@Idioma.Traduzir("Resolução")"></th>
                                                            <th data-name="NomeUsuario" data-data="NomeUsuario" data-title="@Idioma.Traduzir("Usuário")"></th>
                                                            <th data-name="ObservacaoEncrypted" data-data="ObservacaoEncrypted" style="width:40px" data-title="@Idioma.Traduzir("Observação")"></th>
                                                            <th data-name="DataAgenda" data-data="DataAgendaDesc" data-title="@Idioma.Traduzir("Data Agendamento")"></th>
                                                        </tr>
                                                        <tr id="tb-loading">
                                                            <td colspan="14" class="text-center animated fadeIn">
                                                                <h2><i class="fa fa-spin fa-spinner text-silver"></i> @Idioma.Traduzir("Carregando os dados")</h2>
                                                            </td>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tb-cliente" style="display:none"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in active" id="TAB-PARCELA">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table id="grid-parcela" class="table table-bordered table-condensed table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th data-name="DataCadastro" data-data="DataCadastroDesc" style="width:40px" data-title="@Idioma.Traduzir("Data")"></th>
                                                            <th data-name="NumeroContratoEncrypted" data-data="NumeroContratoEncrypted" data-title="@Idioma.Traduzir("Nr.Contrato")"></th>
                                                            <th data-name="FluxoPagamento" data-data="FluxoPagamento" data-title="@Idioma.Traduzir("Fluxo de Pagamento")"></th>
                                                            <th data-name="FaseEncrypted" data-data="FaseEncrypted" data-title="@Idioma.Traduzir("Fase")"></th>
                                                            <th data-name="SinteseEncrypted" data-data="SinteseEncrypted" data-title="@Idioma.Traduzir("Sintese")"></th>
                                                            <th data-name="MotivoAtrasoEncrypted" data-data="MotivoAtrasoEncrypted" data-title="@Idioma.Traduzir("Motivo")"></th>
                                                            <th data-name="ResolucaoEncrypted" data-data="ResolucaoEncrypted" data-title="@Idioma.Traduzir("Resolução")"></th>
                                                            <th data-name="ValorParcelaDesc" data-data="ValorParcelaDesc" data-title="@Idioma.Traduzir("Vr.Parcela")"></th>
                                                            <th data-name="NomeUsuario" data-data="NomeUsuario" data-title="@Idioma.Traduzir("Usuário")"></th>
                                                            <th data-name="ObservacaoEncrypted" data-data="ObservacaoEncrypted" style="width:40px" data-title="@Idioma.Traduzir("Observação")"></th>
                                                            <th data-name="DataAgenda" data-data="DataAgendaDesc" data-title="@Idioma.Traduzir("Data Agendamento")"></th>
                                                        </tr>
                                                        <tr id="tb-loading-parcela">
                                                            <td colspan="13" class="text-center animated fadeIn">
                                                                <h2><i class="fa fa-spin fa-spinner text-silver"></i> Carregando os dados</h2>
                                                            </td>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tb-parcela" style="display:none"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="TAB-TIMELINE">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="well well-sm">
                                                    <!-- Timeline Content -->
                                                    <div class="smart-timeline">
                                                        <ul class="smart-timeline-list">
                                                            @foreach (var historico in _HistTimeline)
                                                            {
                                                                <li>
                                                                    <div class="smart-timeline-icon">
                                                                        <i class="fa fa-file-text"></i>
                                                                    </div>
                                                                    <div class="smart-timeline-time">
                                                                        <small>@(String.Format("{0:d MMM, yyyy h.mm}", historico.DataCadastro))</small>
                                                                    </div>
                                                                    <div class="smart-timeline-content">
                                                                        <p>
                                                                            <a href="javascript:void(0);"><strong>@historico.FaseEncrypted - @historico.SinteseEncrypted</strong></a>
                                                                        </p>
                                                                        @if (historico.MotivoAtrasoEncrypted != null)
                                                                        {
                                                                            <b>Resolução - @historico.MotivoAtrasoEncrypted</b>
                                                                        }
                                                                        <p>
                                                                            @historico.ObservacaoEncrypted
                                                                        </p>

                                                                    </div>
                                                                </li>
                                                            }

                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="TAB-ACAOCOBRANCA">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-bordered table-hover table-striped table-condensed data-table" data-ordem="">
                                                    <thead>
                                                        <tr>
                                                            <th width="120px">
                                                                @Idioma.Traduzir("Data")
                                                            </th>

                                                            <th>
                                                                @Idioma.Traduzir("Tipo Cobranca")
                                                            </th>
                                                            <th>
                                                                @Idioma.Traduzir("Ação Cobranca")
                                                            </th>
                                                            <th>
                                                                @Idioma.Traduzir("Situação")
                                                            </th>
                                                            <th>
                                                                @Idioma.Traduzir("Status")
                                                            </th>
                                                            <th>
                                                                @Idioma.Traduzir("Usuário")
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in _histAcaoCobrancaCliente.Where(x => x.DataEnvio.HasValue).OrderByDescending(x => x.DataCadastro))
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @item.DataEnvio
                                                                </td>

                                                                @if (item.CodTipoCobrancaAcao > 0)
                                                                {
                                                                    <td>
                                                                        @Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.TabelaTipoCobrancaAcao.TabelaTipoCobranca.TipoCobranca)
                                                                    </td>
                                                                    <td>
                                                                        @item.TabelaTipoCobrancaAcao.TabelaAcaoCobranca.AcaoCobranca
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td>
                                                                        --
                                                                    </td>
                                                                    <td>
                                                                        @item.TituloAcao
                                                                    </td>
                                                                }

                                                                <td>
                                                                    @Cobranca.Db.Models.EnumeradoresDescricao.SituacaoHistorico(item.SituacaoTipo)
                                                                </td>
                                                                <td>
                                                                    @item.Status
                                                                </td>
                                                                <td>
                                                                    @if (item.CodUsuario.HasValue)
                                                                    {
                                                                        @item.Usuario.Nome
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="TAB-REPASSE">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-bordered table-hover table-striped table-condensed data-table" data-ordem="">
                                                    <thead>
                                                        <tr>
                                                            <th width="120px">
                                                                @Idioma.Traduzir("Data")
                                                            </th>

                                                            <th>
                                                                @Idioma.Traduzir("Fase")
                                                            </th>
                                                            <th>
                                                                @Idioma.Traduzir("Síntese")
                                                            </th>
                                                            <th>
                                                                @Idioma.Traduzir("Obs")
                                                            </th>
                                                            <th>
                                                                @Idioma.Traduzir("Login")
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (listaRepasse != null)
                                                        {
                                                            foreach (var item in listaRepasse)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @item.Data
                                                                    </td>
                                                                    <td>
                                                                        @Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.Fase)
                                                                    </td>
                                                                    <td>
                                                                        @Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.Sintese)
                                                                    </td>
                                                                    <td>
                                                                        @Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.Obs)
                                                                    </td>
                                                                    <td>
                                                                        @item.Login
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" tabindex="-1" role="dialog" id="modal-form-historico">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h3 class="modal-title">@Idioma.Traduzir("Titulo")</h4>
                            </div>
                            <div class="modal-body">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> @Idioma.Traduzir("Cancelar")</button>
                                <button type="button" onclick="salvarHistorico()" class="btn btn-primary"><i class="fa fa-save"></i> @Idioma.Traduzir("Confirmar")</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var table, tableParcela;
        function exibirForm(id, e) {
            $(id).show();
            $(e).hide();
        }
        $(document).ready(function () {
            obterDados();
            $("#CodContrato").change(function () {
                var cod = $("#CodContrato").val();
                $.ajax({
                    url: '@Url.Action("ListarFasePorContrato", "Fase")',
                    type: 'post',
                    dataType: 'json',
                    data: { CodContrato: cod }
                }).success(function (resultado) {
                    console.log(resultado);
                    popularDropoDownList($("#CodFase"), resultado);
                });
            });


            $("#CodFase").change(function () {
                var cod = $("#CodFase").val();
                $.ajax({
                    url: '@Url.Action("ListarSintesePorFase", "Sintese")',
                    type: 'post',
                    dataType: 'json',
                    data: { fase: cod }
                }).success(function (resultado) {
                    console.log(resultado);
                    popularDropoDownList($("#CodSintese"), resultado);
                });
            });
            $("#grid-cliente tbody").on('click', 'tr', function () {
                var table = $(this).parent().parent();
                if ($(this).hasClass('selecionado')) {
                    $(this).removeClass('selecionado');
                    $("#btnVisualizar").attr("disabled", "disabled");
                }
                else {
                    table.find('tr.selecionado').removeClass('selecionado');
                    $(this).addClass('selecionado');
                }

                if (linhaClick) {
                    linhaClick($(this));
                }
            });
        });
        function exibirForm() {
            $("#form-exibir").show();
        }
        function ocultarForm() {
            $("#form-exibir").hide();
        }
        function cancelar() {
            document.location.reload(false);
        }

        function obterDados() {
            $.ajax({
                url: '@Url.Action("DadosHistoricoPorCliente", "Historico")', type: 'post', dataType: 'json',
                data: {
                    ClienteId: $("#CodCliente").val(),
                    tpHistorico: 1,
                    CodSintese: $("#FiltroSintese").val()
                }
            }).success(function (resultado) {
                CarregarTableCliente(resultado.Data)
            });
            $.ajax({
                url: '@Url.Action("DadosHistoricoPorCliente", "Historico")', type: 'post', dataType: 'json',
                data: {
                    ClienteId: $("#CodCliente").val(),
                    tpHistorico: 3,
                    CodSinteseParcela: $("#FiltroSinteseParcela").val()
                }
            }).success(function (resultado) {
                CarregarTableParcela(resultado.Data)
            });
        }

        function CarregarTableCliente(data) {
            table = $('#grid-cliente').DataTable({
                "data": data,
                "serverSide": false,
                "deferRender": true,
                "aLengthMenu": [
                    [10, 25, 50, 100, -1],
                    [10, 25, 50, 100, "Todos"]
                ],
                "rowId": 'CodCliente',
                "order": [[1, 'desc']],
                "responsive": true,
                "processing": true,
                "language": {
                    "sEmptyTable": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sInfo": "@Idioma.Traduzir("Mostrando de") _START_ @Idioma.Traduzir("até") _END_ @Idioma.Traduzir("de") _TOTAL_ @Idioma.Traduzir("registros")",
                    "sInfoEmpty": "@Idioma.Traduzir("Mostrando 0 até 0 de 0 registros")",
                    "sInfoFiltered": "(@Idioma.Traduzir("Filtrados de") _MAX_ @Idioma.Traduzir("registros"))",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ @Idioma.Traduzir("resultados por página")",
                    "sLoadingRecords": "@Idioma.Traduzir("Carregando...")",
                    "sProcessing": "<h2><i class='fa fa-spin fa-spinner text-silver'></i> @Idioma.Traduzir("Carregando os dados..")</h2>",
                    "sZeroRecords": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sSearch": "@Idioma.Traduzir("Pesquisar")",
                    "oPaginate": {
                        "sNext": "@Idioma.Traduzir("Próximo")",
                        "sPrevious": "@Idioma.Traduzir("Anterior")",
                        "sFirst": "@Idioma.Traduzir("Primeiro")",
                        "sLast": "@Idioma.Traduzir("Último")"
                    },
                    oAria: {
                        "sSortAscending": ": @Idioma.Traduzir("Ordenar colunas de forma ascendente")",
                        "sSortDescending": ": @Idioma.Traduzir("Ordenar colunas de forma descendente")"
                    }
                }
            }).on('processing.dt', function (e, settings, processing) {
                if (processing) {
                    $("#tb-dados").find("tr").addClass("loading");
                } else {
                    $("#tb-dados").find("tr").removeClass("loading");
                }
            });
            $("#grid-cliente-remessa").removeClass("hide");
            $("#tb-loading").hide();
            $("#tb-cliente").show();
        }
        function openHistorico() {
            cod = $("#contratoId").val();
            if (cod > 0) {
                historicoContrato(cod);
            } else {
                alert("Selecione um contrato!")
            }
        }
        function historicoContrato(codContrato) {
            var idCliente = $("#CodCliente").val();
            $("#modal-form-historico .modal-body").empty();
            $("#modal-form-historico .modal-title").empty().text("Histórico Contrato");
            $("#modal-form-historico .modal-body").load("@(Url.Action("getHistorico", "Historico", null, Request.Url.Scheme))?idCliente=" + idCliente + "&idContrato=" + codContrato + "&idParcela=0&tpHistorico=1" + " #form-cadastro-historico", function () {
                //$("#form-cadastro-historico").find("#form-comandos").hide();
                $(".modal-footer").show()
                $("#modal-form-historico").modal("show");
                $("#btn-submit").off("click").click(function () { $("#form-cadastro-historico").submit() });
                $("#CodFase").change(function () {
                    var cod = $("#CodFase").val();
                    $.ajax({
                        url: '@Url.Action("ListarSintesePorFase", "Sintese")',
                        type: 'post',
                        dataType: 'json',
                        data: { fase: cod }
                    }).success(function (resultado) {
                        popularDropoDownList($("#CodSintese"), resultado);
                    });
                });
            });
        };
        function salvarHistorico() {
            $("#CodSintese").val($("#hfCodSintese").val());
            $("#CodMotivoAtraso").val($("#hfCodMotivo").val());
            $('#form-cadastro-historico').find("#CodContrato").val($("#contratoId").val());
            var formData = $('#form-cadastro-historico').serialize();
            $.ajax({
                url: '@Url.Action("Salvar", "Historico")',
                type: 'post',
                dataType: 'json',
                data: formData
            }).success(function (resultado) {
                if (resultado.OK) {
                    alert("Historico registrado!");
                    cancelar();
                }
            })
        }
        function mudaCorFase(value, ultimaValue) {
            $("#fase-" + value).removeAttr("class", "btn btn-sm btn-success");
            $("#fase-" + value).attr("class", "btn btn-sm btn-warning");
            if (ultimaValue != value) {
                $("#fase-" + ultimaValue).removeAttr("class", "btn btn-sm btn-warning");
                $("#fase-" + ultimaValue).attr("class", "btn btn-sm btn-success");
            }
        }
        function mudaCorMotivo(a) {
            var ultValue = $("#hfCodMotivo").val();
            var cod = $(a).attr("data-id");
            $("#motivo-" + cod).removeAttr("class", "btn btn-sm btn-default");
            $("#motivo-" + cod).attr("class", "btn btn-sm btn-warning");
            if (ultValue != cod) {
                $("#motivo-" + ultValue).removeAttr("class", "btn btn-sm btn-warning");
                $("#motivo-" + ultValue).attr("class", "btn btn-sm btn-default");

            }
            $("#hfCodMotivo").val(cod);
        }
        function selecionarSintese(a) {
            var ultValue = $("#hfCodSintese").val();
            var cod = $(a).attr("data-id");
            debugger;
            mudaCorSintase(cod, ultValue);
            $("#hfCodSintese").val(cod);
        }
        function mudaCorSintase(value, ultimaValue) {
            $("#sintese-" + value).removeAttr("class", "btn btn-sm btn-success");
            $("#sintese-" + value).attr("class", "btn btn-sm btn-warning");
            if (ultimaValue != value) {
                $("#sintese-" + ultimaValue).removeAttr("class", "btn btn-sm btn-warning");
                $("#sintese-" + ultimaValue).attr("class", "btn btn-sm btn-success");
            }
        }

        function CarregarTableParcela(data) {
            tableParcela = $('#grid-parcela').DataTable({
                "data": data,
                "serverSide": false,
                "deferRender": true,
                "aLengthMenu": [
                    [10, 25, 50, 100, -1],
                    [10, 25, 50, 100, "Todos"]
                ],
                "rowId": 'CodCliente',
                "order": [[1, 'desc']],
                "responsive": true,
                "processing": true,
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "buttons": {
                        "selectAll": "Marcar Todos",
                        "selectNone": "Desmarcar Todos"
                    },
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    oAria: {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            }).on('processing.dt', function (e, settings, processing) {
                if (processing) {
                    $("#tb-parcela").find("tr").addClass("loading");
                } else {
                    $("#tb-parcela").find("tr").removeClass("loading");
                }
            });
            $("#grid-cliente-remessa").removeClass("hide");
            $("#tb-loading-parcela").hide();
            $("#tb-parcela").show();
        }
    </script>
}