﻿@model Cobranca.Db.Models.Cliente
@using Cobranca.Rotinas;
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-pesquisa";
    List<Cobranca.Db.Models.ContratoParcela> _listaParcelas = new List<Cobranca.Db.Models.ContratoParcela>();
    List<Cobranca.Db.Models.Contrato> _listaContratos = new List<Cobranca.Db.Models.Contrato>();
    List<Cobranca.Db.Models.ContratoCliente> _listaContratoClientes = new List<Cobranca.Db.Models.ContratoCliente>();
    Cobranca.Db.Models.ContratoHistorico historico = historico = new Cobranca.Db.Models.ContratoHistorico();
    List<Cobranca.Db.Models.TabelaSintese> _listaSinese = new List<Cobranca.Db.Models.TabelaSintese>();
    List<Cobranca.Db.Models.TabelaMotivoAtraso> _listaMotivo = new List<Cobranca.Db.Models.TabelaMotivoAtraso>();
    List<Cobranca.Db.Models.ContratoParcelaAcordo> _listaParcelaAcordo = new List<Cobranca.Db.Models.ContratoParcelaAcordo>();

    List<Cobranca.Db.Models.ContratoAcaoCobrancaHistorico> _listaAcaoCobrancaHistorico = new List<Cobranca.Db.Models.ContratoAcaoCobrancaHistorico>();
    if (ViewBag.ListaContratos != null)
    {
        _listaContratos = (List<Cobranca.Db.Models.Contrato>)ViewBag.ListaContratos;
    }
    if (ViewBag.ListaParcelaAcordo != null)
    {
        _listaParcelaAcordo = (List<Cobranca.Db.Models.ContratoParcelaAcordo>)ViewBag.ListaParcelaAcordo;
    }
    if (ViewBag.ListaTodosMotivos != null)
    {
        _listaMotivo = (List<Cobranca.Db.Models.TabelaMotivoAtraso>)ViewBag.ListaTodosMotivos;
    }
    if (ViewBag.ListaTodasSintese != null)
    {
        _listaSinese = (List<Cobranca.Db.Models.TabelaSintese>)ViewBag.ListaTodasSintese;
    }
    if (ViewBag.parcelasCliente != null)
    {
        _listaParcelas = (List<Cobranca.Db.Models.ContratoParcela>)ViewBag.parcelasCliente;
        _listaParcelas = _listaParcelas.OrderBy(x => x.DataVencimento).ToList();
    }
    var cliente = Model.ContratoClientes;
    List<Cobranca.Db.Models.TabelaFase> listaFase = new List<Cobranca.Db.Models.TabelaFase>();
    if (ViewBag.ListaFase != null)
    {
        listaFase = ViewBag.ListaFase;
    }
    if (ViewBag.acaoCobranca != null)
    {
        _listaAcaoCobrancaHistorico = (List<Cobranca.Db.Models.ContratoAcaoCobrancaHistorico>)ViewBag.acaoCobranca;
    }
    var clientePrincipal = ViewBag.ClientePrincipal;
    var fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true;

}
<style>
    .effect-panel {
        border-top: 1px solid #e5e5e5;
        box-shadow: inset 0 4px 3px -3px rgba(0,0,0,0.14), inset 0 -4px 4px -3px rgba(0,0,0,0.14);
    }

    .panel-placeholder {
        border: 1px dotted black;
        margin: 1em 1em 1em 1em;
        height: 50px;
    }

    .date-red {
        color: #c7254e !important;
    }

    /*.td-checkbox {
        padding: 2px !important;
    }*/

    /*.selected {
        background-color: #c76161 !important;
        color: #fff;
    }*/

    table.dataTable.display tbody > tr.selected > .sorting_1, table.dataTable.order-column.hover tbody > tr.selected > .sorting_1 {
        background-color: #c76161 !important;
    }

    table.dataTable.display tbody > tr.selected:hover > .sorting_1, table.dataTable.order-column.hover tbody > tr.selected:hover > .sorting_1 {
        background-color: #c76161 !important;
    }


    .ui-datepicker-div {
        z-index: 999;
    }


    .estilo {
        display: block;
        position: relative;
        text-align: center;
        padding: 5px 12px;
        color: #444;
        background-color: #eee;
        border: 1px solid transparent;
    }

    .input-group-addon {
        background-color: #fff;
        height: 34px;
        border-radius: 0;
        margin-bottom: 5px;
    }

    .note-editor.panel.panel-default {
        border-radius: 0px;
        border: 1px solid #ddd;
        margin-top: -2px;
    }

    .note-popover .popover .popover-content, .panel-heading.note-toolbar {
        padding: 0 0 5px 20px;
        margin: 0;
    }

    a.dt-button-excel {
        background: #227446 !important;
        border-color: #113922 !important;
        color: #fff;
        border-radius: 0px !important;
        height: 30px;
        border: 1px solid transparent;
        text-align: center;
    }

    a.dt-button-filter {
        background: #E8E8E8 !important;
        border-color: #cfcfcf !important;
        color: #001116;
        border-radius: 0px !important;
        height: 30px;
        border: 1px solid transparent;
        text-align: center;
    }

    a.buttons-page-length {
        background: #fff !important;
        border-color: #ccc !important;
        color: #333;
        border-radius: 0px !important;
        height: 30px;
        border: 1px solid transparent;
        text-align: center;
    }
    /*table tbody td {
        text-overflow: ellipsis;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        padding: 10px;
    }*/
</style>



<div class="row">
    @Html.Hidden("hfCodFase")
    @Html.Hidden("DtHoje", System.DateTime.Now)
    @Html.Hidden("hfCodSintese")
    @Html.Hidden("CodCliente", Model.Cod)
    @Html.Hidden("CodUsuario", Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod)
    @Html.Hidden("hfCodMotivo")
    @Html.Hidden("filtContrato")
    @Html.Hidden("sinteseContratoId", (int)ViewBag.CodSinteseContrato)
    @Html.Hidden("sinteseParcelaId", (int)ViewBag.CodSinteseParcela)
    @Html.Partial("_menuPesquisaPorCliente", "aba-negociacao")
    <div class="col-md-12">
        <div class="panel panel-default panel-pesquisa-dados" style="min-height:400px;">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs nav-junix" role="tablist">
                        <li role="presentation" class="active"><a href="#TAB-ATENDIMENTO" role="tab" data-toggle="tab">@Idioma.Traduzir("ATENDIMENTO")</a></li>
                        @if (fgSistemaCobranca)
                        {
                            <li role="presentation" style="display:none"><a href="#TAB-HISTORICO-REPASSE" aria-controls="profile" role="tab" data-toggle="tab"> REPASSE HISTÓRICO </a></li>
                            @*<li role="presentation"><a href="#TAB-PARCELA" aria-controls="profile" role="tab" data-toggle="tab">PARCELAS À VENCER</a></li>
                                <li role="presentation"><a href="#TAB-ACORDO" aria-controls="profile" role="tab" data-toggle="tab">ACORDOS</a></li>*@
                            <li role="presentation"><a href="#TAB-HISTORICO-ACAOCOBRANCA" aria-controls="profile" role="tab" data-toggle="tab">@Idioma.Traduzir("AÇÕES COBRANÇA")</a></li>
                        }
                    </ul>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default panel-com-tab">
                        <div class="panel-body">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="TAB-ATENDIMENTO">
                                    <div class="row jnx-sortable">
                                        <div class="col-md-4">
                                            @Html.Partial("~/Views/Atendimento/_partialCliente.cshtml", Model)
                                        </div>
                                        <div class="col-md-4" id="historico-junix">
                                            @Html.Partial("~/Views/Atendimento/_partialContato.cshtml", Model)
                                        </div>
                                        <div class="col-md-4">
                                            @Html.Partial("~/Views/Atendimento/_partialMsgContrato.cshtml", Model)
                                        </div>
                                        @*<div class="col-md-4">
                                                @Html.Partial("~/Views/Atendimento/_partialScript.cshtml", Model)
                                            </div>*@
                                        <div class="col-md-12">
                                            @Html.Partial("~/Views/Atendimento/_partialListContrato.cshtml", _listaContratos)
                                        </div>
                                        <div class="col-md-12">
                                            @Html.Partial("~/Views/Atendimento/_partialParcelas.cshtml", _listaParcelas)
                                        </div>
                                        <div class="col-md-3 hide">
                                            <div id="panelCalculo" class="widget-panel widget-panel-sortable" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" role="tablist">
                                                <header role="heading">
                                                    <span class="widget-icon"> <i class="fa fa-calculator txt-color-darken"></i> </span>
                                                    <h2>@Idioma.Traduzir("Calculo")</h2>
                                                </header>
                                                <div class="no-padding">
                                                    <div class="widget-body">
                                                        <div class="panel-body" style="height:230px; padding:5px;">
                                                            <div class="row" style="margin-top:10px;">
                                                                <div class="col-lg-12 com-md-12 col-xs-12">
                                                                    <label for="Valor" class="col-md-4" style="padding-top: 10px;"><b>@Idioma.Traduzir("Quantidade"):</b></label>
                                                                    <div class="col-md-8">
                                                                        @Html.TextBox("NrParcela", 0, new { @class = "form-control input-silver", disabled = "disabled" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12 com-md-12 col-xs-12">
                                                                    <label for="Valor" class="col-md-4" style="padding-top: 10px;"><b>@Idioma.Traduzir("Valor Total"):</b></label>
                                                                    <div class="col-md-8">
                                                                        @Html.TextBox("ValorTotal", "0,00", new { @class = "form-control input-silver", disabled = "disabled", data_mask = "money2" })
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @Html.Partial("~/Views/Atendimento/_partialAcaoCobranca.cshtml", _listaAcaoCobrancaHistorico)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popUp">
    <div class="row">
        <div class="modal fade" tabindex="-1" role="dialog" id="modal-form">
            <div class="modal-dialog modal-lg">
                <form method="post" id="form-reserva" target="_self">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="panel panel-default panel-small">
                                        <div style="margin-top:10px" id="div-boleto" class="panel-body">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="">
    <div class="row">
        <div class="modal fade" tabindex="-1" role="dialog" id="popUpCliente">
            <div class="modal-dialog modal-lg">
                <form method="post" id="form-reserva" target="_self">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="panel panel-default panel-small">
                                        <div style="margin-top:10px" class="panel-body">
                                            <h2 id="linha-carregando" class="text-center text-silver" style="">
                                                @Idioma.Traduzir("Carregando Aguarde")<br />
                                                <img src="~/Content/img/spinner.gif" height="50px" />
                                            </h2>
                                            <iframe id="iframe-contrato" src="@Url.Action("ClienteGeral", "Pesquisa", new { cdCliente = Model.Cod })" frameborder="0" width="100%"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="modal-form-historico">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">@Idioma.Traduzir("Titulo")</h3>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> @Idioma.Traduzir("Cancelar")</button>
                        <button type="button" onclick="salvarHistorico()" class="btn btn-primary"><i class="fa fa-save"></i> @Idioma.Traduzir("Confirmar")</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="modal-form-solicitacao">
            <div class="modal-dialog" style="width:calc(100% - 120px)">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">@Idioma.Traduzir("Titulo")</h3>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>

</div>
@section scripts{
    <script src="~/Scripts/jspdf.js"></script>
    <script src="~/Scripts/html2canvas/html2canvas.min.js"></script>
    <script src="~/Scripts/widgets/jnx.widgets.js"></script>
    <script type="text/javascript">
        var _contratoRegional = false;
        var _id = 0;
        var rows_selected = [];
        var $data_table_boleto, _tbBoleto = undefined;
        var form = $('#div-boleto'), cache_width = form.width(), a4 = [595.28, 841.89];
        //#region Ready
        $(document).ready(function () {
            jx.FilterSwitcherHabilitar();
            contratoGrid();
            var j = $(".jnx-sortable").not("[data-widget-excludegrid]");
            j.sortable({
                handle: '.handle',
                placeholder: "widget-panel-placeholder",
                start: function (event, ui) {
                    var classes = ui.item.attr('class').split(/\s+/);
                    for (var x = 0; x < classes.length; x++) {
                        if (classes[x].indexOf("col") > -1) {
                            ui.placeholder.addClass(classes[x]);
                        }
                    }
                    ui.placeholder.css({
                        width: ui.item.innerWidth() - 30 + 1,
                        height: ui.item.innerHeight() - 15 + 1,
                        padding: ui.item.css("padding"),
                        marginTop: 0
                    });
                }
            });
            //$('li[class="jx-nav-boleto-item"] > a').click(function () {
            //    $('li[class="jx-nav-boleto-item active"]').removeClass('active');
            //    $(this).parent().addClass('active');
            //});

            $('.modal-dialog').draggable({
                handle: ".modal-header"
            });

            $('.ui-datepicker-div').css('zIndex', 999999);

            var specialElementHandlers = {
                '#editor': function (element, renderer) {
                    return true;
                }
            };

            $(".panel-heading").addClass("collapsed");
            $("#CodFase").change(function () {
                var cod = $("#CodFase").val();
                $.ajax({
                    url: '@Url.Action("ListarSintesePorFase", "Sintese")',
                    type: 'post',
                    dataType: 'json',
                    data: { fase: cod }
                }).success(function (resultado) {
                    popularDropoDownList($("#CodSintese"), resultado);
                });
            });

            $("#btnGerar").click();
            $('.jarviswidget-fullscreen-btn').click(function (e) {
                $('#panelCliente').toggleClass('fullscreen');
            });
            $("#DataAgenda").blur(function () {
                var DataAgenda = moment($('#DataAgenda').val(), 'DD-MM-YYYY, h:mm').format();
                var Today = moment().format();
                if (!moment(DataAgenda).isAfter(Today)) {
                    $(this).addClass("date-red animated shake", "easeOutBounce");
                } else {
                    $(this).removeClass("date-red animated shake");
                }
            });
            acaoCobrancaGrid();
        });
        //#endregion


        
        function openHistorico() {
            var rowcollection = _tb.$("input[type='checkbox']:checked", { "page": "all" });
            var _today = new Date();
            var _ticked = "&t=" + _today.getSeconds();
            var cod = 0;
            var dados = [];
            rowcollection.each(function (index, elem) {
                cod = $(elem).attr("data-id");
                dados.push(cod);
            });
            if (cod > 0) {
                $.get('/ContratoParcelaBoleto/ValidarEmpresaCobranca/?p=' + dados + _ticked, function (r) {
                    if (r.OK) {
                        historicoParcela(dados);
                    } else {
                        jx.mensagem(r.Titulo, r.Mensagem, 'warning', 'fa fa-exclamation ');
                    }
                });
            } else {
                alert("Selecione uma parcela!")
            }
        }

        function gerar() {
            //_dados = [];
            $("input[type='checkbox']:checked").each(function (i, e) {
                if ($(e).prop("checked")) {
                    var cod = $(e).attr("id")
                    emitirBoleto('@Url.Action("GerarBoleto", "Banco")?CodParcela=' + cod + '')


                    //_dados.push($(e).attr("id"));
                }
            });
        }

        function ocultarForm() {
            document.getElementById("form-cadastro-historico").reset();
            $(".form-exibir").hide();
            $("#botoes").hide();
            $("#btn-adcionar").hide();
        }
        function cancelar() {
            document.location.reload(false);
        }

        function alterarCliente() {
            $("#popUpCliente").modal("show");
        }

        function openModal() {
            $("#modalHistorico").modal("show");

        }

        function abrirAgenda() {
            $.ajax({
                url: '@Url.Action("ListarCalendarioEventos", "Calendario")',
                type: 'post',
                data: obterFiltros()
            }).success(function (resultado) {
                jx.calendarioOpen(resultado, 'agendaWeek', retornoAgenda);

            });
        }
        function obterFiltros() {
            return {
                contratoId: $("#filtContrato").val(),
                CodSinteseContrato: $("#sinteseContratoId").val(),
                CodSinteseParcela: $("#sinteseParcelaId").val()
            }
        }

        function retornoAgenda(start, end, allDay) {
            data = moment(start).format('DD/MM/YYYY hh:mm');
            $("#DataAgenda").val(data);
            $('#jnxCalendarDefault').modal('toggle');
        }
        function AlteraContatoHot(status, cod, CodUsuario, el) {
            $.ajax({
                url: '@Url.Action("AlteraContatoHot", "Cliente")',
                type: 'post',
                dataType: 'json',
                data: { Status: status, Cod: cod, usuario: CodUsuario }
            }).success(function (resultado) {
                if (status == false) {
                    $(el).attr("src", "/Content/img/NegativeIcon.png")
                    $(el).attr("onclick", "AlteraContatoHot(true," + cod + "," + @Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod + ", this)")
                } else {
                    $(el).attr("src", "/Content/img/PositiveIcon.png")
                    $(el).attr("onclick", "AlteraContatoHot(false," + cod + "," + @Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod + ", this)")
                }

            });
        }
        function abrirAgenda() {
            $.ajax({
                url: '@Url.Action("ListarCalendarioEventos", "Calendario")',
                type: 'post',
                data: obterFiltros()
            }).success(function (resultado) {
                jx.calendarioOpen(resultado, 'agendaWeek', retornoAgenda);
            });
        }
        function retornoAgenda(start, end, allDay) {
            data = moment(start).format('DD/MM/YYYY hh:mm');
            $("#DataAgenda").val(data);
            $('#jnxCalendarDefault').modal('toggle');
        }
        function obterFiltros() {
            return {
                UsuarioId: $("#UsuarioId").val()
            }
        }


        function getSelecionados() {
            var itens = $(".data-table2").DataTable().rows({ selected: true }).data();
            var Ids = [];
            for (var i = 0; i < itens.length; i++) {
                var item = itens[i][3];
                Ids.push(item);
            }
            return Ids;
        }
        function popUP() {
            $("#modal-form").modal("show");
        }
        function visualizarDetalhes(cod) {
            $.ajax({
                url: '@Url.Action("InformacaoContrato", "Pesquisa")',
                type: 'post',
                dataType: 'json',
                data: { CodContrato: cod }
            }).success(function (resultado) {

            })
        }
        function hora() {

            var now = new Date().setHours(00, 00, 00, 00)
            var HoraCompleta = now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();
            $("#HoraAtual").text(HoraCompleta);
            setTimeout('hora()', 500);
        }

        function converterParaValor(obj) {
            return parseFloat(obj.replace(',', '.'));
        }
        function formatarValorMoeda(c) {
            var valor = parseFloat(c).toFixed(2).toString().replace(".", ",");
            var el = $(document.createElement("input"));
            el.val(valor).mask('000.000.000.000.000,00', { reverse: true });
            return el.val();
        }

        function linhaClickParcela(e) {

        }
        function linhaClick(e) {

        }

        function consultarMsgContrato(codContrato) {
            $("#mensagem-contrato").empty().append("--");
            jx.submit('@Url.Action("ConsultarMsgContrato", "Atendimento")', { cods: codContrato }, function (d) {
                $("#mensagem-contrato").empty().append(d.Dados);
            });
        }
        function ValidaDataAgenda() {
            var elemDataAgenda = $("#DataAgenda");
            debugger;
            if (elemDataAgenda.val() != "") {
                var DataAgenda = moment(elemDataAgenda.val(), "DD/MM/YYYY").format();
                var Today = moment().format();
                $(this).removeClass("date-red animated shake");
                if (!moment(DataAgenda).isAfter(Today)) {
                    $(this).addClass("date-red animated shake");
                    return false;
                } else {
                    return true;
                }
            }
        }
    </script>

    @{ var ticked = "&t=" + DateTime.Now.ToString("yyyyMMddHHmmss");}
    @*//#REGION GRID CONTRATO*@
    <script src="@Url.Content("~/App/js/Views/Atendimento/listaContrato.js?"+ ticked) "></script>
    @*//#REGION GRID PARCELA*@
    <script src="@Url.Content("~/App/js/Views/Atendimento/listaParcelas.js?"+ ticked) "></script>
    @*//#REGION HISTORICO*@
    <script src="@Url.Content("~/App/js/Views/Atendimento/historico.js?"+ ticked) "></script>
    @*//#REGION MENSAGEM*@
    <script src="@Url.Content("~/App/js/Views/Atendimento/mensagemFilial.js?"+ ticked) "></script>
    @*//#REGION BOLETO*@
    <script src="@Url.Content("~/App/js/Views/Atendimento/boleto.js?"+ ticked) "></script>
    @*//#REGION DOCUMENTO*@
    <script src="@Url.Content("~/App/js/Views/Atendimento/documento.js?"+ ticked) "></script>
    @*//#REGION EDITAR CLIENTE*@
    <script src="@Url.Content("~/App/js/Views/Atendimento/cliente.js?"+ ticked) "></script>
    @*//#REGION GRID ACAO COBRANCA*@
    <script src="@Url.Content("~/App/js/Views/Atendimento/acaoCobranca.js?"+ ticked) "></script>
}
<link href="@Url.Content("~/Content/modal-radio-button.css")" rel="stylesheet" />
