﻿@model Cobranca.Db.Models.Cliente
@using Cobranca.Rotinas;
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-pesquisa";
    List<Cobranca.Db.Models.ContratoParcela> parcelas = new List<Cobranca.Db.Models.ContratoParcela>();
    if (ViewBag.parcelasCliente != null)
    {
        parcelas = (List<Cobranca.Db.Models.ContratoParcela>)ViewBag.parcelasCliente;
    }
    List<Cobranca.Db.Models.Contrato> contratos = new List<Cobranca.Db.Models.Contrato>();
    if (ViewBag.Contratos != null)
    {
        contratos = (List<Cobranca.Db.Models.Contrato>)ViewBag.Contratos;
    }
    parcelas = parcelas.Where(x => x.DataPagamento.HasValue).OrderBy(x => x.DataVencimento).ToList();
    Model.CPF = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.CPF);
    Model.Nome = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Nome);
    Model.CodCliente = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.CodCliente);
    Model.Email = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Email);
}
<style>
    div.dataTables_length {
        float: right !important;
    }

    div.dataTables_filter {
        float: left !important;
    }
</style>
<div class="row">
    @Html.Hidden("Cod")
    @Html.Hidden("ContratoSintese", (int)ViewBag.CodSinteseContrato)
    @Html.Hidden("ParcelaSintese", (int)ViewBag.CodSinteseParcela)
    @Html.Hidden("hfCodSintese")
    @Html.Hidden("CodCliente", Model.Cod)
    @Html.Hidden("hfCodFase")
    @Html.Hidden("hfCodMotivo")
    @Html.Partial("_menuPesquisaPorCliente", "aba-parcela-pagas")
    <div class="col-md-12">
        <div class="panel panel-default panel-pesquisa-dados">
            <div class="panel-body">
                @Html.Partial("_dados", Model)
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nav nav-tabs nav-junix" role="tablist">
                                    <li role="presentation" class="active"><a href="#TAB-PARCELAS" aria-controls="profile" role="tab" data-toggle="tab">@Idioma.Traduzir("PARCELAS")</a></li>
                                    <li role="presentation"><a href="#TAB-STATUS" role="tab" data-toggle="tab">@Idioma.Traduzir("STATUS")</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default panel-com-tab">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="heading-block">
                                            <h5><i class="fa fa-list-ul"></i>&nbsp;@Idioma.Traduzir("Parcelas Pagas")</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane" id="TAB-STATUS">
                                                <table class="table data-table table-condensed table-hover table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>@Idioma.Traduzir("Contrato")</th>
                                                            <th>@Idioma.Traduzir("Ano")</th>
                                                            <th>@Idioma.Traduzir("Valor Venda")</th>
                                                            <th>@Idioma.Traduzir("Valor Pago")</th>
                                                            <th>@Idioma.Traduzir("Percentual")</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var contratoItem in contratos)
                                                        {
                                                            foreach (var parecela in parcelas.Where(x => x.CodContrato == (int)contratoItem.Cod).GroupBy(x => x.DataVencimento.Date.Year))
                                                            {
                                                                <tr>

                                                                    <td>
                                                                        @contratoItem.Cod
                                                                    </td>
                                                                    <td>
                                                                        @parecela.Key
                                                                    </td>
                                                                    <td>
                                                                        @String.Format("{0:C}", contratoItem.ValorVenda)
                                                                    </td>
                                                                    <td>
                                                                        @String.Format("{0:C}", parcelas.Sum(x => x.ValorRecebido))
                                                                    </td>
                                                                    <td>
                                                                        @{
                                                                            decimal? perceuntual = (parcelas.Sum(x => x.ValorRecebido) * 100) / contratoItem.ValorVenda;
                                                                        }
                                                                        <div class="progress no-padding no-margin-botton">
                                                                            <div class="progress">
                                                                                <div class="progress-bar progress-bar-warning text-silver" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="@String.Format("width:{0:n0}%;", perceuntual)">
                                                                                    @String.Format("{0:n2}%", perceuntual)
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                                }
                                                                            }

                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th colspan="3" class="text-right">
                                                                @Idioma.Traduzir("Valor Total")
                                                            </th>
                                                            <th>
                                                                @String.Format("{0:C}", parcelas.Sum(x => x.ValorParcela))
                                                            </th>
                                                            <th class="text-right">
                                                            </th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <div role="tabpanel" class="tab-pane active" id="TAB-PARCELAS">
                                                <div class="row margin-top-18">
                                                    <div class="col-xs-6 col-md-3 col-lg-2">
                                                        <button onclick="openHistorico()" type="button" class="btn btn-sm btn-block pull-left margin-top-18 btn-primary "><i class="fa fa-history"></i> @Idioma.Traduzir("Novo Histórico")</button>
                                                    </div>
                                                    <div class="col-xs-6 col-md-3 col-lg-2">
                                                        <div class="form-group-sm">
                                                            <label>
                                                                @Idioma.Traduzir("Contratos")
                                                            </label>
                                                            @Html.DropDownList("CodContrato", new SelectList(ViewBag.dropContratos, "value", "key", Cobranca.Db.Rotinas.DbRotinas.ConverterParaInt(ViewBag.dropContratos)), new { @class = "form-control" })
                                                        </div>
                                                    </div>

                                                    <table id="tabela" class="table table-bordered  table-condensed table-striped dt-responsive display nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center" data-title="#"></th>
                                                                <th class="text-center" data-data="NumeroContrato" data-name="NumeroContrato" data-title="@Idioma.Traduzir("Nr.Contrato")"></th>
                                                                <th class="text-center" data-data="strDataVencimento" data-name="DataVencimento" data-title="@Idioma.Traduzir("Dt.Vencimento")"></th>
                                                                <th class="text-center" data-data="QtdDiasAtraso" data-name="QtdDiasAtraso" data-title="@Idioma.Traduzir("Dias Atraso")"></th>
                                                                <th class="text-center" data-data="FluxoPagamento" data-name="FluxoPagamento" data-title="@Idioma.Traduzir("Nr.Fatura")"></th>
                                                                <th class="text-center" data-data="Natureza" data-name="Natureza" data-title="@Idioma.Traduzir("Natureza")"></th>
                                                                <th class="text-center" data-data="ValorParcela" data-name="ValorParcela" data-title="@Idioma.Traduzir("Valor Parcela")"></th>
                                                                <th class="text-center" data-data="Juros" data-name="Juros" data-title="@Idioma.Traduzir("Juros")"></th>
                                                                <th class="text-center" data-data="Multa" data-name="Multa" data-title="@Idioma.Traduzir("Multa")"></th>
                                                                <th class="text-center" data-data="ValorAtualizado" data-name="ValorAtualizado" data-title="@Idioma.Traduzir("Valor Atualizado")"></th>
                                                                <th class="text-center" data-data="NumeroParcela" data-name="NumeroParcela" data-title="@Idioma.Traduzir("Numero Parcela")"></th>
                                                                <th class="text-center" data-data="TipoParcela" data-name="TipoParcela" data-title="@Idioma.Traduzir("Tipo de Parcela")"></th>
                                                            </tr>
                                                            <tr id="tb-loading">
                                                                <td colspan="12" class="text-center animated fadeIn">
                                                                    <h2><i class="fa fa-spin fa-spinner text-silver"></i> @Idioma.Traduzir("Carregando os dados")</h2>
                                                                </td>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tb-dados" style="display:none"></tbody>
                                                        <tfoot>

                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-form-historico">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">@Idioma.Traduzir("Titulo")</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> @Idioma.Traduzir("Cancelar")</button>
                    <button type="button" onclick="salvarHistorico()" class="btn btn-primary"><i class="fa fa-save"></i> @Idioma.Traduzir("Confirmar")</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var table = $('#tabela').DataTable({
            "dom": '<"col-xs-6 col-md-3 col-lg-4"f ><"col-xs-6 col-md-3 col-lg-4 pull-right  margin-top-18"l><"col-xs-12 col-md-12"t><"col-xs-12 col-md-6"i><"col-xs-12 col-md-6"p>',
            "language": {
                "sEmptyTable": "@Idioma.Traduzir("Nenhum registro encontrado")",
            "sInfo": "@Idioma.Traduzir("Mostrando de") _START_ @Idioma.Traduzir("até") _END_ @Idioma.Traduzir("de") _TOTAL_ @Idioma.Traduzir("registros")",
                    "sInfoEmpty": "@Idioma.Traduzir("Mostrando 0 até 0 de 0 registros")",
        "sInfoFiltered": "(@Idioma.Traduzir("Filtrados de") _MAX_ @Idioma.Traduzir("registros"))",
        "sInfoPostFix": "",
        "sInfoThousands": ".",
        "sLengthMenu": "_MENU_ @Idioma.Traduzir("resultados por página")",
        "sLoadingRecords": "@Idioma.Traduzir("Carregando...")",
        "sProcessing": "<h2><i class='fa fa-spin fa-spinner text-silver'></i> @Idioma.Traduzir("Carregando os dados..")</h2>",
        "sZeroRecords": "@Idioma.Traduzir("Nenhum registro encontrado")",
        "sSearch": "@Idioma.Traduzir("Pesquisar")",
        "oPaginate": {
            "sNext": "@Idioma.Traduzir("Próximo")",
            "sPrevious": "@Idioma.Traduzir("Anterior")",
            "sFirst": "@Idioma.Traduzir("Primeiro")",
            "sLast": "@Idioma.Traduzir("Último")"
        },
        oAria: {
            "sSortAscending": ": @Idioma.Traduzir("Ordenar colunas de forma ascendente")",
            "sSortDescending": ": @Idioma.Traduzir("Ordenar colunas de forma descendente")"
        }
        }
        });
        $(document).ready(function () {
            obterDados();
            var specialElementHandlers = {
                '#editor': function (element, renderer) {
                    return true;
                }
            };
            $("#CodContrato").change(function () {
                $("#tb-loading").show();
                $("#tb-dados").hide();
                obterDados();
            });
        });

        function obterDados() {
            $.ajax({
                url: '@Url.Action("DadosParcela", "ContratoParcela")', type: 'post', dataType: 'json',
                data: {
                    contratoId: $("#CodContrato").val(),
                    tipo: 4,
                    CodSinteseContrato: $("#ContratoSintese").val(),
                    CodSinteseParcela: $("#ParcelaSintese").val()
                    }
            }).success(function (result) {
                CarregarTable(result.Data)
            });
        }

        function CarregarTable(data) {
            table.destroy();
            table = $('#tabela').DataTable({
                "data": data,
                "serverSide": false,
                "deferRender": true,
                "aLengthMenu": [
                    [10, 25, 50, 100, -1],
                    [10, 25, 50, 100, "Todos"]
                ],
                "columnDefs": [{
                    targets: 0,
                    searchable: false,
                    orderable: false,
                    className: 'td-checkbox',
                    render: function (data, type, row) {
                        return ' <div class="checkbox checkbox-inline checkbox-default" style="margin-bottom:4px;font-size:14px;  padding-left: 12px; padding-right: 0px; margin:0;"><input data-tipo="parcela" data-id="' + row.CodParcela + '" type="checkbox"><label></label></div>'
                    }
                }],
                "rowId": 'CodParcela',
                "order": [[1, 'asc']],
                "responsive": true,
                "processing": true,
                "dom": '<"col-xs-6 col-md-3 col-lg-4"f ><"col-xs-6 col-md-3 col-lg-4 pull-right  margin-top-18"l><"col-xs-12 col-md-12"t><"col-xs-12 col-md-6"i><"col-xs-12 col-md-6"p>',
                "language": {
                    "sEmptyTable": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sInfo": "@Idioma.Traduzir("Mostrando de") _START_ @Idioma.Traduzir("até") _END_ @Idioma.Traduzir("de") _TOTAL_ @Idioma.Traduzir("registros")",
                    "sInfoEmpty": "@Idioma.Traduzir("Mostrando 0 até 0 de 0 registros")",
                    "sInfoFiltered": "(@Idioma.Traduzir("Filtrados de") _MAX_ @Idioma.Traduzir("registros"))",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ @Idioma.Traduzir("resultados por página")",
                    "sLoadingRecords": "@Idioma.Traduzir("Carregando...")",
                    "sProcessing": "<h2><i class='fa fa-spin fa-spinner text-silver'></i> @Idioma.Traduzir("Carregando os dados..")</h2>",
                    "sZeroRecords": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sSearch": "@Idioma.Traduzir("Pesquisar")",
                    "oPaginate": {
                        "sNext": "@Idioma.Traduzir("Próximo")",
                        "sPrevious": "@Idioma.Traduzir("Anterior")",
                        "sFirst": "@Idioma.Traduzir("Primeiro")",
                        "sLast": "@Idioma.Traduzir("Último")"
                    },
                        oAria: {
                            "sSortAscending": ": @Idioma.Traduzir("Ordenar colunas de forma ascendente")",
                            "sSortDescending": ": @Idioma.Traduzir("Ordenar colunas de forma descendente")"
                        }
                    },
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td:eq(0),td:eq(1),td:eq(2),td:eq(3),td:eq(4),td:eq(5),td:eq(11),td:eq(12)', nRow).addClass("text-center");
                    $('td:eq(6),td:eq(7),td:eq(8),td:eq(9)', nRow).addClass("text-right");

                    $('td:eq(1),td:eq(2)', nRow).addClass("text-bold");
                },
            }).on('processing.dt', function (e, settings, processing) {
                if (processing) {
                } else {
                }
            });
            $("#tb-loading").hide();
            $("#tb-dados").show();
        }

        function openHistorico() {
            var rowcollection = table.$("input[type='checkbox']:checked", { "page": "all" });
            var cod = 0;
            var dados = [];
            rowcollection.each(function (index, elem) {
                cod = $(elem).attr("data-id");
                dados.push(cod);
            });
            console.log(dados);
            if (cod > 0) {
                historicoParcela(dados);
            } else {
                alert("Selecione uma parcela!")
            }
        }

        function historicoParcela(dados) {
            $("#modal-form-historico .modal-body").empty();
            $("#modal-form-historico .modal-title").empty().text("Histórico Parcela");
            $("#modal-form-historico .modal-body").load("@(Url.Action("getHistorico", "Historico", null, Request.Url.Scheme))?idCliente=0&idContrato=0&idParcela=" + dados + "&tpHistorico=3" + " #form-cadastro-historico", function () {
                //$("#form-cadastro-historico").find("#form-comandos").hide();
                $(".modal-footer").show()
                $("#modal-form-historico").modal("show");
                $("#btn-submit").off("click").click(function () { $("#form-cadastro-historico").submit() });
                $("#CodFase").change(function () {
                    var cod = $("#CodFase").val();
                    $.ajax({
                        url: '@Url.Action("ListarSintesePorFase", "Sintese")',
                        type: 'post',
                        dataType: 'json',
                        data: { fase: cod }
                    }).success(function (resultado) {
                        popularDropoDownList($("#CodSintese"), resultado);
                    });
                });


            });
        };

        function salvarHistorico() {
            $("#CodSintese").val($("#hfCodSintese").val());
            $("#CodMotivoAtraso").val($("#hfCodMotivo").val());
            var formData = $('#form-cadastro-historico').serialize();
            $.ajax({
                url: '@Url.Action("Salvar", "Historico")',
                type: 'post',
                dataType: 'json',
                data: formData
            }).success(function (resultado) {
                if (resultado.OK) {
                    alert("Historico registrado!")
                    cancelar();
                }
            })
        }
        function cancelar() {
            document.location.reload(false);
        }
        function mudaCorFase(value, ultimaValue) {
            $("#fase-" + value).removeAttr("class", "btn btn-sm btn-success");
            $("#fase-" + value).attr("class", "btn btn-sm btn-warning");
            if (ultimaValue != value) {
                $("#fase-" + ultimaValue).removeAttr("class", "btn btn-sm btn-warning");
                $("#fase-" + ultimaValue).attr("class", "btn btn-sm btn-success");
            }
        }
        function mudaCorMotivo(a) {
            var ultValue = $("#hfCodMotivo").val();
            var cod = $(a).attr("data-id");
            $("#motivo-" + cod).removeAttr("class", "btn btn-sm btn-default");
            $("#motivo-" + cod).attr("class", "btn btn-sm btn-warning");
            if (ultValue != cod) {
                $("#motivo-" + ultValue).removeAttr("class", "btn btn-sm btn-warning");
                $("#motivo-" + ultValue).attr("class", "btn btn-sm btn-default");

            }
            $("#hfCodMotivo").val(cod);
        }
        function selecionarSintese(a) {
            var ultValue = $("#hfCodSintese").val();
            var cod = $(a).attr("data-id");
            mudaCorSintase(cod, ultValue);
            $("#hfCodSintese").val(cod);
        }
        function mudaCorSintase(value, ultimaValue) {
            $("#sintese-" + value).removeAttr("class", "btn btn-sm btn-success");
            $("#sintese-" + value).attr("class", "btn btn-sm btn-warning");
            if (ultimaValue != value) {
                $("#sintese-" + ultimaValue).removeAttr("class", "btn btn-sm btn-warning");
                $("#sintese-" + ultimaValue).attr("class", "btn btn-sm btn-success");
            }
        }
    </script>
}
