﻿@model List<Cobranca.Db.Models.Pesquisa.ContratoParcelaBoletoTotais>
@{
    ViewBag.Title = "Resultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-solicitacao";
    var fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true;
}

@using Cobranca.Rotinas;
<style>
    .popover-title {
        background-color: #F7F7F7;
        border-bottom: 1px solid #EBEBEB;
        border-radius: 5px 5px 0 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 18px;
        margin: 0;
        padding: 8px 14px;
    }

    .popover-content {
        max-height: 150px;
        overflow-y: scroll;
    }

    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr.table-header > td,
    .table > thead > tr.table-header > th {
        padding: 4px;
    }

    .selected > .sorting_1 {
        background-color: #c76161 !important;
        color: #fff;
    }

    .selected {
        background-color: #c76161 !important;
        color: #fff;
    }

        .selected > .text-danger {
            color: #D0D0D0;
        }

    .btn-solicitacao:hover {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }

    .btn-solicitacao:hover,
    .btn-solicitacao:focus {
        color: #fff;
        background-color: #c12e2a;
        background-position: 0 -15px;
    }

    .btn-solicitacao:active,
    .btn-solicitacao.active {
        color: #fff;
        background-color: #c12e2a;
        border-color: #b92c28;
    }

    .btn-solicitacao .badge {
        color: #fff;
        background-color: #333;
    }

    .btn-solicitacao:hover .badge,
    .btn-solicitacao:focus .badge {
        color: #c12e2a;
        background-color: #fff;
    }

    .btn-solicitacao {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

    div.dt-buttons a {
        background: #227446 !important;
        border-color: #113922 !important;
        color: #fff;
        border-radius: 0px !important;
        height: 30px;
        border: 1px solid transparent;
        text-align: center;
    }

    table.dataTable tbody td {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    div.dataTables_length {
        float: right !important;
    }
    div.dt-buttons {
        float: right !important;
    }
</style>
<div class="row">
    @Html.Hidden("SinteseId")
    @Html.Partial("~/Views/Pesquisa/_menuPesquisaPorClienteParcela.cshtml", "aba-dados")

    <div class="col-md-12">
        <div class="panel panel-default panel-pesquisa-dados">
            <div id="painel-solicitacao">
                @Html.Partial("_menuSolicitacao", Model)
            </div>
            <div class="panel-body table-responsive" style="min-height:400px; overflow-x:scroll !important;">
                <table id="grid-cliente" class="table table-bordered table-order-column table-responsive table-striped table-condensed table-row-border table-compact" style="margin-top:6px;background-color:#fff;">
                    <thead id="dtheader">
                        <tr id="trheader">
                            <th class="text-center" data-name="" data-data="" style="max-width:5px !important" data-collumn-search="false"></th>
                            <th class="text-center" data-name="" data-data="" style="max-width:5px !important" data-collumn-search="false"></th>
                            <th class="text-center" data-name="Regional" data-data="Regional" style="max-width:50px" data-title="@Idioma.Traduzir("Filial")"></th>
                            <th class="text-center" data-name="CodigoCliente" data-data="CodigoCliente" style="max-width:50px" data-title="@Idioma.Traduzir("An8")"></th>
                            <th class="text-center" data-name="CodCliente" data-data="Cliente" style="max-width:250px" data-title="@Idioma.Traduzir("Cliente")"></th>
                            <th class="text-center" data-name="NumeroDocumento" data-data="NumeroDocumento" style="max-width:50px" data-title="@Idioma.Traduzir("Nr.Documento")"></th>
                            <th class="text-center filter-date" data-type="datahora" data-name="DataVencimento" data-data="DataVencimentoDesc" style="max-width:40px" data-title="@Idioma.Traduzir("Dt.Vencimento")"></th>
                            <th class="text-center filter-date" data-type="datahora" data-name="DataDocumento" data-data="DataDocumentoDesc" style="max-width:40px" data-title="@Idioma.Traduzir("Dt.Documento")"></th>
                            <th class="text-center sum-float" data-type="moeda" data-name="ValorDocumentoPrevisto" data-data="ValorDocumentoPrevistoDesc" style="min-width:90px" data-title="@Idioma.Traduzir("Vr.Doc.Prev.")"></th>
                            <th class="text-center sum-float" data-type="moeda" data-name="ValorDocumento" data-data="ValorDocumentoDesc" style="min-width:90px" data-title="@Idioma.Traduzir("Vr.Doc")"></th>
                            <th class="text-center filter-date" data-type="datahora" data-name="DataCadastro" data-data="DataCadastroDesc" style="max-width:45px" data-title="@Idioma.Traduzir("Dt.Solicitação")"></th>
                            <th class="text-center filter-date" data-type="datahora" data-name="DataAprovacao" data-data="DataAprovacaoDesc" style="max-width:45px" data-title="@Idioma.Traduzir("Dt.Aprovação")"></th>
                            <th class="text-center" data-name="Solicitante" data-data="Solicitante" style="min-width:80px" data-title="@Idioma.Traduzir("Solicitante")"></th>
                            <th class="text-center" data-name="TipoCobranca" data-data="TipoCobranca" style="min-width:100px" data-title="@Idioma.Traduzir("Fluxo")"></th>
                            <th class="text-center" data-name="Observacao" data-data="Observacao" style="min-width:250px" data-title="@Idioma.Traduzir("Observação")"></th>
                            <th class="text-center" data-name="" data-data="" style="max-width:5px !important" data-collumn-search="false"></th>
                        </tr>
                        <tr id="tb-loading">
                            <td colspan="18" class="text-center animated fadeIn">
                                <h2><i class="fa fa-spin fa-spinner text-silver"></i> Carregando os dados</h2>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal-form-solicitacao">
    <div class="modal-dialog" style="width:calc(100% - 120px)">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">@Idioma.Traduzir("Titulo")</h3>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" onclick="SaveBoletoSocitacao()" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> @Idioma.Traduzir("Cancelar")</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-save"></i> @Idioma.Traduzir("Confirmar")</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal-form-boleto">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">@Idioma.Traduzir("Titulo")</h3>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@section scripts{
    <script type="text/javascript">
        var _id = 0;
        var $data_table = $('#grid-cliente');
        jx.dtableSearch($data_table);
        jx.dtableFooter($data_table);
        var _today = new Date();
        var _ticked = "&t=" + _today.getSeconds();
        var table = $('#grid-cliente').DataTable({
            "language": {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                paging: false,
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",

                "buttons": {
                    "selectAll": "Marcar Todos",
                    "selectNone": "Desmarcar Todos"
                },
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                oAria: {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            },
            "sDom": '<"col-xs-12 col-md-12 pull-right"p>' +
            '<"col-xs-12 col-md-12 teste"t>' +
            '<"col-xs-12 col-md-6 pull-left"i><"col-xs-12 col-md-6 pull-right"p>'
        });
        $(document).ready(function () {
            obterDados(0,0);
            ativarBotoes(false);

            $.extend($.fn.dataTableExt.oSort, {
                "currency-pre": function (a) {
                    a = a.replace(/[^\d\,]/g, "");
                    return parseFloat(a);
                },
                "currency-asc": function (a, b) {
                    return a - b;
                },
                "currency-desc": function (a, b) {
                    return b - a;
                }
            });

        });
        function selecionar(e) {
            var obj = table.row(e).data();
            table.rows().deselect();
            table.row(e).select();
            $.ajax({
                url: '@Url.Action("SelecionarClienteParcela")',
                data: { id: obj.CodCliente },
                type: 'post',
                dataType: 'json'
            }).success(function (resultado) {
                if (!resultado.OK) {
                    notificacaoBox("Não foi possivel selecionar", resultado.Mensagem);
                }
            }).complete(function () {
                ativarBotoes(obj.CodCliente > 0);
            });

        }
        function ativarBotoes(ativar) {
            if (ativar) {
                $(".menu-ativar").removeClass("disabled");
                $(".menu-ativar").find("a").unbind('click', false);
            } else {
                $(".menu-ativar").addClass("disabled");
                $(".menu-ativar").find("a").bind('click', false);
            }
        }

        function obterDados(id, faseId) {
            var $data_table = $('#grid-cliente');
            $("#SinteseId").val(id);
            var filter = {
                CodSintese: id,
                CodFase : faseId
            }
            table.destroy();
            table = $data_table.DataTable({
                "rowId": 'Cod',
                "order": [[11, 'desc']],
                "deferRender": true,
                "serverSide": true,
                "processing": true,
                "ajax": {
                    "url": "@Url.Action("ObterSolicitacaoDadosPorServer", "Pesquisa")",
                    "data": filter,
                    "type": "POST"
                },
                "rowId": 'CodigoCliente',
                "language": {
                    "sEmptyTable": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sInfo": "@Idioma.Traduzir("Mostrando de") _START_ @Idioma.Traduzir("até") _END_ @Idioma.Traduzir("de") _TOTAL_ @Idioma.Traduzir("registros")",
                    "sInfoEmpty": "@Idioma.Traduzir("Mostrando 0 até 0 de 0 registros")",
                    "sInfoFiltered": "(@Idioma.Traduzir("Filtrados de") _MAX_ @Idioma.Traduzir("registros"))",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_",
                    "sLoadingRecords": "@Idioma.Traduzir("Carregando...")",
                    "sProcessing": "<h2><i class='fa fa-spin fa-spinner text-silver'></i> @Idioma.Traduzir("Carregando os dados..")</h2>",
                    "sZeroRecords": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sSearch": "",
                    "oPaginate": {
                        "sNext": "@Idioma.Traduzir("Próximo")",
                        "sPrevious": "@Idioma.Traduzir("Anterior")",
                        "sFirst": "@Idioma.Traduzir("Primeiro")",
                        "sLast": "@Idioma.Traduzir("Último")"
                    },
                    oAria: {
                        "sSortAscending": ": @Idioma.Traduzir("Ordenar colunas de forma ascendente")",
                        "sSortDescending": ": @Idioma.Traduzir("Ordenar colunas de forma descendente")"
                    }
                },
                "columnDefs": [
                    {
                        targets: 0,
                        searchable: false,
                        orderable: false,
                        className: '',
                        render: function (data, type, row, index) {
                            return '<button onclick="selecionar(' + index.row + ')" type="button" class="btn btn-xs btn-block btn-default" style=""><i class="fa fa-search"></i></button>'
                        }
                    },
                    {
                        targets: 1,
                        searchable: false,
                        orderable: false,
                        className: '',
                        render: function (data, type, row, index) {
                            if (row.IsAprovado || row.IsReprovado) {
                                return '<button onclick="openHistory(' + row.bId + ')" type="button" class="btn btn-xs btn-block btn-default" style=""><i class="fa fa-history"></i></button>'
                            }
                            if (row.IsPerfil) {
                                return '<button onclick="OpenSolicitacao(' + index.row + ')" type="button" class="btn btn-xs btn-block btn-default" style=""><i class="fa fa-pencil"></i></button>'
                            }
                            else if (row.IsReprovado) {
                                return '<button onclick="openHistory(' + row.bId + ')" type="button" class="btn btn-xs btn-block btn-default" style=""><i class="fa fa-history"></i></button>'
                            } else {
                                return '<button onclick="openHistory(' + row.bId + ')" type="button" class="btn btn-xs btn-block btn-default" style=""><i class="fa fa-history"></i></button>'
                            }
                        }
                    },
                    {
                        targets: 13,
                        render: function (data, type, row) {
                            return row.TipoCobranca + ' - ' + row.Fase + ' - ' + row.Sintese
                        }
                    },
                    {
                        targets: 14,
                        render: function (data, type, row) {
                            if (data != null) {
                                if (data.length > 100) {
                                    data = data.substr(0, 100) + ' ...';
                                }
                            }
                            return data
                        }
                    },
                    {
                        targets: 15,
                        searchable: false,
                        orderable: false,
                        className: '',
                        render: function (data, type, row, index) {
                            if (row.IsAprovado) {
                                return '<button onclick="openBoleto(' + row.bId + ')" type="button" class="btn btn-xs btn-block btn-default" style=""><i class="fa fa-file-text"></i></button>'
                            } else {
                                return ' '
                            }
                        }
                    }],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td:eq(0),td:eq(1),td:eq(15)',nRow).css('padding', '1');
                    $('td:eq(1),td:eq(3),td:eq(5),td:eq(6),td:eq(10),td:eq(12)', nRow).addClass("text-center");
                    $('td:eq(8)', nRow).addClass("text-bold text-right text-blue");
                    $('td:eq(9)', nRow).addClass("text-bold text-right text-danger");
                    $('td:eq(2),td:eq(4),td:eq(13),td:eq(14)', nRow).addClass("text-left");
                },
                "sDom": '<"row"<"col-xs-12 col-md-12 pull-right"lB>>' +
                '<"row"<"col-xs-12 col-md-12 dtable-reponsive"t>>' +
                '<"row"<"col-xs-12 col-md-6 pull-left"i><"col-xs-12 col-md-6 pull-rigth"p>>',
                "buttons": [{
                    text: '<i class="fa fa-cloud-download"></i>',
                    extend: 'csvHtml5',
                    title: 'teste',
                    exportOptions: {
                        columns: ':visible'
                    },
                    action: function (e, dt, node, config) {
                        $data_table.block({
                            message: '',
                            css: {
                                border: 'none',
                                padding: '15px',
                                backgroundColor: '#fff',
                                '-webkit-border-radius': '10px',
                                '-moz-border-radius': '10px',
                                opacity: .5,
                                color: '#fff',
                                width: '50%'
                            },
                            overlayCSS: { backgroundColor: '#FFF' }
                        });
                        $data_table.addClass('carregando');

                        //window.location.href = "/Pesquisa/DownloadExcelSolicitacao";


                        //$.post("/Pesquisa/DownloadExcelSolicitacao", dt.ajax.params(), function (response) {
                        //    console.log(response);
                        //});
                        //var sUrl = "/Pesquisa/DownloadExcelSolicitacao/?" + { param: $.param(dt.ajax.params()), CodSintese: $("#SinteseId").val()};
                        //console.log(sUrl);
                        //var sUrl = "/Pesquisa/DownloadExcelSolicitacao/?" + JSON.stringify(dt.ajax.params());
                        //window.open. open(sUrl, '_self');
                        //window.location.href = sUrl;
                        var params = { param: dt.ajax.params(), CodSintese: $("#SinteseId").val() };
                        console.log(params);
                        debugger;
                        $.post("/Pesquisa/ExportarExcel", $.param(params), function (d) {
                            if (d.OK) {
                                var opnner = window.open(d.Dados, '_blank');
                            }
                        });
                        //window.location.href = '/Pesquisa/DownloadExcelSolicitacao?' + JSON.stringify(dt.ajax.params());
                        //window.location.href = "/Pesquisa/DownloadExcelSolicitacao/?" + $.param(params);
                        dt.ajax.reload();
                    }
                }],
                'initComplete': function (settings, json) {
                    var tb = table.data();
                    tb.inicializar($data_table);
                    tb.addSearch($data_table);
                    tb.sum();
                    jx.dTablesUnblock($data_table);
                    $("#tb-loading").hide();

                },
                "fnDrawCallback": function (oSettings) {
                    table.data().sum();
                    jx.dTablesUnblock($data_table);
                }

            }).on('order.dt', function () {
                jx.dTablesBlock($data_table);
                });




           //$("#grid-cliente tbody").on('click', 'tr', function () {
           //    var table = $(this).parent().parent();
           //    if ($(this).hasClass('selecionado')) {
           //        $(this).removeClass('selecionado');
           //    }
           //    else {
           //        table.find('tr.selecionado').removeClass('selecionado');
           //        $(this).addClass('selecionado');
           //    }
           //
           //    if (linhaClick) {
           //        linhaClick($(this));
           //    }
           //});
        }



        window.downloadFile = function (sUrl) {

            //Creating new link node.
            var link = document.createElement('a');
            link.href = sUrl;

            if (link.download !== undefined) {
                //Set HTML5 download attribute. This will prevent file from opening if supported.
                var fileName = sUrl.substring(sUrl.lastIndexOf('/') + 1, sUrl.length);
                link.download = fileName;
            }

            //Dispatching click event.
            if (document.createEvent) {
                var e = document.createEvent('MouseEvents');
                e.initEvent('click', true, true);
                link.dispatchEvent(e);
                return true;
            }

            // Force file download (whether supported by server).
            var query = '?download';

            window.open(sUrl + query);
        }

        function OpenSolicitacao(e) {
            var obj = table.row(e).data();
            $("#modal-form-solicitacao .modal-body").empty();
            $(".modal-footer").empty();
            $("#modal-form-solicitacao .modal-title").empty().text("SOLICITAÇÂO DE BOLETO");
            $("#modal-form-solicitacao .modal-body").load("/ContratoParcelaBoleto/FormHistorico/?id=" + obj.CodHistorico, function () {
                //$(".modal-footer").hide();
                $("#modal-form-solicitacao .modal-body").css("padding-top", "0px")

                $(".modal-footer").append('<button type="button" class="btn btn-modal-save" onclick="SaveBoletoSocitacao()"><i class="fa fa-save"></i> Salvar</button>')
                $(".modal-footer").append('<button type="button" class="btn btn-modal-cancel" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>')
                $("#modal-form-solicitacao").modal("show");
            });
        }



        function tabFormEdit(el) {
            var $element = $(el);
            var $form = $("#modal-form-solicitacao");
            if ($element.attr('href').replace('#','') == "TAB-HISTORICO") {
                $form.find("#TAB-JUSTIFICATIVA").hide();
                $form.find("#TAB-HISTORICO").show();
            } else {
                $form.find("#TAB-JUSTIFICATIVA").show();
                $form.find("#TAB-HISTORICO").hide();
            }

        }

        function carregarSintese() {
            var $from = $("#modal-form-solicitacao");
            var CodFase = $from.find("#CodFase").val();
            jx.popularDropdown($from.find("#CodSintese"), '@Url.Action("ListarListarSintesePorFase","TipoCobranca")', {
                CodFase: CodFase
            }, function (d) {

            });
        }
        function SaveBoletoSocitacao() {
            var $form = $("#form-solicitacao");
            var $elemObs = $("#form-solicitacao").find("#Observacao");
            var cdSintese = $("#form-solicitacao").find("#CodSintese").val();
            var observacao = $("#form-solicitacao").find("#Observacao").val();
            $elemObs.removeClass("date-red animated focus");
            $.get('/ContratoParcelaBoleto/ValidarJustificarObrigatorio/?s=' + cdSintese + '&obs=' + observacao +  _ticked, function (r) {
                if (r.OK) {
                    SaveSolicitacao($form);
                } else {
                    jx.mensagem(r.Titulo, r.Mensagem, 'warning', 'fa fa-exclamation ');
                    $("#tabObs").click();
                    $elemObs.addClass("animated shake");
                }
            });

        }

        function SaveSolicitacao($form) {
            $.ajax({
                type: "POST",
                url: $form.attr('action'),
                data: $form.serialize(),
                success: function (resultado) {
                    if (resultado.OK) {
                        jx.mensagem(resultado.Titulo, resultado.Mensagem, 'success', 'fa fa-check');
                        setTimeout(function () {
                            getPainel();
                            $("#modal-form-solicitacao").modal('toggle');
                            obterDados($("#SinteseId").val(),0);
                        }, 1500)
                    }
                }
            });
        }

        function openHistory(b) {
            $("#modal-form-solicitacao .modal-body").empty();
            $(".modal-footer").empty();
            $("#modal-form-solicitacao .modal-title").empty().text("HISTÓRICO DE BOLETO");
            $("#modal-form-solicitacao .modal-body").load("/ContratoParcelaBoleto/History/?bId=" + b, function () {
                //$(".modal-footer").hide();
                $("#modal-form-solicitacao .modal-body").css("padding-top", "0px")
                $(".modal-footer").append('<button type="button" class="btn btn-modal-cancel" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>')
                carregarHistoryTable(b);
                setTimeout(function () {
                    $('[rel=popover]').popover({ placement: 'bottom', trigger: 'click' });
                }, 1500)
                $('[rel=popover]').popover({ html: true });
                $("#modal-form-solicitacao").modal("show");
            });
        }
        function carregarHistoryTable(b) {
            var $data_table = $('#tbHistoryBlt');
            var filter = {
                CodBoleto: b
            }
           var tbHistory =  $data_table.DataTable({
                "order": [[0, 'desc']],
                "deferRender": true,
                "serverSide": true,
                "processing": true,
                "ajax": {
                    "url": "@Url.Action("ObterDadosHistory", "ContratoParcelaBoleto")",
                    "data": filter,
                    "type": "POST"
                },
                "columnDefs": [
                    {
                        targets: 6,
                        render: function (data, type, row) {
                            if (data !=null) {
                                if (data.length > 100) {
                                    data = data.substr(0, 100) + ' ...    ' + '<i class= "fa fa-info-circle" rel="popover" data-trigger="hover" data-placement="left" data-content="' + data + '"></i>'
                                }
                            }

                            return data

                        }
                    }],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                    $('td:eq(6)', nRow).addClass("text-left");
                    $('td:eq(2)', nRow).addClass("text-center text-bold text-italic");
                    $('td:eq(0),td:eq(1),td:eq(3),td:eq(4),td:eq(5)', nRow).addClass("text-center");
                },
                "sDom": '<"col-xs-12 col-md-12 col-lg-12">' +
                '<"col-xs-12 col-md-12"t>' +
                '<"col-xs-12 col-md-6 pull-left"i><"col-xs-12 col-md-6 pull-right"p>',
                'initComplete': function (settings, json) {
                    var tb = tbHistory.data();
                    tb.inicializar($data_table);
                    tb.addSearch($data_table);
                    tb.sum();
                    jx.dTablesUnblock($data_table);
                    $("#tbHistoryBltloading").hide();

                },
                "fnDrawCallback": function (oSettings) {
                    tbHistory.data().sum();
                    jx.dTablesUnblock($data_table);
                },
                "language": {
                    "sEmptyTable": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sInfo": "@Idioma.Traduzir("Mostrando de") _START_ @Idioma.Traduzir("até") _END_ @Idioma.Traduzir("de") _TOTAL_ @Idioma.Traduzir("registros")",
                    "sInfoEmpty": "@Idioma.Traduzir("Mostrando 0 até 0 de 0 registros")",
                    "sInfoFiltered": "(@Idioma.Traduzir("Filtrados de") _MAX_ @Idioma.Traduzir("registros"))",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_",
                    "sLoadingRecords": "@Idioma.Traduzir("Carregando...")",
                    "sProcessing": "<h2><i class='fa fa-spin fa-spinner text-silver'></i> @Idioma.Traduzir("Carregando os dados..")</h2>",
                    "sZeroRecords": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sSearch": "",
                    "oPaginate": {
                        "sNext": "@Idioma.Traduzir("Próximo")",
                        "sPrevious": "@Idioma.Traduzir("Anterior")",
                        "sFirst": "@Idioma.Traduzir("Primeiro")",
                        "sLast": "@Idioma.Traduzir("Último")"
                    },
                    oAria: {
                        "sSortAscending": ": @Idioma.Traduzir("Ordenar colunas de forma ascendente")",
                        "sSortDescending": ": @Idioma.Traduzir("Ordenar colunas de forma descendente")"
                    }
                }

            }).on('order.dt', function () {
                jx.dTablesBlock($data_table);
            });
        }

        function openBoleto(value) {
            $("#modal-form-boleto .modal-body").empty();
            $("#modal-form-boleto .modal-title").empty().text("Envio Boleto");
            $("#modal-form-boleto .modal-body").load("/ContratoParcelaBoleto/MontarBoleto/?b=" + value + _ticked, function () {
                $(".modal-footer").hide()
                $("#modal-form-boleto").modal("show");
                $('.editor-html').summernote({ height: '280px' });
                $('.modal-dialog').draggable({
                    handle: ".modal-header"
                });
            });
        }
        function EnviarPorEmail() {
            var clienteId = $("#CodCliente").val();
            var parcelaIds = $("#modal-form-boleto").find("#ParcelaIds").val();
            var emailDestinho = $("#modal-form-boleto").find("#Email").val();
            var titulo = $("#modal-form-boleto").find("#Assunto").val();
            var msg = $("#modal-form-boleto").find("#Mensagem").val();
            $.ajax({
                url: '/Atendimento/EnviarBoletoEmail',
                type: 'post',
                dataType: 'json',
                data: { CodCliente: clienteId, parcelas: parcelaIds, email: emailDestinho, assunto: titulo, mensagem: msg }
            }).success(function (r) {
                if (r.OK) {
                    $('#modal-form-boleto').modal('toggle');
                    jx.mensagem("Solicitação", r.Mensagem, 'success', 'fa fa-check');
                    //alert("E-mail enviado!");
                }
                else {
                    console.log(r.Mensagem);
                }
            });
        }

        function remover() {
            $.ajax({
                url: '/ContratoParcelaBoleto/RemoverSolicitacao',
                type: 'post',
                dataType: 'json',
                data: { b: $("#modal-form-solicitacao #Cod").val() }
            }).success(function (r) {
                if (r.OK) {
                    jx.mensagem("Operação", "Registro removido com sucesso!", 'success', 'fa fa-check');
                    setTimeout(function () {
                        $('#modal-form-solicitacao').modal('toggle');
                    }, 1500)
                }
                else {
                    console.log(r.Mensagem);
                }
            });
        }
        function cancel() {
            $('#modal-form-solicitacao').modal('toggle');
        }

        function getPainel() {
            _ticked = "&t=" + _today.getSeconds();
            $("#painel-solicitacao").empty();
            $("#painel-solicitacao").load("/Pesquisa/CarregarMenuSolicitacao/?t" + _ticked, function () {
                var id = $("#SinteseId").val();
                $("[data-sintese='" + id + "']").click();
            });
        }



    </script>
}
