﻿@model List<Cobranca.Db.Models.Pesquisa.ContratoDados>
@{
    ViewBag.Title = "Resultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-pesquisa";
    var fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true;
}
@using Cobranca.Rotinas;
<style>
    div.dataTables_length {
        float: right !important;
    }

    div.dataTables_filter {
        float: right !important;
    }

    div.dt-buttons {
        float: right;
    }

        div.dt-buttons a {
            background: #227446 !important;
            border-color: #113922 !important;
            color: #fff;
            border-radius: 0px !important;
            height: 30px;
            border: 1px solid transparent;
            text-align: center;
        }

    table tbody td {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 10px;
    }
</style>
<div class="row">
    @Html.Partial("_menuPesquisaPorCliente", "aba-dados")

    <div class="col-md-12">
        <div class="panel panel-default panel-pesquisa-dados">
            <div class="row">
                <div class="panel-body table-responsive" id="grid-cliente-teste" style="min-height:400px">
                    <table id="grid-cliente" class="table table-bordered table-order-column table-responsive table-striped table-condensed table-row-border table-compact" style="width:100%; margin-top:0px !important;">
                        <thead id="dtheader">
                            <tr id="trheader">
                                <th class="text-center col-id" data-name="Cod" data-data="Cod" data-title="#" style="width:5%"></th>
                                <th class="text-center filter-int" data-name="CodCliente" data-data="CodCliente" data-title="@Idioma.Traduzir("Cod.Cliente")" style="width:5%"></th>
                                <th class="text-center" data-name="Cliente" data-data="Cliente" data-title="@Idioma.Traduzir("Cliente")" style="width:20%"></th>
                                <th class="text-center filter-cpf" data-name="CPF" data-data="CPF" data-title="@Idioma.Traduzir("CPF")" style="width:10%"></th>
                                <th class="text-center sum-int" data-name="QtdContrato" data-data="QtdContrato" data-title="@Idioma.Traduzir("Qtd.Contr")" style="width:5%"></th>
                                <th class="text-center sum-float" data-type="moeda" data-name="ValorAtraso" data-data="ValorAtrasoDesc" data-title="@Idioma.Traduzir("Atraso")" style="width:5%"></th>
                                <th class="text-center sum-float" data-type="moeda" data-name="ValorPago" data-data="ValorPagoDesc" data-title="@Idioma.Traduzir("Pago")" style="width:5%"></th>
                                <th class="text-center sum-float" data-name="ValorAVencer" data-type="moeda" data-data="ValorAVencerDesc" data-title="@Idioma.Traduzir("Vencer")" style="width:5%"></th>
                                <th class="text-center filter-date" data-type="datahora" data-name="DataCadastro" data-data="DataCadastroDesc" data-title="@Idioma.Traduzir("Data")" style="width:10%"></th>
                                <th class="text-center" data-name="NomeUsuario" data-data="NomeUsuario" data-title="@Idioma.Traduzir("Usuario")" style="width:5%"></th>
                                <th class="text-center" data-name="Status" data-data="Status" data-title="@Idioma.Traduzir("Status")" style="width:5%"></th>
                                <th class="text-center" data-name="Observacoes" data-data="Observacoes" data-title="@Idioma.Traduzir("Observacoes")" style="width:20%"></th>
                            </tr>
                            <tr id="tb-loading">
                                <td colspan="12" class="text-center animated fadeIn">
                                    <h2><i class="fa fa-spin fa-spinner text-silver"></i> @Idioma.Traduzir("Carregando os dados")</h2>
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var _id = 0;
        var table = '';
        var asInitVals = new Array();
        $(document).ready(function () {
            obterDados();
            ativarBotoes(false);

            $.extend($.fn.dataTableExt.oSort, {
                "currency-pre": function (a) {
                    a = a.replace(/[^\d\,]/g, "");
                    return parseFloat(a);
                },
                "currency-asc": function (a, b) {
                    return a - b;
                },
                "currency-desc": function (a, b) {
                    return b - a;
                }
            });

        });
        function linhaClick(e) {
            _id = $(e).find("td:first").text();
            $.ajax({
                url: '@Url.Action("SelecionarCliente")',
                data: {
                    id: _id
                },
                type: 'post',
                dataType: 'json'
            }).success(function (resultado) {
                if (!resultado.OK) {
                    notificacaoBox("Não foi possivel selecionar", resultado.Mensagem);
                }
            }).complete(function () {
                ativarBotoes(_id > 0);
            });

        }
        function ativarBotoes(ativar) {
            if (ativar) {
                $(".menu-ativar").removeClass("disabled");
                $(".menu-ativar").find("a").unbind('click', false);
            } else {
                $(".menu-ativar").addClass("disabled");
                $(".menu-ativar").find("a").bind('click', false);
            }
        }

        function obterDados() {
            var $data_table = $('#grid-cliente');
            jx.dtableSearch($data_table);
            jx.dtableFooter($data_table);
            table = $data_table.DataTable({
                "deferRender": true,
                "serverSide": true,
                "deferRender": true,
                "ajax": {
                    "url": "@Url.Action("ObterDadosClienteServer", "Pesquisa")",
                    "type": "POST"
                },
                "columnDefs": [
                    {
                        targets: 11,
                        render: function (data, type, row) {
                            var value = String(row.Observacao).toString();
                            var len = value.length;
                            if (len > 50) {
                                return value.substr(0, 50) + ' ...';
                            } else {
                                return row.Observacao;
                            }

                        }
                    }],
                "rowId": 'CodigoCliente',
                "language": {
                    "sEmptyTable": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sInfo": "@Idioma.Traduzir("Mostrando de") _START_ @Idioma.Traduzir("até") _END_ @Idioma.Traduzir("de") _TOTAL_ @Idioma.Traduzir("registros")",
                    "sInfoEmpty": "@Idioma.Traduzir("Mostrando 0 até 0 de 0 registros")",
                    "sInfoFiltered": "(@Idioma.Traduzir("Filtrados de") _MAX_ @Idioma.Traduzir("registros"))",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_",
                    "sLoadingRecords": "@Idioma.Traduzir("Carregando...")",
                    "sProcessing": "<h2><i class='fa fa-spin fa-spinner text-silver'></i> @Idioma.Traduzir("Carregando os dados..")</h2>",
                    "sZeroRecords": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sSearch": "",
                    "oPaginate": {
                        "sNext": "@Idioma.Traduzir("Próximo")",
                        "sPrevious": "@Idioma.Traduzir("Anterior")",
                        "sFirst": "@Idioma.Traduzir("Primeiro")",
                        "sLast": "@Idioma.Traduzir("Último")"
                    },
                    oAria: {
                        "sSortAscending": ": @Idioma.Traduzir("Ordenar colunas de forma ascendente")",
                        "sSortDescending": ": @Idioma.Traduzir("Ordenar colunas de forma descendente")"
                    }
                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td:eq(0),td:eq(1),td:eq(3),td:eq(5),td:eq(6),td:eq(7),td:eq(8)', nRow).addClass("text-right");
                    $('td:eq(4)', nRow).addClass("text-center");
                    $('td:eq(10)', nRow).addClass("text-bold text-left");
                    $('td:eq(5)', nRow).addClass("text-bold text-danger");
                },
                "sDom": '<"col-xs-12 col-md-12 col-lg-12 pull-right"lB>' +
                '<"col-xs-12 col-md-12 dtable-reponsive"t>' +
                '<"col-xs-12 col-md-6 pull-left"i><"col-xs-12 col-md-6 pull-right"p>',
                "buttons": [{
                    text: '<i class="fa fa-cloud-download"></i>',
                    extend: 'csvHtml5',
                    title: 'teste',
                    exportOptions: {
                        columns: ':visible'
                    },
                    action: function (e, dt, node, config) {
                        $data_table.block({
                            message: '',
                            css: {
                                border: 'none',
                                padding: '15px',
                                backgroundColor: '#fff',
                                '-webkit-border-radius': '10px',
                                '-moz-border-radius': '10px',
                                opacity: .5,
                                color: '#fff',
                                width: '50%'
                            },
                            overlayCSS: { backgroundColor: '#FFF' }
                        });
                        $data_table.addClass('carregando');
                        var params = { param: dt.ajax.params() };
                        console.log(params);
                        $.post("/Pesquisa/ExportarExcelCliente", $.param(params), function (d) {
                            if (d.OK) {
                                var opnner = window.open(d.Dados, '_blank');
                            }
                        });
                        dt.ajax.reload();
                    }
                }],
                'initComplete': function (settings, json) {
                    var tb = table.data();
                    tb.inicializar($data_table);
                    tb.selecionado($data_table);
                    tb.addSearch($data_table);
                    tb.sum();
                    $("#tb-loading").hide();
                },
                "fnDrawCallback": function (oSettings) {
                    table.data().sum();
                    $data_table.unblock();
                    $data_table.removeClass('reloading');
                }
            });

        }

    </script>
}
