﻿@model List<Cobranca.Db.Models.Pesquisa.ContratoDados>
@{
    ViewBag.Title = "Resultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-pesquisa";
    var fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true;
}
@using Cobranca.Rotinas;
<style>
    div.dataTables_length {
        float: right !important;
    }
    div.dt-buttons {
        float: right;
    }

        div.dt-buttons a {
            background: #227446 !important;
            border-color: #113922 !important;
            color: #fff;
            border-radius: 0px !important;
            height: 30px;
            border: 1px solid transparent;
            text-align: center;
        }

    table tbody td {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 10px;
    }
</style>
<div class="row">
    @Html.Partial("_menuPesquisaPorClienteParcela", "aba-dados")
    <div class="col-md-12">
        <div class="panel panel-default panel-pesquisa-dados">
            <div class="panel-body table-responsive" id="grid-cliente-teste" style="min-height:400px">
                <table id="grid-cliente" class="table table-bordered table-condensed table-striped display nowrap" style="margin-top:6px;background-color:#fff;">
                    <thead id="dtheader">
                        <tr id="trheader">
                            <th class="text-center col-id" data-name="Cod" data-data="Cod" style="width:40px" data-title=""></th>
                            <th class="text-center filter-int" data-name="CodCliente" data-data="CodCliente" style="width:40px" data-title="@Idioma.Traduzir("Cod.Cliente")"></th>
                            <th class="text-center" data-name="Cliente" data-data="Cliente" data-title="@Idioma.Traduzir("Cliente")" style="width:250px"></th>
                            <th class="text-center filter-cpf" data-name="CPF" data-data="CPF" style="width:140px" data-title="@Idioma.Traduzir("CPF")"></th>
                            <th class="text-center sum-int" data-name="QtdContrato" data-data="QtdContrato" style="width:40px" data-title="@Idioma.Traduzir("Qtd.Contr")"></th>
                            <th class="text-center sum-int" data-name="QtdParcela" data-data="QtdParcela" style="width:40px" data-title="@Idioma.Traduzir("Qtd.Parcela")"></th>
                            <th class="text-center sum-float" data-name="ValorAtraso" data-type="moeda" data-data="ValorAtrasoDesc" style="width:20px" data-title="@Idioma.Traduzir("Atraso")"></th>
                            <th class="text-center sum-float" data-name="ValorPago" data-type="moeda" data-data="ValorPagoDesc" style="width:20px" data-title="@Idioma.Traduzir("Pago")"></th>
                            <th class="text-center sum-float" data-name="ValorAVencer" data-type="moeda" data-data="ValorAVencerDesc" style="width:20px" data-title="@Idioma.Traduzir("Vencer")"></th>
                            @*<th class="text-center" data-name="DataCadastro" data-data="DataCadastroDesc" style="width:20px" data-title="Data"></th>
                        <th class="text-center" data-name="NomeUsuario" data-data="NomeUsuario" style="width:20px" data-title="Usuario"></th>
                        <th class="text-center" data-name="HistFaseSinteseEncrypted" data-data="HistFaseSinteseEncrypted" style="width:250px" data-title="Status"></th>
                        <th class="text-center" data-name="HistObservacaoEncrypted" data-data="HistObservacaoEncrypted" style="width:240px" data-title="Observacoes"></th>*@
                        </tr>
                        <tr id="tb-loading">
                            <td colspan="9" class="text-center animated fadeIn">
                                <h2><i class="fa fa-spin fa-spinner text-silver"></i> Carregando os dados</h2>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var _id = 0;
        var table = '';
        $(document).ready(function () {
            obterDados();
            ativarBotoes(false);

            $.extend($.fn.dataTableExt.oSort, {
                "currency-pre": function (a) {
                    a = a.replace(/[^\d\,]/g, "");
                    return parseFloat(a);
                },
                "currency-asc": function (a, b) {
                    return a - b;
                },
                "currency-desc": function (a, b) {
                    return b - a;
                }
            });

        });
        function linhaClick(e) {
            _id = $(e).find("td:first").text();
            //var obj = table.row(e).data()
            $.ajax({
                url: '@Url.Action("SelecionarClienteParcela")',
                data: {
                    id: _id
                },
                type: 'post',
                dataType: 'json'
            }).success(function (resultado) {
                if (!resultado.OK) {
                    notificacaoBox("Não foi possivel selecionar", resultado.Mensagem);
                }
            }).complete(function () {
                ativarBotoes(_id > 0);
            });

        }
        function ativarBotoes(ativar) {
            if (ativar) {
                $(".menu-ativar").removeClass("disabled");
                $(".menu-ativar").find("a").unbind('click', false);
            } else {
                $(".menu-ativar").addClass("disabled");
                $(".menu-ativar").find("a").bind('click', false);
            }
        }

        function obterDados() {
            var $data_table = $('#grid-cliente');
            jx.dtableSearch($data_table);
            jx.dtableFooter($data_table);
            table = $data_table.DataTable({
                "deferRender": true,
                "serverSide": true,
                "responsive": true,
                "processing": true,
                "deferRender": true,
                "ajax": {
                    "url": "@Url.Action("ObterDadosPorParcelaServer", "Pesquisa")",
                    "type": "POST"
                },
                "rowId": 'CodigoCliente',
                "language": {
                    "sEmptyTable": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sInfo": "@Idioma.Traduzir("Mostrando de") _START_ @Idioma.Traduzir("até") _END_ @Idioma.Traduzir("de") _TOTAL_ @Idioma.Traduzir("registros")",
                    "sInfoEmpty": "@Idioma.Traduzir("Mostrando 0 até 0 de 0 registros")",
                    "sInfoFiltered": "(@Idioma.Traduzir("Filtrados de") _MAX_ @Idioma.Traduzir("registros"))",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_",
                    "sLoadingRecords": "@Idioma.Traduzir("Carregando...")",
                    "sProcessing": "<h2><i class='fa fa-spin fa-spinner text-silver'></i> @Idioma.Traduzir("Carregando os dados..")</h2>",
                    "sZeroRecords": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sSearch": "",
                    "oPaginate": {
                        "sNext": "@Idioma.Traduzir("Próximo")",
                        "sPrevious": "@Idioma.Traduzir("Anterior")",
                        "sFirst": "@Idioma.Traduzir("Primeiro")",
                        "sLast": "@Idioma.Traduzir("Último")"
                    },
                    oAria: {
                        "sSortAscending": ": @Idioma.Traduzir("Ordenar colunas de forma ascendente")",
                        "sSortDescending": ": @Idioma.Traduzir("Ordenar colunas de forma descendente")"
                    }
                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td:eq(0),td:eq(1),td:eq(6),td:eq(7),td:eq(8)', nRow).addClass("text-right");
                    $('td:eq(3),td:eq(4),td:eq(5)', nRow).addClass("text-center");
                    $('td:eq(2)', nRow).addClass("text-left");
                    $('td:eq(10)', nRow).addClass("text-bold text-left");
                    $('td:eq(6)', nRow).addClass("text-bold text-danger");
                },
                "sDom": '<"col-xs-12 col-md-12 col-lg-12 pull-right"lB>' +
                '<"col-xs-12 col-md-12"t>' +
                '<"col-xs-12 col-md-6 pull-left"i><"col-xs-12 col-md-6 pull-right"p>',

                "buttons": [{
                    text: '<i class="fa fa-cloud-download"></i>',
                    extend: 'csvHtml5',
                    title: 'teste',
                    exportOptions: {
                        columns: ':visible'
                    },
                    action: function (e, dt, node, config) {
                        $data_table.block({
                            message: '',
                            css: {
                                border: 'none',
                                padding: '15px',
                                backgroundColor: '#fff',
                                '-webkit-border-radius': '10px',
                                '-moz-border-radius': '10px',
                                opacity: .5,
                                color: '#fff',
                                width: '50%'
                            },
                            overlayCSS: { backgroundColor: '#FFF' }
                        });
                        $data_table.addClass('carregando');

                        window.location.href = "/Pesquisa/DonwloadExcelParcela";

                        dt.ajax.reload();
                    }
                }],
                'initComplete': function (settings, json) {
                    var tb = table.data();
                    tb.inicializar($data_table);
                    tb.selecionado($data_table);
                    tb.addSearch($data_table);
                    tb.sum();
                    jx.dTablesUnblock($data_table);
                    $("#tb-loading").hide();

                },
                "fnDrawCallback": function (oSettings) {
                    table.data().sum();
                    jx.dTablesUnblock($data_table);
                }

            }).on('order.dt', function () {
                jx.dTablesBlock($data_table);
            });

           //$("#grid-cliente tbody").on('click', 'tr', function () {
           //    var table = $(this).parent().parent();
           //    if ($(this).hasClass('selecionado')) {
           //        $(this).removeClass('selecionado');
           //    }
           //    else {
           //        table.find('tr.selecionado').removeClass('selecionado');
           //        $(this).addClass('selecionado');
           //    }
           //
           //    if (linhaClick) {
           //        linhaClick($(this));
           //    }
           //});
        }


    </script>
}
