﻿@model Cobranca.Db.Models.Contrato
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-pesquisa";
}
<div class="row">
    @Html.Partial("_menuPesquisa", "aba-servicos")
    <div class="col-md-12">
        <div class="panel panel-default panel-pesquisa-dados">
            <div class="panel-body">
                @Html.Partial("_dados", Model)
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs nav-junix" role="tablist" style="margin-bottom:0px;">
                            <li role="presentation" class="active"><a href="#TAB-POSICAOFINANCEIRA" role="tab" data-toggle="tab">Posição Financeira</a></li>
                            <li role="presentation"><a href="#TAB-SEGUNDAVIABOLETO" aria-controls="profile" role="tab" data-toggle="tab">Segunda Via de Boleto</a></li>
                            <li role="presentation"><a href="#TAB-ANTECIPACAOPARCELAS" aria-controls="profile" role="tab" data-toggle="tab">Antecipação de Parcelas</a></li>
                            <li role="presentation"><a href="#TAB-PARCELASATRASO" aria-controls="profile" role="tab" data-toggle="tab">Parcelas em Atraso</a></li>
                            <li role="presentation"><a href="#TAB-MEMORIACALCULO" aria-controls="profile" role="tab" data-toggle="tab">Memória Cálculo</a></li>
                            <li role="presentation"><a href="#TAB-PARCELASERVICO" aria-controls="profile" role="tab" data-toggle="tab">Parcela Serviço</a></li>
                        </ul>
                        <div class="panel panel-default" style="border-top:none;border-top-left-radius:initial;">
                            <div class="panel-body" style="margin-top:0px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        @*<div class="heading-block">
                                                <h5>Serviços Financeiros</h5>
                                            </div>
                                            <div class="row area-expantir animated fadeIn">
                                                <div class="col-md-12">
                                                    <ul class="nav nav-tabs" role="tablist">
                                                        <li role="presentation" class="active"><a href="#TAB-POSICAOFINANCEIRA" role="tab" data-toggle="tab">Posição Financeira</a></li>
                                                        <li role="presentation"><a href="#TAB-SEGUNDAVIABOLETO" aria-controls="profile" role="tab" data-toggle="tab">Segunda Via de Boleto</a></li>
                                                        <li role="presentation"><a href="#TAB-ANTECIPACAOPARCELAS" aria-controls="profile" role="tab" data-toggle="tab">Antecipação de Parcelas</a></li>
                                                        <li role="presentation"><a href="#TAB-PARCELASATRASO" aria-controls="profile" role="tab" data-toggle="tab">Parcelas em Atraso</a></li>
                                                        <li role="presentation"><a href="#TAB-MEMORIACALCULO" aria-controls="profile" role="tab" data-toggle="tab">Memória Cálculo</a></li>
                                                        <li role="presentation"><a href="#TAB-PARCELASERVICO" aria-controls="profile" role="tab" data-toggle="tab">Parcela Serviço</a></li>
                                                    </ul>
                                                </div>
                                            </div>*@
                                        <div class="row area-expantir animated fadeIn ">
                                            <div class="col-md-12">
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane active" id="TAB-POSICAOFINANCEIRA">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <iframe src="@ViewBag.PosicaoFinanceira" style="width: 100%; height: 600px" id="PosicaoFianceiraIframe" name="PosicaoFinanceira"></iframe>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="TAB-SEGUNDAVIABOLETO">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <iframe src="@ViewBag.SegundaViaBoleto" style="width: 100%; height: 600px" id="PosicaoFianceiraIframe" name="SegundaViaBoleto"></iframe>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="TAB-ANTECIPACAOPARCELAS">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <iframe src="@ViewBag.AntecipacaoParcelas" style="width: 100%; height: 600px" id="PosicaoFianceiraIframe" name="AntecipacaoParcela"></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="TAB-PARCELASATRASO">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <iframe src="@ViewBag.ParcelasEmAtraso" style="width: 100%; height: 600px" id="PosicaoFianceiraIframe" name="ParcelaAtraso"></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="TAB-MEMORIACALCULO">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <iframe src="@ViewBag.MemoriaCalculo" style="width: 100%; height: 600px" id="PosicaoFianceiraIframe" name="MemoriaCalculo"></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="TAB-PARCELASERVICO">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <iframe src="@ViewBag.ParcelaServico" style="width: 100%; height: 600px" id="PosicaoFianceiraIframe" name="ParcelaServico"></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">

    </script>
}
