﻿@model Cobranca.Db.Models.Contrato
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-pesquisa";
}
<div class="row">
    @Html.Partial("_menuPesquisa","aba-simulacao")
    <div class="col-md-12">
        <div class="panel panel-default panel-pesquisa-dados">
            <div class="panel-body">
                @Html.Partial("_dados", Model)
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="heading-block">
                                            <h5>Simulação de proposta</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        
    </script>
    }