﻿@model Cobranca.Db.Models.PropostaProspect
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro-prospect";
}
<form id="form-prospect" method="post">
    <div class="panel panel-default panel-small">
        <div class="panel-heading">
            <i class="fa fa-users"></i>  Dados Pessoais
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group-sm">
                        <label for="CPF" class="">CPF/CNPJ</label>
                        @Html.TextBox("CPF", "", new { @class = "form-control input-silver", required = "required", data_mask = "cpf" })
                    </div>  <!-- /.form-group -->
                </div>
                <div class="col-sm-4">
                    <div class="form-group-sm">
                        <label for="Nome" class="">Nome Completo</label>
                        @Html.TextBox("Nome", "", new { @class = "form-control input-silver", required = "required" })
                    </div> <!-- /.form-group -->
                </div>
              
                <div class="col-sm-2">
                    <div class="form-group-sm">
                        <label for="Profissao" class="">Data Nascimento</label>
                        @Html.TextBox("DataNascimento", "", new { @class = "form-control input-silver", data_mask = "datetime" })
                    </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-1">
                    <div class="form-group-sm">
                        <label for="Sexo" class="">Sexo</label>
                        @Html.DropDownList("Sexo", new SelectList(Cobranca.Db.Models.EnumeradoresLista.Sexo(), "value", "key", 0), new { @class = "form-control input-silver" })
                    </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-1">
                    <div class="form-group-sm">
                        <label for="EstadoCivil" class="">Estado Civil</label>
                        @Html.DropDownList("EstadoCivil", new SelectList(Cobranca.Db.Models.EnumeradoresLista.EstadoCivil(), "value", "key", 0), new { @class = "form-control input-silver" })
                    </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-1">
                    <div class="form-group-sm">
                        <label for="TipoDocumento" class="">Tipo Documento</label>
                        @Html.DropDownList("TipoDocumento", new SelectList(Cobranca.Db.Models.EnumeradoresLista.DocumentoTipo(), "value", "key", 0), new { @class = "form-control input-silver" })
                    </div> <!-- /.form-group -->

                </div>
                <div class="col-sm-1">
                    <div class="form-group-sm">
                        <label for="RG" class="">Número Documento</label>
                        @Html.TextBox("RG", "", new { @class = "form-control input-silver" })
                    </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-1">
                    <div class="form-group-sm">
                        <label for="Orgao" class="">Órgão Expedidor</label>
                        @Html.TextBox("Orgao", "", new { @class = "form-control input-silver" })
                    </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-1">
                    <div class="form-group-sm">
                        <label for="DataEmissao" class="">Data Emissão</label>
                        @Html.TextBox("DataEmissao", "", new { @class = "form-control input-silver", data_mask = "datetime" })
                    </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-2">
                    <div class="form-group-sm">
                        <label for="CategoriaProfissional" class="">Categoria Profissional</label>
                        @Html.DropDownList("CategoriaProfissional", new SelectList(Cobranca.Db.Models.EnumeradoresLista.CategoriaProfissional(), "value", "key", 0), new { @class = "form-control input-silver" })
                    </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-2">
                    <div class="form-group-sm">
                        <label for="Profissao" class="">Profissão</label>
                        @Html.TextBox("Profissao", "", new { @class = "form-control input-silver" })
                    </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-1">
                    <div class="form-group-sm">
                        <label for="NumeroDependente" class="">Nº Dependente</label>
                        @Html.TextBox("NumeroDependente", "", new { @class = "form-control input-silver" })
                    </div>  <!-- /.form-group -->
                </div>
                <div class="col-sm-2">
                    <div class="form-group-sm">
                        <label for="Nacionalidade" class="">Nacionalidade</label>
                        @Html.TextBox("Nacionalidade", "", new { @class = "form-control input-silver" })
                    </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-1">
                    <div class="form-group-sm">
                        <label for="Profissao" class="">Naturalidade</label>
                        @Html.TextBox("Naturalidade", "", new { @class = "form-control input-silver" })
                    </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-2">
                    <div class="form-group-sm">
                        <label for="Escolaridade" class="">Escolaridade</label>
                        @Html.DropDownList("CategoriaProfissional", new SelectList(Cobranca.Db.Models.EnumeradoresLista.Escolaridade(), "value", "key", 0), new { @class = "form-control input-silver" })
                    </div> <!-- /.form-group -->
                </div>

                <div class="col-sm-2">
                    <div class="form-group-sm">
                        <label for="Cartorio" class="">Cartório que possui Firma</label>
                        @Html.TextBox("Cartorio", "", new { @class = "form-control input-silver" })
                    </div>  <!-- /.form-group -->
                </div>
                <div class="col-sm-5">
                    <div class="form-group-sm">
                        <label for="NomePai">Nome Pai</label>
                        @Html.TextBox("NomePai", "", new { @class = "form-control input-silver" })
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group-sm">
                        <label for="NomeMae">Nome Mãe</label>
                        @*<b class="form-control input-silver">@cliente.Cliente.Nome</b>*@
                        @Html.TextBox("NomeMae", "", new { @class = "form-control input-silver" })
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="panel panel-default panel-small">
        <div class="panel-heading">
            <i class="fa fa-phone"></i>  Contato
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group-sm">
                        <label for="Email" class="">Email</label>
                        @Html.TextBox("Email", "", new { @class = "form-control input-silver", required = "required", type = "email", data_rule_email = "true" })
                    </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-2">
                    <div class="form-group-sm">
                        <label for="TelefoneResidencial" class="">Telefone Residencial</label>
                        @Html.TextBox("TelefoneResidencial", "", new { @class = "form-control input-silver", data_mask = "telresidencial" })
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group-sm">
                        <label for="Telefone" class="">Telefone Comercial</label>
                        @Html.TextBox("TelefoneComercial", "", new { @class = "form-control input-silver", data_mask = "telresidencial" })
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group-sm">
                        <label for="Celular" class="">Celular</label>
                        @Html.TextBox("Celular", "", new { @class = "form-control input-silver", required = "required", data_mask = "telcelular" })
                    </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-2">
                    <div class="form-group-sm">
                        <label for="Celular" class="">Celular Comercial</label>
                        @Html.TextBox("CelularComercial", "", new { @class = "form-control input-silver", data_mask = "telcelular" })
                    </div> <!-- /.form-group -->
                </div>
            </div>

        </div>
    </div>
    <div class="panel panel-default panel-small">
        <div class="panel-heading">
            <i class="fa fa-home"></i> Endereço
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-1">
                    <div class="form-group-sm">
                        <label for="CEP" class="">CEP</label>
                        @Html.TextBox("CEP", "", new { @class = "form-control input-silver" })
                    </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-1">
                    <div class="form-group-sm">
                        <label for="Tipo" class="">Tipo</label>
                        @Html.DropDownList("Tipo", new SelectList(Cobranca.Db.Models.EnumeradoresLista.EnderecoTipo(), "value", "key", 0), new { @class = "form-control input-silver" })
                    </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-3">
                    <div class="form-group-sm">
                        <label for="Endereço" class="">Endereço</label>
                        @Html.TextBox("Endereco", "", new { @class = "form-control input-silver" })
                    </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-1">
                    <div class="form-group-sm">
                        <label for="EnderecoNumero" class="">Numero</label>
                        @Html.TextBox("EnderecoNumero", "", new { @class = "form-control input-silver" })
                    </div> <!-- /.form-group -->
                </div>

                <div class="col-sm-2">
                    <div class="form-group-sm">
                        <label for="EnderecoComplemento" class="">Complemento</label>
                        @Html.TextBox("EnderecoComplemento", "", new { @class = "form-control input-silver" })
                    </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-2">
                    <div class="form-group-sm">
                        <label for="Bairro" class="">Bairro</label>
                        @Html.TextBox("Bairro", "", new { @class = "form-control input-silver" })
                    </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-2">
                    <div class="form-group-sm">
                        <label for="Cidade" class="">Cidade</label>
                        @Html.TextBox("Cidade", "", new { @class = "form-control input-silver" })
                    </div> <!-- /.form-group -->
                </div>
               
                <div class="col-sm-1">
                    <div class="form-group-sm">
                        <label for="UF" class="">UF</label>
                        @Html.TextBox("UF", "", new { @class = "form-control input-silver" })
                    </div> <!-- /.form-group -->
                </div>
            </div>
            <div class="row" style="margin-top: 25px">
                <div class="col-sm-2">
                    <div class="form-group-sm">
                        <button type="button" onclick="incluirProspect()" class="btn btn-sm btn-primary btn-min-width"><i class="fa fa-save"></i>&nbsp;&nbsp;Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#form-prospect").validate({
                rules: {
                    cpf: "required",
                    nome: "required",
                    email: {
                        required: true,
                        email: true
                    }
                }
            });
            $("#CEP").change(function () {
                $("#CEP").blur(function () {
                    var cep = $("#CEP").val().replace(".", "").replace("-", "")
                    if (cep != "") {
                        var validacep = /^[0-9]{8}$/;
                        if (validacep.test(cep)) {
                            $("#Endereco").val("...")
                            $("#Bairro").val("...")
                            $("#Cidade").val("...")
                            $("#UF").val("...")
                            $.getJSON("//viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {
                                if (!("erro" in dados)) {
                                    $("#Endereco").val(dados.logradouro);
                                    $("#Bairro").val(dados.bairro);
                                    $("#Cidade").val(dados.localidade);
                                    $("#UF").val(dados.uf);
                                }
                                else {
                                    alert("CEP não encontrado.");
                                    limpaCep();
                                }
                            });
                        }
                        else {
                            alert("Formato de CEP inválido.");
                            limpaCep();
                        }
                    }
                    else {
                        limpaCep();
                    }
                });
            });
            $("#CPF").change(function () {
                var cpf = $("#CPF").val();
                $.ajax({
                    url: '@Url.Action("ListarClientePorCPF", "CadastroProspect")',
                    type: 'post',
                    dataType: 'json',
                    data: { CPF: cpf }
                }).success(function (resultado) {
                    $("#Nome").val(resultado.DadosCliente.NomeCliente);
                    $("#DataNascimento").val(resultado.DadosCliente.DataNascimento);
                    $("#Sexo").val(resultado.DadosCliente.Sexo);
                    $("#EstadoCivil").val(resultado.DadosCliente.EstadoCivil);
                    debugger
                    $("#TipoDocumento option:selected").val(resultado.DadosCliente.TipoDocumento);

                    $("#RG").val(resultado.DadosCliente.NumeroDocumento);
                    $("#Orgao").val(resultado.DadosCliente.OrgaoExpedidor);
                    $("#DataEmissao").val(resultado.DadosCliente.DataEmissao);
                    $("#CategoriaProfissional").val(resultado.DadosCliente.CategoriaProfissional);
                    $("#Profissao").val(resultado.DadosCliente.Profissao);

                    $("#NumeroDependente").val(resultado.DadosCliente.NumeroDependente);
                    $("#Nacionalidade").val(resultado.DadosCliente.Nacionalidade);
                    $("#Naturalidade").val(resultado.DadosCliente.Naturalidade);
                    $("#Escolaridade option:selected").val(resultado.DadosCliente.Escolaridade);
                    $("#Cartorio").val(resultado.DadosCliente.Cartorio);

                    $("#NomePai").val(resultado.DadosCliente.NomePai);
                    $("#NomeMae").val(resultado.DadosCliente.NomeMae);
                    $("#Email").val(resultado.DadosCliente.Email);
                    $("#TelefoneResidencial").val(resultado.DadosCliente.TelefoneResidencial);
                    $("#TelefoneComercial").val(resultado.DadosCliente.TelefoneComercial);
                    $("#Celular").val(resultado.DadosCliente.Celular);
                    $("#CelularComercial").val(resultado.DadosCliente.CelularComercial);


                    $("#CEP").val(resultado.DadosCliente.CEP);
                    $("#Tipo").val(resultado.DadosCliente.EnderecoTipo);
                    $("#Endereco").val(resultado.DadosCliente.Endereco);
                    $("#EnderecoNumero").val(resultado.DadosCliente.EnderecoNumero);
                    $("#EnderecoComplemento").val(resultado.DadosCliente.EnderecoComplemento);
                    $("#Bairro").val(resultado.DadosCliente.Bairro);
                    $("#Cidade").val(resultado.DadosCliente.Cidade);
                    $("#UF").val(resultado.DadosCliente.UF);
                });
            });
        });
        function cancelar() {
            document.location = '@Url.Action("index")';
        }
        function incluirProspect() {
            var form = $("#form-prospect").serialize();
            $.ajax({
                url: '@Url.Action("IncluirProspect", "CadastroProspect")',
                type: 'post',
                dataType: 'json',
                data: form
            }).success(function (resultado) {
                if (resultado.OK) {
                    alert("Prospect incluso com sucesso!");
                    cancelar();
                }
                else {
                    alert("Prospect não incluso. Favor verificar procedimento.");
                }
            });
        }
    </script>
}