﻿@model Cobranca.Web.Models.RelatorioViewModel
@{
    var fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true;
    var user = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado();
}
<div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
        <div class="form-group-sm">
            <label for="CodEscritorio">Escritório</label>
            @Html.DropDownListFor(m => m.CodEscritorio, new SelectList(ViewBag.ListaEscritorio, "value", "key", Model.CodEscritorio), new { @class = "form-control input-silver select2" })
            @Html.ValidationMessageFor(m => m.CodEscritorio)
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
        <div class="form-group-sm">
            <label for="CodEscritorio">Empresa</label>
            @Html.DropDownListFor(m => m.CodConstrutora, new SelectList(ViewBag.ListaConstrutora, "value", "key", Model.CodConstrutora), new { @class = "form-control input-silver select2" })
            @Html.ValidationMessageFor(m => m.CodConstrutora)
        </div> <!-- /.form-group -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
        <div class="form-group-sm">
            <label for="CodEscritorio">Filial</label>
            @Html.DropDownListFor(m => m.CodRegional, new SelectList(ViewBag.ListaRegional, "value", "key", Model.CodRegional), new { @class = "form-control input-silver select2" })
            @Html.ValidationMessageFor(m => m.CodRegional)
        </div> <!-- /.form-group -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
        <div class="form-group-sm">
            <label for="CodEscritorio">Produto</label>
            @Html.DropDownListFor(m => m.CodProduto, new SelectList(ViewBag.ListaProduto, "value", "key", Model.CodProduto), new { @class = "form-control input-silver select2" })
            @Html.ValidationMessageFor(m => m.CodProduto)
        </div> <!-- /.form-group -->
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
        <button class="btn btn-sm btn-primary btn-block margin-top-18" style="margin-bottom:0px;" type="submit"><i class="fa fa-filter"></i>&nbsp;Filtrar</button>
    </div>
</div>

