﻿@using Cobranca.Rotinas;
@{

    var _perfilTipo = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo;
}
<div class="row">
    <div class="col-md-12">
        <div class="panel-group" id="tabs" style=" margin-bottom 0;">

            <div class="panel panel-default" style="margin-bottom:0 !important;margin-top:0;">
                <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#tabs0" data-target="#tabAtendimento">
                    <h6 class="accordion-toggle" style="margin-bottom:2px; margin-top:2px;"><i class="fa fa-phone"></i>&nbsp;&nbsp;@Idioma.Traduzir("Atendimentos").ToUpper()</h6>
                </div>
                <div id="tabAtendimento" class="panel-collapse collapse" style="border-top: 2px solid #c76161;">
                    <div class="panel-body">
                        <a class="btn btn-sm btn-link btn-block" style="margin-top:0" href="@Url.Action("Atendimento")">@Idioma.Traduzir("Controle de Atendimentos")</a>
                        <a class="btn btn-sm btn-link btn-block" style="margin-top:0" href="@Url.Action("AtendimentoAgendados")">@Idioma.Traduzir("Controle de Agendamentos")</a>
                        <a class="btn btn-sm btn-link btn-block" style="margin-top:0" href="@Url.Action("SemAtendimento")">@Idioma.Traduzir("Controle de parcelas")</a>
                    </div>
                </div>
            </div>
            @if (_perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Analista || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.SupervisorAnalista)
            {
                <div class="panel panel-default" style="margin-bottom:0 !important;margin-top:0;">
                    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#tabs0" data-target="#tabGestao">
                        <h6 class="accordion-toggle" style="margin-bottom:2px; margin-top:2px;"><i class="fa fa-line-chart"></i>&nbsp;&nbsp;@Idioma.Traduzir("Gestão").ToUpper()</h6>
                    </div>
                    <div id="tabGestao" class="panel-collapse collapse" style="border-top: 2px solid #c76161;">
                        <div class="panel-body">
                            <a class="btn btn-sm btn-link btn-block" style="margin-top:0" href="@Url.Action("GestaoBoleto")">@Idioma.Traduzir("Boletos")</a>
                            <a class="btn btn-sm btn-link btn-block" style="margin-top:0" href="@Url.Action("GestaoCarta")">@Idioma.Traduzir("Carta de Cobrança")</a>
                            <a class="btn btn-sm btn-link btn-block" style="margin-top:0" href="@Url.Action("GestaoFilial")">@Idioma.Traduzir("Filial")</a>
                        </div>
                    </div>
                </div>
                @*<div class="panel panel-default" style="margin-bottom:0 !important;margin-top:0;">
                        <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#tabs0" data-target="#tabParcelaAcaoCobranca">
                            <h6 class="accordion-toggle" style="margin-bottom:2px; margin-top:2px;"><i class="fa fa-files-o"></i>&nbsp;&nbsp;Régua</h6>
                        </div>
                        <div id="tabParcelaAcaoCobranca" class="panel-collapse collapse" style="border-top: 2px solid #c76161;">
                            <div class="panel-body">
                                <a class="btn btn-sm btn-link" href="@Url.Action("ParcelaAcaoCobranca")">Parcelas Sem Ações</a>
                            </div>
                        </div>
                    </div>*@
                @*<div class="panel panel-default" style="margin-bottom:0 !important;margin-top:0;">
                        <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#tabs0" data-target="#tabAcordo">
                            <h6 class="accordion-toggle" style="margin-bottom:2px; margin-top:2px;"><i class="fa fa-thumbs-o-up"></i>&nbsp;&nbsp;Acordos</h6>
                        </div>
                        <div id="tabAcordo" class="panel-collapse collapse" style="border-top: 2px solid #c76161;">
                            <div class="panel-body">
                                <a class="btn btn-sm btn-link" href="@Url.Action("AcordosRealizado")">Realizados</a>
                                <a class="btn btn-sm btn-link btn-block" href="@Url.Action("AcordosNaoRealizado")">Não Cumbridos</a>
                            </div>
                        </div>
                    </div>*@
                <div class="panel panel-default" style="margin-bottom:0 !important;margin-top:0;">
                    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#tabs4" data-target="#tabCredito">
                        <h6 class="accordion-toggle" style="margin-bottom:2px; margin-top:2px;"><i class="fa fa-money"></i>&nbsp;&nbsp;CRÉDITOS</h6>
                    </div>
                    <div id="tabCredito" class="panel-collapse collapse" style="border-top: 2px solid #c76161;">
                        <div class="panel-body">
                            <a class="btn btn-sm btn-link" href="@Url.Action("ClienteCredito")">Crédito Cliente</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="margin-bottom:0 !important;margin-top:0;">
                    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#tabs1" data-target="#tabContatados">
                        <h6 class="accordion-toggle" style="margin-bottom:2px; margin-top:2px;"><i class="fa fa-users"></i>&nbsp;&nbsp;CLIENTES</h6>
                    </div>
                    <div id="tabContatados" class="panel-collapse collapse" style="border-top: 2px solid #c76161;">
                        <div class="panel-body">
                            <a class="btn btn-sm btn-link" href="@Url.Action("ClienteContatado")">Contatado</a>
                            <a class="btn btn-sm btn-link btn-block" style="margin-top:0" href="@Url.Action("ClienteTelefone")">Telefone não Cadastrado</a>
                            <a class="btn btn-sm btn-link btn-block" style="margin-top:0" href="@Url.Action("ClienteEmail")">E-Mail não Cadastrado</a>
                            <a class="btn btn-sm btn-link btn-block" style="margin-top:0" href="@Url.Action("ClienteCpfCnpj")">CPF/CNPJ não Cadastrado</a>
                        </div>
                    </div>
                </div>
                @*<div class="panel panel-default" style="margin-bottom:0 !important;margin-top:0;">
                        <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#tabs2" data-target="#tabInformacoes">
                            <h6 class="accordion-toggle" style="margin-bottom:2px; margin-top:2px;"><i class="fa fa-users"></i>&nbsp;&nbsp;Produtividade</h6>
                        </div>
                        <div id="tabInformacoes" class="panel-collapse collapse" style="border-top: 2px solid #c76161;">
                            <div class="panel-body">
                                <a class="btn btn-sm btn-link" href="@Url.Action("Produtividade")">Operadores</a>
                            </div>
                        </div>
                    </div>*@
                @*<div class="panel panel-default" style="margin-bottom:0 !important;margin-top:0;">
                        <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#tabs3" data-target="#tabHistorico">
                            <h6 class="accordion-toggle" style="margin-bottom:2px; margin-top:2px;"><i class="fa fa-history"></i>&nbsp;&nbsp;Hitórico</h6>
                        </div>
                        <div id="tabHistorico" class="panel-collapse collapse" style="border-top: 2px solid #c76161;">
                            <div class="panel-body">
                                <a class="btn btn-sm btn-link" href="@Url.Action("HistoricoAcoes")">Ações</a>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" style="margin-bottom:0 !important;margin-top:0;">
                        <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#tabs4" data-target="#tabParcela">
                            <h6 class="accordion-toggle" style="margin-bottom:2px; margin-top:2px;"><i class="fa fa-files-o"></i>&nbsp;&nbsp;Parcelas</h6>
                        </div>
                        <div id="tabParcela" class="panel-collapse collapse" style="border-top: 2px solid #c76161;">
                            <div class="panel-body">
                                <a class="btn btn-sm btn-link btn-block" href="@Url.Action("ParcelaAtrasada")">Em Atraso</a>
                                <a class="btn btn-sm btn-link btn-block" href="@Url.Action("ParcelaPaga")">Pagas</a>
                                <a class="btn btn-sm btn-link btn-block" href="@Url.Action("ParcelaAberta")">Á Vencer</a>
                            </div>
                        </div>
                    </div>*@
            }
        </div>
    </div>
</div>