﻿@model Cobranca.Web.Models.RelatorioPesquisaViewModel
@using Cobranca.Rotinas;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-relatorio";
    var fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true;
}
<link href="~/Content/relatorio.css" rel="stylesheet" />
<style>
    .select2-container .select2-choice {
        background: #FFF !important;
        border: 1px solid #ccc;
    }
</style>
@using (Html.BeginForm("SemAtendimento", "Relatorio", FormMethod.Post, new { id = "filtro-form" }))
{
    @Html.Hidden("ReportCod", Model.ReportCod)
    @Html.Hidden("CondicaoQuery", Model.CondicaoQuery)
    <div class="layout layout-main-right layout-stack-sm">
        <div class="col-lg-2 col-md-2 col-sm-4 ">
            @Html.Partial("_tabPanel")
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 panel panel-body box-shadon">
            <div class="heading-block no-margin-botton">
                <h6 style="margin-bottom:0; font-weight: 600;"><i class="fa fa-bar-chart-o"></i>&nbsp;@Idioma.Traduzir("Aging Filial")</h6>
            </div>

            <div class="row">
                <form id="form-filtro" method="post">
                    <div class="col-md-12">

                    </div>
                    <div id="divFilter">
                        <div class="col-lg-3 col-md-3 col-xs-6">
                            <div class="form-group-sm">
                                <label for="CodFilial" class=""><i class=""></i> @Idioma.Traduzir("Regional"):</label>
                                @Html.DropDownList("CodRegional", new SelectList(ViewBag.ListaRegionais, "key", "value", Model.CodRegional), new { @class = "form-control select2" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group-sm">
                                <label for="AN8">
                                    AN8
                                </label>
                                @Html.TextBox("AN8", Model.AN8, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group-sm">
                                <label for="CNPJ">
                                    @Idioma.Traduzir("CNPJ"):
                                </label>
                                @Html.TextBox("CNPJ", Model.CNPJ, new { @class = "form-control", data_mask = "cnpj" })
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-12">
                            <div class="form-group-sm">
                                <label for="Periodo" class=""><i class=""></i> @Idioma.Traduzir("Período"):</label>
                                @Html.TextBox("Periodo", "", new { @class = "form-control", data_mask = "datetimeRange" })
                                @Html.Hidden("PeriodoDe", "", new { @class = "hide", datatime_ranger = "De" })
                                @Html.Hidden("PeriodoAte", "", new { @class = "hide", datatime_ranger = "Ate" })
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-12">
                            <div class="form-group-sm">
                                <label for="Contrato">Contrato</label>
                                @Html.TextBox("Contrato", Model.Contrato, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-sm btn-default btn-block margin-top-16" type="button" onclick="OpenQry()" title="Filtro parametrizado na regua"><i class="fa fa-filter"></i></button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-12">
            <button id="btn-filtro" onclick="redirectRelatorio(this)" class="btn btn-sm btn-primary btn-min-width float-lg-left margin-top-16" type="button"><i class="fa fa-search"></i>&nbsp;Consultar</button>
        </div>
        <div id="boxReport" class="col-lg-10 col-md-10 col-sm-8 panel panel-body box-shadon margin-top-20" style="display:none;">
            <div class="row">
                <div id="reportAppend"></div>
                <iframe src="~/Relatorio/Cobranca/VisualizarRelatorioForm.aspx" style="display:none; width: 100%; height: 500px" id="iframeRelatorio" name="iframeRelatorio"></iframe>
            </div>

        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-query-builder">
        <div class="modal-dialog">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">@Idioma.Traduzir("Titulo")</h3>
                </div>
                <div class="modal-body">
                    <div class="tab-pane" id="tab-condicoes" style="min-height:160px;">
                        <div class="col-md-12" id="builder-import_export"></div>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
}


@section scripts{
    <script src="~/Scripts/jq-query-builder/js/jQuery.extendext.min.js"></script>
    <script src="~/Scripts/jq-query-builder/js/doT.min.js"></script>
    <script src="~/Scripts/jq-query-builder/js/query-builder.min.js"></script>
    <script src="~/Scripts/jq-query-builder/js/sql-parser.js"></script>
    <script src="~/Scripts/jq-query-builder/i18n/query-builder.pt-BR.js"></script>
    <script src="~/Scripts/jq-query-builder/sql-support/plugin.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).keypress(function (e) {
                if (e.which == 13) {
                    redirectRelatorio('');
                }
            });
            $("#Periodo").val('');

        });
        function redirectRelatorio(el) {
            var $element = $(el);
            $element.block({
                message: '',
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#fff',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff',
                    width: '50%'
                },
                overlayCSS: { backgroundColor: '#FFF' }
            });
            $("#iframeRelatorio").show();
            $("#iframeRelatorio").attr("src", "../Relatorio/Cobranca/VisualizarRelatorioForm.aspx?" + $("#filtro-form").serialize())

            $("#boxReport").show();

            setInterval(function () {
                $("#iframeRelatorio").show();
                $element.unblock();
                ajustarAlturaIframe();
            }, 2500)
        }
        function ajustarAlturaIframe() {
            $("iframe").height($("iframe").contents().find("body").height() + 40)//ajusta a altura do iframe;
        }

        function carregarQueryBuilder() {
            var sql_import_export = $("#CondicaoQuery").val();
            $.get('@Url.Action("ObterFiltrosQueryBuilder")', function (op) {
                if (op.OK) {
                    var _listaGrupo = [];
                    var _listaFase = [];
                    var _listaCorporativo = [];

                    for (var i = 0; i < op.Dados.listaGruposEmpresa.length; i++) {
                        var item = op.Dados.listaGruposEmpresa[i];

                        _listaGrupo.push($.parseJSON(item));
                    }
                    for (var i = 0; i < op.Dados.listaCorporativo.length; i++) {
                        var item = op.Dados.listaCorporativo[i];

                        _listaCorporativo.push($.parseJSON(item));
                    }
                    for (var i = 0; i < op.Dados.listaClassificacaoParcela.length; i++) {
                        var item = op.Dados.listaClassificacaoParcela[i];

                        try {
                            _listaFase.push($.parseJSON(item));
                        } catch (e) {
                            console.log(e);
                            console.log(item);
                        }

                    }



                    $('#builder-import_export').queryBuilder({
                        filters: [
                            {
                                id: 'CodGrupoEmpresa',
                                label: 'Grupo de Empresa',
                                type: 'integer',
                                input: 'select',
                                values: _listaGrupo,
                                operators: ['equal', 'not_equal']
                            },
                            {
                                id: 'Corporativo',
                                label: 'Corporativo',
                                type: 'string',
                                placeholder: 'ex:10,20',
                                operators: ['in', 'not_in']
                            },
                            {
                                id: 'DiasAtrasoParcela',
                                label: 'Dias de atraso da parcela',
                                type: 'integer'
                            },
                            {
                                id: 'CodSintese',
                                label: 'Classificação da parcela',
                                type: 'integer',
                                input: 'select',
                                values: _listaFase,
                                operators: ['equal', 'not_equal']
                            },
                            {
                                id: 'ValorAberto',//ValorAberto
                                label: 'Valor em Aberto R$',
                                type: 'double',
                                validation: {
                                    min: 0
                                }
                            },
                            {
                                id: 'ValorAbertoPercentual',//ValorAberto
                                label: 'Valor em Aberto %',
                                type: 'double',
                                validation: {
                                    min: 0
                                }
                            },

                            {
                                id: 'StatusContrato',
                                label: 'Status do Contrato',
                                type: 'string',
                                placeholder: 'ex:10',
                                operators: ['equal', 'not_equal', 'is_null', 'is_not_null']
                            },
                            {
                                id: 'CodigoEmpresaCobranca',
                                label: 'Empresa de Cobranca',
                                type: 'string',
                                placeholder: 'ex:10',
                                operators: ['equal', 'not_equal', 'is_null', 'is_not_null']
                            }
                        ]
                    });
                    if (sql_import_export != "") {
                        $('#builder-import_export').queryBuilder('setRulesFromSQL', sql_import_export);
                    }
                }

            });
            return;
            $('#builder-import_export').queryBuilder({
                filters: [{
                    id: 'Governo',
                    label: 'Grupo governamental',
                    type: 'integer',
                    input: 'radio',
                    values: {
                        1: 'Sim',
                        0: 'Não'
                    },
                    operators: ['equal']
                }]
            });


        }
        function OpenQry() {
            $(".modal-footer").empty();
            $("#modal-query-builder .modal-title").empty().text("FILTRAR");
            $("#modal-query-builder .modal-body").css("padding-top", "0px")
            $(".modal-footer").append('<button type="button" class="btn btn-sm btn-modal-save" onclick="Aplicar()"><i class="fa fa-check"></i> OK</button>')
            $("#modal-query-builder").modal("show");
            carregarQueryBuilder();
            $('.modal-dialog').draggable({
                handle: ".modal-header"
            });

        }
        function Aplicar() {
            result = $('#builder-import_export').queryBuilder('getSQL', false, true);
            $("#CondicaoQuery").val(result.sql);
            $('#modal-query-builder').modal('toggle');

        }
    </script>
}