﻿@model Cobranca.Web.Models.RelatorioPesquisaViewModel
@using Cobranca.Rotinas;
@using Cobranca.Db.Models;
@using Cobranca.Web.Rotinas;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-relatorio";
    var fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true;
}
<link href="~/Content/relatorio.css" rel="stylesheet" />
<style>
    .select2-container .select2-choice {
        background: #FFF !important;
        border: 1px solid #ccc;
    }
</style>
@using (Html.BeginForm("AtendimentoAgendados", "Relatorio", FormMethod.Post, new { id = "filtro-form" }))
{
    @Html.Hidden("ReportCod", Model.ReportCod)
<div class="layout layout-main-right layout-stack-sm">
    <div class="col-lg-2 col-md-2 col-sm-4 ">
        @Html.Partial("_tabPanel")
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 panel panel-body box-shadon">
        <div class="heading-block no-margin-botton">
            <h6 style="margin-bottom:0; font-weight: 600;"><i class="fa fa-bar-chart-o"></i>&nbsp;@Idioma.Traduzir("Controle de Atendimento")</h6>
        </div>

        <div class="row">
            <form id="form-filtro" method="post">
                <div id="divFilter">
                    @*<div class="col-lg-3 col-md-3 col-xs-6">
                            <div class="form-group-sm">
                                <label for="Regional" class=""><i class=""></i> @Idioma.Traduzir("Regional"):</label>
                                @Html.DropDownList("CodRegional", new SelectList(ViewBag.ListaRegional, "key", "value", Model.CodRegional), new { @class = "form-control select2" })
                            </div>
                        </div>*@
                    @if (WebRotinas.ObterUsuarioLogado().PerfilTipo == Enumeradores.PerfilTipo.Regional)
                    {
                        @Html.Hidden("usuarioIds", WebRotinas.ObterUsuarioLogado().Cod)
                    }
                    else
                    {
                        <div class="col-lg-3 col-md-3 col-xs-6">
                            <div class="form-group-sm">
                                <label for="usuarioIds" class=""><i class=""></i> @Idioma.Traduzir("Atendentes"):</label>
                                <select id="usuarioIds" name="usuarioIds" class="form-control selectpicker" data-live-search="true" data-actions-box="true">
                                    @foreach (SelectListItem item in ((SelectList)ViewBag.ListaAtendentes).Items)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                    }
                    <div class="col-md-2">
                        <div class="form-group-sm">
                            <label for="AN8">
                                AN8
                            </label>
                            @Html.TextBox("AN8", Model.AN8, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group-sm">
                            <label for="CNPJ">
                                CNPJ
                            </label>
                            @Html.TextBox("CNPJ", Model.CNPJ, new { @class = "form-control", data_mask = "cnpj" })
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-12">
                        <div class="form-group-sm">
                            <label for="Periodo" class=""><i class=""></i> @Idioma.Traduzir("Período"):</label>
                            @Html.TextBox("Periodo", "", new { @class = "form-control", data_mask = "datetimeRange" })
                            @Html.Hidden("PeriodoDe", "", new { @class = "hide", datatime_ranger = "De" })
                            @Html.Hidden("PeriodoAte", "", new { @class = "hide", datatime_ranger = "Ate" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-12">
                        <div class="form-group-sm">
                            <label for="Contrato">Contrato</label>
                            @Html.TextBox("Contrato", Model.Contrato, new { @class = "form-control" })
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-12">
        <button id="btn-filtro" onclick="redirectRelatorio(this)" class="btn btn-sm btn-primary btn-min-width float-lg-left margin-top-16" type="button"><i class="fa fa-search"></i>&nbsp;Consultar</button>
    </div>
    <div id="boxReport" class="col-lg-10 col-md-10 col-sm-8 panel panel-body box-shadon margin-top-20" style="display:none;">
        <div class="row">
            <div id="reportAppend"></div>
            <iframe src="~/Relatorio/Cobranca/VisualizarRelatorioForm.aspx" style="display:none; width: 100%; height: 500px" id="iframeRelatorio" name="iframeRelatorio"></iframe>
        </div>

    </div>
</div>
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).keypress(function (e) {
                if (e.which == 13) {
                    redirectRelatorio('');
                }
            });
            $("#Periodo").val('');


            $('#regionalIds').on('changed.bs.select', function (e) {
                $("#CodUsuarioAtendimento").select2("val", "0");
                console.log($('#regionalIds').selectpicker('val'));
            });

            //var regionalSelect = $('#CodRegional');
            //$.ajax({
            //    type: 'GET',
            //    url: '/relatorio/regional/' +
            //}).then(function (data) {
            //    // create the option and append to Select2
            //    var option = new Option(data.name, data.id, true, true);
            //    regionalSelect.append(option).trigger('change');

            //    // manually trigger the `select2:select` event
            //    regionalSelect.trigger({
            //        type: 'select2:select',
            //        params: {
            //            data: data
            //        }
            //    });
            //});
        });
        function redirectRelatorio(el) {
            var $element = $(el);
            $element.block({
                message: '',
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#fff',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff',
                    width: '50%'
                },
                overlayCSS: { backgroundColor: '#FFF' }
            });
            $("#iframeRelatorio").show();
            $("#iframeRelatorio").attr("src", "../Relatorio/Cobranca/VisualizarRelatorioForm.aspx?" + $("#filtro-form").serialize())

            $("#boxReport").show();

            setInterval(function () {
                $("#iframeRelatorio").show();
                $element.unblock();
                ajustarAlturaIframe();
            }, 2500)
        }
        function ajustarAlturaIframe() {
            $("iframe").height($("iframe").contents().find("body").height() + 40)//ajusta a altura do iframe;
        }
    </script>
}