﻿@model Cobranca.Web.Models.RelatorioPesquisaViewModel
@using Cobranca.Rotinas;
@using Cobranca.Db.Models;
@using Cobranca.Web.Rotinas;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-relatorio";
    var fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true;
    var _perfilTipo = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo;
}
<link href="~/Content/relatorio.css" rel="stylesheet" />
<style>
    .select2-container .select2-choice {
        background: #FFF !important;
        border: 1px solid #ccc;
        margin-bottom: 0px !important;
    }

    .checkbox label::after {
        margin-left: -16px;
        padding-top: 0px;
    }

    .select2-container {
        margin-bottom: 0 !important;
    }

    .bootstrap-select > .dropdown-toggle {
        background-color: #FFF !important;
    }
</style>
@using (Html.BeginForm("GestaoFilial", "Relatorio", FormMethod.Post, new { id = "filtro-form" }))
{
    @Html.Hidden("ReportCod", Model.ReportCod)
    <div class="layout layout-main-right layout-stack-sm">
        <div class="col-lg-2 col-md-2 col-sm-4 " style="min-height:600px;">
            @Html.Partial("_tabPanel")
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 panel panel-body box-shadon">
            <div class="heading-block no-margin-botton">
                <h6 style="margin-bottom:0; font-weight: 600;"><i class="fa fa-bar-chart-o"></i>&nbsp;@Idioma.Traduzir("Controle de Filial")</h6>
            </div>
            <div class="row">
                <form id="form-filtro" method="post">
                    <div id="divFilter">
                        <div class="col-lg-3 col-md-3 col-xs-6">
                            <div class="form-group-sm">
                                <label for="regionalIds" class=""><i class=""></i> @Idioma.Traduzir("Regionais"):</label>
                                <select id="regionalIds" name="regionalIds" class="form-control selectpicker" multiple data-live-search="true" data-actions-box="true">
                                    @foreach (SelectListItem item in ((SelectList)ViewBag.ListaRegionais).Items)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-6">
                            <div class="form-group-sm">
                                <label for="ClienteId">@Idioma.Traduzir("Nome do cliente")</label>
                                @Html.TextBoxFor(m => m.ClienteId, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ClienteId)
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12">
                            <div class="form-group-sm">
                                <label for="Contrato">@Idioma.Traduzir("Contrato"):</label>
                                @Html.TextBox("Contrato", Model.Contrato, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12">
                            <div class="form-group-sm">
                                <label for="NumeroDocumento">@Idioma.Traduzir("Nr.Documento"):</label>
                                @Html.TextBox("NumeroDocumento", Model.NumeroDocumento, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group-sm">
                                <label for="PeriodoDe">@Idioma.Traduzir("Periodo De"):</label>
                                @Html.TextBox("PeriodoDe", Model.DataPeriodoDe, new { @class = "form-control", @data_mask = "datetime2" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group-sm">
                                <label for="DataPeriodoAte">@Idioma.Traduzir("Periodo Até"):</label>
                                @Html.TextBox("PeriodoAte", Model.DataPeriodoAte, new { @class = "form-control", @data_mask = "datetime2" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12">
                            <label style="width:100%; margin-bottom:7px;">@Idioma.Traduzir("Status")</label>
                            <div class="checkbox checkbox-inline checkbox-default">
                                <input type="checkbox" name="Aberto" id="Aberto" value="@Model.Aberto">
                                <label for="Aberto">@Idioma.Traduzir("Aberto")</label>
                            </div>
                            <div class="checkbox checkbox-inline checkbox-default">
                                <input type="checkbox" name="Vencido" id="Vencido" value="@Model.Vencido">
                                <label for="Vencido">@Idioma.Traduzir("Vencido")</label>
                            </div>
                            <div class="checkbox checkbox-inline checkbox-default">
                                <input type="checkbox" name="Pago" id="Pago" value="@Model.Pago">
                                <label for="Pago">@Idioma.Traduzir("Pago")</label>
                            </div>
                        </div>
                        
                    </div>

                </form>
            </div>

        </div>
        <div class="col-lg-2 col-md-4 col-xs-12">
            <button id="btn-filtro" onclick="redirectRelatorio(this)" class="btn btn-sm btn-primary btn-min-width float-lg-left margin-top-16" type="button"><i class="fa fa-search"></i>&nbsp;Consultar</button>
        </div>
        <div id="boxReport" class="col-lg-10 col-md-10 col-sm-8 panel panel-body box-shadon margin-top-20" style="display:none;">
            <div class="row">
                <div id="reportAppend"></div>
                <iframe src="~/Relatorio/Cobranca/VisualizarRelatorioForm.aspx" style="display:none; width: 100%; height: 500px" id="iframeRelatorio" name="iframeRelatorio"></iframe>
            </div>

        </div>

    </div>
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ClienteId").select2({
                ajax: {
                    url: "@Url.Action("PesquisarClientes", "Cliente")",
                    dataType: 'json',
                    delay: 250,
                    data: function (term, page) {
                        return { q: term, };
                    },
                    processResults: function (data, params) {
                        return { results: data.items };
                    },
                    cache: true
                },
                initSelection: function (element, callback) {
                    return;
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax({
                            url: "@Url.Action("PesquisarClientes", "Cliente")",
                            dataType: 'json',
                            data: { q: "A" }
                        }).done(function (data) { console.log(data); callback(data.items[0]); });
                    }
                },
                minimumInputLength: 2,
                placeholder: "Nome do Cliente",
                allowClear: true
            });

            $(document).keypress(function (e) {
                if (e.which == 13) {
                    redirectRelatorio('');
                }
            });
            $("#Periodo").val('');
        });
        function redirectRelatorio(el) {
            var $element = $(el);
            $element.block({
                message: '',
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#fff',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff',
                    width: '50%'
                },
                overlayCSS: { backgroundColor: '#FFF' }
            });
            $("#iframeRelatorio").show();
            $("#iframeRelatorio").attr("src", "../Relatorio/Cobranca/VisualizarRelatorioForm.aspx?" + $("#filtro-form").serialize())

            $("#boxReport").show();

            setInterval(function () {
                $("#iframeRelatorio").show();
                $element.unblock();
                ajustarAlturaIframe();
            }, 2500)
        }
        function ajustarAlturaIframe() {
            $("iframe").height($("iframe").contents().find("body").height() + 40)//ajusta a altura do iframe;
        }
    </script>
}