﻿@model Cobranca.Web.Models.RelatorioPesquisaViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-relatorio";
    var fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true;
}

<link href="~/Content/relatorio.css" rel="stylesheet" />

@using (Html.BeginForm("ParcelaAcaoCobranca", "Relatorio", FormMethod.Post, new { id = "filtro-form" }))
{
    <div class="layout layout-main-right layout-stack-sm">
        <div class="col-lg-2 col-md-2 col-sm-4 ">
            @Html.Partial("_tabPanel")
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 panel panel-body box-shadon">
            <div class="heading-block no-margin-botton">
                <h6 style="margin-bottom:0; font-weight: 600;"><i class="fa fa-file-text-o"></i>Parcelas Sem Cobrança Ação</h6>
            </div>

            <div class="row">
                <form id="form-filtro" method="post">
                    <div id="divFilter">
                        <div class="col-md-2">
                            <div class="form-group-sm">
                                <label for="AN8">
                                    AN8
                                </label>
                                @Html.TextBox("AN8", Model.AN8, new { @class = "form-control input-silver" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group-sm">
                                <label for="CNPJ">
                                    CNPJ
                                </label>
                                @Html.TextBox("CNPJ", Model.CNPJ, new { @class = "form-control input-silver", data_mask = "cnpj" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group-sm">
                                <label for="Contrato">
                                    Contrato
                                </label>
                                @Html.TextBox("Contrato", Model.Contrato, new { @class = "form-control input-silver" })
                            </div>
                        </div>
                        @*<div class="col-md-2">
                                <div class="form-group-sm">
                                    <label for="DataEmissao ">
                                        Dt emissão
                                    </label>
                                    @Html.TextBox("DataEmissao", Model.DataEmissao, new { @class = "form-control input-silver", data_mask = "datetime" })
                                </div>
                            </div>*@
                        @*<div class="col-md-2">
                                <div class="form-group-sm">
                                    <label for="DataVencimento">
                                        Dt. Vencimento
                                    </label>
                                    @Html.TextBox("DataVencimento", Model.DataVencimento, new { @class = "form-control input-silver", data_mask = "datetime" })
                                </div>
                            </div>*@
                        @*<div class="col-md-2">
                                <div class="form-group-sm">
                                    <label for="NumeroDocumento">
                                        Nr documento
                                    </label>
                                    @Html.TextBox("NrDocumento", Model.NumeroDocumento, new { @class = "form-control input-silver" })
                                </div>
                            </div>*@
                        @*<div class="col-md-2">
                                <div class="form-group-sm">
                                    <label for="NumeroFatura">
                                        Nr fatura (NF)
                                    </label>
                                    @Html.TextBox("NumeroFatura", Model.NumeroFatura, new { @class = "form-control input-silver" })
                                </div>
                            </div>*@
                        @*<div class="col-md-2">
                                <div class="form-group-sm">
                                    <label for="ValorDe">
                                        Valor de
                                    </label>
                                    @Html.TextBox("ValorDe", Model.ValorDe, new { @class = "form-control input-silver", data_mask = "money" })
                                </div>
                            </div>*@
                        <div class="col-md-2">
                            <div class="form-group-sm">
                                <label for="ValorAbertoDe">
                                    Valor em aberto de
                                </label>
                                @Html.TextBox("ValorAbertoDe", Model.ValorAbertoDe, new { @class = "form-control input-silver", data_mask = "money" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group-sm">
                                <label for="ValorAbertoAte">
                                    Valor em aberto até
                                </label>
                                @Html.TextBox("ValorAbertoAte", Model.ValorAbertoAte, new { @class = "form-control input-silver", data_mask = "money" })
                            </div>
                        </div>
                        @*<div class="col-md-2">
                                <div class="form-group-sm">
                                    <label for="NumeroParcela">
                                        Nr. Parcela
                                    </label>
                                    @Html.TextBox("NumeroParcela", Model.NumeroParcela, new { @class = "form-control input-silver" })
                                </div>
                            </div>*@
                        @*<div class="col-md-2">
                                <div class="form-group-sm">
                                    <label for="CodArea">
                                        Cód área
                                    </label>
                                    @Html.TextBox("CodArea", Model.CodArea, new { @class = "form-control input-silver" })
                                </div>
                            </div>*@
                        @*<div class="col-md-2">
                                <div class="form-group-sm">
                                    <label for="Nome filial/BU">
                                        Nome filial/BU
                                    </label>
                                    @Html.TextBox("CodArea", Model.NomeFilial, new { @class = "form-control input-silver" })
                                </div>
                            </div>*@
                        @*<div class="col-md-2">
                                <div class="form-group-sm">
                                    <label for="DataFechamento">
                                        Dt. Fechamento
                                    </label>
                                    @Html.TextBox("CodArea", Model.DataFechamento, new { @class = "form-control input-silver" })
                                </div>
                            </div>*@
                        @*<div class="col-md-2">
                                <div class="form-group-sm">
                                    <label for="DataPagamentoPCF">
                                        Dt pagto/PCF
                                    </label>
                                    @Html.TextBox("DataPagamentoPCF", Model.DataPagamentoPCF, new { @class = "form-control input-silver" })
                                </div>
                            </div>*@
                        @*<div class="col-md-2">
                                <div class="form-group-sm">
                                    <label for="Status">
                                        Status
                                    </label>
                                    @Html.TextBox("Status", Model.Status, new { @class = "form-control input-silver" })
                                </div>
                            </div>*@
                        @*<div class="col-md-2">
                                <div class="form-group-sm">
                                    <label for="Fase">
                                        Fase
                                    </label>
                                    @Html.TextBox("Fase", Model.Fase, new { @class = "form-control input-silver" })
                                </div>
                            </div>*@
                        @*<div class="col-md-2">
                                <div class="form-group-sm">
                                    <label for="Fase">
                                        Sintese
                                    </label>
                                    @Html.TextBox("Sintese", Model.Sintese, new { @class = "form-control input-silver" })
                                </div>
                            </div>*@
                        @*<div class="col-md-2">
                                <div class="form-group-sm">
                                    <label for="Observacao">
                                        Observação
                                    </label>
                                    @Html.TextBox("Observacao", Model.Observacao, new { @class = "form-control input-silver" })
                                </div>
                            </div>*@
                        <div class="col-md-2">
                            <div class="form-group-sm">
                                <label for="DataAgendamentoDe">
                                    Data de agendamento de
                                </label>
                                @Html.TextBox("DataAgendamentoDe", Model.DataAgendamentoDe, new { @class = "form-control input-silver", data_mask = "datetime" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group-sm">
                                <label for="DataAgendamentoAte">
                                    Data de agendamento até
                                </label>
                                @Html.TextBox("DataAgendamentoAte", Model.DataAgendamentoAte, new { @class = "form-control input-silver", data_mask = "datetime" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button id="btn-filtro" onclick="redirectRelatorio('Cobranca_Relatorio_Regua_Sem_Acoes')" class="btn btn-sm btn-primary margin-top-18 btn-min-width" type="button"><i class="fa fa-search"></i>&nbsp;Consultar</button>
                    </div>
                </form>
            </div>
            <div id="reportAppend"></div>
            <iframe src="~/Relatorio/Cobranca/VisualizarRelatorioForm.aspx" style="display:none; width: 100%; height: 500px" id="iframeRelatorio" name="iframeRelatorio"></iframe>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            var reportId = $("#ReportCod").val();
        });
        function redirectRelatorioRepasse(report) {
            $("#iframeRelatorio").attr("src", "/Relatorio/ReportParcelaSemAcao/")
            //$("#reportAppend").load('/Relatorio/ReportParcelaSemAcao/');
        }

        function redirectRelatorio(nomeRelatorio) {
            $("#ReportCod").val('');
            $("#iframeRelatorio").attr("src", "../Relatorio/Cobranca/VisualizarRelatorioForm.aspx?codigoRelatorio=" + "Cobranca_Relatorio_Regua_Sem_Acoes")

            $("#iframeRelatorio").show();
            setInterval(function () {
                ajustarAlturaIframe();
            }, 1500)
        }
        function ajustarAlturaIframe() {
            $("iframe").height($("iframe").contents().find("body").height() + 40)//ajusta a altura do iframe;
        }
    </script>
}