﻿@model Cobranca.Web.Models.QueryBuilderViewModel
@{
}
<style>
    .jx-builder {
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: #f5f5f5;
        border-color: #ddd;
        padding: 15px;
    }

        .jx-builder .close {
            opacity: 1;
            color: #969696;
        }

    .jx-builder-rule {
        border-left: 2px solid #00bcd4;
    }

    .jx-builder-group {
        border-left: 2px solid #8bc34a;
    }

    .jx-rule {
        color: #00bcd4;
    }

    .jx-group {
        color: #8bc34a;
    }
</style>
<div class="jx-builder-group panel panel-default" type="query-builder-rule">
    <div class="jx-builder-group-heading panel-heading">
        <div class="match-type-container form-inline">
            <div class="form-group-sm">
                <label for="Operador">Operador</label>
                <select id="GrupoOperador" class="form-control">
                    <option value="AND">E</option>
                    <option value="OR">OU</option>
                </select>
                <button type="button" class="close pull-right">×</button>
            </div>

        </div>
    </div>
    <div class="jx-group-body panel-body">
        <div class="rule-actions form-inline">
            <div class="form-group-sm">
                <select id="id-group-input" class="form-control">
                    @foreach (var input in Model.TipoCampo)
                    {
                        <option value="@input.Tipo">@input.Name</option>
                    }
                </select>
                <button type="button" onclick="AddGroup(this)" class="btn btn-default btn-sm"><i class="fa fa-plus jx-group"></i>&nbsp;Grupo</button>
                <button type="button" onclick="AddRule(this)" class="btn btn-default btn-sm"><i class="fa fa-plus jx-rule"></i>&nbsp;Regra</button>
            </div>
        </div>
        @foreach (var item in Model.Itens)
        {
            @Html.Partial("_rule", item)
        }
        <div id="add"></div>
    </div>
</div>




@section scripts{
    <script type="text/javascript">



    </script>
}
