﻿@model Cobranca.Web.Models.QueryBuilderItemViewModel
@{
}
<style>
    .jx-builder {
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: #f5f5f5;
        border-color: #ddd;
        padding: 15px;
    }

        .jx-builder .close {
            opacity: 1;
            color: #969696;
        }

    .jx-builder-rule {
        border-left: 2px solid #00bcd4;
    }

    .jx-builder-group {
        border-left: 2px solid #8bc34a;
    }

    .jx-rule {
        color: #00bcd4;
    }

    .jx-group {
        color: #8bc34a;
    }
</style>
<div class="jx-builder jx-builder-rule panel panel-default form-inline" type="query-builder-rule">
    <div class="form-group-sm">
        <select id="Campo" class="form-control">
            @foreach (var campo in Model.Campos)
            {
                <option value="@campo.Id">@campo.Name</option>
            }
        </select>
        <select id="Operador" class="form-control">
            @foreach (var operador in Model.Operadores)
            {
                <option value="@operador.Key">@operador.Value</option>
            }
        </select>
        <input type="text" id="Valor" placeholder="value" value="@Model.Value" class="form-control">
        <button type="button" class="close pull-right">×</button>
    </div>

</div>
