﻿@model Cobranca.Web.Models.QueryBuilderViewModel
@{
}
<style>
    select.form-control, input.form-control {
        height: 30px !important;
        padding: 5px 10px !important;
        font-size: 12px !important;
    }

    .jx-group-button {
        margin-top: 15px;
    }

    .jx-rule {
        color: #00bcd4;
    }

    .jx-group {
        color: #8bc34a;
    }

    .rules-group-container {
        border-left: 2px solid #8bc34a !important;
        border-top-color: #ddd !important;
        border-right-color: #ddd !important;
        border-bottom-color: #ddd !important;
    }

    .rule-container {
        border-left: 2px solid #00bcd4 !important;
        border-top-color: #ddd !important;
        border-right-color: #ddd !important;
        border-bottom-color: #ddd !important;
        margin-bottom: 15px !important;
    }

    .query-builder .rules-list {
        padding: 0 !important;
    }

    .query-builder .rules-group-container {
        padding: 0 15px 0 15px !important;
        background-color: #fff !important;
        border-radius: 4px !important;
    }

    .query-builder .rules-group-header {
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
        margin: 0 -15px;
    }

    .query-builder rules-group-container, .query-builder .rule-container, .query-builder .rule-placeholder {
        margin: 15px 0 !important;
        border-radius: 4px !important;
        padding: 15px !important;
        background-color: #f5f5f5 !important
    }



    .query-builder .rules-list > *::before, .query-builder .rules-list > *::after {
        content: '';
        position: relative;
        left: 0 !important;
        left: 0 !important;
        height: auto !important;
        border: none !important;
    }

    .query-builder .rules-list > *::before {
        top: 0px !important;
        border-width: 0 0 0 0 !important;
    }

    .query-builder .rules-list > *::after {
        top: auto;
        border-width: 0 0 0 0 !important;
    }

    .query-builder .rules-list > *:first-child::before {
        top: 0 !important;
        height: auto !important;
    }

    .query-builder .rules-list > *:last-child::before {
        border-radius: 0 0 0 0 !important;
    }

    .query-builder .rules-list > *:last-child::after {
        display: none;
    }

    .jx-radio {
        padding-right: 15px !important;
        margin-left: 15px;
    }

        .jx-radio input[type=radio] {
            margin-left: -20px !important;
        }

    label.jx-checkbox {
        padding-left: 5px !important;
    }

        label.jx-checkbox::after {
            margin-left: -16px;
            padding-top: 0px;
        }

    .rule-value-container > select {
        min-width: 100px;
    }
</style>
@Html.HiddenFor(m => m.Query)
<div class="row">
    <div class="col-md-12" id="builder-render"></div>
</div>
@section scripts{
    <script src="~/Scripts/jq-query-builder/js/jQuery.extendext.min.js"></script>
    <script src="~/Scripts/jq-query-builder/js/doT.min.js"></script>
    <script src="~/Scripts/jq-query-builder/js/query-builder.js"></script>
    <script src="~/Scripts/jq-query-builder/js/sql-parser.js"></script>
    <script src="~/Scripts/jq-query-builder/i18n/query-builder.pt-BR.js"></script>
    <script src="~/Scripts/jq-query-builder/sql-support/plugin.js"></script>
    <script type="text/javascript">
/**/

/**/</script>
}
