body {
    color: #000000;
    background-color: #ffffff;
    margin-top: 0;
    margin-right: 0;
}

* {
    margin: 0px;
    padding: 0px;
}

table {
    border: 0;
    border-collapse: collapse;
    padding: 0;
}

img {
    border: 0;
}

.cp {
    font: bold 10px arial;
    color: black;
}

.ti {
    font: 9px arial, helvetica, sans-serif;
}

.ld {
    font: bold 15px arial;
    color: #000000;
}

.ct {
    font: 9px "arial narrow";
    color: #000033;
}

.cn {
    font: 9px arial;
    color: black;
}

.bc {
    font: bold 20px arial;
    color: #000000;
}

.cut {
    width: 665px;
    height: 1px;
    border-top: dashed 1px #000;
}

.Ac {
    text-align: center;
}

.Ar {
    text-align: right;
}

.Al {
    text-align: left;
}

.At {
    vertical-align: top;
}

.Ab {
    vertical-align: bottom;
}

.ct td, .cp td {
    padding-left: 6px;
    border-left: solid 1px #000;
}

    .ct td.borderNone, .cp td.borderNone {
        padding-left: 6px;
        border-left: none !important;
    }

.borderRight {
    border-right: solid 1px #000;
    
}
.pR6 {
    padding-right: 6px;
}

.cpN {
    font: bold 10px arial;
    color: black;
}

.ctN {
    font: 9px "arial narrow";
    color: #000033;
}

.pL0 {
    padding-left: 0px;
}

.pL6 {
    padding-left: 6px;
}

.pL10 {
    padding-left: 10px;
}

.imgLogo {
    width: 150px;
}

    .imgLogo img {
        width: 150px;
        height: 40px;
    }

.barra {
    width: 3px;
    height: 22px;
    vertical-align: bottom;
}

    .barra img {
        width: 2px;
        height: 22px;
    }

.rBb td {
    border-bottom: solid 1px #000;
}

.BB {
    border-bottom: solid 1px #000;
}

.BL {
    border-left: solid 1px #000;
}

.BR {
    border-right: solid 1px #000;
}

.BT1 {
    border-top: dashed 1px #000;
}

.BT2 {
    border-top: solid 2px #000;
}

.h1 {
    height: 1px;
}

.h13 {
    height: 13px;
}

.h12 {
    height: 12px;
}

.h13 td {
    vertical-align: top;
}

.h12 td {
    vertical-align: top;
}

.w6 {
    width: 6px;
}

.w7 {
    width: 7px;
}

.w34 {
    width: 34px;
}

.w45 {
    width: 45px;
}

.w53 {
    width: 53px;
}

.w62 {
    width: 62px;
}

.w65 {
    width: 65px;
}

.w68 {
    width: 68px;
}

.w72 {
    width: 72px;
}

.w74 {
    width: 74px;
}

.w83 {
    width: 83px;
}

.w88 {
    width: 88px;
}

.w103 {
    width: 103px;
}

.w104 {
    width: 104px;
}

.w105 {
    width: 105px;
}

.w106 {
    width: 106px;
}

.w113 {
    width: 113px;
}

.w112 {
    width: 112px;
}

.w123 {
    width: 123px;
}

.w126 {
    width: 126px;
}

.w128 {
    width: 128px;
}

.w130 {
    width: 130px;
}

.w132 {
    width: 132px;
}

.w134 {
    width: 134px;
}

.w136 {
    width: 136px;
}

.w150 {
    width: 150px;
}

.w163 {
    width: 163px;
}

.w164 {
    width: 164px;
}

.w180 {
    width: 180px;
}

.w182 {
    width: 182px;
}

.w186 {
    width: 186px;
}

.w192 {
    width: 192px;
}

.w241 {
    width: 241px;
}

.w250 {
    width: 250px;
}

.w298 {
    width: 298px;
}

.w409 {
    width: 409px;
}

.w472 {
    width: 472px;
}

.w478 {
    width: 478px;
}

.w500 {
    width: 500px;
}

.w539 {
    width: 539px;
}

.w544 {
    width: 544px;
}

.w564 {
    width: 564px;
}

.w659 {
    width: 659px;
}

.w666 {
    width: 666px;
}

.w667 {
    width: 667px;
}

.BHead td {
    border-bottom: solid 2px #000;
}

.EcdBar {
    height: 50px;
    vertical-align: bottom;
}

.rc6 td {
    vertical-align: top;
    border-bottom: solid 1px #000;
    border-left: solid 1px #000;
}

.rc6 div {
    padding-left: 6px;
}

.rc6 .t {
    font: 9px "arial narrow";
    color: #000033;
    height: 13px;
}

.rc6 .c {
    font: bold 10px arial;
    color: black;
    height: 12px;
}

.mt23 {
    margin-top: 23px;
}

.pb4 {
    padding-bottom: 14px;
}

.ebc {
    width: 4px;
    height: 400px;
    border-right: dotted 1px #000000;
    margin-right: 4px;
}

.break {
    display: block;
    clear: both;
    page-break-after: always;
}
