﻿@model Cobranca.Db.Models.TabelaAging

@{
//if (Model.Cod == 0) {
//    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
//}

}

<script src="~/Scripts/jscolor.js"></script>
<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()


    <div class="row">


        <div class="col-sm-4">
            <div class="form-group">
                <label for="Aging">Aging</label>
                @Html.TextBoxFor(m => m.Aging, new { @class = "form-control input-silver", required = "required" })
                @Html.ValidationMessageFor(m => m.Aging)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="AtrasoDe">De</label>
                @Html.TextBoxFor(m => m.AtrasoDe, new { @class = "form-control input-silver", type = "number", required = "required" })
                @Html.ValidationMessageFor(m => m.AtrasoDe)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="AtrasoAte">Até</label>
                @Html.TextBoxFor(m => m.AtrasoAte, new { @class = "form-control input-silver", type = "number", required = "required" })
                @Html.ValidationMessageFor(m => m.AtrasoAte)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="AtrasoAte">Relatório Cor</label>
                @Html.TextBoxFor(m => m.Cor, new { @class = "form-control jscolor" })
                @Html.ValidationMessageFor(m => m.Cor)
            </div> <!-- /.form-group -->
        </div>

    </div>

    <!-- /.form-group -->
    <div class="row">

        <div class="col-sm-12">

            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }
        </div>

        <div class="col-sm-3">

        </div>
    </div>

</form>
