﻿@model Cobranca.Web.Models.CadastreViewModel
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.ClassBody = "account-bg";
}

<hr class="spacer-md">
<hr class="spacer-xs">
<div class="account-wrapper" style="">
    @Html.AntiForgeryToken()
    @Html.ValidationBootstrapModal()
    @Html.Modal()
    <div class="account-body">

        <h3>Cadastre-se!</h3>

        <h5>Crie sua conta para gerenciar seus trabalhos.</h5>

        <form class="form account-form" method="POST" action="@Url.Action("Cadastre")">

            <div class="form-group" style="">
                <label for="Nome" class="">Nome</label>
                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Nome)
            </div> <!-- /.form-group -->

            <div class="form-group">
                <label for="Email" class="">e-mail</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div> <!-- /.form-group -->
            <div class="form-group">
                <label for="Empresa" class="">Empresa</label>
                @Html.TextBoxFor(m => m.Empresa, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Empresa)
            </div> <!-- /.form-group -->
            <div class="form-group clearfix">
                <div class="form-group">
                    <label for="Senha" class="">Senha</label>
                    @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Senha)
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <label for="ConfirmarSenha" class="">Confirmar a senha</label>
                    @Html.PasswordFor(m => m.ConfirmarSenha, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmarSenha)
                </div> <!-- /.form-group -->
            </div> <!-- /.form-group -->

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block btn-lg" tabindex="4">
                    Cadastrar-se&nbsp; <i class="fa fa-play-circle"></i>
                </button>
            </div> <!-- /.form-group -->

        </form>


    </div> <!-- /.account-body -->

    <div class="account-footer">
        <p>
            já é cadastrado? &nbsp;
            <a href="@Url.Action("Index")" class="">clique aqui para acessar!</a>
        </p>
    </div> <!-- /.account-footer -->

</div>


