﻿@model Cobranca.Web.Models.LoginViewModel
@using Cobranca.Db.Models;
@using Cobranca.Rotinas;
    @{
        ViewBag.Title = "login";
        Layout = "~/Views/Shared/_LayoutLogin.cshtml";
        ViewBag.ClassBody = "account-bg";
        string logoCliente = System.Configuration.ConfigurationManager.AppSettings["logoLogin"];

    }


    <div class="account-wrapper hidden-xs " style="margin-top:10px;">
        @*<img width="200px" src="~/Content/tenda-logo.jpg" />*@
        <img style="height:100px;" src="@logoCliente" />
    </div>

    <div class="account-wrapper box-shadon" style="margin-top:10px;">
        @Html.ValidationBootstrapModal()

        <div class="account-body text-silver">
            <h3 class="text-silver">@Idioma.Traduzir("Seja bem vindo!")</h3>
            <h5 class="">@Idioma.Traduzir("Digite seu usuário e senha para acessar o sistema")</h5>
            <form class="form account-form" method="POST" action="@Url.Action("Index")" autocomplete="off">
                @Html.HiddenFor(m => m.ReturnUrl)
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group-sm">
                            <label for="login-username" class="">@Idioma.Traduzir("Login")</label>
                            <input type="text" class="form-control  input-silver" name="Login" id="Login" placeholder="@Idioma.Traduzir("Login")" tabindex="1" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group-sm">
                            <label for="login-password" class="">@Idioma.Traduzir("Senha")</label>
                            <input type="password" class="form-control input-silver" id="Senha" name="Senha" placeholder="@Idioma.Traduzir("Senha")" tabindex="2"  required>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-6">
                        <div class="pull-left">
                            <small><a href="#">@Idioma.Traduzir("Esqueceu sua senha") <i class="fa fa-question"></i></a></small>
                        </div>
                    </div>
                    <div class=" col-md-3">
                        @*<div class="pull-left">
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="" value="" tabindex="3"> <small>Lembrar-me</small>
                                </label>
                            </div>*@
                        <button type="submit" class="btn btn-primary btn-block btn-sm pull-left " tabindex="4">
                            @Idioma.Traduzir("Entrar")
                        </button>
                    </div>
                    <div class="col-md-12 text-center">
                        <hr style="margin-top:5px;margin-bottom:0px;" />
                        <div class="btn-group-xs pull-left " style="margin-top:8px;" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-globe"></i>
                                &nbsp;&nbsp;@Idioma.Traduzir(EnumeradoresDescricao.IdiomaTipo(Idioma.ObterIdiomaUsuarioAtual()))
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("alterarIdiomaGet", "home", new { tipo = (short)Enumeradores.IdiomaTipo.pt_BR})">
                                        <i class="fa fa-globe"></i>
                                        &nbsp;&nbsp;@Idioma.Traduzir(EnumeradoresDescricao.IdiomaTipo(Enumeradores.IdiomaTipo.pt_BR))
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("alterarIdiomaGet", "home", new { tipo = (short)Enumeradores.IdiomaTipo.es_ES})">
                                        <i class="fa fa-globe"></i>
                                        &nbsp;&nbsp;@Idioma.Traduzir(EnumeradoresDescricao.IdiomaTipo(Enumeradores.IdiomaTipo.es_ES))
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("alterarIdiomaGet", "home", new { tipo = (short)Enumeradores.IdiomaTipo.en_US})">
                                        <i class="fa fa-globe"></i>
                                        &nbsp;&nbsp;@Idioma.Traduzir(EnumeradoresDescricao.IdiomaTipo(Enumeradores.IdiomaTipo.en_US))
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="text-silver" style="">
                            <a href="http://junix.com.br" target="_blank">
                                <img alt="JUNIX Infórmatica" class="pull-right" src="~/Content/logo_2.jpg" style="height:15px;" />
                            </a>
                        </div>
                    </div>
                </div>

            </form>




        </div> <!-- /.account-body -->
        
        
    </div>


