﻿@model Cobranca.Web.Models.HomePesquisaViewModel
@{
    ViewBag.MenuAtivo = "menu-home";
    ViewBag.Title = "Projetos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listaProposta = Model.ListaPropostas.Where(x => !x.DataExcluido.HasValue).OrderBy(x => x.DataCadastro);
    bool fgAdmin = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == (short)Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin || Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.SupervisorVenda;
    var fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true;
}

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-junix" role="tablist">
            <li role="presentation" class="active"><a href="#TAB-STATUS" role="tab" data-toggle="tab">STATUS</a></li>
            <li role="presentation" class="@string.Format("{0}", fgAdmin ? "" : "hide") "><a href="@Url.Action("MapsFrame")">MAPA DE VENDA</a></li>
            <li role="presentation" class="@string.Format("{0}", fgAdmin ? "" : "hide") ">
                <a href="@Url.Action("Propostas")">PROPOSTAS x VENDAS</a>
            </li>
            @*<li role="presentation" class="@string.Format("{0}", fgAdmin ? "" : "hide") ">
                    <a href="@Url.Action("Vendidas")">VENDIDAS</a>
                </li>*@
        </ul>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default panel-com-tab">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default panel-small">
                                    <div class="panel-heading">
                                        FILTRO
                                    </div>
                                    <div class="panel-body">
                                        <form method="post" action="@Url.Action("Index")">
                                            <div class="row">
                                                <div class="col-lg-2 com-md-3 col-xs-6">
                                                    <div class="form-group-sm">
                                                        <label for="CodEmpreendimento" class=""><i class=""></i> Empreendimento:</label><br />
                                                        @Html.TextBox("CodEmpreendimento", new { @class = "form-control input-silver" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 com-md-3 col-xs-6">
                                                    <div class="form-group-sm">
                                                        <label for="Nome" class=""><i class=""></i> Bloco:</label>
                                                        @Html.DropDownList("CodBloco", new SelectList(new List<System.Collections.DictionaryEntry>(), "value", "key", 0), new { @class = "form-control input-silver" })
                                                    </div>
                                                </div>
                                                @if (Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().CodEmpresaVenda == null)
                                                {
                                                    <div class="col-lg-2 com-md-3 col-xs-6">
                                                        <div class="form-group-sm">
                                                            <label for="CodEmpresaVenda" class=""><i class=""></i> Empresa de Venda:</label>
                                                            @Html.DropDownList("CodEmpresaVenda", new SelectList(ViewBag.ListaEmpresaVenda, "value", "key", 0), new { @class = "form-control input-silver" })
                                                        </div>
                                                    </div>
                                                }

                                                <div class="col-lg-2 com-md-3 col-xs-6">
                                                    <div class="form-group-sm">
                                                        <label for="Status" class=""><i class=""></i> Status Unidade:</label>
                                                        @Html.DropDownList("Status", new SelectList(Cobranca.Db.Models.EnumeradoresLista.StatusUnidade(), "value", "key", 0), new { @class = "form-control input-silver" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-sm-2 col-xs-6">
                                                    <button type="submit" class="btn btn-primary btn-sm margin-top-18 "><i class="fa fa-search"></i> Filtrar</button>
                                                </div>
                                                <div class="col-lg-2 com-md-3 col-xs-6">
                                                    <div class="form-group-sm">
                                                        <label for="Status" class=""><i class=""></i> </label>
                                                        @Html.Label("QtdUnidade", "", new { @class = "form-control input-silver" })
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="panel panel-default panel-small">
                                    <div class="panel-heading ">
                                        VENDAS
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="well text-center animated flipInX">
                                                    <span style="font-size:20px;">@Model.QtdUnidade</span><br />
                                                    <small class="text-silver">Unidades</small>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="well text-center animated flipInX">
                                                    <span style="font-size:20px;">@Model.QtdEstoque</span><br />
                                                    <small class="text-silver">Estoque</small>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="well text-center animated flipInX">
                                                    <span style="font-size:20px;">@Model.QtdReserva</span><br />
                                                    <small class="text-silver">Reservas</small>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="well text-center animated flipInX">
                                                    <span style="font-size:20px;">@Model.QtdAtiva</span><br />
                                                    <small class="text-silver">Reservas Ativas</small>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="well text-center animated flipInX">
                                                    <span style="font-size:20px;">@Model.PercentualConversao</span><br />
                                                    <small class="text-silver">Propostas</small>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="well text-center animated flipInX">
                                                    <span style="font-size:20px;">@Model.QtdVenda</span><br />
                                                    <small class="text-silver">Vendas</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default panel-small">
                                    <div class="panel-heading ">
                                        HISTÓRICO
                                    </div>
                                    <div class="panel-body" style="min-height:330px">
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <table id="tb-historico" class="table table-bordered table-condensed">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-left">Status Histórico</th>
                                                            <th class="text-center">Valor</th>
                                                            <th class="text-center">Qtde.</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.ListaPropostas != null)
                                                        {
                                                            foreach (var tipoCobranca in Model.ListaFase.Where(x => !x.DataExcluido.HasValue && !x.TabelaTipoCobranca.DataExcluido.HasValue).GroupBy(x => x.TabelaTipoCobranca))
                                                            {
                                                                <tr class="" style="background-color:#e2dfdf">
                                                                    <td colspan="3" class="text-left">
                                                                        <b style="cursor:pointer;">@tipoCobranca.Key.TipoCobranca</b>
                                                                    </td>
                                                                </tr>
                                                                foreach (var item in tipoCobranca.Key.TabelaFases.Where(x => !x.DataExcluido.HasValue).OrderBy(x => x.Ordem))
                                                                {
                                                                    <tr class="bg-gradiente" onclick="expandir(@item.Cod)">
                                                                        <td class="text-left">
                                                                            <b style="cursor:pointer;"><i data-icone="@item.Cod" class="fa fa-minus-square"></i>&nbsp;@item.Fase</b>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <b>
                                                                                @String.Format("{0:C}", listaProposta.Where(o => o.PropostaHistoricoes.Any() && o.PropostaHistoricoes.Last().TabelaSintese.CodFase == item.Cod).Sum(x => x.ValorUnidade))
                                                                            </b>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            @String.Format("{0}", listaProposta.Where(o => o.PropostaHistoricoes.Any() && o.PropostaHistoricoes.Last().TabelaSintese.CodFase == item.Cod).GroupBy(x => x.Cod).Count())
                                                                        </td>
                                                                    </tr>
                                                                    foreach (var sintese in item.TabelaSintese.Where(x => !x.DataExcluido.HasValue).OrderBy(x => x.Ordem))
                                                                    {
                                                                        <tr data-fase="@item.Cod" class="text-silver" style="">
                                                                            <td colspan="1">
                                                                                <a href="#" class="" onclick="filtrarPorSintese(@sintese.Cod)" style="margin-left:15px;"><i class="fa fa-arrow-right"></i>&nbsp;@sintese.Sintese</a>
                                                                            </td>
                                                                            <td class="text-center">
                                                                                <b>
                                                                                    @String.Format("{0:C}", listaProposta.Where(o => o.PropostaHistoricoes.Any() && o.PropostaHistoricoes.Last().CodSintese == sintese.Cod).Sum(x => x.ValorUnidade))
                                                                                </b>
                                                                            </td>
                                                                            <td class="text-center">
                                                                                @String.Format("{0}", listaProposta.Where(o => o.PropostaHistoricoes.Any() && o.PropostaHistoricoes.Last().CodSintese == sintese.Cod).GroupBy(x => x.Cod).Count())
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td class="text-left" style="font-weight:bold">Total:</td>
                                                            <td class="text-center" style="font-weight:bold">
                                                                @String.Format("{0:C}", listaProposta.Where(o => o.PropostaHistoricoes.Where(x => x.TabelaSintese.TabelaFase.TabelaTipoCobranca.TipoFluxo == (short)Cobranca.Db.Models.Enumeradores.TipoFluxo.Proposta).Any() && !o.DataExcluido.HasValue).Sum(x => x.ValorUnidade))
                                                            </td>
                                                            <td class="text-center" style="font-weight:bold">
                                                                @String.Format("{0}", listaProposta.Where(o => o.PropostaHistoricoes.Where(x => x.TabelaSintese.TabelaFase.TabelaTipoCobranca.TipoFluxo == (short)Cobranca.Db.Models.Enumeradores.TipoFluxo.Proposta).Any() && !o.DataExcluido.HasValue).Count())
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default panel-small">
                                    <div class="panel-heading ">
                                        STATUS DA PROPOSTA
                                    </div>
                                    <div class="panel-body">
                                        <div id="graficoFunil" style="min-height:300px; min-width: 100px">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6 hide">
                                <div class="panel panel-default panel-small">
                                    <div class="panel-heading ">
                                        Quantidade
                                    </div>
                                    <div class="panel-body">
                                        <div id="gauge" style="min-height:300px; min-width: 100px">
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="col-md-6 hide">
                                <div class="panel panel-default panel-small">
                                    <div class="panel-heading ">
                                        STATUS DA UNIDADE
                                    </div>
                                    <div class="panel-body">
                                        <div id="graficoDonut" style="min-height:300px; min-width: 100px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default panel-small">
                                    <div class="panel-heading ">
                                        ONLINE NOS PAINEIS
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="text-center">
                                                    <span style="font-size:20px;">0</span><br />
                                                    <small class="text-silver">Corretor</small>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="text-center">
                                                    <span style="font-size:20px;">0</span><br />
                                                    <small class="text-silver">Supervisor</small>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="text-center">
                                                    <span style="font-size:20px;">0</span><br />
                                                    <small class="text-silver">Secretaria</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="panel panel-default panel-small">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Mural de Utilizações</label>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="form-group-sm">
                                                    <input type="text" class="form-control input-silver" placeholder="" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-sm"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="panel panel-default panel-small">
                                    <div class="panel-heading ">
                                        MURAL DE AVISOS <a href="#" class="pull-right">VER TODAS</a>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <div class="mensagem">
                                                    <span style="font-size:14px;font-weight:600;width:100%">Lorem ipsum dolor sit amet,</span><br />
                                                    <span class="italic text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra sollicitudin mi, pretium ultricies ex pellentesque ut. </span>
                                                    <b>Admim 10/01/2016 as 17:15h</b>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="mensagem">
                                                    <span style="font-size:14px;font-weight:600;width:100%">Curabitur pharetra</span><br />
                                                    <span class="italic text-justify">Curabitur pharetra sollicitudin mi, pretium ultricies ex pellentesque ut. Cras ac sagittis diam. Curabitur ac mi accumsan, blandit neque nec, pellentesque purus. </span>
                                                    <b>Admim 10/01/2016 as 17:15h</b>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .well {
        padding: 10px;
    }
</style>
<div class="row">
</div>

<form id="PesquisaDadosSintese" style="display:none" method="post" action="@Url.Action("Resultado", "PesquisaProposta")">
    @Html.Hidden("CodSintese", 0)
</form>
@section scripts{
    <script src="~/Scripts/Highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="~/Scripts/GraficoHome.js"></script>
    <script src="~/Scripts/GraficoHome2.js"></script>
    <script src="~/Scripts/GraficoHome3.js"></script>
    <script src="~/Scripts/Graphic_Basic.js"></script>
    <script src="~/Scripts/flot/jquery.flot.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.pie.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.resize.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.stack.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.time.min.js"></script>
    <script src="https://code.highcharts.com/modules/funnel.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#CodEmpreendimento").change(function () {
                var cod = $("#CodEmpreendimento").val();
                $.ajax({
                    url: '@Url.Action("ListarBlocoPorEmpreendimento", "Home")',
                    type: 'post',
                    dataType: 'json',
                    data: { CodEmpreendimento: cod }
                }).success(function (resultado) {
                    popularDropoDownList($("#CodBloco"), resultado);
                });
            });
            filtrarGraficos();
            filtrarGraficoUnidade();
            qtdUnidade();
            var area = $("#tb-historico").find("tr[data-fase]");
            var icone = $("#tb-historico").find("i[data-icone]");
            area.hide();
            icone.removeClass("fa-minus-square").addClass("fa-plus-square");
            $("#CodEmpreendimento").select2({
                ajax: {
                    url: "@Url.Action("PesquisarEmpreendimentos", "Empreendimento")",
                    dataType: 'json',
                    delay: 250,
                    data: function (term, page) {
                        return {
                            q: term, // search term
                        };
                    },
                    processResults: function (data, params) {
                        console.log(data)
                        return {
                            results: data.items
                        };
                    },
                    cache: true
                },
                initSelection: function (element, callback) {
                    return;
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax({
                            url: "@Url.Action("PesquisarEmpreendimentos", "Empreendimento")",
                            dataType: 'json',
                            data: { q: "A" }
                        }).done(function (data) { console.log(data); callback(data.items[0]); });
                    }
                },
                minimumInputLength: 1,
                placeholder: "--",
                allowClear: true
                //  templateResult: formatRepo, // omitted for brevity, see the source of this page
                // templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
            });
        });
        function obterFiltro() {
            return {
                CodEmpreendimento: $("#CodEmpreendimento").val(),
                CodBloco: $("#CodBloco").val(),
                Status: $("#Status").val()
            };
        }
        function filtrarGraficos() {
            $.ajax({
                url: '@Url.Action("ObterDadosGrafico", "HomeProposta")',
                data: obterFiltro(),
                type: 'post',
                dataType: 'json'
            }).success(function (r) {
                carregaGrafico(r);
            });
        }
        function filtrarGraficoUnidade() {
            $.ajax({
                url: '@Url.Action("ObterDadosGraficoUnidade", "HomeProposta")',
                data: obterFiltro(),
                type: 'post',
                dataType: 'json'
            }).success(function (r) {
                carregaGraficoUnidade(r);
            });
        }
        function qtdUnidade() {
            $.ajax({
                url: '@Url.Action("QtdProposta", "HomeProposta")',
                data: obterFiltro(),
                type: 'post',
                dataType: 'json'
            }).success(function (resultado) {
                if (resultado.qtd != null) {
                    $("#QtdUnidade").text(resultado.qtd)
                }
            });
        }
        function carregaGrafico(dados) {
            $(function () {
                //Highcharts.setOptions({
                //    colors: ['#16a085', '#d9544f', '#e2a40f', '#dae3de']
                //});
                var a = 0;
                $('#graficoFunil').highcharts({

                    chart: {
                        type: 'funnel',
                        marginRight: 100
                    },


                    title: {
                        text: '<b>Qtde. Proposta</b>',
                        x: -50
                    },
                    plotOptions: {
                        series: {
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b> ({point.y:,.0f})',
                                colors: ['#16a085', '#d9544f', '#e2a40f', '#dae3de'],
                                softConnector: true
                            },
                            neckWidth: '28%',
                            neckHeight: '25%'
                        }
                    },
                    legend: {
                        enabled: true
                    },
                    series: [{
                        name: 'Quantidade',
                        data: dados
                    }]
                });

            });
        }
        function carregaGraficoUnidade(dados) {
            $(function () {
                $('#graficoDonut').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: 0,
                        plotShadow: false
                    },
                    title: {
                        text: '<b>Status<br><b>Unidades</b><br></b>',
                        align: 'center',
                        verticalAlign: 'middle',
                        y: 40
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            dataLabels: {
                                enabled: true,
                                distance: -50,
                                style: {
                                    fontWeight: 'bold',
                                    color: 'white',
                                    textShadow: '0px 1px 2px black'
                                }
                            },
                            startAngle: -90,
                            endAngle: 90,
                            center: ['50%', '75%']
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Percentual Unidade',
                        innerSize: '50%',
                        data: dados
                    }]
                });
            });
        }
        function expandir(codFase) {
            var area = $("#tb-historico").find("tr[data-fase='" + codFase + "']");
            var icone = $("#tb-historico").find("i[data-icone='" + codFase + "']");
            if (area.is(":visible")) {
                area.hide();
                icone.removeClass("fa-minus-square").addClass("fa-plus-square");
            } else {
                area.show();
                icone.removeClass("fa-plus-square").addClass("fa-minus-square");
            }
        }
        function filtrarPorSintese(status) {
            $("#CodSintese").val(status);
            $("#PesquisaDadosSintese").submit();
        }
        $(function () {

            $('#gauge').highcharts({

                chart: {
                    type: 'gauge',
                    plotBackgroundColor: null,
                    plotBackgroundImage: null,
                    plotBorderWidth: 0,
                    plotShadow: false
                },

                title: {
                    text: 'Speedometer'
                },

                pane: {
                    startAngle: -150,
                    endAngle: 150,
                    background: [{
                        backgroundColor: {
                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                            stops: [
                                [0, '#FFF'],
                                [1, '#333']
                            ]
                        },
                        borderWidth: 0,
                        outerRadius: '109%'
                    }, {
                        backgroundColor: {
                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                            stops: [
                                [0, '#333'],
                                [1, '#FFF']
                            ]
                        },
                        borderWidth: 1,
                        outerRadius: '107%'
                    }, {
                        // default background
                    }, {
                        backgroundColor: '#DDD',
                        borderWidth: 0,
                        outerRadius: '105%',
                        innerRadius: '103%'
                    }]
                },

                // the value axis
                yAxis: {
                    min: 0,
                    max: 200,

                    minorTickInterval: 'auto',
                    minorTickWidth: 1,
                    minorTickLength: 10,
                    minorTickPosition: 'inside',
                    minorTickColor: '#666',

                    tickPixelInterval: 30,
                    tickWidth: 2,
                    tickPosition: 'inside',
                    tickLength: 10,
                    tickColor: '#666',
                    labels: {
                        step: 2,
                        rotation: 'auto'
                    },
                    title: {
                        text: 'clientes'
                    },
                    plotBands: [{
                        from: 0,
                        to: 120,
                        color: '#55BF3B' // green
                    }, {
                        from: 120,
                        to: 160,
                        color: '#DDDF0D' // yellow
                    }, {
                        from: 160,
                        to: 200,
                        color: '#DF5353' // red
                    }]
                },

                series: [{
                    name: 'Contatou',
                    data: [80],
                    tooltip: {
                        valueSuffix: ' casos'
                    }
                }]

            })

        });

    </script>
}
