﻿@model Cobranca.Web.Models.HomePesquisaViewModel
@{
    ViewBag.Title = "MapsFrame";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool fgAdmin = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin;
}
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-junix" role="tablist">
            <li role="presentation" class="">
                <a href="@Url.Action("Index")">STATUS</a>
            </li>
            <li role="presentation" class="active">
                <a href="@Url.Action("MapsFrame")">MAPA DE VENDA</a>
            </li>
            <li role="presentation" class="">
                <a href="@Url.Action("Propostas")">PROPOSTAS x VENDAS</a>
            </li>
            @*<li role="presentation" class="">
                    <a href="@Url.Action("#")">VENDIDAS</a>
                </li>*@
        </ul>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default panel-com-tab">
            <div class="panel-body">
                <form action="@Url.Action("MapsFrame")" method="post">
                    <div class="row">
                        <div class="col-lg-2 com-md-2 col-xs-6">
                            <div class="form-group-sm">
                                <label for="Nome" class=""><i class=""></i> Regional:</label>
                                @Html.DropDownList("CodRegional", new SelectList(ViewBag.ListaRegional, "value", "key", Model.CodRegional), new { @class = "form-control input-silver", onchange = "carregarEmpreendimentos()" })
                            </div>
                        </div>
                        <div class="col-lg-2 com-md-2 col-xs-6">
                            <div class="form-group-sm">
                                <label for="CodEmpreendimento" class=""><i class=""></i> Empreendimento:</label><br />
                                @Html.DropDownList("CodEmpreendimento", new SelectList(ViewBag.ListaEmpreendimento, "value", "key", Model.CodEmpreendimento), new { @class = "form-control input-silver", onchange = "carregarBlocos()" })
                            </div>
                        </div>
                        <div class="col-lg-2 com-md-2 col-xs-6">
                            <div class="form-group-sm">
                                <label for="Nome" class=""><i class=""></i> Bloco:</label>
                                @Html.DropDownList("CodBloco", new SelectList(ViewBag.ListaBloco, "value", "key", Model.CodBloco), new { @class = "form-control input-silver" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group-sm">
                                <label>Data Início</label>
                                @Html.TextBox("DataInicio", "", new { @class = "input-silver form-control", data_mask = "datetime" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group-sm">
                                <label>Data Fim</label>
                                @Html.TextBox("DataFim", "", new { @class = "input-silver form-control", data_mask = "datetime" })
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-xs-6">
                            <div class="form-group-sm">
                                <button type="submit" class="btn btn-primary btn-sm margin-top-18  btn-min-width"><i class="fa fa-search"></i> Filtrar</button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-md-12">
                        <div id="map_div" style="height: 500px;"></div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>


@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });
        function carregarPontos() {
            var CodEmpreendimento = $("#CodEmpreendimento").val();
            var CodRegional = $("#CodRegional").val();            
            var CodBloco = $("#CodBloco").val();
            var DataInicio = $("#DataInicio").val();
            var DataFim = $("#DataFim").val();

            $.ajax({
                url: '@Url.Action("ListarCEPs")',
                type: 'post',
                dataType: 'json',
                data: {
                    CodEmpreendimento: CodEmpreendimento,
                    CodBloco: CodBloco,
                    CodRegional: CodRegional,
                    DataInicio: DataInicio,
                    DataFim: DataFim
                }
            }).success(function (resultado) {
                console.log(resultado);
                drawMap(resultado);
            });
        }
        function carregarBlocos() {
            var cod = $("#CodEmpreendimento").val();
            $.ajax({
                url: '@Url.Action("ListarBlocoPorEmpreendimento", "Home")',
                type: 'post',
                dataType: 'json',
                data: { CodEmpreendimento: cod }
            }).success(function (resultado) {
                popularDropoDownList($("#CodBloco"), resultado);

            });
        }
        function carregarEmpreendimentos() {
            var codRegional = $("#CodRegional").val();
            $.ajax({
                url: '@Url.Action("ListarEmpreendimento")',
                data: { CodRegional: codRegional },
                type: 'post'
            }).success(function (resultado) {
                popularDropoDownList($("#CodEmpreendimento"), resultado);
            });
        }
        google.charts.load('current', { packages: ['map'] });
        google.charts.setOnLoadCallback(carregarPontos);
        var url = "@Url.Content("~/Content/img/icones/")";
        function drawMap(dados) {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'CEP');
            data.addColumn('string', 'Status');
            data.addColumn('string', 'Marker');

            var listaCeps = dados.ListaProposta;
            var listaEmpreendimentos = dados.ListaEmpreendimentos;

            var arr = [];

            for (var i = 0; i < listaEmpreendimentos.length; i++) {
                var item = listaEmpreendimentos[i];
                if (item.cep) {
                    if (item.cep.length >= 8) {
                        arr.push([item.cep, item.nome, 'predio']);//
                    }
                }
            }
           // arr.push(['07097380', 'JUNIX SUL', 'predio']);//


            for (var i = 0; i < listaCeps.length; i++) {
                var item = listaCeps[i];
                if (item.cep) {
                    if (item.cep.length >= 8) {
                        if (item.icone == 1) {
                            arr.push([item.cep,'Nº ' + item.numero + ' - Vendido', 'vendido']);
                        } else {
                            arr.push([item.cep, 'Nº ' + item.numero + ' - Proposta', 'analise']);
                        }
                    }
                }
                
                
            }

            console.log(arr);

            data.addRows(arr);
            //data.addRows([
            //        ['07097-380', 'Vendido', 'vendido'],
            //        ['08290-410', 'Vendido', 'vendido'],
            //        ['08270-330', 'Proposta', 'analise'],
            //        ['08285-320', 'Proposta', 'analise']
            //]);

            var options = {
                mapType: 'styledMap',
                zoomLevel: 11,
                showTip: true,
                useMapTypeControl: true,
                icons: {
                    vendido: {
                        normal: url + 'verde.png',
                        selected: url + 'verde.png'
                    },
                    analise: {
                        normal: url + 'amarelo.png',
                        selected: url + 'amarelo.png'
                    },
                    reprovado: {
                        normal: url + 'vermelho.png',
                        selected: url + 'vermelho.png'
                    },
                    predio: {
                        normal: url + 'predio.png',
                        selected: url + 'predio.png'
                    }
                },
                maps: {
                    // Your custom mapTypeId holding custom map styles.
                    styledMap: {
                        name: 'Styled Map' // This name will be displayed in the map type control.
                        //styles: [
                        //  {
                        //      featureType: 'poi.attraction',
                        //      stylers: [{ color: '#fce8b2' }]
                        //  },
                        //  {
                        //      featureType: 'road.highway',
                        //      stylers: [{ hue: '#0277bd' }, { saturation: -50 }]
                        //  },
                        //  {
                        //      featureType: 'road.highway',
                        //      elementType: 'labels.icon',
                        //      stylers: [{ hue: '#000' }, { saturation: 100 }, { lightness: 50 }]
                        //  },
                        //  {
                        //      featureType: 'landscape',
                        //      stylers: [{ hue: '#259b24' }, { saturation: 10 }, { lightness: -22 }]
                        //  }
                        //]
                    }
                }
            };

            var map = new google.visualization.Map(document.getElementById('map_div'));

            map.draw(data, options);
        }
    </script>
}
