﻿@model Cobranca.Web.Models.HomePesquisaViewModel
@{
    ViewBag.MenuAtivo = "menu-home";
    ViewBag.Title = "Projetos";
    List<Cobranca.Db.Models.TabelaResolucao> _listaResolucao = new List<Cobranca.Db.Models.TabelaResolucao>();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layout layout-stack-sm layout-main-left " style="min-height:400px;">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-junix" role="tablist">
            <li role="presentation" class="">
                <a href="@Url.Action("Index")">STATUS</a>
            </li>
            <li role="presentation" class="">
                <a href="@Url.Action("MapsFrame")">MAPA DE VENDA</a>
            </li>
            <li role="presentation" class="active">
                <a href="@Url.Action("Propostas")">PROPOSTAS x VENDAS</a>
            </li>
            @*<li role="presentation" class="">
                <a href="@Url.Action("#")">VENDIDAS</a>
            </li>*@
        </ul>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default panel-com-tab">
            <div class="panel-body">
                <form method="post" action="@Url.Action("Propostas")">

                    <div class="row area-expantir animated fadeIn">

                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="TAB-STATUS">
                            <div class="row">
                                <div class="col-lg-2 com-md-2 col-xs-6">
                                    <div class="form-group-sm">
                                        <label for="Nome" class=""><i class=""></i> Regional:</label>
                                        @Html.DropDownList("CodRegional", new SelectList(ViewBag.ListaRegional, "value", "key", Model.CodRegional), new { @class = "form-control input-silver", onchange = "carregarEmpreendimentos()" })
                                    </div>
                                </div>
                                <div class="col-lg-2 com-md-2 col-xs-6">
                                    <div class="form-group-sm">
                                        <label for="CodEmpreendimento" class=""><i class=""></i> Empreendimento:</label><br />
                                        @Html.DropDownList("CodEmpreendimento", new SelectList(ViewBag.ListaEmpreendimento, "value", "key", Model.CodEmpreendimento), new { @class = "form-control input-silver", onchange = "carregarBlocos()" })
                                    </div>
                                </div>
                                <div class="col-lg-2 com-md-2 col-xs-6">
                                    <div class="form-group-sm">
                                        <label for="Nome" class=""><i class=""></i> Bloco:</label>
                                        @Html.DropDownList("CodBloco", new SelectList(ViewBag.ListaBloco, "value", "key", Model.CodBloco), new { @class = "form-control input-silver" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group-sm">
                                        <label>Data Início</label>
                                        @Html.TextBox("DataInicio", "", new { @class = "input-silver form-control", data_mask = "datetime" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group-sm">
                                        <label>Data Fim</label>
                                        @Html.TextBox("DataFim", "", new { @class = "input-silver form-control", data_mask = "datetime" })
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-xs-6">
                                    <div class="form-group-sm">
                                        <button type="submit" class="btn btn-primary btn-sm margin-top-18  btn-min-width"><i class="fa fa-search"></i> Filtrar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <div class="portlet portlet-default">
                                    <div class="portlet-header">
                                        <h4 class="portlet-title">
                                            Propostas
                                        </h4>
                                    </div> <!-- /.portlet-header -->
                                    <div class="portlet-body">
                                        <table id="tb-historico" class="table table-bordered table-condensed">
                                            <thead>
                                                <tr>
                                                    <th class="text-left">Data</th>
                                                    <th class="text-center">Proposta</th>
                                                    <th class="text-center">Vendidas</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.ListaPropostas != null)
                                                {
                                                    foreach (var grupoAno in Model.ListaPropostas.GroupBy(x => x.DataCadastro.Date.Year))
                                                    {

                                                        foreach (var grupoMes in grupoAno.GroupBy(x => x.DataCadastro.Date.Month))
                                                        {
                                                            <tr>
                                                                <td class="text-left">@string.Format("{1} - {0} ", Cobranca.Db.Models.EnumeradoresDescricao.Mes((short)grupoMes.Key), grupoAno.Key)</td>
                                                                <td class="text-center">
                                                                    <a data-label="PropostaCadastrada" href="#">
                                                                        @grupoMes.Count()
                                                                    </a>
                                                                </td>
                                                                <td class="text-center">
                                                                    <a data-label="Solicitada" href="#">
                                                                        @grupoMes.Where(x => x.Status == (short)Cobranca.Db.Models.Enumeradores.StatusProposta.Aprovada).Count()
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }


                                                    }


                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group-sm">
                                    <div id="Propostas"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </div>

    </div>

</div>
<form id="PesquisaDadosSintese" style="display:none" method="post" action="@Url.Action("Resultado", "Pesquisa")">
    @Html.Hidden("CodSintese", 0)
</form>
@section scripts{
    <script src="~/Scripts/Highcharts.js"></script>
    <script src="~/Scripts/GraficoHome.js"></script>
    <script src="~/Scripts/GraficoHome2.js"></script>
    <script src="~/Scripts/GraficoHome3.js"></script>
    <script src="~/Scripts/Graphic_Basic.js"></script>
    <script src="~/Scripts/flot/jquery.flot.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.pie.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.resize.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.stack.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.time.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            carregarGrafico();
            var area = $("#tb-historico").find("tr[data-fase]");
            var icone = $("#tb-historico").find("i[data-icone]");
            area.hide();
            icone.removeClass("fa-minus-square").addClass("fa-plus-square");

        });

        function carregarBlocos() {
            var cod = $("#CodEmpreendimento").val();
            $.ajax({
                url: '@Url.Action("ListarBlocoPorEmpreendimento", "Home")',
                type: 'post',
                dataType: 'json',
                data: { CodEmpreendimento: cod }
            }).success(function (resultado) {
                popularDropoDownList($("#CodBloco"), resultado);

            });
        }
        function carregarEmpreendimentos() {
            var codRegional = $("#CodRegional").val();
            $.ajax({
                url: '@Url.Action("ListarEmpreendimento")',
                data: { CodRegional: codRegional },
                type: 'post'
            }).success(function (resultado) {
                popularDropoDownList($("#CodEmpreendimento"), resultado);
            });
        }
        function expandir(codFase) {
            var area = $("#tb-historico").find("tr[data-fase='" + codFase + "']");
            var icone = $("#tb-historico").find("i[data-icone='" + codFase + "']");
            if (area.is(":visible")) {
                area.hide();
                icone.removeClass("fa-minus-square").addClass("fa-plus-square");
            } else {
                area.show();
                icone.removeClass("fa-plus-square").addClass("fa-minus-square");
            }

        }
        function filtrarPorSintese(status) {
            $("#CodSintese").val(status);
            $("#PesquisaDadosSintese").submit();
        }

        function carregarGrafico() {

            var categorias = [];
            var vendidas = [];
            var propostas = [];

            $("#tb-historico").find("tr").each(function (i, e) {
                if (parseInt($(e).find("td:eq(1)").find("a").text()) > 0) {
                    categorias.push($(e).find("td:first").text());
                    vendidas.push(parseInt($(e).find("td:eq(2)").find("a").text()));
                    propostas.push(parseInt($(e).find("td:eq(1)").find("a").text()));
                }

            });
            $('#Propostas').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Propostas vs Vendas'
                },
                //subtitle: {
                //    text: 'Grafico Mensal'
                //},
                xAxis: {
                    categories: categorias,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Quantidade'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:f} </b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.0,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Propostas',
                    data: propostas
                },{
                    name: 'Vendidas',
                    data: vendidas
                }]
            });
        }
    </script>
}