﻿@{
    ViewBag.Title = "Importacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-importacao";
}
@using (Html.BeginForm("ImportContrato", "Importacao", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel panel-body box-shadon">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-block">
                            <h6 style="margin-bottom:0; font-weight: 600;"><i class="fa fa-copy"></i>&nbsp;Contrato</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button id="btn-adcionar" class="btn btn-sm btn-primary btn-min-width pull-left" type="button" onclick="exibirForm()">Adicionar</button>
                    </div>
                </div>
                <div class="row form-exibir animated fadeIn" style="display:none;">
                    <form method="post" id="form-cadastro-historico" target="_self">
                        @Html.Hidden("ArquivoNome", "")
                        @Html.Hidden("CodUsuario", Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod)
                        <div class="col-md-5">
                            <div class="form-group-sm">
                                <input type="file" name="UploadedFile" />
                            </div>
                        </div>
                        <div class="col-md-5 hide">
                            <div class="form-group-sm">
                                <label>
                                    Progresso
                                </label>
                                <div class="progress" style="min-height:24px;">
                                    <div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 00%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <b>  @Html.Label("QtdContrato", 0)</b>
                        </div>
                        <div class="col-md-12" style="padding-top:10px">
                            <button class="btn btn-primary btn-sm btn-min-width pull-left" type="submit">Salvar</button>
                            <button class="btn btn-sm btn-min-width pull-left" type="button" onclick="cancelar()">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            @*setInterval(function () {
                $.ajax({
                    type: "post",
                    url: '@Url.Action("Teste", "Importacao")',
                    dataType: 'json', 
                    success: function (resultado) {
                        debugger
                        $("#QtdContrato").val(resultado.lista.Contrato)
                    }
                });
            }, 5000);*@

            definirUpload();
            if ('@TempData["resultado"]' != null && '@TempData["resultado"]' != "") {
                alert('@TempData["resultado"]');
            }
        });
        function exibirForm() {
            $(".form-exibir").show();
            $("#btn-adcionar").hide();
        }
        function cancelar() {
            document.location.reload(false);
        }
        function definirUpload() {
            $(".form-upload").fileupload({
                dataType: 'json',
                url: '@Url.Content("~/Upload/UploadHandler.ashx")',
                maxFileSize: 5368709120, // 5GB
                sequentialUploads: true,
                limitConcurrentUploads: 1,
                maxChunkSize: 204800, // 200KB
                //autoUpload: true,//tr
                dropZone: "documentos",
                formData: {
                    Id: $("#Id").val()
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Ocorreu um erro no upload: " + textStatus);
                    $(".progress-bar").removeClass("progress-bar-warning").addClass("progress-bar-danger");
                    return;
                },
                done: function (e, data) {
                    var file = data.files[0];
                    $("#btn-file").removeAttr("disabled");
                    $("#ArquivoNome").val(file.name);
                    $(".progress-bar").removeClass("progress-bar-warning").addClass("progress-bar-success");
                },
                add: function (e, data) {
                    var id = $(this).attr("id");
                    var tr = $(this).parent().parent().parent();
                    var file = data.files[0];
                    $(".progress-bar").removeClass("progress-bar-danger").removeClass("progress-bar-success").addClass("progress-bar-warning");
                    data.submit();
                },
                start: function () {
                },
                progress: function (e, data) {
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $(".progress").show();
                    $(".progress-bar").css('width', progress + '%');
                    $(".progress-bar").html(progress + '%');
                }
            });
        }
        function removerDocumento(cod) {
            if (confirm("Deseja excluir?")) {
                $.ajax({
                    url: '@Url.Action("DocumentoRemover")',
                    type: 'post',
                    data: { cod: cod }
                }).success(function (o) {
                    if (o.OK) {
                        cancelar();
                    } else {
                        alert(o.Mensagem);
                    }
                });
            }
        }
   
    </script>
}