﻿@{
    ViewBag.Title = "Importacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-importacao";
}
<div class="panel panel-body box-shadon">
    <div class="row">
        <div class="col-md-12">
            <div class="heading-block no-margin-botton">
                <h6 style="margin-bottom:0; font-weight: 600;"><i class="fa fa-copy"></i>&nbsp;Parcelas</h6>
            </div>
            <img src="~/Content/img/logo/LogoSTR.png" />
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-sm btn-success pull-left btn-min-width"><i class="fa fa-upload"></i>&nbsp;Processar</a>
                </div>
            </div>
            <table class="table table-bordered data-table table-condensed table-striped dataTable no-footer data-table" data-ordem="">
                <thead>
                    <tr>
                        <th style="display:none;"></th>
                        <th>
                            Arquivo
                        </th>
                        <th style="width:250px;">
                            Data
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @*<tr data-id="">
                            <td class="text-left" style="display:none"></td>
                            <td class="text-left">FAKE</td>
                            <td class="text-left">FAKE</td>
                            <td class="text-left">FAKE</td>
                        </tr>*@
                </tbody>
            </table>
        </div>
    </div>

</div>
