﻿@model Cobranca.Db.Models.TabelaUnidade
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-espelho";
    int CodProposta = ViewBag.CodProposta;

}
@Html.Hidden("Usuario", Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod)
<div class="layout layout-main-right layout-stack-sm">
    <div class="col-lg-2 col-md-2 col-sm-4 layout-sidebar" id="tab-espelho-div">
        <div class="nav-layout-sidebar-skip">
            <strong>Mobile</strong> / <a href="#settings-content"></a>
        </div>
        <ul id="myTab" class="nav nav-layout-sidebar nav-stacked">
            <li class="active">
                <a href="#" data-toggle="tab" aria-expanded="true">
                    <i class="fa fa-search"></i>
                    &nbsp;&nbsp;ESPELHO DE VENDA
                </a>
            </li>
            <li class="disabled">
                <a href="#" class="disabled" style="">
                    <i class="fa fa-edit"></i>
                    &nbsp;&nbsp;SIMULAÇÃO/PROPOSTA
                </a>
            </li>
            <li class="hide">
                <a href="#" data-toggle="tab" id="tabOperacao" class="disabled" aria-expanded="false">
                    <i class="fa fa-user"></i>
                    &nbsp;&nbsp;CLIENTE
                </a>
            </li>
            <li class="hide">
                <a href="#" data-toggle="tab" id="tabOperacao" class="disabled" aria-expanded="false">
                    <i class="fa fa-files-o"></i>
                    &nbsp;&nbsp;DOCUMENTOS
                </a>
            </li>
        </ul>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 layout-main nav-layout-sidebar-pane " id="espelho-div">
        <div class="tab-content stacked-content ">
            <div class="tab-pane fade active in" id="espelho-tab">
                <div class="panel panel-default">
                    <div class="panel-body padding-5">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="CodEmpreendimento">Empreendimento</label>
                                @Html.DropDownList("CodEmpreendimento", new SelectList(ViewBag.ListaEmpreendimento, "value", "key", 0), new { @class = "form-control input-silver" })
                            </div>
                            <div class="col-md-4">
                                <label for="CodBloco">Bloco</label>
                                @Html.DropDownList("CodBloco", new SelectList(new List<System.Collections.DictionaryEntry>(), "key", "value", 0), new { @class = "form-control input-silver" })
                            </div>
                            <div class="col-md-4">
                                <br />
                                <button type="button" onclick="consultarUnidades()" class="btn btn-default btn-primary" style="margin-top:5px;">Consultar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="min-height:300px;">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <table style="width:100%;">
                                <tr>
                                    <td align="center" valign="middle">
                                        <div id="btnAcoes" style="display:none">
                                            <button type="button" id="btnReserva" onclick="$('#li-reserva').addClass('active'); $('#li-historico').removeClass('active'); $('#tab-reserva').show(); $('#tab-historico-unidade').hide(); habilitarReservarUnidade($('#hdCodUnidade').val())" class="btn btn-sm btn-default btn-min-width" style="background-color:#dae3de!important"><i class="fa fa-history"></i>&nbsp;&nbsp;Reservar</button>
                                            @if (Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Admin == true)
                                            {
                                            <button type="button" onclick="alteraStatusUnidade(1)" class="btn btn-sm btn-success btn-min-width" style="background-color:#16a085!important"><i class="fa fa-unlock"></i>&nbsp;&nbsp;Desbloquear</button>
                                            <button type="button" onclick="alteraStatusUnidade(2)" class="btn btn-sm btn-danger  btn-min-width" style="background-color:#d9544f!important"><i class="fa fa-lock"></i>&nbsp;&nbsp;Bloquear</button>
                                            <button type="button" onclick="alteraStatusUnidade(3)" class="btn btn-sm btn-warning btn-min-width" style="background-color:#e2a40f!important"><i class="fa fa-stop"></i>&nbsp;&nbsp;Permutar</button>
                                            }
                                            <button type="button" id="btnProposta" onclick="redirecionarUnidade($('#hdCodUnidade').val())" class="btn btn-sm btn-success btn-min-width"><i class="fa fa-edit"></i>&nbsp;&nbsp;Proposta</button>
                                        </div>
                                        <br />
                                        <div id='datetimepicker' style="display:none">
                                            <label for="DataReserva">Data Reserva</label>
                                            <div class='input-group date col-md-3'>
                                                @Html.TextBox("DataReserva", "", new { @class = "form-control input-silver", data_mask = "datetime" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            <br />
                                            <button type="button" onclick="alteraStatusUnidade(4)" class="btn btn-sm btn-success btn-min-width"><i class="fa fa-edit"></i>&nbsp;&nbsp;Salvar</button>
                                            <button type="button" onclick="cancelar()" class="btn btn-sm btn-default btn-min-width"><i class="fa fa-edit"></i>&nbsp;&nbsp;Cancelar</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle">
                                        <div id="tab-espelho" style="vertical-align:middle">
                                            <div class="col-md-10">
                                                <div class="predio animated pulse" id="conteudoEspelho" style="display:none; margin-bottom:5px;">
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                            </div>

                                        </div>
                                    </td>                                
                                </tr>
                                <tr>
                                    @*<td align="center" valign="middle">
                                        <div class="panel panel-default pull-left" id="resumo" style="display:none;margin-right:5px; margin-top:5px">
                                            <div class="panel-heading">
                                                <i class="fa fa-money"></i> Resumo do unidade
                                            </div>
                                            <div>
                                                <div>
                                                    <font style="font-size:small"><small><b>Vaga:</b></small> 2</font>
                                                    <br />
                                                    <font style="font-size:small"> <small><b>Domitório:</b> </small> 2</font>
                                                    <br />
                                                    <font style="font-size:small"> <small><b>Metragem:</b></small> 36555,47</font>
                                                    <br />
                                                    <font style="font-size:small"><small><b>PNE:</b> <i class="fa fa-wheelchair"></i></small></font>
                                                    <br />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="panel panel-default pull-left hide">
                                            <div class="panel-heading">
                                                <i class="fa fa-photo"></i> Fotos do Empreendimento
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                </div>
                                            </div>
                                        </div>
                                    </td>*@

                                </tr>
                            </table>
                        </div>
                        <div class="row">
                            <div class="row hide">
                                <div class="col-md-offset-2 col-md-8 text-center" style="min-height:500px;">
                                    <br />
                                </div>
                                @Html.Hidden("Login", Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Login)
                                @Html.Hidden("hdCodUnidade", 0)
                                @Html.Hidden("divUnidade", 0)
                                @Html.Hidden("hfStatus", 0)
                                @Html.Hidden("CodProposta", CodProposta)

                            </div>
                        </div>
                    </div>
                </div>
                <div id="popUp">
                    <div class="row">
                        <div class="modal fade" tabindex="-1" role="dialog" id="modal-form">
                            <div class="modal-dialog">
                                <form method="post" id="form-reserva" target="_self">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <div class="panel panel-default panel-small">
                                                        <div style="margin-top:10px" class="panel-body">
                                                            <ul class="nav nav-tabs nav-junix" role="tablist">
                                                                <li role="presentation" class="active btn-min-width text-center" id="li-reserva"><a onclick="$('#tab-reserva').show(); $('#tab-historico-unidade').hide(); $('#li-reserva').addClass('active'); $('#li-historico').removeClass('active');">Reserva</a></li>
                                                                <li role="presentation" class="btn-min-width text-center" id="li-historico"><a onclick="$('#tab-historico-unidade').show(); $('#tab-reserva').hide().removeClass('active'); $('#li-historico').addClass('active'); $('#li-reserva').removeClass('active');">Histórico</a></li>
                                                            </ul>
                                                            @Html.Hidden("CodUnidade")
                                                            @Html.Hidden("CodUsuario", Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod)
                                                            <div class="tab-pane active" role="tabpanel" id="tab-reserva">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                    <h3 class="modal-title">Reservar Unidade</h4>
                                                                </div>
                                                                <div class="modal-body">

                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for="Nome">Nome</label>
                                                                                @Html.TextBox("Nome", "", new { @class = "form-control input-silver", required = "required" })
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for="CPF">CPF</label>
                                                                                @Html.TextBox("CPF", "", new { @class = "form-control input-silver", data_mask = "cpf", required = "required" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">

                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <label for="Email">E-mail</label>
                                                                                @Html.TextBox("Email", "", new { @class = "form-control input-silver", required = "required" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-4">
                                                                            <div class="form-group">
                                                                                <label for="Telefone">Telefone Residencial</label>
                                                                                @Html.TextBox("Telefone", "", new { @class = "form-control input-silver", data_mask = "telresidencial", required = "required" })
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-4">
                                                                            <div class="form-group">
                                                                                <label for="Celular">Telefone Celular</label>
                                                                                @Html.TextBox("Celular", "", new { @class = "form-control input-silver", data_mask = "telcelular", required = "required" })
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-4">
                                                                            <div class="form-group">
                                                                                <label for="TelComercial">Telefone Comercial</label>
                                                                                @Html.TextBox("TelComercial", "", new { @class = "form-control input-silver", data_mask = "telresidencial", required = "required" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-4">
                                                                            <div class="form-group">
                                                                                <label for="Celular">Data Expiração</label>
                                                                                @Html.TextBox("DataExpiracao", "", new { @class = "form-control input-silver", data_mask = "datetimehours", required = "required" })
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-8">
                                                                            <div class="form-group">
                                                                                <label for="CodConstrutora">Observação</label>
                                                                                @Html.TextArea("Observacao", "", new { @class = "form-control input-silver", required = "required" })
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" id="btnCancelar" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                                                    <button type="button" onclick="reservarUnidade()" id="btn-submit" class="btn btn-primary">Salvar</button>
                                                                </div>
                                                            </div>
                                                            <div id="tab-historico-unidade" class="modal-body" style="display:none">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                <h3 class="modal-title">Histórico Unidade</h4>
                                                                <table id="grid-historico" class="table table-bordered table-condensed table-striped" style="margin-top:6px;background-color:#fff;">
                                                                    <thead>
                                                                        <tr>
                                                                            <th data-data="Status" style="width:40px">
                                                                                Status
                                                                            </th>
                                                                            <th data-data="CodUsuario" style="width:20px">
                                                                                Usuario
                                                                            </th>
                                                                            <th data-data="obs" style="width:20px">
                                                                                Obs

                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody></tbody>
                                                                </table>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div><!-- /.modal-dialog -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts{
    <script type="text/javascript">
        var gridHistorico;
        function carregarBlocos() {
            var cod = $("#CodEmpreendimento").val();
            $.ajax({
                url: '@Url.Action("ListarBlocoPorEmpreendimento", "Empreendimento")',
                type: 'post',
                dataType: 'json',
                data: { CodEmpreendimento: cod }
            }).success(function (resultado) {
                popularDropoDownList($("#CodBloco"), resultado);
            });
        }
        $(document).ready(function () {
            $("#CodEmpreendimento").change(carregarBlocos);
        });
        function consultarUnidades() {
            var cod = $("#CodBloco").val();
            $.ajax({
                url: '@Url.Action("PesquisarUnidade", "EspelhoVenda")',
                type: 'post',
                dataType: 'json',
                data: { CodBloco: cod }
            }).success(function (resultado) {
                $("#conteudoEspelho").empty();
                $("#conteudoEspelho").hide();
                $("#btnAcoes").hide();
                var resultado = resultado.ListaUnidades;
                for (var i = 0; i < resultado.length; i++) {
                    var row = $(document.createElement("div"));
                    row.addClass("row");
                    var col12 = $(document.createElement("div"));
                    col12.addClass("col-md-12");
                    row.append(col12);
                    var andar = resultado[i];
                    if (andar.Andar == 0) {
                        col12.append("<div class='pull-left text-center item-unidade text-silver'><h4> Térreo </h4></div>")
                    }
                    else {
                        col12.append("<div class='pull-left text-center item-unidade text-silver'><h4>" + andar.Andar + "º Andar</h4></div>")
                    }

                    for (var a = 0; a < andar.lUnidades.length; a++) {
                        var item = andar.lUnidades[a];
                        switch (item.Status) {
                            case 1:
                                var cor = "background-color:#16a085!important";
                                break;
                            case 2:
                                var cor = "background-color:#d9544f!important";
                                break;
                            case 3:
                                var cor = "background-color:#e2a40f!important";
                                break;
                            case 4:
                                var cor = "background-color:#dae3de!important";
                                break;
                            case 7:
                                var cor = "background-color:#dae3de!important";
                                break;
                            default:
                                var cor = "";
                        }
                        var unidade =
                        "<div id='div" + item.CodUnidade + "' onclick='selecionaUnidade(" + item.CodUnidade + ", " + item.Status + ")' class='bg-success pull-left text-center item-unidade' title='" + statusUnidade(item.Status) + "' style='" + cor + "'>"
                        + "<font class='' style='color: #fff;font-size:18px!important; margin-right:3px'>" + item.NumeroUnidade + "</font><font class='text-center'style='color: #fff;font-size:10px!important;' >" + PNE(item.PNE) + "</font>"
                        + "<h6 class='text-center'style='color: #fff;' > " + formatarFalorMoeda(item.ValorVenda) + "</h6>"
                        + "<h6 class='text-center' style='color: #fff;'>Dorm.: " + item.QtdDormitorio + "</h6>"
                        + "</div>";
                        col12.append(unidade);
                    }
                    $('#conteudoEspelho').append(row);
                }
                $("#conteudoEspelho").show();
                if (parent.ajustarAlturaIframe) {
                    parent.ajustarAlturaIframe();
                }
            });

        }
        function PNE(pne) {
            var texto = '';
            if (pne == 1) {
                texto = '<i class="fa fa-wheelchair"></i>';
            }
            else {
                texto = ' ';
            }
            return texto;
        }
        function statusUnidade(status) {
            var unidadeStatus = '';
            switch (status) {
                case 1:
                    unidadeStatus = 'Disponível';
                    break;
                case 2:
                    unidadeStatus = 'Bloqueada';
                    break;
                case 2:
                    unidadeStatus = 'Permuta';
                    break;
                case 7:
                    unidadeStatus = 'Reservada';
                    break;
                default:
                    unidadeStatus = '';
            }
        
            return unidadeStatus;
        }

        function formatarFalorMoeda(c) {
            var valor = parseFloat(c).toFixed(2).toString().replace(".", ",");
            var el = $(document.createElement("input"));
            el.val(valor).mask('000.000.000.000.000,00', { reverse: true });
            return el.val();
        }


        function redirecionarUnidade(CodUnidade) {
            var status = $("#hfStatus").val();
            if (status == 1) {
                document.location = "@Url.Action("Proposta", "Wizard")" + "?codUnidade=" + CodUnidade + "&cdProposta=" + $("#CodProposta").val();
            }
            else {
                alert("Unidade indisponível para simulaçao de proposta!");
            }
        }

        function habilitarReservarUnidade(CodUnidade) {
            obterdadosGrid(CodUnidade);
            $("#modal-form").modal("show");

            if (parent.ajustarAlturaIframe) {
                setTimeout(function () {
                    parent.ajustarAlturaIframe();
                }, 1000);
            }
        }
        function alteraStatusUnidade(statusUnidade) {
            if (statusUnidade == 4 && !$("#form-reserva").valid()) {
                alert("Preencha os campos obrigatórios!");
            } else {
                var codUnidade = $("#hdCodUnidade").val();
                var dataReserva = $("#DataReserva").val();
                var codUsuario = $("#Usuario").val();
                $.ajax({
                    url: '@Url.Action("AlteraStatusUnidade", "EspelhoVenda")',
                    type: 'post',
                    dataType: 'json',
                    data: { CodUnidade: codUnidade, DataReserva: dataReserva, StatusUnidade: statusUnidade, CodUsuario: codUsuario }
                }).success(function (resultado) {
                    if (resultado.OK) {
                        alert("Status alterado com sucesso!");
                        consultarUnidades();
                        $("#btnAcoes").hide();
                        $("#datetimepicker").hide();
                        $("#DataReserva").val('');
                        $("#DataReserva").empty();
                    }
                    else {
                        alert("Status não alterado. Favor verificar procedimento!");
                        consultarUnidades();
                    }
                });
            }
        }
        function selecionaUnidade(CodUnidade, Status) {
            $("#resumo").show();
            historicoUnidade();
            $("#hfStatus").val(Status);
            var codUnidade = CodUnidade;
            var unidade = $("#divUnidade").val()
            $("#" + unidade + "").removeClass("active");
            $("#div" + codUnidade + "").toggleClass("active");
            $("#hdCodUnidade").val(codUnidade)
            $("#CodUnidade").val(codUnidade)
            $("#btnAcoes").fadeIn();
            $("#divUnidade").val("div" + codUnidade + "");
            if (parent.ajustarAlturaIframe) {
                parent.ajustarAlturaIframe();
            }
        }

        function cancelar() {
            document.location = '@Url.Action("index")';
        }

        function reservarUnidade() {
            var form = $("#form-reserva").serialize();
            $.ajax({
                url: '@Url.Action("ReservaUnidade", "EspelhoVenda")',
                type: 'post',
                dataType: 'json',
                data: form
            }).success(function (resultado) {
                if (resultado.OK) {
                    alert("Reservado com sucesso!");
                    consultarUnidades();
                    $("#btnCancelar").click();
                }
                else {
                    alert("Unidade não reservada. Favor verificar procedimento!");
                    consultarUnidades();
                }
            });
        }

        function historicoUnidade() {
            var codUnidade = $("#CodUnidade").val();
            $.ajax({
                url: '@Url.Action("ListaHistoricoUnidade", "EspelhoVenda")',
                type: 'post',
                dataType: 'json',
                data: { CodUnidade: codUnidade }
            }).success(function (resultado) {

            });
        }
        function obterdadosGrid(CodUnidade) {
            $('#grid-historico').DataTable().destroy();
            gridHistorico = $('#grid-historico').DataTable({
                "deferRender": true,
                "serverSide": true,
                "responsive": true,
                "processing": true,
                "ajax": {
                    "url": "@Url.Action("ListaHistoricoUnidade", "EspelhoVenda")" + "?CodUnidade=" + CodUnidade,
                    "type": "POST"
                },
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    oAria: {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });
        }
    </script>
}
