﻿@model List<Cobranca.Db.Models.LogServico>
@using Cobranca.Rotinas;
@{
}
<style>
    .well {
        background: #fbfbfb;
        border: 1px solid #ddd;
        -webkit-box-shadow: 0 1px 1px #ececec;
        position: relative;
        min-height: 20px;
        margin-bottom:0px;
    }

    .well-sm {
        padding: 9px;
        border-radius: 2px;
    }

    .smart-timeline {
        position: relative;
    }

    .smart-timeline-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .smart-timeline-list:after {
            content: " ";
            background-color: #eee;
            position: absolute;
            display: block;
            width: 2px;
            top: 0;
            left: 95px;
            bottom: 0;
            z-index: 1;
        }

        .smart-timeline-list li {
            position: relative;
            margin: 0;
            padding: 15px 0;
        }

        .smart-timeline-list > li:hover {
            background-color: #f4f4f4;
        }

    .smart-timeline-hover li:hover {
        background-color: #f9f9f9;
    }

    .smart-timeline-icon {
        background: #3276b1;
        color: #fff;
        border-radius: 50%;
        position: absolute;
        width: 32px;
        height: 32px;
        line-height: 28px;
        font-size: 14px;
        text-align: center;
        left: 80px;
        top: 10px;
        z-index: 100;
        padding: 2px;
    }

        .smart-timeline-icon > i {
        }

        .smart-timeline-icon > img {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            margin-top: -2px;
            margin-left: -2px;
            border: 2px solid #3276b1;
        }

    .smart-timeline-time {
        float: left;
        width: 70px;
        text-align: right;
    }

        .smart-timeline-time > small {
            font-style: italic;
        }

    .smart-timeline-content {
        margin-left: 123px;
    }

        .smart-timeline-content > a:focus, a:hover {
            color: #214e75;
            text-decoration: none;
        }

        .smart-timeline-content > a:active, a:hover {
            outline: 0;
        }

    .display-inline {
        display: inline-block !important;
    }

        .display-inline > p {
            margin: -2px 0 -2px;
        }

    .liRow {
        background: #fbfbfb;
        position: absolute;
        text-align: center;
        padding: 5px 0 !important;
        top: 10px;
        z-index: 100;
        padding: 2px;
    }
</style>
<div class='well well-sm' data-scroll="true" style="overflow-x:auto">
    <div class="smart-timeline">
        <ul class="smart-timeline-list">
            @foreach (var log in Model.OrderByDescending(x => x.DataInicio))
            {

                if (log.TipoServico == (short)Cobranca.Db.Models.Enumeradores.TipoServico.Finalizar_Servico)
                {
                    <li class="liRow">
                        <div class="">
                            <div class="well well-sm display-inline">
                                @if ((((DateTime)log.DataInicio).Date).Subtract(DateTime.Today.Date).TotalDays == 0)
                                {
                                    <p><strong>Hoje - @(String.Format("{0:HH:mm}", log.DataInicio))</strong></p>
                                }
                                else if ((((DateTime)log.DataInicio).Date).Subtract(DateTime.Today.Date).TotalDays == -1)
                                {
                                    <p><strong>Ontem - @(String.Format("{0:HH:mm}", log.DataInicio))</strong></p>
                                }
                                else
                                {
                                    <p><strong>@(String.Format("{0:dd-MM-yyyy HH:mm}", log.DataInicio))</strong></p>
                                }

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="smart-timeline-icon">
                            <i class="fa @Cobranca.Db.Models.EnumeradoresDescricao.TipoServicoIcon((short)log.TipoServico)"></i>
                        </div>
                        <div class="smart-timeline-time">
                            <small>@(String.Format("{0:d MMM, yyyy HH:mm.ss}", log.DataInicio))</small>
                        </div>
                        <div class="smart-timeline-content">
                            <p>
                                <a href="javascript:void(0);"><strong>@Cobranca.Db.Models.EnumeradoresDescricao.TipoServico((short)log.TipoServico)</strong></a>
                            </p>
                            <p>
                                @log.Mensagem
                            </p>
                            @if (log.TipoServico == 2 && log.CodImportacao > 0)
                            {
                                <a href="@Cobranca.Db.Models.EnumeradoresDescricao.TipoImportacaoURL((Cobranca.Db.Models.Enumeradores.TipoImportacao)Cobranca.Db.Rotinas.DbRotinas.ConverterParaShort(log.TipoImportacao))/#@log.CodImportacao" class="btn btn-xs btn-default">Abrir as Importações</a>
                            }

                        </div>
                    </li>


                }
                else
                {
                    <li>
                        <div class="smart-timeline-icon">
                            <i class="fa @Cobranca.Db.Models.EnumeradoresDescricao.TipoServicoIcon((short)log.TipoServico)"></i>
                        </div>
                        <div class="smart-timeline-time">
                            <small>@(String.Format("{0:d MMM, yyyy HH:mm.ss}", log.DataInicio))</small>
                        </div>
                        <div class="smart-timeline-content">
                            <p>
                                @if (log.TipoImportacao > 0)
                                {

                                    <a href="javascript:void(0);"><strong>@Cobranca.Db.Models.EnumeradoresDescricao.TipoServico((short)log.TipoServico) - @Cobranca.Db.Models.EnumeradoresDescricao.TipoImportacao((Cobranca.Db.Models.Enumeradores.TipoImportacao)log.TipoImportacao)</strong></a>
                                }
                                else
                                {
                                    <a href="javascript:void(0);"><strong>@Cobranca.Db.Models.EnumeradoresDescricao.TipoServico((short)log.TipoServico)</strong></a>

                                }

                            </p>
                            <p>
                                @log.Mensagem
                            </p>
                            @if (log.TipoServico == 2 && log.CodImportacao > 0)
                            {
                                <a href="@Cobranca.Db.Models.EnumeradoresDescricao.TipoImportacaoURL((Cobranca.Db.Models.Enumeradores.TipoImportacao)Cobranca.Db.Rotinas.DbRotinas.ConverterParaShort(log.TipoImportacao))/#@log.CodImportacao" class="btn btn-xs btn-default">Abrir as Importações</a>
                            }

                        </div>


                    </li>
                }


            }

        </ul>
    </div>

</div>