﻿@model List<Cobranca.Db.Models.LogServico>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-configuracoes";

}
@using Cobranca.Rotinas;
<style>
    .well {
        background: #fbfbfb;
        border: 1px solid #ddd;
        -webkit-box-shadow: 0 1px 1px #ececec;
        position: relative;
        min-height: 20px;
        margin-bottom:0px;
    }

    .well-sm {
        padding: 9px;
        border-radius: 2px;
    }

    .smart-timeline {
        position: relative;
    }

    .smart-timeline-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .smart-timeline-list:after {
            content: " ";
            background-color: #eee;
            position: absolute;
            display: block;
            width: 2px;
            top: 0;
            left: 95px;
            bottom: 0;
            z-index: 1;
        }

        .smart-timeline-list li {
            position: relative;
            margin: 0;
            padding: 15px 0;
        }

        .smart-timeline-list > li:hover {
            background-color: #f4f4f4;
        }

    .smart-timeline-hover li:hover {
        background-color: #f9f9f9;
    }

    .smart-timeline-icon {
        background: #3276b1;
        color: #fff;
        border-radius: 50%;
        position: absolute;
        width: 32px;
        height: 32px;
        line-height: 28px;
        font-size: 14px;
        text-align: center;
        left: 80px;
        top: 10px;
        z-index: 100;
        padding: 2px;
    }

        .smart-timeline-icon > i {
        }

        .smart-timeline-icon > img {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            margin-top: -2px;
            margin-left: -2px;
            border: 2px solid #3276b1;
        }

    .smart-timeline-time {
        float: left;
        width: 70px;
        text-align: right;
    }

        .smart-timeline-time > small {
            font-style: italic;
        }

    .smart-timeline-content {
        margin-left: 123px;
    }

        .smart-timeline-content > a:focus, a:hover {
            color: #214e75;
            text-decoration: none;
        }

        .smart-timeline-content > a:active, a:hover {
            outline: 0;
        }

    .display-inline {
        display: inline-block !important;
    }

        .display-inline > p {
            margin: -2px 0 -2px;
        }

    .liRow {
        background: #fbfbfb;
        position: absolute;
        text-align: center;
        padding: 5px 0 !important;
        top: 10px;
        z-index: 100;
        padding: 2px;
    }
</style>
<div class="row">
    <div class="col-md-4">
        <form method="post" id="formFilter" action="@Url.Action("Index")">
            <div class="panel panel-small panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-xs-12">
                            <div class="form-group-sm">
                                <label>@Idioma.Traduzir("Pesquisar")</label>
                                @Html.TextBox("Filtro", "", new { @class = "form-control", @placeholder = "Localizar" })
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-xs-12">
                            <div class="form-group-sm">
                                <label for="Periodo" class=""><i class=""></i> @Idioma.Traduzir("Período"):</label>
                                @Html.TextBox("Periodo", "", new { @class = "form-control", data_mask = "datetimeRangeHours" })
                                @Html.Hidden("PeriodoDe", "", new { @class = "hide", datatime_ranger = "De" })
                                @Html.Hidden("PeriodoAte", "", new { @class = "hide", datatime_ranger = "Ate" })
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12 pull-right">
                            <button type="button" onclick="carregarLogs()" class="btn btn-primary btn-block btn-sm margin-top-18"><i class="fa fa-search"></i> @Idioma.Traduzir("Pesquisar")</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="col-xs-12 col-md-8 col-lg-8">

        <div class="widget-panel-sortable">
            <div id="panel-inadimplencia" class="widget-panel" role="tablist">
                <header role="heading" class="handle">
                    <div class="jnxwidget-ctrls" role="menu">
                        <a href="javascript:void(0);" data-rel="collapse" class="button-icon">
                            <i class="fa fa-minus "></i>
                        </a>
                        <a href="javascript:void(0);" data-rel="fullscreen" class="button-icon">
                            <i class="fa fa-expand "></i>
                        </a>
                        <a href="javascript:void(0);" data-rel="close" class="button-icon">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                    <span class="widget-icon"> <i class="fa fa-history txt-color-darken"></i> </span>
                    <h2>@Idioma.Traduzir("Timeline Serviço")</h2>
                </header>
                <!-- widget div-->
                <div class="widget-content no-padding">
                    <div class="widget-body">
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>

@section scripts{
    <script src="~/Scripts/widgets/jnx.widgets.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).keypress(function (e) {
                if (e.which == 13) {
                    carregarLogs();
                }
            });
            $("input[datatime-ranger='De']").val(moment().startOf('day').format('DD/MM/YYYY HH:mm:ss'));
            $("input[datatime-ranger='Ate']").val(moment().format('DD/MM/YYYY HH:mm:ss'));
            carregarLogs();
            jx.scrollToElement($("[data-scroll]"), 120)
        });
        function carregarLogs() {
            $(".widget-body").empty();
            $(".widget-body").load("@(Url.Action("FiltrarTimeLine", "LogServico", null, Request.Url.Scheme))?" + $("#formFilter").serialize(), function () {
                jx.scrollToElement($("[data-scroll]"), 120)
            });
        }
    </script>
}
