﻿@model Cobranca.Db.Models.TabelaVendaFluxo

@{
//if (Model.Cod == 0) {
//    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
//}

}

<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.HiddenFor(m => m.CodTabelaVenda)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row">
        @*<div class="col-sm-3">
                <div class="form-group ">
                    <label for="CodTabelaVenda">Nome da Tabela Vendas</label>
                    @Html.DropDownListFor(m => m.CodTabelaVenda, new SelectList(ViewBag.ListaTabelaVenda, "value", "key", Model.CodTabelaVenda), new { @class = "form-control input-silver" })
                    @Html.ValidationMessageFor(m => m.CodTabelaVenda)
                </div>
            </div>*@
        <div class="col-sm-2">
            <div class="form-group">
                <label for="Ordem">Ordem</label>
                @Html.TextBoxFor(m => m.Ordem, new { @class = "form-control input-silver", data_mask = "inteiro", required = "required" })
                @Html.ValidationMessageFor(m => m.Ordem)
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="CodTipoParcela">Tipo Parcela</label>
                @Html.DropDownListFor(m => m.CodTipoParcela, new SelectList(ViewBag.ListaTipoParcela, "value", "key", Model.CodTipoParcela), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodTipoParcela)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-md-1">
            <div class="form-group-sm " style="">
                <label>Definir por Valor</label><br />
                @Html.CheckBox("tipo", Model.Valor > 0)
            </div>
        </div>
        <div class="col-sm-3" id="campo-valor" style="display:none">
            <div class="form-group">
                <label for="Valor">Valor minimo</label>
                @Html.TextBoxFor(m => m.Valor, new { @class = "form-control input-silver", data_mask = "money2" })
                @Html.ValidationMessageFor(m => m.Valor)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-3" id="campo-percentual">
            <div class="form-group">
                <label for="PercentualMinimo">Percentual Minimo</label>
                @Html.TextBoxFor(m => m.PercentualMinimo, new { @class = "form-control input-silver", data_mask = "percentual" })
                @Html.ValidationMessageFor(m => m.PercentualMinimo)
            </div>
        </div>
    </div>
    <!-- /.form-group -->
    <div class="row">

        <div class="col-sm-12">
            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="button" onclick="alterarFluxo()"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }
        </div>

        <div class="col-sm-3">

        </div>
    </div>

</form>
