﻿@model Cobranca.Db.Models.TabelaVendaFluxo
@{
    //ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
    int tabelaId = Cobranca.Db.Rotinas.DbRotinas.ConverterParaInt(Request.QueryString["tabela"]);
    Model.CodTabelaVenda = tabelaId;
    List<Cobranca.Db.Models.TabelaVendaFluxo> _listaFluxo = new List<Cobranca.Db.Models.TabelaVendaFluxo>();
    if (ViewBag.ListaFluxoPorTabela != null)
    {
        _listaFluxo = (List<Cobranca.Db.Models.TabelaVendaFluxo>)ViewBag.ListaFluxoPorTabela;
    }
}


<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-junix" role="tablist">
            <li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("Index","TabelaVenda")">Tabelas</a></li>
            <li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("Cadastro","TabelaVenda", new { id = Model.CodTabelaVenda})">Tabela</a></li>

            <li role="presentation" class="active btn-min-width text-center"><a href="@Url.Action("Cadastro", "TabelaVendaFluxo", new { tabela = Model.CodTabelaVenda })">Fluxo</a></li>
            <li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("Cadastro","TabelaVendaEmpreendimento",new { tabela = Model.CodTabelaVenda })">Tabela x Empreendimento</a></li>


        </ul>
    </div>
    <div class="col-md-12">

        <div class="panel panel-default panel-com-tab">
            <div class="panel-body">
                @if (Model.Cod <= 0)
                {
                    <button type="button" onclick="exbirForm()" class="btn btn-sm btn-primary pull-left btn-min-width" style="margin-bottom:10px;"><i class="fa fa-plus"></i> Adicionar</button>
                }

                <div class="row" id="dados-form" style="display:none">
                    <div class="col-md-12">
                        @Html.Partial("_form", Model)
                    </div>
                </div>
                <table class="table table-bordered data-table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th class="col-sm-1 text-center">#</th>
                            <th class="text-center" style="width:10px;">Ordem</th>
                            <th class="text-center">Tipo Parcela</th>
                            <th style="width:100px;">Minimo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in _listaFluxo.ToList())
                        {
                            <tr>
                                <td style="text-align:center">
                                    <a class="btn btn-xs btn-primary" href="@Url.Action("cadastro", new { id = item.Cod, tabela = Model.CodTabelaVenda })"><i class="fa fa-pencil"></i></a>
                                </td>
                                <td class="text-left">@item.Ordem</td>
                                <td class="text-left">@item.TabelaTipoParcela.TipoParcela</td>
                                <td class="text-center">

                                    @if (item.PercentualMinimo.HasValue)
                                    {
                                        <b>@item.PercentualMinimo %</b>
                                    }
                                    else
                                    {
                                        <b>R$ @item.Valor</b>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">


    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function exbirForm() {
            $("#dados-form").fadeIn();
        }
        @if(Model.Cod > 0)
        {
            <text>

        exbirForm();
        </text>
        }
        function excluir() {
            if (confirm("Confirma excluir o registro?")) {
                $.ajax({
                    url: '@Url.Action("Excluir")',
                    data: { id: $("#Cod").val() },
                    type: 'post',
                    dataType: 'json'
                }).success(function (result) {
                    document.location = '@Url.Action("index")';
                });
            }
        }
        $(document).ready(function () {

            if ($("#tipo").val() == "true") {
                $("#campo-percentual").hide();
                $("#campo-percentual").val("");
                $("#campo-valor").show();
            } else {
                $("#campo-valor").hide();
                $("#campo-valor").val("");
                $("#campo-percentual").show();
            }

            $("#tipo").bootstrapSwitch({ onText: 'R$', offText: '%', onColor: 'primary' });
            $("#tipo").on('switchChange.bootstrapSwitch', function (event, state) {

                if (state) {
                    $("#campo-percentual").hide();
                    $("#campo-percentual").val("");
                    $("#campo-valor").show();
                } else {
                    $("#campo-valor").hide();
                    $("#campo-valor").val("");
                    $("#campo-percentual").show();
                }
                return;
            });
        });
        function cancelar() {
            document.location = '@Url.Action("cadastro",new { id= 0,tabela = tabelaId })';
        }
        function alterarFluxo() {
            var formFluxo = $("#form-cadastro").serialize();
            $.ajax({
                url: '@Url.Action("AlteraFluxo")',
                data: formFluxo,
                type: 'post'
            }).success(function (retorno) {
                alert("Fluxo alterado com sucesso!");
                document.location = '@Url.Action("cadastro",new { id= 0,tabela = tabelaId })';
            });
        }
    </script>
}