﻿@model List<Cobranca.Db.Models.TabelaVendaFluxo>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-tabelaVenda";
}
<div class="heading-block">

</div>
<div class="row">
    <div class="col-md-12">

    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="breadcrumb no-margin-botton" style="margin-bottom:10px;">
                    <li class="active">Tabela de Vendas - Fluxo</li>
                </ul>
                <a href="@Url.Action("Cadastro",new{id = 0})" class="btn btn-sm btn-primary pull-left" style="margin-bottom:10px;"><i class="fa fa-plus"></i> Adicionar</a>
                <table class="table table-bordered data-table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th class="col-sm-1 text-center">#</th>                            
                            <th class="text-left">Nome Tabela Vendas</th>
                            <th class="text-center">Tipo Parcela</th>
                            <th class="text-center">Ordem</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ToList())
                        {
                            <tr>
                                <td style="text-align:center">
                                    <a class="btn btn-xs btn-primary" href="@Url.Action("cadastro", new { id = item.Cod })"><i class="fa fa-pencil"></i></a>
                                </td>                                
                                <td class="text-left">@item.TabelaVenda.Nome</td>
                                <td class="text-left">@item.TabelaTipoParcela.TipoParcela</td>
                                <td class="text-left">@item.TabelaTipoParcela.QtdMes</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function incluir() {
            //$("#incluir-form").modal("show");
            document.location = "@Url.Action("Cadastro",new{id = 0})"
        }
        function salvar() {
            var data = $("#form-cliente").serialize();
            $.ajax({
                url: "@Url.Action("Gravar")",
                data: data,
                type: 'post',
                dateTye: 'json'
            }).success(function (result) {
                console.log(result);
                if (result.OK) {
                    document.location.reload(true);
                } else {
                    if (result.Dados) {
                        alert(result.Mensagem);

                        for (var i = 0; i < result.Dados.length; i++) {
                            var erro = result.Dados[i];
                            $("#" + erro.Campo).parent().addClass("has-error");
                            $("[data-valmsg-for='" + erro.Campo + "']").text(erro.Mensagem).show().addClass("text-danger");

                        }
                    }
                }
            });
        }
        function editrar(id) {
            if (id) {
                document.location = id;
            }

        }
    </script>
}
