﻿@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";

}

<div class="panel panel-body box-shadon">
    <div class="row">
        <div class="col-md-4">
            <label><b>Data Agenda:</b></label>
            <div class="input-group">
                <button type="button" class="btn btn-default" onclick="abrirAgenda()" style="width:39px;">
                    <span class="fa fa-calendar"></span>
                </button>
                @Html.TextBox("DataAgenda", "", new { @class = "form-control input-silver", data_mask = "datetime", @disabled = "disabled", @style = "width: calc(100% - 39px); border-color: #ccc !important; border-right:none;" })
            </div>
        </div>
        <div class="col-sm-12">
            <div class="calendario-titulo">
                <i class="fa fa-calendar"></i> Minha Agenda

                <div class="widget-toolbar">
                    <!-- add: non-hidden - to disable auto hide -->
                    <div class="btn-group">
                        <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown" aria-expanded="false">
                            Exibir <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu js-status-update pull-right">
                            <li>
                                <a href="javascript:void(0);" id="mt">Mês</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" id="ag">Semana</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" id="td">Dia</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id='calendar'></div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">


        $(document).ready(function () {
            setTimeout(function () {
                $('.fc-prev-button').click(function () {
                    setarMesSelecionado();
                });

                $('.fc-next-button').click(function () {
                    setarMesSelecionado();
                });
            }, 500);
        });

        function abrirAgenda() {
            $.ajax({
                url: '@Url.Action("ListarCalendarioEventos")',
                type: 'post',
                data: obterFiltros()
            }).success(function (resultado) {
                jx.calendarioOpen(resultado, 'agendaWeek');
            });
        }

        function obterFiltros() {
            return {
                UsuarioId: $("#UsuarioId").val()
            }
        }

        function saveNovoEvento(eventos) {

        }
        //function carregarCalendario(d) {
        //    var dados = eval(d);
        //    $('#calendar').fullCalendar('destroy');
        //    var calendar = $('#calendar').fullCalendar({
        //        header: hdr,
        //        buttonText: {
        //            prev: '',
        //            next: ''
        //        },
        //        droppable: true, // this allows things to be dropped onto the calendar !!!
        //        defaultView: 'agendaWeek',
        //        selectable: true,
        //        selectHelper: true,
        //        select: function (start, end, allDay) {

        //            if (confirm("Deseja agendar para esta data?") == true) {
        //                alert("teste");
        //            }

        //            calendar.fullCalendar('unselect');
        //        },
        //        editable: true,
        //        events: dados,
        //        eventRender: function (event, element, icon) { // VERIFICA NOS EVENTOS SE TEM ALGUMA DESCRIÇAO OU ICONE E OS COLOCAM
        //            element.find('.fc-time').append("<br />");
        //            if (!event.description == "") {
        //                element.find('.fc-title').append("<br /><span class='ultra-light'>" + event.description +
        //                    "</span>");
        //            }
        //            if (!event.icon == "") {
        //                { element.find('.fc-title').append("<i class='air air-top-right fa " + event.icon + " '></i>"); }
        //            }
        //        },

        //        eventClick: function (calEvent, jsEvent, view) {
        //            $(".evento-destacado").removeClass("evento-destacado");
        //            $(this).addClass("evento-destacado");
        //        },
        //        windowResize: function (event, ui) {
        //            $('#calendar').fullCalendar('render');
        //        }

        //    });
        //    //setTimeout(carregarMesSelecionado, 500);
        //}
        //function setarMesSelecionado() {
        //    var d = $('#calendar').fullCalendar('getDate')._d;
        //}
        //function carregarMesSelecionado() {
        //    var date = new Date($('#calendar').fullCalendar('getDate'));
        //    var d = $('#calendar').fullCalendar('getDate')._d;
        //    var m = d.getMonth()
        //    var obj = {
        //        dia: 1, ano: d.getFullYear(), mes: parseInt(m)
        //    };
        //    $('#calendar').fullCalendar('gotoDate', obj.ano + "-" + obj.mes);
        //}

        //$('#mt').click(function () {
        //    $('#calendar').fullCalendar('changeView', 'month');
        //});

        //$('#ag').click(function () {
        //    $('#calendar').fullCalendar('changeView', 'agendaWeek');
        //});

        //$('#td').click(function () {
        //    $('#calendar').fullCalendar('changeView', 'agendaDay');
        //});
    </script>
}
