﻿@{
    ViewBag.Title = "Index";
}


<div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group-sm">
                        <label for="CodConstrutora">Empresa</label><br />
                        @Html.DropDownList("CodConstrutora", new SelectList(ViewBag.ListaConstrutora, "value", "key", 0), new { @class = "form-control input-silver"})
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group-sm">
                        <label for="CodRegional">Filial</label>
                        @Html.DropDownList("CodRegional", new SelectList(ViewBag.ListaRegional, "value", "key", 0), new { @class = "form-control input-silver"})
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group-sm">
                        <label for="CodProduto">Produto</label>
                        @Html.DropDownList("CodProduto", new SelectList(ViewBag.ListaProduto, "value", "key", 0), new { @class = "form-control input-silver"})
                    </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-1">
                    <div class="form-group-sm">
                        <label for="CodProduto">Valor</label>
                        @Html.TextBox("ValorProduto", "", new { @class = "form-control input-silver", data_mask = "money2" })
                     </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-1">
                    <div class="form-group-sm">
                        <label for="CodProduto">Qtd Parcela</label>
                        @Html.TextBox("QtdParcela", "", new { @class = "form-control input-silver", data_mask="inteiro" })
                    </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-1">
                    <div class="form-group-sm">
                        <label for="CodProduto">Valor Parcela</label>
                        @Html.TextBox("ValorParcela", "", new { @class = "form-control input-silver", data_mask = "inteiro" })
                    </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-1">
                    <div class="form-group-sm">
                        <label for="CodProduto">Valor Total</label>
                        @Html.TextBox("ValorTotal", "", new { @class = "form-control input-silver", data_mask = "inteiro" })
                    </div> <!-- /.form-group -->
                </div>
                <div class="col-sm-1">
                    <div class="form-group-sm">
                        <label for="CodProduto">Resto</label>
                        @Html.TextBox("Resto", "", new { @class = "form-control input-silver", data_mask = "inteiro" })
                    </div> <!-- /.form-group -->
                </div>
            </div>
        </div>
    </div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group-sm">
                    <label for="CodConstrutora">Pessoa</label><br />
                    @Html.DropDownList("CodConstrutora", new SelectList(Cobranca.Db.Models.EnumeradoresLista.TipoPessoa(), "value", "key", 0), new { @class = "form-control input-silver" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group-sm">
                    <label id="NomePessoa">Nome</label>
                    @Html.TextBox("Nome", "", new { @class = "form-control input-silver" })
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group-sm">
                    <label id="DocPessoa">CPF</label>
                    @Html.TextBox("CPF",  "", new { @class = "form-control input-silver", required = "required" })
                </div> <!-- /.form-group -->
            </div>
            <div class="col-sm-2">
                <div class="form-group-sm">
                    <label id="DocPessoa">Data Nascimento</label>
                    @Html.TextBox("DataNascimento",  null, new { @class = "form-control input-silver", data_mask="datetime" })
                </div> <!-- /.form-group -->
            </div>
            <div class="col-sm-2">
                <div class="form-group-sm">
                    <label id="DocPessoa">Estado Civil</label>
                    @Html.DropDownList("EstadoCivil", new SelectList(Cobranca.Db.Models.EnumeradoresLista.EstadoCivil(), "value", "key", ""), new { @class = "form-control input-silver", onchange = "campoRequerido($('#form-comprador').find('#EstadoCivil').val())" })
                </div> <!-- /.form-group -->
            </div>

        </div>
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-default btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">   
        $(document).ready(function () {
            $("#QtdParcela").change(function () {
                CalcularValorParcela();
            })
        });

        function CalcularValorParcela() {
            var valor = $("#ValorProduto").val();
            var qtd = $("#QtdParcela").val();
            $.ajax({
                url: '@Url.Action("CalcularValorParcela", "InclusaoContrato")',
                type: 'post',
                dataType: 'json',
                data: { Valor: valor, QtdParcela: qtd }
            }).success(function (resultado) {
                debugger
                $("#ValorParcela").val(resultado.ValorParcela)
                $("#ValorTotal").val(resultado.ValorTotal)
                $("#Resto").val(resultado.Resto)
            })
        }
     </script>
}


