﻿@model Cobranca.Db.Models.TabelaBancoPortadorGrupo
@{}
<form id="form-cadastro-grupo" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row margin-top-20">
        <div class="col-md-12">
            <label class="">campos</label><br>
            <label onclick="addChave(this)" class="label label-info pull-left label-lg cursor-pointer">@@NUMERO_LOTE_ATUAL</label>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="form-group-sm">
                <label for="Nome">Nome</label>
                @Html.TextBoxFor(m => m.NomeArquivo, new { @class = "form-control input-silver", placeHolder = "COB_341_5895_00025302" })
            </div> <!-- /.form-group -->
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6">
            <div class="form-group-sm">
                <label for="NumeroLote">Número do Lote</label>
                @Html.TextBoxFor(m => m.NumeroLote, new { @class = "form-control input-silver", data_mask = "inteiro" })
            </div> <!-- /.form-group -->
        </div>
        @if (Model.Cod > 0)
        {
            <div class="col-xs-6 col-md-6 col-lg-6">
                <div class="form-group-sm">
                    <label for="NumeroLoteAtual">Número do Lote Atual</label>
                    @Html.TextBoxFor(m => m.NumeroLoteAtual, new { @class = "form-control input-silver", data_mask = "inteiro", disabled = "disabled" })
                </div> <!-- /.form-group -->
            </div>
        }

    </div>
</form>
