﻿@model Cobranca.Db.Models.TabelaBancoPortador
@using Cobranca.Rotinas;
@{
    //if (Model.Cod == 0) {
    //    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    //}
    if (Model.MultaAtraso != null)
    {
        Model.MultaAtraso = Decimal.Round((decimal)Model.MultaAtraso, 2);
    }
    if (Model.JurosAoMesPorcentagem != null)
    {
        Model.JurosAoMesPorcentagem = Decimal.Round((decimal)Model.JurosAoMesPorcentagem, 2);
    }

}
<style>
    .checkbox label .toggle, .checkbox-inline .toggle {
        margin-left: -20px;
        margin-right: 5px
    }

    .toggle {
        position: relative;
        overflow: hidden
    }

        .toggle input[type=checkbox] {
            display: none
        }

    .toggle-group {
        position: absolute;
        width: 200%;
        top: 0;
        bottom: 0;
        left: 0;
        transition: left .35s;
        -webkit-transition: left .35s;
        -moz-user-select: none;
        -webkit-user-select: none
    }

    .toggle.off .toggle-group {
        left: -100%
    }

    .toggle-on {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 50%;
        margin: 0;
        border: 0;
        border-radius: 0
    }

    .toggle-off {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
        margin: 0;
        border: 0;
        border-radius: 0
    }

    .toggle-handle {
        position: relative;
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;
        width: 0;
        border-width: 0 1px
    }

    .toggle.btn {
        min-width: 59px;
        min-height: 34px
    }

    .toggle-on.btn {
        padding-right: 24px
    }

    .toggle-off.btn {
        padding-left: 24px
    }

    .toggle.btn-lg {
        min-width: 79px;
        min-height: 45px
    }

    .toggle-on.btn-lg {
        padding-right: 31px
    }

    .toggle-off.btn-lg {
        padding-left: 31px
    }

    .toggle-handle.btn-lg {
        width: 40px
    }

    .toggle.btn-sm {
        min-width: 50px;
        min-height: 30px
    }

    .toggle-on.btn-sm {
        padding-right: 20px
    }

    .toggle-off.btn-sm {
        padding-left: 20px
    }

    .toggle.btn-xs {
        min-width: 35px;
        min-height: 22px
    }

    .toggle-on.btn-xs {
        padding-right: 12px
    }

    .toggle-off.btn-xs {
        padding-left: 12px
    }
</style>
<script>
    +function (a) { "use strict"; function b(b) { return this.each(function () { var d = a(this), e = d.data("bs.toggle"), f = "object" == typeof b && b; e || d.data("bs.toggle", e = new c(this, f)), "string" == typeof b && e[b] && e[b]() }) } var c = function (b, c) { this.$element = a(b), this.options = a.extend({}, this.defaults(), c), this.render() }; c.VERSION = "2.2.0", c.DEFAULTS = { on: "On", off: "Off", onstyle: "primary", offstyle: "default", size: "normal", style: "", width: null, height: null }, c.prototype.defaults = function () { return { on: this.$element.attr("data-on") || c.DEFAULTS.on, off: this.$element.attr("data-off") || c.DEFAULTS.off, onstyle: this.$element.attr("data-onstyle") || c.DEFAULTS.onstyle, offstyle: this.$element.attr("data-offstyle") || c.DEFAULTS.offstyle, size: this.$element.attr("data-size") || c.DEFAULTS.size, style: this.$element.attr("data-style") || c.DEFAULTS.style, width: this.$element.attr("data-width") || c.DEFAULTS.width, height: this.$element.attr("data-height") || c.DEFAULTS.height } }, c.prototype.render = function () { this._onstyle = "btn-" + this.options.onstyle, this._offstyle = "btn-" + this.options.offstyle; var b = "large" === this.options.size ? "btn-lg" : "small" === this.options.size ? "btn-sm" : "mini" === this.options.size ? "btn-xs" : "", c = a('<label class="btn">').html(this.options.on).addClass(this._onstyle + " " + b), d = a('<label class="btn">').html(this.options.off).addClass(this._offstyle + " " + b + " active"), e = a('<span class="toggle-handle btn btn-default">').addClass(b), f = a('<div class="toggle-group">').append(c, d, e), g = a('<div class="toggle btn" data-toggle="toggle">').addClass(this.$element.prop("checked") ? this._onstyle : this._offstyle + " off").addClass(b).addClass(this.options.style); this.$element.wrap(g), a.extend(this, { $toggle: this.$element.parent(), $toggleOn: c, $toggleOff: d, $toggleGroup: f }), this.$toggle.append(f); var h = this.options.width || Math.max(c.outerWidth(), d.outerWidth()) + e.outerWidth() / 2, i = this.options.height || Math.max(c.outerHeight(), d.outerHeight()); c.addClass("toggle-on"), d.addClass("toggle-off"), this.$toggle.css({ width: h, height: i }), this.options.height && (c.css("line-height", c.height() + "px"), d.css("line-height", d.height() + "px")), this.update(!0), this.trigger(!0) }, c.prototype.toggle = function () { this.$element.prop("checked") ? this.off() : this.on() }, c.prototype.on = function (a) { return this.$element.prop("disabled") ? !1 : (this.$toggle.removeClass(this._offstyle + " off").addClass(this._onstyle), this.$element.prop("checked", !0), void (a || this.trigger())) }, c.prototype.off = function (a) { return this.$element.prop("disabled") ? !1 : (this.$toggle.removeClass(this._onstyle).addClass(this._offstyle + " off"), this.$element.prop("checked", !1), void (a || this.trigger())) }, c.prototype.enable = function () { this.$toggle.removeAttr("disabled"), this.$element.prop("disabled", !1) }, c.prototype.disable = function () { this.$toggle.attr("disabled", "disabled"), this.$element.prop("disabled", !0) }, c.prototype.update = function (a) { this.$element.prop("disabled") ? this.disable() : this.enable(), this.$element.prop("checked") ? this.on(a) : this.off(a) }, c.prototype.trigger = function (b) { this.$element.off("change.bs.toggle"), b || this.$element.change(), this.$element.on("change.bs.toggle", a.proxy(function () { this.update() }, this)) }, c.prototype.destroy = function () { this.$element.off("change.bs.toggle"), this.$toggleGroup.remove(), this.$element.removeData("bs.toggle"), this.$element.unwrap() }; var d = a.fn.bootstrapToggle; a.fn.bootstrapToggle = b, a.fn.bootstrapToggle.Constructor = c, a.fn.toggle.noConflict = function () { return a.fn.bootstrapToggle = d, this }, a(function () { a("input[type=checkbox][data-toggle^=toggle]").bootstrapToggle() }), a(document).on("click.bs.toggle", "div[data-toggle^=toggle]", function (b) { var c = a(this).find("input[type=checkbox]"); c.bootstrapToggle("toggle"), b.preventDefault() }) }(jQuery);
</script>
<style>
    .effect-panel {
        border-top: 1px solid #e5e5e5;
        box-shadow: inset 0 4px 3px -3px rgba(0,0,0,0.14), inset 0 -4px 4px -3px rgba(0,0,0,0.14);
    }
</style>
<div class="margin-top-20">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-junix" role="tablist">
            <li role="presentation" class="active"><a href="#TAB-INFORMACAO" role="tab" data-toggle="tab">@Idioma.Traduzir("Informação")</a></li>
            <li role="presentation"><a href="#TAB-INSTRUCAO" aria-controls="profile" role="tab" data-toggle="tab">@Idioma.Traduzir("Instrução")</a></li>
        </ul>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default panel-com-tab">
            <div class="panel-body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="TAB-INFORMACAO">
                        <div class="col-md12 " id="informacao" style="">
                            <div class="card-aulixiar-form" role="dialog">
                                @*<div class="row" style="margin-top:3px;">
                                        <div class="col-md-12">
                                            <header>
                                                Informações
                                            </header>
                                        </div>

                                    </div>*@
                                <div class="" role="document">
                                    <form id="form-cadastro" class="form animated fadeIn" method="POST" action="#">
                                        @Html.HiddenFor(m => m.Cod)
                                        @Html.HiddenFor(m => m.DataCadastro)
                                        @Html.HiddenFor(m => m.DataAlteracao)
                                        @Html.HiddenFor(m => m.DataExcluido)
                                        @Html.ValidationBootstrapModal()
                                        @Html.AntiForgeryToken()
                                        @Html.Modal()
                                        <div class="row">

                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <div class="heading-block">
                                                    <span><i class="fa fa-bank"></i>&nbsp;@Idioma.Traduzir("Info. Bancária")</span>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group-sm">
                                                    <label for="Padrao">@Idioma.Traduzir("Padrão")</label><br />
                                                    <label class="checkbox-inline">
                                                        <input id="Padrao" name="Padrao" type="checkbox" @string.Format("{0}", Model.Padrao == true ? "checked" : "") data-toggle="toggle" data-size="small" data-onstyle="success" data-on="@Idioma.Traduzir("Sim")" data-off="@Idioma.Traduzir("Não")">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4 col-lg-4">
                                                <div class="form-group-sm" style="margin-bottom:0px;">
                                                    <label for="BancoNumero">
                                                        @Idioma.Traduzir("Nome Banco")
                                                    </label>
                                                    @Html.DropDownListFor(m => m.CodBanco, new SelectList(ViewBag.ListaBancos, "key", "value", Model.CodBanco), new { @class = "form-control input-silver" })

                                                    @Html.ValidationMessageFor(m => m.BancoNumero)
                                                </div>

                                            </div>

                                            <div class="col-lg-2 col-md-1 col-sm-6 col-xs-6">
                                                <div class="form-group-sm">
                                                    <label for="Agencia">@Idioma.Traduzir("Agência")</label>
                                                    @Html.TextBoxFor(m => m.Agencia, new { @class = "form-control input-silver" })
                                                    @Html.ValidationMessageFor(m => m.Agencia)
                                                </div> <!-- /.form-group -->
                                            </div>
                                            <div class="col-lg-1 col-md-1  col-xs-6">
                                                <div class="form-group-sm">
                                                    <label for="AgenciaDigito">@Idioma.Traduzir("Digito")</label>
                                                    @Html.TextBoxFor(m => m.AgenciaDigito, new { @class = "form-control input-silver" })
                                                    @Html.ValidationMessageFor(m => m.AgenciaDigito)
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                                <div class="form-group-sm">
                                                    <label for="Conta">@Idioma.Traduzir("Conta")</label>
                                                    @Html.TextBoxFor(m => m.Conta, new { @class = "form-control input-silver" })
                                                    @Html.ValidationMessageFor(m => m.Conta)
                                                </div> <!-- /.form-group -->
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-4 col-xs-6">
                                                <div class="form-group-sm">
                                                    <label for="CodConstrutora">@Idioma.Traduzir("Digito")</label>
                                                    @Html.TextBoxFor(m => m.ContaDigito, new { @class = "form-control input-silver" })
                                                    @Html.ValidationMessageFor(m => m.ContaDigito)
                                                </div> <!-- /.form-group -->
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <div class="form-group-sm">
                                                    <label for="Carteira">@Idioma.Traduzir("Carteira")</label>
                                                    @Html.DropDownList("Carteira", new SelectList(ViewBag.ListaCarteira, "key", "value", Model.Carteira), new { @class = "form-control input-silver" })
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                                                <div class="form-group-sm">
                                                    <label for="MultaAtraso">@Idioma.Traduzir("Multa de Atrs.(%)")<i class="glyphicon glyphicon-info-sign icon-tooltip" title="<b>Cobrar Multa(ex: 2,00%)</b>" data-toggle="tooltip" data-placement="right" data-html="true"></i></label>
                                                    @Html.TextBox("MultaAtraso", Model.MultaAtraso, new { @class = "form-control input-silver", data_mask = "percentual" })
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                                                <div class="form-group-sm">
                                                    <label for="JurosAoMesPorcentagem">@Idioma.Traduzir("Juros (% ao mês)") <i class="glyphicon glyphicon-info-sign icon-tooltip" title="<b>Juros ao mês</b>" data-toggle="tooltip" data-placement="right" data-html="true"></i></label>
                                                    @Html.TextBoxFor(m => m.JurosAoMesPorcentagem, new { @class = "form-control input-silver", data_mask = "percentual" })
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                                <div class="form-group-sm">
                                                    <label for="NumeroDiaRegistroBoleto">@Idioma.Traduzir("Nr. Dias Banco") <i class="glyphicon glyphicon-info-sign icon-tooltip" title="@Idioma.Traduzir("Número de Dias em que o boleto fica resgistrado junto ao banco. Após este n° deverá ser emitido somente como novo boleto.")" data-toggle="tooltip" data-placement="right" data-html="true"></i></label>
                                                    @Html.TextBoxFor(m => m.NumeroDiaRegistroBoleto, new { @class = "form-control input-silver", data_mask = "inteiro" })
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                                <div class="form-group-sm">
                                                    <label for="DataInicialRegistroBoleto">@Idioma.Traduzir("Dt. Incio Boleto") <i class="glyphicon glyphicon-info-sign icon-tooltip" title="@Idioma.Traduzir("Todos os boletos emitidos antes desta data, poderá emitir como novo boleto para ser registrado junto ao banco.")" data-toggle="tooltip" data-placement="right" data-html="true"></i></label>
                                                    @Html.TextBoxFor(m => m.DataInicialRegistroBoleto, new { @class = "form-control input-silver", data_mask = "datetime" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-xs-12 margin-top-16">
                                                <div class="heading-block">
                                                    <span><i class="fa fa-building-o"></i>&nbsp;@Idioma.Traduzir("Info. Cedente")</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8 col-lg-8">
                                                <div class="input-group">
                                                    <label style="margin-bottom: 0px;">Agrupador <i class="glyphicon glyphicon-info-sign icon-tooltip" title="Arquivo onde deve ser gerado esta configuração." data-toggle="tooltip" data-placement="right" data-html="true"></i></label>
                                                    @Html.DropDownListFor(m => m.CodBancoPortadorGrupo, new SelectList(ViewBag.GrupoBancoPortador, "value", "key", Model.CodBancoPortadorGrupo), new { @class = "form-control input-silver", style = "border-top-right-radius: 0 !important;border-bottom-right-radius: 0!important;height: 30px;" })
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default" data-id="@Model.CodBancoPortadorGrupo" type="button" onclick="OpenGrupo(this)" style="margin-top: 0px; border-top-left-radius: 0 !important;border-bottom-left-radius: 0!important; height: 30px;">
                                                            @if (Model.CodBancoPortadorGrupo > 0)
                                                            {
                                                                <i data-icon="true" class="fa fa-pencil"></i>
                                                            }
                                                            else
                                                            {
                                                                <i data-icon="true" class="fa fa-plus"></i>
                                                            }
                                                        </button>
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-1 col-xs-6">
                                                <div class="form-group-sm">
                                                    <label for="CompanhiaFiscal">@Idioma.Traduzir("Comp.Fiscal") <i class="glyphicon glyphicon-info-sign icon-tooltip" title="<b>Número Companhia</b>" data-toggle="tooltip" data-placement="right" data-html="true"></i></label>
                                                    @Html.TextBoxFor(m => m.CompanhiaFiscal, new { @class = "form-control input-silver" })
                                                    @Html.ValidationMessageFor(m => m.CompanhiaFiscal)
                                                </div> <!-- /.form-group -->
                                            </div>
                                            @*<div class="col-lg-2 col-md-1 col-xs-6">
                                                    <div class="form-group-sm">
                                                        <label for="Companhia">@Idioma.Traduzir("Companhia") <i class="glyphicon glyphicon-info-sign icon-tooltip" title="<b>Número Companhia</b>" data-toggle="tooltip" data-placement="right" data-html="true"></i></label>
                                                        @Html.TextBoxFor(m => m.Companhia, new { @class = "form-control input-silver" })
                                                        @Html.ValidationMessageFor(m => m.Companhia)
                                                    </div>
                                                </div>*@
                                            <div class="col-xs-12 col-md-4 col-lg-4">
                                                <div class="form-group-sm" style="margin-bottom:0px;">
                                                    <label for="CodRegionalGrupo">
                                                        @Idioma.Traduzir("Filial")
                                                    </label>
                                                    @Html.DropDownList("CodRegionalGrupo", new SelectList(ViewBag.dropRegionais, "key", "value", Model.CodRegionalGrupo), new { @class = "form-control input-silver" })
                                                    @Html.ValidationMessageFor(m => m.CodRegionalGrupo)
                                                </div>

                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-xs-12 ">
                                                <div class="form-group-sm">
                                                    <label for="CodConstrutora">@Idioma.Traduzir("CNPJ")</label>
                                                    @Html.TextBoxFor(m => m.CNPJ, new { @class = "form-control input-silver", data_mask = "cnpj" })
                                                    @Html.ValidationMessageFor(m => m.CNPJ)
                                                </div> <!-- /.form-group -->
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group-sm">
                                                    <label for="CodConstrutora">@Idioma.Traduzir("Cedente") <i class="glyphicon glyphicon-info-sign icon-tooltip" title="<b>Nome da Empresa</b>" data-toggle="tooltip" data-placement="right" data-html="true"></i></label>
                                                    @Html.TextBoxFor(m => m.Portador, new { @class = "form-control input-silver" })
                                                    @Html.ValidationMessageFor(m => m.Portador)
                                                </div> <!-- /.form-group -->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                                <div class="form-group-sm">
                                                    <label for="CEP">@Idioma.Traduzir("CEP")</label>
                                                    @Html.TextBoxFor(m => m.CEP, new { @class = "form-control input-silver", data_mask = "CEP" })
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group-sm">
                                                    <label for="Endereco">@Idioma.Traduzir("Endereço")</label>
                                                    @Html.TextBoxFor(m => m.Endereco, new { @class = "form-control input-silver" })
                                                </div>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
                                                <div class="form-group-sm">
                                                    <label for="EnderecoNumero">@Idioma.Traduzir("Número")</label>
                                                    @Html.TextBoxFor(m => m.EnderecoNumero, new { @class = "form-control input-silver" })
                                                </div>
                                            </div>

                                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                                                <div class="form-group-sm">
                                                    <label for="Cidade">@Idioma.Traduzir("Cidade")</label>
                                                    @Html.TextBoxFor(m => m.Cidade, new { @class = "form-control input-silver" })
                                                </div>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6">
                                                <div class="form-group-sm">
                                                    <label for="UF">@Idioma.Traduzir("UF")</label>
                                                    @Html.TextBoxFor(m => m.UF, new { @class = "form-control input-silver" })
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="TAB-INSTRUCAO">
                        <div class="row">
                            <div class="col-md-12 animated fadeIn" style="margin-top:-15px; padding-right:0px;" id="instrucao">
                                <div class="card-aulixiar-form  effect-panel " style=" max-height: 350px; min-height:350px; overflow-x: hidden;overflow-y: scroll;">
                                    <form id="form-cadastro-banco-informacao" class="card-aulixiar-form" action="@Url.Action("SalvarInstrucao")" class="form" method="POST">
                                        <div class="row" style="margin-top:3px;">
                                            <div class="col-md-12">
                                                <header>
                                                    Instrução impressa no boleto
                                                </header>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="label label-info pull-left label label-lg cursor-pointer">@@DATA_VENCIMENTO</label>
                                                <label class="label label-info pull-left label label-lg cursor-pointer">@@VR_JUROS_POR_DIA</label>
                                                <label class="label label-info pull-left label label-lg cursor-pointer">@@VR_MULTA_ATRASO</label>
                                                <label class="label label-info pull-left label label-lg cursor-pointer">@@%_JUROS_POR_DIA</label>
                                                <label class="label label-info pull-left label label-lg cursor-pointer">@@%_MULTA_ATRASO</label>

                                            </div>


                                        </div>

                                        @foreach (var instrucao in Model.TabelaBancoPortadorInstrucaos)
                                        {
                                            @Html.Partial("_instrucao", instrucao)
                                        }
                                        <div class="addFormInstrucao"></div>
                                    </form>

                                </div>
                                <div class="row">
                                    <div class="col-md-4 pull-right" style="margin-top:5px;">
                                        <button class="btn btn-sm btn-default btn-block" data-banco="@Model.Cod" onclick="addInstrucao(this)" style="margin-bottom:0px; margin-bottom:10px;" type="button"><i class="fa fa-plus"></i> @Idioma.Traduzir("Incluir uma Nova Instrução")</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-xs-12 col-lg-offset-6 col-lg-2">
            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default btn-block" onclick="remover()" type="button"><i class="fa fa-trash"></i>&nbsp;@Idioma.Traduzir("Remover")</button>
            }
        </div>
        <div class="col-xs-12 col-lg-2">
            <button class="btn btn-sm btn-primary btn-block" type="button" onclick="Salvar()"><i class="fa fa-save"></i>&nbsp;@Idioma.Traduzir("Salvar")</button>
        </div>
        <div class="col-xs-12 col-lg-2">
            <button type="button" onclick="cancelar()" class="btn btn-sm btn-block">&nbsp;@Idioma.Traduzir("Cancelar")</button>
        </div>
    </div>
</div>



