﻿@model Cobranca.Db.Models.TabelaBancoPortador
@using Cobranca.Rotinas;
@{
    //if (Model.Cod == 0) {
    //    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    //}
    if (Model.MultaAtraso != null)
    {
        Model.MultaAtraso = Decimal.Round((decimal)Model.MultaAtraso, 2);
    }
    if (Model.JurosAoMesPorcentagem != null)
    {
        Model.JurosAoMesPorcentagem = Decimal.Round((decimal)Model.JurosAoMesPorcentagem, 2);
    }

}


<div class="margin-top-20">
    <form id="form-cadastro" class="form animated fadeIn" method="POST" action="#">
        @Html.HiddenFor(m => m.Cod)
        @Html.HiddenFor(m => m.DataCadastro)
        @Html.HiddenFor(m => m.BancoNumero)
        @Html.HiddenFor(m => m.DataAlteracao)
        @Html.HiddenFor(m => m.DataExcluido)
        @Html.ValidationBootstrapModal()
        @Html.AntiForgeryToken()
        @Html.Modal()
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group-sm">
                    <label for="CodConstrutora">Cedente <i class="glyphicon glyphicon-info-sign icon-tooltip" title="<b>Nome da Empresa</b>" data-toggle="tooltip" data-placement="right" data-html="true"></i></label>
                    @Html.TextBoxFor(m => m.Portador, new { @class = "form-control input-silver" })
                    @Html.ValidationMessageFor(m => m.Portador)
                </div> <!-- /.form-group -->
            </div>
            <div class="col-sm-2">
                <div class="form-group-sm">
                    <label for="CodConstrutora">CNPJ</label>
                    @Html.TextBoxFor(m => m.CNPJ, new { @class = "form-control input-silver" })
                    @Html.ValidationMessageFor(m => m.CNPJ)
                </div> <!-- /.form-group -->
            </div>
            <div class="col-sm-1">
                <div class="form-group-sm">
                    <label for="CodConstrutora">Agência</label>
                    @Html.TextBoxFor(m => m.Agencia, new { @class = "form-control input-silver" })
                    @Html.ValidationMessageFor(m => m.Agencia)
                </div> <!-- /.form-group -->
            </div>
            <div class="col-sm-1">
                <div class="form-group-sm">
                    <label for="CodConstrutora">Digito</label>
                    @Html.TextBoxFor(m => m.AgenciaDigito, new { @class = "form-control input-silver" })
                    @Html.ValidationMessageFor(m => m.AgenciaDigito)
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group-sm">
                    <label for="CodConstrutora">Conta (Cód. Cedente)</label>
                    @Html.TextBoxFor(m => m.Conta, new { @class = "form-control input-silver" })
                    @Html.ValidationMessageFor(m => m.Conta)
                </div> <!-- /.form-group -->
            </div>
            <div class="col-sm-1">
                <div class="form-group-sm">
                    <label for="CodConstrutora">Digito</label>
                    @Html.TextBoxFor(m => m.ContaDigito, new { @class = "form-control input-silver" })
                    @Html.ValidationMessageFor(m => m.ContaDigito)
                </div> <!-- /.form-group -->
            </div>
            <div class="col-sm-2">
                <div class="form-group-sm" style="margin-bottom:0px;">
                    <label for="Carteira">Carteira</label>
                    @Html.DropDownList("Carteira", new SelectList(ViewBag.ListaCarteira, "key", "value", 109), new { @class = "form-control input-silver" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <div class="form-group-sm">
                    <label for="MultaAtraso">Multa de Atraso (%) <i class="glyphicon glyphicon-info-sign icon-tooltip" title="<b>Cobrar Multa (ex: 2,00%)</b>" data-toggle="tooltip" data-placement="right" data-html="true"></i></label>
                    @Html.TextBox("MultaAtraso", Model.MultaAtraso, new { @class = "form-control input-silver", data_mask = "percentual" })
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group-sm">
                    <label for="JurosAoMesPorcentagem">Juros (% ao mês) <i class="glyphicon glyphicon-info-sign icon-tooltip" title="<b>Juros ao mês</b>" data-toggle="tooltip" data-placement="right" data-html="true"></i></label>
                    @Html.TextBoxFor(m => m.JurosAoMesPorcentagem, new { @class = "form-control input-silver", data_mask = "percentual" })
                </div>
            </div>

        </div>
    </form>
    <div class="card-aulixiar-form">
        <hr />
        <form id="form-cadastro-banco-informacao" class="card-aulixiar-form" action="@Url.Action("SalvarInstrucao")" class="form" method="POST">
            @foreach (var instrucao in Model.TabelaBancoPortadorInstrucaos)
            {
                @Html.Partial("_instrucao", instrucao)
            }
            <div class="addFormInstrucao"></div>
        </form>
        <button class="btn btn-sm btn-primary pull-left" data-banco="@Model.Cod" id="btnNovaInstrucao" style="margin-bottom:0px; margin-bottom:10px;" type="button"><i class="fa fa-plus"></i> @Idioma.Traduzir("Novo")</button>
    </div>
</div>

<!-- /.form-group -->
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-sm btn-primary pull-left btn-min-width" type="button" data-btn="salvarConfiguracao"><i class="fa fa-save"></i>&nbsp;Salvar</button>
        <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
        @if (Model.Cod > 0)
            {
            <button class="btn btn-sm btn-default pull-left btn-min-width" data-btn="excluirConfiguracao" data-id="@Model.Cod" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
        }
    </div>
    <div class="col-sm-3">
    </div>
</div>


