﻿@model Cobranca.Db.Models.TabelaBancoPortadorInstrucao
@using Cobranca.Rotinas;
@{
}
@Html.Hidden("Cod", Model.Cod)
@Html.Hidden("CodBancoPortador", Model.CodBancoPortador)
<div class="row animated fadeIn" id="@Model.Cod" data-elem-clone="contato">
    <span class="removeClone" onclick="removerInstrucao(@Model.Cod,$(this))" title="Remover">&nbsp;</span>
    <div class="col-xs-8 col-md-9 col-lg-9">
        <div class="form-group-sm">
            <label for="CodCliente">@Idioma.Traduzir("Cód Instrução") <i class="glyphicon glyphicon-info-sign icon-tooltip" title="<b>Instrução será transmitida para banco.</b>" data-toggle="tooltip" data-placement="right" data-html="true"></i></label>
            @Html.DropDownList("CodigoInstrucao", new SelectList(ViewBag.dropInstrucao, "value", "key", Cobranca.Db.Rotinas.DbRotinas.ConverterParaInt(Model.CodigoInstrucao)), new { @class = "form-control input-silver", data_elem = Model.Cod })
        </div>
    </div>
    <div data-el-num="numero" class="col-xs-4 col-md-2 col-lg-2">
        <div class="form-group-sm">
            <label for="Numero">@Idioma.Traduzir("XX")</label>
            @Html.TextBox("Numero", Model.Numero, new { @class = "form-control input-silver", data_tipo_campo = "inteiro", data_elem = Model.Cod })
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="form-group-sm">
            <label for="Descricao">@Idioma.Traduzir("Informação Impressa")</label>
            @Html.TextBox("Descricao", Model.Descricao, new { @class = "form-control input-silver", data_elem = Model.Cod })
        </div>
    </div>

    <div class="col-lg-4" style="overflow-y:scroll; max-height:180px; margin-top:-15px;">
        <div class="col-sm-12 col-md-12" id="msgInstrucao">
        </div>
    </div>

    <div class="col-md-12">
        <hr class="clear" size="1">
    </div>

</div>