﻿@model Cobranca.Db.Models.TabelaBancoPortador
@using Cobranca.Rotinas;
@{
    //ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
    //if (Model.TabelaEndereco == null)
    //{
    //    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    //}

}
<div class="panel panel-body box-shadon">
    <div class="layout layout-stack-sm layout-main-left">
        <div class="col-md-12">
            <div class="portlet portlet-default">
                <div class="portlet-header">
                    <div class="heading-block">
                        <ul class="breadcrumb">
                            <li class=""><a href="@Url.Action("Index")">Configuração Boleto</a></li>
                            <li class="active">Cadastro</li>
                        </ul>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        @Html.Partial("_formInfo", Model)
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="modal-form-grupo">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer"></div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var _formModal = $("#modal-form-grupo");
        $BancoElement = $("#CodBanco");
        $(document).ready(function () {
            ConfigBanco();
            $BancoElement.change(function () { ConfigBanco(); });

            $("#form-cadastro").find("#CEP").mask('00000-000', { reverse: true });
        });

         function Excluir() {
            jx.modalConfirm('Exclusão', 'Deseja excluir o registro?', excluirOK)
        }

        function ConfigBanco() {
            jx.popularDropdown($("#Carteira"), '@Url.Action("ListarCarteira")', {
                CodBanco: $("#CodBanco").val()
                }, function (d) {
                    $.ajax({
                            url: '@Url.Action("ObterCarteira")',
                            data: { id: $("#Cod").val() },
                            type: 'get',
                            dataType: 'json'
                        }).success(function (result) {
                            $("#Carteira").val(result.carteira);
                        });
                });

        }

        function excluirOK() {
            var id = $('#Cod').val();
            $.ajax({
                url: '@Url.Action("Excluir")',
                data: { id: id },
                type: 'post',
                dataType: 'json'
            }).success(function (op) {
                jx.modalOK("Operação realizada com sucesso!", op.OK)
                ResetForm();
            });
        }
        function OpenGrupo(e) {
            var data = $(e).attr("data-id");
            _formModal.find(".modal-body").empty();
            _formModal.find(".modal-footer").empty();
            _formModal.find(".modal-title").empty().text("Informações do Arquivo");
            _formModal.find(".modal-body").load("/BancoPortador/DadosGrupo/?cod=" + data, function () {


                _formModal.find(".modal-body").css("padding-top", "0px")
                _formModal.find(".modal-footer").append('<button type="button" class="btn btn-sm btn-primary" onclick="SaveGrupo()"><i class="fa fa-save"></i> Salvar</button>')
                _formModal.find(".modal-footer").append('<button type="button" class="btn btn-sm btn-default" style="margin-right:10px" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>')
                _formModal.find(".modal-footer").append('<button type="button" class="btn btn-sm btn-danger" style="margin-left:10px; border-left:1px solid #333"  onclick="RemoveGrupo()"><i class="fa fa-trash"></i> Remover</button>')
                _formModal.find(".modal-footer").show();
                _formModal.modal("show");

            });
        }

        function addChave(el) {
            var $el = $(el);
            var txt = $("#NomeArquivo").val();
            txt = txt + $el.text();
            $("#NomeArquivo").val(txt);
        }

        function cancelar() {
            document.location = '@Url.Action("index")';
        }

        function Salvar() {
            var $form = $("#form-cadastro");
            $.ajax({
                type: "POST",
                url: '/BancoPortador/SalvarBancoPortador/',
                data: jx.formRotinas.obterDadosForm($form),
                success: function (result) {
                    if (result.OK) {
                        SaveInstrucao();
                    } else {
                        console.log(result);
                    }

                }
            });
        }

        function SaveGrupo() {
            var data = jx.formRotinas.obterDadosForm(_formModal);
            $.ajax({
                url: '/BancoPortador/SalvarGrupo/',
                type: 'post',
                dataType: 'json',
                data: data
            }).success(function (response) {
                if (response.OK) {
                    jx.mensagem(response.Titulo, response.Mensagem, 'success', 'fa fa-check ');
                    _formModal.modal('toggle');
                    var dropdown = $("#form-cadastro #CodBancoPortadorGrupo");
                    dropdown.empty();
                    $(response.DropDown).each(function (index, elemnt) {
                        dropdown.append($("<option />").val(elemnt.Key).text(elemnt.Value));
                    });
                    dropdown.val(response.id);

                } else {
                    jx.mensagem(response.Titulo, response.Mensagem, 'warning', 'fa fa-exclamation ');
                    console.log(response.Erro);
                }
            });
        };
        function RemoveGrupo() {
            var id = _formModal.find("#Cod").val();
            jx.pergunta('Confirma', 'Deseja excluir este grupo e todos suas características?', function () {
                $.ajax({
                    url: '/BancoPortador/RemoverGrupo/',
                    type: 'post',
                    dataType: 'json',
                    data: { cod: id }
                }).success(function (response) {
                    if (response.OK) {
                        jx.mensagem(response.Titulo, response.Mensagem, 'success', 'fa fa-check ');
                        _formModal.modal('toggle');
                        var dropdown = $("#form-cadastro #CodTipoCaracteristicaGrupo");
                        dropdown.empty();
                        $(response.DropDown).each(function (index, elemnt) {
                            dropdown.append($("<option />").val(elemnt.Key).text(elemnt.Value));
                        });
                        dropdown.val(response.id);

                    } else {
                        jx.mensagem(response.Titulo, response.Mensagem, 'warning', 'fa fa-exclamation ');
                        console.log(response.Erro);
                    }
                });
            });
        }
        function addInstrucao(el) {
            var b = $(el).attr('data-banco');//e.attr("banco")
            var countDiv = $(".addFormInstrucao > div").length + 1;
            $(".addFormInstrucao").append("<div class='append_" + countDiv + "'></div>");
                    $('.append_' + countDiv).load('@Url.Action("AddFormInstrucao", "BancoPortador")?IdPortador=' + b, function () {
                        $("input[data-tipo-campo='inteiro']").mask('00');
                        $(el).find("#Descricao").focus();
                        $("#CodigoInstrucao").change(function () {
                            var nrInstrucao = $(this).val();
                            $.ajax({
                                url: '@Url.Action("getObservacaoInstrucao")',
                                data: { cdInstrucao: nrInstrucao },
                                type: 'post',
                                dataType: 'json'
                            }).success(function (result) {
                                $("#msgInstrucao").empty();
                                $("#msgInstrucao").append(result.Html);
                            });
                        });
                    });
        }
        function SaveInstrucao() {
            var form = $("#form-cadastro-banco-informacao");
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: jx.formRotinas.obterDadosForm($("#form-cadastro-banco-informacao")),
                success: function (response) {
                    jx.mensagem('Operação Realizada!', 'Informação Salva.', 'success', 'fa fa-check');
                    setTimeout(function () {
                        document.location = '@Url.Action("index")';
                    }, 1500);
                }
            });
        }
    </script>
}
