﻿@{
    ViewBag.Title = "Importacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-importacao";
}
@using (Html.BeginForm("ImportarRetorno", "BancoPortador", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
<div class="panel panel-body box-shadon">
    <div class="row">
        <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-block">
                                <h6 style="margin-bottom:0; font-weight: 600;"><i class="fa fa-copy"></i>&nbsp;Importar Retorno</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button id="btn-adcionar" class="btn btn-sm btn-primary btn-min-width pull-left" type="button" onclick="exibirForm()">Adicionar</button>
                        </div>
                    </div>
                    <div class="row form-exibir animated fadeIn" style="display:none;">
                        <form method="post" id="form-cadastro-historico" target="_self">
                            @Html.Hidden("ArquivoNome", "")
                            @Html.Hidden("CodUsuario", Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod)
                            <div class="col-md-1">
                                <div class="form-group-sm">
                                    @*<label>
                                        Arquivo
                                    </label>
                                    <br />*@
                                    @*<span id="btn-file" style="float: left; margin-bottom: -4px; margin-right: 0px;" class="btn btn-sm btn-primary fileinput-button pull-left">
                                    <i class="fa fa-paperclip"></i><span class="hidden-xs"> Selecionar</span>*@
                                    <input type="file" name="UploadedFile" />
                                    @*</span>*@
                                </div>
                            </div>
                            <div class="col-md-5 hide">
                                <div class="form-group-sm">
                                    <label>
                                        Progresso
                                    </label>
                                    <div class="progress" style="min-height:24px;">
                                        <div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 00%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="padding-top:10px">
                                <button class="btn btn-primary btn-sm btn-min-width pull-left" type="submit">Salvar</button>
                                <button class="btn btn-sm btn-min-width pull-left" type="button" onclick="cancelar()">Cancelar</button>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table id="grid-dados" class="table table-bordered table-condensed table-striped" data-ordem="">
                                <thead>
                                    <tr>
                                        <th data-name="StatusParcela" data-data="StatusParcela" style="width:40px" data-title="StatusParcela">
                                           Status
                                        </th>
                                        <th data-name="Empreendimento" data-data="Empreendimento" style="width:40px" data-title="Empreendimento">
                                            Nome
                                        </th>
                                        <th data-name="Bloco" data-data="Bloco" style="width:40px" data-title="Bloco">
                                            Bloco
                                        </th>
                                        <th data-name="Unidade" data-data="Unidade" style="width:40px" data-title="Unidade">
                                            Unidade
                                        </th>
                                        <th data-name="NomeCliente" data-data="NomeCliente" style="width:40px" data-title="NomeCliente">
                                            Nome
                                        </th>
                                        <th data-name="ProjetoFinanceiro" data-data="ProjetoFinanceiro" style="width:40px" data-title="ProjetoFinanceiro">
                                            Projeto Financeiro
                                        </th>
                                        <th data-name="Contrato" data-data="Contrato" style="width:40px" data-title="Contrato">
                                            Contrato
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
        </div>
    </div>
</div>
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@TempData["resultado"]' != null && '@TempData["resultado"]' != "") {
                alert('@TempData["resultado"]');
            }
            obterdadosGrid();
            DeletaParcelas();
            definirUpload();
            $("#grid-dados_length").hide();
            $("#grid-dados_filter").hide();
        });
        function exibirForm() {
            $(".form-exibir").show();
            $("#btn-adcionar").hide();
        }
        function cancelar() {
            document.location.reload(false);
        }
        function DeletaParcelas() {
            @*$.ajax({
                url: '@Url.Action("ExcluirTempParcelasPagas", "ImportacaoParcela")',
                type: 'post'
            })*@
        }

        function obterdadosGrid() {
            @*$('#grid-dados').DataTable({
                "deferRender": true,
                "serverSide": true,
                "responsive": true,
                "processing": true,
                "ajax": {
                    "url": "@Url.Action("paginarDados", "ImportacaoParcela")",
                "type": "POST"
            },

                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "<h2><i class='fa fa-spin fa-spinner text-silver'></i> Carregando os dados..</h2>",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    oAria: {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
        }).on('processing.dt', function (e, settings, processing) {
            if (processing) {
                $("#tb-dados").find("tr").addClass("loading");
            } else {
                $("#tb-dados").find("tr").removeClass("loading");
            }
        });*@
        }
        function definirUpload() {
            $(".form-upload").fileupload({
                dataType: 'json',
                url: '@Url.Content("~/Upload/UploadHandler.ashx")',
                maxFileSize: 5368709120, // 5GB
                sequentialUploads: true,
                limitConcurrentUploads: 1,
                maxChunkSize: 204800, // 200KB
                //autoUpload: true,//tr
                dropZone: "documentos",
                formData: {
                    Id: $("#Id").val()
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Ocorreu um erro no upload: " + textStatus);
                    $(".progress-bar").removeClass("progress-bar-warning").addClass("progress-bar-danger");
                    return;
                },
                done: function (e, data) {
                    var file = data.files[0];
                    $("#btn-file").removeAttr("disabled");
                    $("#ArquivoNome").val(file.name);
                    $(".progress-bar").removeClass("progress-bar-warning").addClass("progress-bar-success");
                },
                add: function (e, data) {
                    var id = $(this).attr("id");
                    var tr = $(this).parent().parent().parent();
                    var file = data.files[0];
                    $(".progress-bar").removeClass("progress-bar-danger").removeClass("progress-bar-success").addClass("progress-bar-warning");
                    data.submit();
                },
                start: function () {
                },
                progress: function (e, data) {
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $(".progress").show();
                    $(".progress-bar").css('width', progress + '%');
                    $(".progress-bar").html(progress + '%');
                }
            });
        }
        function removerDocumento(cod) {
            if (confirm("Deseja excluir?")) {
                $.ajax({
                    url: '@Url.Action("DocumentoRemover")',
                    type: 'post',
                    data: { cod: cod }
                }).success(function (o) {
                    if (o.OK) {
                        cancelar();
                    } else {
                        alert(o.Mensagem);
                    }
                });
            }
        }
    </script>
}