﻿@model List<Cobranca.Db.Models.TabelaBancoPortador>
@using Cobranca.Rotinas;
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
}
<style>
    div.dt-buttons a {
        background: #227446 !important;
        border-color: #113922 !important;
        color: #fff;
        border-radius: 0px !important;
        height: 30px;
        border: 1px solid transparent;
        text-align: center;
    }

    table.dataTable tbody td {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    div.dataTables_length {
        float: right !important;
    }

    div.dt-buttons {
        float: right !important;
    }
</style>
<div class="panel panel-body box-shadon">
    <div class="heading-block">
        <ul class="breadcrumb">
            <li>@Idioma.Traduzir("Configuração Boleto")</li>
        </ul>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-12">
            <button class="btn btn-sm btn-primary btn-left" type="button" onclick="Alterar(0)"><i class="fa fa-plus"> @Idioma.Traduzir("Adicionar")</i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="table-list" class="display table-responsive table data-table2 table-condensed table-hover table-striped table-bordered" style="margin-bottom:0;">
                <thead id="dtheader">
                    <tr id="trheader">
                        <th class="text-center" data-name="" data-data="" style="max-width:5px !important" data-collumn-search="false"></th>
                        <th class="" data-collumn-search="true" style="max-width:50px; text-align:center" data-name="Banco" data-data="Banco" data-title="@Idioma.Traduzir("Banco")"></th>
                        <th class="" data-collumn-search="true" style="max-width:50px; text-align:center" data-name="CompanhiaFiscal" data-data="CompanhiaFiscal" data-title="@Idioma.Traduzir("Comp.Fiscal")"></th>
                        <th class="" data-collumn-search="true" style="max-width:50px; text-align:center" data-name="Regional" data-data="Regional" data-title="@Idioma.Traduzir("Regional")"></th>
                        <th class="" data-collumn-search="true" style="max-width:500px; text-align:center" data-name="Portador" data-data="Portador" data-title="@Idioma.Traduzir("Cedente")"></th>
                        <th class="" data-collumn-search="true" style="min-width:150px; text-align:center" data-name="CNPJ" data-data="CNPJ" data-title="@Idioma.Traduzir("CNPJ")"></th>
                        <th class="" data-collumn-search="true" style="min-width:100px; text-align:center" data-name="Carteira" data-data="Carteira" data-title="@Idioma.Traduzir("Carteira")"></th>
                        <th class="" data-collumn-search="true" style="min-width:100px; text-align:center" data-name="Agencia" data-data="Agencia" data-title="@Idioma.Traduzir("Agencia")"></th>
                        <th class="" data-collumn-search="true" style="min-width:100px; text-align:center" data-name="Conta" data-data="Conta" data-title="@Idioma.Traduzir("Conta")"></th>
                        <th class="text-center" data-name="NumeroDiaRegistroBoleto" data-data="NumeroDiaRegistroBoleto" style="max-width:40px" data-title="@Idioma.Traduzir("Nr. Dias Registrado Banco")"></th>
                        <th class="text-center filter-date" data-type="datahora" data-name="DataInicialRegistroBoleto" data-data="DataInicialRegistroBoletoDesc" style="max-width:40px" data-title="@Idioma.Traduzir("Dt.Comp Fiscal")"></th>
                        @*<th class="" data-collumn-search="true" style="min-width:100px; text-align:center" data-name="NossoNumeroAtual" data-data="NossoNumeroAtual" data-title="@Idioma.Traduzir("Nosso Numero")"></th>
                            <th class="" data-collumn-search="true" style="min-width:100px; text-align:center" data-name="LoteAtual" data-data="LoteAtual" data-title="@Idioma.Traduzir("Lote Atual")"></th>*@
                        @*<th class="" data-collumn-search="true" style="min-width:120px; text-align:center" data-name="Produto" data-data="Produto" data-title="@Idioma.Traduzir("Produto")"></th>*@
                        @*<th class="sum-float" data-collumn-search="true" style="min-width:90px; text-align:center" data-name="ValorTotal" data-data="ValorTotalDesc" data-title="@Idioma.Traduzir("Vr.Total")"></th>
                            <th class="" data-collumn-search="true" style="min-width:70px; text-align:center" data-name="DiasAtraso" data-data="DiasAtraso" data-title="@Idioma.Traduzir("Dia Atraso")"></th>*@
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    @*<div class="col-md-12">
            <button class="btn btn-primary" type="button" onclick="popup()">Testar Boleto</button>
        </div>*@
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal-form">
    <div class="modal-dialog" style="width:calc(100% - 120px)">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">@Idioma.Traduzir("Titulo")</h3>
            </div>
            <div class="modal-body" style="padding-top:5px"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<div id="popUp">
    <div class="row">
        <div class="modal fade" tabindex="-1" role="dialog" id="modal-form">
            <div class="modal-dialog" style="width:calc(100% - 120px)">
                <form method="post" id="form-reserva" target="_self">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="panel panel-default panel-small">
                                        <div style="margin-top:10px" class="panel-body">
                                            <div style="margin-top:10px" id="div-boleto" class="panel-body">

                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-dialog -->
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var $data_table = $('#table-list');
        jx.dtableSearch($data_table);
        jx.dtableFooter($data_table);
        $(document).ready(function () {
            obterDados();
        });
        function incluir() {
            //$("#incluir-form").modal("show");
            document.location = "@Url.Action("Cadastro",new {id = 0})";
        }

        function Alterar(value) {
             document.location = "/BancoPortador/Cadastro/?id=" +value;
        }
        function SaveInstrucao() {
            var form = $("#modal-form #form-cadastro-banco-informacao");
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: jx.formRotinas.obterDadosForm($("#form-cadastro-banco-informacao")),
                success: function (response) {
                    jx.mensagem('Operação Realizada!', 'Informação Salva.', 'success', 'fa fa-check');
                    setTimeout(function () {
                        location.reload();
                    }, 1500);
                }
            });
        }


        function obterDados() {
            table = $data_table.DataTable({
                "rowId": 'Cod',
                "order": [[2, 'asc']],
                "deferRender": true,
                "serverSide": true,
                "processing": true,
                "ajax": {
                    "url": "@Url.Action("ListDataPerServer")",
                    "type": "POST"
                },
                "language": {
                    "sEmptyTable": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sInfo": "@Idioma.Traduzir("Mostrando de") _START_ @Idioma.Traduzir("até") _END_ @Idioma.Traduzir("de") _TOTAL_ @Idioma.Traduzir("registros")",
                    "sInfoEmpty": "@Idioma.Traduzir("Mostrando 0 até 0 de 0 registros")",
                    "sInfoFiltered": "(@Idioma.Traduzir("Filtrados de") _MAX_ @Idioma.Traduzir("registros"))",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_",
                    "sLoadingRecords": "@Idioma.Traduzir("Carregando...")",
                    "sProcessing": "<h2><i class='fa fa-spin fa-spinner text-silver'></i> @Idioma.Traduzir("Carregando os dados..")</h2>",
                    "sZeroRecords": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sSearch": "",
                    "oPaginate": {
                        "sNext": "@Idioma.Traduzir("Próximo")",
                        "sPrevious": "@Idioma.Traduzir("Anterior")",
                        "sFirst": "@Idioma.Traduzir("Primeiro")",
                        "sLast": "@Idioma.Traduzir("Último")"
                    },
                    oAria: {
                        "sSortAscending": ": @Idioma.Traduzir("Ordenar colunas de forma ascendente")",
                        "sSortDescending": ": @Idioma.Traduzir("Ordenar colunas de forma descendente")"
                    }
                },
                "columnDefs": [
                    {
                        targets: 0,
                        searchable: false,
                        orderable: false,
                        className: '',
                        render: function (data, type, row, index) {
                            return '<button onclick="Alterar(' + row.Cod + ')" type="button" class="btn btn-xs btn-block btn-primary" style=""><i class="fa fa-pencil"></i></button>'
                        }
                    }],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td:eq(0)', nRow).css('padding', '1');
                    $('', nRow).addClass("text-left");
                    $('td:eq(1),td:eq(2),td:eq(3),td:eq(4),td:eq(5),td:eq(6),td:eq(7),td:eq(8),td:eq(9)', nRow).addClass("text-center");
                },
                "sDom": '<"row"<"col-xs-12 col-md-12 pull-right"lB>>' +
                    '<"row"<"col-xs-12 col-md-12 dtable-reponsive"t>>' +
                    '<"row"<"col-xs-12 col-md-6 pull-left"i><"col-xs-12 col-md-6 pull-rigth"p>>',
                "buttons": [{
                    text: '<i class="fa fa-cloud-download"></i>',
                    extend: 'csvHtml5',
                    className: 'dt-button-excel',
                    title: 'teste',
                    exportOptions: {
                        columns: ':visible'
                    },
                    action: function (e, dt, node, config) {
                        $data_table.block({
                            message: '',
                            css: {
                                border: 'none',
                                padding: '15px',
                                backgroundColor: '#fff',
                                '-webkit-border-radius': '10px',
                                '-moz-border-radius': '10px',
                                opacity: .5,
                                color: '#fff',
                                width: '50%'
                            },
                            overlayCSS: { backgroundColor: '#FFF' }
                        });
                        $data_table.addClass('carregando');
                        var params = { param: dt.ajax.params()};
                        console.log(params);
                        $.post("/BancoPortador/ExportarExcel", $.param(params), function (d) {
                            if (d.OK) {
                                window.location.href = d.Dados;
                                //var opnner = window.open(d.Dados, '_blank');
                            }
                        });
                        dt.ajax.reload();
                    }
                }],
                'initComplete': function (settings, json) {
                    var tb = table.data();
                    tb.inicializar($data_table);
                    tb.addSearch($data_table);
                    jx.dTablesUnblock($data_table);
                    $("#tb-loading").hide();

                },
                "fnDrawCallback": function (oSettings) {
                    table.data().sum();
                    jx.dTablesUnblock($data_table);
                }

            }).on('order.dt', function () {
                jx.dTablesBlock($data_table);
            });
        }

        function salvar() {
           var $form = $("#form-cadastro");
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Cadastro")',
                        data: jx.formRotinas.obterDadosForm($form),
                        success: function (result) {
                            SaveInstrucao();
                        }
                    });
        }
        function editar(id) {
            if (id) {
                document.location = id;
            }

        }
        function popup() {
            $.ajax({
                url: '@Url.Action("GerarBoletoTeste", "BancoPortador")',
                type: 'post',
                dataType: 'json',
                data: { Cod: 1 }
            }).success(function (resultado) {
                emitirBoleto(resultado)
            });
        }
        function emitirBoleto(resultado) {
            var height = $(window).height();
            height = (height - 220);
            var win = window.open('', "_blank", "toolbar=no, scrollbars=yes, resizable=no, top=120, left=500, width=auto, height=" + height + "");
                with (win.document) {
                    open();
                    write(resultado.Html);
                    close();
                }
                win.window.print();
        }

    </script>
}
