﻿@model Cobranca.Web.Models.ModuloClienteViewModel
@{
    ViewBag.Title = "Parcela";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";

    List<Cobranca.Web.Models.ContratoParcelaViewModel> _listaParcelas = new List<Cobranca.Web.Models.ContratoParcelaViewModel>();
    if (ViewBag.ListaParcelas != null)
    {
        _listaParcelas = (List<Cobranca.Web.Models.ContratoParcelaViewModel>)ViewBag.ListaParcelas;
    }

}
<style>
    .tile_count {
        color: #73879C;
        background-color: #F7F7F7;
        text-align: center;
    }

        .tile_count .tile_stats_count {
            padding: 40px 10px 40px 20px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            position: relative;
        }

            .tile_count .tile_stats_count .count {
                color: #1ABB9C;
                font-size: 30px;
                line-height: 47px;
                font-weight: 600;
            }

            .tile_count .tile_stats_count span {
                font-size: 13px;
            }

            .tile_count .tile_stats_count .count_top {
                font-size: 18px;
            }


    .btn-circle {
        width: 15px;
        height: 15px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px !important;
    }

    .margin-top-10 {
        margin-top: 10px;
    }

    .margin-top-5 {
        margin-top: 5px;
    }

    .text-fatura {
        color: #808080;
    }

    .text-status {
        font-family: Oswald,'Trebuchet MS','Open Sans',arial,sans-serif;
        font-size: 18px;
        font-weight: 600 !important;
    }

    .panel-informacao {
        min-height: 160px;
        padding: 35px;
        background-color: #FFFFFF;
    }

    .panel-body {
        border-radius: 0;
    }
</style>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-body">
            <div class="row">
                <div class="col-lg-12 text-fatura">
                    <h5>@Model.NomeCliente</h5>
                </div>
                <div class="col-lg-12 text-fatura text-center">
                    <h4> Sistema de cobrança automatizada STR Ar Condicionado e R&NV, em caso de dúvidas ligue no telefone (11) 3081-8677!</h4>
                </div>
            </div>
            <div class="row tile_count">
                <div class="col-md-4 col-sm-4 col-xs-12 tile_stats_count">
                    <div class="panel-informacao">
                        <span class="count_top">Valor Total:</span>
                        <div class="count"><small>R$</small> @Model.ValorTotal</div>
                        <button type="button" class="btn btn-xs btn-success " onclick="emitirBoletoAll('@Url.Action("GerarBoletoAll", "Pesquisa", new { CodCliente = Model.CodCliente })')"><i class="fa fa-money"></i> Pagar Todas</button>
                        @*<span class="count_bottom">Parcelado em @Model.NumeroTotalParcela X de R$@Model.ValorParcela</span>*@
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 tile_stats_count">
                    <div class="panel-informacao">
                        <span class="count_top">Data Vencimento:</span>
                        <div class="count">@Model.DataFatura</div>
                        <span class="count_bottom">(Vencido há @Model.NumeroDiasAtraso dias)</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 tile_stats_count">
                    <div class="panel-informacao" onclick="openChat()">
                        <span class="count_top">Dúvidas:</span>
                        <div class="count"><i class="fa fa-comments-o"></i> Chat</div>
                    </div>
                </div>
            </div>
            <div id="tabela" class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered data-table table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center" style="width:80px;">Contrato</th>
                                <th class="text-center" style="width:80px;">Data Vencimento</th>
                                <th class="text-center" style="width:120px;">Valor Pacela</th>
                                <th class="text-center" style="width:120px;">Valor Atualizado</th>
                                <th class="text-center">Status</th>
                                <th class="text-center" style="width:120px;">#</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in _listaParcelas.ToList())
                            {
                                <tr>
                                    <td class="text-center">@item.NumeroContrato</td>
                                    <td class="text-center">@item.strDataVencimento</td>
                                    <td style="text-align:right">@item.ValorParcela</td>
                                    <td style="text-align:right">@item.ValorAtualizado</td>
                                    @if (item.StatusParcela == 1)
                                    {
                                        <td class="text-center text-danger"><b>@item.Status</b></td>
                                    }
                                    else
                                    {
                                        <td class="text-center text-danger"><b>@item.Status</b></td>
                                    }
                                    <td><button type="button" class="btn btn-xs btn-block btn-default" onclick="emitirBoleto('@Url.Action("GerarBoleto", "Banco", new { CodParcela = item.CodParcela })')"><i><i class="fa fa-file"></i> Emitir Boleto</button></td>

                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-fatura text-center">
                    <img src="~/Content/img/logo/LogoSTR.png" />
                </div>
            </div>
        </div>
    </div>
</div>






