﻿@model Cobranca.Web.Models.LoginClienteViewModel
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.ClassBody = "account-bg";
    string logoCliente = System.Configuration.ConfigurationManager.AppSettings["logoCliente"];
}


<div class="account-wrapper hidden-xs " style="margin-top:10px;">
    @*<img width="200px" src="~/Content/tenda-logo.jpg" />*@
    <img style="height:100px;" src="@logoCliente" />
</div>

<div class="account-wrapper box-shadon" style="margin-top:10px;">
    @Html.ValidationBootstrapModal()

    <div class="account-body text-silver">
        <h3 class="text-silver">Seja bem vindo!</h3>
        <h5 class="">Digite seu documento e senha para acessar o painel</h5>
        <form class="form account-form" method="POST" action="@Url.Action("Index")">
            @Html.HiddenFor(m => m.ReturnUrl)
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group-sm">
                        <label for="login-username" class="">CPF/CNPJ</label>
                        <input type="text" class="form-control  input-silver" name="CPF" id="CPF" placeholder="CPF" tabindex="1" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group-sm">
                        <label for="login-password" class="">Senha</label>
                        <input type="password" class="form-control input-silver" id="Senha" name="Senha" placeholder="Senha" tabindex="2" required>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-9">
                    @*<div class="pull-left">
                            <label class="checkbox-inline">
                                <input type="checkbox" class="" value="" tabindex="3"> <small>Lembrar-me</small>
                            </label>
                        </div>*@
                    <button type="submit" class="btn btn-primary btn-block btn-sm pull-left " tabindex="4">
                        Entrar
                    </button>
                </div>

                <div class="col-md-12 text-center">
                    <hr style="margin-top:5px;margin-bottom:0px;" />
                    <div class="text-silver" style="">
                        <a href="http://junix.com.br" target="_blank">
                            <img alt="JUNIX Infórmatica" class="pull-right" src="~/Content/logo.jpg" style="height:35px; width: 50px" />
                        </a>
                    </div>
                </div>
            </div>

        </form>




    </div> <!-- /.account-body -->


</div>


