﻿@model Cobranca.Db.Models.TabelaNatureza

@{
    //if (Model.Cod == 0) {
    //    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    //}
        
}

<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()   
    <div class="row margin-top-20">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="CodNaturezaCliente">Código</label>
                @Html.TextBoxFor(m => m.CodNaturezaCliente, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodNaturezaCliente)
            </div> <!-- /.form-group -->
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label for="CodTipoCarteira">Nome Tipo Carteira</label>
                @Html.DropDownListFor(m => m.CodTipoCarteira, new SelectList(ViewBag.ListaTipoCarteira, "value", "key", Model.CodTipoCarteira), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodTipoCarteira)
            </div> <!-- /.form-group -->
        </div>


        <div class="col-sm-6">
            <div class="form-group">
                <label for="Natureza">Nome Natureza</label>
                @Html.TextBoxFor(m => m.Natureza, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Natureza)
            </div> <!-- /.form-group -->
        </div>
        
    </div>

    <!-- /.form-group -->
    <div class="row">

        <div class="col-sm-12">
            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }
           

            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
        </div>

        <div class="col-sm-3">

        </div>
    </div>

</form>
