﻿@model Cobranca.Db.Models.ContratoDocumento
@using Cobranca.Rotinas;
@{
}
<form class="form" id="form-cadastro-documento" action="@Url.Action("Salvar","Documento")" method="POST">
    @Html.Hidden("CodUsuario", Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod)
    @Html.Hidden("CodCliente", Model.CodCliente)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.Hidden("ArquivoNome", "")
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row">
        <div class="col-md-2">
            <div class="form-group-sm">
                <label>
                    @Idioma.Traduzir("Arquivo")
                </label>
                <br />
                <span id="btn-file" style="float: left; margin-bottom: -4px; margin-right: 0px;" class="btn btn-sm btn-block btn-primary fileinput-button pull-left">
                    <i class="fa fa-paperclip"></i><span class="hidden-xs"> Selecionar</span>
                    <input class="form-upload" type="file" name="arquivo" id="arquivo" />
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group-sm">
                <label>
                    @Idioma.Traduzir("Progresso")
                </label>
                <div class="progress" style="min-height:24px;">
                    <div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 00%;">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row"> 
        <div class="col-md-4">
            <div class="form-group-sm">
                <label>
                    @Idioma.Traduzir("Contratos")
                </label>
                @Html.DropDownList("CodContrato", new SelectList(ViewBag.Contratos, "value", "key", 0), new { @class = "form-control input-silver" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group-sm">
                <label>
                    @Idioma.Traduzir("Tipo de documento")
                </label>
                @Html.DropDownList("CodTipoDocumento", new SelectList(ViewBag.ListaTipoDocumento, "value", "key", 0), new { @class = "form-control input-silver", required = "required" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group-sm">
                <label>
                    @Idioma.Traduzir("Observação")
                </label>
                @Html.TextArea("ArquivoObservacao", new { @class = "form-control input-silver" })
            </div>
        </div>
    </div>
</form>

