﻿@model Cobranca.Web.Models.HomePesquisaViewModel
    @using Cobranca.Rotinas;
    @using Cobranca.Db.Models;
    @{
        var _perfilTipo = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo;
    }
    <style>
        .nopadding {
            padding-right: 05px;
            padding-left: 05px;
        }
    </style>
    <div class="row">
        <div class="col-md-11">
            <div class="row">
                @if ((bool)Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Admin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Escritorio || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.RegionalAdmin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Analista || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.SupervisorAnalista)
                {
                    <div class="col-lg-3 com-md-3 col-xs-6">
                        <div class="form-group-sm">
                            <label for="regionalIds" class=""><i class=""></i>@Idioma.Traduzir("Filial"):</label>
                            <select id="regionalIds" name="regionalIds" class="form-control input-silver selectpicker" data-live-search="true" multiple data-actions-box="true">
                                @foreach (SelectListItem item in ((SelectList)ViewBag.ListaRegional).Items)
                                {
                                    <option data-subtext="@(item.Group != null ? item.Group.Name : "")" value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                }
                @if ((bool)Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Admin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Escritorio || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.RegionalAdmin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Regional || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Analista || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.SupervisorAnalista)
                {
                    <div class="col-lg-2 com-md-3 col-xs-6">
                        <div class="form-group-sm">
                            <label for="Nome" class=""><i class=""></i> @Idioma.Traduzir("Produto"):</label>
                            <select id="produtosIds" name="produtosIds" class="form-control input-silver selectpicker" data-live-search="true" multiple data-actions-box="true">
                                @foreach (SelectListItem item in ((SelectList)ViewBag.ListaProduto).Items)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2 com-md-3 col-xs-6">
                        <div class="form-group-sm">
                            <label for="agingIds" class=""><i class=""></i> @Idioma.Traduzir("Aging"):</label>
                            <select id="agingIds" name="agingIds" class="form-control input-silver selectpicker" data-live-search="true" multiple data-actions-box="true">
                                @foreach (SelectListItem item in ((SelectList)ViewBag.ListaAging).Items)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                }

                @if (Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Escritorio || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.RegionalAdmin || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Analista || _perfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.SupervisorAnalista)
                {
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="form-group-sm">
                            <label for="usuarioIds" class=""><i class=""></i> @Idioma.Traduzir("Atendentes"):</label>
                            <select id="usuarioIds" name="usuarioIds" class="form-control input-silver selectpicker" data-live-search="true" data-actions-box="true">
                                @foreach (SelectListItem item in ((SelectList)ViewBag.ListaAtendentes).Items)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-1">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-sm margin-top-18"><i class="fa fa-search"></i></button>
                </div>
            </div>

        </div>
    </div>