﻿@model Cobranca.Web.Models.HomePesquisaViewModel
@using Cobranca.Rotinas;
@using Cobranca.Db.Models;
@{
    var _perfilTipo = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo;
    List<Cobranca.Db.Models.TabelaAging> _listaAging = new List<Cobranca.Db.Models.TabelaAging>();
    if (ViewBag.ListandoAging != null)
    {
        _listaAging = (List<Cobranca.Db.Models.TabelaAging>)ViewBag.ListandoAging;
    }
    var listaHistoricoBoletos = Model.HistoricoesBoleto;
    if (listaHistoricoBoletos == null)
    {
        listaHistoricoBoletos = new List<Cobranca.Db.Models.Pesquisa.HistoricoDados>();
    }
}
<div class="panel-body no-padding" style="height:100%;  padding:5px;  overflow-x: scroll;">
    <table id="tabelaHistoricoBoletos" class="table table-bordered table-condensed" style="width:100%; border-radius:2px;margin:0px;" border="0">
        <thead>
            <tr>
                <th class="text-left" style="min-width:240px">@Idioma.Traduzir("Status Histórico")</th>
                <th class="text-center" style="min-width:60px">@Idioma.Traduzir("Qtd Contrato")</th>
                <th class="text-center" style="min-width:60px">@Idioma.Traduzir("Qtd Parcela")</th>
                <th class="text-center" style="min-width:60px">@Idioma.Traduzir("Desconto")</th>
                <th class="text-center" style="min-width:60px">@Idioma.Traduzir("Realizado")</th>
                <th class="text-center" style="min-width:60px">@Idioma.Traduzir("Previsto")</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ListaFaseBoleto != null)
            {
                foreach (var tipoCobranca in Model.ListaFaseBoleto.Where(x => !x.DataExcluido.HasValue && !x.TabelaTipoCobranca.DataExcluido.HasValue && (_perfilTipo == Enumeradores.PerfilTipo.Analista || _perfilTipo == Enumeradores.PerfilTipo.SupervisorAnalista || _perfilTipo == Enumeradores.PerfilTipo.Admin || _perfilTipo == Enumeradores.PerfilTipo.Regional || _perfilTipo == Enumeradores.PerfilTipo.RegionalAdmin) && x.TipoHistorico == (short)Cobranca.Db.Models.Enumeradores.TipoHistorico.Boleto).GroupBy(x => x.TabelaTipoCobranca))
                {
                    <tr class="" style="background-color:#e2dfdf">
                        <td colspan="@(_listaAging.Count()+6)" class="text-left">
                            <b style="cursor:pointer;">@Idioma.Traduzir(Cobranca.Db.Rotinas.DbRotinas.Descriptografar(tipoCobranca.Key.TipoCobranca))</b>
                        </td>
                    </tr>

                    foreach (var item in tipoCobranca.Key.TabelaFases.Where(x => !x.DataExcluido.HasValue && x.TipoHistorico == (short)Cobranca.Db.Models.Enumeradores.TipoHistorico.Boleto).OrderBy(x => x.Ordem))
                    {
                        <tr class="bg-gradiente" onclick="expandirBoleto(@item.Cod)" data-codigo-fase="@item.Cod" data-tipo-cobranca-desc="@Idioma.Traduzir(Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.TabelaTipoCobranca.TipoCobranca))" data-cobranca="cobranca_@tipoCobranca.Key.Cod" data-name="TipoFase">
                            <td class="text-left" style="min-width:150px;">
                                <b style="cursor:pointer;"><i data-icone="@item.Cod" class="fa fa-minus-square"></i>&nbsp;@Idioma.Traduzir(Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.Fase))</b>
                            </td>
                            <td class="text-center">
                                <b>@String.Format("{0:N0}", Model.HistoricoesBoleto.Where(x => x.CodFase == item.Cod).GroupBy(C => new { C.CodSintese, C.CodContrato }).Count())</b>
                            </td>
                            <td class="text-center">
                                <b>@String.Format("{0:N0}", listaHistoricoBoletos.Where(x => x.CodFase == item.Cod).GroupBy(C => new { C.CodSintese, C.CodBoleto }).Count())</b>
                            </td>
                            <td class="text-center">
                                <b>
                                    @String.Format("{0:N0}", (listaHistoricoBoletos.Where(o => o.CodFase == item.Cod).Sum(x => x.ValorJuros) + listaHistoricoBoletos.Where(o => o.CodFase == item.Cod).Sum(x => x.ValorMulta)))
                                </b>
                            </td>
                            <td class="text-center">
                                <b>
                                    @String.Format("{0:N0}", listaHistoricoBoletos.Where(o => o.CodFase == item.Cod).Sum(x => x.ValorDocumento))
                                </b>
                            </td>
                            <td class="text-center">
                                <b>
                                    @String.Format("{0:N0}", listaHistoricoBoletos.Where(o => o.CodFase == item.Cod).Sum(x => x.ValorDocumentoPrevisto))
                                </b>
                            </td>

                        </tr>
                        foreach (var sintese in item.TabelaSintese.Where(x => !x.DataExcluido.HasValue).OrderBy(x => x.Ordem))
                        {
                            <tr data-fase="@item.Cod" class="text-silver" style="">
                                <td colspan="1">
                                    <a href="#" class="" onclick="filtrarPorSinteseBoleto(@sintese.Cod)" style="margin-left:15px;"><i class="fa fa-arrow-right"></i>&nbsp;@Idioma.Traduzir(Cobranca.Db.Rotinas.DbRotinas.Descriptografar(sintese.Sintese))</a>
                                </td>
                                <td class="text-center">
                                    <b>@String.Format("{0:N0}", Model.HistoricoesBoleto.Where(x => x.CodFase == item.Cod && x.CodSintese == sintese.Cod).GroupBy(C => C.CodContrato).Count())</b>
                                </td>
                                <td class="text-center">
                                    <b>@String.Format("{0:N0}", listaHistoricoBoletos.Where(x => x.CodFase == item.Cod && x.CodSintese == sintese.Cod).GroupBy(C => C.CodBoleto).Count())</b>
                                </td>
                                <td class="text-center">
                                    <b>
                                        @String.Format("{0:N0}", (listaHistoricoBoletos.Where(x => x.CodFase == item.Cod && x.CodSintese == sintese.Cod).Sum(x => x.ValorJuros) + listaHistoricoBoletos.Where(x => x.CodSintese == sintese.Cod).Sum(x => x.ValorMulta)))
                                    </b>
                                </td>
                                <td class="text-center">
                                    <b>
                                        @String.Format("{0:N0}", listaHistoricoBoletos.Where(x => x.CodFase == item.Cod && x.CodSintese == sintese.Cod).Sum(x => x.ValorDocumento))
                                    </b>
                                </td>
                                <td class="text-center">
                                    <b>
                                        @String.Format("{0:N0}", listaHistoricoBoletos.Where(x => x.CodFase == item.Cod && x.CodSintese == sintese.Cod).Sum(x => x.ValorDocumentoPrevisto))
                                    </b>
                                </td>
                            </tr>
                        }
                    }
                }
                <tr data-fase="0" class="text-silver" style="">
                    <td colspan="1">
                        <a href="#" class="" onclick="filtrarPorSinteseBoleto(0)" style="margin-left:15px;"><i class="fa fa-arrow-right"></i>&nbsp;@Idioma.Traduzir("Sem Classificação")</a>
                    </td>
                    <td class="text-center">
                        <b>@String.Format("{0:N0}", Model.HistoricoesBoleto.Where(x => !x.CodSintese.HasValue).GroupBy(C => C.CodContrato).Count())</b>
                    </td>
                    <td class="text-center">
                        <b>@String.Format("{0:N0}", listaHistoricoBoletos.Where(x => !x.CodSintese.HasValue).GroupBy(C => C.CodParcela).Count())</b>
                    </td>
                    <td class="text-center">
                        <b>
                            @String.Format("{0:N0}", (listaHistoricoBoletos.Where(x => !x.CodSintese.HasValue).Sum(x => x.ValorJuros) + listaHistoricoBoletos.Where(x => !x.CodSintese.HasValue).Sum(x => x.ValorMulta)))
                        </b>
                    </td>
                    <td class="text-center">
                        <b>
                            @String.Format("{0:N0}", listaHistoricoBoletos.Where(x => !x.CodSintese.HasValue).Sum(x => x.ValorDocumento))
                        </b>
                    </td>
                    <td class="text-center">
                        <b>
                            @String.Format("{0:N0}", listaHistoricoBoletos.Where(x => !x.CodSintese.HasValue).Sum(x => x.ValorDocumentoPrevisto))
                        </b>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr style="background-color:#e2dfdf">
                <td class="text-left">
                    <b> @Idioma.Traduzir("Total"):</b>
                </td>
                <td class="text-center"><b>@String.Format("{0:#,###}", listaHistoricoBoletos.GroupBy(x => new { x.CodContrato, x.CodSintese }).Count())</b></td>
                <td class="text-center"><b>@String.Format("{0:#,###}", listaHistoricoBoletos.GroupBy(x => new { x.CodHistorico, x.CodBoleto }).Count())</b></td>
                <td class="text-center"><b>@String.Format("{0:N0}", (listaHistoricoBoletos.Sum(x => x.ValorJuros) + listaHistoricoBoletos.Sum(x => x.ValorMulta))) </b></td>
                <td class="text-center"><b>@String.Format("{0:N0}", listaHistoricoBoletos.Sum(x => x.ValorDocumento))</b></td>
                <td class="text-center"><b>@String.Format("{0:N0}", listaHistoricoBoletos.Sum(x => x.ValorDocumentoPrevisto))</b></td>

            </tr>
        </tfoot>
    </table>
</div>