﻿@model Cobranca.Web.Models.HomePesquisaViewModel
@using Cobranca.Rotinas;
@using Cobranca.Db.Models;
@{
}
<style>
    .nopadding {
        padding-right: 05px;
        padding-left: 05px;
    }
</style>
<div class="col-md-12" style="font-weight:bold">
    <ul class="nav nav-tabs nav-junix " role="tablist">
        <li role="presentation" class="@(Model.tabSelecionada == (short)Enumeradores.tabsHomeCobranca.Status ? "active" : "")"><a href="@Url.Action("Index")">@Idioma.Traduzir("STATUS").ToUpper()</a></li>
        <li role="presentation" class="@(Model.tabSelecionada == (short)Enumeradores.tabsHomeCobranca.Desempenho ? "active" : "")"><a href="@Url.Action("Desempenho")">@Idioma.Traduzir("Desempenho").ToUpper()</a></li>
        <li role="presentation" class="@(Model.tabSelecionada == (short)Enumeradores.tabsHomeCobranca.Solicitacao ? "active" : "")"><a href="@Url.Action("Solicitacao")">@Idioma.Traduzir("Solicitação").ToUpper()</a></li>
    </ul>
</div>