﻿@model Cobranca.Web.Models.HomePesquisaViewModel
@{
    ViewBag.Title = "ContatoAtraso";
    var fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true;
    var listaContrato = Model.ListaContratoesDados;
    List<Cobranca.Db.Models.TabelaAging> _listaAging = new List<Cobranca.Db.Models.TabelaAging>();
    if (ViewBag.ListandoAging != null)
    {
        _listaAging = (List<Cobranca.Db.Models.TabelaAging>)ViewBag.ListandoAging;
    }
    List<Cobranca.Db.Models.TabelaDia> _listaPrazo = new List<Cobranca.Db.Models.TabelaDia>();
    if (ViewBag.ListandoDia != null)
    {
        _listaPrazo = (List<Cobranca.Db.Models.TabelaDia>)ViewBag.ListandoDia;
    }
    if (fgSistemaCobranca == false)
    {
        Response.Redirect("HomeProposta");
    }
}
<div class="layout layout-stack-sm layout-main-left " style="min-height:400px;">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-junix" role="tablist">
            <li role="presentation" class="@string.Format("{0}", fgSistemaCobranca ? "" : "hide") "><a href="@Url.Action("Index")">STATUS</a></li>
            <li role="presentation" class="@string.Format("{0}", fgSistemaCobranca ? "" : "hide") "><a href="@Url.Action("PagamentoAtraso")">PAGAMENTO X ATRASO</a></li>
            <li role="presentation" class="@string.Format("{0}", fgSistemaCobranca ? "" : "hide") "><a href="@Url.Action("MotivoAtraso")">MOTIVO ATRASO</a></li>
            <li role="presentation" class="@string.Format("{0}", fgSistemaCobranca ? "" : "hide") "><a href="@Url.Action("Resolucao")">RESOLUÇÃO </a></li>
            <li role="presentation" class=""><a href="@Url.Action("MapaDeCliente")">MAPA DE CLIENTE</a></li>
            <li role="presentation" class="active"><a href="@Url.Action("ContatoAtraso")">CONTATO EM ATRASO</a></li>
        </ul>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default panel-com-tab">
            <div class="panel-body">
                <form method="post" action="@Url.Action("ContatoAtraso")">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active">
                            <div class="row">
                                <div class="col-lg-2 com-md-3 col-xs-6 @string.Format("{0}",fgSistemaCobranca?"": "hide")">
                                    <div class="form-group-sm">
                                        <label for="Nome" class=""><i class=""></i> Tipo Cobranca:</label>
                                        @Html.DropDownList("CodTipoCobranca", new SelectList(ViewBag.ListaCobranca, "value", "key", 0), new { @class = "form-control input-silver" })
                                    </div>
                                </div>
                                <div class="col-lg-2 com-md-3 col-xs-6 @string.Format("{0}",fgSistemaCobranca?"": "hide")">
                                    <div class="form-group-sm">
                                        <label for="CodEmpreendimento" class=""><i class=""></i> Empresa:</label>
                                        @Html.DropDownList("CodConstrutora", new SelectList(ViewBag.ListaConstrutora, "value", "key", 0), new { @class = "form-control input-silver" })
                                    </div>
                                </div>
                                <div class="col-lg-2 com-md-3 col-xs-6 @string.Format("{0}",fgSistemaCobranca?"": "hide")">
                                    <div class="form-group-sm">
                                        <label for="CodEmpreendimento" class=""><i class=""></i> Filial:</label>
                                        @Html.DropDownList("CodRegional", new SelectList(ViewBag.ListaRegional, "value", "key", 0), new { @class = "form-control input-silver" })
                                    </div>
                                </div>
                                @*<div class="col-lg-2 com-md-3 col-xs-6 @string.Format("{0}",fgSistemaCobranca?"": "hide")">
                                        <div class="form-group-sm">
                                            <label for="CodEscritorio" class=""><i class=""></i> Escritorio:</label>
                                            @Html.DropDownList("CodEscritorio", new SelectList(ViewBag.ListaEscritorio, "value", "key", 0), new { @class = "form-control input-silver" })
                                        </div>
                                    </div>*@
                                <div class="col-lg-2 com-md-3 col-xs-6 @string.Format("{0}",fgSistemaCobranca?"": "hide")">
                                    <div class="form-group-sm">
                                        <label for="CodProduto" class=""><i class=""></i> Produto:</label>
                                        @Html.DropDownList("CodProduto", new SelectList(ViewBag.ListaProduto, "value", "key", 0), new { @class = "form-control input-silver" })
                                    </div>
                                </div>
                                <div class="col-lg-2 com-md-3 col-xs-6 @string.Format("{0}",fgSistemaCobranca?"": "hide")">
                                    <div class="form-group-sm">
                                        <label for="CodProduto" class=""><i class=""></i> Aging:</label>
                                        @Html.DropDownList("CodAging", new SelectList(ViewBag.ListaAging, "value", "key", 0), new { @class = "form-control input-silver" })
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-xs-6">
                                    <button type="submit" class="btn btn-primary btn-sm margin-top-18 btn-min-width"><i class="fa fa-search"></i> Filtrar</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="portlet portlet-default">
                                        <div class="portlet-header">
                                            <h4 class="portlet-title">
                                                <i class="fa fa-warning"></i> Atraso / Contato
                                            </h4>
                                        </div> <!-- /.portlet-header -->
                                        <div class="portlet-body">
                                            <table id="tb-historico" class="table table-bordered table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th class="text-left">Status Histórico</th>
                                                        @*<th class="text-center">Prazo</th>
                                                            <th class="text-center">0 à 5</th>
                                                            <th class="text-center">5 à 10</th>
                                                            <th class="text-center">10 à 15</th>
                                                            <th class="text-center">15 à 20</th>
                                                            <th class="text-center">20 à 25</th>*@
                                                        @foreach (var item in _listaPrazo)
                                                        {
                                                            <th class="text-center">@item.NomePrazo</th>
                                                        }
                                                        <th class="text-center">Grand Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.ListaFase != null)
                                                    {
                                                        foreach (var tipoCobranca in Model.ListaFase.Where(x => !x.DataExcluido.HasValue && !x.TabelaTipoCobranca.DataExcluido.HasValue).GroupBy(x => x.TabelaTipoCobranca))
                                                        {
                                                            <tr class="" style="background-color:#e2dfdf">
                                                                <td colspan="@(_listaPrazo.Count()+2)" class="text-left">
                                                                    <b style="cursor:pointer;">@tipoCobranca.Key.TipoCobranca</b>
                                                                </td>
                                                            </tr>

                                                            foreach (var item in tipoCobranca.Key.TabelaFases.Where(x => !x.DataExcluido.HasValue).OrderBy(x => x.Ordem))
                                                            {
                                                                <tr class="bg-gradiente" onclick="expandir(@item.Cod)">
                                                                    <td class="text-left">
                                                                        <b style="cursor:pointer;"><i data-icone="@item.Cod" class="fa fa-minus-square"></i>&nbsp;@item.Fase</b>
                                                                    </td>
                                                                    @foreach (var itemPrazo in _listaPrazo)
                                                                    {
                                                                        <td class="text-center">@listaContrato.Where(x => x.DiasFase >= itemPrazo.DiasDe && x.DiasFase <= itemPrazo.DiasAte && (x.CodFase == item.Cod)).Sum(x => x.Qtde)</td>
                                                                    }
                                                                    <td class="text-center">
                                                                        <b>@listaContrato.Where(x => x.CodFase == item.Cod).Sum(x => x.Qtde)</b>
                                                                    </td>
                                                                </tr>
                                                                foreach (var sintese in item.TabelaSintese.Where(x => !x.DataExcluido.HasValue).OrderBy(x => x.Ordem))
                                                                {
                                                                    <tr data-fase="@item.Cod" class="text-silver" style="">
                                                                        <td colspan="1">
                                                                            <a href="#" class="" onclick="filtrarPorSintese(@sintese.Cod)" style="margin-left:15px;"><i class="fa fa-arrow-right"></i>&nbsp;@sintese.Sintese</a>
                                                                        </td>
                                                                        @foreach (var itemPrazoSintese in _listaPrazo)
                                                                        {
                                                                            <td class="text-center">@listaContrato.Where(x => x.DiasSintese >= itemPrazoSintese.DiasDe && x.DiasSintese <= itemPrazoSintese.DiasAte && (x.CodSintese == sintese.Cod)).Sum(x => x.Qtde)</td>
                                                                        }
                                                                        <td class="text-center">
                                                                            <b>@listaContrato.Where(x => x.CodSintese == sintese.Cod).Sum(x => x.Qtde)</b>
                                                                        </td>
                                                                    </tr>
                                                                }

                                                            }
                                                        }

                                                    }
                                                </tbody>
                                                <tfoot>
                                                    <tr style="background-color:#e2dfdf">
                                                        <td colspan="9" class="text-left"><b>Total:</b></td>
                                                        <td class="text-center"><b>@listaContrato.Sum(x => x.Qtde)</b></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div id="container">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<form id="PesquisaDadosSintese" style="display:none" method="post" action="@Url.Action("Resultado", "Pesquisa")">
    @Html.Hidden("CodSintese", 0)
    @Html.Hidden("CodFase", 0)
    @Html.Hidden("CodAgingCliente", 0)
</form>
@section scripts{
    <script src="~/Scripts/Highcharts.js"></script>
    <script src="~/Scripts/GraficoHome.js"></script>
    <script src="~/Scripts/GraficoHome2.js"></script>
    <script src="~/Scripts/GraficoHome3.js"></script>
    <script src="~/Scripts/GraficoHomeAging.js"></script>
    <script src="~/Scripts/Graphic_Basic.js"></script>
    <script src="~/Scripts/flot/jquery.flot.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.pie.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.resize.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.stack.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.time.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            filtrarGraficoAging();
            var area = $("#tb-historico").find("tr[data-fase]");
            var icone = $("#tb-historico").find("i[data-icone]");
            area.hide();
            icone.removeClass("fa-minus-square").addClass("fa-plus-square");
            $("#CodTipoOperacao").change(function () {
                var cod = $("#CodTipoOperacao").val();
                $.ajax({
                    url: '@Url.Action("ListarProdutoPorConvenio", "Home")',
                    type: 'post',
                    dataType: 'json',
                    data: { Convenio: cod }
                }).success(function (resultado) {
                    console.log(resultado);
                    popularDropoDownList($("#CodProduto"), resultado);
                });
            });
            $("#CodEmpreendimento").select2({
                ajax: {
                    url: "@Url.Action("PesquisarEmpreendimentos", "Empreendimento")",
                    dataType: 'json',
                    delay: 250,
                    data: function (term, page) {
                        return {
                            q: term, // search term
                        };
                    },
                    processResults: function (data, params) {
                        console.log(data)
                        return {
                            results: data.items
                        };
                    },
                    cache: true
                },
                initSelection: function (element, callback) {
                    return;
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax({
                            url: "@Url.Action("PesquisarEmpreendimentos", "Empreendimento")",
                            dataType: 'json',
                            data: { q: "A" }
                        }).done(function (data) { console.log(data); callback(data.items[0]); });
                    }
                },
                minimumInputLength: 1
                //  templateResult: formatRepo, // omitted for brevity, see the source of this page
                // templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
            });
        });
        function expandir(codFase) {
            var area = $("#tb-historico").find("tr[data-fase='" + codFase + "']");
            var icone = $("#tb-historico").find("i[data-icone='" + codFase + "']");
            if (area.is(":visible")) {
                area.hide();
                icone.removeClass("fa-minus-square").addClass("fa-plus-square");
            } else {
                area.show();
                icone.removeClass("fa-plus-square").addClass("fa-minus-square");
            }
        }
        function filtrarPorSintese(status) {
            debugger
            $("#CodSintese").val(status);
            $("#PesquisaDadosSintese").submit();
        }
        $("#CodEmpreendimento").change(function () {
            var cod = $("#CodEmpreendimento").val();
            $.ajax({
                url: '@Url.Action("ListarBlocoPorEmpreendimento", "Home")',
                type: 'post',
                dataType: 'json',
                data: { CodEmpreendimento: cod }
            }).success(function (resultado) {
                popularDropoDownList($("#CodBloco"), resultado);
            });
        });

        function filtrarGraficoAging() {
            $.ajax({
                url: '@Url.Action("ObterDadosAging", "Home")',
                data: obterFiltro(),
                type: 'post',
                dataType: 'json'
            }).success(function (dados) {
                carregarGraficoAging(dados);
            });
        }
        function obterFiltro() {
            return {
                CodEmpreendimento: $("#CodEmpreendimento").val(),
                CodBloco: $("#CodBloco").val(),
                Status: $("#Status").val(),
                CodEscritorio: $("#CodEscritorio").val(),
                CodAging: $("#CodAging").val()
            };
        }

        function carregarGraficoAging(dados) {

            var categorias = [];
            for (var i = 0; i < dados.length; i++) {
                var item = dados[i];
                categorias.push(item.name);
            }
            $('#container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Aging'
                },
                subtitle: {
                    text: 'Faixa de Atraso'
                },
                xAxis: {
                    type: 'category'
                    // categories: categorias,
                    //crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Quantidade Total'
                    }
                    //, labels: {
                    //    formatter: function () {
                    //        return this.value + '';
                    //    }
                    //}
                },
                plotOptions: {
                    column: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:,.1f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },

                series: [{
                    name: "Quantidade",
                    data: dados
                }]
            });
        }

    </script>
}