﻿@model Cobranca.Web.Models.HomePesquisaViewModel
@using Cobranca.Rotinas;
@using Cobranca.Db.Models;
@{
    ViewBag.MenuAtivo = "menu-home";
    ViewBag.Title = "Projetos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_tabs", Model)
<form method="post" action="@Url.Action("Index")">
    <div class="col-md-12">
        <div class="panel panel-default  panel-com-tab">
            <div class="panel-body">
                <div class="layout layout-stack-sm layout-main-left">
                    @Html.Partial("_filtro", Model)
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

        });

    </script>
}
