﻿@model Cobranca.Web.Models.HomePesquisaViewModel
@using Cobranca.Rotinas;
@using Cobranca.Db.Models;
@using Cobranca.Web.Rotinas;
@{
    ViewBag.MenuAtivo = "menu-home";
    ViewBag.Title = "Projetos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usuario = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado();
}
<div class="layout layout-stack-sm layout-main-left " style="min-height:400px;">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-junix" role="tablist">
            <li role="presentation" class=""><a href="@Url.Action("Index")">STATUS</a></li>
            @if (usuario.PerfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin)
            {
                if (Cobranca.Web.Rotinas.WebRotinas.ObterVersaoEmpresa() == Cobranca.Db.Models.Enumeradores.VersaoEmpresa.Junix)
                {
                    <li role="presentation" class="active"><a href="@Url.Action("Indicadores")">@Idioma.Traduzir("Indicadores").ToUpper()</a></li>
                    <li role="presentation" class=""><a href="@Url.Action("PagamentoAtraso")">@Idioma.Traduzir("Pagamento X Atraso").ToUpper()</a></li>
                    <li role="presentation" class=""><a href="@Url.Action("MotivoAtraso")">@Idioma.Traduzir("Motivo Atraso").ToUpper()</a></li>
                    <li role="presentation" class=""><a href="@Url.Action("Resolucao")">@Idioma.Traduzir("Resolução").ToUpper()</a></li>
                    <li role="presentation" class=""><a href="@Url.Action("MapaDeCliente")">@Idioma.Traduzir("Mapa de Cliente").ToUpper()</a></li>
                    <li role="presentation" class=""><a href="@Url.Action("Comparativo")">@Idioma.Traduzir("Comparativo").ToUpper()</a></li>
                }
            }
            @if ((bool)Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Admin || Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Enumeradores.PerfilTipo.Analista || Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.SupervisorAnalista || Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Enumeradores.PerfilTipo.Regional || Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.RegionalAdmin)
            {
                <li role="presentation" class="hide"><a href="@Url.Action("Index","Home")">@Idioma.Traduzir("Solicitações").ToUpper()</a></li>
            }
        </ul>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default panel-com-tab">
            <div class="panel-body">
                <div class="row ">
                    <div class="container">
                        <div class="panel panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="text-center"><span style="color:#333333!important;font-size:19px!important;fill:#333333!important;">Abertura de Carteira</span></div>
                                    <table id="tabela" class="table table-bordered table-condensed" style="border-radius:2px;margin:0px;" border="0">
                                        <thead>
                                            <tr>
                                                <th class="text-left" style="width:20px">Dia</th>
                                                <th class="text-left" style="width:40px">Valor recuperado</th>
                                                <th class="text-left" style="width:40px">Valor não recuperado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-left">01/abr</td>
                                                <td class="text-left">@string.Format("{0:C}", 490500.9)</td>
                                                <td class="text-left">@string.Format("{0:C}", 830500.6)</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">05/abr</td>
                                                <td class="text-left">@string.Format("{0:C}", 71500.5)</td>
                                                <td class="text-left">@string.Format("{0:C}", 268499.2)</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">10/abr</td>
                                                <td class="text-left">@string.Format("{0:C}", 10650.4)</td>
                                                <td class="text-left">@string.Format("{0:C}", 257848.8)</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">15/abr</td>
                                                <td class="text-left">@string.Format("{0:C}", 12950.2)</td>
                                                <td class="text-left">@string.Format("{0:C}", 244898.6)</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">20/abr</td>
                                                <td class="text-left">@string.Format("{0:C}", 14450.0)</td>
                                                <td class="text-left">@string.Format("{0:C}", 230448.6)</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">25/abr</td>
                                                <td class="text-left">@string.Format("{0:C}", 125000.0)</td>
                                                <td class="text-left">@string.Format("{0:C}", 105448.6)</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">30/abr</td>
                                                <td class="text-left">@string.Format("{0:C}", 50320.6)</td>
                                                <td class="text-left">@string.Format("{0:C}", 55128)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-center"><span style="color:#333333!important;font-size:19px!important;fill:#333333!important;">Ranking Assessoria - Perfomance</span></div>
                                    <table id="rankingPerfomance" class="table table-bordered table-condensed" style="border-radius:2px;margin:0px;" border="0">
                                        <thead>
                                            <tr>
                                                <th class="text-left" style="width:10px">Pos</th>
                                                <th class="text-left" style="width:40px">Assessorias</th>
                                                <th class="text-left" style="width:40px">Performance</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-left">01</td>
                                                <td class="text-left">@string.Format("ASSESORIA A")</td>
                                                <td class="text-left">@string.Format("{0}%", 35.3)</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">02</td>
                                                <td class="text-left">@string.Format("ASSESORIA B")</td>
                                                <td class="text-left">@string.Format("{0}%", 30.2)</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">03</td>
                                                <td class="text-left">@string.Format("ASSESORIA C")</td>
                                                <td class="text-left">@string.Format("{0}%", 22.1)</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">04</td>
                                                <td class="text-left">@string.Format("ASSESORIA D")</td>
                                                <td class="text-left">@string.Format("{0}%", 15.8)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-center"><span style="color:#333333!important;font-size:19px!important;fill:#333333!important;">Ranking Assessoria - Meta</span></div>
                                    <table id="rankingMeta" class="table table-bordered table-condensed" style="border-radius:2px;margin:0px;" border="0">
                                        <thead>
                                            <tr>
                                                <th class="text-left" style="width:10px">Pos</th>
                                                <th class="text-left" style="width:40px">Assessorias</th>
                                                <th class="text-left" style="width:40px">Ating. Meta</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-left">01</td>
                                                <td class="text-left">@string.Format("ASSESORIA A")</td>
                                                <td class="text-left">@string.Format("{0}%", 78.3)</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">02</td>
                                                <td class="text-left">@string.Format("ASSESORIA B")</td>
                                                <td class="text-left">@string.Format("{0}%", 72.2)</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">03</td>
                                                <td class="text-left">@string.Format("ASSESORIA C")</td>
                                                <td class="text-left">@string.Format("{0}%", 57.1)</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">04</td>
                                                <td class="text-left">@string.Format("ASSESORIA D")</td>
                                                <td class="text-left">@string.Format("{0}%", 50.8)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div id="chartAberturaCarteiraValor" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                            </div>
                            <div class="col-md-6">
                                <div id="chartAberturaCarteiraPercentual" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                            </div>
                        </div>
                        <br />

                        <div class="panel panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center"><span style="color:#333333!important;font-size:19px!important;fill:#333333!important;">Assessorias</span></div>
                                    <table id="tabela-assessorias" class="table table-bordered table-condensed" style="border-radius:2px;margin:0px;" border="0">
                                        <thead>
                                            <tr>
                                                <th class="text-left" style="width:10px">Responsavel</th>
                                                <th class="text-left" style="width:40px">Segmento</th>
                                                <th class="text-left" style="width:40px">Carteira Total</th>
                                                <th class="text-left" style="width:40px">Abertura</th>
                                                <th class="text-left" style="width:40px">% Meta</th>
                                                <th class="text-left" style="width:40px">Meta (R$)</th>
                                                <th class="text-left" style="width:40px">R$ Atual</th>
                                                <th class="text-left" style="width:40px">Recuperado</th>
                                                <th class="text-left" style="width:40px">Perfom.</th>
                                                <th class="text-left" style="width:40px">Ating. Meta</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tb-assessoria">
                                            <tr data-name="1">
                                                <td class="text-left">@string.Format("ASSESORIA A 30 < 60")</td>
                                                <td class="text-left">@string.Format("ASSESSORIAS")</td>
                                                <td class="text-left">@string.Format("{0:N}", 601207.01)</td>
                                                <td class="text-left">@string.Format("{0:C}", 112070.1)</td>
                                                <td class="text-left">@string.Format("{0}%", 58.0)</td>
                                                <td class="text-left">@string.Format("{0:C}", 120701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 100701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 80701)</td>
                                                <td class="text-left">@string.Format("{0}%", 48.2)</td>
                                                <td class="text-left">@string.Format("{0}%", 52)</td>
                                            </tr>
                                            <tr data-name="1">
                                                <td class="text-left">@string.Format("ASSESORIA A 60 < 90")</td>
                                                <td class="text-left">@string.Format("ASSESSORIAS")</td>
                                                <td class="text-left">@string.Format("{0:N}", 35207.01)</td>
                                                <td class="text-left">@string.Format("{0:C}", 108070.1)</td>
                                                <td class="text-left">@string.Format("{0}%", 58.0)</td>
                                                <td class="text-left">@string.Format("{0:C}", 566701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 782701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 127701)</td>
                                                <td class="text-left">@string.Format("{0}%", 34.2)</td>
                                                <td class="text-left">@string.Format("{0}%", 84)</td>
                                            </tr>
                                            <tr data-name="1">
                                                <td class="text-left">@string.Format("ASSESORIA A 91 < 360")</td>
                                                <td class="text-left">@string.Format("ASSESSORIAS")</td>
                                                <td class="text-left">@string.Format("{0:N}", 541207.01)</td>
                                                <td class="text-left">@string.Format("{0:C}", 092070.1)</td>
                                                <td class="text-left">@string.Format("{0}%", 58.0)</td>
                                                <td class="text-left">@string.Format("{0:C}", 100701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 120701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 70701)</td>
                                                <td class="text-left">@string.Format("{0}%", 38.2)</td>
                                                <td class="text-left">@string.Format("{0}%", 22)</td>
                                            </tr>

                                            <tr data-name="1">
                                                <td class="text-left">@string.Format("ASSESORIA B 30 < 60")</td>
                                                <td class="text-left">@string.Format("ASSESSORIAS")</td>
                                                <td class="text-left">@string.Format("{0:N}", 551207.01)</td>
                                                <td class="text-left">@string.Format("{0:C}", 452070.1)</td>
                                                <td class="text-left">@string.Format("{0}%", 58.0)</td>
                                                <td class="text-left">@string.Format("{0:C}", 120701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 100701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 80701)</td>
                                                <td class="text-left">@string.Format("{0}%", 48.2)</td>
                                                <td class="text-left">@string.Format("{0}%", 91)</td>
                                            </tr>
                                            <tr data-name="1">
                                                <td class="text-left">@string.Format("ASSESORIA B 60 < 90")</td>
                                                <td class="text-left">@string.Format("ASSESSORIAS")</td>
                                                <td class="text-left">@string.Format("{0:N}", 761207.01)</td>
                                                <td class="text-left">@string.Format("{0:C}", 652070.1)</td>
                                                <td class="text-left">@string.Format("{0}%", 58.0)</td>
                                                <td class="text-left">@string.Format("{0:C}", 143701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 130701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 80701)</td>
                                                <td class="text-left">@string.Format("{0}%", 48.2)</td>
                                                <td class="text-left">@string.Format("{0}%", 38)</td>
                                            </tr>
                                            <tr data-name="1">
                                                <td class="text-left">@string.Format("ASSESORIA B 91 < 360")</td>
                                                <td class="text-left">@string.Format("ASSESSORIAS")</td>
                                                <td class="text-left">@string.Format("{0:N}", 691207.01)</td>
                                                <td class="text-left">@string.Format("{0:C}", 352070.1)</td>
                                                <td class="text-left">@string.Format("{0}%", 58.0)</td>
                                                <td class="text-left">@string.Format("{0:C}", 165701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 164701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 60701)</td>
                                                <td class="text-left">@string.Format("{0}%", 48.2)</td>
                                                <td class="text-left">@string.Format("{0}%", 96)</td>
                                            </tr>

                                            <tr data-name="1">
                                                <td class="text-left">@string.Format("ASSESORIA C 30 < 60")</td>
                                                <td class="text-left">@string.Format("ASSESSORIAS")</td>
                                                <td class="text-left">@string.Format("{0:N}", 841207.01)</td>
                                                <td class="text-left">@string.Format("{0:C}", 512070.1)</td>
                                                <td class="text-left">@string.Format("{0}%", 58.0)</td>
                                                <td class="text-left">@string.Format("{0:C}", 187701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 184701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 47701)</td>
                                                <td class="text-left">@string.Format("{0}%", 48.2)</td>
                                                <td class="text-left">@string.Format("{0}%", 86)</td>
                                            </tr>
                                            <tr data-name="1">
                                                <td class="text-left">@string.Format("ASSESORIA C 60 < 90")</td>
                                                <td class="text-left">@string.Format("ASSESSORIAS")</td>
                                                <td class="text-left">@string.Format("{0:N}", 231207.01)</td>
                                                <td class="text-left">@string.Format("{0:C}", 342070.1)</td>
                                                <td class="text-left">@string.Format("{0}%", 58.0)</td>
                                                <td class="text-left">@string.Format("{0:C}", 121701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 110701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 70701)</td>
                                                <td class="text-left">@string.Format("{0}%", 48.2)</td>
                                                <td class="text-left">@string.Format("{0}%",58)</td>
                                            </tr>
                                            <tr data-name="1">
                                                <td class="text-left">@string.Format("ASSESORIA C 91 < 360")</td>
                                                <td class="text-left">@string.Format("ASSESSORIAS")</td>
                                                <td class="text-left">@string.Format("{0:N}", 981207.01)</td>
                                                <td class="text-left">@string.Format("{0:C}", 222070.1)</td>
                                                <td class="text-left">@string.Format("{0}%", 58.0)</td>
                                                <td class="text-left">@string.Format("{0:C}", 110701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 143701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 90701)</td>
                                                <td class="text-left">@string.Format("{0}%", 58.2)</td>
                                                <td class="text-left">@string.Format("{0}%", 74)</td>
                                            </tr>

                                            <tr data-name="1">
                                                <td class="text-left">@string.Format("ASSESORIA D 30 < 60")</td>
                                                <td class="text-left">@string.Format("ASSESSORIAS")</td>
                                                <td class="text-left">@string.Format("{0:N}", 601207.01)</td>
                                                <td class="text-left">@string.Format("{0:C}", 182070.1)</td>
                                                <td class="text-left">@string.Format("{0}%", 58.0)</td>
                                                <td class="text-left">@string.Format("{0:C}", 131701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 76701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 70701)</td>
                                                <td class="text-left">@string.Format("{0}%", 48.2)</td>
                                                <td class="text-left">@string.Format("{0}%", 85)</td>
                                            </tr>
                                            <tr data-name="1">
                                                <td class="text-left">@string.Format("ASSESORIA D 60 < 90")</td>
                                                <td class="text-left">@string.Format("ASSESSORIAS")</td>
                                                <td class="text-left">@string.Format("{0:N}", 601207.01)</td>
                                                <td class="text-left">@string.Format("{0:C}", 152070.1)</td>
                                                <td class="text-left">@string.Format("{0}%", 58.0)</td>
                                                <td class="text-left">@string.Format("{0:C}", 198701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 143701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 70701)</td>
                                                <td class="text-left">@string.Format("{0}%", 48.2)</td>
                                                <td class="text-left">@string.Format("{0}%", 41)</td>
                                            </tr>
                                            <tr data-name="1">
                                                <td class="text-left">@string.Format("ASSESORIA D 91 < 360")</td>
                                                <td class="text-left">@string.Format("ASSESSORIAS")</td>
                                                <td class="text-left">@string.Format("{0:N}", 601207.01)</td>
                                                <td class="text-left">@string.Format("{0:C}", 142070.1)</td>
                                                <td class="text-left">@string.Format("{0}%", 58.0)</td>
                                                <td class="text-left">@string.Format("{0:C}", 109701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 145701)</td>
                                                <td class="text-left">@string.Format("{0:C}", 80701)</td>
                                                <td class="text-left">@string.Format("{0}%", 48.2)</td>
                                                <td class="text-left">@string.Format("{0}%", 20)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <br />
                        <div class="panel panel-body">
                            <div class="row">
                                <div class="col-md-6">

                                    @*<div class="text-center"><span style="color:#333333!important;font-size:19px!important;fill:#333333!important;">Valor Assessoria</span></div>*@

                                    <div id="chartAssessoriaValor" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

                                </div>
                                <div class="col-md-6">

                                    @*<div class="text-center"><span style="color:#333333!important;font-size:19px!important;fill:#333333!important;">Percentual Assessoria</span></div>*@

                                    <div id="chartAssessoriaPercentual" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row hide">
                    <div class="container">
                        <div class="panel panel-body">
                            <div class="row">
                                <div class="text-center"><span style="color:#333333!important;font-size:19px!important;fill:#333333!important;">Status Carteira</span></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="text-center"><span style="color:#333333!important;font-size:19px!important;fill:#333333!important;">Assessorias</span></div>
                                            <table id="tabela-assessorias" class="table table-bordered table-condensed" style="border-radius:2px;margin:0px;" border="0">
                                                <thead>
                                                    <tr>
                                                        <th class="text-left" style="width:10px">Responsavel</th>
                                                        <th class="text-left" style="width:40px">Segmento</th>
                                                        <th class="text-left" style="width:40px">Carteira Total</th>
                                                        <th class="text-left" style="width:40px">Abertura</th>
                                                        <th class="text-left" style="width:40px">% Meta</th>
                                                        <th class="text-left" style="width:40px">Meta (R$)</th>
                                                        <th class="text-left" style="width:40px">R$ Atual</th>
                                                        <th class="text-left" style="width:40px">Recuperado</th>
                                                        <th class="text-left" style="width:40px">Perfom.</th>
                                                        <th class="text-left" style="width:40px">Ating. Meta</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tb-assessoria">
                                                    <tr data-name="1">
                                                        <td class="text-left">@string.Format("ASSESORIA A 30 < 60")</td>
                                                        <td class="text-left">@string.Format("ASSESSORIAS")</td>
                                                        <td class="text-left">@string.Format("{0:N}", 601207.01)</td>
                                                        <td class="text-left">@string.Format("{0:C}", 112070.1)</td>
                                                        <td class="text-left">@string.Format("{0}%", 58.0)</td>
                                                        <td class="text-left">@string.Format("{0:C}", 120701)</td>
                                                        <td class="text-left">@string.Format("{0:C}", 100701)</td>
                                                        <td class="text-left">@string.Format("{0:C}", 80701)</td>
                                                        <td class="text-left">@string.Format("{0}%", 48.2)</td>
                                                        <td class="text-left">@string.Format("{0}%", 52)</td>
                                                    </tr>
                                                    <tr data-name="1">
                                                        <td class="text-left">@string.Format("ASSESORIA A 60 < 90")</td>
                                                        <td class="text-left">@string.Format("ASSESSORIAS")</td>
                                                        <td class="text-left">@string.Format("{0:N}", 35207.01)</td>
                                                        <td class="text-left">@string.Format("{0:C}", 108070.1)</td>
                                                        <td class="text-left">@string.Format("{0}%", 58.0)</td>
                                                        <td class="text-left">@string.Format("{0:C}", 566701)</td>
                                                        <td class="text-left">@string.Format("{0:C}", 782701)</td>
                                                        <td class="text-left">@string.Format("{0:C}", 127701)</td>
                                                        <td class="text-left">@string.Format("{0}%", 34.2)</td>
                                                        <td class="text-left">@string.Format("{0}%", 84)</td>
                                                    </tr>
                                                    <tr data-name="1">
                                                        <td class="text-left">@string.Format("ASSESORIA A 91 < 360")</td>
                                                        <td class="text-left">@string.Format("ASSESSORIAS")</td>
                                                        <td class="text-left">@string.Format("{0:N}", 541207.01)</td>
                                                        <td class="text-left">@string.Format("{0:C}", 092070.1)</td>
                                                        <td class="text-left">@string.Format("{0}%", 58.0)</td>
                                                        <td class="text-left">@string.Format("{0:C}", 100701)</td>
                                                        <td class="text-left">@string.Format("{0:C}", 120701)</td>
                                                        <td class="text-left">@string.Format("{0:C}", 70701)</td>
                                                        <td class="text-left">@string.Format("{0}%", 38.2)</td>
                                                        <td class="text-left">@string.Format("{0}%", 22)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>




                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript">
        var assessoriaValor = [];
        var assessoriaPercentual = [];
        var chartAssessoriaValor = '';
        $(document).ready(function () {
            Highcharts.setOptions({
                lang: {
                    decimalPoint: ',',
                    thousandsSep: '.'
                }
            });
            carregaGrafico();
        });
        function carregaGrafico() {
            carregaGraficoAberturaCarteiraValor();
            carregaGraficoAberturaCarteiraPercentual();
            carregarGraficoAssessoriaValor();
            carregarGraficoAssessoriaPercentual();
        }
        function carregaGraficoAberturaCarteiraValor() {
            Highcharts.chart('chartAberturaCarteiraValor', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Valores - Abertura de Carteira'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: [
                        '01/abr',
                        '05/abr',
                        '10/abr',
                        '15/abr',
                        '20/abr',
                        '25/abr',
                        '30/abr'
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Valores'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Valor recuperado',
                    data: [490500.9, 71500.5, 10650.4, 12950.2, 14450.0, 125000.0, 50320.6]

                }, {
                    name: 'Valor não recuperado',
                    data: [830500.6, 268499.2, 257848.8, 244898.6, 230448.6, 105448.6, 55128]

                }]
            });
        }
        function carregaGraficoAberturaCarteiraPercentual() {
            Highcharts.chart('chartAberturaCarteiraPercentual', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Percentual - Abertura de Carteira'
                },
                xAxis: {
                    categories: [
                        '01/abr',
                        '05/abr',
                        '10/abr',
                        '15/abr',
                        '20/abr',
                        '25/abr',
                        '30/abr'
                    ],
                    crosshair: true
                },
                credits: {
                    enabled: false
                },
                yAxis: {

                    title: {
                        text: 'Percentuais'
                    }
                },
                series: [{
                    name: 'Percentual recuperado',
                    data: [37.13, 21.03, 3.97, 5.02, 5.90, 54.24, 47.72]
                }, {
                    name: 'Percentual não recuperado',
                    data: [62.87, 78.97, 96.03, 94.98, 94.10, 45.76, 52.28]
                }]
            });
        }
        function carregarGraficoAssessoriaValor() {
            $("#tb-assessoria").find("tr[data-name]").each(function (i, e) {
                assessoriaValor.push({
                    name: $(e).find("td:eq(0)").text(),
                    y: parseFloat($.trim($(e).find("td:eq(2)").text()).replace('.', ''))
                });
            });
            console.log(assessoriaValor)

            chartAssessoriaValor = new Highcharts.Chart({
                chart: {
                    reflow: false,
                    type: 'column',
                    renderTo: 'chartAssessoriaValor',
                },
                title: {
                    text: 'Valor Assessoria'
                },
                //subtitle: {
                //    text: 'Gráfico por Fase'
                //},
                xAxis: {
                    type: 'category',
                    labels: {

                        style: {
                            color: '#525151',
                            font: '8px Helvetica',
                            fontWeight: 'bold'
                        },
                        formatter: function () {
                            return this.value;
                        }
                    }
                    //crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ''
                    }
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    column: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: 'R$ {point.y:,.2f}'
                        }
                    },
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                dblclick: function () {
                                    //filtrarPorFase(this.faseId)
                                }
                            }
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:12px"><b>{point.key}</b></span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0"><b>{series.name}:</b> </td>' +
                        '<td style="padding:0">R$ {point.y:,.2f}</td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },

                series: [{
                    name: "Valor ",
                    colorByPoint: true,
                    data: assessoriaValor
                }]
            });
        }
        function carregarGraficoAssessoriaPercentual() {
            $("#tb-assessoria").find("tr[data-name]").each(function (i, e) {
                assessoriaPercentual.push({
                    name: $(e).find("td:eq(0)").text(),
                    y: parseFloat($.trim($(e).find("td:eq(9)").text()).replace('.', '').replace('%', ''))
                });
            });
            console.log(assessoriaPercentual)

            chartAssessoriaPercentual = new Highcharts.Chart({
                chart: {
                    reflow: false,
                    type: 'column',
                    renderTo: 'chartAssessoriaPercentual',
                },
                title: {
                    text: 'Percentual Assessoria'
                },
                //subtitle: {
                //    text: 'Gráfico por Fase'
                //},
                xAxis: {
                    type: 'category',
                    labels: {

                        style: {
                            color: '#525151',
                            font: '8px Helvetica',
                            fontWeight: 'bold'
                        },
                        formatter: function () {
                            return this.value;
                        }
                    }
                    //crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ''
                    }
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    column: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:,.2f}%'
                        }
                    },
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                dblclick: function () {
                                    //filtrarPorFase(this.faseId)
                                }
                            }
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:12px"><b>{point.key}</b></span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0"><b>{series.name}:</b> </td>' +
                        '<td style="padding:0">{point.y:,.2f}%</td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },

                series: [{
                    name: "Percentual ",
                    colorByPoint: true,
                    data: assessoriaPercentual
                }]
            });
        }
    </script>
}
