﻿@model Cobranca.Web.Models.HomePesquisaViewModel
@using Cobranca.Rotinas;
@using Cobranca.Db.Models;
@{
    ViewBag.Title = "MapsFrame";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool fgAdmin = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin;
    var usuario = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado();
}
@Html.Hidden("Qde", 0)
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-junix" role="tablist">
            <li role="presentation" class=""><a href="@Url.Action("Index")">STATUS</a></li>
            @if (usuario.PerfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin)
            {
                if (Cobranca.Web.Rotinas.WebRotinas.ObterVersaoEmpresa() == Cobranca.Db.Models.Enumeradores.VersaoEmpresa.Junix)
                {
                    <li role="presentation" class=""><a href="@Url.Action("Indicadores")">@Idioma.Traduzir("Indicadores").ToUpper()</a></li>
                    <li role="presentation" class=""><a href="@Url.Action("PagamentoAtraso")">@Idioma.Traduzir("Pagamento X Atraso").ToUpper()</a></li>
                        <li role="presentation" class=""><a href="@Url.Action("MotivoAtraso")">@Idioma.Traduzir("Motivo Atraso").ToUpper()</a></li>
                        <li role="presentation" class=""><a href="@Url.Action("Resolucao")">@Idioma.Traduzir("Resolução").ToUpper()</a></li>
                        <li role="presentation" class="active"><a href="@Url.Action("MapaDeCliente")">@Idioma.Traduzir("Mapa de Cliente").ToUpper()</a></li>
                }


            }
            @if ((bool)Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Admin || Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Enumeradores.PerfilTipo.Analista || Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Enumeradores.PerfilTipo.SupervisorAnalista || Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Enumeradores.PerfilTipo.Regional || Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.RegionalAdmin)
            {
                <li role="presentation" class="hide"><a href="@Url.Action("Index","Home")">@Idioma.Traduzir("Solicitações").ToUpper()</a></li>
            }
        </ul>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default panel-com-tab">
            <div class="panel-body">
                <form action="@Url.Action("MapaDeCliente")" method="post">
                    <div class="row">
                        <div class="col-lg-2 com-md-3 col-xs-6 ">
                            <div class="form-group-sm">
                                <label for="Nome" class=""><i class=""></i> Tipo Cobrança:</label>
                                @Html.DropDownList("CodTipoCobranca", new SelectList(ViewBag.ListaCobranca, "value", "key", 0), new { @class = "form-control input-silver" })
                            </div>
                        </div>
                        <div class="col-lg-2 com-md-3 col-xs-6">
                            <div class="form-group-sm">
                                <label for="CodEmpreendimento" class=""><i class=""></i> Empresa:</label><br />
                                @Html.DropDownList("CodConstrutora", new SelectList(ViewBag.ListaConstrutora, "value", "key", 0), new { @class = "form-control input-silver" })
                            </div>
                        </div>
                        <div class="col-lg-2 com-md-3 col-xs-6">
                            <div class="form-group-sm">
                                <label for="Nome" class=""><i class=""></i> Filial:</label>
                                @Html.DropDownList("CodRegional", new SelectList(ViewBag.ListaRegional, "value", "key", 0), new { @class = "form-control input-silver" })
                            </div>
                        </div>
                        <div class="col-lg-2 com-md-3 col-xs-6">
                            <div class="form-group-sm">
                                <label for="Nome" class=""><i class=""></i> Produto:</label>
                                @Html.DropDownList("CodProduto", new SelectList(ViewBag.ListaProduto, "value", "key", 0), new { @class = "form-control input-silver" })
                            </div>
                        </div>

                        <div class="col-lg-2 com-md-3 col-xs-6">
                            <div class="form-group-sm">
                                <label for="Nome" class=""><i class=""></i> Aging:</label>
                                @Html.DropDownList("CodAging", new SelectList(ViewBag.ListaAging, "value", "key", 0), new { @class = "form-control input-silver" })
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <button type="button" onclick="AdicionarPoint()"></button>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-xs-6">
                            <button type="submit" class="btn btn-primary btn-sm margin-top-18 btn-min-width"><i class="fa fa-search"></i> Filtrar</button>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-md-12">
                        <div id="map_div" style="height: 500px;"></div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>


@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVWZlc_qhU1tEgsH07Mk6iJVDrnQ_jj-Q"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });
        function carregarPontos() {
            var CodEmpreendimento = $("#CodEmpreendimento").val();
            var CodRegional = $("#CodRegional").val();
            var CodBloco = $("#CodBloco").val();
            var DataInicio = $("#DataInicio").val();
            var DataFim = $("#DataFim").val();

            $.ajax({
                url: '@Url.Action("ListarCEPs")',
                type: 'post',
                dataType: 'json',
                data: {
                    CodTipoCobranca: $("#CodTipoCobranca").val(),
                    CodEmpresa: $("#CodEmpreendimento").val(),
                    CodProduto: $("#CodProduto").val(),
                    CodAging: $("#CodAging").val(),
                    CodFilial: $("#CodRegional").val()
                }
            }).success(function (resultado) {
                if(resultado.OK){
                    drawMap(resultado);
                }

            });
        }
        function carregarBlocos() {
            var cod = $("#CodEmpreendimento").val();
            $.ajax({
                url: '@Url.Action("ListarBlocoPorEmpreendimento", "Home")',
                type: 'post',
                dataType: 'json',
                data: { CodEmpreendimento: cod }
            }).success(function (resultado) {
                popularDropoDownList($("#CodBloco"), resultado);

            });
        }
        function carregarEmpreendimentos() {
            var codRegional = $("#CodRegional").val();
            $.ajax({
                url: '@Url.Action("ListarEmpreendimento")',
                data: { CodRegional: codRegional },
                type: 'post'
            }).success(function (resultado) {
                popularDropoDownList($("#CodEmpreendimento"), resultado);
            });
        }
        google.charts.load('current', { packages: ['map'] });
        google.charts.setOnLoadCallback(carregarPontos);
        var url = "@Url.Content("~/Content/img/icones/")";

        function AdicionarPoint() {
            var de = $("Qde").val();
            var ate = parseFloat(de) + 30;
            $.get("Home/GetPoint/" + "?de=" + de + "?ate=" + ate, function (response) {
                if (response.OK) {
                    setMark(response.data);
                }
            });
        }
        function setMark(dados) {
            console.log(dados);
        };

        function drawMap(dados) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'CEP');
            data.addColumn('string', 'Status');
            data.addColumn('string', 'Marker');

            var listaCeps = dados.Dados;
            var listaEmpreendimentos = dados.ListaEmpreendimentos;

            var arr = [];
            //listaCeps.length
            for (var i = 0; i < listaCeps.length; i++) {
                var item = listaCeps[i];
                if (item.endereco) {
                    arr.push([item.endereco, item.nome, 'vendido']);

                }
            }

            data.addRows(arr);

            var options = {
                mapType: 'styledMap',
                zoomLevel: 5,
                showTip: true,
                useMapTypeControl: true,
                icons: {
                    vendido: {
                        normal: url + 'verde.png',
                        selected: url + 'verde.png'
                    },
                    analise: {
                        normal: url + 'amarelo.png',
                        selected: url + 'amarelo.png'
                    },
                    reprovado: {
                        normal: url + 'vermelho.png',
                        selected: url + 'vermelho.png'
                    },
                    predio: {
                        normal: url + 'predio.png',
                        selected: url + 'predio.png'
                    }
                },
                maps: {
                    // Your custom mapTypeId holding custom map styles.
                    styledMap: {
                        name: 'Styled Map' // This name will be displayed in the map type control.
                        //styles: [
                        //  {
                        //      featureType: 'poi.attraction',
                        //      stylers: [{ color: '#fce8b2' }]
                        //  },
                        //  {
                        //      featureType: 'road.highway',
                        //      stylers: [{ hue: '#0277bd' }, { saturation: -50 }]
                        //  },
                        //  {
                        //      featureType: 'road.highway',
                        //      elementType: 'labels.icon',
                        //      stylers: [{ hue: '#000' }, { saturation: 100 }, { lightness: 50 }]
                        //  },
                        //  {
                        //      featureType: 'landscape',
                        //      stylers: [{ hue: '#259b24' }, { saturation: 10 }, { lightness: -22 }]
                        //  }
                        //]
                    }
                }
            };

            var map = new google.visualization.Map(document.getElementById('map_div'));

            map.draw(data, options);
        }
    </script>
}
