﻿@model Cobranca.Web.Models.HomePesquisaViewModel
@using Cobranca.Rotinas;
@using Cobranca.Db.Models;
@{
    ViewBag.MenuAtivo = "menu-home";
    ViewBag.Title = "Projetos";
    List<Cobranca.Db.Models.TabelaMotivoAtraso> _listaTabelaMotivoAtraso = new List<Cobranca.Db.Models.TabelaMotivoAtraso>();
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listaContrato = Model.ListaContratoes.Where(x => !x.DataExcluido.HasValue).OrderBy(x => x.DataCadastro);
    if (ViewBag.ListaMotivoAtraso != null)
    {
        _listaTabelaMotivoAtraso = (List<Cobranca.Db.Models.TabelaMotivoAtraso>)ViewBag.ListaMotivoAtraso;
    }
    var fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true;
    var _usuario = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado();
}
<div class="layout layout-stack-sm layout-main-left " style="min-height:400px;">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-junix" role="tablist">
            <li role="presentation"><a href="@Url.Action("Index")">@Idioma.Traduzir("STATUS").ToUpper() </a></li>
            @if (_usuario.PerfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin)
            {
                if (Cobranca.Web.Rotinas.WebRotinas.ObterVersaoEmpresa() == Cobranca.Db.Models.Enumeradores.VersaoEmpresa.Junix)
                {
                    <li role="presentation" class=""><a href="@Url.Action("Indicadores")">@Idioma.Traduzir("Indicadores").ToUpper()</a></li>
                    <li role="presentation" class=""><a href="@Url.Action("PagamentoAtraso")">@Idioma.Traduzir("Pagamento X Atraso").ToUpper()</a></li>
                    <li role="presentation" class="active"><a href="@Url.Action("MotivoAtraso")">@Idioma.Traduzir("Motivo Atraso").ToUpper()</a></li>
                    <li role="presentation" class=""><a href="@Url.Action("Resolucao")">@Idioma.Traduzir("Resolução").ToUpper()</a></li>
                    <li role="presentation" class=""><a href="@Url.Action("MapaDeCliente")">@Idioma.Traduzir("Mapa de Cliente").ToUpper()</a></li>
                }
            }
            @if ((bool)Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Admin || Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Enumeradores.PerfilTipo.Analista || Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Enumeradores.PerfilTipo.SupervisorAnalista || Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Enumeradores.PerfilTipo.Regional || Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Enumeradores.PerfilTipo.RegionalAdmin)
            {
                <li role="presentation" class="hide"><a href="@Url.Action("Index","Home")">@Idioma.Traduzir("Solicitações").ToUpper()</a></li>
            }
        </ul>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default panel-com-tab">
            <div class="panel-body">
                <form method="post" action="@Url.Action("MotivoAtraso")">

                    <div class="row area-expantir animated fadeIn">

                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="TAB-STATUS">
                            <div class="row">
                                <div class="col-lg-2 com-md-2 col-xs-6 hide">
                                    <div class="form-group-sm">
                                        <label for="Nome" class=""><i class=""></i> Tipo Cobrança:</label>
                                        @Html.DropDownList("CodTipoCobranca", new SelectList(ViewBag.ListaCobranca, "value", "key", 0), new { @class = "form-control input-silver" })
                                        @*@Html.DropDownList("Tipo", new SelectList(Cobranca.Db.Models.EnumeradoresLista.ContatoTipo(), "value", "key", 0), new { @class = "form-control input-silver" })*@
                                    </div>
                                </div>
                                <div class="col-lg-2 com-md-2 col-xs-6 hide">
                                    <div class="form-group-sm">
                                        <label for="Nome" class=""><i class=""></i> Campanha:</label>
                                        @Html.DropDownList("CodCampanha", new SelectList(ViewBag.ListaCampanha, "value", "key", 0), new { @class = "form-control input-silver" })
                                    </div>
                                </div>
                                <div class="col-lg-2 com-md-3 col-xs-6">
                                    <div class="form-group-sm">
                                        <label for="CodEmpreendimento" class=""><i class=""></i> Empresa:</label><br />
                                        @Html.DropDownList("CodConstrutora", new SelectList(ViewBag.ListaConstrutora, "value", "key", 0), new { @class = "form-control input-silver" })
                                    </div>
                                </div>
                                <div class="col-lg-2 com-md-3 col-xs-6">
                                    <div class="form-group-sm">
                                        <label for="Nome" class=""><i class=""></i> Filial:</label>
                                        @Html.DropDownList("CodRegional", new SelectList(ViewBag.ListaRegional, "value", "key", 0), new { @class = "form-control input-silver" })
                                    </div>
                                </div>
                                <div class="col-lg-2 com-md-3 col-xs-6">
                                    <div class="form-group-sm">
                                        <label for="Nome" class=""><i class=""></i> Produto:</label>
                                        @Html.DropDownList("CodProduto", new SelectList(ViewBag.ListaProduto, "value", "key", 0), new { @class = "form-control input-silver" })
                                    </div>
                                </div>
                                <div class="col-lg-2 com-md-1 col-xs-6">
                                    <div class="form-group-sm">
                                        <label for="Nome" class=""><i class=""></i> Aging:</label>
                                        @Html.DropDownList("CodAging", new SelectList(ViewBag.ListaAging, "value", "key", 0), new { @class = "form-control input-silver" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group-sm">
                                        <label>Data Início</label>
                                        @Html.TextBox("DataInicio", "", new { @class = "input-silver form-control", data_mask = "datetime" })
                                    </div>

                                </div>
                                <div class="col-md-2">
                                    <div class="form-group-sm">
                                        <label>Data Fim</label>
                                        @Html.TextBox("DataFim", "", new { @class = "input-silver form-control", data_mask = "datetime" })
                                    </div>

                                </div>
                                <div class="col-lg-2 col-sm-2 col-xs-6">
                                    <button type="submit" class="btn btn-primary btn-sm margin-top-18  btn-min-width"><i class="fa fa-search"></i> Filtrar</button>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <div class="portlet portlet-default">
                                    <div class="portlet-header">
                                        <h4 class="portlet-title">
                                            Motivo Atraso
                                        </h4>
                                    </div> <!-- /.portlet-header -->
                                    <div class="portlet-body">
                                        <table id="tb-historico" class="table table-bordered table-condensed">
                                            <thead>
                                                <tr>
                                                    <th class="text-left">DATA</th>
                                                    <th class="text-center">QTD</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (_listaTabelaMotivoAtraso != null)
                                                {
                                                    foreach (var item in _listaTabelaMotivoAtraso.OrderBy(x => x.MotivoAtraso).ToList())
                                                    {
                                                        <tr>
                                                            <td class="text-left">@string.Format("{0}", Idioma.Traduzir(Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.MotivoAtraso)))</td>
                                                            <td class="text-center">
                                                                <a href="@Url.Action("Resultado","Pesquisa")">
                                                                    @String.Format("{0}", listaContrato.Where(o => o.ContratoHistoricoes.Any() && o.ContratoHistoricoes.Last().CodMotivoAtraso == item.Cod).GroupBy(x => x.Cod).Count())
                                                                </a>
                                                            </td>

                                                        </tr>
                                                    }


                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group-sm">
                                    <div id="Recebimento"></div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="TAB-ATRASO">
                            <div class="row">

                                <div class="col-sm-12" id="tabela" style="display:none">
                                    <div class="form-group-sm">
                                        <table class="data-table table table-bordered table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Mês
                                                    </th>
                                                    <th>
                                                        Em Atraso
                                                    </th>
                                                    <th>
                                                        Em Dia
                                                    </th>
                                                    <th>
                                                        Recebido
                                                    </th>
                                                </tr>
                                            </thead>
                                            @*@foreach (var c in cliente.Cliente.ClienteContatoes)
                                                {
                                                    <tr>
                                                        <td>@Cobranca.Db.Models.EnumeradoresDescricao.ContatoTipo(c.Tipo)</td>

                                                        <td>@c.Contato</td>
                                                    </tr>
                                                }*@
                                        </table>

                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>

</div>
<form id="PesquisaDadosSintese" style="display:none" method="post" action="@Url.Action("Resultado", "Pesquisa")">
    @Html.Hidden("CodSintese", 0)
    @Html.Hidden("CodFase", 0)
    @Html.Hidden("CodAgingCliente", 0)
</form>
@section scripts{
    <script src="~/Scripts/Highcharts.js"></script>
    <script src="~/Scripts/GraficoHome.js"></script>
    <script src="~/Scripts/GraficoHome2.js"></script>
    <script src="~/Scripts/GraficoHome3.js"></script>
    <script src="~/Scripts/Graphic_Basic.js"></script>
    <script src="~/Scripts/flot/jquery.flot.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.pie.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.resize.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.stack.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.time.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function () {
        carregarGrafico();
        var area = $("#tb-historico").find("tr[data-fase]");
        var icone = $("#tb-historico").find("i[data-icone]");
        area.hide();
        icone.removeClass("fa-minus-square").addClass("fa-plus-square");
        $("#CodTipoOperacao").change(function () {
            var cod = $("#CodTipoOperacao").val();
            $.ajax({
                url: '@Url.Action("ListarProdutoPorConvenio", "Home")',
                type: 'post',
                dataType: 'json',
                data: { Convenio: cod }
            }).success(function (resultado) {
                console.log(resultado);
                popularDropoDownList($("#CodProduto"), resultado);
            });
        });
        $("#CodEmpreendimento").select2({
            ajax: {
                url: "@Url.Action("PesquisarEmpreendimentos", "Empreendimento")",
                dataType: 'json',
                delay: 250,
                data: function (term, page) {
                    return {
                        q: term, // search term
                    };
                },
                processResults: function (data, params) {
                    console.log(data)
                    return {
                        results: data.items
                    };
                },
                cache: true
            },
            initSelection: function (element, callback) {
                return;
                var id = $(element).val();
                if (id !== "") {
                    $.ajax({
                        url: "@Url.Action("PesquisarEmpreendimentos", "Empreendimento")",
                            dataType: 'json',
                            data: { q: "A" }
                        }).done(function (data) { console.log(data); callback(data.items[0]); });
                    }
                },
                minimumInputLength: 1
                //  templateResult: formatRepo, // omitted for brevity, see the source of this page
                // templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
            });
        });
        function expandir(codFase) {
            var area = $("#tb-historico").find("tr[data-fase='" + codFase + "']");
            var icone = $("#tb-historico").find("i[data-icone='" + codFase + "']");
            if (area.is(":visible")) {
                area.hide();
                icone.removeClass("fa-minus-square").addClass("fa-plus-square");
            } else {
                area.show();
                icone.removeClass("fa-plus-square").addClass("fa-minus-square");
            }

        }
        function filtrarPorSintese(status) {
            $("#CodSintese").val(status);
            $("#PesquisaDadosSintese").submit();
        }

        

        function carregarGrafico() {

            var categorias = [];
            var quantidades = [];

            $("#tb-historico").find("tr").each(function (i, e) {
                if (parseInt($(e).find("td:last").find("a").text()) > 0) {
                    categorias.push($(e).find("td:first").text());
                    quantidades.push(parseInt($(e).find("td:last").find("a").text()));
                }
            });
            //$("#tb-historico").DataTable();
            $('#Recebimento').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Motivo Atraso'
                },
                //subtitle: {
                //    text: 'Grafico Mensal'
                //},
                xAxis: {
                    categories: categorias,
            crosshair: true
        },
        yAxis: {
                min: 0,
                title: {
                text: 'Quantidade'
                }
        },
        tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:f} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
        },
        plotOptions: {
                column: {
                    pointPadding: 0.0,
                    borderWidth: 0
                }
        },
        series: [{
            name: 'Quantidade',
            data: quantidades
        } ]
        });
        }
    </script>
}