﻿@model Cobranca.Db.Models.TabelaCampanha

@{
//if (Model.Cod == 0) {
//    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
//}

}

<form id="form-cadastro" class="form" method="POST" action="#">

    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
   
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group-sm">
                <label for="NomeConstrutora">Campanha</label>
                @Html.TextBoxFor(m => m.Campanha, new { @class = "form-control input-silver", required = "required", placeholder = "Nome" })
                @Html.ValidationMessageFor(m => m.Campanha)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-2">
            <div class="form-group-sm">
                <label for="CNPJ">Produto</label>
                @Html.TextBoxFor(m => m.Produto, new { @class = "form-control input-silver", required = "required", placeholder = "Produto" })
                @Html.ValidationMessageFor(m => m.Produto)
            </div> <!-- /.form-group -->
        </div>
        
        
    </div>
    



    <!-- /.form-group -->
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
        <div class="col-sm-12">
            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }
            
        </div>

        <div class="col-sm-3">

        </div>
    </div>

</form>

