﻿@model Cobranca.Db.Models.TabelaVendaEmpreendimento
@{
    //ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
    int tabelaId = Cobranca.Db.Rotinas.DbRotinas.ConverterParaInt(Request.QueryString["tabela"]);
    Model.CodTabelaVenda = tabelaId;
    List<Cobranca.Db.Models.TabelaVendaEmpreendimento> _lista = new List<Cobranca.Db.Models.TabelaVendaEmpreendimento>();
    if (ViewBag.ListaEmpreendimentoTabela != null)
    {
        _lista = (List<Cobranca.Db.Models.TabelaVendaEmpreendimento>)ViewBag.ListaEmpreendimentoTabela;
    }
}


<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-junix" role="tablist">
            <li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("Index","TabelaVenda")">Tabelas</a></li>
            <li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("Cadastro","TabelaVenda", new { id = Model.CodTabelaVenda})">Tabela</a></li>

            <li role="presentation" class=" btn-min-width text-center"><a href="@Url.Action("Cadastro", "TabelaVendaFluxo", new { tabela = Model.CodTabelaVenda })">Fluxo</a></li>
            <li role="presentation" class="active btn-min-width text-center"><a href="@Url.Action("Cadastro","TabelaVendaEmpreendimento",new { tabela = Model.CodTabelaVenda })">Tabela x Empreendimento</a></li>


        </ul>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default panel-com-tab">
            <div class="panel-body">
                @if (Model.Cod <= 0)
                {
                    <button type="button" onclick="exbirForm()" class="btn btn-sm btn-primary pull-left btn-min-width" style="margin-bottom:10px;"><i class="fa fa-plus"></i> Adicionar</button>
                }
                <div class="row" id="dados-form" style="display:none">
                    <div class="col-md-12">

                        @Html.Partial("_form", Model)
                    </div>
                </div>
                <table class="table table-bordered data-table table-condensed">
                    <thead>
                        <tr>
                            <th class="col-sm-1 text-center">#</th>                            
                            <th class="text-center">Empreendimento</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in _lista.ToList())
                        {
                            <tr>
                                <td style="text-align:center">
                                    <a class="btn btn-xs btn-primary" href="@Url.Action("cadastro", new { id = item.Cod, tabela = Model.CodTabelaVenda })"><i class="fa fa-pencil"></i></a>
                                </td>                                
                                <td class="text-left">@item.TabelaEmpreendimento.NomeEmpreendimento</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        function exbirForm() {
            $("#dados-form").fadeIn();
        }
        @if(Model.Cod > 0 || !ViewContext.ViewData.ModelState.IsValid)
        {
            <text>

        exbirForm();
        </text>
        }
        function excluir() {
            if (confirm("Confirma excluir o registro?")) {
                $.ajax({
                    url: '@Url.Action("Excluir")',
                    data: { id: $("#Cod").val() },
                    type: 'post',
                    dataType: 'json'
                }).success(function (result) {
                    document.location = '@Url.Action("index")';
                });
            }
        }
        $(document).ready(function () {

        });
        function cancelar() {
              document.location = '@Url.Action("cadastro",new { id= 0,tabela = tabelaId })';
        }

    </script>
}