﻿@using Cobranca.Rotinas;
@{
    ViewBag.Title = "ClassificacaoParcela";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Cobranca.Web.Models.PesquisaViewModel _objFiltro = new Cobranca.Web.Models.PesquisaViewModel();

    if (ViewBag.Filtro != null)
    {
        _objFiltro = (Cobranca.Web.Models.PesquisaViewModel)ViewBag.Filtro;
    }
}
<form method="post" id="form-extracao-fatura" target="_self">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-small panel-default">
                <div class="panel-heading">
                    <i class="fa fa-filter"></i>&nbsp; @Idioma.Traduzir("ClassificacaoDasFaturas")
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-10 col-md-8 col-xs-12" id="filter-form" data-type="filter">
                            <div class="col-md-3">
                                <div class="form-group-sm">
                                    <label for="CodFase">@Idioma.Traduzir("Fase")</label>
                                    @Html.DropDownList("CdFase", new SelectList(ViewBag.ListaFases, "value", "key", _objFiltro.CodFase), new { @class = "form-control input-silver", required = "required" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group-sm">
                                    <label for="CodSintese">@Idioma.Traduzir("Sintese"):</label>
                                    @Html.DropDownList("CdSintese", new SelectList(ViewBag.ListaSintese, "value", "key", _objFiltro.CodSintese), new { @class = "form-control input-silver", required = "required" })
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-6">
                                <div class="form-group-sm">
                                    <label for="Periodo" class=""><i class=""></i> @Idioma.Traduzir("Período"):</label>
                                    @Html.TextBox("Periodo", "", new { @class = "form-control input-silver", data_mask = "datetimeRange" })
                                    @Html.Hidden("PeriodoDe", DateTime.Now.Date, new { @class = "hide", datatime_ranger = "De" })
                                    @Html.Hidden("PeriodoAte", DateTime.Now.Date, new { @class = "hide", datatime_ranger = "Ate" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-sm btn-primary pull-left margin-top-18  btn-block" style="margin-bottom:0px;" onclick="ExtrairClassificacao()" type="button" id="btn-Extrair"><i class="fa fa-cloud-download"></i>  @Idioma.Traduzir("Extrair")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
<form id="formExtrair" style="display:none" method="post" action="@Url.Action("ExtrairStatus", "Exportacao")">
    @Html.Hidden("CodFase")
    @Html.Hidden("CodSintese")
    @Html.Hidden("De")
    @Html.Hidden("Ate")
</form>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#CdFase").change(function () {
                var cod = $("#CdFase").val();
                $.ajax({
                    url: '@Url.Action("ListarSintesePorFase", "Sintese")',
                    type: 'post',
                    dataType: 'json',
                    data: { fase: cod }
                }).success(function (resultado) {
                    popularDropoDownList($("#CdSintese"), resultado);
                });
            });
        });

        function obterFiltro() {
            return {
                CodFase: $("#CdFase").val(),
                CodSintese: $("#CdSintese").val(),
                PeriodoDe: $("#PeriodoDe").val(),
                PeriodoAte: $("#PeriodoAte").val()
            };
        }

        function ExtrairClassificacao() {
            var data = obterFiltro();
            $("#CodFase").val(data.CodFase);
            $("#CodSintese").val(data.CodSintese);
            $("#De").val(data.PeriodoDe);
            $("#Ate").val(data.PeriodoAte);

            $("#formExtrair").submit();
        }

        function dyn_notice() {
            var percent = 0;
            var notice = new PNotify({
                text: "Aguarde carregando os dados para o banco de dados",
                type: 'warning',
                icon: 'fa fa-spinner fa-spin',
                hide: false,
                buttons: {
                    closer: false,
                    sticker: false
                },
                opacity: 1,
                shadow: true,
                width: "470px"
            });

            setTimeout(function () {
                notice.update({
                    title: false
                });
                var interval = setInterval(function () {
                    percent += 2;
                    var options = {
                        text: "Aguarde carregando os dados para o banco de dados. Processando.."
                    };

                    if (_leituraConcluida) {
                        window.clearInterval(interval);
                        options.title = "Processo finalizado! Aguarde estamos redirecionando..";
                        options.type = "success";
                        options.hide = true;
                        options.buttons = {
                            closer: true,
                            sticker: true
                        };
                        options.icon = 'fa fa-check';
                        options.opacity = 1;
                        options.shadow = true;
                        options.width = PNotify.prototype.options.width;
                        setTimeout(function () {
                            document.location = '@Url.Action("ImportLista","ImportacaoParcela")';
                        }, 2000);
                    }
                    notice.update(options);
                }, 120);
            }, 4000);
        }
    </script>
}

