﻿@using Cobranca.Rotinas;
@{
    ViewBag.Title = "Emails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Cobranca.Web.Models.PesquisaViewModel _objFiltro = new Cobranca.Web.Models.PesquisaViewModel();
    string Msg = "";
    if (ViewBag.Filtro != null)
    {
        _objFiltro = (Cobranca.Web.Models.PesquisaViewModel)ViewBag.Filtro;
    }
    if (ViewBag.Mensagem != null)
    {
        Msg = (string)ViewBag.Mensagem;
    }
}
<form method="post" id="form-extracao-fatura" target="_self">
    <div class="row">
        <div class="col-lg-7 col-xs-12">
            <div class="panel panel-small panel-default">
                <div class="panel-heading">
                    <i class="fa fa-envelope"></i>&nbsp; @Idioma.Traduzir("Informações do E-Mail")
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="col-md-12 col-lg-12 col-xs-12">
                                <div class="form-group-sm">
                                    <label for="Periodo" class=""><i class=""></i> @Idioma.Traduzir("Assunto:"):</label>
                                    @Html.TextBox("assunto", "", new { @class = "form-control input-silver" })
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-xs-12">
                                <div class="form-group-sm">
                                    <label for="Periodo" class=""><i class=""></i> @Idioma.Traduzir("Endereço de Email"):</label>
                                    @Html.TextBox("email", "", new { @class = "form-control input-silver", @PlaceHolder = "O não preenchimento do email será considerado o e-mail já cadastrado" })
                                </div>
                            </div>
                            <div id="chaveDefault" class="col-md-12">
                                <label class="">Campos</label><br />
                                @foreach (var item in Cobranca.Db.Models.EnumeradoresLista.ListaChaveModelo())
                            {
                                <label onclick="addChave('#ModeloDesc', this)" class="label label-info pull-left label-lg cursor-pointer">@item.Key</label>
                        }
                            </div>
                            <div class="col-md-12 col-lg-12 col-xs-12 margin-top-16">
                                <div class="form-group-sm">
                                    @Html.TextArea("Mensagem", Msg, new { @class = "form-control input-silver editor-html", style = "height:80px!important;", rows = "6" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-xs-12">
            <div class="panel panel-small panel-default">
                <div class="panel-heading">
                    <i class="fa fa-filter"></i>&nbsp; @Idioma.Traduzir("Disparar E-Mails com o boleto")
                </div>
                <div class="panel-body" style="min-height:558px" id="panelEmailSelecaoDados">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12" id="filter-form" data-type="filter">
                            <div class="col-lg-8 col-md-8 col-xs-12">
                                <div class="form-group-sm">
                                    <label for="Periodo" class=""><i class=""></i> @Idioma.Traduzir("Parcelas"):</label>
                                    @Html.TextBox("parcelaIds", "", new { @class = "form-control input-silver", @PlaceHolder = "177541,177553" })
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <button class="btn btn-sm btn-primary pull-left margin-top-16  btn-block" style="margin-bottom:0px;" onclick="EnviarEmails()" type="button" id="btn-send"><i id="icon-id" class="fa fa-send"></i>  @Idioma.Traduzir("Enviar")</button>
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-12 margin-top-18">
                                <div class="form-group-sm">
                                    <label for="Periodo" class=""><i class=""></i> @Idioma.Traduzir("Log:"):</label>
                                    @Html.TextArea("txtLog", "", new { @class = "form-control input-silver", @readonly = "readonly", rows = "8" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</form>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#CdFase").change(function () {
                var cod = $("#CdFase").val();
                $.ajax({
                    url: '@Url.Action("ListarSintesePorFase", "Sintese")',
                    type: 'post',
                    dataType: 'json',
                    data: { fase: cod }
                }).success(function (resultado) {
                    popularDropoDownList($("#CdSintese"), resultado);
                });
            });
        });

        function obterFiltro() {
            return {
                CodFase: $("#CdFase").val(),
                CodSintese: $("#CdSintese").val(),
                PeriodoDe: $("#PeriodoDe").val(),
                PeriodoAte: $("#PeriodoAte").val()
            };
        }

        function ExtrairPersonalizado() {
            var data = obterFiltro();
            $("#CodFase").val(data.CodFase);
            $("#CodSintese").val(data.CodSintese);
            $("#De").val(data.PeriodoDe);
            $("#Ate").val(data.PeriodoAte);

            $("#formExtrair").submit();
        }

        function EnviarEmails() {
            var $btn = $("#icon-id");
            $btn.removeClass("fa-send").addClass("fa-refresh fa-spin");
            var $panel = $("#panelEmailSelecaoDados");
            bloquearElement($panel);
            var ids = $("#parcelaIds").val();
            $("#txtLog").val("Processando ...");
            var emailDestinho = $("#email").val();
            var msg = $("#Mensagem").val();
            var ass = $("#assunto").val();
             $.ajax({
                    url: '@Url.Action("DispararEmails", "Exportacao")',
                    type: 'post',
                    dataType: 'json',
                    data: { parcelas: ids, enderecoEmail: emailDestinho, mensagem: msg, assunto: ass}
             }).success(function (resultado) {
                 $btn.removeClass("fa-refresh fa-spin").addClass("fa-send")
                 desbloquarElement($panel);
                 $("#txtLog").val(resultado.Mensagem);
                 console.log(resultado);
                });
        }

        function bloquearElement($el) {
            $el.block({
                message: '',
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#fff',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff',
                    width: '50%'
                },
                overlayCSS: { backgroundColor: '#FFF' }
            });
        }
        function desbloquarElement($el) {
            $el.unblock();
        }

    </script>
}

