﻿@using Cobranca.Rotinas;
@{
    ViewBag.Title = "ExportacaoPersonalizada";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Cobranca.Web.Models.PesquisaViewModel _objFiltro = new Cobranca.Web.Models.PesquisaViewModel();

    if (ViewBag.Filtro != null)
    {
        _objFiltro = (Cobranca.Web.Models.PesquisaViewModel)ViewBag.Filtro;
    }
}
<form method="post" id="form-extracao-fatura" target="_self">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-small panel-default">
                <div class="panel-heading">
                    <i class="fa fa-filter"></i>&nbsp; @Idioma.Traduzir("Exportação Personalizada")
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-10 col-md-8 col-xs-12" id="filter-form" data-type="filter">
                            <div class="col-md-3">
                                <div class="form-group-sm">
                                    <label for="CodFase">@Idioma.Traduzir("Fase")</label>
                                    @Html.DropDownList("CdFase", new SelectList(ViewBag.ListaFases, "value", "key", _objFiltro.CodFase), new { @class = "form-control input-silver", required = "required" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group-sm">
                                    <label for="CodSintese">@Idioma.Traduzir("Sintese"):</label>
                                    @Html.DropDownList("CdSintese", new SelectList(ViewBag.ListaSintese, "value", "key", _objFiltro.CodSintese), new { @class = "form-control input-silver", required = "required" })
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-xs-6">
                                <div class="form-group-sm">
                                    <label for="Periodo" class=""><i class=""></i> @Idioma.Traduzir("Período"):</label>
                                    @Html.TextBox("Periodo", "", new { @class = "form-control input-silver", data_mask = "datetimeRange" })
                                    @Html.Hidden("PeriodoDe", DateTime.Now.Date, new { @class = "hide", datatime_ranger = "De" })
                                    @Html.Hidden("PeriodoAte", DateTime.Now.Date, new { @class = "hide", datatime_ranger = "Ate" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-sm btn-primary pull-left margin-top-18  btn-block" style="margin-bottom:0px;" onclick="ExtrairPersonalizado()" type="button" id="btn-Extrair"><i class="fa fa-cloud-download"></i>  @Idioma.Traduzir("Extrair")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
<form id="formExtrair" style="display:none" method="post" action="@Url.Action("ExtrairPersonalizado", "Exportacao")">
    @Html.Hidden("CodFase")
    @Html.Hidden("CodSintese")
    @Html.Hidden("De")
    @Html.Hidden("Ate")
</form>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#CdFase").change(function () {
                var cod = $("#CdFase").val();
                $.ajax({
                    url: '@Url.Action("ListarSintesePorFase", "Sintese")',
                    type: 'post',
                    dataType: 'json',
                    data: { fase: cod }
                }).success(function (resultado) {
                    popularDropoDownList($("#CdSintese"), resultado);
                });
            });
        });

        function obterFiltro() {
            return {
                CodFase: $("#CdFase").val(),
                CodSintese: $("#CdSintese").val(),
                PeriodoDe: $("#PeriodoDe").val(),
                PeriodoAte: $("#PeriodoAte").val()
            };
        }

        function ExtrairPersonalizado() {
            var data = obterFiltro();
            $("#CodFase").val(data.CodFase);
            $("#CodSintese").val(data.CodSintese);
            $("#De").val(data.PeriodoDe);
            $("#Ate").val(data.PeriodoAte);

            $("#formExtrair").submit();
        }
        
    </script>
}

