﻿@using Cobranca.Rotinas;
@{
    ViewBag.Title = "Remessa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Cobranca.Web.Models.PesquisaViewModel _objFiltro = new Cobranca.Web.Models.PesquisaViewModel();

    if (ViewBag.Filtro != null)
    {
        _objFiltro = (Cobranca.Web.Models.PesquisaViewModel)ViewBag.Filtro;
    }
}
<style>

    table.dataTable tbody td {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    div.dataTables_length {
        float: right !important;
    }
</style>

<form method="post" id="form-extracao-fatura" target="_self">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-small panel-default">
                <div class="panel-heading">
                    <i class="fa fa-filter"></i>&nbsp; @Idioma.Traduzir("Remessa")
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12" id="filter-form" data-type="filter">
                            <div class="col-xs-4 col-md-4 col-lg-4">
                                <div class="form-group-sm" style="margin-bottom:0px;">
                                    <label for="CdPortador">@Idioma.Traduzir("Companhia Fiscal"):</label>
                                    @Html.TextBox("CdPortador", new { @class = "form-control input-silver" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group-sm">
                                    <label for="PeriodoDe">@Idioma.Traduzir("Período De"):</label>
                                    @Html.TextBox("PeriodoDe", DateTime.Now.AddDays(-7), new { @class = "form-control", @data_mask = "datetime2" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group-sm">
                                    <label for="DataPeriodoAte">@Idioma.Traduzir("Período Até"):</label>
                                    @Html.TextBox("PeriodoAte", DateTime.Now.Date, new { @class = "form-control", @data_mask = "datetime2" })
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                <button class="btn btn-sm btn-primary pull-right margin-top-16  btn-block" style="margin-bottom:0px;" onclick="obterDados()" type="button" id="btn-filtrar"><i class="fa fa-filter"></i>&nbsp;@Idioma.Traduzir("Filtrar")</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 panel panel-body box-shadon margin-top-20">

        <div class="row">
            <div class="col-sm-12">
                <table id="table-list" class="display table-responsive table data-table2 table-condensed table-hover table-striped table-bordered" style="margin-bottom:0;">
                    <thead id="dtheader">
                        <tr id="trheader">
                            <th class="check_all" style="width:22px; text-align:center" data-title="#" data-collumn-search="true"></th>
                            <th class="text-center" data-name="StatusTransmissao" data-data="StatusTransmissao" style="max-width:50px" data-title="@Idioma.Traduzir("Status")"></th>
                            <th class="text-center" data-name="Regional" data-data="Regional" style="max-width:150px" data-title="@Idioma.Traduzir("Filial")"></th>
                            <th class="text-center" data-name="CodigoCliente" data-data="CodigoCliente" style="max-width:50px" data-title="@Idioma.Traduzir("An8")"></th>
                            <th class="text-center" data-name="Cliente" data-data="Cliente" style="max-width:500px" data-title="@Idioma.Traduzir("Cliente")"></th>
                            <th class="text-center" data-name="BoletoTipo" data-data="BoletoTipo" style="max-width:50px" data-title="@Idioma.Traduzir("Tipo")"></th>
                            <th class="text-center" data-name="NumeroDocumento" data-data="NumeroDocumento" style="max-width:50px" data-title="@Idioma.Traduzir("Nr.Documento")"></th>
                            <th class="text-center" data-name="NossoNumero" data-data="NossoNumero" style="max-width:50px" data-title="@Idioma.Traduzir("NossoNumero")"></th>
                            <th class="text-center filter-date" data-type="datahora" data-name="DataVencimento" data-data="DataVencimentoDesc" style="max-width:40px" data-title="@Idioma.Traduzir("Dt.Vencimento")"></th>
                            <th class="text-center filter-date" data-type="datahora" data-name="DataDocumento" data-data="DataDocumentoDesc" style="max-width:40px" data-title="@Idioma.Traduzir("Dt.Documento")"></th>
                            <th class="text-center sum-float" data-type="moeda" data-name="ValorDocumentoPrevisto" data-data="ValorDocumentoPrevistoDesc" style="min-width:90px" data-title="@Idioma.Traduzir("Vr.Doc.Prev.")"></th>
                            <th class="text-center sum-float" data-type="moeda" data-name="ValorDocumento" data-data="ValorDocumentoDesc" style="min-width:90px" data-title="@Idioma.Traduzir("Vr.Doc")"></th>
                            <th class="text-center filter-date" data-type="datahora" data-name="DataCadastro" data-data="DataCadastroDesc" style="max-width:45px" data-title="@Idioma.Traduzir("Dt.Solicitação")"></th>
                            <th class="text-center filter-date" data-type="datahora" data-name="DataAprovacao" data-data="DataAprovacaoDesc" style="max-width:45px" data-title="@Idioma.Traduzir("Dt.Aprovação")"></th>
                            <th class="text-center filter-date" data-type="datahora" data-name="DataRemessa" data-data="DataRemessaDesc" style="max-width:45px" data-title="@Idioma.Traduzir("Dt.Remessa")"></th>
                            <th class="text-center" data-name="Solicitante" data-data="Solicitante" style="min-width:80px" data-title="@Idioma.Traduzir("Solicitante")"></th>
                            <th class="text-center" data-name="" data-data="" style="max-width:5px !important" data-collumn-search="false"></th>
                        </tr>
                        <tr id="tb-loading">
                            <td colspan="17" class="text-center animated fadeIn">
                                <h2><i class="fa fa-spin fa-spinner text-silver"></i> @Idioma.Traduzir("Carregando os dados")</h2>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</form>

@section scripts{
    <script type="text/javascript">
        var _today = new Date();
        var _ticked = "&t=" + _today.getSeconds();
        var $data_table = $('#table-list');
        jx.dtableSearch($data_table);
        jx.dtableFooter($data_table);
        var table = $data_table.DataTable({
            "language": {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                paging: false,
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",

                "buttons": {
                    "selectAll": "Marcar Todos",
                    "selectNone": "Desmarcar Todos"
                },
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                oAria: {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            },
            "sDom": '<"col-xs-12 col-md-12 pull-right"p>' +
                '<"col-xs-12 col-md-12 teste"t>' +
                '<"col-xs-12 col-md-6 pull-left"i><"col-xs-12 col-md-6 pull-right"p>'
        });
        $(document).ready(function () {
            $("#CdPortador").select2({
                ajax: {
                    url: "@Url.Action("PesquisarPortadores", "BancoPortador")",
                    dataType: 'json',
                    delay: 250,
                    data: function (term, page) {
                        return { q: term, };
                    },
                    processResults: function (data, params) {
                        return { results: data.items };
                    },
                    cache: true
                },
                initSelection: function (element, callback) {
                    return;
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax({
                            url: "@Url.Action("PesquisarPortadores", "BancoPortador")",
                            dataType: 'json',
                            data: { q: "A" }
                        }).done(function (data) { console.log(data); callback(data.items[0]); });
                    }
                },
                minimumInputLength: 2,
                placeholder: "Banco Portador",
                allowClear: true
            });
            $('#CdPortador').val(''); // Select the option with a value of '1'
            $('#CdPortador').trigger('change');
            obterDados();
        });

        function obterDados() {
            var filter = obterFiltro();
            table.destroy();
            table = $data_table.DataTable({
                "rowId": 'CodBoleto',
                "order": [[12, 'desc']], //DataSolicitacao
                "deferRender": true,
                "serverSide": true,
                "processing": true,
                "ajax": {
                    "url": "@Url.Action("ObterDadosBoletoRemessa", "Exportacao")",
                    "data": filter,
                    "type": "POST"
                },
                "language": {
                    "sEmptyTable": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sInfo": "@Idioma.Traduzir("Mostrando de") _START_ @Idioma.Traduzir("até") _END_ @Idioma.Traduzir("de") _TOTAL_ @Idioma.Traduzir("registros")",
                    "sInfoEmpty": "@Idioma.Traduzir("Mostrando 0 até 0 de 0 registros")",
                    "sInfoFiltered": "(@Idioma.Traduzir("Filtrados de") _MAX_ @Idioma.Traduzir("registros"))",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_",
                    "sLoadingRecords": "@Idioma.Traduzir("Carregando...")",
                    "sProcessing": "<h2><i class='fa fa-spin fa-spinner text-silver'></i> @Idioma.Traduzir("Carregando os dados..")</h2>",
                    "sZeroRecords": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sSearch": "",
                    "oPaginate": {
                        "sNext": "@Idioma.Traduzir("Próximo")",
                        "sPrevious": "@Idioma.Traduzir("Anterior")",
                        "sFirst": "@Idioma.Traduzir("Primeiro")",
                        "sLast": "@Idioma.Traduzir("Último")"
                    },
                    oAria: {
                        "sSortAscending": ": @Idioma.Traduzir("Ordenar colunas de forma ascendente")",
                        "sSortDescending": ": @Idioma.Traduzir("Ordenar colunas de forma descendente")"
                    }
                },
                "columnDefs": [{
                        targets: 0,
                        searchable: false,
                        orderable: false,
                        className: 'td-checkbox',
                        scrollCollapse: true,
                        render: function (data, type, row) {
                        if (row.IsValid) {
                            return '<div class="checkbox checkbox-inline checkbox-default" style="margin-bottom:4px;font-size:14px;  padding-left: 0px; padding-right: 0px; margin:0; margin-top:2px;"><input data-tipo="parcela" style="left: 2px; width: 17px; height: 16px; margin-top:2px"  data-id="' + row.CodBoleto + '" type="checkbox"><label></label></div>'
                            }
                        else
                            return ''
                        }
                    },
                    {
                        targets: 1,
                        searchable: false,
                        orderable: false,
                        className: 'td-checkbox',
                        scrollCollapse: true,
                        render: function (data, type, row) {
                            if (row.StatusTransmissao == "Pendente") {
                                return '<label class="text-bold text-center text-warning" style="padding:5px; margin:0px;">' + row.StatusTransmissao + '</label>'
                            } else if (row.StatusTransmissao == "Emitido") {
                                return '<label class="text-bold text-center text-success" style="padding:5px; margin:0px;">' + row.StatusTransmissao + '</label>'
                            }
                            return '<label class="text-bold text-center" style="padding:5px; margin:0px;">' + row.StatusTransmissao + '</label>'
                        }
                    },
                    {
                        targets: 16,
                        scrollCollapse: true,
                        render: function (data, type, row) {
                            if (row.IsEmitido) {
                                return '<button onclick="downRemessa(' + row.RemessaId + ',true)" type="button" class="btn btn-xs btn-block btn-default" style=""><i class="fa fa-file-text"></i></button>'
                            } else {
                                return ' '
                            }
                        }
                    }],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td:eq(1),td:eq(5),td:eq(6),td:eq(7),td:eq(8),td:eq(9),td:eq(12),td:eq(13),td:eq(14)', nRow).addClass("text-center");
                    $('td:eq(10),td:eq(11)', nRow).addClass("text-right");
                    $('td:eq(2),td:eq(3),td:eq(4)', nRow).addClass("text-left");
                },
                "sDom": '<"row"<"col-xs-12 col-md-12 pull-left"lB>>' +
                '<"row"<"col-xs-12 col-md-12 dtable-reponsive"t>>' +
                '<"row"<"col-xs-12 col-md-6 pull-left"i><"col-xs-12 col-md-6 pull-rigth"p>>',
                "buttons": [{
                    text: '<i class="fa fa-cloud-download" title="Exportar para Excel"></i>',
                    title: 'teste',
                    exportOptions: {
                        columns: ':visible'
                    },
                    className: 'btn btn-sm btn-green-excel',
                    action: function (e, dt, node, config) {
                        $data_table.block({
                            message: '',
                            css: {
                                border: 'none',
                                padding: '15px',
                                backgroundColor: '#fff',
                                '-webkit-border-radius': '10px',
                                '-moz-border-radius': '10px',
                                opacity: .5,
                                color: '#fff',
                                width: '50%'
                            },
                            overlayCSS: { backgroundColor: '#FFF' }
                        });
                        $data_table.addClass('carregando');
                        var params = obterFiltro();
                        params.param = { param: dt.ajax.params() };
                        $.post("/Exportacao/ExportarExcelRemessa", $.param(params), function (d) {
                            if (d.OK) {
                                window.location.href = d.Dados;
                                //var opnner = window.open(d.Dados, '_blank');
                            }
                        });
                        dt.ajax.reload();
                    }
                },
                {
                    text: '<labe title="Ao clicar no botão irá gerar o arquivo remessa dos boletos selecionados."><i class="fa fa-file-text-o"></i> ' + '@Idioma.TraduzirJs("Emitir Remessa")' + ' <span id="IconRemessaSpin" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span></label>',
                    className:'btn btn-sm btn-min-widht btn-default margin-left5',
                        action: function (e, dt, node, config) {
                            $data_table.block({
                                message: '',
                                css: {
                                    border: 'none',
                                    padding: '15px',
                                    backgroundColor: '#fff',
                                    '-webkit-border-radius': '10px',
                                    '-moz-border-radius': '10px',
                                    opacity: .5,
                                    color: '#fff',
                                    width: '50%'
                                },
                                overlayCSS: { backgroundColor: '#FFF' }
                            });

                            $("#IconRemessaSpin").show();
                            var rowcollection = table.$("input[type='checkbox']:checked", { "page": "all" });
                            var cod = 0;
                            var dados = [];
                            rowcollection.each(function (index, elem) {
                                cod = $(elem).attr("data-id");
                                dados.push(cod);
                            });
                            if (dados.length > 0) {
                                var params = { ids: dados };
                                $.post("/Exportacao/GerarRemessa", $.param(params), function (r) {
                                    if (r.Success) {
                                        jx.mensagem('Remessa.', r.Message, 'success', 'fa fa-check ');
                                        r.remessa.forEach(function (entry) {
                                            downRemessa(entry, false);
                                        })
                                        $("#IconRemessaSpin").fadeOut("slow");
                                        jx.dTablesUnblock($data_table);
                                        obterDados();
                                    } else {
                                        console.log(r.Mensagem);
                                        jx.mensagem('Remessa.', 'erro ao gerar arquivo', 'warning', 'fa fa-exclamation ');

                                        $("#IconRemessaSpin").fadeOut("slow");
                                        jx.dTablesUnblock($data_table);
                                    }
                                });
                            } else {
                                jx.mensagem('Remessa.', 'Selecione ao menos um boleto', 'warning', 'fa fa-exclamation ');
                                $("#IconRemessaSpin").fadeOut("slow");
                                jx.dTablesUnblock($data_table);
                            }

                        }
                    }],
                'initComplete': function (settings, json) {
                    var tb = table.data();
                    tb.inicializar($data_table);
                    tb.addSearch($data_table);
                    tb.sum();
                    jx.dTablesUnblock($data_table);
                    $("#tb-loading").hide();
                    $("a.dt-button").each(function (i, e) {
                        $(e).removeClass("dt-button");
                    });

                },
                "fnDrawCallback": function (oSettings) {
                    table.data().sum();
                    jx.dTablesUnblock($data_table);
                }

            }).on('order.dt', function () {
                jx.dTablesBlock($data_table);
                });

        }

        function obterFiltro() {
            return {
                PeriodoDe: $("#PeriodoDe").val(),
                PeriodoAte: $("#PeriodoAte").val(),
                CdPortador: $("#CdPortador").val()
            };
        }
        function downRemessa(remessa, segundaVia) {
            var url = '/Exportacao/DownloadRemessa/' + '?cd=' + remessa + '&copia=' + segundaVia;
            var opnner = window.open(url, '_blank');
            //window.location.href = '/Exportacao/DownloadRemessa/' + '?cd=' + entry + '&copia=' + segundaVia;

        }
    </script>
}

