﻿@model List<Cobranca.Db.Models.Pesquisa.ContratoDados>
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-exportacao";
    //var contrato =
}
<form method="post" id="form-exportacao-sms" target="_self">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet portlet-default">
                            <br />
                            <div class="portlet-header">
                                <h5 class="portlet-title">
                                    <i class="fa fa-download"></i> Exportação Serasa
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default panel-acoesCobranca">
                        <div class="row">
                            <div class="panel-body">

                                <div class="col-md-3">
                                    <div class="form-group-sm">
                                        <label for="CodTipoCobranca">Tipo Cobrança</label>
                                        @Html.DropDownList("CodTipoCobranca", new SelectList(ViewBag.ListaTipoCobranca, "Cod", "Text", 0), new { @class = "form-control input-silver" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group-sm">
                                        <label for="Regua">Ação de Cobrança</label>
                                        @Html.DropDownList("CodCobrancaAcao", new SelectList(ViewBag.ListaTipoCobrancaAcao, "Cod", "Text", 0), new { @class = "form-control input-silver" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <button class="btn btn-sm btn-primary pull-left btn-min-width margin-top-18  style=" margin-bottom:0px;" type="submit"><i class="fa fa-search"></i> Consultar</button>
                                    <a href="@Url.Action("GerarLayoutSerasa", "Exportacao")" class="btn btn-sm btn-primary pull-left btn-min-width margin-top-18 " id="btnExportar" style="margin-bottom:0px;" type="button"><i class="fa fa-file-excel-o"></i> Gerar Layout</a>
                                </div>

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12" id="grid-cliente-teste">
                                    <table id="grid-cliente" class="table table-bordered table-condensed table-striped">
                                        <thead>
                                            <tr class=".noExl">
                                                <th data-data="Cliente" class="text-left">Nome</th>
                                                <th data-data="CPF" class="text-center">CPF</th>
                                                <th data-data="NumeroUnidade" class="text-center">Unidade</th>
                                                <th data-data="NomeBloco" class="text-center">Bloco Nome</th>
                                                <th data-data="NomeEmpreendimento" class="text-center">Nome Empreendimento</th>
                                                <th data-data="CodCliente" class="text-center">Cod Devedor</th>
                                                <th data-data="NumeroContrato" class="text-center">Cod Contrato</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @*@foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @item.CodContrato
                                                        </td>
                                                        <td>
                                                            @item.NomeEmpreendimento
                                                        </td>
                                                        <td>
                                                            @item.NomeBloco
                                                        </td>
                                                        <td>
                                                            @item.NumeroUnidade
                                                        </td>
                                                        <td>
                                                            @item.Cliente
                                                        </td>
                                                    </tr>
                                                }*@
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</form>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            obterdadosGrid();
            $("#CodTipoCobranca").change(function () {
                var cod = $("#CodTipoCobranca").val();
                $.ajax({
                    url: '@Url.Action("ListarAcaoPorCobranca", "Exportacao")',
                    type: 'post',
                    dataType: 'json',
                    data: { CodTipoCobranca: cod }
                }).success(function (resultado) {
                    console.log(resultado);
                    popularDropoDownList($("#CodCobrancaAcao"), resultado);
                });
            });
        });
        $("#btnExportar").click(function (e) {

        });

        function editar(formId) {
            var form = $(formId);
            form.find("[disabled='disabled']").removeAttr("disabled");
            form.find("select").removeAttr("disabled");
            form.find("input").removeAttr("disabled");
            form.find("input[type='checkbox']").bootstrapSwitch("toggleDisabled", true)
            form.find(".btn-editar").hide();
            form.find(".btn-salvar").show();
            form.find(".btn-cancelar").show();
        }
        function cancelar() {
            document.location.reload(false);
        }

        function obterdadosGrid() {
            $('#grid-cliente').DataTable({
                "deferRender": true,
                "serverSide": true,
                "responsive": true,
                "processing": true,
                "ajax": {
                    "url": "@Url.Action("paginarDados", "Exportacao")",
                    "type": "POST"
                },
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    oAria: {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });
        }
    </script>

}


