﻿@model Cobranca.Db.Models.TabelaFase

@{
    //if (Model.Cod == 0) {
    //    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    //}

    Model.Fase = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.Fase);
}

<form id="form-cadastro" class="form" method="POST" action="@Url.Action("Cadastro","Fase")">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row margin-top-20">
        <div class="col-sm-4">
            <div class="form-group-sm">
                <label for="Fase">Nome Fase</label>
                @Html.TextBoxFor(m => m.Fase, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Fase)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-4">
            <div class="form-group-sm">
                <label for="CodTipoCobranca">Tipo Cobrança</label>
                @Html.DropDownListFor(m => m.CodTipoCobranca, new SelectList(ViewBag.ListaTipoCobranca, "value", "key", Model.CodTipoCobranca), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodTipoCobranca)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-4">
            <div class="form-group-sm">
                <label for="Ordem">Ordem</label>
                @Html.TextBoxFor(m => m.Ordem, "", new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Ordem)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-4">
            <div class="form-group-sm">
                <label for="Ordem">Dias</label>
                @Html.TextBoxFor(m => m.Dias, "", new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Dias)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-4">
            <div class="form-group-sm">
                <label for="TipoHistorico">Tipo Histórico</label>
                @Html.DropDownList("TipoHistorico", new SelectList(ViewBag.TipoHistorico, "value", "key", Model.TipoHistorico), new { @class = "form-control input-silver"})
            </div>
        </div>
    </div>

    <!-- /.form-group -->
    <div class="row" id="form-comandos">

        <div class="col-sm-12">
            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }


            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
        </div>

        <div class="col-sm-3">

        </div>
    </div>

</form>
