﻿@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Error";
}
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <div class="list-sfs-holder">
                <div class="alert alert-error">
                    An unexpected error has occurred. Please contact the system administrator.
                </div>
                @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
                {
                    <div>
                        <p>
                            <b>Exception:</b> @Model.Exception.Message<br />
                            <b>Controller:</b> @Model.ControllerName<br />
                            <b>Action:</b> @Model.ActionName
                        </p>
                        <div style="overflow:scroll">
                            @Model.Exception.StackTrace
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

