﻿@model string
@{
    ViewBag.Title = "ServerError";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var exception = Server.GetLastError();
}


<div class="row" style="margin-top:50px">
    <div class="col-md-12 text-danger text-center animated bounceIn">
        <h1><i class="fa fa-warning"></i> Erro 500 <small>Desculpe ocorreu um erro inesperado no servidor.</small></h1>
    </div>    
    <div class="col-md-9"></div>    
    <div class="col-md-3">
        <button class="btn btn-block btn-danger" onclick="window.history.go(-1);" >TENTAR NOVAMENTE</button>
    </div>    
</div>
