﻿@model List<Cobranca.Db.Models.TabelaEscritorio>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-distribuir-carteira";
    List<System.Collections.DictionaryEntry> _listaEscritorio = new List<System.Collections.DictionaryEntry>();
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="@Url.Action("SelecionarEscritorio")" class="btn btn-min-width btn-default  pull-left" style=""><i class="fa fa-arrow-left"></i>&nbsp;VOLTAR</a>
                <button id="btn-distribuir" onclick="distribuir()" class="btn btn-min-width pull-left btn-primary">DISTRIBUIR&nbsp;<i class="fa fa-arrow-right"></i></button>
                <label class="pull-left text-silver btn">Total de processos: <b>@ViewBag.TotalProcessos</b></label>
                <label class="pull-left text-success btn">Distribuidos: <b>@ViewBag.TotalDistribuido</b></label>
                <label class="pull-left text-danger btn">Pendente: <b>@ViewBag.TotalPendete</b></label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12">
                            <div>

                                <!-- Nav tabs -->
                                <ul id="escritorios-list" class="nav nav-pills" role="tablist">
                                    @foreach (var item in Model)
                                    {
                                        <li role="presentation">
                                            <a href="#@item.Cod" class="text-center" data-id="@item.Cod" aria-controls="profile" role="tab" data-toggle="tab" style="min-height:110px">
                                                <h3>@item.Escritorio</h3>
                                                <h5 style="" data-label="Quantidade">Tolal @item.Contratoes.Where(x => !x.DataExcluido.HasValue).Count() casos</h5>
                                                <h5 style="" data-label="Valor">@string.Format("R$ {0:n2}", item.Contratoes.Where(x => !x.DataExcluido.HasValue).Sum(x => x.ValorAtraso))</h5>
                                            </a>
                                        </li>
                                    }
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    @foreach (var item in Model)
                                    {
                                        <div role="tabpanel" class="tab-pane well-sm " id="@item.Cod">
                                            <input type="hidden" id="QueryDistribuicao_@item.Cod" value="@item.QueryDistribuicao" />
                                            <div class="qry-builder query-builder-inline" id="qry_@item.Cod">

                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <button onclick="executarConsulta(this,@item.Cod)" type="button" class="btn btn-primary"><i class="fa fa-search"></i> CONSULTAR <small>(executar as condições)</small></button>
                                                </div>
                                            </div>
                                        </div>

                                    }

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script src="~/Scripts/jq-query-builder/js/jQuery.extendext.min.js"></script>
    <script src="~/Scripts/jq-query-builder/js/doT.min.js"></script>
    <script src="~/Scripts/jq-query-builder/js/query-builder.min.js"></script>
    <script src="~/Scripts/jq-query-builder/js/sql-parser.js"></script>
    <script src="~/Scripts/jq-query-builder/i18n/query-builder.pt-BR.js"></script>
    <script src="~/Scripts/jq-query-builder/sql-support/plugin.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.pt-BR.js"></script>
    <script type="text/javascript">
        var _listaTipoCobranca = [];
        $(document).ready(function () {
            $("#escritorios-list").sortable();
            carregarTiposCobranca();
            setTimeout(function () {
                $('.qry-builder').each(function (i, e) {
                    definirQueryBuilder($(e));
                });
            }, 1000);
        });
        function carregarTiposCobranca() {
            $.get("@Url.Action("CarregarTiposCobranca")", function (dados) {
                _listaTipoCobranca = [];
                for (var i = 0; i < dados.length; i++) {
                    var item = dados[i];
                    _listaTipoCobranca.push(item.Value);
                }
            });
        }
        function definirQueryBuilder(el) {
            var sqlQuery = el.parent().find("input[type='hidden']:first").val();
            el.queryBuilder({
                filters: [{
                    id: 'TipoCobranca',
                    label: 'Tipo de Cobrança',
                    type: 'string',
                    input: 'select',
                    values: _listaTipoCobranca,
                    operators: ['equal', 'not_equal']
                }, {
                    id: 'DiasAtraso',
                    label: 'Dias de atraso',
                    type: 'integer'
                }, {
                    id: 'DataPromessaEntrega',
                    label: 'Data promessa de entrega',
                    type: 'date',
                    validation: {
                        format: 'DD/MM/YYYY'
                    },
                    plugin: 'datepicker',
                    plugin_config: {
                        format: 'dd/mm/yyyy',
                        todayBtn: 'linked',
                        todayHighlight: true,
                        autoclose: true,
                        orientation: 'bottom',
                        language: 'pt-BR'
                    }
                }
                , {
                    id: 'DataVenda',
                    label: 'Data venda',
                    type: 'date',
                    validation: {
                        format: 'DD/MM/YYYY'
                    },
                    plugin: 'datepicker',
                    plugin_config: {
                        format: 'dd/mm/yyyy',
                        todayBtn: 'linked',
                        todayHighlight: true,
                        autoclose: true,
                        orientation: 'bottom',
                        language: 'pt-BR'
                    }
                },
                {
                    id: 'Juridico',
                    label: 'Juridico?',
                    type: 'integer',
                    input: 'radio',
                    values: {
                        1: 'Sim',
                        0: 'Não'
                    },
                    operators: ['equal']
                },
                {
                    id: 'SaldoDevedor',
                    label: 'Saldo devedor',
                    type: 'double',
                    validation: {
                        min: 0
                    }
                },
                {
                    id: 'SaldoFinanciamento',
                    label: 'Saldo financiamento',
                    type: 'double',
                    validation: {
                        min: 0
                    }
                },
                 {
                     id: 'SaldoMulta',
                     label: 'Saldo multa',
                     type: 'double',
                     validation: {
                         min: 0
                     }
                 },
                 {
                     id: 'SaldoCoobrigacao',
                     label: 'Saldo coobrigação',
                     type: 'double',
                     validation: {
                         min: 0
                     }
                 },
                {
                    id: 'TipoVenda',
                    label: 'Tipo de venda',
                    type: 'integer',
                    input: 'select',
                    values: {
                        1: 'Venda Nova',
                        2: 'Legado',
                        3: 'Fundamento'
                    },
                    operators: ['equal', 'not_equal']
                },
                {
                    id: 'StatusRepasse',
                    label: 'Status do repasse',
                    type: 'integer',
                    input: 'select',
                    values: {
                        1: 'QUITADO',
                        2: 'ESTOQUE',
                        3: 'FAZER CONTATO'
                    },
                    operators: ['equal', 'not_equal']
                },
                 {
                     id: 'DataPrevisaoSGI',
                     label: 'Previsão SGI',
                     type: 'date',
                     validation: {
                         format: 'DD/MM/YYYY'
                     },
                     plugin: 'datepicker',
                     plugin_config: {
                         format: 'dd/mm/yyyy',
                         todayBtn: 'linked',
                         todayHighlight: true,
                         autoclose: true,
                         orientation: 'bottom',
                         language: 'pt-BR'
                     }
                 }
                ]
            });
            if (sqlQuery != "") {
                el.queryBuilder('setRulesFromSQL', sqlQuery);
            }
        }
        function executarConsulta(b, cod) {
            carregando(true);
            var $qruery = $("#qry_" + cod);

            var result = $qruery.queryBuilder('getSQL', false, true);
            var sql = result.sql;
            if (!sql) {
                carregando(false);
                alert("Regras Inválidas, porfavor verifique as condições.");
                return;
            }

            atualizarTotalConsultado([{
                TotalDesc: 'Total --', ValorTotalDesc: 'R$ --', Cod: cod
            }]);

            $.post('@Url.Action("ConsultarQueryCondicao")', {
                Cod: cod, Query: sql
            }, function (resultado) {
                if (resultado.OK) {
                    atualizarTotalConsultado(resultado.Dados);
                } else {
                    alert(resultado.Mensagem);
                }
                carregando(false);
            });
        }
        function atualizarTotalConsultado(obj) {
            if (obj) {
                for (var i = 0; i < obj.length; i++) {
                    var item = obj[i];
                    var $a = $("a[data-id='" + item.Cod + "']");
                    $a.find("[data-label='Quantidade']").empty().text(item.TotalDesc).show();
                    $a.find("[data-label='Valor']").empty().text(item.ValorTotalDesc).show();
                }
            }
        }
        function distribuir() {
            var isValid = true;
            var total = 0;
            var count = 0;
            if (confirm("Confirma a distribuição dos processos?")) {
                carregando(true);
                $("#btn-distribuir").attr("disabled");

                $.post('@Url.Action("PreparBaseDistribuicao")', { Cod : 0}, function(resultado){
                    if (resultado.OK) {
                        var lista = $("#escritorios-list").find("a");
                        total = lista.length;
                        lista.each(function (i, e) {
                            if (!isValid) {
                                return;
                            }
                            var $a = $(e);
                            var cod = $a.attr("data-id");
                            var $qruery = $("#qry_" + cod);
                            var result = $qruery.queryBuilder('getSQL', false, true);
                            var sql = result.sql;
                            if (!sql) {
                                alert("Regras Inválidas, porfavor verifique as condições.");
                                $a.click();
                                isValid = false;
                                return;
                            }
                            var dados = {
                                cod: cod,
                                sql: sql
                            };
                            $.post('@Url.Action("DistribuirPorEscritorio")', dados, function (r) {
                                console.log(dados);
                            });
                            count++;
                            if (count >= total) {
                                alert("Distribuição Concluida!");
                                carregando(false);
                                document.location.reload(true);
                            }
                        });
                    }else {
                        alert(resultado.Mensagem);
                    }
                });



            }
        }

    </script>
}