﻿@model Cobranca.Db.Models.Contrato
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-distribuir-carteira";
    List<System.Collections.DictionaryEntry> _listaEscritorio = new List<System.Collections.DictionaryEntry>();
    if (ViewBag.ListaEscritorio != null)
    {
        _listaEscritorio = ViewBag.ListaEscritorio;
    }
}
<form id="form-distribuir-carteira" method="post">
    @Html.Hidden("CondicaoQuery");
    <div class="panel panel-default panel-small">
        <br />
        <div class="col-md-12">
            <div class="portlet-header">
                <h5 class="portlet-title">
                    <i class="fa fa-folder-open-o"></i> Distribuir Carteira
                </h5>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2" style="margin-top:18px">
                    <div class="form-group-sm">
                        <button class="btn btn-sm btn-primary pull-left btn-min-width" style="margin-bottom:0px;" type="button" onclick="">Distribuir</button>
                    </div>
                </div>
                <div class="col-md-2" style="margin-top:18px">
                    <div class="form-group-sm">
                        <h5><b>Total de Processos: @Html.Label("TotalProcessos", "1500")</b></h5>
                    </div>
                </div>
                <div class="col-md-2" style="margin-top:18px">
                    <div class="form-group-sm">
                        <h5><b>Distribuídos: @Html.Label("TotalProcessosDistribuidos", "1400")</b></h5>
                    </div>
                </div>
                <div class="col-md-2" style="margin-top:18px">
                    <div class="form-group-sm">
                        <a href="@Url.Action("Pendentes")"><h5><b>Pendentes: 100</b></h5></a>
                    </div>
                </div>
            </div>
            <hr />
            <div class="col-md-6">
                <div class="portlet portlet-default">
                    <div class="col-sm-12">
                        <div class="row">
                            @foreach (var item in _listaEscritorio)
                            {
                                <div class="col-md-12">
                                    <div class="row-stat text-center" style="cursor:pointer" onclick="popupCondicao()">
                                        <h5 class="row-stat-label">@item.Key</h5>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div id="popup-condicao">
    <div class="row">
        <div class="modal fade" tabindex="-1" role="dialog" id="modal-form">
            <div class="modal-dialog">
                <form method="post" id="form-reserva" target="_self">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default panel-small">
                                        <div style="margin-top:10px" class="panel-body">
                                            <div class="tab-pane active" role="tabpanel" id="tab-reserva">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h3 class="modal-title">Condições</h3>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-12" id="builder-import_export"></div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" id="btnCancelar" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                                    <button type="button" onclick="reservarUnidade()" id="btn-submit" class="btn btn-primary">Confirmar</button>
                                                </div>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-dialog -->
        </div>
    </div>
</div>
@section scripts{
<script src="~/Scripts/jq-query-builder/js/jQuery.extendext.min.js"></script>
<script src="~/Scripts/jq-query-builder/js/doT.min.js"></script>
<script src="~/Scripts/jq-query-builder/js/query-builder.min.js"></script>
<script src="~/Scripts/jq-query-builder/js/sql-parser.js"></script>
<script src="~/Scripts/jq-query-builder/i18n/query-builder.pt-BR.js"></script>
<script src="~/Scripts/jq-query-builder/sql-support/plugin.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/bootstrap-datepicker.pt-BR.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#CodEmpreendimento").change(function () {
                var cod = $("#CodEmpreendimento").val();
                $.ajax({
                    url: '@Url.Action("ListarBlocoPorEmpreendimento", "Home")',
                    type: 'post',
                    dataType: 'json',
                    data: { CodEmpreendimento: cod }
                }).success(function (resultado) {
                    popularDropoDownList($("#CodBloco"), resultado);
                });
            });
        });
        function cancelar() {
            document.location = '@Url.Action("index")';
        }
        function popupCondicao() {
            $("#modal-form").modal("show");
            carregarQueryBuilder();
        }
        function carregarQueryBuilder() {
            var sql_import_export = $("#form-distribuir-carteira").find("#CondicaoQuery").val();;
            $('#builder-import_export').queryBuilder({
                filters: [{
                    id: 'DiasAtraso',
                    label: 'Dias de atraso',
                    type: 'integer'
                }, {
                    id: 'DiasHabtese',
                    label: 'Dias p/ habite-se',
                    type: 'integer'
                    //operators: ['equal', 'not_equal', 'in', 'not_in', 'is_null', 'is_not_null']
                }, {
                    id: 'Avalista',
                    label: 'Possui avalista?',
                    type: 'integer',
                    input: 'radio',
                    values: {
                        1: 'Sim',
                        0: 'Não'
                    },
                    operators: ['equal']
                }, {
                    id: 'ValorAtraso',
                    label: 'Valor em atraso',
                    type: 'double',
                    validation: {
                        min: 0
                    }
                }]
            });
            if (sql_import_export != "") {
                $('#builder-import_export').queryBuilder('setRulesFromSQL', sql_import_export);
            }
        }
    </script>
}