﻿@model  List<Cobranca.Db.Models.TabelaEscritorio>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-distribuir-carteira";
}
<form id="form-distribuir-carteira" method="post">
    <div class="panel panel-default panel-small">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 text-center animated fadeIn">
                            <h3 class="" style="margin-bottom:2px;">DISTRIBUIÇÃO DE CARTEIRA</h3>
                            <p class="">Selecione os escritório para distribuição.</p>
                        </div>
                        <div class="col-md-12" style="min-height:20px;">

                        </div>
                        @foreach (var item in Model.ToList())
                        {
                            <div class="col-md-3 col-lg-offset-5">
                                <div class="checkbox checkbox-inline checkbox-danger" style="margin-bottom:4px;font-size:14px;">
                                    <input data-tipo="escritorio" id="@item.Cod" name="@item.Cod" type="checkbox">
                                    <label for="@item.Cod">
                                        @item.Escritorio
                                    </label>
                                </div>
                            </div>
                        }
                        <div class="col-md-12" style="min-height:20px;">

                        </div>
                        <div class="col-md-3 col-lg-offset-5">
                            <div class="form-group-sm">
                                <button class="btn btn-sm pull-left btn-min-width" style="margin-bottom:0px;" type="button" onclick="avancar()">
                                    <i class="fa fa-arrow-right"></i>&nbsp;
                                    Avançar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<form id="form-selecao" action="@Url.Action("DistribuicaoPasso1")" method="post" style="display:none">
    <input type="hidden" value="" id="ids" name="ids" />
</form>
@section scripts{
    <script type="text/javascript">
        var _dados = [];
        $(document).ready(function () {
        });
        function cancelar() {
            document.location = '@Url.Action("index")';
        }
        function avancar() {
            //document.location = '@Url.Action("index","DistribuirCarteira")';
            _dados = [];
            $("input[type='checkbox']:checked").each(function (i, e) {
                if ($(e).prop("checked")) {
                    _dados.push($(e).attr("id"));
                }
            });
            $("#ids").val(_dados);
            $("#form-selecao").submit();

        }
        function escritorio() {
            var checks = $("input[type='checkbox']:checked");
            var arrIdsChecados = [];
            for (var i = 0; i < checks.length; i++) {
                arrIdsChecados.push($(checks[i]).attr("data-id"));
            }
            console.log(arrIdsChecados);
        }
    </script>
}
