﻿@model Cobranca.Db.Models.TabelaBancoPortador

@{
    //if (Model.Cod == 0) {
    //    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    //}

}

<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row">
        <div class="col-xs-8 col-md-4">
            <div class="form-group-sm">
                <label for="CodBanco">Banco</label>
                @Html.DropDownListFor(m => m.CodBanco, new SelectList(ViewBag.Bancos, "value", "key", Model.CodBanco), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Cod)
            </div>
        </div>
        <div class="col-xs-8 col-md-2 margin-top-18">
            <div class="pull-left checkbox checkbox-inline checkbox-danger" style="margin-bottom:4px;">
                <input id="Ativo" name="chkAtivo" data-id="Ativo" type="radio">
                <label for="">
                    Ativo
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="form-group-sm">
                <label for="Portador">Portador</label>
                @Html.TextBoxFor(m => m.Portador, new { @class = "form-control input-silver", required = "required" })
                @Html.ValidationMessageFor(m => m.Portador)
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-4 col-md-2">
            <div class="form-group-sm">
                <label for="NumeroAgencia">Agência</label>
                @Html.TextBoxFor(m => m.NumeroAgencia, new { @class = "form-control input-silver", data_mask = "inteiro" })
                @Html.ValidationMessageFor(m => m.NumeroAgencia)
            </div>
        </div>
        <div class="col-md-1 col-sm-2 col-xs-4 ">
            <div class="form-group-sm">
                <label for="NumeroAgencia">Digito</label>
                @Html.TextBoxFor(m => m.DigitoAgencia, new { @class = "form-control input-silver", data_mask = "inteiro" })
                @Html.ValidationMessageFor(m => m.DigitoAgencia)
            </div>
        </div>
        <div class="col-xs-8 col-sm-4 col-md-2 col-md-offset-1">
            <div class="form-group-sm">
                <label for="NumeroConta">Conta</label>
                @Html.TextBoxFor(m => m.NumeroConta, new { @class = "form-control input-silver", data_mask = "inteiro" })
                @Html.ValidationMessageFor(m => m.NumeroConta)
            </div>
        </div>
        <div class="col-md-1 col-sm-2 col-xs-4">
            <div class="form-group-sm">
                <label for="DigitoConta">Digito</label>
                @Html.TextBoxFor(m => m.DigitoConta, new { @class = "form-control input-silver", data_mask = "inteiro" })
                @Html.ValidationMessageFor(m => m.DigitoConta)
            </div>
        </div>

    </div>

    <!-- /.form-group -->
    <div class="row">

        <div class="col-sm-12">
            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>

            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }

        </div>

        <div class="col-sm-3">

        </div>
    </div>

</form>
