﻿@model Cobranca.Db.Models.TabelaBancoPortador
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
}
<div class="panel panel-body box-shadon">
    <div class="layout layout-stack-sm layout-main-left">
        <div class="col-md-12">
            <div class="portlet portlet-default">
                <div class="portlet-header">
                    <div class="heading-block">
                        <ul class="breadcrumb">
                            <li><a href="@Url.Action("Index")">Configuração Boleto</a></li>
                            <li>Cadastro</li>
                        </ul>
                    </div>
                </div>

                <div class="portlet-body">

                    @Html.Partial("_form", Model)
                </div>
            </div>
        </div>

    </div>
   
</div>
@section scripts{
    <script type="text/javascript">
        var _formModal = $("#modal-form-grupo");
        function Excluir(el) {
            var tr = $(el).parent().parent();
            $('#Cod').val(tr.find("td:eq(0)").text());
            jx.modalConfirm('Exclusão', 'Deseja excluir o registro?', excluirOK)
        }

        function excluirOK() {
            var id = $('#Cod').val();
            $.ajax({
                url: '@Url.Action("Excluir")',
                data: { id: id },
                type: 'post',
                dataType: 'json'
            }).success(function (op) {
                jx.modalOK("Operação realizada com sucesso!", op.OK)
                ResetForm();
            });
        }

        $(document).ready(function () {
        });
        function cancelar() {
            document.location = '@Url.Action("index")';
        }
       

    </script>
}