﻿@model List<Cobranca.Db.Models.TabelaBancoPortador>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";

}
<div class="panel panel-body box-shadon">
    <div class="heading-block">
        <ul class="breadcrumb">
            <li>Configuração Boleto</li>
        </ul>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-12">
            <a href="@Url.Action("Cadastro",new{id = 0})" class="btn btn-sm btn-primary pull-left"><i class="fa fa-plus"></i> Adicionar</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered data-table table-condensed">
                <thead>
                    <tr>
                        <th class="col-sm-1 text-center">#</th>
                        <th class="text-left">Nome Banco</th>
                        <th class="text-center">Cedente</th>
                        <th class="text-center">Agência</th>
                        <th class="text-center">Agência Digito</th>
                        <th class="text-center">Conta</th>
                        <th class="text-center">Conta Digito</th>
                        <th class="text-center">Ativo</th>
                        <th class="text-center">Cod</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.ToList())
                    {
                        <tr>
                            <td style="text-align:center">
                                @*<a class="btn btn-sm btn-secondary"><i class="fa fa-trash"></i>&nbsp;remover</a>*@
                                <a class="btn btn-sm btn-secondary" href="@Url.Action("cadastro", new { id = item.Cod })"><i class="fa fa-pencil"></i></a>
                            </td>
                            <td class="text-left">@item.TabelaBanco.NomeBanco</td>
                            <td class="text-left">@item.Portador</td>
                            <td class="text-left">@item.Agencia</td>
                            <td class="text-left">@item.AgenciaDigito</td>
                            <td class="text-left">@item.Conta</td>
                            <td class="text-left">@item.ContaDigito</td>
                            <td class="text-left">@item.Ativo</td>
                            <td class="text-center">@item.Cod</td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function incluir() {
            //$("#incluir-form").modal("show");
            document.location = "@Url.Action("Cadastro",new{id = 0})"
        }
        function salvar() {
            var data = $("#form-cliente").serialize();
            $.ajax({
                url: "@Url.Action("Gravar")",
                data: data,
                type: 'post',
                dateTye: 'json'
            }).success(function (result) {
                console.log(result);
                if (result.OK) {
                    document.location.reload(true);
                } else {
                    if (result.Dados) {
                        alert(result.Mensagem);

                        for (var i = 0; i < result.Dados.length; i++) {
                            var erro = result.Dados[i];
                            $("#" + erro.Campo).parent().addClass("has-error");
                            $("[data-valmsg-for='" + erro.Campo + "']").text(erro.Mensagem).show().addClass("text-danger");

                        }
                    }
                }
            });
        }
        function editrar(id) {
            if (id) {
                document.location = id;
            }

        }
    </script>
}