﻿@model Cobranca.Db.Models.Usuario
@using Cobranca.Rotinas;
@using Cobranca.Db.Models;
@{
    var _user = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado();
    bool _admin = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().PerfilTipo == Cobranca.Db.Models.Enumeradores.PerfilTipo.Admin;
    bool fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true;
    List<TabelaConstrutora> _list = new List<TabelaConstrutora>();
    if (ViewBag.ListaConstrutora != null)
    {
        _list = (List<TabelaConstrutora>)ViewBag.ListaConstrutora;
    }
    List<TabelaRegional> _listRegional = new List<TabelaRegional>();
    if (ViewBag.ListaRegional != null)
    {
        _listRegional = (List<TabelaRegional>)ViewBag.ListaRegional;
    }

}

<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataPrimeiroAcesso)
    @Html.HiddenFor(m => m.DataUltimoAcesso)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.HiddenFor(m => m.DataBloqueado)
    @Html.HiddenFor(m=> m.Bloqueado)
    @Html.Hidden("FilialVinculadas")
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()

    <div class="row">
        <div class="col-md-7">
            <div class="row">
                @if (_admin)
                {
                    <div class="col-lg-12">
                        <div class="form-group-sm">
                            <label for="Nome" class="">@Idioma.Traduzir("Nome")</label>
                            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control input-silver", required = "required" })
                            @Html.ValidationMessageFor(m => m.Nome)
                        </div> <!-- /.form-group -->
                    </div>
                }
                else
                {
                    <div class="col-lg-12">
                        <div class="form-group-sm">
                            <label for="Nome" class="">@Idioma.Traduzir("Nome")</label>
                            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control input-silver", required = "required", disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.Nome)
                        </div> <!-- /.form-group -->
                    </div>
                }


            </div>
            <div class="row">
                @if (_admin)
                {
                    <div class="col-sm-8 col-lg-5">
                        <div class="form-group-sm">
                            <label for="Email" class="">@Idioma.Traduzir("Email")</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-silver", required = "required", type = "email" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div> <!-- /.form-group -->
                    </div>
                }
                else
                {<div class="col-sm-8 col-lg-5">
                    <div class="form-group-sm">
                        <label for="Email" class="">@Idioma.Traduzir("Email")</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-silver", required = "required", type = "email", disabled = "disabled" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div> <!-- /.form-group -->
                </div>
                }

                @if (_user.Cod != Model.Cod)
                {
                    <div class="col-sm-3 col-lg-3">
                        <div class="form-group-sm">
                            <label for="Tipo" class="">@Idioma.Traduzir("Tipo")</label>
                            @Html.DropDownListFor(m => m.PerfilTipo, new SelectList(ViewBag.ListaPerfilTipo, "value", "key", Model.PerfilTipo), new { @class = "form-control input-silver", required = "required" })
                            @Html.ValidationMessageFor(m => m.PerfilTipo)
                        </div> <!-- /.form-group -->
                    </div>
                }
                <div class="col-sm-2 col-lg-2">
                    <div class="form-group-sm">
                        <label for="Tipo" class="">@Idioma.Traduzir("Idioma")</label>
                        <select class="form-control input-silver" id="IdiomaTipo" name="IdiomaTipo">
                            <option @(Model.IdiomaTipo == (short)Enumeradores.IdiomaTipo.pt_BR ? "selected='selected'" : "") value="@((short)Enumeradores.IdiomaTipo.pt_BR)">@Idioma.Traduzir(EnumeradoresDescricao.IdiomaTipo(Enumeradores.IdiomaTipo.pt_BR)) </option>
                            <option @(Model.IdiomaTipo == (short)Enumeradores.IdiomaTipo.en_US ? "selected='selected'" : "") value="@((short)Enumeradores.IdiomaTipo.en_US)">@Idioma.Traduzir(EnumeradoresDescricao.IdiomaTipo(Enumeradores.IdiomaTipo.en_US)) </option>
                            <option @(Model.IdiomaTipo == (short)Enumeradores.IdiomaTipo.es_ES ? "selected='selected'" : "") value="@((short)Enumeradores.IdiomaTipo.es_ES)">@Idioma.Traduzir(EnumeradoresDescricao.IdiomaTipo(Enumeradores.IdiomaTipo.es_ES)) </option>
                        </select>
                        @Html.ValidationMessageFor(m => m.IdiomaTipo)
                    </div> <!-- /.form-group -->
                </div>

            </div>
            @if (_admin || Model.Cod == Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod)
            {
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-12">
                        <div class="heading-block">
                            <h5><i class="fa fa-laptop"></i>&nbsp;@Idioma.Traduzir("Informações de acesso")</h5>
                        </div>
                    </div>
                    @if (_admin)
                    {
                        <div class="col-sm-8 col-lg-5">
                            <div class="form-group-sm">
                                <label for="Login" class="">@Idioma.Traduzir("Login")</label>
                                @Html.TextBoxFor(m => m.Login, new { @class = "form-control input-silver", required = "required" })
                                @Html.ValidationMessageFor(m => m.Login)
                            </div> <!-- /.form-group -->
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-8 col-lg-5">
                            <div class="form-group-sm">
                                <label for="Login" class="">@Idioma.Traduzir("Login")</label>
                                @Html.TextBoxFor(m => m.Login, new { @class = "form-control input-silver", required = "required", disabled = "disabled" })
                                @Html.ValidationMessageFor(m => m.Login)
                            </div> <!-- /.form-group -->
                        </div>
                    }
                    @if (Model.Cod != Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod)
                    {
                        <div class="col-sm-3">
                            <div class="form-group-sm">
                                <button onclick="RedefinirSenha(@Model.Cod)" class="btn btn-sm btn-default margin-top-20" title="Reenviar  o e-mail com a senha" type="button">@Idioma.Traduzir("Reenviar a senha")</button>
                            </div> <!-- /.form-group -->
                        </div>
                    }

                </div>

            }
            @if (Model.Cod == Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod)
            {
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group-sm">
                            <label for="SenhaAtual" class=""><i class="fa fa-lock"></i>&nbsp;@Idioma.Traduzir("Digite a Senha Atual"):</label>
                            @Html.Password("SenhaAtual", "", new { @class = "form-control input-silver" })
                            @Html.ValidationMessage("SenhaAtual")
                        </div> <!-- /.form-group -->
                    </div>
                    <div class="col-lg-3 col-lg-offset-1" style="border-left:1px solid #CCC">
                        <div class="form-group-sm">
                            <label for="NovaSenha" class=""><i class="fa fa-lock"></i>&nbsp;@Idioma.Traduzir("Senha"):</label>
                            @Html.Password("NovaSenha", "", new { @class = "form-control input-silver" })
                            @Html.ValidationMessage("NovaSenha")
                        </div> <!-- /.form-group -->
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group-sm">
                            <label for="ConfrmarSenha" class=""><i class="fa fa-check"></i>&nbsp;@Idioma.Traduzir("Confirmar a Senha"):</label>
                            @Html.Password("ConfirmarSenha", "", new { @class = "form-control input-silver" })
                        </div> <!-- /.form-group -->
                    </div>
                </div>
            }
            @if (_admin && Model.Cod > 0 && Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod != Model.Cod)
            {
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-12">
                        <div class="heading-block">
                            <h5><i class="fa fa-lock"></i>&nbsp;@Idioma.Traduzir("Permissões")</h5>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="">
                            @Html.CheckBox("PermissaoReguaSoberana", Model.PermissaoReguaSoberana == true, new { @class = "" })
                            <label for="PermissaoReguaSoberana" class="">&nbsp;@Idioma.Traduzir("Edita reguá soberana")</label>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top:20px;">
                    <div class="col-md-12">
                        <div class="heading-block">
                            <h5><i class="fa fa-ban"></i>&nbsp;@Idioma.Traduzir("Informações de bloqueio")</h5>
                        </div>
                        <div class="form-group-sm">
                            <input type='checkbox' id='ToogleBloqueado' @(Model.Bloqueado == true ? "checked" : "")  data-size='small' data-onstyle='danger' data-on='<span title="Bloqueado"> @Idioma.Traduzir("Sim")</span>' data-off='<span title="Não Bloquedo"> @Idioma.Traduzir("Não")</span>'>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group-sm">
                            <label for="MotivoBloqueio" class="">&nbsp;@Idioma.Traduzir("Motivo do bloqueio")</label>
                            @if (Model.Bloqueado == true)
                            {
                                @Html.TextAreaFor(m => m.MotivoBloqueio, new { @class = "form-control input-silver", rows = "3" })
                            }
                            else
                            {
                                @Html.TextAreaFor(m => m.MotivoBloqueio, new { @class = "form-control input-silver", rows = "3", disabled = "disabled" })
                            }

                            @Html.ValidationMessageFor(m => m.MotivoBloqueio)
                        </div>
                    </div>
                </div>

            }

        </div>

        <div class="col-md-5 form-inline">

            <div class="panel panel-small panel-default">
                <div class="panel-heading">
                    <div class="form-group-sm">
                        <label for="pesquisa">@Idioma.Traduzir("Filiais Vinculados"):</label>
                        <input id="pesquisa" type="text" class="form-control" placeholder="Pesquisar" style="margin-left:10px; min-width:250px" />
                    </div>
                </div>
                <div class="panel-body" style="height:300px;overflow-y:auto;">
                    <div id="jstree_construtora" style="display:none">
                        <ul>
                            <li data-filial="">
                                OTIS
                                @foreach (var itemRegional in _listRegional)
                                {
                                    //string Filial = itemRegional.TabelaRegionalGrupoes.ToList().Select(x => x.CodRegionalCliente).First();
                                    <ul>
                                        @*@(bool selecionado = Model.UsuarioRegionals.Any(x => (x.CodRegional == itemRegional.Cod) && !x.DataExcluido.HasValue));*@
                                        <li data-checked="@string.Format("{0}",Model.UsuarioRegionals.Any(x => (x.CodRegional == itemRegional.Cod) && !x.DataExcluido.HasValue)? "checked": "")" data-filial="@itemRegional.Cod"> @itemRegional.Regional</li>
                                    </ul>

                                }
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.form-group -->
        <div class="row col-md-12" style="margin-top:40px;">
            <div class="col-sm-12 ">
                <button class="btn btn-sm btn-primary pull-left btn-min-width" onclick="salvar()" type="button"><i class="fa fa-save"></i>&nbsp;Salvar</button>
                <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
                @if (Model.Cod > 0 && Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().Cod != Model.Cod)
            {
                    <button class="btn btn-sm btn-default btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
                }
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3 hidden">
                @if (Model.Cod > 0)
            {
                    <button class="btn btn-md btn-default btn-block" onclick="definicarAcoes()" type="button"><i class="fa fa-lock"></i>&nbsp;PERMISSÕES</button>
                }
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>


</form>
