﻿@model Cobranca.Db.Models.Usuario
@{
    //ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";


}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<div class="panel panel-body box-shadon">
    <div class="row">
        <div class="col-md-12">
            <div class="heading-block">
                <ul class="breadcrumb">
                    <li class=""><a href="@Url.Action("Index")">Usuário</a></li>
                    <li class="active">Cadastro</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            @Html.Partial("_form", Model)
        </div>
    </div>
</div>

<div class="layout layout-stack-sm layout-main-left hide">



    <div class="col-sm-7 col-md-8 layout-main">
        <div class="portlet portlet-default">
            <div class="portlet-header">
                <h4 class="portlet-title">
                    <i class="fa fa-user"></i>
                    Usuários > Cadastro
                </h4>
            </div>
            <div class="portlet-body">

            </div>
        </div>
    </div>
    <div class="col-sm-5 col-md-4 layout-sidebar">
        <div class="portlet">
            <a href="@Url.Action("Cadastro")" class="btn btn-default btn-block "><i class="fa fa-plus"></i>&nbsp;Novo registro </a>
            <a href="@Url.Action("Index")" class="btn btn-default btn-block "><i class="fa fa-list"></i>&nbsp;Listar registros</a>


        </div> <!-- /.portlet -->
    </div>
</div>
<div id="acoes-modal" class="modal fade" style="display:none">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">ACESSOS DO USUÁRIO</h3>
            </div>
            <div class="modal-body ">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button onclick="salvarAcoes()" type="button" class="btn btn-secondary btn-save"><i class="fa fa-save"></i>&nbsp;SALVAR</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;CANCELAR</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts{
    <script type="text/javascript">
        var _tree = undefined;
        var to = undefined;
        var _today = new Date();
        var _ticked = "&t=" + _today.getSeconds();
        function definicarAcoes() {
            $("#acoes-modal").modal();
        }
        function salvarAcoes() {
            var data = new Array();
            $("#form-permissoes input[type='checkbox']").each(function (i, e) {
                if ($(e).attr("checked")) {
                    data.push($(e).attr("id"));
                }
            });
            $.ajax({
                url: '@Url.Action("SalvarAcoes")',
                data: { id: $("#Id").val(), projetos: data.join(",") },
                type: 'post',
                dataType: 'json'
            }).success(function (result) {
                document.location = '@Url.Action("cadastro", new { id = Model.Cod })';
            });
        }
        function excluir() {
            if (confirm("Confirma excluir o registro?")) {
                $.ajax({
                    url: '@Url.Action("Excluir")',
                    data: { id: $("#Cod").val() },
                    type: 'post',
                    dataType: 'json'
                }).success(function (result) {
                    document.location = '@Url.Action("index")';
                });
            }
        }
        function salvar() {
            if ($("#form-cadastro").valid()) {
                obterItensChecados();
                prepararForm();
              
            }
        }
        $(document).ready(function () {
            _tree = $("#jstree_construtora");
            carregarTreeView();
            validarPerfil();
            $("#PerfilTipo").change(function () {
                validarPerfil();

            });
            $("#form-permissoes input[type='checkbox']").change(function () {
                var el = $(this);
                if (el.attr('checked')) {
                    el.removeAttr('checked');
                } else {
                    el.attr('checked', 'checked');
                }
            });

            $('#ToogleBloqueado').bootstrapToggle();
            $(function () {
                $('#ToogleBloqueado').change(function () {
                    if ($(this).prop('checked')) {
                        $("#MotivoBloqueio")
                            .prop('disabled', false)
                            .focus();
                    } else {
                        $("#MotivoBloqueio")
                            .prop('disabled', true)
                            .val('');    
                    }
                })
            })
            
        });
        function carregarTreeView() {
            _tree.hide();
            _tree.jstree({
                "themes": {
                    "theme": "classic",
                    "dots": true,
                    "icons": false
                },
                "checkbox": {
                    "keep_selected_style": false
                },
                "search": {
                    "case_insensitive": true
                    , "show_only_matches": true
                },
                "plugins": ["wholerow", "checkbox", "search"]
            });
            $('#pesquisa').keyup(function () {
                if (to) { clearTimeout(to); }
                to = setTimeout(function () {
                    var v = $('#pesquisa').val();
                    _tree.jstree(false).search(v);
                }, 250);
            });
            _tree.jstree(true).open_all();
            $('li[data-checked="checked"]').each(function () {
                _tree.jstree('check_node', $(this));
            });
            setTimeout(function () {
                //_tree.jstree(true).close_all();
                _tree.jstree(true).open_all();
                _tree.show();
            }, 500);


        }

        function validarPerfil() {
            $.get('/Usuario/VerificarRegional?'+ _ticked, function (r) {
                if (r.Status) {
                    $("div[data-name='filial']").hide();
                    $("#CodRegional").prop('disabled', true);
                    disableJstree();
                } else {
                    $("#CodRegional").prop('disabled', false);
                    $("div[data-name='filial']").show();
                    enableJstree();
                }
            });

        }
        function cancelar() {
            document.location = '@Url.Action("index")';
        }
        function disableJstree() {
            _tree.jstree().deselect_all();
            $('#jstree_construtora >ul > li').each(function () {
                $(this).find("ul > li").each(function () {
                    $("#jstree_construtora").jstree().disable_node(this.id);
                })
                $("#jstree_construtora").jstree().disable_node(this.id);
            });
        }
        function enableJstree() {
            $('#jstree_construtora >ul > li').each(function () {
                $(this).find("ul > li").each(function () {
                    $("#jstree_construtora").jstree().enable_node(this.id);
                })
                $("#jstree_construtora").jstree().enable_node(this.id);
            });
        }
        function RedefinirSenha(id) {
            $.ajax({
                url: "@Url.Action("RedefinirSenha")",
                data: { Cod: id },
                type: 'post',
                dateTye: 'json'
            }).success(function (result) {
                alert("Operação realizada!");
                cancelar();
            })
        }

        function obterItensChecados() {
            var checkedFilial = [];
            var nodes = _tree.jstree("get_checked", null, true);
            for (var i = 0; i < nodes.length; i++) {
                var note = $("#" + nodes[i]);
                var codFilial = note.attr("data-filial");
                if (codFilial) {
                    checkedFilial.push(codFilial);
                }
            }
            $("#FilialVinculadas").val(checkedFilial.join(','));
        }
        function prepararForm() {
            $("#Bloqueado").val($("#ToogleBloqueado").prop('checked'));
            $.get('/Usuario/VerificaTrocaRegional/?user= ' + $("#Cod").val() + '&regionais=' + $("#FilialVinculadas").val() + '&t=' + _ticked, function (r) {
                if (r.StatusExcluir) {
                    if (confirm(r.Mensagem)) {
                        $("#form-cadastro").submit();
                    } else {
                    }
                } else {
                    $("#form-cadastro").submit();
                }
            });
        }
    </script>
}