﻿@model List<Cobranca.Db.Models.Usuario>
@using Cobranca.Rotinas;
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
    bool fgSistemaCobranca = Cobranca.Web.Rotinas.WebRotinas.ObterUsuarioLogado().SistemaCobranca == true;
}
<div class="panel panel-body box-shadon">
    <div class="row">
        <div class="col-md-12">
            <div class="heading-block">
                <ul class="breadcrumb">
                    <li class="active">Usuário</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("Cadastro",new{id = 0})" class="btn btn-sm btn-primary pull-lef btn-min-width"><i class="fa fa-plus"></i> Adicionar</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="list-usuario" class="table table-order-column table-hover table-condensed table-row-border table-striped table-bordered table-compact">
                <thead id="dtheader">
                    <tr id="trheader">
                        <th class="text-center" style="max-width:10px !important" data-collumn-search="false">@Idioma.Traduzir("Ações")</th>
                        <th class="text-center" style="max-width:10px !important" data-collumn-search="false">@Idioma.Traduzir("Reenviar")</th>
                        <th class="text-center" data-name="Nome" data-data="Nome" style="min-width:100px" data-title="@Idioma.Traduzir("Nome")"></th>
                        <th class="text-center" data-name="Email" data-data="Email" style="min-width:100px" data-title="@Idioma.Traduzir("Email")"></th>
                        <th class="text-center" data-name="Login" data-data="Login" style="min-width:100px" data-title="@Idioma.Traduzir("Login")"></th>
                        <th class="text-center" data-name="Perfil" data-data="Perfil" style="min-width:100px" data-title="@Idioma.Traduzir("Perfil")"></th>
                        <th class="text-center filter-date" data-type="datahora" data-name="DataUltimoAcesso" data-data="DataUltimoAcesso" style="max-width:50px" data-title="@Idioma.Traduzir("Ultimo Acesso")"></th>
                        <th class="text-center filter-date" data-type="datahora" data-name="DataBloqueo" data-data="DataBloqueo" style="max-width:50px" data-title="@Idioma.Traduzir("Bloqueio")"></th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var link =  '@Url.Action("Cadastro", new { id = 0 })';
        var $data_table = $('#list-usuario');
        jx.dtableSearch($data_table);
        jx.dtableFooter($data_table);
        var _today = new Date();
        var _ticked = "&t=" + _today.getSeconds();
        $(document).ready(function () {
            obterDados();
        });

        function obterDados() {
            table = $data_table.DataTable({
                "order": [[1, 'desc']],
                "deferRender": true,
                "serverSide": true,
                "processing": true,
                "ajax": {
                    "url": "@Url.Action("GetListData", "Usuario")",
                    "type": "POST"
                },
                "rowId": 'CodigoCliente',
                "language": {
                    "sEmptyTable": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sInfo": "@Idioma.Traduzir("Mostrando de") _START_ @Idioma.Traduzir("até") _END_ @Idioma.Traduzir("de") _TOTAL_ @Idioma.Traduzir("registros")",
                    "sInfoEmpty": "@Idioma.Traduzir("Mostrando 0 até 0 de 0 registros")",
                    "sInfoFiltered": "(@Idioma.Traduzir("Filtrados de") _MAX_ @Idioma.Traduzir("registros"))",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_",
                    "sLoadingRecords": "@Idioma.Traduzir("Carregando...")",
                    "sProcessing": "<h2><i class='fa fa-spin fa-spinner text-silver'></i> @Idioma.Traduzir("Carregando os dados..")</h2>",
                    "sZeroRecords": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sSearch": "",
                    "oPaginate": {
                        "sNext": "@Idioma.Traduzir("Próximo")",
                        "sPrevious": "@Idioma.Traduzir("Anterior")",
                        "sFirst": "@Idioma.Traduzir("Primeiro")",
                        "sLast": "@Idioma.Traduzir("Último")"
                    },
                    oAria: {
                        "sSortAscending": ": @Idioma.Traduzir("Ordenar colunas de forma ascendente")",
                        "sSortDescending": ": @Idioma.Traduzir("Ordenar colunas de forma descendente")"
                    }
                },
                "columnDefs": [
                    {
                        targets: 0,
                        searchable: false,
                        orderable: false,
                        className: '',
                        render: function (data, type, row, index) {
                            var $div = $("<div></div>");
                            var $btnEdit = $(document.createElement("a"))
                                .addClass("btn btn-xs btn-default")
                                .attr("href","@Url.Action("Cadastro", "Usuario")/" + row.Cod)
                                .append("<i class='fa fa-pencil'></i>");
                            $div.append($btnEdit);
                            return $div.html();

                        }
                    },
                    {
                        targets: 1,
                        searchable: false,
                        orderable: false,
                        className: '',
                        render: function (data, type, row, index) {
                            var $div = $("<div></div>");
                            var $btnSend = $(document.createElement("a"))
                                .addClass("btn btn-xs btn-info")
                                .attr("href", "@Url.Action("SendPass", "Usuario")/" + row.Cod)
                                .append("<i class='fa fa-envelope-o'></i>");
                            $div.append($btnSend);
                            return $div.html();
                        }
                    }],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td:eq(0),td:eq(1),td:eq(2),td:eq(3),td:eq(4),td:eq(5),td:eq(6)', nRow).addClass("text-center");
                },
                "sDom": '<"col-xs-12 col-md-12 col-lg-12">' +
                '<"col-xs-12 col-md-12"t>' +
                '<"col-xs-12 col-md-6 pull-left"i><"col-xs-12 col-md-6 pull-right"p>',
                'initComplete': function (settings, json) {
                    var tb = table.data();
                    tb.inicializar($data_table);
                    tb.addSearch($data_table);
                    jx.dTablesUnblock($data_table);
                    $("#tb-loading").hide();
                },
                "fnDrawCallback": function (oSettings) {
                    jx.dTablesUnblock($data_table);
                }

            }).on('order.dt', function () {
                jx.dTablesBlock($data_table);
            });
        }
        function incluir() {
            //$("#incluir-form").modal("show");
            document.location = "@Url.Action("Cadastro",new{id = 0})"
        }
        function salvar() {
            var data = $("#form-cliente").serialize();
            $.ajax({
                url: "@Url.Action("Gravar")",
                data: data,
                type: 'post',
                dateTye: 'json'
            }).success(function (result) {
                console.log(result);
                if (result.OK) {
                    document.location.reload(true);
                } else {
                    if (result.Dados) {
                        alert(result.Mensagem);

                        for (var i = 0; i < result.Dados.length; i++) {
                            var erro = result.Dados[i];
                            $("#" + erro.Campo).parent().addClass("has-error");
                            $("[data-valmsg-for='" + erro.Campo + "']").text(erro.Mensagem).show().addClass("text-danger");

                        }
                    }
                }
            });
        }
        function editrar(id) {
            if (id) {
                document.location = id;
            }

        }
    </script>
}
