﻿
@{
    ViewBag.Title = "Index";
}
<div class="col-md-12">
    <div class="portlet-header">
        <h5 class="portlet-title">
            <i class="fa fa-support"></i> Suporte
        </h5>
    </div>
</div>
<div class="panel-body">
    <div class="row">
        <iframe src="http://junixsla.com.br/ChatCliente?crypt=VDnk71Tf53uweiYghtkR7A%253d%253d" frameborder="0" width="100%" height="200px"></iframe>
    </div>
</div>

