﻿@model Cobranca.Db.Models.TabelaCheckListNome

@{


}

<form id="form-cadastro" class="form" method="POST" action="#">

    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group-sm">
                <label for="NomeEmpreendimento">Nome Check List</label>
                @Html.TextBoxFor(m => m.CheckListNome, new { @class = "form-control input-silver", required = "required", placeholder = "Nome Check List" })
                @Html.ValidationMessageFor(m => m.CheckListNome)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="Documento">Tipo</label>
                @Html.DropDownListFor(m => m.TipoCheckList, new SelectList(ViewBag.ListaTipoCheckList, "value", "key", Model.TipoCheckList), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TipoCheckList)
            </div> <!-- /.form-group -->
        </div>
    </div>
    <!-- /.form-group -->
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
        <div class="col-sm-12">
            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</form>
