﻿@model List<Cobranca.Db.Models.TabelaCheckListNome>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";

}
<div>
    <ul class="nav nav-tabs nav-junix" role="tablist">
        <li role="presentation" class="active"><a href="@Url.Action("Index","CheckListNome")">CheckList</a></li>
        <li role="presentation" class=""><a href="@Url.Action("lista", "CheckListDocumento")">Documentos</a></li>
        <li role="presentation" class=""><a href="@Url.Action("Index","CheckListEmpreendimento")">CheckList x Empreendimento</a></li>
    </ul>
</div>
<div class="panel panel-body box-shadon">

    <div class="row" style="margin-top:10px">
        @*<div class="col-md-12">
            <div class="heading-block no-margin-botton">
                <h6 style="margin-bottom:0; font-weight: 600;"><i class="fa fa-filter"></i>&nbsp;CheckList</h6>
            </div>
        </div>*@
        <div class="col-md-12">
            <a href="@Url.Action("Cadastro",new{id = 0})" class="btn btn-sm btn-primary pull-left btn-min-width" style="margin-bottom: 10px !important;"><i class="fa fa-plus"></i> Adicionar</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered data-table table-condensed">
                <thead>
                    <tr>
                        <th style="width:22px; padding:2px; text-align:center;">#</th>
                        <th class="text-left">Nome Check List</th>
                        <th class="text-center">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ToList())
                    {
                        <tr>
                            <td style="text-align:center">
                                @*<a class="btn btn-sm btn-secondary"><i class="fa fa-trash"></i>&nbsp;remover</a>*@
                                <a class="btn btn-xs btn-primary" href="@Url.Action("cadastro", new { id = item.Cod })"><i class="fa fa-edit"></i></a>
                            </td>
                            <td class="text-left">@item.CheckListNome</td>
                            <td class="text-left">
                                @(item.TipoCheckList.HasValue ? Cobranca.Db.Models.EnumeradoresDescricao.CheckListTipo((short)item.TipoCheckList) : "")
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function incluir() {
            //$("#incluir-form").modal("show");
            document.location = "@Url.Action("Cadastro",new{id = 0})"
        }
        function salvar() {
            var data = $("#form-cliente").serialize();
            $.ajax({
                url: "@Url.Action("Gravar")",
                data: data,
                type: 'post',
                dateTye: 'json'
            }).success(function (result) {
                console.log(result);
                if (result.OK) {
                    document.location.reload(true);
                } else {
                    if (result.Dados) {
                        alert(result.Mensagem);

                        for (var i = 0; i < result.Dados.length; i++) {
                            var erro = result.Dados[i];
                            $("#" + erro.Campo).parent().addClass("has-error");
                            $("[data-valmsg-for='" + erro.Campo + "']").text(erro.Mensagem).show().addClass("text-danger");

                        }
                    }
                }
            });
        }
        function editrar(id) {
            if (id) {
                document.location = id;
            }

        }
    </script>
}
