﻿

header.navbar.navbar-clean {
    /*background-image: url(img/bg-topo-esquerda.jpg),url(img/bg-topo-repeat.jpg) !important;*/
    background-image: url(img/bg-topo-cinza.png),url(img/bg-topo-repeat-cinza.png) !important;
    /*background-image: url(img/bg-topo-esquerda.jpg),url(img/bg-topo-repeat.jpg) !important;*/
    background-repeat: no-repeat,repeat-x !important;
    background-size: contain;
}
.nav-junix a:not(:active) {
    background-color: #585c63 !important;
    color: #fff !important;
}



.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:focus, .navbar .navbar-nav > .active > a:hover {
    color: #fff !important;
    background-color: #4e5157 !important;
    font-weight: normal !important;
}

.mainnav-menu .dropdown-menu a, .mainnav-menu .dropdown-menu i {
    color: #585c63 !important;
    font-size: 10px !important;
}

.mainnav-menu > li.active > a {
    border-bottom-color: #4e5157;
    font-weight: bold !important;
    background-color: #6c9b4b !important;
}

.mainnav-menu > li {
    padding: 0px !important;
    margin: 0px;
    border-right: solid 1px #585c63;
}

.navbar-clean {
    background-color: #f3f5f7;
    /*min-height: 50px;*/
    /*border-bottom: #d74b4b solid 1px;*/
    /*border-top:0px;;*/
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: #585c63 solid 1px !important;
    color: #FFF !important;
}


@media(max-width:767px) {
    .navbar-collapse {
        background-color: #585c63 !important;
    }

    .navbar-toggle {
        color: #585c63 !important;
        /* margin-top: 22px!important; */
    }
    .navbar-toggle {
    color: #ffffff !important;
    /* margin-top: 22px!important; */
}
}
@media (max-width: 1045px){
.navbar-toggle {
    color: #ffffff !important;
    /* margin-top: 22px!important; */
}
.navbar-collapse {
    background-color: #585c63 !important;
}
}
