﻿
.modal-content .modal-header {
    background-color: #5879B4 !important;
}

header.navbar.navbar-clean {
    /*background-image: url(img/bg-topo-esquerda.jpg),url(img/bg-topo-repeat.jpg) !important;*/
    background-image: url(bg-topo-azul.png),url(bg-topo-repeat-azul.png) !important;
    background-repeat: no-repeat,repeat-x !important;
    background-size: contain;
}


.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:focus, .navbar .navbar-nav > .active > a:hover {
    color: #fff !important;
    background-color: #496aaf !important;
    font-weight: normal !important;
}

.mainnav-menu .dropdown-menu a, .mainnav-menu .dropdown-menu i {
    color: #5979b4 !important;
    font-size: 10px !important;
}

.mainnav-menu > li.active > a {
    border-bottom-color: #496aaf;
    font-weight: bold !important;
    background-color: #6c9b4b !important;
}

.mainnav-menu > li {
    padding: 0px !important;
    margin: 0px;
    border-right: solid 1px #5979b4;
}

.navbar-clean {
    background-color: #f3f5f7;
    /*min-height: 50px;*/
    /*border-bottom: #d74b4b solid 1px;*/
    /*border-top:0px;;*/
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: #5979b4 solid 1px !important;
    color: #FFF !important;
}

.btn-default-color {
    color: #fff !important;
    background-color: #5879B4;
    border-color: #436196;
}

    .btn-default-color:hover {
        color: #fff !important;
        background-color: #2f4368;
        border-color: #1f2c45;
    }

@media(max-width:767px) {
    .navbar-collapse {
        background-color: #5979b4 !important;
    }

    .navbar-toggle {
        color: #5979b4 !important;
        /* margin-top: 22px!important; */
    }
}

.btnFilaAnimated:hover {
    background-color: #5979b4;
    border-color: #ccc;
    color: #fff;
}

.dropdown-menu > .selected {
    background-color: #5979b4 !important;
    color: #fff !important;
}

.selected {
    background-color: #5979b4 !important;
    color: #fff;
}
