﻿.navbar-clean {
    background-color: #78a300;
    border-bottom: #95be22 solid 1px !important;
}

.btn-primary {
    background-color: #8caa35;
    border-color: #95be22;
}

    .btn-primary:hover {
        background-color: #95be22;
    }

.mainnav-menu > li.active > a {
    border-bottom-color: #78a300 !important;
    color: #78a300 !important;
}

.selecionado {
    background-color: #e9e5e5 !important;
    color: #fff;
}

.menu-pesquisa .btn-primary {
    color: #78a300 !important;
    /* border-bottom: solid 3px; */
}

.menu-pesquisa .btn:hover {
    color: #78a300;
}

.navbar-clean .navbar-brand {
    /*background-color: #6d9207;*/
    color: #fff;
}

    .navbar-clean .navbar-brand:hover {
        color: #FFF;
        background-color: #6d9207;
    }

.navbar .navbar-nav > .navbar-notification .navbar-notification-icon {
    font-size: 22px !important;
    color: #ffffff !important;
}

.navbar .navbar-nav > .navbar-notification > .dropdown-toggle:hover {
    background-color: #6d9207 !important;
}

.navbar-nav > .navbar-notification > .dropdown-toggle:hover .navbar-notification-icon {
    color: #fff !important;
}

.navbar .navbar-nav > li > a {
    color: #fff !important;
}

.navbar .navbar-clean .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:focus, .navbar .navbar-nav > .open > a:hover {
    background-color: #6d9207 !important;
    color: #fff !important;
    /*color: red !important;*/
}

.navbar .navbar-nav > .navbar-notification > .dropdown-toggle:hover {
    background-color: #6d9207 !important;
}

.pace .pace-progress {
    background: #aecb5f !important;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    color: #fff;
    background-color: #6d9207;
    border-color: #78a300;
    cursor: default;
}

.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:focus, .navbar .navbar-nav > .active > a:hover {
    /*color: #fff;*/
    /*background-color: #253542;*/
    color: #78a300 !important;
    background-color: #6d9207 !important;
}

.navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:focus, .navbar .navbar-nav > .open > a:hover {
    /*background-color: #253542;*/
    background-color: #6d9207;
    color: #fff !important;
    /*color: #fff;*/
}

.navbar .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar .navbar-nav .open .dropdown-menu > .active > a:hover {
    /*color: #fff;*/
    color: #283846 !important;
    background-color: #6d9207;
    /*background-color: #253542;*/
}

.navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a:hover {
    color: #a53e3e;
    background-color: #6d9207 !important;
}

.navbar .navbar-nav > .navbar-notification.open > .dropdown-toggle, .navbar .navbar-nav > .navbar-notification.open > .dropdown-toggle:focus, .navbar .navbar-nav > .navbar-notification.open > .dropdown-toggle:hover {
    /*color: #fff;*/
    /*background-color: #253542;*/
    color: #283846 !important;
    background-color: #6d9207;
}

.table th {
    background-color: #fff !important;
    color: #999 !important;
    font-weight: bold !important;
}

.table td {
    color: #161515 !important;
}

.portlet-title, .heading-block {
    color: #999 !important;
}
/*.form-control {
    border-radius:0px!important;
}
.btn {
    border-radius:0px!important;
}*/
