﻿header.navbar.navbar-clean {
    /*background-image: url(img/bg-topo-esquerda.jpg),url(img/bg-topo-repeat.jpg) !important;*/
    background-image: url(bg-topo-azul-escuro.png),url(bg-topo-repeat-azul-escuro.png) !important;
    background-repeat: no-repeat,repeat-x !important;
    background-size: contain;
}

.mainnav-menu .dropdown-menu a:hover, .mainnav-menu .dropdown-menu a:hover > i {
    background-color: #182a40 !important;
    color: #fff !important;
}


.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:focus, .navbar .navbar-nav > .active > a:hover {
    color: #fff !important;
    background-color: #182a40 !important;
    font-weight: normal !important;
}

.mainnav-menu .dropdown-menu a, .mainnav-menu .dropdown-menu i {
    color: #2474a5 !important;
    font-size: 10px !important;
}

.mainnav-menu > li.active > a {
    border-bottom-color: #182a40;
    font-weight: bold !important;
    background-color: #6c9b4b !important;
}

.mainnav-menu > li {
    padding: 0px !important;
    margin: 0px;
    border-right: solid 1px #2474a5;
}

.navbar-clean {
    background-color: #f3f5f7;
    /*min-height: 50px;*/
    /*border-bottom: #d74b4b solid 1px;*/
    /*border-top:0px;;*/
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: #2474a5 solid 1px !important;
    color: #FFF !important;
}

.btn-default-color {
    color: #fff !important;
    background-color: #2474a5;
    border-color: #436196;
}

    .btn-default-color:hover {
        color: #fff !important;
        background-color: #2474a5;
        border-color: #1f2c45;
    }
@media(max-width:767px) {
    .navbar-collapse {
        background-color: #2474a5 !important;
    }

    header.navbar.navbar-clean {
        background-image: url('img/bg-topo-azul-escuro.png') !important;
        background-repeat: repeat-x !important;
        background-image: none !important;
        background-color: #fff;
    }

    .navbar-toggle {
        color: #2474a5 !important;
        /* margin-top: 22px!important; */
    }

    .mainnav-menu .dropdown-menu a:hover, .mainnav-menu .dropdown-menu a:hover > i {
        background-color: #182a40 !important;
        color: #fff !important;
    }
}

.modal-content .modal-header {
    background-color: #2474a5 !important;
}

.btnFilaAnimated:hover {
    background-color: #2474a5;
    border-color: #ccc;
    color: #fff;
}


.dropdown-menu > .selected {
    background-color: #2474a5 !important;
    color: #fff !important;
}

.dropdown-menu > li.selected > a {
    border-radius: 0px;
    background-color: #2474a5 !important;
}

.selected {
    background-color: #2474a5 !important;
    color: #fff;
}
