﻿

body {
    /*font-family: 'Century Gothic';*/
    /*font-family: sans-serif;
    height: auto;*/
    /*font-family: Arial;*/
    /*font-size: 14px !important;*/
    font-family: Roboto;
    /*font-weight: 300 !important;*/
    /*line-height: 2.0;*/
    font-size: 11px;
    /*font-weight: normal;*/
    /*line-height: 18px;*/
    color: #404040;
    height: auto !important;
}

.datepicker {
    z-index: 9999 !important;
}

.datetimepicker {
    z-index: 9999 !important;
}

.row-stat-custom {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    bottom: -3px;
    left: 3px;
    right: 3px;
    background-color: #fff;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    border: 1px solid #ddd;
    border-top: 0;
}


.select2-container {
    width: 100% !important;
    background-color: #f5f5f5 !important;
    border-color: #e3e3e3 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05) !important;
    color: #4c4c4c !important;
    font-size: 12px !important;
    min-height: 20px !important;
    margin-bottom: 20px !important;
    display: block !important;
}

.select2-search input {
    font-size: 12px !important;
}

.label-lg {
    font-size: 13px !important;
    padding: 4px;
    margin-right: 4px;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

/*@font-face {
    font-family: 'Roboto-Regular';
    src: url('font/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('font/Roboto/Roboto-Light.ttf') format('truetype');
}*/

/*label {
   font-weight: normal !important;
}*/

/*@font-face {
    font-family: 'HelveticaNeueLTStd Lt';
    src: url('font/HelveticaNeue/HelveticaNeueLTStd Lt.otf') format('opentype');
}*/

.btn-primary {
    background-color: #f06a3b !important;
    border-color: #cb4b31 !important;
    /*font-weight:bold;*/
}

    .btn-primary:hover {
        border-color: #bf4f38 !important;
    }

.input-silver {
    background-color: #f5f5f5 !important;
    border-color: #e3e3e3 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05) !important;
    color: #4c4c4c !important;
    font-size: 12px;
    min-height: 20px;
    margin-bottom: 20px;
}


.no-margin-botton {
    margin-bottom: 0px;
}

.progress-xs {
    height: 5px;
}

.margin-top-20 {
    margin-top: 20px;
}

.navbar-brand-img h3 {
    margin-top: 10px;
}

.text-silver {
    color: #808080;
}

.well-button {
    cursor: pointer;
}

    .well-button:hover {
        color: #000000;
    }
/* Make inline editables take the full width of their parents */
.editable-container.editable-inline,
.editable-container.editable-inline .control-group.form-group,
.editable-container.editable-inline .control-group.form-group .editable-input,
.editable-container.editable-inline .control-group.form-group .editable-input textarea,
.editable-container.editable-inline .control-group.form-group .editable-input select,
.editable-container.editable-inline .control-group.form-group .editable-input input:not([type=radio]):not([type=checkbox]):not([type=submit]) {
    width: 100%;
}

a.x-edit {
    border-bottom: none;
    font-size: 15px;
    color: #4c4c4c;
}

    a.x-edit:hover {
        border-bottom: none;
        font-weight: bold;
    }

.input-editable {
    background-color: transparent;
    border: none;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}


.has-error {
    border-color: red !important;
}

.well-trabalho b,
.well-trabalho span {
    color: #808080 !important;
}

.well-trabalho:hover {
    border: 1px solid #ff0000 !important;
    -webkit-box-shadow: 0 0 5px #ff0000 !important;
    box-shadow: 0 0 5px #ff0000 !important;
}

    .well-trabalho:hover span {
        color: #000000 !important;
    }

.list-group-item.active {
    background-color: #d74b4b !important;
    border-color: #9a2222;
}

    .list-group-item.active i {
        color: #f5f5f5 !important;
    }

.select2-choices {
    font-size: 12px !important;
    background-color: #f5f5f5 !important;
    border-color: #e3e3e3 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05) !important;
    border: 1px solid #ccc !important;
    height: 30px;
    min-height: 20px;
    margin-bottom: 20px;
}

/*.select2-container {
    border-color: #000000 !important;
}*/

.testimunhal-area {
    cursor: pointer;
}

.testimunhal {
    display: table;
    /*margin: 10px 0 0 4px;*/
    padding: 2px;
    /*width:100%;*/
}

.testimunhal-area:hover {
    background-color: #edebeb;
}

.testimunhal-img img {
    width: 60px;
    height: 60px;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 50px;
}

img {
    vertical-align: middle;
}

.testimunhal-info {
    display: table-cell;
    vertical-align: middle;
    padding-top: 0;
    padding-left: 15px;
}


.testimonial {
    margin-bottom: 0;
}

.testimonial {
    position: relative;
    margin-top: 22px;
}

.testimonial-icon {
    position: absolute;
    top: -18px;
    left: 50%;
    z-index: 21;
    width: 36px;
    height: 36px;
    margin-left: -18px;
    text-align: center;
    line-height: 36px;
    border-radius: 3px;
}

    .testimonial-icon i {
        color: #fff;
        font-size: 18px;
    }

.testimonial-content {
    position: relative;
    padding: 30px 15px 25px;
    text-align: center;
    line-height: 1.75em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.testimonial-author {
    display: table;
    margin: 25px 0 0 4px;
}

.testimonial-image {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: auto;
    height: auto;
}

.testimonial-author-info {
    display: table-cell;
    vertical-align: middle;
    padding-top: 0;
    padding-left: 15px;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 4px;
}

    .fileinput-button input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        border: solid transparent;
        border-width: 0 0 100px 200px;
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-transform: translate(-300px, 0) scale(4);
        direction: ltr;
        cursor: pointer;
    }

.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}

.files .progress {
    width: 200px;
}

.progress-animated .bar {
    background: url(../img/progressbar.gif) !important;
    filter: none;
}

.fileupload-loading {
    position: absolute;
    left: 50%;
    width: 128px;
    height: 128px;
    background: url(../img/loading.gif) center no-repeat;
    display: none;
}

.fileupload-processing .fileupload-loading {
    display: block;
}

.file {
    margin-bottom: 10px;
    border: solid 1px #ccc;
    padding: 4px;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

    .file:hover {
        background-color: #d9d9d9;
    }

body {
    /*padding-top: 50px;*/
    position: relative;
}

pre {
    tab-size: 8;
}

@media screen and (max-width: 768px) {
    .side-collapse-container {
        width: 100%;
        position: relative;
        left: 0;
        transition: left .4s;
    }

        .side-collapse-container.out {
            left: 200px;
        }

    .side-collapse {
        top: 50px;
        bottom: 0;
        left: 0;
        width: 200px;
        position: fixed;
        overflow: hidden;
        transition: width .4s;
    }

        .side-collapse.in {
            width: 0;
        }
}

.modal-msg ul {
    list-style-type: none !important;
    margin-left: -35px !important;
}

.lista-itens {
    list-style-type: none !important;
    /*margin-left: -35px !important;*/
}

.tile-progress {
    background-color: #303641;
    color: #fff;
    cursor: pointer;
}

.tile-progress {
    background: #00a65b;
    color: #fff;
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

    .tile-progress .tile-header {
        padding: 15px 20px;
        padding-bottom: 40px;
        height: 140px;
    }

    .tile-progress .tile-progressbar {
        height: 2px;
        background: rgba(0,0,0,0.18);
        margin: 0;
    }

        .tile-progress .tile-progressbar span {
            background: #fff;
        }

        .tile-progress .tile-progressbar span {
            display: block;
            background: #fff;
            width: 0;
            height: 100%;
            -webkit-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
            -moz-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
            -o-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
            transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
        }

    .tile-progress .tile-footer {
        padding: 20px;
        text-align: right;
        background: rgba(0,0,0,0.1);
        -webkit-border-radius: 0 0 3px 3px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 0 0 3px 3px;
        -moz-background-clip: padding;
        border-radius: 0 0 3px 3px;
        background-clip: padding-box;
        -webkit-border-radius: 0 0 3px 3px;
        -moz-border-radius: 0 0 3px 3px;
        border-radius: 0 0 3px 3px;
    }

    .tile-progress.tile-red {
        background-color: #c76f62;
        color: #fff;
    }

.tile-progress {
    background-color: #303641;
    color: #fff;
}

    .tile-progress.tile-blue {
        background-color: #0073b7;
        color: #fff;
    }

    .tile-progress.tile-silver {
        background-color: #ddd;
        color: #303641;
    }

    .tile-progress.tile-aqua {
        background-color: #00c0ef;
        color: #fff;
    }

    .tile-progress.tile-green {
        background-color: #75a790;
        color: #fff;
    }

    .tile-progress.tile-cyan {
        background-color: #00b29e;
        color: #fff;
    }

    .tile-progress.tile-purple {
        background-color: #ba79cb;
        color: #fff;
    }

    .tile-progress.tile-pink {
        background-color: #ec3b83;
        color: #fff;
    }

    .tile-progress.tile-yellow {
        background-color: #eee98a;
        color: #4c4c4c;
    }

.navbar-clean {
    background-color: #f3f5f7;
    /*min-height: 50px;*/
    /*border-bottom: #d74b4b solid 1px;*/
    /*border-top:0px;;*/
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: #bf4929 solid 1px !important;
    color: #FFF !important;
}

header .navbar-clean {
    height: 54px;
}

.navbar-clean .navbar-brand {
    height: 54px;
}

.navbar-clean .navbar-brand {
    height: 68px;
}
    /*.navbar .navbar-nav > .navbar-notification > a {
    height:80px;
}*/
    .navbar-clean .navbar-brand > img {
        height: 58px !important;
        margin-left: 68px !important;
        margin-top: -5px;
    }


    .navbar-clean .navbar-brand:hover {
        color: #FFF;
        /*background-color: #ecedef;*/
        background-color: none !important;
    }

.navbar .navbar-nav > .navbar-notification .navbar-notification-icon {
    font-size: 22px !important;
    color: #bdbbbb !important;
}

.navbar .navbar-nav > .navbar-notification > .dropdown-toggle:hover {
    /*background-color: #ecedef !important;*/
    background-color: none !important;
}

.navbar-nav > .navbar-notification > .dropdown-toggle:hover .navbar-notification-icon {
    color: #253d52 !important;
}

.navbar .navbar-nav > li > a {
    color: #fff !important;
}

.navbar .navbar-clean .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:focus, .navbar .navbar-nav > .open > a:hover {
    /*background-color: #ecedef;*/
    color: #253d52 !important;
    background-color: none !important;
    /*color: red !important;*/
}

.navbar .navbar-nav > .navbar-notification > .dropdown-toggle:hover {
    /*background-color: #ecedef !important;*/
    background-color: none !important;
}

.btn-default-color {
    color: #fff !important;
    background-color: #d74b4b;
    border-color: #c42b2b;
}

    .btn-default-color:hover {
        color: #fff !important;
        background-color: #c76161;
        border-color: #c04e4e;
    }

.selecionado {
    background-color: #c76161 !important;
    color: #fff;
}

.modal-dados-invalidos {
    margin-top: 200px !important;
}

.chat-msg {
    padding: 2px;
    font-size: 12px !important;
}

    .chat-msg .media-body {
        border-radius: 4px;
        border: solid 1px #ccc9c9;
        padding: 8px;
        background-color: #f2f0f0;
        color: black;
        font-size: 14px;
    }

        .chat-msg .media-body:hover {
            cursor: pointer;
            background-color: #fff;
        }



.mainnav-menu {
    margin-left: 0px !important;
}


    .mainnav-menu > li > a {
        font-size: 14px;
        text-align: center;
        /*padding: 15px 10px;*/
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: transparent;
        /*font-weight: 300 !important;*/
        color: #6d6767;
    }

    .mainnav-menu > li.active > a {
        border-bottom-color: #d74b4b;
        font-weight: bold !important;
    }

.chat-msg .chat-msg-box {
    border: solid 1px #ccc9c9;
    padding: 8px;
    background-color: #fff;
    color: #666;
    font-size: 14px;
    -webkit-box-shadow: 3px 4px 8px -2px rgba(112,100,112,1);
    -moz-box-shadow: 3px 4px 8px -2px rgba(112,100,112,1);
    box-shadow: 3px 4px 8px -2px rgba(112,100,112,1);
}

.chat-msg .msg-pessoa {
    font: small;
}

/*.navbar .navbar-nav > .navbar-notification > .dropdown-toggle:focus, .navbar .navbar-nav > .navbar-notification > .dropdown-toggle:hover {
    color: #fff;
    background-color: #283846;
}*/

.navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a:hover {
    color: #a53e3e;
    /*background-color: #ecedef !important;*/
    background-color: none;
}

.navbar .navbar-nav .open .dropdown-menu > li > a:focus, .navbar .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #fff;
    /*background-color: #ecedef !important;*/
    background-color: none;
}

.navbar-nav > .navbar-profile .dropdown-toggle {
    padding-left: 30px;
    padding-top: 4px;
}

.navbar .navbar-nav > li > a {
    color: #fff !important;
}

.dropdown-menu > li > a:hover {
    color: #283846 !important;
}


.menu-pesquisa .btn {
    font-size: 14px;
    border-radius: 0px;
    border: none;
    color: #999999;
}

    .menu-pesquisa .btn .btn-xs {
        font-size: 10px;
        text-align: center;
    }

    .menu-pesquisa .btn:hover {
        color: #d74b4b;
        background-color: transparent;
        /*border-bottom: solid 3px;*/
    }

    .menu-pesquisa .btn disabled {
        background-color: transparent;
    }

.menu-pesquisa .btn-primary {
    background-color: transparent !important;
    color: #d74b4b;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    /*border-bottom: solid 3px;*/
}

.btn-no {
    border-radius: 0px;
    border: none;
    margin-bottom: 10px;
}

.no-padding {
    padding: 0px !important;
}


.table th {
    background-color: #969696 !important;
    color: #fff !important;
    font-size: 10px !important;
}



.layout {
    margin: 0px;
    /* margin-left: -15px; */
    /* margin-right: -15px; */
}

.mainnav {
    margin-bottom: 18px;
}

    .mainnav:after {
        background: none;
        position: absolute;
        /*top: 100%;
    z-index: -1;
    width: 100%;
    height: 0px;
    margin-top: 0px;
    background-image: -webkit-linear-gradient(top,#f2f2f2 0,#fff 100%);
    background-image: -o-linear-gradient(top,#f2f2f2 0,#fff 100%);
    background-image: linear-gradient(to bottom,#f2f2f2 0,#fff 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffffffff', GradientType=0);*/
    }



.layout-main {
    /*padding-top: 40px;
    padding-bottom: 26px;*/
    padding: 8px;
}

header.navbar.navbar-clean {
    /*background-image: url(img/bg-topo-esquerda.jpg),url(img/bg-topo-repeat.jpg) !important;*/
    background-image: url(img/bg-topo.png),url(img/bg-topo-repeat.png) !important;
    background-repeat: no-repeat,repeat-x !important;
    background-size: contain;
}

.navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a:hover {
    background: none !important;
}

/*.pagination > .active > a {
    background-color: #f06a3b !important;
    border-color: #cb4b31 !important;
    /*font-weight:bold;
}

*/ .panel .panel-primary {
    border-color: #4c4c4c !important;
}

    .panel .panel-primary .panel-heading {
        background-color: #969696 !important;
        border-color: #4c4c4c !important;
        color: #fff !important;
    }

.portlet-title {
    color: #969696 !important;
}

.portlet-default .portlet-title::after {
    background: #969696;
}

.prazo-sla {
    cursor: pointer;
}

.selecionado .text-danger {
    color: #fff;
}

.selecionado .text-silver {
    color: #fff;
}

.selecionado a {
    color: #969696;
}

.margin-top-22 {
    margin-top: 18px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-18 {
    margin-top: 18px;
}

.margin-top-16 {
    margin-top: 16px;
}

.portlet-default .portlet-title {
    margin-bottom: 6px !important;
}

.account-bg {
    background-color: #eaeaea !important;
}

.box-shadon {
    /*border-color: #d3e0e9 !important;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-min-width {
    min-width: 160px;
    margin-right: 4px;
}

@media (min-width:768px) {
    .account-wrapper {
        width: 600px;
        padding: 0;
    }
}

.nav-menu-pesquisa {
    /*background-color: #e1e1e1;*/
    background-color: #d0d0d0 !important;
    /*border-radius:6px;*/
    margin-bottom: 0px;
    border-color: #d0d0d0 !important;
}

    .nav-menu-pesquisa li > a {
        border-bottom-color: #d0d0d0 !important;
    }

.panel-pesquisa-dados {
    border-radius: 0px;
    border-top-color: #f8f7f7;
    background-color: #f8f7f7 !important;
}

    .panel-pesquisa-dados .panel-heading {
        border-radius: 0px;
        margin: 0px;
        background-color: #fff;
    }

.nav-menu-pesquisa li {
    min-width: 100px;
}

    .nav-menu-pesquisa li a {
        color: #666 !important;
        font-size: 12px;
        border-radius: 0px !important;
    }


    .nav-menu-pesquisa li > a {
        background-color: #d0d0d0 !important;
        color: #303641 !important;
    }

    .nav-menu-pesquisa li:hover > a {
        /*font-weight: 800 !important;*/
        background-color: #f8f7f7 !important;
        /*border-color:#666666!important;*/
        color: #bf4929 !important;
    }

    .nav-menu-pesquisa li.active {
        border-bottom-color: #f8f7f7 !important;
    }

        .nav-menu-pesquisa li.active > a {
            color: #d74b4b !important;
            /*background-color: #fff !important;*/
            /*font-weight: 600 !important;*/
            background-color: #f8f7f7 !important;
            border-bottom-color: #f8f7f7 !important;
        }

    .nav-menu-pesquisa li.disabled > a {
        color: #b1afaf !important;
    }

.select2-no-results {
    background: #FFF !important;
}

.select2-search-choice {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    margin: 4px 1px 1px 2px !important;
}

.select2-choice {
    background-color: blue !important;
}

.dropareahover {
    border: dotted 2px #c3ca21 !important;
    background-color: #dde176;
}

.sortable-content {
    width: 100%;
    padding: 6px;
    min-height: 60px;
    border: solid 2px #d0d0d0;
    border-radius: 4px !important;
}

.modelo-acao-item {
    z-index: 999;
    cursor: pointer;
    vertical-align: top;
}

    .modelo-acao-item span {
        white-space: initial;
    }


.drop-aqui {
    width: 100%;
    text-align: center;
    background: #fff;
    border: dotted 1px #4c4c4c;
    border-radius: 4px;
    min-height: 26px;
}

/*.table > tbody > tr.danger > td, .table > tbody > tr.danger > th, .table > tbody > tr > td.danger, .table > tbody > tr > th.danger, .table > tfoot > tr.danger > td, .table > tfoot > tr.danger > th, .table > tfoot > tr > td.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > thead > tr.danger > th, .table > thead > tr > td.danger, .table > thead > tr > th.danger {
    background-color: #c3ca21;
}*/
.table > tbody > tr.selecionado.danger > td, .table > tbody > tr.danger > th, .table > tbody > tr > td.danger, .table > tbody > tr > th.danger, .table > tfoot > tr.danger > td, .table > tfoot > tr.danger > th, .table > tfoot > tr > td.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > thead > tr.danger > th, .table > thead > tr > td.danger, .table > thead > tr > th.danger {
    background-color: #c76161;
}

.nav-junix {
    margin-bottom: 0px !important;
}

    .nav-junix li a {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }

    .nav-junix a:not(:active) {
        background-color: rgba(112,100,112,1) !important;
        color: #fff !important;
    }

    .nav-junix a:hover {
        background-color: #969696 !important;
        color: #fff !important;
    }

    .nav-junix li.active a {
        background-color: #FFF !important;
        color: #4c4c4c !important;
    }

.form-control {
    border-radius: 0px !important;
}

.btn {
    border-radius: 0px !important;
}

.form-group-sm .form-control {
    height: 30px;
}

.account-form {
    margin-top: 0px;
    margin-bottom: 0px;
}

.account-body {
    padding: 10px !important;
}

.navbar {
    height: 68px !important;
}

.box-shadon {
    border-radius: 2px;
    -webkit-box-shadow: 0px 7px 16px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 16px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 16px -1px rgba(0,0,0,0.75);
    background-color: #fff !important;
}

.btn-shadon {
    -webkit-box-shadow: 0px 7px 16px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 16px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 16px -1px rgba(0,0,0,0.75);
}

.mainnav {
    margin-bottom: 8px !important;
}
/*.container-fluid{
    padding-left:8px!important;
    padding-right:8px!important;
}*/
.panel {
    margin-bottom: 8px !important;
}
/*.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 15px!important;
    padding-left: 15px!important;
}*/
.panel-com-tab {
    margin-top: 0px;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/*.select2-container {
    width: 100% !important;
    background-color: #f5f5f5 !important;
    border: 1px solid #e3e3e3 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05) !important;
    color: #4c4c4c !important;
    font-size: 15px;
    min-height: 20px;
    margin-bottom: 20px;
}*/

.select2-container .select2-choice {
    border-radius: 0px !important;
    height: 30px;
    line-height: 28px;
    background: #f5f5f5 !important;
    border-color: #e3e3e3 !important;
}



.portlet-title {
    margin-bottom: 2px !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.layout-sidebar {
    padding-top: 0px !important;
}

.nav-layout-sidebar > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    border-bottom: 1px solid #e5e5e5;
    outline: 0;
    background-color: #b5b4b4;
}

.nav-layout-sidebar > li.active {
    margin-right: -1px;
}

    .nav-layout-sidebar > li.active > a {
        background-color: #f5f5f5;
    }

.nav-layout-sidebar > li > a:hover {
    background-color: #f5f5f5;
    color: #d74b4b;
}

.nav-layout-sidebar-pane {
    border: 1px solid #e5e5e5;
    background-color: #f5f5f5 !important;
}

.layout-main-right .layout-sidebar {
    border-right: none;
}

.heading-block:after {
    margin: 6px 0 0;
}

.heading-block {
    margin-bottom: 6px;
}

.padding-5 {
    padding: 8px;
}

    .padding-5 .input-silver {
        margin-bottom: 0px !important;
    }

.layout-main-right .layout-main {
    padding-right: 6px;
    padding-left: 6px;
}

.table-edit {
    width: 100%;
    border: none;
    height: 100%;
    text-align: center;
    padding: 0px;
}

.item-unidade {
    cursor: pointer;
}

textarea {
    height: 80px !important;
}

#topo {
    background-color: blue;
    width: 102px;
    height: 30px;
    transform: skewX(-45deg);
    -webkit-transform: skewX(-45deg);
    -moz-transform: skewX(-45deg);
    -o-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    margin: 20px;
}

#andares {
    list-style-type: none;
    margin: 20px;
}

    #andares .frente {
        background-color: red;
        width: 100px;
        height: 30px;
        transform: translate(-54px);
        -webkit-transform: translate(-54px);
        -moz-transform: translate(-54px);
        -o-transform: translate(-54px);
        -ms-transform: translate(-54px);
        margin-top: -18px;
    }

    #andares li:hover .frente {
        background-color: yellow;
    }

    #andares .lado {
        background-color: green;
        width: 20px;
        height: 20px;
        margin: 1px;
        transform: translate(52px) rotate(90deg) scale(1.5) skewX(45deg) translate(-27px);
        -webkit-transform: translate(52px) rotate(90deg) scale(1.5) skewX(45deg) translate(-27px);
        -moz-transform: translate(52px) rotate(90deg) scale(1.5) skewX(45deg) translate(-27px);
        -o-transform: translate(52px) rotate(90deg) scale(1.5) skewX(45deg) translate(-27px);
        -ms-transform: translate(52px) rotate(90deg) scale(1.5) skewX(45deg) translate(-27px);
    }

    #andares li:hover .lado {
        background-color: cyan;
    }

.predio {
    border: solid 4px #969696;
    background: #4c4c4c;
    padding: 10px;
    border-radius: 5px;
    /*width:500px;*/
    content: "";
    display: table;
    clear: both;
    margin-top: 15px;
}

.item-unidade:hover {
    opacity: 0.9;
}

.item-unidade {
    width: 80px;
    border: solid 3px rgba(243, 235, 235, 0.00);
    border-radius: 2px !important;
    padding: 2px;
    margin: 2px;
}

    .item-unidade h4, h6 {
        margin-bottom: 1px;
    }

    .item-unidade.active {
        border-color: #f7f7f7;
        border-radius: 5px !important;
        border-style: solid;
    }


.input-yellow {
    background-color: #fffc75 !important;
}

.label-md {
    font-size: 10px !important;
}

#tabela-fluxo input:disabled {
    background-color: #fff !important;
}


#tabela-fluxo tr.bg-danger input {
    background-color: #d74b4b !important;
}

#tabela-fluxo tr.bg-danger td {
    color: #fff;
    border: 1px solid #ddd;
}

.nav > li.disabled > a:hover {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: #b5b4b4;
}


.panel-small > .panel-heading {
    padding: 6px;
    padding-left: 10px;
    /*font-weight: 600;*/
}

.panel-small .panel-body {
    padding: 10px;
}

.panel-small .panel-small .well {
    margin-bottom: 0px !important;
}

.italic {
    font-style: italic;
}

.mensagem {
    cursor: pointer;
    padding: 10px;
    border-bottom: solid 1px #ddd;
}

    .mensagem:hover {
        background-color: #f8f7f7;
    }

.text-dados {
    margin-right: 20px;
}

    .text-dados > p {
        margin-bottom: -2px;
    }

label.error {
    color: red !important;
    /*font-weight: 600;*/
    /*margin-top:-55px!important;*/
}

.form-control.input-silver {
    margin-bottom: 15px;
}

    .form-control.input-silver.error {
        border-color: #d74b4b !important;
        background-color: #fff4bd !important;
        margin-bottom: 0px !important;
    }

.arvore-unidade label {
    color: #969696 !important;
}

.arvore label {
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: -4px;
    font-weight: 600 !important;
}

.arvore .nivel-0 {
    padding-left: 2px;
}

.arvore .nivel-1 {
    padding-left: 22px;
}

.arvore .nivel-2 {
    padding-left: 32px;
}

.arvore .nivel-3 {
    padding-left: 42px;
}

.arvore .nivel-4 {
    padding-left: 52px;
}

.table > th {
    font-weight: 600;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #e8e8e8;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f8f8f8;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #c5c5c5;
}

.paginate_button a {
    border-radius: 0px !important;
    background: #fff !important;
    font-weight: 600;
}

.paginate_button > .active > a {
    background-color: #969696 !important;
}

.pagination > .active > a {
    background-color: #969696 !important;
    border-color: #969696 !important;
    /* font-weight: bold; */
}



tr.loading {
    opacity: 0.4;
}

.form-group-sm label {
    margin-bottom: 0px;
}

.mainnav-menu > li > a {
    font-size: 12px;
}

.dropdown-menu > li > a {
    padding: 4px;
}

.wizard {
    margin: 0px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
    overflow: hidden;
    background-color: #f9f9f9;
    /*border: 1px solid #d4d4d4;*/
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-bottom: 1px solid #ddd;
    /*-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);*/
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 10px;
}

    .wizard ul li:first-child {
        padding-left: 10px;
        border-radius: 0px 0 0 0px;
    }


    .wizard ul li.active {
        color: #fff;
        background: #d74b4b;
    }

    /*.wizard ul li:hover {
        background-color: #f5f5f5;
    }*/
    .wizard ul li {
        cursor: pointer !important;
    }

        .wizard ul li:hover {
            text-decoration: underline;
        }

    .wizard ul li {
        position: relative;
        float: left;
        height: 36px;
        padding: 0 10px 0 20px;
        margin: 0;
        /*font-size: 12px;*/
        line-height: 36px;
        color: #999;
        cursor: default;
        background: #ededed;
        /*font-weight: 600;*/
    }

    .wizard ul {
        width: 4000px;
        padding: 0;
        margin: 0;
        list-style: none outside none;
    }

        .wizard ul li .chevron {
            position: absolute;
            top: 0;
            right: -14px;
            z-index: 1;
            display: block;
            border: 20px solid transparent;
            border-right: 0;
            border-left: 10px solid #ddd;
        }


            .wizard ul li .chevron:before {
                position: absolute;
                top: -24px;
                right: 1px;
                display: block;
                border: 24px solid transparent;
                border-right: 0;
                border-left: 14px solid #ededed;
                content: "";
            }

        .wizard ul li.active .chevron:before {
            border-left: 14px solid #d74b4b;
        }

.no-margin-botton p {
    margin-bottom: 0px;
}

.nav-layout-sidebar > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
}

.panel-pesquisa-dados.iframe-ativo {
    border: none;
    background: transparent !important;
    box-shadow: none;
}

    .panel-pesquisa-dados.iframe-ativo > .panel-body {
        padding: 0px;
    }


#div-carregando {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(img/loading.gif) center no-repeat rgba(169, 165, 165, 0.23);
    /*opacity: 0.7;*/
    text-align: center;
}

#carregando-msg {
    position: relative !important;
    top: 60% !important;
    /* margin-left: -80px; */
    font-size: 16px !important;
    text-align: center !important;
}

.thumb {
    margin-bottom: 30px;
}

.select2-container-multi .select2-choices {
    font-size: 12px !important;
    min-height: 30px !important;
    background-color: #f5f5f5 !important;
    border-color: #e3e3e3 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05) !important;
    border: 1px solid #ccc !important;
}

.checklist-group-item {
    position: relative;
    display: block;
    padding: 5px 10px !important;
    margin-bottom: -1px;
    background-color: #fff;
    border: 0.5px solid #ddd;
}

.checklist-group-item-success {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border: 0.3px solid #ddd;
}

.regua {
    width: 100%;
    padding-left: 0px;
}

    .regua h4 {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .regua h5 {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .regua .traco {
        content: " ";
        padding-top: 5px;
        font-size: 8px;
        border-left: solid 1px #d74b4b;
    }

    /*.regua li:first-child > a {
       border-left: solid 1px #d74b4b;
         border-left-style:outset;
    }*/
    /*
    .regua li:last-child > a{
        text-align: right;
    }*/

    .regua li a {
        padding: 5px 12px;
        color: #444;
        background-color: transparent !important;
        border-radius: 0px;
        /*border-right: solid 1px #d74b4b;*/
    }

    .regua li {
        display: table-cell;
        text-align: left;
        padding-right: 0px;
    }

    .regua .linha {
        border-bottom: solid 2px #d74b4b;
        margin-top: -20px;
    }

.bg-vermelho-claro {
    background-color: #f2dcdb;
}


.group-conditions label.btn {
    background-color: #fff !important;
    border-color: #ccc !important;
    color: #000;
    font-size: 14px;
    min-width: 80px;
}

    .group-conditions label.btn.active {
        background-color: #ea5454 !important;
        color: #fff !important;
    }

/*.query-builder-inline > .rules-group-container {
    padding: 10px 10px 6px;
    border: none!important;
    background: #fff !important;
}*/

.botao-chat {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

/*.tabela-dropdown {
    border-bottom:solid 1px #d74b4b;
}*/

.tabela-dropdown td {
    padding-left: 6px;
    padding-right: 6px;
    min-width: 102px;
    border-right: solid 1px #d74b4b;
}

.input-xs {
    height: 24px;
    font-size: 10px;
    line-height: 0.8px;
}

select.input-xs {
    padding: 0px;
}

.navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:focus, .navbar .navbar-nav > .open > a:hover {
    /* background-color: #253542; */
    background-color: transparent;
    color: #fff !important;
    text-decoration: underline;
    /* color: #fff; */
}

.navbar-profile {
    height: 32px;
}

    .navbar-profile .dropdown-menu {
        border-radius: 8px !important;
    }

.navbar-left {
    margin-left: 98px !important;
    margin-top: 26px;
}

.mainnav-menu > li {
    padding: 0px !important;
    margin: 0px;
    border-right: solid 1px #d74b4b;
}

    .mainnav-menu > li > a:hover {
        border-bottom: none;
    }

    .mainnav-menu > li > a {
        padding: 8px;
        /*font-weight: normal;*/
        font-size: 10px !important;
        font-stretch: normal !important;
        font-weight: normal !important;
        display: table-cell;
        letter-spacing: normal;
    }

.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:focus, .navbar .navbar-nav > .active > a:hover {
    color: #fff !important;
    background-color: #d74b4b;
    /*font-weight: normal !important;*/
}

.mainnav-menu .dropdown-menu {
    width: 240px;
    border-radius: 4px !important;
    box-shadow: none;
}

    .mainnav-menu .dropdown-menu a, .mainnav-menu .dropdown-menu i {
        color: #8e2424 !important;
        font-size: 10px !important;
    }

.navbar-right {
    position: absolute !important;
    right: 10px !important;
    margin-right: -10px;
}
/*Accordion Fila Atendimento*/
.panel-accordion-heading {
    color: #333;
    background-color: #f5f5f5 !important;
    border-color: #ddd;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
}

    .panel-accordion-heading a {
        color: #333;
    }


.panel-heading {
    cursor: pointer;
}

.accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f077";
    float: right;
    color: inherit;
}

.panel-heading.collapsed .accordion-toggle:after {
    /* symbol for "collapsed" panels */
    content: "\f078";
}

/*Accordion Fila Atendimento*/
.panel-accordion-heading {
    color: #333;
    background-color: #f5f5f5 !important;
    border-color: #ddd;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
}

    .panel-accordion-heading a {
        color: #333;
    }


.panel-heading {
    cursor: pointer;
}

.accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f077";
    float: right;
    color: inherit;
}

.panel-heading.collapsed .accordion-toggle:after {
    /* symbol for "collapsed" panels */
    content: "\f078";
}

/*TAB-HOME-CUSTOM*/
.bootstrap-select > .dropdown-toggle {
    background-color: #f5f5f5 !important;
    border-color: #e3e3e3 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05) !important;
    color: #4c4c4c !important;
    height: 30px;
    font-size: 12px;
}
/*table tbody td {
    text-overflow: ellipsis;
    /* max-width: 100px; 
    white-space: nowrap;
    overflow: hidden;
    /* for good looks 
    padding: 10px;
}*/
.ui-pnotify-title {
    font-size: 12px;
}


/*CLASS BOLETO NET ALINHAR ALINHA VALORES A DIREITA*/
.w186 > .BB {
    text-align: right !important;
}

.w186 > .c {
    text-align: right !important;
}


/* PANEL WIDGET */
.widget-panel {
    position: relative;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0;
}

    .widget-panel > div {
        float: left;
        width: 100%;
        position: relative;
        -moz-border-radius: 0;
        -khtml-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        margin: 0;
        border-width: 1px 1px 1px;
        border-style: solid;
        border-top: none;
        border-right-color: #CCC !important;
        border-bottom-color: #CCC !important;
        border-left-color: #CCC !important;
        padding: 13px 13px 0;
        overflow: visible;
        margin-bottom: 8px !important;
    }

    .widget-panel > header {
        color: #333;
        border: 1px solid #C2C2C2;
        background: #fafafa;
        height: 34px;
        padding: 0;
        line-height: 40px;
    }

    .widget-panel header .nav-tabs {
        border-bottom-color: transparent;
        margin-bottom: 0;
    }

    .widget-panel > header > h2 {
        margin-left: 10px;
        float: left;
        height: 100%;
        width: auto;
        display: inline-block;
        font-size: 18px;
        position: relative;
        margin: 0 0 0 10px;
        line-height: 34px;
        font-weight: 400;
        letter-spacing: 0;
    }

    .widget-panel > header > .widget-icon {
        display: block;
        width: 30px;
        height: 32px;
        position: relative;
        float: left;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        margin-right: -10px;
    }



    .widget-panel header .nav-tabs > li > a {
        border-radius: 0;
        border: none;
        padding: 7px 15px 6px;
        padding-top: 7px;
        padding-right: 15px;
        padding-bottom: 6px;
        padding-left: 15px;
        font-size: 13px;
    }

    .widget-panel header .nav-tabs > li.active > a {
        -webkit-box-shadow: 0 -2px 0 #57889c;
        -moz-box-shadow: 0 -2px 0 #57889c;
        box-shadow: 0 -2px 0 #57889c;
        border-top-width: 0 !important;
        margin-top: 1px !important;
        font-weight: 700;
    }

        .widget-panel header .nav-tabs > li.active > a, .widget-panel header .nav-tabs > li.active > a:focus, .widget-panel header .nav-tabs > li.active > a:hover {
            color: #555;
            background-color: #FFF;
            border: 1px solid #C2C2C2;
            border-bottom-color: transparent;
            border-top: none;
            cursor: default;
        }

    .widget-panel header:first-child .nav-tabs.pull-right li:last-child a {
        margin-right: 0 !important;
        border-right: none !important;
    }


    .widget-panel header .widget-panel-loader {
        cursor: move;
        width: 32px;
        height: 32px;
        margin: 0;
        float: right;
        background-repeat: no-repeat;
        background-position: center center;
        display: none;
        text-align: center;
        line-height: 32px;
        font-size: 111%;
    }

    .widget-panel > div.panel.no-padding {
        height: 135px;
        overflow-x: hidden !important;
        overflow: scroll;
        padding: 5px;
    }

.widget-panel-placeholder {
    background-color: #FFC;
    border: 1px dashed #A7A7A7;
}

.widget-panel-placeholder {
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-bottom: 28px;
    padding: 0;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.fullscreen {
    width: 100% !important;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    background-color: white !important;
}

    .fullscreen > .widget-panel > div {
        height: 100vmax !important;
        overflow-x: hidden !important;
        overflow: hidden !important;
    }

        .fullscreen > .widget-panel > div.panel.no-padding {
            height: 100vmax;
            overflow-x: hidden !important;
            overflow: hidden !important;
        }
/*.fullscreen > div.widget-panel > .widget-content > .widget-body > .tab-content > .tab-pane > div.panel.no-padding {
        height: 800px !important;
    }

    .fullscreen > .widget-panel > div.panel.no-padding {
        height: 800px;
    }*/

.jnxwidget-ctrls {
    width: auto;
    float: right;
    padding: 0;
    margin: 0;
}

    .jnxwidget-ctrls .button-icon {
        min-width: 30px;
        height: 32px;
        float: left;
        position: relative;
        font-family: Arial,Helvetica,sans-serif;
        border-left: 1px solid rgba(0,0,0,.09);
    }

        .jnxwidget-ctrls .button-icon:hover {
            background-color: rgba(0,0,0,.05);
        }

    .jnxwidget-ctrls a {
        text-decoration: none;
        font-size: 14px;
        text-align: center;
        display: inline-block;
        line-height: 32px;
        padding: 0;
        margin: 0;
        color: #333;
    }

.btn-excel {
    background: #227446 !important;
    border-color: #113922 !important;
    color: #fff;
    border-radius: 0px !important;
    height: 30px;
    border: 1px solid transparent;
    text-align: center;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left--15 {
    margin-left: -15px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-right--15 {
    margin-right: -15px;
}

.btn-excel:hover, .btn-excel:focus, .btn-excel:active, .btn-excel.active, .open > .dropdown-toggle.btn-excel {
    background: #1c603a !important;
    color: #fff !important;
}





.dataTables_processing {
    text-align: center;
    width: 100%;
    /*border:solid 1px !important;*/
    font-size: 18px;
    color: #969696;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 40px;
    margin-left: -20%;
    margin-top: -25px;
    padding-top: 50px;
    text-align: center;
    background: none;
}



table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: #c8c8c8;
}

table.dataTable thead > tr > th > .form-control {
    height: 26px;
}

table.dataTable.table-condensed > thead > tr > th.hasinput {
    padding-right: 6px !important;
}

.width-100 {
    width: 100%;
}

.dropdown-menu > .selected {
    background-color: #5979b4;
    color: #fff;
}

    .dropdown-menu > .selected > a > span {
        color: #fff !important;
    }

        .dropdown-menu > .selected > a > span > small {
            color: #e6e6e6 !important;
        }


.dropdown-menu > li.selected > a {
    border-radius: 0px;
    background-color: #c76161 !important;
}

.selected {
    background-color: #c76161 !important;
    color: #fff;
}


.btn-group-sm > .dropdown-menu {
    margin-left: 15px;
    border-radius: 1px;
}

    .btn-group-sm > .dropdown-menu > li > a {
        border-radius: 1px;
    }







.icon-tooltip {
    color: #5879B4;
}


.tooltip-inner {
    background-color: #5879B4 !important;
    border-radius: .25rem;
    min-width: 300px !important;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #5879B4 !important;
}

.tooltip.bottom .tooltip-arrow {
    border-right-color: #5879B4 !important;
}

.tooltip.top .tooltip-arrow {
    border-right-color: #5879B4 !important;
}

.tooltip.left .tooltip-arrow {
    border-right-color: #5879B4 !important;
}

.modal-content {
    border-radius: 1px !important;
}

    .modal-content .modal-header {
        background-color: #bf4929;
        height: 34px;
        padding: 0px;
    }

        .modal-content .modal-header h3 {
            color: #FFF;
            font-size: 12px;
            text-transform: uppercase;
            line-height: 15px;
            font-weight: 300;
            margin: 9px 10px 4px 12px;
            padding: 0;
        }

        .modal-content .modal-header h4 {
            color: #FFF;
            font-size: 12px;
            text-transform: uppercase;
            line-height: 15px;
            font-weight: 300;
            margin: 9px 10px 4px 12px;
            padding: 0;
        }

        .modal-content .modal-header .close {
            margin-top: 3px;
            margin-right: 7px;
            color: #FFF;
            opacity: 0.9;
            font-weight: 500;
        }

.btnExport > div.dt-buttons a {
    background: #227446 !important;
    border-color: #113922 !important;
    color: #fff;
    border-radius: 0px !important;
    height: 30px;
    border: 1px solid transparent;
    text-align: center;
}


.card-aulixiar-form header {
    display: block;
    padding: 8px 0;
    border-bottom: 1px dashed rgba(0,0,0,.2);
    background: #fff;
    font-size: 16px;
    font-weight: 300;
    color: #232323;
    margin: 0 0 10px;
}

.btn-modal-save {
    color: #5879B4;
    border-color: #5879B4;
    background-color: #FFF;
}

    .btn-modal-save:hover {
        color: #FFF;
        border-color: #5879B4;
        background-color: #5879B4;
    }

.btn-modal-cancel {
    color: #d91f04;
    border-color: #d91f04;
    background-color: #FFF;
}

    .btn-modal-cancel:hover {
        color: #FFF;
        border-color: #d91f04;
        background-color: #d91f04;
    }

.checkbox-all.checkbox > label:before {
    margin-left: -18px !important;
    margin-top: -2px !important;
}

.checkbox > label:before {
    margin-left: -16px !important;
    margin-top: -2px !important;
}

.checkbox-all.checkbox label::after {
    padding-top: 0px !important;
}

tbody > tr > td > div > label::after {
    left: 4px !important;
    top: -1px !important;
}

.checked_all + label::before {
    background-color: #95D195;
    border-color: #95D195;
}

.checked_all + label::after {
    color: #fff;
}

.checked_partial + label::before {
    background-color: #95D195;
    border-color: #95D195;
}

.checked_partial + label::after {
    color: #95D195;
}



.margin-right-20 {
    margin-right: 20px;
}

.text-blue {
    color: #476BAC;
}

.text-green {
    color: #449d44;
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .col-just-left {
        width: 49%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-just-center {
        width: 1%;
        float: left;
        position: relative;
        min-height: 1px;
    }

    .col-just-right {
        width: 50%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    .col-just-left {
        width: 49%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-just-center {
        width: 1%;
        float: left;
        position: relative;
        min-height: 1px;
    }

    .col-just-right {
        width: 50%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .col-just-left {
        width: 50%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-just-center {
        width: 1%;
        float: left;
        position: relative;
        min-height: 1px;
    }

    .col-just-right {
        width: 50%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .col-just-left {
        width: 100%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-just-right {
        width: 100%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 480px) {
    .col-just-left {
        width: 100%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-just-right {
        width: 100%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.tableMail {
    border-collapse: collapse;
}

    .tableMail > thead > tr > th {
        border: 1px solid #c5c5c5;
        padding: 5px;
        background-color: #969696 !important;
        color: #fff !important;
        font-size: 10px !important;
        text-align: center;
        font-family: Oswald,'Trebuchet MS','Open Sans',arial,sans-serif;
        font-weight: 500;
    }

    .tableMail > tbody > tr:nth-of-type(even) {
        background: #f9f9f9;
    }

    .tableMail > tbody > tr:nth-of-type(odd) {
        background-color: #e8e8e8;
    }

    .tableMail > tbody > tr > td {
        border: 1px solid #c5c5c5;
        padding: 5px;
        text-align: center;
    }

.btnFilaAnimated {
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: #fff;
    border-color: #ccc;
    padding: 5px 10px;
    color: #333;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

    .btnFilaAnimated:hover {
        background-color: #d74b4b;
        border-color: #ccc;
        color: #fff;
    }


    .btnFilaAnimated span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.2s;
    }

        .btnFilaAnimated span:after {
            content: '\f144';
            font-family: 'FontAwesome';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.2s;
        }

    .btnFilaAnimated:hover span {
        padding-right: 25px;
    }

        .btnFilaAnimated:hover span:after {
            opacity: 1;
            right: 0;
        }

thead > .table-header > td {
    padding: 2px !important;
}

.dtable-reponsive {
    overflow-x: auto;
}

    .dtable-reponsive .table {
        display: list-item !important;
    }


.td-checkbox {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 2px !important;
    padding-right: 3px !important;
}

.button-page-length {
    background: #fff !important;
    border-color: #ccc !important;
    color: #333 !important;
    border-radius: 0px !important;
    height: 30px;
    border: 1px solid transparent;
    text-align: center;
}

    .dt-button.button-page-length.active, .button-page-length:focus, .button-page-length:hover, .button-page-length:active.focus, .button-page-length:active:focus {
        color: #333;
        background-color: #d4d4d4;
        border-color: #8c8c8c
    }

.btn-green-excel {
    background-color: #227446 !important;
    border-color: #113922 !important;
    color: #fff;
}

    .btn-green-excel:hover {
        color: #fff;
    }

.margin-left5 {
    margin-left: 5px;
}


@media (min-width: 992px) {
    .equal {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
}

.panel-height-equal {
    width: 100%;
    height: 100%;
}
