﻿@media(max-width:767px) {
    header.navbar.navbar-clean {
        background-image: url(img/bg-topo-repeat-azul.png) !important;
        background-repeat: repeat-x !important;
        background-image: none !important;
        background-color: #fff;
    }

    .navbar-toggle:hover {
        background-color: transparent !important;
    }

    .navbar-toggle {
        color: #ca1f27 !important;
        /*margin-top:22px!important;*/
    }

    .navbar-collapse {
        background-color: #ca1f27 !important;
    }

    .mainnav-menu > li a {
        font-size: 16px !important;
        width: 100% !important;
    }

    .mainnav-menu {
        margin-left: 10px !important;
        margin-top: 10px !important;
    }

    .navbar {
        height: auto !important;
        min-height: 68px !important;
    }
}

@media (max-width: 1300px) {
    .navbar-left {
        margin-left: 12px !important;
        margin-top: 32px;
        display:compact;
    }
    .navbar .navbar-nav > li > a{
        padding:4px!important;
        margin:0px!important;
    }
    header.navbar.navbar-clean {
        /*background-image: url(img/bg-topo-repeat.png) !important;*/
        background-position-x: -80px;
        /*background-repeat: repeat-x !important;*/
        /*background-image: none !important;*/
        background-color: #fff;
    }
}


@media (max-width: 1045px) {

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

        .navbar-collapse.collapse {
            display: none !important;
        }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .collapsing {
        overflow: hidden !important;
    }

    header.navbar.navbar-clean {
        background-image: url('img/bg-topo-repeat.png') !important;
        background-repeat: repeat-x !important;
        background-image: none !important;
        background-color: #fff;
    }

    .navbar-toggle:hover {
        background-color: transparent !important;
    }

    .navbar-toggle {
        color: #ca1f27 !important;
        /*margin-top:22px!important;*/
    }

    .navbar-collapse {
        background-color: #ca1f27 !important;
    }

    .mainnav-menu > li a {
        font-size: 16px !important;
        width: 100% !important;
    }

    .mainnav-menu {
        margin-left: 10px !important;
        margin-top: 10px !important;
    }

    .navbar {
        height: auto !important;
        min-height: 68px !important;
    }
}
