div.filter-switcher {
    background-color: #fff;
    color: #262626;
    width: 225px;
    position: fixed;
    top: 140px;
    z-index: 1002;
    left: -227px;
    border-radius: 0 10px 0 0;
}

    div.filter-switcher .header {
        padding: 9px 15px;
        background: #f1f1f1;
        z-index: 2;
        position: relative;
        border: 1px solid #e1e1e1;
        height: 38px;
        color: #fff;
    }

    div.filter-switcher .body {
        /*padding: 0 12px 10px;*/
        top: 0px;
        position: absolute;
        opacity: 1;
        background-color: #ffffff;
        border: 1px solid #f1f1f1;
        border-top: none;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
    }

    div.filter-switcher .body-filter {
        max-height: 380px;
        overflow-x: scroll !important;
    }

    div.filter-switcher.opened .body {
        top: 38px;
        opacity: 1;
        width: 225px;
    }

    div.filter-switcher .header h2 {
        color: #777777;
        text-transform: none;
    }

    div.filter-switcher h2 {
        margin: 0;
        font-size: 18px;
    }

    div.filter-switcher h3 {
        margin: 15px 0 5px 0;
        font-size: 16px;
    }

    div.filter-switcher hr {
        margin: 15px 0;
    }

        div.filter-switcher hr + h3 {
            margin-top: 0;
        }

    div.filter-switcher a.trigger {
        display: block;
        height: 36px;
        position: absolute;
        right: -36px;
        top: 0px;
        background: #f1f1f1;
        width: 36px;
        font-size: 18px;
        line-height: 35px;
        color: #777777;
        text-align: center;
        text-decoration: none;
        border: 1px solid #e1e1e1;
        border-left: none;
        border-radius: 0 5px 5px 0;
    }

    div.filter-switcher.opened a.trigger {
        right: 0px;
        border-color: transparent;
    }

    div.filter-switcher ul {
        list-style: none;
        margin: 0;
        padding: 5px 0 0 0;
        font-size: 0;
    }

        /*div.filter-switcher ul li {
            width: 25px;
            height: 25px;
            position: relative;
            display: inline-block;
            cursor: pointer;
            margin: 0 3px 3px 0;
            -webkit-transition: all linear 0.3s;
            -moz-transition: all linear 0.3s;
            -o-transition: all linear 0.3s;
            -ms-transition: all linear 0.3s;
            transition: all linear 0.3s;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }*/

        div.filter-switcher ul.layoutChange li {
            width: 45%;
            height: 30px;
            margin-right: 5px;
            color: #666666;
            background-color: #f1f1f1;
            border: 1px solid #f3f3f3;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            font-size: 13px;
            text-align: center;
            padding-top: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

            div.filter-switcher ul.layoutChange li i {
                color: #cccccc;
                font-size: 11px;
            }

            div.filter-switcher ul.layoutChange li.selected {
                border: 1px solid #aaaaaa;
            }

                div.filter-switcher ul.layoutChange li.selected i {
                    color: #666666;
                }

        div.filter-switcher ul.footerChange li {
            width: 45%;
            height: 30px;
            margin-right: 5px;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            font-size: 13px;
            padding: 6px 14px 0;
        }

            div.filter-switcher ul.footerChange li.dark {
                color: #f1f1f1;
                background-color: #262626;
            }

            div.filter-switcher ul.footerChange li.light {
                color: #333333;
                background-color: #f7f7f7;
            }

            div.filter-switcher ul.footerChange li i {
                width: 20px;
            }

            div.filter-switcher ul.footerChange li.selected i:before {
                content: "\f046";
            }

        div.filter-switcher ul.headerChange li {
            width: 45%;
            height: 30px;
            margin-right: 5px;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            font-size: 13px;
            padding: 6px 14px 0;
        }

            div.filter-switcher ul.headerChange li.dark {
                color: #f1f1f1;
                background-color: #262626;
            }

            div.filter-switcher ul.headerChange li.light {
                color: #333333;
                background-color: #f7f7f7;
            }

            div.filter-switcher ul.headerChange li i {
                width: 20px;
            }

            div.filter-switcher ul.headerChange li.selected i:before {
                content: "\f046";
            }

        div.filter-switcher ul.patternChange li {
            border: 1px solid #f3f3f3;
        }

            div.filter-switcher ul.styleChange li.selected:after,
            div.filter-switcher ul.patternChange li.selected:after {
                font-family: "FontAwesome";
                content: "\f00c";
                color: #fff;
                top: 0;
                position: absolute;
                text-align: center;
                line-height: 25px;
                width: 100%;
                font-size: 16px;
            }

            div.filter-switcher ul.patternChange li.pattern-0.selected:after,
            div.filter-switcher ul.patternChange li.pattern-1.selected:after,
            div.filter-switcher ul.patternChange li.pattern-2.selected:after,
            div.filter-switcher ul.patternChange li.pattern-3.selected:after,
            div.filter-switcher ul.patternChange li.pattern-4.selected:after {
                color: #333333;
            }

            div.filter-switcher ul.patternChange li.selected:after {
                color: #ffffff;
            }

        div.filter-switcher ul.resetAll li {
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            width: 45%;
            height: 30px;
            margin-right: 5px;
            padding: 6px 0;
            min-width: 0;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

    div.filter-switcher .btn a {
        text-decoration: none;
        color: #ffffff;
    }

    div.filter-switcher select {
        width: 100%;
        padding: 5px;
        border: 1px solid #b2bfca;
    }

    div.filter-switcher .blue {
        background: #3697d9;
    }

        div.filter-switcher .blue:hover {
            background: #338dca;
        }

    div.filter-switcher .brown {
        background: #91633c;
    }

        div.filter-switcher .brown:hover {
            background: #795332;
        }

    div.filter-switcher .cool-green {
        background: #21bb9d;
    }

        div.filter-switcher .cool-green:hover {
            background: #1ea88d;
        }

    div.filter-switcher .dark-cyan {
        background: #2aa4a5;
    }

        div.filter-switcher .dark-cyan:hover {
            background: #248d8e;
        }

    div.filter-switcher .dark-red {
        background: #992020;
    }

        div.filter-switcher .dark-red:hover {
            background: #681313;
        }

    div.filter-switcher .gold {
        background: #c7ac56;
    }

        div.filter-switcher .gold:hover {
            background: #b0984d;
        }

    div.filter-switcher .gray {
        background: #809398;
    }

        div.filter-switcher .gray:hover {
            background: #6e7e82;
        }

    div.filter-switcher .green {
        background: #24a828;
    }

        div.filter-switcher .green:hover {
            background: #1f9123;
        }

    div.filter-switcher .light-blue {
        background: #09afdf;
    }

        div.filter-switcher .light-blue:hover {
            background: #0c9ec7;
        }

    div.filter-switcher .orange {
        background: #e07e27;
    }

        div.filter-switcher .orange:hover {
            background: #cc7324;
        }

    div.filter-switcher .pink {
        background: #dd7b9b;
    }

        div.filter-switcher .pink:hover {
            background: #c9718e;
        }

    div.filter-switcher .purple {
        background: #ab6cc6;
    }

        div.filter-switcher .purple:hover {
            background: #9760af;
        }

    div.filter-switcher .red {
        background: #dc5b5b;
    }

        div.filter-switcher .red:hover {
            background: #c15050;
        }

    div.filter-switcher .vivid-red {
        background: #c82727;
    }

        div.filter-switcher .vivid-red:hover {
            background: #b42424;
        }



    div.filter-switcher > a.trigger, a[disabled=disabled] {
        cursor: not-allowed;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: .65;
    }

    div.filter-switcher > div.panel-heading {
        margin: 0;
        width: 100% !important;
        background-color: #FFF !important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom: 1px solid #f0f0f0 !important;
    }



    div.filter-switcher > .label {
        padding: .2em .6em .2em;
    }

    div.filter-switcher > .tag {
        line-height: 22px;
        background: #f8f8f8;
        background-color: #fff !important;
        border-radius: 2px !important;
        border: 1px solid #ccc;
        margin: 4px 1px 1px 0 !important;
        color: #333 !important;
        font-weight: inherit;
        font-size: 12px;
    }

        div.filter-switcher > .tag > span[data-role="remove"] {
            margin-left: 8px;
            cursor: pointer;
        }

            div.filter-switcher > .tag > span[data-role="remove"]:after {
                content: "x";
                padding: 0px 2px;
            }

    div.filter-switcher > a.filter__link--top {
        background: #fff;
        background-image: none;
        background-size: initial;
    }

    div.filter-switcher > a.link-filter {
        color: #2189e0;
        transition: .1s;
    }

    div.filter-switcher > a.link-filter {
        display: inline-block;
        background-color: #fff;
        margin-right: 8px;
        padding: 4px 8px 4px 4px !important;
        color: #757575;
        font-family: montserrat-light;
        font-size: 11px;
        font-weight: 300;
    }

    div.filter-switcher > a.link-filter {
        border: 1px solid #2189e0;
        border-radius: 0px;
    }
