﻿.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #c7725a;
    position: fixed;
    z-index: 2000;
    /*top: 78px;*/
    top:0px;
    right: 100%;
    width: 100%;
    height: 4px;
}
