﻿div.dt-buttons a {
    min-width: 100px;
    border-radius: 0px !important;
    background: #fff !important;
    font-weight: 600;
    height: 30px;
    color: #333;
    border-color: #ccc !important;
    border: 1px solid transparent;
    text-align: center;
}

div.dt-buttons {
    float: left;
}

div.dataTables_length {
    float: right;
}

 /*a.toggle-vis {
   min-width: 8%;
}*/


.panel > .panel-heading {
    color: inherit;
    font-weight: 600;
    background: #fff;
    padding: 10px 10px 4px 4px;
    /*padding: 10px 5px;*/
    transition: all .3s;
    border: 1px solid transparent;
}

    .panel > .panel-heading.collapsed {
        background: #f5f5f5;
        padding: 10px 10px;
        border-radius: 1px;
    }

div.panel-collapse > div.panel-body > a {
    color: #c76161;
    text-align:left;
}
