﻿@model Cobranca.Db.Models.TabelaAcaoCobranca

@{
    //if (Model.Cod == 0) {
    //    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    //}

}


<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row margin-top-20">
        <div class="col-md-3">
            <div class="form-group">
                <label for="Condicao">Tipo</label>
                @Html.DropDownList("Tipo", new SelectList(ViewBag.ListaTipoAcaoCobranca, "value", "key", 0), new { @class = "form-control input-silver", required = "required" })
                @Html.ValidationMessage("Tipo")
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                <label for="CodConstrutora">Nome Ação Cobrança</label>
                @Html.TextBoxFor(m => m.AcaoCobranca, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.AcaoCobranca)
            </div> <!-- /.form-group -->
        </div>
    </div>
    <!-- /.form-group -->
    <div class="row">

        <div class="col-sm-12">

            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }
        </div>

        <div class="col-sm-3">

        </div>
    </div>

</form>
