﻿@model Cobranca.Db.Models.TabelaBancoTipoOperacao

@{
//if (Model.Cod == 0) {
//    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
//}

}

<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row margin-top-20">


        <div class="col-sm-2">
            <div class="form-group">
                <label for="NomeBanco">Nome Banco</label>
                @Html.DropDownListFor(m => m.CodBanco, new SelectList(ViewBag.ListaBanco, "value", "key", Model.CodBanco), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodBanco)
            </div> <!-- /.form-group -->
        </div>
        @*<div class="col-sm-2">
            <div class="form-group">
                <label for="TipoImovel">Tipo Imóvel</label>
                @Html.DropDownListFor(m => m.CodTipoImovel, new SelectList(ViewBag.ListaTipoImovel, "value", "key", Model.CodTipoImovel), new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CodTipoImovel)
            </div>  /.form-group 
        </div>*@
        <div class="col-sm-2">
            <div class="form-group">
                <label for="SistemaAmortizacao">Sistema Amortização</label>
                @Html.TextBoxFor(m => m.SistemaAmortizacao, new { @class = "form-control input-silver", data_mask = "inteiro" })
                @Html.ValidationMessageFor(m => m.SistemaAmortizacao)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="ValorVendaMinimo">Valor Mínimo</label>
                @Html.TextBoxFor(m => m.ValorVendaMinimo, new { @class = "form-control input-silver", data_mask = "money" })
                @Html.ValidationMessageFor(m => m.ValorVendaMinimo)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="ValorVendaMaximo">Valor Maximo</label>
                @Html.TextBoxFor(m => m.ValorVendaMaximo, new { @class = "form-control input-silver", data_mask = "money" })
                @Html.ValidationMessageFor(m => m.ValorVendaMaximo)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="TaxaJuros">Taxa de Juros (%)</label>
                @Html.TextBoxFor(m => m.TaxaJuros, new { @class = "form-control input-silver", data_mask = "money" })
                @Html.ValidationMessageFor(m => m.TaxaJuros)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="PrazoMinimo">Prazo Minimo</label>
                @Html.TextBoxFor(m => m.PrazoMinimo, new { @class = "form-control input-silver", data_mask = "inteiro" })
                @Html.ValidationMessageFor(m => m.PrazoMinimo)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="PrazoMinimo">Prazo Maximo</label>
                @Html.TextBoxFor(m => m.PrazoMaximo, new { @class = "form-control input-silver", data_mask = "inteiro" })
                @Html.ValidationMessageFor(m => m.PrazoMaximo)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="PercentualComprometimentoRenda">Comprom. Renda (%)</label>
                @Html.TextBoxFor(m => m.PercentualComprometimentoRenda, new { @class = "form-control input-silver", data_mask = "money" })
                @Html.ValidationMessageFor(m => m.PercentualComprometimentoRenda)
            </div> <!-- /.form-group -->
        </div>
    </div>
    <!-- /.form-group -->
    <div class="row">

        <div class="col-sm-12">

            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }
        </div>

        <div class="col-sm-3">

        </div>
    </div>

</form>
