﻿@model Cobranca.Db.Models.ParametroPlataforma
<style>
    .progress {
        background-color: #f5f5f5 !important;
        border-color: #e3e3e3 !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05) !important;
        border: 1px solid rgba(230, 230, 230, 1);
        border-radius: 0px;
        height: 22px;
    }

    .progress-bar-junix {
        background: rgba(199, 48, 48, 1);
    }

    .progress-striped .progress-bar-junix {
        background-color: rgba(199, 48, 48, 1);
        background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255, 255, 255, 0.15),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255, 255, 255, 0.15)),color-stop(0.75,rgba(255, 255, 255, 0.15)),color-stop(0.75,transparent),to(transparent)));
        background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent);
        background-image: linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent);
        background-size: 34px 34px;
    }
</style>
@using Cobranca.Rotinas;
<form id="form-parametro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.Logo)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.HiddenFor(m => m.CaminhoLogo)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()

    <div class="panel panel-body">
        <div class="layout layout-stack-sm layout-main-left">

            <div class="col-xs-12 col-md-8 col-lg-8" style="border-right:1px solid #e6e6e6">
                <div class="heading-block no-margin-botton">
                    <h6 style="margin-bottom:0; font-weight: 600;"><i class="fa fa-gear"></i> Configuração da Plataforma</h6>
                </div>
                <div class="row margin-top-20">
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <div class="form-group-sm">
                            <label for="TituloPagina">Título da Aplicação</label>
                            @Html.TextBoxFor(m => m.TituloPagina, new { @class = "form-control input-silver" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="form-group-sm">
                            <label for="LayoutTipo" class=""><i class=""></i> @Idioma.Traduzir("Layout"):</label>
                            @Html.DropDownListFor(m => m.LayoutTipo, new SelectList(ViewBag.LayoutTipo, "value", "key", Model.LayoutTipo), new { @class = "form-control input-silver" })
                        </div>
                    </div>
                </div>
                <div class="heading-block no-margin-botton margin-top-18">
                    <h6 style="margin-bottom:0; font-weight: 600;"><i class="fa fa-envelope-o"></i> Configuração de Email</h6>
                </div>
                <div class="row margin-top-20">

                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <div class="form-group-sm">
                            <label for="EmailRemetente">Email Remetente</label>
                            @Html.TextBoxFor(m => m.EmailRemetente, new { @class = "form-control input-silver" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-md-6 col-lg-4">
                        <div class="form-group-sm">
                            <label for="SMTPServidor">Servidor (SMTP)</label>
                            @Html.TextBoxFor(m => m.SMTPServidor, new { @class = "form-control input-silver" })
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-4 col-lg-2">
                        <div class="form-group-sm">
                            <label for="SMTPPorta">Porta (SMTP)</label>
                            @Html.TextBoxFor(m => m.SMTPPorta, new { @class = "form-control input-silver" })
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group-sm">
                            <label for="SMTPUsuario">Nome de Usuário</label>
                            @Html.TextBoxFor(m => m.SMTPUsuario, new { @class = "form-control input-silver" })
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group-sm">
                            <label for="SMTPSenha">Senha</label>
                            @Html.Password("SMTPSenha", "", new { @class = "form-control input-silver" })
                        </div>
                    </div>

                </div>

              
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="heading-block no-margin-botton">
                    <h6 style="margin-bottom:0; font-weight: 600;"><i class="fa fa-image"></i> Logo</h6>
                </div>
                <div class="row  margin-top-20">
                    <div class="col-xs-4 col-md-6 col-lg-4">
                        <div class="form-group-sm">
                            <span id="btn-file" style="margin-bottom:15px; margin-right 0px;" class="btn btn-sm btn-primary btn-block fileinput-button pull-left margin-top-18  ">
                                <i class="fa fa-upload"></i><span class="hidden-xs">&nbsp;Carregar LOGO</span>
                                <input class="form-upload" type="file" name="arquivo" id="arquivo" />
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-8 col-md-6 col-lg-8">
                        <div class="form-group-sm">
                            <div class="progress progress-striped" style="margin-top:22px;">
                                <div class="progress-bar progress-bar-junix progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 00%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            

                <div class="row">
                    <div class="col-md-12">
                        <img id="imagemIMG" class="img-responsive" style="margin:auto; background-color:#FFFFFF" src='@Url.Action("ObterLogoEmpresa","ParametroPlataforma")' />
                    </div>
                </div>
                <div class="row  margin-top-20">
                    <div class="col-xs-4 col-md-6 col-lg-4">
                        <div class="form-group-sm">
                            <span id="btn-file" style="margin-bottom:15px; margin-right: 0px;" class="btn btn-sm btn-primary btn-block fileinput-button pull-left margin-top-18  ">
                                <i class="fa fa-upload"></i><span class="hidden-xs">&nbsp;Carregar Icone</span>
                                <input class="form-upload" type="file" name="arquivoIcone" id="arquivoIcone" />
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-8 col-md-6 col-lg-8">
                        <div class="form-group-sm">
                            <div class="progress progress-striped" style="margin-top:22px;">
                                <div class="progress-bar progress-bar-junix progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 00%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img id="imagemICO" class="img-responsive" style="margin:auto; background-color:#FFFFFF" src='@Url.Action("ObterIconeEmpresa","ParametroPlataforma")' />
                    </div>
                </div>
            </div>

            <div class="portlet-body col-xs-12 col-md-12 col-lg-12">
                <div class="row margin-top-20">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-sm btn-primary pull-left btn-min-width"><i class="fa fa-save"></i>&nbsp;Salvar</button>
                        <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
