﻿@model Cobranca.Db.Models.ParametroPlataforma
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
}
<div class="row">
    @Html.Partial("_form", Model)
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#form-parametro").find("#EmailRemetente").attr("data-mask", "email")
            $("#form-parametro").validate({
                rules: {
                    Contato: {
                        required: true,
                        email: true
                    }
                }
            });
            $("#form-parametro").find("#EmailRemetente").rules("add", {
                email: true
            });
            definirUpload();
            definirUploadIcone();
        });
        function cancelar() {
            document.location = '@Url.Action("cadastro")';
        }

        function salvar() {
            $("#PermiteReservaUnidade").val($("#chkReservaUnidade").is(':checked'));
            $("#ExibeNumeroDormitorio").val($("#chkExibeNumeroDormitorio").is(':checked'));
            $("#ExibeValorUnidade").val($("#chkExibeValorUnidade").is(':checked'));
            $('#form-cadastro').submit();
        }
        function alterarArquivo(fileName) {
            $.post('AlterarLogoEmpresa', { arquivo: fileName }, function (op) {
                if (op.OK) {
                    document.location.reload(false);
                } else {
                    alert(op.Mensagem);
                }
            });
        }
        function alterarArquivoIcone(fileName) {
            $.post('AlterarIconeEmpresa', { arquivo: fileName }, function (op) {
                if (op.OK) {
                    document.location.reload(false);
                } else {
                    alert(op.Mensagem);
                }
            });
        }
        function definirUpload() {
            $(".form-upload").fileupload({
                dataType: 'json',
                url: '@Url.Content("~/Upload/UploadHandler.ashx")',
                acceptFileTypes: /(\.|\/)(jpg|png)$/i,
                maxFileSize: 5368709120, // 5GB                  
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Ocorreu um erro no upload: " + textStatus);
                    $(".progress-bar").removeClass("progress-bar-warning").addClass("progress-bar-danger");
                    return;
                },
                done: function (e, data) {
                    var file = data.files[0];
                    $("#btn-file").removeAttr("disabled");
                    $(".progress-bar").removeClass("progress-bar-warning").addClass("progress-bar-success");
                    alterarArquivo(file.name);
                },
                add: function (e, data) {
                    var id = $(this).attr("id");
                    var tr = $(this).parent().parent().parent();
                    var file = data.files[0];
                    $(".progress-bar").removeClass("progress-bar-danger").removeClass("progress-bar-success").addClass("progress-bar-warning");
                    data.submit();

                },
                start: function () {
                },
                progress: function (e, data) {
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $(".progress").show();
                    $(".progress-bar").css('width', progress + '%');
                    $(".progress-bar").html(progress + '%');
                }
            });

        }
        function definirUploadIcone() {
            debugger
            var icon = $("#progress-icone")
            $("#arquivoIcone").fileupload({
                dataType: 'json',
                url: '@Url.Content("~/Upload/UploadHandler.ashx")',
                acceptFileTypes: /(\.|\/)(jpg|png|ico)$/i,
                maxFileSize: 5368709120, // 5GB
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Ocorreu um erro no upload: " + textStatus);
                    icon.removeClass("progress-bar-warning").addClass("progress-bar-danger");
                    return;
                },
                done: function (e, data) {
                    var file = data.files[0];
                    $("#btn-file-ico").removeAttr("disabled");
                    icon.removeClass("progress-bar-warning").addClass("progress-bar-success");
                    alterarArquivoIcone(file.name);
                },
                add: function (e, data) {
                    var id = $(this).attr("id");
                    var tr = $(this).parent().parent().parent();
                    var file = data.files[0];
                    icon.removeClass("progress-bar-danger").removeClass("progress-bar-success").addClass("progress-bar-warning");
                    data.submit();
                },
                start: function () {
                },
                progress: function (e, data) {
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    icon.show();
                    icon.css('width', progress + '%');
                    icon.html(progress + '%');
                }
            });

        }

    </script>
}
