﻿@model List<Cobranca.Db.Models.Pesquisa.IdiomaInfo>
@{
    ViewBag.Title = "Idioma";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string codigo = Request.QueryString["cod"] != string.Empty ? HttpUtility.UrlDecode(Request.QueryString["cod"]) : string.Empty;
}
@using Cobranca.Rotinas;

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-small panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group-sm">
                            <label>@Idioma.Traduzir("Pesquisar")</label>
                            <input id="Filtro" class="form-control " onkeyup="filtrar(this)" onchange="filtrar(this)" placeholder="@Idioma.Traduzir("Localizar")" type="text" value="@codigo" list="palavras" />
                        </div>
                    </div>
                    <div class="col-md-12 hide" style="">
                        <hr />
                    </div>
                    <div class="col-md-6 hide">
                        <div class="form-group-sm">
                            <label>Subistituir isso</label>
                            <input id="ReplaceDe" class="form-control " onkeyup="filtrar(this)" placeholder="@Idioma.Traduzir("Localizar")" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-md-6 hide">
                        <div class="form-group-sm">
                            <label>Por isso</label>
                            <input id="ReplacePara" class="form-control" placeholder="@Idioma.Traduzir("Localizar")" type="text" />
                        </div>
                    </div>
                    <div class="col-md-12 hide">
                        <button type="button" class="btn pull-right  btn-sm"><i class="fa fa-save"></i>&nbsp;@Idioma.Traduzir("Salvar")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-small panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <input id="novaPalavra" class="form-control input-sm" type="text" />
                    </div>
                    <div class="col-md-6">
                        <button onclick="addPalavra()" type="button" class="btn btn-sm pull-left btn-default"><i class="fa fa-plus"></i>&nbsp;@Idioma.Traduzir("Incluir")</button>
                        <span class="pull-right">@Model.Count palavras</span>
                    </div>
                </div>
                <div class="row" style="">
                    <div class="col-xs-12">
                        <div class="" style="border-bottom:solid 1px #808080;height:10px;margin-bottom:10px;"></div>
                    </div>
                    <div class="col-xs-4">@Idioma.Traduzir("pt_BR")</div>
                    <div class="col-xs-4">@Idioma.Traduzir("en_US")</div>
                    <div class="col-xs-4">@Idioma.Traduzir("es_ES")</div>
                </div>
            </div>
            <div class="panel-body " style="max-height:340px;overflow-y:auto;overflow-x:hidden;">
                
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-xs-4">
                            <a href="#" class="x-editable" id="ptBR" data-type="text" data-pk="@item.Cod" data-url="@Url.Action("SalvarTraducao")" data-title="@item.ptBR" data-container="body">@item.ptBR</a>
                        </div>
                        <div class="col-xs-4">
                            <a href="#" class="x-editable" id="enUS" data-type="text" data-pk="@item.Cod" data-url="@Url.Action("SalvarTraducao")" data-title="@item.enUS" data-container="body">@item.enUS</a>
                        </div>
                        <div class="col-xs-4">
                            <a href="#" class="x-editable" id="esES" data-type="text" data-pk="@item.Cod" data-url="@Url.Action("SalvarTraducao")" data-title="@item.esES" data-container="body">@item.esES</a>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </div>
</div>
<datalist id="palavras">
    @foreach (var item in Model)
            {
        <option value="@Idioma.Traduzir(item.Cod)"></option>
    }
</datalist>
@section scripts{
    <script type="text/javascript">
        //$(document).ready(function () {
        //    //$(".data-table").Datatable();
        //});
        function filtrar(el) {
            var texto = $(el).val();
            if (texto != "") {
                $("a.x-editable").parent().parent().hide();
                $("a.x-editable:contains('" + texto + "')").parent().parent().show();
            } else {
                $("a.x-editable").parent().parent().show();
            }

            //$("tr td.contains('test')").removeClass("bg-danger")
        }
        function addPalavra() {
            var texto = $("#novaPalavra").val();
            jx.submit('@Url.Action("SalvarPalavra")', {
                texto: texto
            }, function (op) {
                recarregarTela(op.Dados);
            });
        }
        function recarregarTela(url) {
            jx.carregando(true);
            if (url) {
                document.location = url;
            } else {
                document.location.reload(true);
            }

        }
        
        window.onload = function () {
            filtrar($("#Filtro"));
            //$.fn.editable.defaults.mode = 'inline';
            $("a.x-editable").editable();
        };
    </script>
}