﻿@model Cobranca.Db.Models.ParametroFeriado
@{
}
@using Cobranca.Rotinas;

<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.HiddenFor(m => m.Ativo)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group-sm">
                <label for="Data">@Idioma.Traduzir("Data")</label>
                @Html.TextBoxFor(m => m.Data, new { @class = "form-control input-silver", data_mask = "datetime" })
                @Html.ValidationMessageFor(m => m.Data)
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group-sm">
                <label for="Feriado">@Idioma.Traduzir("Descrição do Feriado")</label>
                @Html.TextBoxFor(m => m.Feriado, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.Feriado)
            </div>
        </div>
        <div class="col-md-2 margin-top-18">
            <div class="checkbox checkbox-inline checkbox-default">
                <input id="FeriadoAtivo" type="checkbox" @(Model.Ativo == true ? "checked" : "")>
                <label>@Idioma.Traduzir("Ativo")</label>
            </div>
        </div>
    </div>

    <!-- /.form-group -->
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
        <div class="col-sm-12">
            <button class="btn btn-sm btn-primary pull-left btn-min-width" onclick="SalvarFormulario()" type="button"><i class="fa fa-save"></i>&nbsp;@Idioma.Traduzir("Salvar")</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">@Idioma.Traduzir("Cancelar")</button>
            @if (Model.Cod > 0)
            {
                <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;@Idioma.Traduzir("Remover")</button>
            }

        </div>

        <div class="col-sm-3">

        </div>
    </div>

</form>

