﻿@model Cobranca.Db.Models.ParametroFeriado
@{
    //ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
}
@using Cobranca.Rotinas;
<div class="panel panel-body box-shadon">
    <div class="layout layout-stack-sm layout-main-left">
        <div class="col-md-12">
            <div class="portlet portlet-default">
                <div class="portlet-header">
                    <div class="heading-block">
                        <ul class="breadcrumb">
                            <li><a href="@Url.Action("Index")">@Idioma.Traduzir("Empresa")</a></li>
                            <li class="active">@Idioma.Traduzir("Cadastro")</li>
                        </ul>
                    </div>
                </div>
                <div class="portlet-body">
                    @Html.Partial("_form", Model)
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function excluir() {
            if (confirm("@Idioma.TraduzirJs("Confirma excluir o registro?")")) {
                $.ajax({
                    url: '@Url.Action("Excluir")',
                    data: { id: $("#Cod").val() },
                    type: 'post',
                    dataType: 'json'
                }).success(function (result) {
                    document.location = '@Url.Action("index")';
                });
            }
        }
        $(document).ready(function () {
        });
        function SalvarFormulario() {
            $("#Ativo").val($("#FeriadoAtivo").prop("checked"));
            $("#form-cadastro").submit();
        }
        function cancelar() {
            document.location = '@Url.Action("index")';
        }
        
    </script>
}