﻿@model List<Cobranca.Db.Models.ParametroFeriado>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";

}
@using Cobranca.Rotinas;
<style>
    div.dataTables_length {
        float: right !important;
    }

    div.dataTables_filter {
        float: right !important;
    }

    div.dt-buttons {
        float: right;
    }

        div.dt-buttons a {
            background: #227446 !important;
            border-color: #113922 !important;
            color: #fff;
            border-radius: 0px !important;
            height: 30px;
            border: 1px solid transparent;
            text-align: center;
        }

    table tbody td {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 10px;
    }
</style>
<div class="panel panel-body box-shadon">
    <div class="heading-block">
        <ul class="breadcrumb">
            <li>@Idioma.Traduzir("Feriados")</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("Cadastro",new{id = 0})" class="btn btn-sm btn-primary pull-left btn-min-width"><i class="fa fa-plus"></i>@Idioma.Traduzir("Adicionar")</a>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-sm-12">
                <table id="list-feriado" class="table table-order-column table-hover table-condensed table-row-border table-striped table-bordered table-compact">
                    <thead id="dtheader">
                        <tr id="trheader">
                            <th class="text-center" style="max-width:20px !important; width:20px !important;" data-collumn-search="false">@Idioma.Traduzir("Ações")</th>
                            <th class="text-center filter-date" data-type="datahora" data-name="Data" data-data="DataDesc" style="min-width:100px" data-title="@Idioma.Traduzir("Data")"></th>
                            <th class="text-center" data-name="Feriado" data-data="Feriado" style="min-width:250px" data-title="@Idioma.Traduzir("Descrição do Feriado")"></th>
                            <th class="text-center" data-name="Ativo" data-data="Ativo" style="min-width:60px" data-title="@Idioma.Traduzir("Ativo")"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var $data_table = $('#list-feriado');
        jx.dtableSearch($data_table);
        jx.dtableFooter($data_table);
        var _today = new Date();
        var _ticked = "&t=" + _today.getSeconds();
        $(document).ready(function () {
            obterDados();
        });

        function obterDados() {
            table = $data_table.DataTable({
                "order": [[1, 'asc']],
                "deferRender": true,
                "serverSide": true,
                "processing": true,
                "ajax": {
                    "url": "@Url.Action("GetListData", "ParametroFeriado")",
                    "type": "POST"
                },
                "rowId": 'Cod',
                "language": {
                    "sEmptyTable": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sInfo": "@Idioma.Traduzir("Mostrando de") _START_ @Idioma.Traduzir("até") _END_ @Idioma.Traduzir("de") _TOTAL_ @Idioma.Traduzir("registros")",
                    "sInfoEmpty": "@Idioma.Traduzir("Mostrando 0 até 0 de 0 registros")",
                    "sInfoFiltered": "(@Idioma.Traduzir("Filtrados de") _MAX_ @Idioma.Traduzir("registros"))",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_",
                    "sLoadingRecords": "@Idioma.Traduzir("Carregando...")",
                    "sProcessing": "<h2><i class='fa fa-spin fa-spinner text-silver'></i> @Idioma.Traduzir("Carregando os dados..")</h2>",
                    "sZeroRecords": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sSearch": "",
                    "oPaginate": {
                        "sNext": "@Idioma.Traduzir("Próximo")",
                        "sPrevious": "@Idioma.Traduzir("Anterior")",
                        "sFirst": "@Idioma.Traduzir("Primeiro")",
                        "sLast": "@Idioma.Traduzir("Último")"
                    },
                    oAria: {
                        "sSortAscending": ": @Idioma.Traduzir("Ordenar colunas de forma ascendente")",
                        "sSortDescending": ": @Idioma.Traduzir("Ordenar colunas de forma descendente")"
                    }
                },
                "columnDefs": [
                    {
                        targets: 0,
                        searchable: false,
                        orderable: false,
                        className: '',
                        render: function (data, type, row, index) {
                            var $div = $("<div></div>");
                            var $btnEdit = $(document.createElement("a"))
                                .addClass("btn btn-xs btn-default")
                                .attr("href","@Url.Action("Cadastro", "ParametroFeriado")/" + row.Cod)
                                .append("<i class='fa fa-pencil'></i>");
                            $div.append($btnEdit);
                            return $div.html();
                        }
                    }],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td:eq(0),td:eq(1),td:eq(3)', nRow).addClass("text-center");
                    $('td:eq(1)', nRow).addClass("text-left");
                },
                "sDom": '<"col-xs-12 col-md-12 col-lg-12 pull-right"lB>' +
                '<"col-xs-12 col-md-12"t>' +
                '<"col-xs-12 col-md-6 pull-left"i><"col-xs-12 col-md-6 pull-right"p>',
                "buttons": [{
                    text: '<i class="fa fa-cloud-download"></i>',
                    extend: 'csvHtml5',
                    title: 'teste',
                    exportOptions: {
                        columns: ':visible'
                    },
                    action: function (e, dt, node, config) {
                        $data_table.block({
                            message: '',
                            css: {
                                border: 'none',
                                padding: '15px',
                                backgroundColor: '#fff',
                                '-webkit-border-radius': '10px',
                                '-moz-border-radius': '10px',
                                opacity: .5,
                                color: '#fff',
                                width: '50%'
                            },
                            overlayCSS: { backgroundColor: '#FFF' }
                        });
                        $data_table.addClass('carregando');
                        window.location.href = "/ParametroFeriado/DownloadFile";
                        dt.ajax.reload();
                    }
                }],
                'initComplete': function (settings, json) {
                    var tb = table.data();
                    tb.inicializar($data_table);
                    tb.addSearch($data_table);
                    jx.dTablesUnblock($data_table);
                    $("#tb-loading").hide();
                },
                "fnDrawCallback": function (oSettings) {
                    jx.dTablesUnblock($data_table);
                }

            }).on('order.dt', function () {
                jx.dTablesBlock($data_table);
            });
        }
        function incluir() {
            //$("#incluir-form").modal("show");
            document.location = "@Url.Action("Cadastro",new{id = 0})"
        }
    </script>
}
