﻿@model List<Cobranca.Db.Models.Pesquisa.ImportacaoConsultar>
@{
    ViewBag.Title = "ImportGeralLista";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var qtd = Model.Where(x => x.Status == 0).Count();
}

@if (qtd == 0)
{
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-default" href="@Url.Action("Import")">Nova importação</a>
        </div>
    </div>
}

@foreach (var item in Model.OrderByDescending(x => x.DataCadastro))
{
    <div class="col-md-12">
        <div class="row">
            <div class="panel-heading" style="background-color:whitesmoke">
                <h4 class="no-margin-botton">Importação Geral - Nome Arquivo: <b>@item.NomeArquivo</b> </h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default panel-small" id="@item.Cod">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2 text-center">
                                    <h4>Data:<br /><b> @string.Format("{0:dd/MM/yyyy HH:mm}", item.DataCadastro)</b></h4>
                                </div>
                                <div class="col-md-1 text-center">
                                    <h4 class="text-info">Total:<br /><b> @string.Format("{0}", item.TotalRegistros)</b></h4>
                                </div>
                                <div class="col-md-2 text-center">
                                    <h4 class="text-danger">Inconsistentes:<br /><b> @string.Format("{0}", item.TotalRegistrosInconsistentes) </b></h4>
                                </div>
                                <div class="col-md-1 text-center">
                                    <h4 class="text-info">Prontos:<br /><b> @string.Format("{0}", item.TotalRegistros - item.TotalRegistrosInconsistentes)</b></h4>
                                </div>
                                <div class="col-md-2 text-center">
                                    <h4 class="text-success">Processados<br /><b> @string.Format("{0}", item.TotalRegistrosOK)</b></h4>
                                </div>
                                <div class="col-md-1 text-center">
                                    <h4 class="">
                                        Usuário:<br />

                                        <b>
                                            @item.Nome
                                        </b>
                                    </h4>
                                </div>
                                <div class="col-md-3">
                                    @*<button class="btn btn-sm pull-right" type="button"><i class="fa fa-play"></i> PROCESSAR</button>
                                          <button onclick="excluir(@item.Cod)" class="btn btn-sm pull-right" type="button"><i class="fa fa-close"></i> REMOVER</button>
                                        <button class="btn btn-sm pull-right" type="button"><i class="fa fa-pause"></i> PARAR</button>*@

                                    <a class="btn btn-sm pull-right" target="_self" onclick="stop()" href="@Url.Action("ExtrairResultadoImportacaoCredito", new { CodImportacao = item.Cod })"><i class="fa fa-download"></i> RESULTADO</a>
                                    @*<buttom type="buttom" class="btn btn-sm pull-right" onclick="exibirResultado(@item.Cod)"><i class="fa fa-download"></i> RESULTADO</buttom>*@
                                    @{
                                        decimal percentutal = 0;
                                        if (Cobranca.Db.Rotinas.DbRotinas.ConverterParaDecimal(item.TotalRegistrosOK) > 0)
                                        {
                                            percentutal = Cobranca.Db.Rotinas.DbRotinas.ConverterParaDecimal(item.TotalRegistrosOK) * 100 / ((Cobranca.Db.Rotinas.DbRotinas.ConverterParaDecimal(item.TotalRegistros) - Cobranca.Db.Rotinas.DbRotinas.ConverterParaDecimal(item.TotalRegistrosInconsistentes)));
                                        }
                                    }
                                    @if (percentutal == 0 || percentutal >= 100)
                                    {
                                        <buttom type="buttom" class="btn btn-sm pull-right" onclick="processar(@item.Cod)"><i id="gearsIcon" class="fa fa-gears"></i> PROCESSAR </buttom>
                                    }
                                    else
                                    {
                                        <buttom type="buttom" class="btn btn-sm pull-right" onclick="processar(@item.Cod)"><i id="spinerIcon" class="fa fa-refresh fa-spin"></i> PROCESSANDO </buttom>
                                    }
                                   
                                   
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="progress no-margin-botton" style="">
                                       
                                        <div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="@string.Format("width:{0:n0}%",percentutal);">
                                            @string.Format("{0:n0}%", percentutal)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                            }
@section scripts{
    <script type="text/javascript">
        var _timer = undefined;
        $(document).ready(function () {
            if (@qtd > 0) {
                dyn_notice();
            }
            //start();
            jx.getElementAnchor().scrollToMe().addClass("animated flash", 500);
        });
        function start(){
            _timer =  setTimeout(function () {
                document.location.reload(false);
            }, 5000);
        }
        function stop(){
            clearTimeout(_timer);// = undefined;
        }
        function excluir(id) {
            if (confirm("Confirma a exclusão do registro?")) {
                carregando(true);
                $.post('@Url.Action("Excluir")', { id: id }, function (op) {
                    carregando(false);

                    if (op.OK)
                        document.location.reload(false);
                    else
                        alert(op.Mensagem);
                });
            }
        }
        function exibirResultado(id) {
            carregando(true);
            $.post('@Url.Action("Resultado")', { CodImportacao: id, status: 0 }, function (op) {
                carregando(false);
                console.log(op);
            }).error(function () {
                carregando(false);
                alert("Ocorreu um erro");
            });
        }
        function processar(id) {
            jx.mensagem('Processo iniciado!', '', 'success', 'fa fa-check');
            $("#gearsIcon").hide();
            $("#spinerIcon").show();
            $.post('@Url.Action("Processar")', { CodImportacao: id, status: 0 }, function (op) {
                carregando(false);
                $("#spinerIcon").hide();
                $("#gearsIcon").show();
                console.log(op);
                document.location.reload(false);
            }).error(function () {
                carregando(false);
                $("#spinerIcon").hide();
                $("#gearsIcon").show();
                document.location.reload(false);
                alert("Ocorreu um erro");
            });
            
        }
        function dyn_notice() {
            var percent = 0;
            var notice = new PNotify({
                text: "Em processamento...",
                type: 'warning',
                icon: 'fa fa-spinner fa-spin',
                hide: false,
                buttons: {
                    closer: false,
                    sticker: false
                },
                opacity: 1,
                shadow: true,
                width: "470px"
            });

            setTimeout(function () {
                notice.update({
                    title: false
                });
                var interval = setInterval(function () {
                    percent += 2;
                    var options = {
                        text: "Aguarde carregando os dados para o banco de dados. Processando.."
                    };

                    if (_leituraConcluida) {
                        window.clearInterval(interval);
                        options.title = "Processo finalizado! Aguarde estamos redirecionando...";
                        options.type = "success";
                        options.hide = true;
                        options.buttons = {
                            closer: true,
                            sticker: true
                        };
                        options.icon = 'fa fa-check';
                        options.opacity = 1;
                        options.shadow = true;
                        options.width = PNotify.prototype.options.width;
                        setTimeout(function () {
                            document.location = '@Url.Action("ImportLista")';
                        }, 2000);
                    }
                    notice.update(options);
                }, 120);
            }, 4000);
        }
    </script>
}
