﻿@model List<Cobranca.Db.Models.ClienteParcelaCredito>
@using Cobranca.Rotinas;
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-credito";

}
<div class="panel panel-body box-shadon">
    <ul class="nav nav-tabs nav-junix" role="tablist">
        <li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("cliente","ClienteParcelaCredito")">@Idioma.Traduzir("Créditos Vinculados")</a></li>
        <li role="presentation" class="active btn-min-width text-center"><a href="@Url.Action("credito","ClienteParcelaCredito")">@Idioma.Traduzir("Créditos Não Vinculados")</a></li>
    </ul>
    <div class="row" style="margin-top:10px">
        <div class="col-md-12 heading-block no-margin-botton ">
            <h6 style="margin-bottom:0; margin-top:15px; font-weight: 600;"><i class="fa fa-money"></i>&nbsp;&nbsp;@Idioma.Traduzir("Créditos Não Vinculados")</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="grid-dados" class="table table-bordered table-condensed table-striped" width="100%" style="margin-top:6px;background-color:#fff;">
                <thead id="dtheader">
                    <tr id="trheader">
                        <th data-collumn-search="true" data-name="NumeroDocumento" data-data="NumeroDocumento" data-title="@Idioma.Traduzir("Nr.DOCUMENTO")"></th>
                        <th data-collumn-search="true" data-name="Observacao" data-data="Observacao" data-title="@Idioma.Traduzir("OBSERVAÇÃO")"></th>
                        <th class="filter-date" data-name="DataPagamento" data-data="DataPagamento" data-title="@Idioma.Traduzir("Dt.PAGAMENTO")" width="80px;"></th>
                        <th class="sum-float"  data-collumn-search="true" data-name="ValorRecebido" data-data="ValorRecebido" data-title="@Idioma.Traduzir("Vr.PAGAMENTO")" width="80px;"></th>
                        <th class="sum-float" data-collumn-search="true" data-name="ValorSaldo" data-data="ValorSaldo" data-title="@Idioma.Traduzir("Vr.SALDO")" width="80px;"></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-4 hide">
            <div id="graficoCredito" style="margin-top:15px;"></div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/highcharts/highcharts.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            obterdadosGrid();

            Highcharts.setOptions({ lang: { decimalPoint: ',', thousandsSep: '.' } });
            setTimeout(function () {
                $("#tb-loading").hide();
                $("#tb-dados").show();
                $("#grid-dados tbody").on('click', 'tr', function () {
                    var table = $(this).parent().parent();
                    if ($(this).hasClass('selecionado')) {
                        $(this).removeClass('selecionado');
                    }
                    else {
                        table.find('tr.selecionado').removeClass('selecionado');
                        $(this).addClass('selecionado');
                    }

                });
                $("#divColunas").show();
                $('#grid-dados_filter').find('input[type=search]').on('keyup', function () {
                    table.search(this.value).draw();
                });
                //grafico();
            }, 3000);

        });

        function obterdadosGrid() {

            var $data_table = $('#grid-dados');
            jx.dtableSearch($data_table);
            jx.dtableFooter($data_table);
            table = $('#grid-dados').DataTable({
                "deferRender": true,
                "serverSide": true,
                "responsive": true,
                "processing": true,
                "ajax": {
                    "url": "@Url.Action("paginarDadosCredito")",
                    "type": "POST"
                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td:eq(0)', nRow).addClass("text-left");
                    $('td:eq(5)', nRow).addClass("text-right");
                    $('td:eq(1),td:eq(2),td:eq(3),td:eq(4)', nRow).addClass("text-center");
                },
                "buttons": [{
                    text: '<i class="fa fa-cloud-download"></i>',
                    extend: 'csvHtml5',
                    title: 'teste',
                    exportOptions: {
                        columns: ':visible'
                    },
                    action: function (e, dt, node, config) {
                        $data_table.block({
                            message: '',
                            css: {
                                border: 'none',
                                padding: '5px',
                                backgroundColor: '#fff',
                                '-webkit-border-radius': '5px',
                                '-moz-border-radius': '5px',
                                opacity: .5,
                                color: '#fff',
                                width: '20%'
                            },
                            overlayCSS: { backgroundColor: '#FFF' }
                        });
                        $data_table.addClass('carregando');
                        window.location.href = "/ClienteParcelaCredito/DownloadExcelCreditoSemCliente"
                        dt.ajax.reload();
                    }
                }],
                'initComplete': function (settings, json) {
                    var tb = table.data();
                    tb.inicializar($data_table);
                    tb.addSearch($data_table);
                    tb.sum();
                },
                "fnDrawCallback": function (oSettings) {
                    table.data().sum();
                    $data_table.unblock();
                    $data_table.removeClass('reloading');
                },
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "buttons": {
                        "selectAll": "Marcar Todos",
                        "selectNone": "Desmarcar Todos"
                    },
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    oAria: {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                },
                "dom": '<"row"<"col-xs-12 col-md-12"<"btnExport"B>>>' +
                    '<"row"<"col-xs-12 col-md-12"t>>' +
                    '<"row"<"col-xs-12 col-md-6"i><"col-xs-12 col-md-6"p>>',
            })
        }
       
        function grafico() {
            $.post('@Url.Action("ObterDadosCreditos")', { tipo: 2 }, function (dados) {
                carregarGrafico(dados);
            });
        }

        function carregarGrafico(data) {
            $('#graficoCredito').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: '@Idioma.TraduzirJs("Gráfico de Créditos")'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -40,
                    y: 80,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                xAxis: {
                    categories: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ' ',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify',
                        format: ''
                    }
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                series: data
            });
        }
    </script>
}
