﻿@model List<Cobranca.Db.Models.ClienteParcelaCredito>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-credito";

}
<div class="panel panel-body box-shadon">
    <ul class="nav nav-tabs nav-junix" role="tablist">
        <li role="presentation" class="active btn-min-width text-center"><a href="@Url.Action("cliente","ClienteParcelaCredito")">Créditos Aplicados</a></li>
        <li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("credito","ClienteParcelaCredito")">Créditos Não Aplicados</a></li>
    </ul>
    <div class="row" style="margin-top:10px">
        <div class="col-md-12 heading-block no-margin-botton ">
            <h6 style="margin-bottom:0; margin-top:15px; font-weight: 600;"><i class="fa fa-money"></i>&nbsp;&nbsp;Créditos aplicados aos Clientes</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="graficoCredito" style="margin-top:15px;"></div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/highcharts/highcharts.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            carregarGrafico();

        });

        function carregarGrafico() {
            $('#graficoCredito').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Gráfico de Créditos'
                },
                tooltip: {
                    pointFormat: '<tr> <strong style="color:{series.color};padding:0">Total: </td>' +
                    '<td style="padding:0"><b>{point.y:,1f}</b></td></tr><br/><tr> {series.name}: <b>{point.percentage:.1f}%</b></tr>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Quantidade',
                    data: [
                        { name: "Sem Vinculo", y: 455, color: "#3366AA" },
                        { name: "Com Cliente", y: 1055, color: "#003399" }
                    ]
                }]
            });
        }
    </script>
}
