﻿@model Cobranca.Db.Models.TabelaTipoCobrancaAcao
@using Cobranca.Db.Models;
@using Cobranca.Db.Rotinas ;
@using Cobranca.Web.Rotinas ;
@using Cobranca.Rotinas;
@{
    ViewBag.Title = "FormAcao";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool _acaoSoberana = ViewBag.fgReguaSoberana == true;
    bool _acaoReguaFilial = Model.CodFilial.HasValue;
    var _usuario = WebRotinas.ObterUsuarioLogado();
    int _codFilialSelecionada = DbRotinas.ConverterParaInt(ViewBag.CodFilialSelecionada);
    bool permiteEditar = (
                            _acaoReguaFilial
                            && _codFilialSelecionada == Model.CodFilial
                            && (_usuario.PerfilTipo == Enumeradores.PerfilTipo.Admin
                                    || _usuario.PerfilTipo == Enumeradores.PerfilTipo.Analista
                                    || _usuario.PerfilTipo == Enumeradores.PerfilTipo.SupervisorAnalista
                                )
                            || _acaoSoberana 
                            && !_acaoReguaFilial
                            && (_usuario.PerfilTipo == Enumeradores.PerfilTipo.Admin
                                    || _usuario.PerfilTipo == Enumeradores.PerfilTipo.Analista
                                    || _usuario.PerfilTipo == Enumeradores.PerfilTipo.SupervisorAnalista
                                )
                        );
}

<form id="formAcao" @WebRotinas.HTMLIif(!permiteEditar, "data-disabled='true'")>
    @Html.HiddenFor(m => m.CodTipoCobranca)
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.CondicaoQuery)
    @Html.HiddenFor(m => m.PeriodoEmDias)

    @Html.Hidden("TabelaAcaoCobrancaTipo", Model.TabelaAcaoCobranca.Tipo)
    <div class="row" style="">
        <div class="col-md-6">
            <div class="form-group-sm">
                <label>
                    @Idioma.Traduzir("Titulo"):
                </label>
                @Html.TextBoxFor(m => m.Titulo, new { @class = "form-control input-silver", required = "required" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group-sm" style="">
                <label for="OperadorTipo">@Idioma.Traduzir("Tomar ação para"):</label>
                @Html.DropDownList("AcaoTipo", new SelectList(ViewBag.ListaAcaoTipo, "value", "key", Model.AcaoTipo), new { @class = "form-control input-silver", required = "required" })
            </div>
        </div>
        @*<div class="col-md-3">
                <div class="form-group-sm">
                    <label>
                        Enviar em (nº dias):
                    </label>
                    @Html.TextBoxFor(m => m.PeriodoEmDias, new { @class = "form-control input-silver", data_mask = "inteiro", required = "required" })
                </div>
            </div>*@
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-junix" role="tablist">
                <li role="presentation" class="active btn-min-width text-center"><a href="#tab-modelo" role="tab" data-toggle="tab">@Idioma.Traduzir("AÇÃO")</a></li>
                <li role="presentation" class="btn-min-width text-center"><a href="#tab-condicoes" role="tab" data-toggle="tab">@Idioma.Traduzir("CONDIÇOES")</a></li>
                <li role="presentation" class="btn-min-width text-center"><a href="#tab-historico" role="tab" data-toggle="tab">@Idioma.Traduzir("HISTÓRICO")</a></li>
            </ul>
            <div class="panel panel-com-tab panel-default">
                <div class="panel-body tab-content">
                    <div class="tab-pane" id="tab-condicoes" style="min-height:160px;">
                        @if (Model.TabelaAcaoCobranca.Tipo == (short)Cobranca.Db.Models.Enumeradores.TipoAcaoCobranca.NEGATIVACAO_SERASA)
                        {

                            <div class="well well-sm no-margin-botton">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="margin-top-18">
                                            @Html.CheckBox("AgruparProcessosNegativacao", Model.AgruparProcessosNegativacao == true, new { type = "checkbox", onclick = "desabilitarCamposNegativacao()" })
                                            <label for="AgruparProcessosNegativacao" class="">Agrupar todas as parcelas com dias de atraso</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group-sm">
                                            <label for="DiasAtrasoDeNegativacao">De</label>
                                            @Html.TextBox("DiasAtrasoDeNegativacao", Model.DiasAtrasoDeNegativacao, new { @class = "form-control", type = "number" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group-sm">
                                            <label for="DiasAtrasoAteNegativacao">Até</label>
                                            @Html.TextBox("DiasAtrasoAteNegativacao", Model.DiasAtrasoAteNegativacao, new { @class = "form-control", type = "number" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="margin-top-16">Condições:</label>
                                    </div>
                                </div>
                        }

                        <div class="row">
                            <div class="col-md-12" id="builder-import_export"></div>
                        </div>
                        <div class="row div-condicao hide">

                            <div class="col-md-2">
                                <div class="form-group-sm" style="display:none">
                                    <label for="OperadorTipo">@Idioma.Traduzir("Operador")</label>
                                    @Html.DropDownList("OperadorTipo", new SelectList(ViewBag.ListaTipoOperadorLogico, "value", "key", 1), new { @class = "form-control input-silver", required = "required" })

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group-sm">
                                    <label for="CampoTipo">@Idioma.Traduzir("Tipo")</label>
                                    @Html.DropDownList("CampoTipo", new SelectList(ViewBag.ListaTipo, "value", "key", Model.CampoTipo), new { @class = "form-control input-silver", required = "required" })
                                    @Html.ValidationMessage("CampoTipo")
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group-sm">
                                    <label for="CondicaoTipo">@Idioma.Traduzir("Condição")</label>
                                    @Html.DropDownList("CondicaoTipo", new SelectList(ViewBag.ListaCondicao, "value", "key", Model.CondicaoTipo), new { @class = "form-control input-silver", required = "required" })
                                    @Html.ValidationMessage("CondicaoTipo")
                                </div>
                            </div>

                            <div class="col-md-2">
                                <button type="button" onclick="duplicar(this)" class="btn btn-sm margin-top-22"><i class="fa fa-plus"></i>&nbsp;Add</button>
                                <button type="button" onclick="remover(this)" class="btn btn-sm margin-top-22"><i class="fa fa-close"></i>&nbsp;</button>
                            </div>
                        </div>
                    </div>
                    <div class="row tab-pane active" id="tab-modelo">
                        @if (Model.TabelaAcaoCobranca.Tipo != (short)Cobranca.Db.Models.Enumeradores.TipoAcaoCobranca.NEGATIVACAO_SERASA)
                        {
                            <div class="col-md-12">
                                <label class="">@Idioma.Traduzir("Campos")</label><br />
                                @foreach (var item in EnumeradoresLista.ListaChaveModelo())
                                {
                                    <label onclick="addChave('#ModeloDesc', this)" class="label label-info pull-left label-lg cursor-pointer">@item.Key</label>
                                }
                            </div>
                        }
                        @if (Model.TabelaAcaoCobranca.Tipo == (short)Cobranca.Db.Models.Enumeradores.TipoAcaoCobranca.EMAIL)
                        {
                            <div class="col-md-12">
                                <div class="form-group-sm">
                                    <label>
                                        @Idioma.Traduzir("Modelo do Email")
                                    </label>
                                    <div id="ModeloDesc" class="editor-html">@Html.Raw(Model.Modelo)</div>
                                </div>
                            </div>
                                <div class="col-md-6">
                                    <div class="form-group-sm">
                                        <label>@Idioma.Traduzir("E-mail Teste"):</label>
                                        @Html.TextBox("EmailTeste", "", new { @class = "form-control input-silver" })
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-top:15px">
                                    <div class="form-group-sm">
                                        <button class="btn btn-default btn-primary" type="button" onclick="enviarEmail(@Model.Cod)">Enviar</button>
                                    </div>
                                </div>
                        }
                        @if (Model.TabelaAcaoCobranca.Tipo == (short)Cobranca.Db.Models.Enumeradores.TipoAcaoCobranca.CARTA)
                        {
                            <div class="col-md-12">
                                <div class="form-group-sm">
                                    <label>
                                        @Idioma.Traduzir("Modelo do Carta")
                                    </label>
                                    <div id="ModeloDesc" class="editor-html">@Html.Raw(Model.Modelo)</div>
                                </div>
                            </div>
                        }
                        @if (Model.TabelaAcaoCobranca.Tipo == (short)Cobranca.Db.Models.Enumeradores.TipoAcaoCobranca.CONTATO)
                        {
                            <div class="col-md-12">
                                <div class="form-group-sm">
                                    <label>
                                        @Idioma.Traduzir("Script do contato")
                                    </label>
                                    <div id="ModeloDesc" class="editor-html">@Html.Raw(Model.Modelo)</div>
                                </div>
                            </div>
                        }
                        @if (Model.TabelaAcaoCobranca.Tipo == (short)Cobranca.Db.Models.Enumeradores.TipoAcaoCobranca.URA)
                        {
                            <div class="col-md-12">
                                <div class="form-group-sm">
                                    <label>
                                        @Idioma.Traduzir("Script URA")
                                    </label>
                                    <div id="ModeloDesc" class="editor-html">@Html.Raw(Model.Modelo)</div>
                                </div>
                            </div>
                        }
                        @if (Model.TabelaAcaoCobranca.Tipo == (short)Cobranca.Db.Models.Enumeradores.TipoAcaoCobranca.SMS)
                        {
                            <div class="col-md-12">
                                <div class="form-group-sm">
                                    <label>
                                        @Idioma.Traduzir("Modelo do SMS")
                                    </label>
                                    @Html.TextAreaFor(m => m.Modelo, new { @class = "form-control input-silver", required = "required", maxlength = "160" })
                                    <hr />
                                    <small>@Idioma.Traduzir("Máximo 160 caracteres")</small>
                                </div>
                            </div>
                        }
                        @if (Model.TabelaAcaoCobranca.Tipo == (short)Cobranca.Db.Models.Enumeradores.TipoAcaoCobranca.NEGATIVACAO_SERASA)
                        {
                            <div class="col-md-12">
                                <div class="form-group-sm">
                                    <label>
                                        @Idioma.Traduzir("Ação SERASA")
                                    </label>
                                    <div class="alert alert-warning">
                                        <h3>@Idioma.Traduzir("Negativação no SERASA")</h3>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.TabelaAcaoCobranca.Tipo == (short)Cobranca.Db.Models.Enumeradores.TipoAcaoCobranca.EMAIL_SEGUNDA_VIA_BOLETO)
                        {
                            <div class="col-md-12">
                                <div class="form-group-sm">
                                    <label>
                                        @Idioma.Traduzir("Modelo do Email")
                                    </label>
                                    <div id="ModeloDesc" class="editor-html">@Html.Raw(Model.Modelo)</div>
                                </div>
                            </div>
                        }
                    </div>
                    <div id="tab-historico" class="tab-pane">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group-sm" style="">
                                    <label for="AcaoHistoricoTipo">@Idioma.Traduzir("Tipo"):</label>
                                    @Html.DropDownList("AcaoHistoricoTipo", new SelectList(ViewBag.ListaHistoricoTipo, "value", "key", Model.AcaoHistoricoTipo), new { @class = "form-control input-silver", onchange = "carregarFases()" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group-sm" style="">
                                    <label for="CodFase">@Idioma.Traduzir("Fase"):</label>
                                    @Html.DropDownList("CodFase", new SelectList(ViewBag.ListaFase, "value", "key", Model.CodFase), new { @class = "form-control input-silver", onchange = "carregarSintese()" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group-sm" style="">
                                    <label for="CodSintese">@Idioma.Traduzir("Sintese"):</label>
                                    @Html.DropDownList("CodSintese", new SelectList(ViewBag.ListaSintese, "value", "key", Model.CodSintese), new { @class = "form-control input-silver" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group-sm" style="">
                                    <label for="OperadorTipo">@Idioma.Traduzir("Observação"):</label>
                                    @Html.TextArea("AcaoHistoricoObservacao", DbRotinas.Descriptografar(Model.AcaoHistoricoObservacao), new { @class = "form-control input-silver" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
