﻿@model List<Cobranca.Db.Models.TabelaTipoCobranca>
@using Cobranca.Rotinas;
@using Cobranca.Db.Models;
@using Cobranca.Db.Rotinas;
@using Cobranca.Web.Rotinas;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-regua";
    int count = 1;
    List<Cobranca.Db.Models.TabelaAcaoCobranca> _acoes = new List<Cobranca.Db.Models.TabelaAcaoCobranca>();
    int tabId = 0;
    if (Request.QueryString["tab"] != null)
    {
        Int32.TryParse(Request.QueryString["tab"], out tabId);
    }
    if (ViewBag.ListaAcoes != null)
    {
        _acoes = (List<Cobranca.Db.Models.TabelaAcaoCobranca>)ViewBag.ListaAcoes;
    }
    bool _reguaMaster = ViewBag.fgReguaSoberana == true;
    bool _podeEditar = WebRotinas.ObterUsuarioLogado().PerfilTipo == Enumeradores.PerfilTipo.Admin;
}
<style>
    .modal-lg {
        width: 1020px !important;
    }
</style>
<div class="row">
    @Html.Hidden("fgReguaSoberana", _reguaMaster)
</div>
<div class="row">

    <div class="col-md-12">
        <ul class="nav nav-tabs nav-junix" role="tablist">
            <li role="presentation" class="active btn-min-width text-center"><a href="#" role="tab" data-toggle="tab">@Idioma.Traduzir("RÉGUA")</a></li>
            @*<li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("Filtro")">FILTRO</a></li>
                <li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("Excecao")">EXCEÇÃO</a></li>*@
            <li role="presentation" class="btn-min-width text-center hide"><a href="@Url.Action("Processar")">PROCESSAR</a></li>
        </ul>
    </div>

    <div class="col-md-12" style="">
        <div class="panel panel-default panel-com-tab">

            <div class="panel-body" style="">

                <div class="row">

                    <div class="col-md-12">
                        <button type="button" onclick="salvarRegua()" class="btn btn-primary btn-min-width btn-sm pull-left " style="display:none">@Idioma.Traduzir("Salvar")</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="">

                        <ul class="nav nav-pills nav-justified" style="z-index:90;">
                            <li>
                                <div class="modelo-acao">

                                    @foreach (var item in _acoes.GroupBy(x => x.Tipo))
                                    {
                                        bool permiteSelecionar = _reguaMaster;
                                        string icone = string.Empty;

                                        switch ((Enumeradores.TipoAcaoCobranca)item.Key)
                                        {
                                            case Enumeradores.TipoAcaoCobranca.SMS:
                                                {
                                                    icone = "fa fa-envelope-o";
                                                    break;
                                                }
                                            case Enumeradores.TipoAcaoCobranca.EMAIL:
                                                icone = "fa fa-inbox";
                                                break;
                                            case Enumeradores.TipoAcaoCobranca.CARTA:
                                                icone = "fa fa-file-text-o";
                                                break;
                                            case Enumeradores.TipoAcaoCobranca.CONTATO:
                                                icone = "fa fa-phone";
                                                break;
                                            case Enumeradores.TipoAcaoCobranca.NEGATIVACAO_SERASA:
                                                icone = "fa fa-close";
                                                break;
                                            case Enumeradores.TipoAcaoCobranca.URA:
                                                icone = "fa fa-phone";
                                                break;
                                            default:
                                                break;
                                        }

                                        <span class="btn-block text-left" style="border-bottom:solid 1px #7a9ee9;color:#7a9ee9"><i class="@icone" style="padding-right:10px;"></i> @Idioma.Traduzir(EnumeradoresDescricao.TipoAcaoCobranca(item.Key))</span>
                                        foreach (var itemAcao in item.ToList())
                                        {
                                            <span data-acao-id="@itemAcao.Cod" class="btn btn-sm btn-block btn-default @WebRotinas.HTMLIif(!permiteSelecionar,"disabled") @WebRotinas.HTMLIif(permiteSelecionar,"modelo-acao-item") " style="font-size:10px;">
                                                @Idioma.Traduzir(itemAcao.AcaoCobranca) @*<i style="display:none" class="pull-right fa fa-close"></i>*@
                                            </span>
                                        }
                                    }


                                </div>
                            </li>
                            <li class="divider"></li>
                            @foreach (var item in Model.Take(0).OrderBy(x => x.Ordem))
                            {


                                <li data-tipo-cobranca="@item.Cod" class="active" style="margin-right:2px;">
                                    <a onclick="exibirParametroCluster(this)" data-id="@item.Cod" href="#" style="height:80px;border-color:#fff;">
                                        <h4 class="list-group-item-heading">@count</h4>
                                        <p class="list-group-item-text">@Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.TipoCobranca)</p>
                                    </a>
                                    <div class="text-center">
                                        <i class="fa fa-arrow-down"></i>
                                    </div>
                                    <div data-tipo-id="@item.Cod" class="tipo-cobranca-acao sortable-content text-center" style="">
                                        @foreach (var acoes in item.TabelaTipoCobrancaAcaos.Where(x => !x.DataExcluido.HasValue).OrderBy(x => x.PeriodoEmDias))
                                        {
                                            <b data-acao-id="@acoes.CodAcaoCobranca" data-tipo-acao-id="@acoes.Cod" class="btn btn-sm btn-block btn-default acao-item" data-droped="true" onclick="exibirParametrosAcao(this)" style="font-size:10px;">
                                                <span>
                                                    @if (string.IsNullOrEmpty(acoes.Titulo))
                                                    {
                                                        @acoes.TabelaAcaoCobranca.AcaoCobranca
                                                    }
                                                    else
                                                    {
                                                        @acoes.Titulo
                                                    }
                                                </span>
                                            </b>

                                        }
                                        <div style="display:none" class="drop-aqui">@Idioma.Traduzir("Arraste aqui a ação")</div>
                                    </div>


                                </li>
                                if (Model.LastOrDefault() != item)
                                {

                                }

                                count++;
                            }

                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-9">
                                <ul class="nav nav-pills" role="tablist">
                                    @{
                                        int n = 0;
                                    }
                                    @foreach (var item in Model.OrderBy(x => x.Ordem))
                                    {
                                        n++;
                                        <li role="presentation" data-tpcobranca="@item.Cod" class="text-center @string.Format("{0}",tabId == item.Cod? "active": "")">
                                            <a href="@string.Format("#tab-{0}",item.Cod)" class="btn btn-sm btn-default" role="tab" data-toggle="tab">
                                                <b>@n</b><br />
                                                @Idioma.Traduzir(Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.TipoCobranca))
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            @if (!DbRotinas.ConverterParaBool(ViewBag.fgReguaSoberana))
                            {
                                <div class="col-md-3">
                                    <label>Região</label>
                                    @Html.DropDownList("CodFilialSelecionada", new SelectList(ViewBag.ListaFilial, "Value", "Key", ViewBag.CodFilialSelecionada), new { @class = "form-control input-silver select2", onchange = "filtrarPorFilial()", style = "width:200px;" })
                                </div>
                            }

                        </div>

                        <div class="tab-content">
                            @foreach (var item in Model)
                            {
                                <div id="@string.Format("tab-{0}", item.Cod)" class="tab-pane fade @string.Format("{0}",tabId == item.Cod? "active in": "")">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-sm pull-left hide" onclick="exibirParametroCluster(this)" data-id="@item.Cod" type="button"><i class="fa fa-filter"></i> @Idioma.Traduzir("CONDIÇÕES")</button>

                                            <button id="btn-nova-posicao" class="btn btn-sm pull-left" style="margin-left:6px;" onclick="novaPosicao(this, @item.Cod)" data-id="@item.Cod" type="button"><i class="fa fa-plus"></i>&nbsp;@Idioma.Traduzir("AÇÃO DE COBRANÇA")</button>
                                            @*<button class="btn btn-sm btn-default pull-left" onclick="exibirParametroCluster(this)" data-id="@item.Cod" type="button"><i class="fa fa-close"></i> EXCEÇÕES</button>*@
                                        </div>
                                    </div>


                                    <ul class="regua nav nav-pills nav-justified " style="margin-top:10px; overflow-x:auto;">
                                        @foreach (var i in item.TabelaTipoCobrancaPosicaos.Where(x => !x.DataExcluido.HasValue && (x.CodFilial == ViewBag.CodFilialSelecionada || !x.CodFilial.HasValue)).OrderBy(x => x.NumeroDias))

                                        {

                                            var listaAcoes = item.TabelaTipoCobrancaAcaos.Where(x => !x.DataExcluido.HasValue && x.PeriodoEmDias == i.NumeroDias && (x.CodFilial == ViewBag.CodFilialSelecionada || !x.CodFilial.HasValue)).ToList();

                                            <li>
                                                <a class="@WebRotinas.HTMLIif((i.CodFilial.HasValue && !_reguaMaster) || _reguaMaster, "popover-excluir-acao")" href="#" data-posicao-id="@i.Cod" data-acaocobranca-id="@item.Cod">
                                                    <small class="text-warning">
                                                        @if (!i.CodFilial.HasValue)
                                                        {
                                                            <i class="fa fa-star"></i> @Idioma.Traduzir("Soberana")
                                                        }
                                                        else
                                                        {
                                                            <i class="fa fa-star"></i> <abbr>@ViewBag.NomeFilial</abbr>
                                                        }
                                                    </small>

                                                    @if (i.NumeroDias < 0)
                                                    {


                                                        <div class="text-success">
                                                            <p class="h1" style="margin-bottom:2px;"><i class="fa fa-calendar-check-o"></i></p>
                                                            <b class="list-group-item-heading" style="padding:6px;white-space: nowrap;">
                                                                @string.Format("{0:00}", i.NumeroDias * -1) @Idioma.Traduzir("Dias para o vencimento")
                                                            </b>

                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="text-danger">
                                                            <p class="h1" style="margin-bottom:2px;"><i class="fa fa-calendar-check-o"></i></p>
                                                            <b class="list-group-item-heading" style="padding:6px;white-space: nowrap;">
                                                                @string.Format("{0:00}", i.NumeroDias) @Idioma.Traduzir("Dias de atraso")
                                                            </b>
                                                        </div>
                                                    }

                                                    <h5>&nbsp;</h5>
                                                    <i style="" class="traco"></i>
                                                </a>
                                                <div class="linha"></div>
                                                <div class="text-center" style="margin-top:10px;">
                                                    <i class="fa fa-arrow-down"></i>
                                                </div>
                                                <div data-ordem="@i.NumeroDias" data-tipo-id="@item.Cod" class="tipo-cobranca-acao sortable-content text-center" style="">
                                                    @foreach (var acoes in listaAcoes)
                                                    {
                                                        if (!acoes.CodFilial.HasValue
                                                            && item.TabelaTipoCobrancaAcaos.Where(x => !x.DataExcluido.HasValue && (x.CodFilial == ViewBag.CodFilialSelecionada || !x.CodFilial.HasValue)).Any(x => x.CodFilial.HasValue && x.CodTipoCobrancaAcaoSoberana == acoes.Cod))
                                                        {
                                                            continue;
                                                        }

                                                        <b data-acao-id="@acoes.CodAcaoCobranca" data-tipo-acao-id="@acoes.Cod" class="btn btn-sm btn-block btn-default " data-droped="true" onclick="exibirParametrosAcao(this)" style="font-size:10px;">
                                                            <span>
                                                                @if (string.IsNullOrEmpty(acoes.Titulo))
                                                                {
                                                                    @acoes.TabelaAcaoCobranca.AcaoCobranca
                                                                }
                                                                else
                                                                {
                                                                    @acoes.Titulo
                                                                }
                                                            </span>
                                                            <br />
                                                            <small class="text-warning">
                                                                @if (!acoes.CodFilial.HasValue)
                                                                {
                                                                    <i class="fa fa-star"></i> @Idioma.Traduzir("Soberana")
                                                                }
                                                                else
                                                                {
                                                                    <i class="fa fa-star"></i> <abbr>@ViewBag.NomeFilial</abbr>
                                                                }
                                                            </small>
                                                        </b>

                                                    }
                                                    <div style="display:none" class="drop-aqui">@Idioma.Traduzir("Arraste aqui a ação")</div>
                                                </div>
                                            </li>
                                        }
                                    </ul>

                                </div>
                            }
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>
<div class="row">

</div>
<div class="row margin-top-20">
    <div class="col-md-12">

    </div>

</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal-acao">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">@Idioma.Traduzir("Configurar a Ação")</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group-sm">
                            <label>
                                @Idioma.Traduzir("Enviar em"):
                            </label>
                            <input type="text" class="form-control input-silver" data-mask="inteiro" placeholder="3 dias" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="">@Idioma.Traduzir("Campos")</label><br />
                        <label class="label label-info pull-left label-lg ">@@NOME_COMPRADOR</label>
                        <label class="label label-info pull-left label-lg">@@CPF_CNPJ_COMPRADOR</label>
                        <label class="label label-info pull-left label-lg">@@NUMERO_CONTRATO</label>
                        <label class="label label-info pull-left label-lg">@@UNIDADE_CONTRATO</label>
                        <label class="label label-info pull-left label-lg">@@SALDO_DEVEDOR</label>
                        <label class="label label-info pull-left label-lg">@@NUMERO_PARCELA</label>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group-sm">
                            <label>
                                @Idioma.Traduzir("Modelo")
                            </label>
                            <div class="editor-html"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="excluirTipoAcao()" id="btn-excluir" type="button" class="btn btn-sm btn-default"><i class="fa fa-trash"></i> @Idioma.Traduzir("EXCLUIR")</button>
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"><i class="fa fa-close"></i> @Idioma.Traduzir("CANCELAR")</button>
                <button onclick="salvarTipoAcao()" id="btn-save" type="button" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> @Idioma.Traduzir("CONFIRMAR")</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts{
    <script src="~/Scripts/jq-query-builder/js/jQuery.extendext.min.js"></script>
    <script src="~/Scripts/jq-query-builder/js/doT.min.js"></script>
    <script src="~/Scripts/jq-query-builder/js/query-builder.js"></script>
    <script src="~/Scripts/jq-query-builder/js/sql-parser.js"></script>
    <script src="~/Scripts/jq-query-builder/i18n/query-builder.pt-BR.js"></script>
    <script src="~/Scripts/jq-query-builder/sql-support/plugin.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.pt-BR.js"></script>
    <script type="text/javascript">
        var _listaFase = [];
        var _listaProduto = [];
        var _listaContrato = [];
        $(document).ready(function () {
            carregarFase();
            carregarProduto();
            carregarContrato();
            definirExclusaoPosicao();
            $(".tipo-cobranca-acao").droppable({
                accept: '.modelo-acao-item, .acao-item',
                hoverClass: 'dropareahover',
                revert: true,
                drop: function (event, ui) {

                    $(this).find(".drop-aqui").hide();
                    var item = $(ui.draggable).clone();
                    var id = $(ui.draggable).attr("data-acao-id");
                    var ordem = $(this).attr("data-ordem");

                    var tipoCobrancanId = $(this).attr("data-tipo-id");

                    var found = $(this).find("b[data-acao-id='" + id + "']").length > 0;

                    if (!found && !item.attr("data-droped")) {
                        item.attr("data-droped", true);
                        item.find("i").show();
                        item.find("i").click(function () {
                            item.remove();
                        });
                        $(this).prepend(item);
                        item.click(exibirParametrosAcao);

                        $.ajax({
                            url: '@Url.Action("VincularAcaoTipoCobranca")',
                            data: {
                                tipoCobrancaId: tipoCobrancanId,
                                acaoId: id,
                                ordem: ordem
                            },
                            type: 'post'
                        }).success(function (resultado) {
                            if (resultado.OK) {
                                recarregarTela(tipoCobrancanId);

                            } else {
                                alert(resultado.Mensagem);
                            }
                        });

                        //salvarRegua();
                    };

                    //$("#container .product").addClass("item");
                    //$(".item").removeClass("ui-draggable product");
                    //$(".item").draggable({
                    //    containment: 'parent',
                    //    grid: [150, 150]
                    //});
                },
                over: function (event, ui) {
                    var e = $(this);
                    var b = ui.draggable.attr("data-droped");
                    if (!b) {
                        e.find(".drop-aqui").show()
                    }

                },
                out: function (event, ui) {
                    var e = $(this);
                    e.find(".drop-aqui").hide()
                }
            });
            $(".modelo-acao-item").draggable({
                helper: 'clone',
                start: function (event, ui) { $(this).css("z-index", 9999); }
            });


            $(".sortable-content").each(function (i, e) {
                var el = $(e);
                var id = el.attr("data-tipo-id");
                el.sortable({
                    connectWith: "[data-tipo-id='" + id + "']",
                    stop: function (event, ui) {
                        $el = $(ui.item);
                        var data = {
                            CodAcaoCobranca: $el.attr("data-acao-id"),
                            Cod: $el.attr("data-tipo-acao-id"),
                            Dias: $el.parent().attr("data-ordem"),
                            CodFilialSelecionada: $("#CodFilialSelecionada").val()
                        };
                        jx.submit('@Url.Action("AlterarDiaAcao")', data, function (op) {
                            alert(op.Mensagem);
                            recarregarTela($("li[data-tpcobranca].active").attr("data-tpcobranca"));
                        });

                    }
                });
            });
            $("input#Corporativo").mask('#', {
                translation: {
                    '#': {
                        pattern: /,|\d/,
                        recursive: true
                    }
                },
                onChange: function (value, e) {
                    var target = e.target,
                        position = target.selectionStart; // Capture initial position

                    if (position == 1) {
                        target.value = value.replace(/,/, '');
                    } else if (position > 1) {
                        var array = value.split("");
                        var str = "";
                        $.each(array, function (i) {
                            if ((parseInt(position) - 1) == i) {
                                str = str + array[i].replace(/-/, '');
                            } else {
                                str = str + array[i];
                            }
                        });
                        target.value = str;
                    }
                }
            });
            //$(".sortable-content").sortable({
            //    connectWith: ".sortable-content",
            //});
            //$("ul.dropfalse").sortable({
            //    connectWith: "ul",
            //    dropOnEmpty: false
            //});
        });
        function salvarRegua() {
            var dados = [];
            $("[data-tipo-cobranca]").each(function (i, e) {
                var tipoCobranca = $(e);
                var TipoCobrancaId = tipoCobranca.attr("data-tipo-cobranca");

                var acoes = tipoCobranca.find("[data-acao-id]");
                var arrAcoes = [];

                $(acoes).each(function (i, e) {
                    var acaoId = $(e).attr("data-acao-id");
                    //var tipoCobracancaAcaoId = $(e).attr("data-tipo-acao-id")
                    arrAcoes.push(acaoId);
                });

                dados.push({
                    CodTipoCobranca: TipoCobrancaId,
                    Acoes: arrAcoes.join(",")
                });
            });
            //console.log($(dados).serialize());
            //return;
            $.ajax({
                url: '@Url.Action("ReguaSalvar")',
                data: JSON.stringify({ dados: dados }),
                type: 'post',
                dataType: 'json',
                contentType: "application/json",
            }).success(function (o) {
                if (o.OK) {
                    alert("Operação realizada com sucesso");

                    document.location.reload(true);
                } else {
                    alert(o.Mensagem);
                }
            });
        }
        function calcularRegua() {
            $.ajax({
                url: '@Url.Action("ReguaClacular")',
                data: { Cod: 0 },
                type: 'post',
                dataType: 'json'
            }).success(function (o) {
                if (o.OK) {
                    alert("Operação realizada com sucesso");
                    document.location.reload(true);
                } else {
                    alert(o.Mensagem);
                }
            });
        }
        function excluir(e) {
            if (confirm("Deseja excluir o registro?")) {
                $(e).parent().remove();
            }
            $("#modal-acao").modal("hide");

        }
        function exibirParametrosAcao(e) {
            var cod = $(e).attr("data-tipo-acao-id");
            $("#modal-acao .modal-body").empty();
            $("#modal-acao .modal-title").empty().text("Ação");
            carregando(true);
            var today = new Date();
            var ticked = "&t=" + today.getSeconds();
            $("#formAcao").find("#CondicaoQuery").val('');
            $("#modal-acao .modal-body").load("@Url.Action("FormAcao", "Regua")" + "?id=" + cod + "&CodFilialSelecionada=" + $("#CodFilialSelecionada").val() + "&fgReguaSoberana=" + $("#fgReguaSoberana").val() + ticked + " #formAcao", function () {
                $("#btn-save, #btn-excluir").removeAttr("disabled");
                $('.editor-html').summernote({ height: '200px' });
                $("#modal-acao").modal({ backdrop: 'static' }).modal("show");
                carregarQueryBuilder();
                $("#formAcao").validate({
                    PeriodoEmDias: {
                        minlen: 3,
                        maxlength: 15,
                        required: true
                    }
                });
                if ($("#formAcao").attr("data-disabled") == "true") {
                    $("#modal-acao .modal-body").find("input,select,button,.btn").attr("disabled", "disabled");
                    $("#btn-save, #btn-excluir").attr("disabled", "disabled");
                } else {
                    $("#modal-acao .modal-body").find("input,select,button,.btn").removeAttr("disabled");
                }
                carregando(false);
            });
        }
        function addChave(div, el) {
            $(div).code($(div).code() + " " + $(el).text());
        }
        function excluirTipoAcao() {
            var Cod = $("#formAcao").find("#Cod").val();
            if (confirm("Deseja excluir o registro?")) {
                $.ajax({
                    url: '@Url.Action("ExcluirAcao")',
                    data: {
                        id: Cod
                    },
                    type: 'post'
                }).success(function (resultado) {
                    if (resultado.OK) {
                        alert("Operação realizada com sucesso!");
                        document.location = "@Url.Action("Index","Regua")";
                    } else {
                        alert(resultado.Mensagem);
                    }
                });
            }
            //excluir()
        }
        function salvarTipoAcao(manterATela) {
            var result = '';
            try {
                result = $('#builder-import_export').queryBuilder('getSQL', false, true);

            } catch (e) {

            }
            $("#formAcao").find("#CondicaoQuery").val(result.sql);
            var idTab = $('li.active[data-tpcobranca]').data('tpcobranca');
            if (!$("#formAcao").valid()) {
                return;
            }
            var dados = {
                Titulo: $("#formAcao").find("#Titulo").val(),
                Modelo: $("#formAcao").find("#ModeloDesc").code(),
                Cod: $("#formAcao").find("#Cod").val(),
                PeriodoEmDias: $("#formAcao").find("#PeriodoEmDias").val(),
                CondicaoTipo: $("#formAcao").find("#CondicaoTipo").val(),
                CampoTipo: $("#formAcao").find("#CampoTipo").val(),
                CondicaoQuery: $("#formAcao").find("#CondicaoQuery").val(),
                AcaoTipo: $("#formAcao").find("#AcaoTipo").val(),
                AcaoHistoricoTipo: $("#formAcao").find("#AcaoHistoricoTipo").val(),
                CodFase: $("#formAcao").find("#CodFase").val(),
                CodSintese: $("#formAcao").find("#CodSintese").val(),
                AcaoHistoricoObservacao: $("#formAcao").find("#AcaoHistoricoObservacao").val(),
                DiasAtrasoAteNegativacao: $("#formAcao").find("#DiasAtrasoAteNegativacao").val(),
                DiasAtrasoDeNegativacao: $("#formAcao").find("#DiasAtrasoDeNegativacao").val(),
                AgruparProcessosNegativacao: $("#formAcao").find("#AgruparProcessosNegativacao").prop('checked'),
            };
            $.ajax({
                url: '@Url.Action("SalvarTipoCobrancaAcao")',
                data: dados,
                type: 'post'
            }).success(function (resultado) {
                if (resultado.OK) {
                    alert("Operação realizada com sucesso!");
                    recarregarTela(idTab);
                    @*document.location = "@Url.Action("Index","Regua")";*@
                } else {
                    alert(resultado.Mensagem);
                    if (!manterATela) {
                        recarregarTela(idTab);
                    }
                }
            });
        }
        function duplicar(el) {
            var div = $(el).parent().parent();
            var ndiv = div.clone(true);
            ndiv.find("#OperadorTipo").parent().show();
            console.log(div);

            div.after(ndiv);
        }
        function carregarQueryBuilder() {
            var sql_import_export = $("#formAcao").find("#CondicaoQuery").val();
            $.get('@Url.Action("ObterFiltrosQueryBuilder")', function (op) {
                if (op.OK) {
                    var _listaGrupo = [];
                    var _listaFase = [];
                    var _listaCorporativo = [];

                    for (var i = 0; i < op.Dados.listaGruposEmpresa.length; i++) {
                        var item = op.Dados.listaGruposEmpresa[i];

                        _listaGrupo.push($.parseJSON(item));
                    }
                    for (var i = 0; i < op.Dados.listaCorporativo.length; i++) {
                        var item = op.Dados.listaCorporativo[i];

                        _listaCorporativo.push($.parseJSON(item));
                    }
                    for (var i = 0; i < op.Dados.listaClassificacaoParcela.length; i++) {
                        var item = op.Dados.listaClassificacaoParcela[i];

                        try {
                            _listaFase.push($.parseJSON(item));
                        } catch (e) {
                            console.log(e);
                            console.log(item);
                        }

                    }



                    $('#builder-import_export').queryBuilder({
                        filters: [
                            {
                                id: 'CodGrupoEmpresa',
                                label: 'Grupo de Empresa',
                                type: 'integer',
                                input: 'select',
                                values: _listaGrupo,
                                operators: ['equal', 'not_equal']
                            },
                            {
                                id: 'Corporativo',
                                label: 'Corporativo',
                                type: 'string',
                                placeholder: 'ex:10,20',
                                operators: ['in', 'not_in']
                            },
                            {
                                id: 'DiasAtrasoParcela',
                                label: 'Dias de atraso da parcela',
                                type: 'integer'
                            },
                            {
                                id: 'CodSintese',
                                label: 'Classificação da parcela',
                                type: 'integer',
                                input: 'select',
                                values: _listaFase,
                                operators: ['equal', 'not_equal']
                            },
                            {
                                id: 'ValorAberto',//ValorAberto
                                label: 'Valor em Aberto R$',
                                type: 'double',
                                validation: {
                                    min: 0
                                }
                            },
                            {
                                id: 'ValorAbertoPercentual',//ValorAberto
                                label: 'Valor em Aberto %',
                                type: 'double',
                                validation: {
                                    min: 0
                                }
                            },
                            
                            {
                                id: 'StatusContrato',
                                label: 'Status do Contrato',
                                type: 'string',
                                placeholder: 'ex:10',
                                operators: ['equal', 'not_equal', 'is_null', 'is_not_null']
                            },
                            {
                                id: 'CodigoEmpresaCobranca',
                                label: 'Empresa de Cobranca',
                                type: 'string',
                                placeholder: 'ex:10',
                                operators: ['equal', 'not_equal', 'is_null', 'is_not_null']
                            },
                            {
                                id: 'ClienteVIP',
                                label: 'VIP',
                                type: 'string',
                                input: 'select',
                                values: { 'VIP': 'VIP' },
                                operators: ['equal']
                            }
                        ]
                    });
                    if (sql_import_export != "") {
                        $('#builder-import_export').queryBuilder('setRulesFromSQL', sql_import_export);
                    }
                }

            });
            return;
            $('#builder-import_export').queryBuilder({
                filters: [{
                    id: 'Governo',
                    label: 'Grupo governamental',
                    type: 'integer',
                    input: 'radio',
                    values: {
                        1: 'Sim',
                        0: 'Não'
                    },
                    operators: ['equal']
                }]
            });


        }
        function carregarQueryBuilderCluster() {
            var sql_import_export = $("#formAcao").find("#CondicaoQuery").val();;
            $('#builder-import_export').queryBuilder({
                filters: [
                    {
                        id: 'DiasAtraso',
                        label: 'Dias de atraso',
                        type: 'integer'
                    },
                {
                    id: 'DataPromessaEntrega',
                    label: 'Data promessa de entrega',
                    type: 'date',
                    validation: {
                        format: 'DD/MM/YYYY'
                    },
                    plugin: 'datepicker',
                    plugin_config: {
                        format: 'dd/mm/yyyy',
                        todayBtn: 'linked',
                        todayHighlight: true,
                        autoclose: true,
                        orientation: 'bottom',
                        language: 'pt-BR'
                    }
                }
                , {
                    id: 'DataVenda',
                    label: 'Data venda',
                    type: 'date',
                    validation: {
                        format: 'DD/MM/YYYY'
                    },
                    plugin: 'datepicker',
                    plugin_config: {
                        format: 'dd/mm/yyyy',
                        todayBtn: 'linked',
                        todayHighlight: true,
                        autoclose: true,
                        orientation: 'bottom',
                        language: 'pt-BR'
                    }
                },
                {
                    id: 'Juridico',
                    label: 'Juridico?',
                    type: 'integer',
                    input: 'radio',
                    values: {
                        1: 'Sim',
                        0: 'Não'
                    },
                    operators: ['equal']
                },
                {
                    id: 'SaldoDevedor',//ValorAberto
                    label: 'Saldo devedor',
                    type: 'double',
                    validation: {
                        min: 0
                    }
                },
                 {
                     id: 'SaldoMulta',
                     label: 'Saldo multa',
                     type: 'double',
                     validation: {
                         min: 0
                     }
                 },
                 {
                     id: 'SaldoCoobrigacao',
                     label: 'Saldo coobrigação',
                     type: 'double',
                     validation: {
                         min: 0
                     }
                 },
                {
                    id: 'TipoVenda',
                    label: 'Tipo de venda',
                    type: 'integer',
                    input: 'select',
                    values: {
                        1: 'Venda Nova',
                        2: 'Legado',
                        3: 'Fundamento'
                    },
                    operators: ['equal', 'not_equal']
                    },
                    {
                    id: 'TipoBloqueio',
                    label: 'Tipo de bloqueio',
                    type: 'integer',
                    input: 'select',
                    values: {
                        1: 'Funcionário',
                        2: 'Judicial',
                        3: 'Acordo'
                    },
                        operators: ['equal', 'not_equal']
                    },
                    {
                    id: 'CodSintese',
                    label: 'Status',
                    type: 'string',
                    input: 'select',
                    values: _listaFase
                    ,
                    operators: ['equal', 'not_equal']
                    },
                    {
                    id: 'CodProduto',
                    label: 'Produto',
                    type: 'string',
                    input: 'select',
                    values: _listaProduto
                    ,
                    operators: ['equal', 'not_equal']
                    },
                    {
                     id: 'TipoContrato',
                     label: 'Tipo de Contrato',
                     type: 'string',
                     input: 'select',
                     values: _listaContrato
                    ,
                     operators: ['equal', 'not_equal']
                    },
                    {
                        id: 'ClienteVIP',
                        label: 'VIP',
                        type: 'string',
                        input: 'select',
                        values: { 'VIP': 'VIP' },
                        operators: ['equal']
                    }
                ]
            });
            if (sql_import_export != "") {
                $('#builder-import_export').queryBuilder('setRulesFromSQL', sql_import_export);
            }
        }

        function exibirParametroCluster(e) {
            var cod = $(e).attr("data-id");
            $("#btn-excluir").attr("onclick", "");
            $("#btn-save").attr("onclick", "");
            $("#btn-excluir").hide();

            $("#btn-save").off("click").click(function () {
                var result = $('#builder-import_export').queryBuilder('getSQL', false, true);
                $("#CondicaoQuery").val(result.sql);
                var data = {
                    CondicaoQuery: $("#CondicaoQuery").val(),
                    Cod: $("#Cod").val()
                };
                carregando(true);
                $.ajax({
                    url: '@Url.Action("SalvarQueryTipoCobranca")',
                    data: data,
                    type: 'post'
                }).success(function (resultado) {
                    if (resultado.OK) {
                        alert("Operação realizada com sucesso!");
                        document.location = "@Url.Action("Index","Regua")";
                    } else {
                        alert(resultado.Mensagem);
                    }
                    carregando(false);
                });
            });

            $("#modal-acao .modal-body").empty();
            $("#modal-acao .modal-title").empty().text("@Idioma.Traduzir("Condições")");
            $("#modal-acao .modal-body").load("@Url.Action("TipoCobrancaAcoes", "Regua")/" + cod + " #formAcao", function () {
                $("#modal-acao").modal("show");
                carregarQueryBuilderCluster();
                desabilitarCamposNegativacao();
            });
        }
        function recarregarTela(tipoCobrancaId) {
            document.location = "@Url.Action("index","regua")" + "?tab=" + tipoCobrancaId + "&CodFilialSelecionada=" + $("#CodFilialSelecionada").val();
        }
        function novaPosicao(e, tipoCobrancaId) {
            var $e = $(e);
            var $teamplate = $('<div class="popover right"> <div class="arrow"></div> <h3 class="popover-title">Popover right</h3> <div class="popover-content"></div> </div>');
            var $inputs = $("<input type='number' class='form-control' placeholder='@Idioma.Traduzir("Dias")'  id='NumeroPosicao'/><br/><button type='buttom' onclick='incluirPosicao(this," + tipoCobrancaId + ")' class='btn'>@Idioma.Traduzir("OK")</button><button style='margin-left:6px;'  id='btn-canelar-dias' type='buttom' class='btn'>@Idioma.Traduzir("Cancelar")</button>");
            $e.popover('destroy').popover({
                animation: false,
                html: true,
                content: $inputs,//"<input type='number' class='form-control' placeholder='Dias'  id='NumeroPosicao'/><br/><button type='buttom' onclick='incluirPosicao(this)' class='btn'>OK</button><button style='margin-left:6px;'  id='btn-canelar-dias' type='buttom' class='btn'>Cancelar</button>",
                //placement: 'right',
                template: $teamplate,
                title: '@Idioma.Traduzir("Nº Dias")',
                trigger: 'click'
            }).popover('show');
            $("#btn-canelar-dias").click(function () {
                $e.popover('destroy');
            });
        };
        function incluirPosicao(e, tipoCobrancaId) {
            var $btn = $(e).button('loading');
            var id = $("#btn-nova-posicao").attr("data-id");
            var nPosicao = $("#NumeroPosicao").val();

            if (nPosicao != "") {
                $.post('@Url.Action("IncluirNovaPosicao")', { id: tipoCobrancaId, posicao: nPosicao, codFilialSelecionada: $("#CodFilialSelecionada").val() }, function (resultado) {
                    if (resultado.OK) {
                        alert("Operação realizada com sucesso!");
                        recarregarTela(id)
                    } else {
                        alert(resultado.Mensagem);
                    }
                });
            } else {
                alert("Dados inválidos, digite um valor para posição!");
            };
            //console.log({ id: tipoCobrancaId, posicao: nPosicao });

            // business logic...
            //$btn.button('reset')
        }
        function definirExclusaoPosicao() {
            $(".popover-excluir-acao").each(function (i, e) {
                var $e = $(e);
                var $teamplate = $('<div class="popover right"> <div class="arrow"></div> <h3 class="popover-title">Popover right</h3> <div class="popover-content"></div> </div>');
                var $inputs = $("<button type='buttom' class='btn'>@Idioma.Traduzir("EXCLUIR AÇÃO")</button>");
                var id = $e.attr("data-posicao-id");
                var codAcaoCobranca = $e.attr("data-acaocobranca-id");
                $inputs.click(function () {
                    excluirPosicao(id, codAcaoCobranca);
                });
                $e.popover('destroy').popover({
                    animation: false,
                    html: true,
                    content: $inputs,//"<input type='number' class='form-control' placeholder='Dias'  id='NumeroPosicao'/><br/><button type='buttom' onclick='incluirPosicao(this)' class='btn'>OK</button><button style='margin-left:6px;'  id='btn-canelar-dias' type='buttom' class='btn'>Cancelar</button>",
                    placement: 'bottom',
                    template: $teamplate,
                    title: '@Idioma.Traduzir("Deseja remover?")',
                    trigger: 'click'
                });
            });

            $('body').on('click', function (e) {
                $('.popover-excluir-acao').each(function () {
                    //the 'is' for buttons that trigger popups
                    //the 'has' for icons within a button that triggers a popup
                    if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                        $(this).popover('hide');
                    }
                });
            });
        };
        function excluirPosicao(id, codAcaoCobranca) {
            if (id > 0) {
                $.post('@Url.Action("ExcluirPosicao")', { id: id }, function (resultado) {
                    if (resultado.OK) {
                        alert("Operação realizada com sucesso!");
                        recarregarTela(codAcaoCobranca);
                    } else {
                        alert(resultado.Mensagem);
                    }
                });
            }
        }
        function enviarEmail(cod) {
            var email = $("#EmailTeste").val()
            $.ajax({
                url: '@Url.Action("CadastrarEnvioEmailTeste", "Regua")',
                data: { Cod: cod, EmailDestinatario: email },
                type: 'post'
            }).success(function (resultado) {
                if (resultado.OK) {
                    alert("E-mail enviado!");
                } else {
                    alert(resultado.Mensagem);
                }
            });
        }
        function carregarFase() {
            $.get("@Url.Action("CarregarFase")", function (dados) {
                _listaFase = [];
                for (var i = 0; i < dados.length; i++) {
                    if (i != 0) {
                        var item = dados[i];
                        _listaFase.push(item.Value);
                    }
                }
            });
        }
        function carregarProduto() {
            $.get("@Url.Action("CarregarProduto")", function (dados) {
                _listaProduto = [];
                for (var i = 0; i < dados.length; i++) {
                    if (i != 0) {
                        var item = dados[i];
                        _listaProduto.push(item.Value);
                    }
                }
            });
        }
        function carregarContrato() {
            $.get("@Url.Action("CarregarContrato")", function (dados) {
                _listaContrato = [];
                for (var i = 0; i < dados.length; i++) {

                    if (i != 0) {
                        var item = dados[i];
                        _listaContrato.push(item.Value);
                    }
                }
            });
        }
        function carregarFases() {
            var $from = $("#formAcao");
            var HistoricoTipo = $from.find("#AcaoHistoricoTipo").val();
            var CodTipoCobranca = $from.find("#CodTipoCobranca").val();


            //var CodFase = $from.find("#CodFase").val();

            jx.popularDropdown($from.find("#CodFase"), '@Url.Action("ListarFasesPorTipoHistorico")', {
                CodTipoCobranca: CodTipoCobranca,
                HistoricoTipo: HistoricoTipo
            }, function (d) {
                carregarSintese();
            });
        }
        function carregarSintese() {
            var $from = $("#formAcao");
            var CodFase = $from.find("#CodFase").val();
            jx.popularDropdown($from.find("#CodSintese"), '@Url.Action("ListarListarSinteseProFase")', {
                CodFase: CodFase
            }, function (d) {

            });
        }
        function desabilitarCamposNegativacao() {
            var checked = $("#AgruparProcessosNegativacao").prop("checked");
            var $els = $("#DiasAtrasoAteNegativacao,#DiasAtrasoDeNegativacao,label[for='DiasAtrasoDeNegativacao'],label[for='DiasAtrasoAteNegativacao']");
            if (checked) {
                $els.show();
            } else {
                $els.hide();
            }
        }
        function filtrarPorFilial() {
            var codFilialSelecionada = $("#CodFilialSelecionada").val()
            jx.carregando(true);
            document.location = "@Url.Action("Index")" + "?codFilialSelecionada=" + codFilialSelecionada;
        }
    </script>
}