﻿@model List<Cobranca.Db.Models.TabelaTipoCobranca>
@{
    ViewBag.Title = "Filtro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-regua";
    int count = 1;
}
@Html.ValidationBootstrapModal()
@Html.AntiForgeryToken()
@Html.Modal()
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-junix" role="tablist">
            <li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("Index")">RÉGUA</a></li>
            @*<li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("Filtro")">FILTRO</a></li>
            <li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("Excecao")">EXCEÇÃO</a></li>*@
            <li role="presentation" class="active btn-min-width text-center"><a href="#">PROCESSAR</a></li>
        </ul>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default panel-com-tab">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <button id="btn-iniciar" type="button" onclick="iniciar()" class="btn btn-primary btn-min-width btn-sm pull-left ">Executar a reguá</button>
                    </div>
                </div>
                <hr />
                <div class="row" >
                    <div class="col-md-12" data-id="sort-area">
                        @foreach (var item in Model)
                        {
                            <div class="pull-left" style="width:160px;min-height:120px;margin-right:10px;cursor:pointer;" data-id="sort-item">
                                <div id="@item.Cod" data-cod="@item.Cod" data-status="1" class="well text-center" style="">
                                    <div style="min-height:40px">
                                        <h5>@count - @Cobranca.Db.Rotinas.DbRotinas.Descriptografar(item.TipoCobranca)</h5>
                                    </div>
                                    <div style="height:30px;">
                                        <p data-status="aguardando" class="label label-default label-lg"><i class="fa fa-exclamation"></i> Aguardando</p>
                                        <p data-status="processando" class="label label-warning label-lg hide"><i class="fa fa-spin fa-cog"></i> Processando</p>
                                        <p data-status="finalizado" class="label label-success label-lg hide"><i class="fa fa-check"></i> Finalizado</p>
                                        <p data-status="erro" class="label label-danger label-lg hide"><i class="fa fa-close"></i> Erro nos calculos</p>
                                        <p name="mensagem-erro" class="text-danger hide">Texto do erro</p>
                                    </div>
                                    <div class="badge bg-danger ">                                        
                                        <i class="fa fa-inbox fa-3x"></i> <br />
                                        <span data-campo="total"style="">0</span>
                                    </div>
                                    
                                </div>
                            </div>
                            count++;
                        }
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var _codProcessamento = 0;
        $(document).ready(function () {
            $("[data-id='sort-area']").sortable();
        });
        function iniciar() {
            $("#btn-iniciar").button("loading");
            var el = $("[data-status='1']:first");
            var cod = el.attr("data-cod");
            if (cod > 0) {
                processar(el, cod);
            } else {
                $("#btn-iniciar").button("reset");
                alert("Operação realizada com sucesso!");
            }
            //ReguaClacular
        };
        function processar(el, cod) {
            el.attr("data-status", "2");
            el.find("[data-status='aguardando']").addClass("hide");
            el.find("[data-status='processando']").removeClass("hide");
            el.find("[data-campo='total']").text("0");
            $.ajax({
                url: '@Url.Action("ReguaClacular")',
                data: { cod: cod, processamentoId: _codProcessamento },
                type: 'post'
            }).success(function (obj) {
                if (obj.OK) {
                    el.find("[data-status='processando']").addClass("hide");
                    el.find("[data-status='finalizado']").removeClass("hide");
                    notificacaoBox("" + el.find("h5").text() + " Processamento Encerrado");
                    _codProcessamento = obj.CodProcesso;
                    el.find("[data-campo='total']").text(obj.total);
                    el.find("[data-campo='total']").show();
                } else {
                    el.find("[data-status='processando']").addClass("hide");
                    el.find("[data-status='erro']").removeClass("hide");
                    el.find("[name='mensagem-erro']").text(obj.Mensagem);
                }
            }).done(function () {
                proximo();
            });




        }
        function proximo() {
            setTimeout(function () {
                iniciar();
            }, 1000);
        }
        function cancelar() {
            document.location = "@Url.Action("Filtro")";
        }
    </script>
}