﻿@model Cobranca.Db.Models.TabelaTipoCobranca
@{
    ViewBag.Title = "FormAcao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="formAcao">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.CondicaoQuery)
    
    <div class="row">
        <div class="col-md-12">
            <h4>@Model.TipoCobranca</h4>
        </div>
        <div class="col-md-12">
            <div id="builder-import_export"></div>
        </div>
    </div>
</form>
