﻿@model Cobranca.Db.Models.TabelaConstrutora
@using Cobranca.Rotinas;
@{
    Model.NomeConstrutora = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.NomeConstrutora);
    Model.CNPJ = Cobranca.Db.Rotinas.DbRotinas.Descriptografar(Model.CNPJ);
}
@if (!(Model.CodEndereco > 0))
{
    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    Model.TabelaEndereco.DataCadastro = DateTime.Now;
}

<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.CodEndereco)
    @Html.HiddenFor(m => m.TabelaEndereco.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.HiddenFor(m => m.CodCliente)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="row margin-top-20">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="heading-block">
                <span><i class="fa fa-building-o"></i>&nbsp;@Idioma.Traduzir("Companhia")</span>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group-sm">
                <label for="CodClienteExibicao">@Idioma.Traduzir("Companhia")</label>
                @Html.TextBox("CodClienteExibicao", Model.CodCliente, new { @class = "form-control input-silver", disabled = "disabled" })
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-4">
            <div class="form-group-sm">
                <label for="NomeConstrutora">@Idioma.Traduzir("Empresa")</label>
                @Html.TextBoxFor(m => m.NomeConstrutora, new { @class = "form-control input-silver", required = "required", placeholder = "Nome" })
                @Html.ValidationMessageFor(m => m.NomeConstrutora)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-2">
            <div class="form-group-sm">
                <label for="CNPJ">@Idioma.Traduzir("CNPJ")</label>
                @Html.TextBoxFor(m => m.CNPJ, new { @class = "form-control input-silver", data_mask = "cnpj" })
                @Html.ValidationMessageFor(m => m.CNPJ)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-2">
            <div class="form-group-sm">
                <label for="InscricaoEstadual">InscricaoEstadual</label>
                @Html.TextBoxFor(m => m.InscricaoEstadual, new { @class = "form-control input-silver", data_mask = "inteiro" })
                @Html.ValidationMessageFor(m => m.InscricaoEstadual)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-2">
            <div class="form-group-sm">
                <label for="CaminhoSite">Site</label>
                @Html.TextBoxFor(m => m.CaminhoSite, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.CaminhoSite)
            </div> <!-- /.form-group -->
        </div>
    </div>
    <div class="row margin-top-20">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="heading-block">
                <span><i class="fa fa-cog"></i>&nbsp;@Idioma.Traduzir("Configurações")</span>
            </div>
        </div>
        @*<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <div class="form-group-sm">
                <label for="NossoNumero">@Idioma.Traduzir("Nosso Número") <i class="glyphicon glyphicon-info-sign icon-tooltip" title="@Idioma.Traduzir("Informação de nosso número inicial")" data-toggle="tooltip" data-placement="right" data-html="true"></i></label>
                @Html.TextBoxFor(m => m.NossoNumero, new { @class = "form-control input-silver", data_mask = "nossonumero" })
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <div class="form-group-sm">
                <label for="NossoNumero">@Idioma.Traduzir("Nosso Número Atual") <i class="glyphicon glyphicon-info-sign icon-tooltip" title="@Idioma.Traduzir("Informação de nosso numero atualizado")" data-toggle="tooltip" data-placement="right" data-html="true"></i></label>
                @Html.TextBoxFor(m => m.NossoNumeroAtual, new { @class = "form-control input-silver", data_mask = "nossonumero", disabled = "disabled" })
            </div>
        </div>*@
        @*<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <div class="form-group-sm">
                <label for="Lote">@Idioma.Traduzir("Lote") <i class="glyphicon glyphicon-info-sign icon-tooltip" title="Número do Lote" data-toggle="tooltip" data-placement="right" data-html="true"></i></label>
                @Html.TextBoxFor(m => m.Lote, new { @class = "form-control input-silver", data_mask = "lote" })
            </div>
        </div>*@
        
    </div>
    <div class="row margin-top-20">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="heading-block">
                <span><i class="fa fa-map-signs"></i>&nbsp;@Idioma.Traduzir("Endereço")</span>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group-sm">
                <label for="Logradouro  ">@Idioma.Traduzir("Logradouro")</label>
                @Html.TextBox("Logradouro", Model.TabelaEndereco.Logradouro, new { @class = "form-control input-silver" })
                @Html.ValidationMessage("Logradouro")
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-4">
            <div class="form-group-sm">
                <label for="Endereco">@Idioma.Traduzir("Endereço")</label>
                @Html.TextBox("Endereco", Model.TabelaEndereco.Endereco, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.Endereco)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-2">
            <div class="form-group-sm">
                <label for="Numero">@Idioma.Traduzir("Número")</label>
                @Html.TextBox("Numero", Model.TabelaEndereco.Numero, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.Numero)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-2">
            <div class="form-group-sm">
                <label for="CEP">@Idioma.Traduzir("CEP")</label>
                @Html.TextBox("CEP", Model.TabelaEndereco.CEP, new { @class = "form-control input-silver", data_mask = "cep " })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.CEP)
            </div> <!-- /.form-group -->
        </div>
        <div class="col-sm-2">
            <div class="form-group-sm">
                <label for="Complemento">@Idioma.Traduzir("Complemento")</label>
                @Html.TextBox("Complemento", Model.TabelaEndereco.Complemento, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.Complemento)
            </div> <!-- /.form-group -->
        </div>

        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="Bairro">@Idioma.Traduzir("Bairro")</label>
                @Html.TextBox("Bairro", Model.TabelaEndereco.Bairro, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.Bairro)
            </div> <!-- /.form-group -->
        </div>

        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="Cidade">@Idioma.Traduzir("Cidade")</label>
                @Html.TextBox("Cidade", Model.TabelaEndereco.Cidade, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.Cidade)
            </div> <!-- /.form-group -->
        </div>

        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="Estado">@Idioma.Traduzir("Estado")</label>
                @Html.TextBox("Estado", Model.TabelaEndereco.Estado, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.Estado)
            </div> <!-- /.form-group -->
        </div>

        <div class="col-sm-3">
            <div class="form-group-sm">
                <label for="UF">@Idioma.Traduzir("UF")</label>
                @Html.TextBox("UF", Model.TabelaEndereco.UF, new { @class = "form-control input-silver" })
                @Html.ValidationMessageFor(m => m.TabelaEndereco.UF)
            </div> <!-- /.form-group -->
        </div>

    </div>



    <!-- /.form-group -->
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
        <div class="col-sm-12">
            <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
            @*@if (Model.Cod > 0)
                {
                    <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
                }*@

        </div>

        <div class="col-sm-3">

        </div>
    </div>

</form>

