﻿@model Cobranca.Db.Models.TabelaConstrutora
@{
    //ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";

 
}

<div class="panel panel-body box-shadon">
    <div class="layout layout-stack-sm layout-main-left">
        <div class="col-md-12">
            <div class="portlet portlet-default">
                <div class="portlet-header">
                    <ul class="breadcrumb">
                        <li><a href="@Url.Action("Index")">Empresa</a></li>
                        <li class="active">Cadastro</li>
                    </ul>
                </div>

                <div class="portlet-body">

                    @Html.Partial("_form", Model)
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script type="text/javascript">
        
        $(document).ready(function () {
        });
        function cancelar() {
            document.location = '@Url.Action("index")';
        }
        
    </script>
}