﻿@model List<Cobranca.Db.Models.TabelaConstrutora>
@using Cobranca.Rotinas;
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";

}
<style>

    table.dataTable tbody td {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    div.dataTables_length {
        float: right !important;
    }
</style>
<div class="panel panel-body box-shadon">
    <div class="heading-block">
        <ul class="breadcrumb">
            <li>@Idioma.Traduzir("Empresa")</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="table-list" class="display table-responsive table data-table2 table-condensed table-hover table-striped table-bordered" style="margin-bottom:0;">
                <thead id="dtheader">
                    <tr id="trheader">
                        <th class="text-center" data-name="" data-data="" style="max-width:5px !important" data-collumn-search="false"></th>
                        <th class="" data-collumn-search="true" style="max-width:50px; text-align:center" data-name="CodCliente" data-data="CodCliente" data-title="@Idioma.Traduzir("Companhia")"></th>
                        <th class="" data-collumn-search="true" style="max-width:70%; text-align:center" data-name="NomeConstrutora" data-data="NomeConstrutora" data-title="@Idioma.Traduzir("Nome Empresa")"></th>
                        <th class="" data-collumn-search="true" style="max-width:50px; text-align:center" data-name="CNPJ" data-data="CNPJ" data-title="@Idioma.Traduzir("CNPJ")"></th>
                        <th class="" data-collumn-search="true" style="max-width:250px; text-align:center" data-name="Endereco" data-data="Endereco" data-title="@Idioma.Traduzir("Endereço")"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var $data_table = $('#table-list');
        jx.dtableSearch($data_table);
        jx.dtableFooter($data_table);
        $(document).ready(function () {
            obterDados();

        });
        function obterDados() {
            table = $data_table.DataTable({
                "rowId": 'Cod',
                "order": [[2, 'asc']],
                "deferRender": true,
                "serverSide": true,
                "processing": true,
                "ajax": {
                    "url": "@Url.Action("GetData")",
                    "type": "POST"
                },
                "language": {
                    "sEmptyTable": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sInfo": "@Idioma.Traduzir("Mostrando de") _START_ @Idioma.Traduzir("até") _END_ @Idioma.Traduzir("de") _TOTAL_ @Idioma.Traduzir("registros")",
                    "sInfoEmpty": "@Idioma.Traduzir("Mostrando 0 até 0 de 0 registros")",
                    "sInfoFiltered": "(@Idioma.Traduzir("Filtrados de") _MAX_ @Idioma.Traduzir("registros"))",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_",
                    "sLoadingRecords": "@Idioma.Traduzir("Carregando...")",
                    "sProcessing": "<h2><i class='fa fa-spin fa-spinner text-silver'></i> @Idioma.Traduzir("Carregando os dados..")</h2>",
                    "sZeroRecords": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sSearch": "",
                    "oPaginate": {
                        "sNext": "@Idioma.Traduzir("Próximo")",
                        "sPrevious": "@Idioma.Traduzir("Anterior")",
                        "sFirst": "@Idioma.Traduzir("Primeiro")",
                        "sLast": "@Idioma.Traduzir("Último")"
                    },
                    oAria: {
                        "sSortAscending": ": @Idioma.Traduzir("Ordenar colunas de forma ascendente")",
                        "sSortDescending": ": @Idioma.Traduzir("Ordenar colunas de forma descendente")"
                    }
                },
                "columnDefs": [
                    {
                        targets: 0,
                        searchable: false,
                        orderable: false,
                        className: '',
                        render: function (data, type, row, index) {
                            return '<button onclick="editrar(\'/Construtora/Cadastro/' + row.Cod + '\')" type="button" class="btn btn-xs btn-block btn-primary" style=""><i class="fa fa-pencil"></i></button>'
                        }
                    }],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td:eq(0)', nRow).css('padding', '1');
                    $('td:eq(2)', nRow).addClass("text-left");
                    $('td:eq(1),td:eq(3),td:eq(4),td:eq(5),td:eq(6)', nRow).addClass("text-center");
                },
                "sDom": '<"row"<"col-xs-12 col-md-12 pull-right"lB>>' +
                    '<"row"<"col-xs-12 col-md-12 dtable-reponsive"t>>' +
                    '<"row"<"col-xs-12 col-md-6 pull-left"i><"col-xs-12 col-md-6 pull-rigth"p>>',
                "buttons": [{
                    text: '<i class="fa fa-cloud-download" title="Exportar para Excel"></i>',
                    title: 'teste',
                    exportOptions: {
                        columns: ':visible'
                    },
                    className: 'btn btn-sm btn-green-excel',
                    action: function (e, dt, node, config) {
                        $data_table.block({
                            message: '',
                            css: {
                                border: 'none',
                                padding: '15px',
                                backgroundColor: '#fff',
                                '-webkit-border-radius': '10px',
                                '-moz-border-radius': '10px',
                                opacity: .5,
                                color: '#fff',
                                width: '50%'
                            },
                            overlayCSS: { backgroundColor: '#FFF' }
                        });
                        $data_table.addClass('carregando');
                        var params = { param: dt.ajax.params()};
                        $.post("/Construtora/ExportarExcel", $.param(params), function (d) {
                            if (d.OK) {
                                window.location.href = d.Dados;
                            }
                        });
                        dt.ajax.reload();
                    }
                }],
                'initComplete': function (settings, json) {
                    var tb = table.data();
                    tb.inicializar($data_table);
                    tb.addSearch($data_table);
                    jx.dTablesUnblock($data_table);

                },
                "fnDrawCallback": function (oSettings) {
                    table.data().sum();
                    jx.dTablesUnblock($data_table);
                }

            }).on('order.dt', function () {
                jx.dTablesBlock($data_table);
            });
        }
        function incluir() {
            //$("#incluir-form").modal("show");
            document.location = "@Url.Action("Cadastro",new{id = 0})"
        }
        function salvar() {
            var data = $("#form-cliente").serialize();
            $.ajax({
                url: "@Url.Action("Gravar")",
                data: data,
                type: 'post',
                dateTye: 'json'
            }).success(function (result) {
                console.log(result);
                if (result.OK) {
                    document.location.reload(true);
                } else {
                    if (result.Dados) {
                        alert(result.Mensagem);

                        for (var i = 0; i < result.Dados.length; i++) {
                            var erro = result.Dados[i];
                            $("#" + erro.Campo).parent().addClass("has-error");
                            $("[data-valmsg-for='" + erro.Campo + "']").text(erro.Mensagem).show().addClass("text-danger");

                        }
                    }
                }
            });
        }
        function editrar(id) {
            if (id) {
                document.location = id;
            }

        }


    </script>
}
