﻿@model Cobranca.Db.Models.TabelaVenda

@{
//if (Model.Cod == 0) {
//    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
//}

}

<form id="form-cadastro" class="form" method="POST" action="#">
    @Html.HiddenFor(m => m.Cod)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataAlteracao)
    @Html.HiddenFor(m => m.DataExcluido)
    @Html.ValidationBootstrapModal()
    @Html.AntiForgeryToken()
    @Html.Modal()
    <div class="panel panel-body">
        <div class="row margin-top-20">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="CodConstrutora">Nome da Tabela Vendas</label>
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control input-silver" })
                    @Html.ValidationMessageFor(m => m.Nome)
                </div> <!-- /.form-group -->
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="VigenciaDe">Vigência De</label>
                    @Html.TextBoxFor(m => m.VigenciaDe, new { @class = "form-control input-silver", data_mask = "datetime" })
                    @Html.ValidationMessageFor(m => m.VigenciaDe)
                </div> <!-- /.form-group -->
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="VigenciaAte">Vigência Até</label>
                    @Html.TextBoxFor(m => m.VigenciaAte, new { @class = "form-control input-silver", data_mask = "datetime" })
                    @Html.ValidationMessageFor(m => m.VigenciaAte)
                </div> <!-- /.form-group -->
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="PercentualComissao">Percentual Comissão</label>
                    @Html.TextBoxFor(m => m.PercentualComissao, new { @class = "form-control input-silver", data_mask = "percentual" })
                    @Html.ValidationMessageFor(m => m.PercentualComissao)
                </div> <!-- /.form-group -->
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="PercentualMinimoEntrada">Percentual Entrada</label>
                    @Html.TextBoxFor(m => m.PercentualMinimoEntrada, new { @class = "form-control input-silver", data_mask = "percentual" })
                    @Html.ValidationMessageFor(m => m.PercentualMinimoEntrada)
                </div> <!-- /.form-group -->
            </div>
        </div>
        <!-- /.form-group -->
        <div class="row">

            <div class="col-sm-12">
                <button class="btn btn-sm btn-primary pull-left btn-min-width" type="submit"><i class="fa fa-save"></i>&nbsp;Salvar</button>
                <button type="button" onclick="cancelar()" class="btn btn-sm pull-left btn-min-width btn-cancelar">Cancelar</button>
                @if (Model.Cod > 0)
            {
            <button class="btn btn-sm btn-default pull-left btn-min-width" onclick="excluir()" type="button"><i class="fa fa-trash"></i>&nbsp;Remover</button>
            }
            </div>

            <div class="col-sm-3">

            </div>
        </div>
        </div>
</form>
