﻿@model Cobranca.Db.Models.TabelaVenda
@{
    //ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
    //if (Model.TabelaEndereco == null)
    //{
    //    Model.TabelaEndereco = new Cobranca.Db.Models.TabelaEndereco();
    //}
 
}


<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-junix" role="tablist">
            <li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("Index","TabelaVenda")">Tabelas</a></li>
            <li role="presentation" class="active btn-min-width text-center"><a href="@Url.Action("Cadastro", new { id = Model.Cod})">Tabela</a></li>
            @if (Model.Cod > 0)
            {
                <li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("Cadastro", "TabelaVendaFluxo", new { tabela = Model.Cod })">Fluxo</a></li>
                <li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("Cadastro","TabelaVendaEmpreendimento",new { tabela = Model.Cod })">Tabela x Empreendimento</a></li>
            }
            
        </ul>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default panel-com-tab">
            <div class="panel-body">                
                @Html.Partial("_form", Model)
            </div>
        </div>
    </div>
   
</div>

@section scripts{
    <script type="text/javascript">
        function excluir() {
            if (confirm("Confirma excluir o registro?")) {
                $.ajax({
                    url: '@Url.Action("Excluir")',
                    data: { id: $("#Cod").val() },
                    type: 'post',
                    dataType: 'json'
                }).success(function (result) {
                    document.location = '@Url.Action("index")';
                });
            }
        }
        $(document).ready(function () {
        });
        function cancelar() {
            document.location = '@Url.Action("index")';
        }
        
    </script>
}