﻿@model List<Cobranca.Db.Models.TabelaVenda>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-tabelaVenda";    
}

<div class="row">  
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-junix" role="tablist">
            <li role="presentation" class="active btn-min-width text-center"><a href="#" role="tab" data-toggle="tab">Tabelas</a></li>            
        </ul>
    </div>  
    <div class="col-sm-12">
        <div class="panel panel-default panel-com-tab">
            <div class="panel-body">
                <ul class="breadcrumb no-margin-botton" style="margin-bottom:10px;">
                    <li class="active">Tabela de Vendas</li>
                </ul>
                <a href="@Url.Action("Cadastro",new{id = 0})" class="btn btn-sm btn-primary pull-left add-on " style="margin-bottom:10px;"><i class="fa fa-plus"></i> Adicionar</a>
                <table class="table table-bordered data-table table-condensed ">
                    <thead>
                        <tr>
                            <th class="col-sm-1 text-center">#</th>
                            <th class="text-center">Codigo</th>
                            <th class="text-left">Nome Tabela Vendas</th>
                            <th class="text-center">VigênciaDe</th>
                            <th class="text-center">VigênciaAte</th>
                            <th class="text-center">Percentual Comissão</th>
                            <th class="text-center">Percentual Minimo Entrada</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ToList())
                        {
                            <tr>
                                <td style="text-align:center">
                                    <a class="btn btn-xs btn-primary" href="@Url.Action("cadastro", new { id = item.Cod })"><i class="fa fa-pencil"></i></a>
                                </td>
                                <td class="text-left">@item.Cod</td>
                                <td class="text-left">@item.Nome</td>
                                <td class="text-left">@item.VigenciaDe</td>
                                <td class="text-left">@item.VigenciaAte</td>
                                <td class="text-left">@item.PercentualComissao</td>
                                <td class="text-left">@item.PercentualMinimoEntrada</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function incluir() {
            //$("#incluir-form").modal("show");
            document.location = "@Url.Action("Cadastro",new{id = 0})"
        }
        function salvar() {
            var data = $("#form-cliente").serialize();
            $.ajax({
                url: "@Url.Action("Gravar")",
                data: data,
                type: 'post',
                dateTye: 'json'
            }).success(function (result) {
                console.log(result);
                if (result.OK) {
                    document.location.reload(true);
                } else {
                    if (result.Dados) {
                        alert(result.Mensagem);

                        for (var i = 0; i < result.Dados.length; i++) {
                            var erro = result.Dados[i];
                            $("#" + erro.Campo).parent().addClass("has-error");
                            $("[data-valmsg-for='" + erro.Campo + "']").text(erro.Mensagem).show().addClass("text-danger");

                        }
                    }
                }
            });
        }
        function editrar(id) {
            if (id) {
                document.location = id;
            }

        }
    </script>
}
