﻿@model List<Cobranca.Db.Models.TabelaTipoCadastro>
@using Cobranca.Rotinas;
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuAtivo = "menu-cadastro";
}
<div class="panel panel-body box-shadon">
    <ul class="nav nav-tabs nav-junix" role="tablist">
        <li role="presentation" class="btn-min-width text-center"><a href="@Url.Action("Index","TipoContatoCadastro")">@Idioma.Traduzir("Tipo de Cadastro")</a></li>
    </ul>
    <div class="row" style="margin-top:10px">
        <div class="col-md-12">
            <a href="@Url.Action("Cadastro",new{id = 0})" class="btn btn-sm btn-primary pull-left"><i class="fa fa-plus"></i>@Idioma.Traduzir("Adicionar")</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="DTGrid" class="table table-bordered table-condensed table-striped display nowrap" style="margin-top:6px;background-color:#fff;">
                <thead id="dtheader">
                    <tr id="trheader">
                        <th class="col-id" style="width:20px;" data-title="#"></th>
                        <th class="text-center" data-name="Descricao" data-data="Descricao" data-title="@Idioma.Traduzir("Descrição")"></th>
                    </tr>
                    <tr id="tb-loading">
                        <td colspan="2" class="text-center animated fadeIn">
                            <h2><i class="fa fa-spin fa-spinner text-silver"></i> @Idioma.Traduzir("Carregando os dados")</h2>
                        </td>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            obterDados();
        });
        function incluir() {
            document.location = "@Url.Action("Cadastro",new{id = 0})"
        }

        function editrar(id) {
            if (id) {
                document.location = "@Url.Action("Cadastro")?id=" + id;
            }

        }

        function obterDados() {
            var $data_table = $('#DTGrid');
            jx.dtableSearch($data_table);
            jx.dtableFooter($data_table);
            table = $data_table.DataTable({
                "deferRender": true,
                "serverSide": true,
                "columnDefs": [{
                    targets: 0,
                    searchable: false,
                    orderable: false,
                    className: '',
                    render: function (data, type, row) {
                        return ' <a class="btn btn-xs btn-primary" onclick="editrar(' + row.Cod + ')"><i class="fa fa-edit"></i></a>'
                    }
                }],
                "ajax": {
                    "url": "@Url.Action("DataHandler")",
                    "type": "POST"
                },
                "rowId": 'Cod',
                "language": {
                    "sEmptyTable": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sInfo": "@Idioma.Traduzir("Mostrando de") _START_ @Idioma.Traduzir("até") _END_ @Idioma.Traduzir("de") _TOTAL_ @Idioma.Traduzir("registros")",
                    "sInfoEmpty": "@Idioma.Traduzir("Mostrando 0 até 0 de 0 registros")",
                    "sInfoFiltered": "(@Idioma.Traduzir("Filtrados de") _MAX_ @Idioma.Traduzir("registros"))",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_",
                    "sLoadingRecords": "@Idioma.Traduzir("Carregando...")",
                    "sProcessing": "<h2><i class='fa fa-spin fa-spinner text-silver'></i> @Idioma.Traduzir("Carregando os dados..")</h2>",
                    "sZeroRecords": "@Idioma.Traduzir("Nenhum registro encontrado")",
                    "sSearch": "",
                    "oPaginate": {
                        "sNext": "@Idioma.Traduzir("Próximo")",
                        "sPrevious": "@Idioma.Traduzir("Anterior")",
                        "sFirst": "@Idioma.Traduzir("Primeiro")",
                        "sLast": "@Idioma.Traduzir("Último")"
                    },
                    oAria: {
                        "sSortAscending": ": @Idioma.Traduzir("Ordenar colunas de forma ascendente")",
                        "sSortDescending": ": @Idioma.Traduzir("Ordenar colunas de forma descendente")"
                    }
                },
                "sDom": '<"col-xs-12 col-md-12 col-lg-12 pull-right"lB>' +
                '<"col-xs-12 col-md-12"t>' +
                '<"col-xs-12 col-md-6 pull-left"p><"col-xs-12 col-md-6">i',

                "buttons": [{
                    text: '<i class="fa fa-cloud-download"></i>',
                    extend: 'csvHtml5',
                    title: 'teste',
                    exportOptions: {
                        columns: ':visible'
                    },
                    action: function (e, dt, node, config) {
                        dt.ajax.reload();
                    }
                }],
                'initComplete': function (settings, json) {
                    var tb = table.data();
                    tb.inicializar($data_table);
                    tb.addSearch($data_table);
                    $('input[type=text].search-input-text').on('keyup', function (event) {
                        var value = $(this).val();
                        if (value.length > 2 || event.keyCode == 13 || event.keyCode == 9) {
                            table
                                .columns($(this).parent().index())
                                .search(this.value)
                                .draw();
                        }
                    });
                },
                "fnDrawCallback": function (oSettings) {
                }
            });
        }
    </script>
}
